agendar-reunión-en-google-calendar-desde-telegram-ZYv0KRMnEvrWSQGM.json
{"updatedAt":"2025-10-26T13:34:10.000Z","createdAt":"2025-10-24T21:26:27.543Z","id":"ZYv0KRMnEvrWSQGM","name":"Agendar Reunión en Google Calendar desde Telegram","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[384,288],"id":"a1b2c3d4-e5f6-7g8h-9i0j-k1l2m3n4o5p6","name":"Telegram Trigger","webhookId":"telegram-webhook-id","credentials":{"telegramApi":{"id":"7UCg36pupNze5tT7","name":"Telegram account agendador_RafaBot"}}},{"parameters":{"promptType":"define","text":"={{ $json.message.text }}","hasOutputParser":true,"options":{"systemMessage":"Eres un asistente especializado en extraer información de reuniones. Cuando recibas un mensaje, debes identificar y extraer:\n- Título de la reunión\n- Fecha y hora de inicio\n- Duración (si no se especifica, usa 1 hora por defecto)\n- Descripción o detalles adicionales\n- Email de los asistentes\n- Invitados (si se mencionan sus emails)\n\nSi falta información crítica como fecha, hora o email, indica qué información falta.\n\nResponde SIEMPRE en el formato JSON especificado."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[688,288],"id":"b2c3d4e5-f6g7-h8i9-j0k1-l2m3n4o5p6q7","name":"Agente IA - Extraer Información","onError":"continueErrorOutput"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"titulo\": {\n      \"type\": \"string\",\n      \"description\": \"Título de la reunión\"\n    },\n    \"fecha_inicio\": {\n      \"type\": \"string\",\n      \"description\": \"Fecha y hora de inicio en formato ISO 8601\"\n    },\n    \"duracion_minutos\": {\n      \"type\": \"number\",\n      \"description\": \"Duración de la reunión en minutos\"\n    },\n    \"descripcion\": {\n      \"type\": \"string\",\n      \"description\": \"Descripción o detalles de la reunión\"\n    },\n    \"invitados\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      },\n      \"description\": \"Lista de emails de invitados\"\n    },\n    \"informacion_completa\": {\n      \"type\": \"boolean\",\n      \"description\": \"True si toda la información necesaria está presente\"\n    },\n    \"informacion_faltante\": {\n      \"type\": \"string\",\n      \"description\": \"Descripción de qué información falta\"\n    }\n  },\n  \"required\": [\"titulo\", \"informacion_completa\"]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[864,448],"id":"d4e5f6g7-h8i9-j0k1-l2m3-n4o5p6q7r8s9","name":"Parser Estructurado"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"condition1","leftValue":"={{ $json.output.informacion_completa }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2,"position":[992,288],"id":"e5f6g7h8-i9j0-k1l2-m3n4-o5p6q7r8s9t0","name":"¿Información Completa?"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"=Necesito más información para agendar la reunión:\n\n{{ $json.output.informacion_faltante }}\n\nPor favor, proporciona los datos faltantes.","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1504,528],"id":"g7h8i9j0-k1l2-m3n4-o5p6-q7r8s9t0u1v2","name":"Solicitar Información Faltante","webhookId":"1aafbbae-79ae-4d43-9c1c-b6950a10e904","credentials":{"telegramApi":{"id":"7UCg36pupNze5tT7","name":"Telegram account agendador_RafaBot"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"=✅ ¡Reunión agendada exitosamente!\n\n📌 **{{ $json.summary }}**\n📅 Fecha: {{ DateTime.fromISO($json.start.dateTime).toFormat('dd/MM/yyyy') }}\n🕐 Hora: {{ DateTime.fromISO($json.start.dateTime).toFormat('HH:mm') }}\n⏱️ Duración: {{ $('Agente IA - Extraer Información').item.json.output.duracion_minutos }} minutos\n{{ $json.attendees && $json.attendees.length > 0 ? '👥 Invitados: ' + $json.attendees.map(a => a.email).join(', ') : '' }}\n\n🔗 Link del evento: {{ $json.htmlLink }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1504,272],"id":"h8i9j0k1-l2m3-n4o5-p6q7-r8s9t0u1v2w3","name":"Confirmar Reunión Creada","webhookId":"2a68061a-1fd8-4e48-a39e-00e23333d9fb","notesInFlow":false,"credentials":{"telegramApi":{"id":"7UCg36pupNze5tT7","name":"Telegram account agendador_RafaBot"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-nano","mode":"list","cachedResultName":"gpt-4.1-nano"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[560,448],"id":"529ed013-518d-4fec-a663-0d6ebe46b7c1","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"calendar":{"__rl":true,"value":"bestfranquicias@gmail.com","mode":"list","cachedResultName":"bestfranquicias@gmail.com"},"start":"={{ $json.output.fecha_inicio }}","end":"={{ DateTime.fromISO($json.output.fecha_inicio).plus({ minutes: $json.output.duracion_minutos }).toISO() }}","additionalFields":{"attendees":["={{ $json.output.invitados[0] }}"],"description":"={{ $json.output.descripcion }}","summary":"={{ $json.output.titulo }}"}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[1264,272],"id":"955a8088-42a6-4bc9-9fd9-2b26a6415dea","name":"Create an event","notesInFlow":false,"credentials":{"googleCalendarOAuth2Api":{"id":"DDGUQwdD8fqXiUrz","name":"Google Calendar account Bestfranquicias"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger').item.json.message.chat.id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[704,448],"id":"13bd3c22-61f1-4d5e-ba64-61791b7b9176","name":"Simple Memory"},{"parameters":{"sendTo":"pete@leoneses.com","subject":"Reunión","message":"=✅ ¡Reunión agendada exitosamente!\n\n📌 **{{ $json.summary }}**\n📅 Fecha: {{ DateTime.fromISO($json.start.dateTime).toFormat('dd/MM/yyyy') }}\n🕐 Hora: {{ DateTime.fromISO($json.start.dateTime).toFormat('HH:mm') }}\n⏱️ Duración: {{ $('Agente IA - Extraer Información').item.json.output.duracion_minutos }} minutos\n{{ $json.attendees && $json.attendees.length > 0 ? '👥 Invitados: ' + $json.attendees.map(a => a.email).join(', ') : '' }}\n\n🔗 Link del evento: {{ $json.htmlLink }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[1184,592],"id":"edd0653d-d3d5-447f-bbb4-fa67c00035b4","name":"Gmail","webhookId":"bcb68fd2-9021-4108-a7d1-6e705a455b8e","credentials":{"gmailOAuth2":{"id":"1dWL4JO1wT5xRo2y","name":"Gmail account Bestfranquicias"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"Agente IA - Extraer Información","type":"main","index":0}]]},"Parser Estructurado":{"ai_outputParser":[[{"node":"Agente IA - Extraer Información","type":"ai_outputParser","index":0}]]},"Agente IA - Extraer Información":{"main":[[{"node":"¿Información Completa?","type":"main","index":0}]]},"¿Información Completa?":{"main":[[{"node":"Create an event","type":"main","index":0}],[{"node":"Solicitar Información Faltante","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Agente IA - Extraer Información","type":"ai_languageModel","index":0}]]},"Create an event":{"main":[[{"node":"Confirmar Reunión Creada","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Agente IA - Extraer Información","type":"ai_memory","index":0}]]},"Gmail":{"ai_tool":[[{"node":"Agente IA - Extraer Información","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"saveDataSuccessExecution":"all","saveExecutionProgress":true,"saveDataErrorExecution":"all","errorWorkflow":"","timezone":"America/Mexico_City"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e75f158f-943c-4ac9-b835-4f6d1287447c","triggerCount":0,"shared":[{"updatedAt":"2025-10-24T21:26:27.546Z","createdAt":"2025-10-24T21:26:27.546Z","role":"workflow:owner","workflowId":"ZYv0KRMnEvrWSQGM","projectId":"prlZ3bTXg0wKi0D1"}],"tags":[]}