agente-ia-telegram-con-calendario-y-gmail-jtdST1SmUx0i9Ge8.json
{"updatedAt":"2025-10-24T21:14:19.000Z","createdAt":"2025-10-08T17:11:12.915Z","id":"jtdST1SmUx0i9Ge8","name":"Agente IA Telegram con Calendario y Gmail","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[224,272],"id":"a1b2c3d4-e5f6-7a8b-9c0d-1e2f3a4b5c6d","name":"Telegram Trigger","webhookId":"telegram-webhook-id","credentials":{"telegramApi":{"id":"7UCg36pupNze5tT7","name":"Telegram account agendador_RafaBot"}}},{"parameters":{"promptType":"define","text":"={{ $json.message.text }}","hasOutputParser":true,"options":{"systemMessage":"Eres un asistente inteligente que puede interpretar mensajes de usuarios y decidir qué herramienta usar. \nAnaliza el texto que te llega y Extrae los datos del cliente del input y crea campos json usables para el siguiente flujo. Detecta en los mensajes\nNombre\nApellidos\nEmail\nTeléfono\ny crea sus correspondientes campos json en el output, esto hazlo siempre\nTienes acceso a:\n\n1. Herramienta de Calendario: Úsala cuando el usuario quiera programar eventos, verificar su agenda, o cualquier cosa relacionada con fechas y citas.\n\n2. Herramienta de Gmail: Úsala cuando el usuario quiera enviar correos, buscar correos, o cualquier cosa relacionada con email.\n\nAnaliza el mensaje del usuario y decide qué herramienta usar. Después de usar la herramienta, genera una respuesta clara y útil para el usuario en español.\n\nAdemas crea un output con el nombre, el apellido, el email y el telefono del usuario que llama para comprobarlo con la base de datos y si no existe añadirlo a la misma"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[624,272],"id":"b2c3d4e5-f6a7-8b9c-0d1e-2f3a4b5c6d7e","name":"Agente IA"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.update_id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[656,480],"id":"d4e5f6a7-b8c9-0d1e-2f3a-4b5c6d7e8f9a","name":"Memoria Simple"},{"parameters":{"calendar":{"__rl":true,"value":"bestfranquicias@gmail.com","mode":"list","cachedResultName":"bestfranquicias@gmail.com"},"start":"2025-10-01T00:00:00","end":"2025-10-31T00:00:00","additionalFields":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.1,"position":[768,464],"id":"e5f6a7b8-c9d0-1e2f-3a4b-5c6d7e8f9a0b","name":"Calendario Google","credentials":{"googleCalendarOAuth2Api":{"id":"DDGUQwdD8fqXiUrz","name":"Google Calendar account Bestfranquicias"}}},{"parameters":{"sendTo":"pete@leoneses.com","subject":"Reunión","message":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[896,464],"id":"f6a7b8c9-d0e1-2f3a-4b5c-6d7e8f9a0b1c","name":"Gmail","webhookId":"bcb68fd2-9021-4108-a7d1-6e705a455b8e","credentials":{"gmailOAuth2":{"id":"1dWL4JO1wT5xRo2y","name":"Gmail account Bestfranquicias"}}},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"herramienta_usada\": {\n      \"type\": \"string\",\n      \"description\": \"La herramienta que se utilizó (Gmail o Calendario)\"\n    },\n    \"accion_realizada\": {\n      \"type\": \"string\",\n      \"description\": \"Descripción de la acción que se realizó\"\n    },\n    \"respuesta_usuario\": {\n      \"type\": \"string\",\n      \"description\": \"El mensaje de respuesta para enviar al usuario\"\n    }\n  },\n  \"required\": [\"herramienta_usada\", \"accion_realizada\", \"respuesta_usuario\"]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1088,464],"id":"a7b8c9d0-e1f2-3a4b-5c6d-7e8f9a0b1c2d","name":"Parser de Salida Estructurada"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1kK4dtFm-eHBKatZ9-rpDeEgeCQTjZLGS2-h0gusHdIs","mode":"list","cachedResultName":"Registro","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kK4dtFm-eHBKatZ9-rpDeEgeCQTjZLGS2-h0gusHdIs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kK4dtFm-eHBKatZ9-rpDeEgeCQTjZLGS2-h0gusHdIs/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Nombre":"={{ $('Telegram Trigger').item.json.message.text }}","Fecha":"={{ $now }}"},"matchingColumns":[],"schema":[{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2112,-64],"id":"b8c9d0e1-f2a3-4b5c-6d7e-8f9a0b1c2d3e","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"u3wPsvNe1n4GWzVs","name":"Google Sheets Bestfranquicias"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $('Agente IA').item.json.output.respuesta_usuario }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1680,304],"id":"c9d0e1f2-a3b4-5c6d-7e8f-9a0b1c2d3e4f","name":"Telegram","webhookId":"767f0d3a-3899-4fc9-8d95-04e8017c4eac","credentials":{"telegramApi":{"id":"7UCg36pupNze5tT7","name":"Telegram account agendador_RafaBot"}}},{"parameters":{"content":"## 🤖 Configuración del Bot de Telegram\n\n1. Crea un bot en Telegram usando @BotFather\n2. Obtén el token del bot\n3. Configura las credenciales en el nodo Telegram Trigger\n4. Activa el webhook para recibir mensajes","height":280,"width":300,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[192,-16],"id":"d0e1f2a3-b4c5-6d7e-8f9a-0b1c2d3e4f5a","name":"Nota: Bot Telegram"},{"parameters":{"content":"## 🧠 Agente IA\n\nEste agente interpreta los mensajes y decide automáticamente si usar:\n- 📅 Calendario Google\n- 📧 Gmail\n\nNecesita configurar:\n- API Key de OpenAI","height":244,"width":280,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[624,16],"id":"e1f2a3b4-c5d6-7e8f-9a0b-1c2d3e4f5a6b","name":"Nota: Agente IA"},{"parameters":{"content":"## 🔧 Herramientas del Agente\n\nConfigura las credenciales OAuth2 para:\n1. Google Calendar\n2. Gmail\n\nEl agente las usará automáticamente según el contexto del mensaje","height":192,"width":520,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[432,592],"id":"f2a3b4c5-d6e7-8f9a-0b1c-2d3e4f5a6b7c","name":"Nota: Herramientas"},{"parameters":{"content":"## 📊 Registro en Google Sheets\n\n1. Crea una hoja de cálculo en Google Sheets\n2. Nombra la hoja como \"Registro\"\n3. Añade las columnas: Fecha, Usuario, Mensaje, Herramienta, Acción, Respuesta\n4. Copia el ID de la hoja y configúralo en el nodo","height":296,"width":320,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1744,-16],"id":"a3b4c5d6-e7f8-9a0b-1c2d-3e4f5a6b7c8d","name":"Nota: Google Sheets"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[432,448],"id":"9d28aff4-42fb-499e-b276-0747a774589e","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"dataTableId":{"__rl":true,"value":"PUSxJMOHVZ08I97b","mode":"list","cachedResultName":"Agente_Calendario","cachedResultUrl":"/projects/prlZ3bTXg0wKi0D1/datatables/PUSxJMOHVZ08I97b"},"columns":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Apellidos","displayName":"Apellidos","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Telefono","displayName":"Telefono","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Comienzo","displayName":"Comienzo","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Fin","displayName":"Fin","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[1424,304],"id":"c155adaa-6cd7-404b-a537-b8cd18438e36","name":"Insert row"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"PUSxJMOHVZ08I97b","mode":"list","cachedResultName":"Agente_Calendario","cachedResultUrl":"/projects/prlZ3bTXg0wKi0D1/datatables/PUSxJMOHVZ08I97b"},"filters":{"conditions":[{"keyName":"email","keyValue":"Existe"},{"keyName":"Telefono","keyValue":"Existe"},{"keyName":"email","condition":"neq","keyValue":"No existe"},{"keyName":"Telefono","condition":"neq","keyValue":"No existe"}]}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[960,272],"id":"4e37d716-8eb9-468b-ab72-ee45fd58fd13","name":"Get row(s)"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b89d6eaf-fef3-417b-b154-739041a3ced3","leftValue":"={{ $json.email }}","rightValue":"={{ $json.email }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1152,272],"id":"455c38c5-a910-40ab-a77b-4e0758812504","name":"If"}],"connections":{"Telegram Trigger":{"main":[[{"node":"Agente IA","type":"main","index":0}]]},"Agente IA":{"main":[[{"node":"Get row(s)","type":"main","index":0}]]},"Memoria Simple":{"ai_memory":[[{"node":"Agente IA","type":"ai_memory","index":0}]]},"Calendario Google":{"ai_tool":[[{"node":"Agente IA","type":"ai_tool","index":0}]]},"Gmail":{"ai_tool":[[{"node":"Agente IA","type":"ai_tool","index":0}]]},"Parser de Salida Estructurada":{"ai_outputParser":[[{"node":"Agente IA","type":"ai_outputParser","index":0}]]},"Google Sheets":{"main":[[]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Agente IA","type":"ai_languageModel","index":0}]]},"Insert row":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"Get row(s)":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[],[{"node":"Insert row","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"saveDataSuccessExecution":"all","saveExecutionProgress":true,"saveDataErrorExecution":"all","errorWorkflow":"","timezone":"America/Mexico_City"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4893943a-d54e-43fa-91f6-15f32e3e81af","triggerCount":0,"shared":[{"updatedAt":"2025-10-08T17:11:12.917Z","createdAt":"2025-10-08T17:11:12.917Z","role":"workflow:owner","workflowId":"jtdST1SmUx0i9Ge8","projectId":"prlZ3bTXg0wKi0D1"}],"tags":[]}