agente-sql-TiE9sDbUM00Skisx.json
{"updatedAt":"2025-11-24T17:48:00.000Z","createdAt":"2025-11-23T22:19:01.473Z","id":"TiE9sDbUM00Skisx","name":"Agente SQL","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-1280,-512],"id":"d614b4e5-e57c-45ef-b11c-162bbc035cf8","name":"When chat message received","webhookId":"d40c3554-2ec2-4a43-9719-27210a6445d1"},{"parameters":{"promptType":"define","text":"={{ $('Telegram Trigger').item.json.message.text }}","options":{"systemMessage":"=Eres un asistente experto en mySQL. Tu objetivo es:\n1. Recibir una pregunta en lenguaje natural sobre los datos de una base de datos de una tienda online de zapatos.\n2. Convertirla única y exclusivamente en una instrucción SQL SELECT válida.\n3. No ejecutar nunca INSERT, UPDATE ni DELETE.\n4. Al generar la consulta SELECT, usar la función LIKE para encontrar búsquedas parecidas. En el WHERE usa el operador % para filtrar por similitud.\n5. Usar siempre la herramienta “MySQL” para ejecutar la consulta y devuelve siempre la url de la imagen\n6. Tras la ejecución, utiliza los resultados para responder en lenguaje natural.\n\nEres experto en SQL para PrestaShop. Genera consultas SQL completas con precios, descuentos, tallas e imagenes.\n\nuna query de ejemplo perfecta sería esta, usala de base para construir las tuyas:\n\nSELECT \n  p.id_product,\n  pl.name AS nombre_producto,\n  pl.link_rewrite AS product_rewrite,\n  p.price AS precio_base,\n  CASE \n    WHEN sp.price IS NOT NULL AND sp.price >= 0 THEN ROUND(sp.price * (1 + (t.rate / 100)), 2)\n    ELSE CASE \n      WHEN sp.reduction_type = 'percentage' THEN ROUND((p.price * (1 - sp.reduction)) * (1 + (t.rate / 100)), 2)\n      WHEN sp.reduction_type = 'amount' THEN ROUND((p.price - sp.reduction) * (1 + (t.rate / 100)), 2)\n      ELSE ROUND(p.price * (1 + (t.rate / 100)), 2)\n    END \n  END AS precio_final,\n  sp.price AS precio_especifico,\n  COALESCE(sp.reduction, 0) AS descuento,\n  COALESCE(sp.reduction_type, 'amount') AS tipo_descuento,\n  t.rate AS tasa_impuesto,\n  CONCAT('/img/p/', SUBSTRING(CAST(i.id_image AS CHAR), 1, 1), '/', SUBSTRING(CAST(i.id_image AS CHAR), 2, 1), '/', SUBSTRING(CAST(i.id_image AS CHAR), 3, 1), '/', SUBSTRING(CAST(i.id_image AS CHAR), 4, 1), '/', i.id_image, '.jpg') AS ruta_imagen,\n  cl.link_rewrite AS category_rewrite,\n  GROUP_CONCAT(DISTINCT CONCAT(al.name, ':', sa.quantity) ORDER BY CAST(al.name AS DECIMAL(10,2)) SEPARATOR '|') AS tallas_stock\nFROM ps_product p\nINNER JOIN ps_product_lang pl ON (p.id_product = pl.id_product AND pl.id_lang = 1)\nLEFT JOIN ps_image i ON (p.id_product = i.id_product AND i.cover = 1)\nLEFT JOIN ps_category_product cp ON (p.id_product = cp.id_product)\nLEFT JOIN ps_category c ON (cp.id_category = c.id_category AND c.id_category = p.id_category_default)\nLEFT JOIN ps_category_lang cl ON (c.id_category = cl.id_category AND cl.id_lang = 1)\nLEFT JOIN ps_tax_rule tr ON (p.id_tax_rules_group = tr.id_tax_rules_group)\nLEFT JOIN ps_tax t ON (tr.id_tax = t.id_tax)\nLEFT JOIN ps_specific_price sp ON (p.id_product = sp.id_product AND sp.id_product_attribute = 0 AND (sp.from = '0000-00-00 00:00:00' OR sp.from <= NOW()) AND (sp.to = '0000-00-00 00:00:00' OR sp.to >= NOW()))\nINNER JOIN ps_product_attribute pa ON (p.id_product = pa.id_product)\nINNER JOIN ps_stock_available sa ON (sa.id_product = p.id_product AND sa.id_product_attribute = pa.id_product_attribute AND sa.quantity > 0)\nINNER JOIN ps_product_attribute_combination pac ON (pa.id_product_attribute = pac.id_product_attribute)\nINNER JOIN ps_attribute a ON (pac.id_attribute = a.id_attribute AND a.id_attribute_group = 5)\nINNER JOIN ps_attribute_lang al ON (a.id_attribute = al.id_attribute AND al.id_lang = 1)\nWHERE p.active = 1 AND [CONDICION_ADICIONAL]\nGROUP BY p.id_product;\n\nREGLA CRITICA:\n- SIEMPRE incluir p.active = 1 en el WHERE\n- Si no hay condicion adicional, usar solo: WHERE p.active = 1\n\nEJEMPLOS:\n\nUsuario: buscar MYTO BLACK\nWHERE: p.active = 1 AND pl.name LIKE '%MYTO BLACK%'\n\nUsuario: productos con descuento\nWHERE: p.active = 1 AND sp.reduction > 0\n\nUsuario: productos de categoria zapatillas\nWHERE: p.active = 1 AND cl.name LIKE '%zapatillas%'\n\nUsuario: todos los productos\nWHERE: p.active = 1\n\nUsuario: productos talla 42\nWHERE: p.active = 1 AND al.name = '42'\n\nNUNCA omitas p.active = 1 del WHERE.\n\nNUNCA respondas con una consulta SELECT ni nada de sql. El SQL solo lo generas para enviarlo tu herramienta \"MySQL\" pero NUNCA en tu respuesta.\nGenera simepre la ruta de la imagen.","maxIterations":10}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-464,-496],"id":"c3bf8e49-7cb5-4e3b-8339-54d1e39c4b22","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{"frequencyPenalty":0,"presencePenalty":0,"temperature":0}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-528,-256],"id":"25c04d16-f5c4-451c-870d-1b9d968d410b","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"operation":"executeQuery","query":"{{$fromAI('query')}}","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[176,-224],"id":"7c8ff12b-e108-444c-ae67-9557418cad08","name":"Postgres","credentials":{"postgres":{"id":"RJfYPONKqWUiJzDA","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Execute a SQL query in MySQL","operation":"executeQuery","query":"{{$fromAI('query')}}","options":{}},"type":"n8n-nodes-base.mySqlTool","typeVersion":2.5,"position":[-208,-256],"id":"89cbb1a7-0c0d-439d-b89b-d75487f87529","name":"MySQL","credentials":{"mySql":{"id":"FozaZvgtAHuObZua","name":"MySQL account 3"}}},{"parameters":{"jsCode":"const userMessage = $input.first().json.text;\nconst chatId = $('Telegram Trigger').item.json.message.chat.id;\n\nconst schemaTexto = [\n  \"CONDICIONES WHERE COMUNES:\",\n  \"- Buscar por nombre: pl.name LIKE '%nombre%'\",\n  \"- Buscar por categoria: cl.name LIKE '%categoria%'\",\n  \"- Buscar por talla: al.name = 'talla'\",\n  \"- Con descuento: sp.reduction > 0\",\n  \"- Todos activos: p.active = 1\",\n  \"\",\n  \"Combina condiciones con AND/OR segun necesidad\"\n].join('\\n');\n\nreturn [{\n  json: {\n    schema: schemaTexto,\n    userQuery: userMessage,\n    chatId: chatId\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-720,-496],"id":"4783ba99-24be-4275-93ef-f8d14e6a374e","name":"schema"},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-912,-496],"id":"bd18a243-6c60-46ea-8737-cea5483ca509","name":"Telegram Trigger","webhookId":"dc21ed8c-735d-4ac3-8a5e-e3f223b41ce4","credentials":{"telegramApi":{"id":"jDxsVgrb1fG40Bm1","name":"Telegram n8n_the2tor_bot"}}},{"parameters":{"operation":"sendPhoto","chatId":"={{ $json.chatId }}","binaryData":true,"additionalFields":{"caption":"={{ $json.mensaje }}","parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[592,-672],"id":"d94305b9-a4a6-4dd0-a274-670e73c89850","name":"Send a photo message1","webhookId":"a99e3bf2-6287-4a93-9415-d09ff9740c6d","credentials":{"telegramApi":{"id":"jDxsVgrb1fG40Bm1","name":"Telegram n8n_the2tor_bot"}}},{"parameters":{"url":"={{ $json.imagen_url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[368,-672],"id":"6c716c2b-fe09-4d8f-930a-a8f110bce891","name":"HTTP Request"},{"parameters":{"jsCode":"// Función para parsear el texto de productos\nconst inputText = $input.item.json.text || $input.item.json.body || $input.first().json.output;\n\n// Regex para detectar productos individuales\nconst productsRegex = /(?:el |otro producto es )\"([^\"]+)\"[^.]*precio base de ([\\d.]+)[^.]*descuento de ([\\d.]+)[^.]*precio final[^.]*de ([\\d.]+)[^.]*disponible en talla[s]? ([^.]+)\\.[^:]*imagen[^:]*:\\s*([^\\s.]+(?:\\.\\w+)?)/gi;\n\nconst products = [];\nlet match;\n\nwhile ((match = productsRegex.exec(inputText)) !== null) {\n  const [_, name, basePrice, discount, finalPrice, sizes, imageUrl] = match;\n  \n  // Limpiar y parsear las tallas\n  const sizesArray = sizes\n    .replace(/ y /g, ', ')\n    .split(',')\n    .map(s => s.trim())\n    .filter(s => s);\n  \n  products.push({\n    nombre: name.trim(),\n    precio_base: parseFloat(basePrice),\n    descuento: parseFloat(discount),\n    precio_final: parseFloat(finalPrice),\n    tallas_disponibles: sizesArray,\n    imagen: imageUrl.trim(),\n    url_completa_imagen: `https://tudominio.com${imageUrl.trim()}`\n  });\n}\n\n// Retornar cada producto como item separado\nreturn products.map(product => ({ json: product }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[128,-672],"id":"cc0893a4-5dbf-463b-ad4e-0b38f190e7e6","name":"formatear resultado1"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-48,-496],"id":"459a1060-7e76-4609-9e13-fd85e56b5ad0","name":"Send a text message","webhookId":"bd53f0b5-7e34-4d1a-b491-d98af8fe7ca1","credentials":{"telegramApi":{"id":"jDxsVgrb1fG40Bm1","name":"Telegram n8n_the2tor_bot"}}}],"connections":{"When chat message received":{"main":[[]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Postgres":{"ai_tool":[[]]},"MySQL":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"schema":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"schema","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Send a photo message1","type":"main","index":0}]]},"formatear resultado1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"bbceb6a8-34c7-4da3-a19a-1b347f1ce493","triggerCount":0,"shared":[{"updatedAt":"2025-11-23T22:19:01.477Z","createdAt":"2025-11-23T22:19:01.477Z","role":"workflow:owner","workflowId":"TiE9sDbUM00Skisx","projectId":"prlZ3bTXg0wKi0D1"}],"tags":[]}