agendar-cita-desde-telegram-a-google-calendar-Mdhh2TWkp6BCGUpA.json
{"updatedAt":"2025-10-24T21:21:47.042Z","createdAt":"2025-10-24T21:21:47.042Z","id":"Mdhh2TWkp6BCGUpA","name":"Agendar Cita desde Telegram a Google Calendar","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[220,300],"id":"a1b2c3d4-e5f6-7g8h-9i0j-k1l2m3n4o5p6","name":"Telegram Trigger","webhookId":"telegram-webhook-id","credentials":{"telegramApi":{"id":"telegram-creds","name":"Telegram Bot"}}},{"parameters":{"content":"## 🔑 Configuración Requerida\n\n1. **Bot de Telegram**: Necesitas crear un bot en Telegram usando @BotFather y obtener el token\n2. **Google Calendar**: Configura las credenciales OAuth2 para acceder a tu calendario\n3. **Webhook**: El trigger de Telegram generará automáticamente un webhook URL que debes configurar en tu bot","height":250,"width":300,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-100,200],"id":"s1t2i3c4k5y6n7o8t9e0","name":"Nota: Credenciales"},{"parameters":{"promptType":"define","text":"={{ $json.message.text }}","hasOutputParser":true,"options":{"systemMessage":"Eres un asistente especializado en agendar citas. Tu tarea es extraer información de citas de los mensajes de los usuarios.\n\nCuando recibas un mensaje, debes identificar:\n- El título o motivo de la cita\n- La fecha (si no se especifica, usa la fecha de hoy)\n- La hora de inicio\n- La duración (si no se especifica, usa 1 hora por defecto)\n- Cualquier descripción adicional\n\nSiempre responde en el formato JSON estructurado que se te proporciona."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[600,300],"id":"a2g3e4n5t6e7i8a9","name":"Agente IA - Extractor de Citas"},{"parameters":{"model":"openai/gpt-4o-mini","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[400,500],"id":"m1o2d3e4l5o6a7i8","name":"Modelo OpenAI","credentials":{"openAiApi":{"id":"openai-creds","name":"OpenAI API"}}},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"titulo\": {\n      \"type\": \"string\",\n      \"description\": \"El título o motivo de la cita\"\n    },\n    \"fecha\": {\n      \"type\": \"string\",\n      \"description\": \"La fecha de la cita en formato YYYY-MM-DD\"\n    },\n    \"horaInicio\": {\n      \"type\": \"string\",\n      \"description\": \"La hora de inicio en formato HH:MM (24 horas)\"\n    },\n    \"duracionMinutos\": {\n      \"type\": \"number\",\n      \"description\": \"La duración de la cita en minutos\"\n    },\n    \"descripcion\": {\n      \"type\": \"string\",\n      \"description\": \"Descripción adicional o notas sobre la cita\"\n    }\n  },\n  \"required\": [\"titulo\", \"fecha\", \"horaInicio\", \"duracionMinutos\"]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[600,500],"id":"p1a2r3s4e5r6o7u8t9","name":"Parser Estructurado"},{"parameters":{"jsCode":"// Extraer los datos de la cita del resultado del agente IA\nconst citaData = $input.item.json.output;\n\n// Construir las fechas de inicio y fin\nconst fechaInicio = new Date(`${citaData.fecha}T${citaData.horaInicio}:00`);\nconst fechaFin = new Date(fechaInicio.getTime() + citaData.duracionMinutos * 60000);\n\n// Formatear para Google Calendar\nreturn {\n  summary: citaData.titulo,\n  description: citaData.descripcion || 'Cita agendada desde Telegram',\n  start: {\n    dateTime: fechaInicio.toISOString(),\n    timeZone: 'America/Mexico_City'\n  },\n  end: {\n    dateTime: fechaFin.toISOString(),\n    timeZone: 'America/Mexico_City'\n  },\n  chatId: $('Telegram Trigger').item.json.message.chat.id,\n  userName: $('Telegram Trigger').item.json.message.from.first_name || 'Usuario'\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[900,300],"id":"c1o2d3e4j5s6","name":"Preparar Datos para Calendar"},{"parameters":{"operation":"create","calendar":{"__rl":true,"value":"primary","mode":"list"},"start":"={{ $json.start.dateTime }}","end":"={{ $json.end.dateTime }}","additionalFields":{"description":"={{ $json.description }}","summary":"={{ $json.summary }}"}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.2,"position":[1200,300],"id":"g1c2a3l4e5n6d7a8r9","name":"Crear Evento en Google Calendar","credentials":{"googleCalendarOAuth2Api":{"id":"google-calendar-creds","name":"Google Calendar OAuth2"}}},{"parameters":{"content":"## 📅 Formato de Mensaje\n\nEl usuario puede enviar mensajes como:\n- \"Agendar cita con el dentista mañana a las 3pm\"\n- \"Reunión de trabajo el viernes 15 de diciembre a las 10:00 por 2 horas\"\n- \"Cita médica hoy a las 17:30\"","height":200,"width":300,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[220,80],"id":"s2t3i4c5k6y7n8o9t0e1","name":"Nota: Ejemplos de Uso"},{"parameters":{"operation":"sendMessage","chatId":"={{ $json.chatId }}","text":"=✅ ¡Cita agendada exitosamente!\n\n📅 **{{ $json.summary }}**\n📆 Fecha: {{ $('Preparar Datos para Calendar').item.json.start.dateTime.split('T')[0] }}\n🕐 Hora: {{ $('Preparar Datos para Calendar').item.json.start.dateTime.split('T')[1].substring(0,5) }}\n⏱️ Duración: {{ $('Agente IA - Extractor de Citas').item.json.output.duracionMinutos }} minutos\n\nLa cita ha sido añadida a tu Google Calendar.","additionalFields":{"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1500,300],"id":"t1e2l3e4g5r6a7m8","name":"Confirmar en Telegram","credentials":{"telegramApi":{"id":"telegram-creds","name":"Telegram Bot"}}},{"parameters":{"content":"## 🔄 Flujo de Trabajo\n\n1. **Recepción**: El bot recibe un mensaje de Telegram\n2. **Procesamiento IA**: El agente extrae la información de la cita\n3. **Formateo**: Se preparan los datos para Google Calendar\n4. **Creación**: Se crea el evento en el calendario\n5. **Confirmación**: Se envía mensaje de confirmación al usuario","height":250,"width":300,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[850,-100],"id":"s3t4i5c6k7y8n9o0t1e2","name":"Nota: Proceso"},{"parameters":{"operation":"sendMessage","chatId":"={{ $json.message.chat.id }}","text":"❌ Lo siento, no pude procesar tu solicitud. Por favor, asegúrate de incluir:\n- El motivo de la cita\n- La fecha (o menciona 'hoy' o 'mañana')\n- La hora\n\nEjemplo: \"Agendar cita con el doctor mañana a las 10am\"","additionalFields":{"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1200,500],"id":"e1r2r3o4r5t6e7l8","name":"Mensaje de Error","credentials":{"telegramApi":{"id":"telegram-creds","name":"Telegram Bot"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"Agente IA - Extractor de Citas","type":"main","index":0}]]},"Agente IA - Extractor de Citas":{"main":[[{"node":"Preparar Datos para Calendar","type":"main","index":0}]]},"Modelo OpenAI":{"ai_languageModel":[[{"node":"Agente IA - Extractor de Citas","type":"ai_languageModel","index":0}]]},"Parser Estructurado":{"ai_outputParser":[[{"node":"Agente IA - Extractor de Citas","type":"ai_outputParser","index":0}]]},"Preparar Datos para Calendar":{"main":[[{"node":"Crear Evento en Google Calendar","type":"main","index":0}]]},"Crear Evento en Google Calendar":{"main":[[{"node":"Confirmar en Telegram","type":"main","index":0}],[{"node":"Mensaje de Error","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"saveDataSuccessExecution":"all","saveExecutionProgress":true,"saveDataErrorExecution":"all","errorWorkflow":"","timezone":"America/Mexico_City"},"staticData":null,"meta":null,"pinData":null,"versionId":"7aac8228-f13d-4931-9577-40bd60c720bc","triggerCount":0,"shared":[{"updatedAt":"2025-10-24T21:21:47.044Z","createdAt":"2025-10-24T21:21:47.044Z","role":"workflow:owner","workflowId":"Mdhh2TWkp6BCGUpA","projectId":"prlZ3bTXg0wKi0D1"}],"tags":[]}