agente-desarrollador-T6EBugNYFkxyIj9d.json
{"updatedAt":"2025-10-24T21:24:24.000Z","createdAt":"2025-10-08T11:18:00.310Z","id":"T6EBugNYFkxyIj9d","name":"Agente Desarrollador","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"text","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[464,0],"id":"9f069ed7-aa55-42b8-92ca-a0d0385a34f0","name":"Extract from File"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"65f23473-72d1-41a9-8a79-05058bc62c27","name":"When Executed by Another Workflow"},{"parameters":{"promptType":"define","text":"=Petición del usuario: {{ $('When Executed by Another Workflow').item.json.query }}","options":{"systemMessage":"=# Overview\nYou are an expert AI automation developer specializing in building workflows for n8n. Your job is to translate a human's natural language request into a fully functional n8n workflow JSON. It should be comprehensive, functional, and importable. It should have 100% valid JSON structure, node types, and connection methods.\n\n## Output\nYour output should only be the final JSON of the full workflow.\n\nYour output must start with a { and must end with a }.\n- Do not include anything before the { (such as ```json or any markdown formatting).\n- Do not include anything after the } (such as closing code blocks like ``` or explanations).\n\nYour output should be a pure JSON object that begins with { and ends with }, ready to be used as the body of a POST request.\n\nThe JSON must:\n- Be syntactically valid and complete.\n- Include a `nodes` array with each node containing all required parameters.\n- Include a `connections` object that correctly maps outputs to inputs.\n- Start with a `trigger` node if one is required for the use case (e.g., Webhook, Schedule, etc.).\n- **IMPORTANT**: All human-readable text inside the generated workflow, such as the `name` of nodes or the `content` of Sticky Notes, **must be in Spanish**.\n- Contain descriptive names and parameter values relevant to the user request, written in Spanish.\n- Avoid placeholders unless no reasonable value can be inferred.\n- Contain sticky notes (in Spanish) that explain what's going on within each step and any credentials or connections that still need to be configured. The colors should vary throughout the workflow.\n\nBefore generating the JSON, analyze the request and:\n1. Break it down into logical automation steps.\n2. Choose appropriate nodes based on the steps.\n3. Properly connect the nodes to reflect execution order.\n\nIf the request is ambiguous, make a best guess using standard automation logic.\n\nDo not return explanations, comments, or any output outside of the JSON markdown block.\n\nYou are expected to produce developer-grade output suitable for direct import into n8n.\n\n## API Submission Requirements\nTo automatically create a workflow using the n8n API, your generated JSON must include the following top-level fields in the final object:\n\n- `name` (string): A clear, descriptive workflow name, in Spanish.\n- `nodes` (array): The complete array of node objects used in the workflow.\n- `connections` (object): A valid map of node-to-node connections.\n- `settings` (object): Workflow-level settings (e.g. `saveManualExecutions`, `executionOrder`).\n- `staticData` (null or object): Set to `null` unless specific static data is needed.\n\nExample “settings” object:\n  \"settings\": {\n    \"executionOrder\": \"v1\",\n    \"saveManualExecutions\": true,\n    \"saveDataSuccessExecution\": \"all\",\n    \"saveExecutionProgress\": true,\n    \"saveDataErrorExecution\": \"all\",\n    \"errorWorkflow\": \"\",\n    \"timezone\": \"America/New_York\"\n  }\n\n## n8n Documentation\n\n{{ $json.data }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[640,0],"id":"5df059e7-a734-48b4-b92e-e094dbda770b","name":"Constructor n8n"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"1oksSSaW9dPh3m0kE5H08IzpWoIdGe4ee0NyFd_IwThY","mode":"list","cachedResultName":"JsonAgente","cachedResultUrl":"https://docs.google.com/document/d/1oksSSaW9dPh3m0kE5H08IzpWoIdGe4ee0NyFd_IwThY/edit?usp=drivesdk"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[224,0],"id":"c7961615-5dfd-4090-ba76-d40ff4237eca","name":"Obtener Documento n8n","credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account Bestfranquicias"}}},{"parameters":{"assignments":{"assignments":[{"id":"f4b8c16e-6788-4c17-b643-94a3f0620860","name":"Link","value":"=https://bestfranquicias-n8n.xq2ha6.easypanel.host/workflow/{{ $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1168,0],"id":"c5c5ee70-352d-47c8-bae4-2e3395e093fa","name":"Link del Workflow"},{"parameters":{"model":"anthropic/claude-opus-4","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[560,208],"id":"67ec9cae-32b5-4166-951f-ed15a6c3227e","name":"Claude Opus 4","credentials":{"openRouterApi":{"id":"hrgXqQ9MslXmo2ow","name":"OpenRouter account"}}},{"parameters":{"operation":"create","workflowObject":"={{ $json.output }}","requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[960,0],"id":"d448d4a4-74e8-4bcd-9a03-cd25a2a30c5e","name":"Create a workflow","credentials":{"n8nApi":{"id":"uXx1KvXLjIvkB4BK","name":"n8n account"}}}],"connections":{"Extract from File":{"main":[[{"node":"Constructor n8n","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Obtener Documento n8n","type":"main","index":0}]]},"Constructor n8n":{"main":[[{"node":"Create a workflow","type":"main","index":0}]]},"Obtener Documento n8n":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Claude Opus 4":{"ai_languageModel":[[{"node":"Constructor n8n","type":"ai_languageModel","index":0}]]},"Create a workflow":{"main":[[{"node":"Link del Workflow","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"20fdeb43-29ec-4abf-bcae-7dd3b8ad6e56","triggerCount":0,"shared":[{"updatedAt":"2025-10-08T11:18:00.312Z","createdAt":"2025-10-08T11:18:00.312Z","role":"workflow:owner","workflowId":"T6EBugNYFkxyIj9d","projectId":"prlZ3bTXg0wKi0D1"}],"tags":[]}