agendador-humanizado-de-telegram-con-audio-y-texto-8s0o7Zo5882uyvsn.json
{"updatedAt":"2025-10-24T20:50:35.000Z","createdAt":"2025-10-03T19:15:04.259Z","id":"8s0o7Zo5882uyvsn","name":"Agendador humanizado de telegram con audio y texto","active":false,"isArchived":false,"nodes":[{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-176,-128],"id":"ec8f8c60-5b40-4a9b-bddf-19578adcc078","name":"Get Audio File","webhookId":"b9ec8276-c153-4b94-86db-b91a4e20d5bc","credentials":{"telegramApi":{"id":"7UCg36pupNze5tT7","name":"Telegram account agendador_RafaBot"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[48,-128],"id":"1d5cd1c6-5c9f-4a86-8027-9eb73ac41a61","name":"Transcribe Recording","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"What's in this image? Reply in Spanish.","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[48,256],"id":"4be5810c-0278-4fb9-86e7-f456cf20f643","name":"Analyze image","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"https://api.cloud.llamaindex.ai/api/v1/parsing/upload","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Authorization","value":"Bearer"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-176,480],"id":"b36f73e5-adcd-4b56-9159-2ddeb4b957b8","name":"Upload Doc"},{"parameters":{"url":"=https://api.cloud.llamaindex.ai/api/v1/parsing/job/{{ $json.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Authorization","value":"Bearer "}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[48,480],"id":"fa70d250-c205-4f6c-91f9-f89be76607f3","name":"Get Doc Processing Info"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"45791e1c-3a0b-4bbf-902c-20340548a0fc","leftValue":"={{ $json.status }}","rightValue":"SUCCESS","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[224,480],"id":"17448f98-549b-4b7f-a7f7-a7e48ce91d76","name":"Is Ready"},{"parameters":{"url":"=https://api.cloud.llamaindex.ai/api/v1/parsing/job/{{$json.id}}/result/markdown","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Authorization","value":"Bearer "}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[656,464],"id":"8d7ccd1e-4fee-45f3-83d8-9b5640a791b1","name":"Download Markdown Info"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.from.id }}","text":"Lo sentimos, no puedo procesar lo que has enviado.","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-400,704],"id":"3cbb0786-ca53-4d7a-87a5-61bd282d2398","name":"Notify About Message","webhookId":"79a39611-fd1b-4719-b2d2-4250e1f20a9b","credentials":{"telegramApi":{"id":"7UCg36pupNze5tT7","name":"Telegram account agendador_RafaBot"}}},{"parameters":{"assignments":{"assignments":[{"id":"1d1411b8-e185-417c-86ce-b7af234efc3c","name":"text","value":"={{ $json.text }}","type":"string"},{"id":"8320262c-39ca-4dc2-a1df-3610ccdc5f76","name":"caption","value":"={{ $('Telegram Trigger').item.json.message.caption || null }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1056,176],"id":"95e44174-d729-4b77-89f3-30569ae4b385","name":"Get Message"},{"parameters":{"operation":"push","list":"={{ $('Telegram Trigger').item.json.message.from.id.toString() }}","messageData":"={{ $json.text }}","tail":true},"name":"Save Text to Redis","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1248,176],"id":"e2584885-a787-4dba-a400-8b073c954954","credentials":{"redis":{"id":"s43Tiha7X724barC","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.messages.last() }}","rightValue":"={{ $('Get Message').item.json.text }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"},"id":"f467654c-56fd-466d-a83b-54ab2aead0e2"}],"combinator":"and"},"options":{}},"name":"Check Continue Condition","type":"n8n-nodes-base.if","typeVersion":2,"position":[2016,176],"id":"5fadd123-7a43-4632-a67e-741a7658f336"},{"parameters":{"operation":"delete","key":"={{ $('Telegram Trigger').item.json.message.from.id.toString() }}"},"name":"Delete Redis Key","type":"n8n-nodes-base.redis","typeVersion":1,"position":[2256,160],"id":"727e22a9-a5a6-46e4-aadf-b03c48ce562f","credentials":{"redis":{"id":"s43Tiha7X724barC","name":"Redis account"}}},{"parameters":{"jsCode":"const inItem = $input.first(); \nconst text   = (inItem.json.text ?? '').trim();\nconst WORDS_PER_MIN = 170;\n\nconst wordCount = text.length\n  ? text.split(/\\s+/).filter(w => w).length\n  : 0;\n\nconst wordsPerSec = WORDS_PER_MIN / 60;\nconst delaySeconds = Math.ceil(wordCount / wordsPerSec);\n\nreturn [{\n    delay: delaySeconds\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1424,176],"id":"c42e45cc-8ce0-4d9c-9b52-6ca1eb4d044d","name":"Split Paragraphs & Reading Delay"},{"parameters":{"operation":"get","propertyName":"=messages","key":"={{ $('Telegram Trigger').item.json.message.from.id.toString() }}","keyType":"list","options":{"dotNotation":false}},"name":"Get Text from Redis3","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1808,176],"id":"4bad10db-8726-4ab1-bca6-df86b998d63b","credentials":{"redis":{"id":"s43Tiha7X724barC","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"766ddb8b-7a01-4093-a26b-a60552adddf0","leftValue":"={{ $('Telegram Trigger').item.json.message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2176,640],"id":"a5e91b6d-499f-4857-958b-f6caea25b278","name":"Should Respond With Audio"},{"parameters":{"operation":"delete","key":"=typing_{{ $('Telegram Trigger').item.json.message.from.id.toString() }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2704,704],"id":"f056723f-ba0f-4a63-9d1d-2a6a1b96fa69","name":"Clear Previous Conversations","credentials":{"redis":{"id":"s43Tiha7X724barC","name":"Redis account"}}},{"parameters":{"operation":"incr","key":"=typing_{{ $('Telegram Trigger').item.json.message.from.id.toString() }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[3248,720],"id":"8a71fccb-d192-41a2-b04c-67af0d18a873","name":"Counter","credentials":{"redis":{"id":"s43Tiha7X724barC","name":"Redis account"}}},{"parameters":{"operation":"sendChatAction","chatId":"={{ $('Telegram Trigger').item.json.message.from.id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[3424,720],"id":"675d8063-f72a-4215-86aa-c85e558601b3","name":"Send Typing Action","webhookId":"6cb7aad8-7210-437e-bde9-460db89782ba","credentials":{"telegramApi":{"id":"7UCg36pupNze5tT7","name":"Telegram account agendador_RafaBot"}}},{"parameters":{"operation":"get","propertyName":"typing","key":"=typing_{{ $('Telegram Trigger').item.json.message.from.id.toString() }}","options":{"dotNotation":false}},"name":"Get Counter Value","type":"n8n-nodes-base.redis","typeVersion":1,"position":[3632,720],"id":"978bd21f-7408-412f-9cea-7b507dd3a60e","credentials":{"redis":{"id":"s43Tiha7X724barC","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"55096fe2-3538-42b8-beb6-102e010b6b6c","leftValue":"={{ $('Get Counter Value').item.json.typing }}","rightValue":"={{ $('Split Paragraphs & Writing Delay1').item.json.delayArray.length }}","operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4016,720],"id":"0229402f-a5fe-4ea0-85dd-c3c22a78470b","name":"Finished Typing"},{"parameters":{"operation":"delete","key":"=typing_{{ $('Telegram Trigger').item.json.message.from.id.toString() }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[4432,704],"id":"d127bbfd-c7f7-4817-b054-066c114ea03f","name":"Reset Counter","credentials":{"redis":{"id":"s43Tiha7X724barC","name":"Redis account"}}},{"parameters":{"jsCode":"const ONE_MINUTE      = 60;\nconst SECONDS_TO_WAIT = 4;\nconst WORDS_PER_MIN = 80;\n\nconst inItem   = $input.first();\nconst fullText = (inItem.json.output ?? '').trim();\n\nconst paragraphs = fullText\n  .split(/\\n\\s*\\n/)\n  .filter(p => p.length);\n\nconst wordsPerSec = WORDS_PER_MIN / ONE_MINUTE;\n\nreturn paragraphs.map(paragraph => {\n  const wordCount = paragraph.split(/\\s+/).length;\n  let delay       = Math.ceil(wordCount / wordsPerSec);\n\n  if (delay > ONE_MINUTE) delay = ONE_MINUTE;\n\n  const delayArray = [];\n  let remaining    = delay;\n\n  if (remaining <= SECONDS_TO_WAIT) {\n    delayArray.push(Number(remaining.toFixed(2)));\n  } else {\n    while (remaining > SECONDS_TO_WAIT) {\n      delayArray.push(SECONDS_TO_WAIT);\n      remaining -= SECONDS_TO_WAIT;\n    }\n    if (remaining > 0) {\n      delayArray.push(Number(remaining.toFixed(2)));\n    }\n  }\n\n  return {\n    json: {\n      paragraph,  \n      delayArray     \n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2448,704],"id":"ea4fc901-5637-48bd-b458-85270ae3675b","name":"Split Paragraphs & Writing Delay1"},{"parameters":{"operation":"information"},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[-176,256],"id":"1869002f-3254-4b8c-b63a-f797cad61f51","name":"Edit Image"},{"parameters":{"assignments":{"assignments":[{"id":"b4bec628-0972-4cf3-a58e-35289257eef3","name":"text","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,-128],"id":"ababe72f-5172-49c7-91fc-054b08aa9b62","name":"Normalize Content"},{"parameters":{"assignments":{"assignments":[{"id":"bd33db4c-9606-447c-9098-bd1fbe36c90c","name":"text","value":"={{ $json.message.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-176,80],"id":"25aaf2af-1f18-435b-a1bf-52758276b4d1","name":"Normalize Content1"},{"parameters":{"assignments":{"assignments":[{"id":"b4bec628-0972-4cf3-a58e-35289257eef3","name":"text","value":"={{ $json.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,256],"id":"9112c528-5be2-4a36-9082-8fd35439663f","name":"Normalize Content2"},{"parameters":{"assignments":{"assignments":[{"id":"01fb6f07-fe7a-4029-a660-efc02a662335","name":"text","value":"={{ $json.markdown }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[880,464],"id":"df9e5cdb-6fbe-4add-81fa-00ab79aed4f8","name":"Normalize Content3"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.voice.mime_type }}","rightValue":"audio/ogg","operator":{"type":"string","operation":"equals"},"id":"c6117e1e-21aa-4ed4-ac15-f5dabbc9ca95"}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4344a1ac-3d62-4039-a944-09b5373a1c2c","leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0da13526-dd88-44d3-8369-cd009130c7bf","leftValue":"={{ $json.message.photo }}","rightValue":"","operator":{"type":"array","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e56af66d-f132-42f0-a2b1-29c351240f70","leftValue":"={{ $json.message.document }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Document"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"129b3a26-f79a-49ea-94d4-8fe142cfb9bd","leftValue":"={{ $json.message.video || $json.message.video_note}}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Video"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"Any Other"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-864,224],"id":"b32c784d-1f33-47e8-a7d1-5b8928ecb8a5","name":"Switch"},{"parameters":{"resource":"file","fileId":"={{ $('Telegram Trigger').item.json.message.photo[$('Telegram Trigger').item.json.message.photo.length -1 ].file_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-400,256],"id":"2620b987-13ed-4fbc-98ba-7f377cafedad","name":"Get Image File","webhookId":"1071cbf2-54d8-4005-b067-5a9f592eb1b0","credentials":{"telegramApi":{"id":"7UCg36pupNze5tT7","name":"Telegram account agendador_RafaBot"}}},{"parameters":{"resource":"file","fileId":"={{ $('Telegram Trigger').item.json.message.document.file_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-400,480],"id":"a7e61b2a-e57c-41fd-906c-aacbded01f9a","name":"Get Document File","webhookId":"1071cbf2-54d8-4005-b067-5a9f592eb1b0","credentials":{"telegramApi":{"id":"7UCg36pupNze5tT7","name":"Telegram account agendador_RafaBot"}}},{"parameters":{"amount":"={{ $json.delay }}"},"name":"Wait (Random Delay)","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1600,176],"id":"2f7f2c10-ff2f-4ac2-a6ac-8a9acef7075c","webhookId":"3c7eaa1d-4691-44b0-8b11-a716fa0611cd"},{"parameters":{"amount":"={{ $('Split Paragraphs & Writing Delay1').item.json.delayArray[ $('Get Counter Value').item.json.typing -1 ] }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3824,720],"id":"84b6c363-9db6-46e4-9b06-2057085e76dd","name":"Wait (Typing)","webhookId":"60385871-b7b7-4274-945c-2ae0e609a0b2"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[448,496],"id":"85e849f2-310b-4e09-84cd-790429c13c50","name":"Wait","webhookId":"4296dc51-5bf5-4489-bdfc-eff6d430fc68"},{"parameters":{"operation":"sendChatAction","chatId":"={{ $('Telegram Trigger').item.json.message.from.id }}","action":"record_audio"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2448,464],"id":"0c344232-a77c-4b69-9a9c-1a9e171cc623","name":"Send Record Audio Action","webhookId":"9945e9f4-9999-46df-8c9a-ab117c3e0af9","credentials":{"telegramApi":{"id":"7UCg36pupNze5tT7","name":"Telegram account agendador_RafaBot"}}},{"parameters":{"resource":"audio","input":"={{ $('Calendar agent').item.json.output }}","options":{"response_format":"opus"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2656,464],"id":"21b60c03-d6ac-4d5e-b3b2-a75135c6e4fd","name":"Generate Audio","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"operation":"sendAudio","chatId":"={{ $('Telegram Trigger').item.json.message.from.id }}","binaryData":true,"additionalFields":{"parse_mode":"HTML","reply_to_message_id":"={{ $('Telegram Trigger').item.json.message.message_id }}"}},"name":"Send Audio Message","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2832,464],"id":"be92ec86-21aa-40df-9758-11a8df8e1c91","webhookId":"c205aea3-7027-4a38-97e7-661f6182fa09","credentials":{"telegramApi":{"id":"7UCg36pupNze5tT7","name":"Telegram account agendador_RafaBot"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2976,704],"id":"4b1fd8dc-d42f-42f5-b454-93758fd50adc","name":"Loop Over Items (Paragraph)"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.from.id }}","text":"={{$('Split Paragraphs & Writing Delay1').item.json.paragraph }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"name":"Send Text Message","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[4224,704],"id":"459271d2-9278-4233-a0fa-3f516b2e07d7","webhookId":"c205aea3-7027-4a38-97e7-661f6182fa09","credentials":{"telegramApi":{"id":"7UCg36pupNze5tT7","name":"Telegram account agendador_RafaBot"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{"temperature":0}},"id":"57425db2-d2eb-4278-a584-46239ad72b14","name":"Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[928,960],"credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"promptType":"define","text":"={{ $json.messages.join() }}\nCaption: {{ $json.messages.caption || null }}","options":{"systemMessage":"=Eres un asistente de calendario útil. Puedes comprobar la disponibilidad y recuperar eventos de Google Calendar, así como crear eventos nuevos y borrar eventos.\nCuando los usuarios pregunten por fechas, utiliza las herramientas del calendario para obtener la información.\nIndica siempre los rangos de fechas de forma clara al usar las herramientas.\n\nUsa el input para obtener los datos y conviértelos en campos que sean entendibles por Google Calendar:\n\nLa primera hora será la de inicio (start time).\n\nLa segunda hora será la de finalización (end time).\n\nAñade también los asistentes desde el input. Así como una descripción si la hay.\n\nDebes identificar si la acción es consultar, añadir o borrar eventos.\nConvierte los datos a JSON para que sean entendibles por Google Calendar y crea los campos en JSON para poder usarlos en los siguientes nodos.\n\nEl título del evento debe generarse como:\n\"Reunión\" + nombre de los usuarios que asistan.\n\nNecesitas los correos electrónicos de los participantes, pídelos expresamente y complétalos en el JSON.\nSi consideras que hacen falta más datos para la descripción del evento, solicítalos también.\n\n⚠️ No inventes correos de los participantes: pide siempre los datos reales antes de crear el evento.\nCuando te pidan borrar uno o varios eventos, localiza los eventos en el calendario y copia sus id para pasárselos al nodo de borrar eventos y que dicho nodo pueda borrarlos.\n\nTienes acceso a:\n\n1. Herramienta de Calendario: Úsala cuando el usuario quiera programar eventos, verificar su agenda, o cualquier cosa relacionada con fechas y citas.\n\n2. Herramienta de Gmail: Úsala cuando el usuario quiera enviar correos, buscar correos, o cualquier cosa relacionada con email.\nAnaliza el mensaje del usuario y decide qué herramienta usar. Después de usar la herramienta, genera una respuesta clara y útil para el usuario en español.\nLa fecha de hoy es: {{ $now }} y la hora Europe/Madrid","maxIterations":10,"returnIntermediateSteps":false,"passthroughBinaryImages":true,"batching":{},"enableStreaming":true}},"id":"5fa54574-448d-40a0-a1d0-c2e3f13b5186","name":"Calendar agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[1456,544]},{"parameters":{"calendar":{"__rl":true,"value":"bestfranquicias@gmail.com","mode":"list","cachedResultName":"bestfranquicias@gmail.com"},"start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}","end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}","useDefaultReminders":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Use_Default_Reminders', ``, 'boolean') }}","additionalFields":{"attendees":["={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('attendees0_Attendees', ``, 'string') }}"],"color":"7","description":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}","summary":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[1376,944],"id":"7b99b851-894c-47f9-8968-ac201c0d387c","name":"Create an event in Google Calendar","credentials":{"googleCalendarOAuth2Api":{"id":"DDGUQwdD8fqXiUrz","name":"Google Calendar account Bestfranquicias"}}},{"parameters":{"resource":"calendar","calendar":{"__rl":true,"value":"bestfranquicias@gmail.com","mode":"list","cachedResultName":"bestfranquicias@gmail.com"},"timeMin":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start_Time', `Start date for availability check`, 'string') }}","timeMax":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End_Time', `End date for availability check`, 'string') }}","options":{}},"id":"63f499ad-2512-4536-a43b-929644432628","name":"Get disponibilidad","type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[1216,944],"credentials":{"googleCalendarOAuth2Api":{"id":"DDGUQwdD8fqXiUrz","name":"Google Calendar account Bestfranquicias"}}},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"bestfranquicias@gmail.com","mode":"list","cachedResultName":"bestfranquicias@gmail.com"},"options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[1664,944],"id":"a5df38f5-8b9f-4f06-a2f8-1e811100addd","name":"Get many events in Google Calendar","credentials":{"googleCalendarOAuth2Api":{"id":"DDGUQwdD8fqXiUrz","name":"Google Calendar account Bestfranquicias"}}},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"bestfranquicias@gmail.com","mode":"list","cachedResultName":"bestfranquicias@gmail.com"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[1520,944],"id":"35610c85-c03d-4cda-8c3a-8bfd06992bab","name":"Delete an event in Google Calendar","credentials":{"googleCalendarOAuth2Api":{"id":"DDGUQwdD8fqXiUrz","name":"Google Calendar account Bestfranquicias"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger').item.json.message.chat.id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1056,960],"id":"c6fd5005-b7ba-48f0-8cf6-d853029b6b59","name":"Simple Memory1"},{"parameters":{"updates":["message","*"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-1248,288],"id":"e981b52a-7513-4f7f-98c9-b665ba91cf5a","name":"Telegram Trigger","webhookId":"ff7e7fe0-69d9-4b2c-b6a3-7a2ff75ae22b","credentials":{"telegramApi":{"id":"7UCg36pupNze5tT7","name":"Telegram account agendador_RafaBot"}}},{"parameters":{"sendTo":"pete@leoneses.com","subject":"Reunión","message":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[1824,944],"id":"1f94ff43-4448-4072-9711-8d8036b74e4d","name":"Gmail","webhookId":"bcb68fd2-9021-4108-a7d1-6e705a455b8e","credentials":{"gmailOAuth2":{"id":"1dWL4JO1wT5xRo2y","name":"Gmail account Bestfranquicias"}}},{"parameters":{"operation":"getAll","filters":{}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[1968,944],"id":"cf41e2b4-fc8d-4e42-acc6-805d5f02f735","name":"Get many messages in Gmail","webhookId":"c9d49319-0bff-4539-ad31-1b89a7a3c4b5","credentials":{"gmailOAuth2":{"id":"1dWL4JO1wT5xRo2y","name":"Gmail account Bestfranquicias"}}}],"connections":{"Get Audio File":{"main":[[{"node":"Transcribe Recording","type":"main","index":0}]]},"Transcribe Recording":{"main":[[{"node":"Normalize Content","type":"main","index":0}]]},"Analyze image":{"main":[[{"node":"Normalize Content2","type":"main","index":0}]]},"Upload Doc":{"main":[[{"node":"Get Doc Processing Info","type":"main","index":0}]]},"Get Doc Processing Info":{"main":[[{"node":"Is Ready","type":"main","index":0}]]},"Is Ready":{"main":[[{"node":"Download Markdown Info","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Download Markdown Info":{"main":[[{"node":"Normalize Content3","type":"main","index":0}]]},"Save Text to Redis":{"main":[[{"node":"Split Paragraphs & Reading Delay","type":"main","index":0}]]},"Check Continue Condition":{"main":[[{"node":"Delete Redis Key","type":"main","index":0}]]},"Split Paragraphs & Reading Delay":{"main":[[{"node":"Wait (Random Delay)","type":"main","index":0}]]},"Get Text from Redis3":{"main":[[{"node":"Check Continue Condition","type":"main","index":0}]]},"Get Message":{"main":[[{"node":"Save Text to Redis","type":"main","index":0}]]},"Delete Redis Key":{"main":[[{"node":"Calendar agent","type":"main","index":0}]]},"Should Respond With Audio":{"main":[[{"node":"Send Record Audio Action","type":"main","index":0}],[{"node":"Split Paragraphs & Writing Delay1","type":"main","index":0}]]},"Clear Previous Conversations":{"main":[[{"node":"Loop Over Items (Paragraph)","type":"main","index":0}]]},"Counter":{"main":[[{"node":"Send Typing Action","type":"main","index":0}]]},"Send Typing Action":{"main":[[{"node":"Get Counter Value","type":"main","index":0}]]},"Get Counter Value":{"main":[[{"node":"Wait (Typing)","type":"main","index":0}]]},"Finished Typing":{"main":[[{"node":"Send Text Message","type":"main","index":0}],[{"node":"Counter","type":"main","index":0}]]},"Reset Counter":{"main":[[{"node":"Loop Over Items (Paragraph)","type":"main","index":0}]]},"Split Paragraphs & Writing Delay1":{"main":[[{"node":"Clear Previous Conversations","type":"main","index":0}]]},"Edit Image":{"main":[[{"node":"Analyze image","type":"main","index":0}]]},"Normalize Content":{"main":[[{"node":"Get Message","type":"main","index":0}]]},"Normalize Content1":{"main":[[{"node":"Get Message","type":"main","index":0}]]},"Normalize Content2":{"main":[[{"node":"Get Message","type":"main","index":0}]]},"Normalize Content3":{"main":[[{"node":"Get Message","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Get Audio File","type":"main","index":0}],[{"node":"Normalize Content1","type":"main","index":0}],[{"node":"Get Image File","type":"main","index":0}],[{"node":"Get Document File","type":"main","index":0}],[],[{"node":"Notify About Message","type":"main","index":0}]]},"Get Image File":{"main":[[{"node":"Edit Image","type":"main","index":0}]]},"Get Document File":{"main":[[{"node":"Upload Doc","type":"main","index":0}]]},"Wait (Random Delay)":{"main":[[{"node":"Get Text from Redis3","type":"main","index":0}]]},"Wait (Typing)":{"main":[[{"node":"Finished Typing","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Get Doc Processing Info","type":"main","index":0}]]},"Send Record Audio Action":{"main":[[{"node":"Generate Audio","type":"main","index":0}]]},"Generate Audio":{"main":[[{"node":"Send Audio Message","type":"main","index":0}]]},"Loop Over Items (Paragraph)":{"main":[[],[{"node":"Counter","type":"main","index":0}]]},"Send Text Message":{"main":[[{"node":"Reset Counter","type":"main","index":0}]]},"Model":{"ai_languageModel":[[{"node":"Calendar agent","type":"ai_languageModel","index":0}]]},"Calendar agent":{"main":[[{"node":"Should Respond With Audio","type":"main","index":0}]]},"Create an event in Google Calendar":{"ai_tool":[[{"node":"Calendar agent","type":"ai_tool","index":0}]]},"Get disponibilidad":{"ai_tool":[[{"node":"Calendar agent","type":"ai_tool","index":0}]]},"Get many events in Google Calendar":{"ai_tool":[[{"node":"Calendar agent","type":"ai_tool","index":0}]]},"Delete an event in Google Calendar":{"ai_tool":[[{"node":"Calendar agent","type":"ai_tool","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"Calendar agent","type":"ai_memory","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Gmail":{"ai_tool":[[{"node":"Calendar agent","type":"ai_tool","index":0}]]},"Get many messages in Gmail":{"ai_tool":[[{"node":"Calendar agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5cc7a880-82d7-47ea-a07e-fe96ab00566e","triggerCount":0,"shared":[{"updatedAt":"2025-10-03T19:15:04.262Z","createdAt":"2025-10-03T19:15:04.262Z","role":"workflow:owner","workflowId":"8s0o7Zo5882uyvsn","projectId":"prlZ3bTXg0wKi0D1"}],"tags":[{"updatedAt":"2025-10-24T20:50:33.076Z","createdAt":"2025-10-24T20:50:33.076Z","id":"4FYwqvochB0nbuwp","name":"Funcional"}]}