ai-marketing-team-UxECFKuRPAEXZJTF.json
{"updatedAt":"2025-10-19T17:23:47.000Z","createdAt":"2025-10-19T13:13:15.085Z","id":"UxECFKuRPAEXZJTF","name":"AI Marketing Team","active":false,"isArchived":false,"nodes":[{"parameters":{"name":"createImage","description":"Call this tool to create an image. ","workflowId":{"__rl":true,"value":"ubHPZ4FgNaXQOUVB","mode":"list","cachedResultUrl":"/workflow/ubHPZ4FgNaXQOUVB","cachedResultName":"Create Image"},"workflowInputs":{"mappingMode":"defineBelow","value":{"imageTitle":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('imageTitle', ``, 'string') }}","imagePrompt":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('imagePrompt', ``, 'string') }}","chatID":"={{ $('Telegram Trigger').item.json.message.chat.id }}"},"matchingColumns":[],"schema":[{"id":"imageTitle","displayName":"imageTitle","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"imagePrompt","displayName":"imagePrompt","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"chatID","displayName":"chatID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[1584,512],"id":"cc6706e1-00ff-4ea7-8e71-7ef2f2bda426","name":"Create Image"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.message }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2080,160],"id":"b668564f-58fd-4b8f-a8cb-8d60ab841a7c","name":"Telegram","webhookId":"fbdb3bd7-490b-4d3e-961e-e2d398294649","credentials":{"telegramApi":{"id":"jDxsVgrb1fG40Bm1","name":"Telegram n8n_the2tor_bot"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger').item.json.message.chat.id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[912,512],"id":"84aef460-1798-4967-b388-0e306ac149b6","name":"Simple Memory"},{"parameters":{"name":"editImage","description":"Call this tool to edit an image.","workflowId":{"__rl":true,"value":"nMBpMe21l4gDEjOI","mode":"list","cachedResultName":"Edit Image"},"workflowInputs":{"mappingMode":"defineBelow","value":{"image":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('image', `The title of the image the user wants to edit`, 'string') }}","chatID":"={{ $('Telegram Trigger').item.json.message.chat.id }}","request":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('request', `The edit the user wants to make to the image`, 'string') }}","pictureID":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('pictureID', `The ID of the image to edit`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"image","displayName":"image","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"request","displayName":"request","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"chatID","displayName":"chatID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"pictureID","displayName":"pictureID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[1744,512],"id":"93427825-c79f-4c26-a7ac-8fe34d5a6805","name":"Edit Image"},{"parameters":{"name":"searchImages","description":"Call this tool to search the image database.","workflowId":{"__rl":true,"value":"zDYAKGCIEChJa1JH","mode":"list","cachedResultName":"Search Images"},"workflowInputs":{"mappingMode":"defineBelow","value":{"intent":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('intent', `The intent of the user. This can either be \"Get\" or \"Edit\"`, 'string') }}","image":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('image', `The image title`, 'string') }}","chatID":"={{ $('Telegram Trigger').item.json.message.chat.id }}"},"matchingColumns":[],"schema":[{"id":"intent","displayName":"intent","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"image","displayName":"image","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"chatID","displayName":"chatID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[1984,512],"id":"55b85e35-5fc7-4a94-9886-2524c038b5ea","name":"Search Images"},{"parameters":{"name":"blogPost","description":"Call this tool to create a blog post using a topic and a target audience.","workflowId":{"__rl":true,"value":"sS2JMp5z7YiqtJpa","mode":"list","cachedResultName":"Blog Post"},"workflowInputs":{"mappingMode":"defineBelow","value":{"blogTopic":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('blogTopic', `The topic of the blog.`, 'string') }}","targetAudience":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('targetAudience', `The target audience for the blog.`, 'string') }}","chatID":"={{ $('Telegram Trigger').item.json.message.chat.id }}"},"matchingColumns":[],"schema":[{"id":"blogTopic","displayName":"blogTopic","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"targetAudience","displayName":"targetAudience","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"chatID","displayName":"chatID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[1408,512],"id":"300ab492-5b9e-41e2-9f78-df82664452e3","name":"Blog Post"},{"parameters":{"content":"# Marketing Team","height":400,"width":460},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1408,0],"id":"b50eeeb2-94c6-499d-92d1-b119f8775655","name":"Sticky Note"},{"parameters":{"name":"linkedinPost","description":"Call this tool to create a LinkedIn post using a topic and a target audience.","workflowId":{"__rl":true,"value":"RgUBWsswXoQsX2tI","mode":"list","cachedResultName":"LinkedIn Post"},"workflowInputs":{"mappingMode":"defineBelow","value":{"postTopic":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('postTopic', `The topic of the LinkedIn post`, 'string') }}","targetAudience":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('targetAudience', `The target audience of the LinkedIn post`, 'string') }}","chatID":"={{ $('Telegram Trigger').item.json.message.chat.id }}"},"matchingColumns":[],"schema":[{"id":"postTopic","displayName":"postTopic","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"targetAudience","displayName":"targetAudience","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"chatID","displayName":"chatID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[1248,512],"id":"18e29ed2-51ef-4d14-ab16-c3ee95291b3b","name":"LinkedIn Post"},{"parameters":{"assignments":{"assignments":[{"id":"fe7ecc99-e1e8-4a5e-bdd6-6fce9757b234","name":"text","value":"={{ $json.message.text }}","type":"string"}]},"options":{}},"id":"8db379ad-a222-4e2a-8b8a-4524b90eb368","name":"Set 'Text'","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1120,240]},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}","additionalFields":{}},"id":"91f6c40c-c985-4204-8ef9-4c00371de52b","name":"Download Voice File","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1040,80],"webhookId":"c0b376b1-7b63-41b6-8063-0b3096b8333d","credentials":{"telegramApi":{"id":"jDxsVgrb1fG40Bm1","name":"Telegram n8n_the2tor_bot"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"9dea34df-3365-4538-bf1d-43e8bf16049d","name":"Transcribe Audio","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[1200,80],"credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Voice"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8c844924-b2ed-48b0-935c-c66a8fd0c778","leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"}]},"options":{}},"id":"62557b56-d44b-4dd9-8c10-8cf61cf88109","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[784,160]},{"parameters":{"updates":["message"],"additionalFields":{}},"id":"ba0e879f-6412-4661-8456-a980522c89c6","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[640,160],"webhookId":"99eab1a0-569d-4f0f-a49e-578a02abfe63","credentials":{"telegramApi":{"id":"jDxsVgrb1fG40Bm1","name":"Telegram n8n_the2tor_bot"}}},{"parameters":{"content":"# Trigger\n","height":400,"width":360,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[592,0],"id":"24478bd3-daca-419b-a4a0-794442bb7990","name":"Sticky Note1"},{"parameters":{"content":"# Content Creation","height":220,"width":480,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1040,432],"id":"d06103a7-e59f-461e-8605-0f35ab2dd255","name":"Sticky Note2"},{"parameters":{"content":"# Image Creation","height":220,"width":320,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1552,432],"id":"253b47ab-ec5e-448d-ae12-770dbb9caee1","name":"Sticky Note3"},{"parameters":{"content":"# Image Database","height":220,"width":300,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1888,432],"id":"5819a9ed-4e36-4a83-968f-e376c5782293","name":"Sticky Note4"},{"parameters":{"content":"# Response\n\n","height":400,"width":300,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1888,0],"id":"04f988c3-e724-4522-8f08-d037fd01f7e1","name":"Sticky Note5"},{"parameters":{"content":"# Brain\n\n","height":220,"width":440,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[592,432],"id":"ebc0e3bb-803b-44eb-9668-7c64fb2a6cfd","name":"Sticky Note6"},{"parameters":{"content":"# Voice or Text","height":400,"width":420,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[960,0],"id":"b787b15a-b1df-460e-b453-ae23867f6da4","name":"Sticky Note7"},{"parameters":{"name":"video","description":"Call this tool to create a video.","workflowId":{"__rl":true,"value":"rlR2qmkeno6bu2V5","mode":"list","cachedResultUrl":"/workflow/rlR2qmkeno6bu2V5","cachedResultName":"Faceless Video"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[{"id":"videoTopic","displayName":"videoTopic","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"chatID","displayName":"chatID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[1088,512],"id":"597df5fd-1062-4ba6-81a8-0c108b597079","name":"Video"},{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":"=# Overview\nYou are a marketing team AI agent. Your job is to help the user create and edit images based on the request, or create content.\n\n## Tools\ncreateImage - Use this to create an image. Send the requested image prompt to this tool.\neditImage - Use this to edit an image. The user might also say \"make\" rather than \"edit\".\nImage Database - Use this to search the image database. \nblogPost - Use this to create a blog post.\nlinkedinPost - Use this to create a LinkedIn post.\nvideo - Use this tool to create a video.\nThink - Use this if you need help making a decision.\n\n## Instructions\n- If the user asks to 'edit that image' or 'make that...', this indicates they want to edit the last image in the database, the most recent one.\n- If the user requests a blog post or LinkedIn post, use the \"blogPost\" or \"linkedinPost\" tool and output: \"Here's that post you requested. Hope you enjoy it.\"\n\n## Output\n- Make sure to return the image link as a clickable link\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[1504,160],"id":"23299707-323c-430e-b728-60aadd2b786f","name":"Marketing Team Agent","executeOnce":false},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[768,512],"id":"b0407b18-9107-44fc-b9a2-8ed53f2795eb","name":"Think"},{"parameters":{"content":"# 📋 Setup Guide  \n**Author: [Nate Herk](https://www.youtube.com/@nateherk/videos)**\n---\n### ✅ First Steps\n1. **Import the following workflows** into your n8n environment:\n   - Video\n   - LinkedIn Post\n   - Blog Post\n   - Create Image\n   - Edit Image\n   - Search Images\n\n2. **Link all workflows** together appropriately.\n   - Make sure that the tools the Marketing Team Agent uses are correctly linked to these workflows.\n   - Rename workflows as needed to fit your naming system.\n---\n\n### 🔗 Credentials to Connect\n- **[Telegram Credential](https://telegram.org/)** (for outbound/inbound communication)\n- **[OpenRouter](https://openrouter.ai/) Credential** (for AI requests)\n- **[Tavily](https://tavily.com/) Credential** (for research inside LinkedIn Post and Blog Post workflows)\n---\n\n### 🔑 API Keys to Configure\nInside the **Video Workflow**:\n- **[PiAPI](https://piapi.ai/) API Key** (for video generation)\n- **[Runway](https://runwayml.com/) API Key** (for video processing)\n- **[ElevenLabs](https://elevenlabs.io/) API Key** (for voice generation)\n\nInside the **LinkedIn Post** and **Blog Post Workflows**:\n- **[Tavily](https://tavily.com/) API Key** (for research assistance)\n---\n\n### 📄 Templates to Download and Connect\n- **[Creatomate](https://creatomate.com/) Image Template**  \n  → Download from the Free Skool Community\n\n- **[Google Sheets Log Template](https://docs.google.com/spreadsheets/d/1wQxM9cAwewCigPH22KDidMu_i9j_dx4MHEa5rmJiw5I/edit?usp=sharing)**  \n  → Connect it to your n8n Google Sheets node to track content outputs.\n---\n\nMake sure all credentials, APIs, and templates are properly set before running the full system!\n","height":1000,"width":560},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"2703d43d-5582-4f77-8e1c-a3daa71e2c4f","name":"Sticky Note8"},{"parameters":{"jsCode":"function splitMessage(message, limit = 4096) {\n    const messages = [];\n    let currentChunk = '';\n\n    const words = message.split(' ');\n\n    for (const word of words) {\n        if ((currentChunk + word).length <= limit) {\n            currentChunk += (currentChunk ? ' ' : '') + word;\n        } else {\n            messages.push(currentChunk);\n            currentChunk = word;\n        }\n    }\n\n    if (currentChunk) {\n        messages.push(currentChunk);\n    }\n\n    return messages;\n}\n\n// Ejemplo de uso:\nconst longMessage = $input.first().json.output; // Cambia esto por tu variable\nconst messageChunks = splitMessage(longMessage);\nreturn messageChunks.map((chunk) => ({json: {message: chunk}}));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1888,160],"id":"0deaa90d-d14d-4d49-80a6-f4f75c42db30","name":"Code in JavaScript"},{"parameters":{"model":"openai/gpt-5-mini","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[624,512],"id":"f3f829d4-d021-49d1-9957-e6c4b3e7ac27","name":"GPT 5","credentials":{"openRouterApi":{"id":"hrgXqQ9MslXmo2ow","name":"OpenRouter account"}}}],"connections":{"Create Image":{"ai_tool":[[{"node":"Marketing Team Agent","type":"ai_tool","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Marketing Team Agent","type":"ai_memory","index":0}]]},"Edit Image":{"ai_tool":[[{"node":"Marketing Team Agent","type":"ai_tool","index":0}]]},"Search Images":{"ai_tool":[[{"node":"Marketing Team Agent","type":"ai_tool","index":0}]]},"Blog Post":{"ai_tool":[[{"node":"Marketing Team Agent","type":"ai_tool","index":0}]]},"LinkedIn Post":{"ai_tool":[[{"node":"Marketing Team Agent","type":"ai_tool","index":0}]]},"Download Voice File":{"main":[[{"node":"Transcribe Audio","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Download Voice File","type":"main","index":0}],[{"node":"Set 'Text'","type":"main","index":0}]]},"Transcribe Audio":{"main":[[{"node":"Marketing Team Agent","type":"main","index":0}]]},"Set 'Text'":{"main":[[{"node":"Marketing Team Agent","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Video":{"ai_tool":[[{"node":"Marketing Team Agent","type":"ai_tool","index":0}]]},"Marketing Team Agent":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Think":{"ai_tool":[[{"node":"Marketing Team Agent","type":"ai_tool","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"GPT 5":{"ai_languageModel":[[{"node":"Marketing Team Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"483bc494-8c94-4b04-9e9e-23e1a1b20a9f","triggerCount":0,"shared":[{"updatedAt":"2025-10-19T13:13:15.088Z","createdAt":"2025-10-19T13:13:15.088Z","role":"workflow:owner","workflowId":"UxECFKuRPAEXZJTF","projectId":"prlZ3bTXg0wKi0D1"}],"tags":[{"updatedAt":"2025-10-19T11:30:21.425Z","createdAt":"2025-10-19T11:30:21.425Z","id":"URen6Kt1FqZ3jhaz","name":"Marketing Team"}]}