alexa-gemini-C2iKVnVQDBF0JtQQ.json
{"updatedAt":"2025-10-11T11:56:27.000Z","createdAt":"2025-10-11T11:14:33.617Z","id":"C2iKVnVQDBF0JtQQ","name":"Alexa-Gemini","active":true,"isArchived":false,"nodes":[{"parameters":{"respondWith":"json","responseBody":"={\n  \"version\": \"1.0\",\n  \"sessionAttributes\": {\n    \"countActionList\": {\n      \"read\": true,\n      \"category\": true\n    }\n  }{{ (typeof $json.response !== 'undefined' && $json.response !== null) ? ',\"response\": ' + JSON.stringify($json.response) : '' }}\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[768,432],"id":"8c53b700-7032-41f0-982b-8beaed65bdc0","name":"Respond to Webhook"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.request.type }}","rightValue":"LaunchRequest","operator":{"type":"string","operation":"equals"},"id":"cb591d54-51db-475e-8f75-aa17b008a875"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"60b2e95d-b0e1-4fd5-bfd3-2acc0e196b0c","leftValue":"={{ $json.body.request.type }}","rightValue":"SessionEndedRequest","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7ba00338-55f1-4039-809a-89f137d3969b","leftValue":"={{ $json.body.request.type }}","rightValue":"IntentRequest","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-608,400],"id":"fe769ce6-8ea2-4634-93cf-171d708b452a","name":"Request type Router"},{"parameters":{"promptType":"define","text":"=The user request is the following:\n\n```\n\n{{ $json.body.request.intent.slots.question.value }}\n\n```\n\nIf needed, remember that the current date and time are: {{ $now.toISO() }}.\n","options":{"systemMessage":"=You are a friendly and versatile assistant. You have a vast knowledge of any topic. The user might mix questions about the tools you have available, but also mix them with generic questions, always try to understand the context and do not take the user's intent for granted.\nAlways respond in an exhaustive, friendly and concise manner. Follow the following output guidelines:\n\n# IMPORTANT: OUTPUT GUIDELINES\n\n- Interactions with the user will happen through voice-controlled devices, so do not use emojis and special formatting\n- Respond using only text that is easy to convey in audio format (TTS) in response to the user\n- NEVER use the characters `\\n` (new line) and `\"`, otherwise this will invalidate the output. The text must be extremely simple to embed in a JSON string, and clear for subsequent reading by a TTS model."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[-96,752],"id":"5b10c3fb-8b0f-4660-af54-c43ad1bf331b","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-96,944],"id":"7014d867-775f-4cce-8177-d68618e067be","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"ma7OjN6JExv5iRZ1","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Alexa Skill Webhook').item.json.body.session.sessionId }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[32,912],"id":"19af9ff7-d165-4520-b840-6bb7e2314904","name":"Simple Memory"},{"parameters":{"httpMethod":"POST","path":"c8fda81e-73c8-4ccf-b806-57756dedf947","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-816,416],"id":"840b57da-7448-42c3-8cc9-0147877dcd94","name":"Alexa Skill Webhook","webhookId":"c8fda81e-73c8-4ccf-b806-57756dedf947"},{"parameters":{"content":"\n\n\n\n\n\n\n\n\n\n\n\n\n\n_Route the request according to the user's intent_","height":272,"width":176,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-400,480],"typeVersion":1,"id":"073e8330-94a7-4cbd-896d-2c66e12f155f","name":"Sticky Note"},{"parameters":{"content":"_Handle skill Start / Stop and session close_","height":592,"width":208},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"4aede0ae-f1b0-4c98-827c-17cdbc426c85","name":"Sticky Note1"},{"parameters":{"content":"## Handle the LLM conversation intent","height":480,"width":720,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-144,640],"typeVersion":1,"id":"1999333c-27e8-458c-afd6-35bf131254bc","name":"Sticky Note2"},{"parameters":{"content":"_Determine the request type (if the user has opened the skill, closed it, or wants to interact with the LLM)_","height":288,"width":208,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-656,304],"typeVersion":1,"id":"d7a09bc4-c3c5-4d93-8851-e88ea9dbc96c","name":"Sticky Note3"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ce1db873-0b88-4f1b-9458-d06ed274b539","leftValue":"={{ $json.body.request.intent.name }}","rightValue":"AMAZON.StopIntent","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"49394ba5-74df-4ba5-ba0e-33b761ce2c8f","leftValue":"={{ $json.body.request.intent.name }}","rightValue":"LLMIntent","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-368,512],"id":"7d0b893d-68f4-4817-ae95-cdfc8abec0b4","name":"Intent router"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"type\": \"SessionEndedRequest\",\n  \"requestId\": \"{{ $json.body.request.requestId }}\",\n  \"timestamp\": \"{{ $now.toISO() }}\",\n  \"reason\": \"USER_INITIATED\"\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[48,240],"id":"a00a66c9-67a5-41ef-92ea-12457540c6c8","name":"Set response fields (SessionEndedRequest)"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"response\": {\n    \"outputSpeech\": {\n      \"type\": \"PlainText\",\n      \"text\": \"{{ $json.output }}\"\n    },\n    \"card\": {\n      \"type\": \"Simple\",\n      \"title\": \"Reply from Gemini\",\n      \"content\": \"{{ $json.output }}\"\n    },\n    \"reprompt\": {\n      \"outputSpeech\": {\n        \"type\": \"PlainText\",\n        \"text\": \"start your sentence with: \\\"gemini\\\", to ask a question\"\n      }\n    },\n    \"shouldEndSession\": false\n  }\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[432,752],"id":"bf1d32ce-99c1-450c-be35-d16e9817b4d4","name":"Set response fields (LLMIntent)"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"response\": {\n    \"outputSpeech\": {\n      \"type\": \"PlainText\",\n      \"text\": \"Bye bye!\"\n    }\n  },\n  \"shouldEndSession\": false\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[48,416],"id":"7598be57-6465-4eef-926f-1a26c919ccf0","name":"Set response fields (AMAZON.StopIntent)"},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"response\": {\n    \"outputSpeech\": {\n      \"type\": \"PlainText\",\n      \"text\": \"start your sentence with: \\\"gemini\\\", to ask a question\"\n    },\n    \"reprompt\": {\n      \"outputSpeech\": {\n        \"type\": \"PlainText\",\n        \"text\": \"start your sentence with: \\\"gemini\\\", to ask a question\"\n      }\n    },\n    \"shouldEndSession\": false\n  }\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[48,64],"id":"6aa81a9d-6535-4bda-9538-91e1ab426b94","name":"Set response fields (LaunchRequest)"},{"parameters":{"options":{"safesearch":0}},"type":"@n8n/n8n-nodes-langchain.toolSearXng","typeVersion":1,"position":[272,960],"id":"70609f28-173c-417e-b111-ab6378d90a44","name":"SearXNG","disabled":true},{"parameters":{"sseEndpoint":"http://127.0.0.1:5678/mcp/04f71579-6b7b-49cb-8ef7-db29d3189ab2","options":{}},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[160,944],"id":"761bbbd2-9cb2-4d4d-8da2-ea38d9084cfa","name":"Calendar MCP Client"},{"parameters":{"jsCode":"let text = $input.first().json.output;\n\n// Escape double quotes\ntext = text.replace(/\"/g, '\\\\\"');\n\n// Remove linefeeds\ntext = text.replace(/\\n/g, '');\n\n// Replace the original text\n$input.first().json.output = text;\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[256,752],"id":"8544d237-4685-44e4-91f2-60ac38ed65f8","name":"Escape special chars"},{"parameters":{"chatId":"<YOUR-TELEGRAM-CHATID>","text":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Text', ``, 'string') }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegramTool","typeVersion":1.2,"position":[416,960],"id":"1adf45a8-4760-4308-9fa3-84ca24209d64","name":"Send a text message in Telegram","webhookId":"2888a723-f40e-4acd-ba67-c3a4abae0ff2","credentials":{"telegramApi":{"id":"7UCg36pupNze5tT7","name":"Telegram account"}}}],"connections":{"Request type Router":{"main":[[{"node":"Set response fields (LaunchRequest)","type":"main","index":0}],[{"node":"Set response fields (SessionEndedRequest)","type":"main","index":0}],[{"node":"Intent router","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Escape special chars","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Alexa Skill Webhook":{"main":[[{"node":"Request type Router","type":"main","index":0}]]},"Intent router":{"main":[[{"node":"Set response fields (AMAZON.StopIntent)","type":"main","index":0}],[{"node":"AI Agent","type":"main","index":0}]]},"Set response fields (SessionEndedRequest)":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Set response fields (LLMIntent)":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Set response fields (AMAZON.StopIntent)":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Set response fields (LaunchRequest)":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"SearXNG":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Calendar MCP Client":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Escape special chars":{"main":[[{"node":"Set response fields (LLMIntent)","type":"main","index":0}]]},"Send a text message in Telegram":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"e36f6beb-c75b-433d-9e37-bf829351faa6","triggerCount":1,"shared":[{"updatedAt":"2025-10-11T11:14:33.620Z","createdAt":"2025-10-11T11:14:33.620Z","role":"workflow:owner","workflowId":"C2iKVnVQDBF0JtQQ","projectId":"prlZ3bTXg0wKi0D1"}],"tags":[]}