amazon-to-prestashop-workflow-2wCANqzthWlPuhQJ.json
{"updatedAt":"2025-10-18T08:44:57.000Z","createdAt":"2025-10-15T16:20:50.662Z","id":"2wCANqzthWlPuhQJ","name":"Amazon to PrestaShop Workflow","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"amazon-order","responseMode":"responseNode","options":{}},"id":"685822aa-c90c-484d-8ddc-6c45c8ffcdf1","name":"Webhook Amazon","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-128,224],"webhookId":"eb75ffff-a699-40a6-a38f-d8ad1fafa3de"},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.orderId }}","operation":"isNotEmpty"},{"value1":"={{ $json.customer }}","operation":"isNotEmpty"}]}},"id":"7b17a93a-432a-4d52-8db6-6a3738b1ac1f","name":"Validar Datos","type":"n8n-nodes-base.if","typeVersion":1,"position":[80,224]},{"parameters":{"values":{"string":[{"name":"order_id","value":"={{ $json.orderId }}"},{"name":"customer_email","value":"={{ $json.customer.email }}"},{"name":"customer_name","value":"={{ $json.customer.name }}"},{"name":"shipping_address","value":"={{ $json.shippingAddress.street }}, {{ $json.shippingAddress.city }}, {{ $json.shippingAddress.zipCode }}"},{"name":"phone","value":"={{ $json.customer.phone }}"},{"name":"total_amount","value":"={{ $json.totalAmount }}"},{"name":"currency","value":"={{ $json.currency }}"},{"name":"payment_method","value":"={{ $json.paymentMethod }}"}],"number":[{"name":"total_products","value":"={{ $json.items.length }}"}]},"options":{}},"id":"f6fb571a-1f03-444b-b8f4-05afdb779f29","name":"Transformar Datos","type":"n8n-nodes-base.set","typeVersion":1,"position":[288,128]},{"parameters":{"method":"POST","url":"https://masaifootwear.com/api/orders","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"reference","value":"={{ $json.order_id }}"},{"name":"id_customer","value":"1"},{"name":"id_currency","value":"1"},{"name":"id_lang","value":"1"},{"name":"payment","value":"={{ $json.payment_method }}"},{"name":"total_paid","value":"={{ $json.total_amount }}"},{"name":"current_state","value":"2"}]},"options":{}},"id":"e3e12d83-50a4-4967-8179-e0d5fc44b97e","name":"Crear Pedido PrestaShop","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[480,128],"credentials":{"httpHeaderAuth":{"id":"czZ13v50RjRSM15B","name":"Header Auth account"}}},{"parameters":{"conditions":{"number":[{"value1":"={{ $statusCode }}","operation":"equal","value2":200}]}},"id":"ea9414ca-02f4-4ef0-91aa-625bc6fe19f2","name":"Verificar Creacion","type":"n8n-nodes-base.if","typeVersion":1,"position":[688,128]},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"pedidos","mode":"name"},"text":"=Nuevo Pedido Creado\n\nOrder ID: {{ $json.order_id }}\nCliente: {{ $json.customer_name }}\nEmail: {{ $json.customer_email }}\nTotal: {{ $json.total_amount }} {{ $json.currency }}\nProductos: {{ $json.total_products }}\n\nPedido sincronizado desde Amazon a PrestaShop","otherOptions":{}},"id":"bf7c32d7-d148-4a3c-9a7e-10436858d69a","name":"Notificar Slack Exito","type":"n8n-nodes-base.slack","typeVersion":2.1,"position":[880,-16],"webhookId":"366a7480-c808-41e2-b015-a953cf155cdc","credentials":{"slackApi":{"id":"Eg3K8QLKr4qg8PJ8","name":"Slack account"}}},{"parameters":{"chatId":"={{ $env.TELEGRAM_CHAT_ID }}","text":"=Nuevo Pedido Amazon\n\nPedido: {{ $json.order_id }}\nCliente: {{ $json.customer_name }}\nTotal: {{ $json.total_amount }} {{ $json.currency }}\nDireccion: {{ $json.shipping_address }}\n\nSincronizado con PrestaShop","additionalFields":{}},"id":"30cf9933-bd75-468c-9566-347c8e83339f","name":"Notificar Telegram Exito","type":"n8n-nodes-base.telegram","typeVersion":1.1,"position":[880,112],"webhookId":"62e56afc-7e20-4a31-baec-e26f8324044a","credentials":{"telegramApi":{"id":"7UCg36pupNze5tT7","name":"Telegram account agendador_RafaBot"}}},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"alertas","mode":"name"},"text":"=Error al Crear Pedido\n\nOrder ID: {{ $json.order_id }}\nCliente: {{ $json.customer_name }}\nError: Error en la creacion\n\nRequiere revision manual","otherOptions":{}},"id":"f3d38e8b-57e0-476f-adb6-28f0a70b811b","name":"Alerta Slack Error","type":"n8n-nodes-base.slack","typeVersion":2.1,"position":[880,224],"webhookId":"a464a217-5e0f-4e74-a4da-6cd11ba7e1f7","credentials":{"slackApi":{"id":"Eg3K8QLKr4qg8PJ8","name":"Slack account"}}},{"parameters":{"chatId":"={{ $env.TELEGRAM_CHAT_ID }}","text":"=Error en Sincronizacion\n\nPedido: {{ $json.order_id }}\nCliente: {{ $json.customer_name }}\nNo se pudo crear en PrestaShop\n\nRevisar configuracion","additionalFields":{}},"id":"e44f6008-b21d-4184-a42c-ec5472b15183","name":"Alerta Telegram Error","type":"n8n-nodes-base.telegram","typeVersion":1.1,"position":[880,352],"webhookId":"36c05fc6-a2b4-4a3d-8680-03873c73a3c7","credentials":{"telegramApi":{"id":"7UCg36pupNze5tT7","name":"Telegram account agendador_RafaBot"}}},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"alertas","mode":"name"},"text":"=Datos Invalidos Recibidos\n\nWebhook: Amazon Order\nProblema: Faltan campos obligatorios\n\nVerificar integracion con Amazon","otherOptions":{}},"id":"069bea7d-aaf8-47a7-8500-43e28ff3a878","name":"Alerta Datos Invalidos","type":"n8n-nodes-base.slack","typeVersion":2.1,"position":[288,320],"webhookId":"210eaf35-8e4b-4a89-ac59-11cc57aaee6f","credentials":{"slackApi":{"id":"Eg3K8QLKr4qg8PJ8","name":"Slack account"}}},{"parameters":{"respondWith":"json","responseBody":"={ \"success\": true, \"message\": \"Pedido procesado correctamente\", \"orderId\": \"{{ $json.order_id }}\" }","options":{}},"id":"d1d8e151-527b-4db9-93e9-aebb7d4ed393","name":"Respuesta Webhook Exito","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1088,80]},{"parameters":{"respondWith":"json","responseBody":"={ \"success\": false, \"message\": \"Error al procesar pedido\" }","options":{}},"id":"56393c44-857a-44da-a93a-a716b3131ca3","name":"Respuesta Webhook Error","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1088,272]}],"connections":{"Webhook Amazon":{"main":[[{"node":"Validar Datos","type":"main","index":0}]]},"Validar Datos":{"main":[[{"node":"Transformar Datos","type":"main","index":0}],[{"node":"Alerta Datos Invalidos","type":"main","index":0}]]},"Transformar Datos":{"main":[[{"node":"Crear Pedido PrestaShop","type":"main","index":0}]]},"Crear Pedido PrestaShop":{"main":[[{"node":"Verificar Creacion","type":"main","index":0}]]},"Verificar Creacion":{"main":[[{"node":"Notificar Slack Exito","type":"main","index":0},{"node":"Notificar Telegram Exito","type":"main","index":0}],[{"node":"Alerta Slack Error","type":"main","index":0},{"node":"Alerta Telegram Error","type":"main","index":0}]]},"Notificar Slack Exito":{"main":[[{"node":"Respuesta Webhook Exito","type":"main","index":0}]]},"Notificar Telegram Exito":{"main":[[{"node":"Respuesta Webhook Exito","type":"main","index":0}]]},"Alerta Slack Error":{"main":[[{"node":"Respuesta Webhook Error","type":"main","index":0}]]},"Alerta Telegram Error":{"main":[[{"node":"Respuesta Webhook Error","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"af32d7a3-1950-4059-ba22-235cf351e1f2","triggerCount":0,"shared":[{"updatedAt":"2025-10-15T16:20:50.666Z","createdAt":"2025-10-15T16:20:50.666Z","role":"workflow:owner","workflowId":"2wCANqzthWlPuhQJ","projectId":"prlZ3bTXg0wKi0D1"}],"tags":[]}