asistente-personal-definitivo-dcQ85ql5gCTEBCIH.json
{"updatedAt":"2025-10-24T06:51:11.000Z","createdAt":"2025-10-23T20:45:11.397Z","id":"dcQ85ql5gCTEBCIH","name":"Asistente personal definitivo","active":false,"isArchived":false,"nodes":[{"parameters":{"sendTo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}","subject":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}","message":"={{ $fromAI(\"emailBody\") }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[-1184,1136],"id":"057e7f5e-4151-4f7c-8fc1-f251b36dced9","name":"Enviar Correo","webhookId":"86c8c4b1-13bb-4ebe-acb9-30e1d7082d55","credentials":{"gmailOAuth2":{"id":"1dWL4JO1wT5xRo2y","name":"Gmail account Bestfranquicias"}}},{"parameters":{"operation":"getAll","limit":"={{ $fromAI(\"limit\",\"cuántos correos quiere el usuario\") }}","simple":false,"filters":{"sender":"={{ $fromAI(\"sender\",\"de quién son los correos\") }}"},"options":{}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[-1056,1136],"id":"cf4e93da-4b04-49b7-9c09-e27743daf2d4","name":"Obtener Correos","webhookId":"af4b3298-9037-44b0-aa12-2acbfbb5e66f","credentials":{"gmailOAuth2":{"id":"1dWL4JO1wT5xRo2y","name":"Gmail account Bestfranquicias"}}},{"parameters":{"resource":"draft","subject":"={{ $fromAI(\"subject\") }}","emailType":"html","message":"={{ $fromAI(\"emailBody\") }}","options":{"threadId":"={{ $fromAI(\"threadID\") }}","sendTo":"={{ $fromAI(\"emailAddress\") }}"}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[-880,1152],"id":"af4f6cd8-817b-468b-860c-a55b1aafb480","name":"Crear Borrador","webhookId":"17016bce-d7d7-428a-a56c-f6ea122db8be","credentials":{"gmailOAuth2":{"id":"1dWL4JO1wT5xRo2y","name":"Gmail account Bestfranquicias"}}},{"parameters":{"operation":"reply","messageId":"={{ $fromAI(\"ID\",\"el ID del mensaje\") }}","message":"={{ $fromAI(\"emailBody\") }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[-720,1168],"id":"9c2121bf-6d4c-4114-98ad-f92a07f92ac7","name":"Responder Correo","webhookId":"114785e6-a859-432b-81b4-c490c1c35b1c","credentials":{"gmailOAuth2":{"id":"1dWL4JO1wT5xRo2y","name":"Gmail account Bestfranquicias"}}},{"parameters":{"resource":"label","returnAll":true},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[-560,1168],"id":"cb621b86-9464-4d4d-aa1c-658c211c833a","name":"Obtener Etiquetas","webhookId":"9e08b59e-792d-4566-83f1-9263c9ad86ae","credentials":{"gmailOAuth2":{"id":"1dWL4JO1wT5xRo2y","name":"Gmail account Bestfranquicias"}}},{"parameters":{"operation":"addLabels","messageId":"={{ $fromAI(\"ID\",\"el ID del mensaje\") }}","labelIds":"={{ $fromAI(\"labelID\") }}"},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[-416,1184],"id":"02fffe65-28ae-4630-b476-b41885338e60","name":"Etiquetar Correos","webhookId":"0e951529-2e6d-40bf-ac40-fc0947e242e2","credentials":{"gmailOAuth2":{"id":"1dWL4JO1wT5xRo2y","name":"Gmail account Bestfranquicias"}}},{"parameters":{"calendar":{"__rl":true,"value":"bestfranquicias@gmail.com","mode":"list","cachedResultName":"bestfranquicias@gmail.com"},"start":"={{ $fromAI(\"eventStart\") }}","end":"={{ $fromAI(\"eventEnd\") }}","additionalFields":{"attendees":["={{ $fromAI(\"eventAttendeeEmail\") }}"],"summary":"={{ $fromAI(\"eventTitle\") }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[144,976],"id":"3c354a45-7c34-410b-8cc4-84dde63842fe","name":"Crear Evento con Asistente","credentials":{"googleCalendarOAuth2Api":{"id":"DDGUQwdD8fqXiUrz","name":"Google Calendar account Bestfranquicias"}}},{"parameters":{"calendar":{"__rl":true,"value":"bestfranquicias@gmail.com","mode":"list","cachedResultName":"bestfranquicias@gmail.com"},"start":"={{ $fromAI(\"eventStart\") }}","end":"={{ $fromAI(\"eventEnd\") }}","additionalFields":{"attendees":[],"summary":"={{ $fromAI(\"eventTitle\") }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[272,992],"id":"ad3b9807-3955-4542-a6c9-3585fdb952b9","name":"Crear Evento","credentials":{"googleCalendarOAuth2Api":{"id":"DDGUQwdD8fqXiUrz","name":"Google Calendar account Bestfranquicias"}}},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"=","mode":"id"},"timeMin":"={{ $fromAI(\"dayBefore\",\"el día anterior a la fecha solicitada por el usuario\") }}","timeMax":"={{ $fromAI(\"dayAfter\",\"el día posterior a la fecha solicitada por el usuario\") }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[464,1008],"id":"2570f890-50cf-4beb-8b55-40d07f33e749","name":"Obtener Eventos","credentials":{"googleCalendarOAuth2Api":{"id":"DDGUQwdD8fqXiUrz","name":"Google Calendar account Bestfranquicias"}}},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"=","mode":"id"},"eventId":"={{ $fromAI(\"eventID\") }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[608,1008],"id":"9b0c5697-5ef1-452c-beab-76931e0db15d","name":"Eliminar Evento","credentials":{"googleCalendarOAuth2Api":{"id":"DDGUQwdD8fqXiUrz","name":"Google Calendar account Bestfranquicias"}}},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appK0rbtvf9e7vt6w","mode":"list","cachedResultName":"Contacts","cachedResultUrl":"https://airtable.com/appK0rbtvf9e7vt6w"},"table":{"__rl":true,"value":"tbl08JGCfUK1RhXsG","mode":"list","cachedResultName":"Contacts","cachedResultUrl":"https://airtable.com/appK0rbtvf9e7vt6w/tbl08JGCfUK1RhXsG"},"options":{}},"type":"n8n-nodes-base.airtableTool","typeVersion":2.1,"position":[1168,880],"id":"932d57ae-891c-4419-92c1-fb5fe1f8ec69","name":"Obtener Contactos","credentials":{"airtableTokenApi":{"id":"cJsJ4BCzr5Uc5qR5","name":"Airtable Personal Access Token account"}}},{"parameters":{"toolDescription":"Usa esta herramienta para buscar en internet","method":"POST","url":"https://api.tavily.com/search","sendBody":true,"specifyBody":"json","jsonBody":"{\n    \"api_key\": \"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\",\n    \"query\": \"{searchTerm}\",\n    \"search_depth\": \"basic\",\n    \"include_answer\": true,\n    \"topic\": \"news\",\n    \"include_raw_content\": true,\n    \"max_results\": 3\n} ","placeholderDefinitions":{"values":[{"name":"searchTerm","description":"Sobre qué ha solicitado el usuario escribir un blog","type":"string"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[1936,896],"id":"bbc0c84a-e432-4a94-a77d-5f7347824277","name":"Tavily1"},{"parameters":{"model":"anthropic/claude-sonnet-4.5","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1632,976],"id":"cb162ea7-05e8-4abb-9afb-871920853278","name":"Claude 3.7","credentials":{"openRouterApi":{"id":"hrgXqQ9MslXmo2ow","name":"OpenRouter account"}}},{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":"=# Resumen\nEres el asistente personal definitivo. Tu trabajo es enviar la consulta del usuario a la herramienta correcta. Nunca debes escribir correos electrónicos, ni crear resúmenes, solo necesitas llamar a la herramienta correcta.\n\n## Herramientas\n- Pensar: Úsala para pensar profundamente o si te quedas atascado\n- agenteCorreo: Usa esta herramienta para realizar acciones en el correo electrónico\n- agenteCalendario: Usa esta herramienta para realizar acciones en el calendario\n- agenteContacto: Usa esta herramienta para obtener, actualizar o añadir contactos\n- creadorContenido: Usa esta herramienta para crear publicaciones de blog\n- Tavily: Usa esta herramienta para buscar en la web\n\n## Reglas\n- Algunas acciones requieren que primero busques información de contacto. Para las siguientes acciones, debes obtener la dirección de correo electrónico y enviarla al agente que la necesite:\n  - enviar correos electrónicos\n  - redactar borradores de correos electrónicos\n  - crear un evento de calendario con un asistente\n\n## Instrucciones\n1) Llama a las herramientas necesarias según la solicitud del usuario\n2) Usa la herramienta \"Pensar\" para verificar que has seguido los pasos correctos. Esta herramienta debe ser llamada cada vez.\n\n\n## Ejemplos\n1) \n- Entrada: envía un correo a Víctor Pérez preguntándole a qué hora quiere salir\n  - Acción: Usa agenteContacto para obtener el correo de Víctor Pérez\n  - Acción: Usa agenteCorreo para enviar el correo. Le pasarás a la herramienta una consulta como \"envía a nate herkelman un correo para preguntarle a qué hora quiere salir. aquí está su correo: [dirección de correo]\"\n- Salida: El correo ha sido enviado a Nate Herkelman. ¿Puedo ayudarte en algo más?\n\n\n## Recordatorios Finales\nAquí está la fecha/hora actual: {{ $now }}\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[912,80],"id":"93d3e26c-7113-425d-b018-c880d13a6791","name":"Asistente Definitivo"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[-112,400],"id":"a7d06012-7e50-4f35-9424-cdf2dc4d5b35","name":"Calculadora"},{"parameters":{"description":"Usa la herramienta para pensar en algo. No obtendrá nueva información ni cambiará la base de datos, sino que solo añadirá el pensamiento al registro. Úsala cuando se necesite razonamiento complejo o algún tipo de memoria en caché."},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[32,400],"id":"59fb1f7e-c9fb-4783-a199-13cb6b12f126","name":"Pensar"},{"parameters":{"model":{"__rl":true,"value":"gpt-5-mini","mode":"list","cachedResultName":"gpt-5-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-416,400],"id":"f2225067-c535-431f-930a-546002af4856","name":"GPT 4.1","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"updates":["message"],"additionalFields":{}},"id":"8e1a90d9-60d7-47e2-a5a1-cbf5060f3f01","name":"Disparador de Telegram","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-496,96],"webhookId":"99eab1a0-569d-4f0f-a49e-578a02abfe63","credentials":{"telegramApi":{"id":"jDxsVgrb1fG40Bm1","name":"Telegram n8n_the2tor_bot"}}},{"parameters":{"assignments":{"assignments":[{"id":"fe7ecc99-e1e8-4a5e-bdd6-6fce9757b234","name":"text","value":"={{ $json.message.text }}","type":"string"}]},"options":{}},"id":"7ff0a6c9-7b3f-43bf-a005-64bea5381eba","name":"Establecer 'Texto'","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,192]},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}","additionalFields":{}},"id":"c1bc9840-f7fa-4aee-b7f7-737ff3e42e7d","name":"Descargar Archivo de Voz","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[0,0],"webhookId":"c0b376b1-7b63-41b6-8063-0b3096b8333d","credentials":{"telegramApi":{"id":"jDxsVgrb1fG40Bm1","name":"Telegram n8n_the2tor_bot"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"0f160e1f-8a40-4a41-81a0-eecb9cad120e","name":"Transcribir Audio","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[224,0],"credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"ab07bb2b-5412-49f4-9b8f-b2f6f88bbd6a"}],"combinator":"and"},"renameOutput":true,"outputKey":"Voz"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8c844924-b2ed-48b0-935c-c66a8fd0c778","leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"}]},"options":{}},"id":"f9dacc6f-9a06-4a59-8272-0e294345d6f3","name":"Conmutador","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-224,96]},{"parameters":{"chatId":"={{ $('Disparador de Telegram').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"id":"c4cd1b5f-6e29-4203-9b8f-fa2753a0161a","name":"Respuesta","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1760,96],"webhookId":"682ca5ab-d30c-4ea5-bb25-c2f26206e761","credentials":{"telegramApi":{"id":"jDxsVgrb1fG40Bm1","name":"Telegram n8n_the2tor_bot"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"=."},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-240,400],"id":"969354fb-a123-40e0-829c-8f21c92fbc07","name":"Memoria Simple"},{"parameters":{"toolDescription":"Utiliza este agente para gestionar todo el google calendar","text":"=# Resumen\nEres un asistente de calendario. Tus responsabilidades incluyen crear, obtener y eliminar eventos en el calendario del usuario.\n\n**Herramientas de Gestión de Calendario**\n   - Usa \"Crear Evento con Asistente\" cuando un evento incluye un participante.\n   - Usa \"Crear Evento\" para eventos individuales.\n   - Usa \"Obtener Eventos\" para buscar horarios en el calendario cuando se solicite.\n   - Usa \"Eliminar Evento\" para eliminar un evento. Debes usar \"Obtener Eventos\" primero para obtener el ID del evento a eliminar.\n   - Usa \"Actualizar Evento\" para actualizar un evento. Debes usar \"Obtener Eventos\" primero para obtener el ID del evento a actualizar.\n\n## Notas Finales\nAquí está la fecha/hora actual: {{ $now }}\nSi no se especifica una duración para un evento, asume que será de una hora.","options":{}},"type":"@n8n/n8n-nodes-langchain.agentTool","typeVersion":2.2,"position":[480,656],"id":"cba5e654-14a0-46f6-8816-2cd08c801080","name":"Agente de Calendario"},{"parameters":{"toolDescription":"Utiliza este Agente cuando el usuario pida información sobre los contactos","text":"Eres un **Agente de Contactos** especializado en gestionar información de personas y empresas.  \nTu función principal es ayudar al usuario a organizar y mantener actualizada su base de contactos.  \n\nDispones de **dos herramientas principales**:\n\n1. **Obtener contactos**  \n   - Descripción: Permite buscar, consultar y recuperar información de contactos existentes en la base de datos.  \n   - Uso: Cuando el usuario quiera ver los detalles de un contacto, verificar si ya existe, o listar contactos según criterios (ejemplo: por nombre, email, empresa, etc.).\n\n2. **Añadir o actualizar contacto**  \n   - Descripción: Permite crear nuevos contactos o actualizar la información de uno existente.  \n   - Uso: Cuando el usuario quiera registrar un nuevo contacto o modificar datos de uno ya existente (ejemplo: nombre, correo, teléfono, empresa, notas).  \n\n### Instrucciones de comportamiento:\n- Siempre interpreta primero la intención del usuario: ¿quiere **consultar** o **guardar/editar** información?  \n- Usa la herramienta correcta según corresponda.  \n- Si el usuario pide algo ambiguo, solicita aclaración antes de actuar.  \n- Devuelve respuestas claras y organizadas, con foco en la utilidad para el usuario.  \n\nEjemplos de tareas que puedes manejar:\n- “Muéstrame el contacto de Juan Pérez.” → Usar **Obtener contactos**  \n- “Añade un nuevo contacto llamado Ana López con email ana@ejemplo.com.” → Usar **Añadir o actualizar contacto**  \n- “Actualiza el número de teléfono de Carlos García a +34 600 123 456.” → Usar **Añadir o actualizar contacto**  \n","options":{}},"type":"@n8n/n8n-nodes-langchain.agentTool","typeVersion":2.2,"position":[1088,672],"id":"46ccf100-8dae-43b1-b4eb-16535549319f","name":"Agente de Contactos"},{"parameters":{"toolDescription":"Utiliza este agente para crear contenido.","text":"# Resumen\nEres un hábil redactor de blogs de IA especializado en contenido atractivo, bien estructurado e informativo. Tu estilo de escritura es claro, convincente y adaptado al público objetivo. Optimizas la legibilidad, el SEO y el valor, asegurando que los blogs estén bien investigados, sean originales y no tengan relleno.\n\n## Herramientas\nTavily - Úsala para buscar en la web sobre el tema solicitado para la publicación del blog.\n\n## Requisitos del Blog\nFormatea todo el contenido del blog en HTML, usando encabezados adecuados (<h1>, <h2>), párrafos (<p>), viñetas (<ul><li>) y enlaces (<a href=\"URL\">) para las citas. Todas las citas de la herramienta Tavily deben conservarse, con hipervínculos clicables para que los lectores puedan acceder a las fuentes originales.\n\nMantén un tono natural y humano, usa estructuras de oración variadas e incluye ejemplos o datos relevantes cuando sea necesario. Estructura el contenido para una fácil lectura con párrafos concisos y un flujo lógico. Asegúrate siempre de la precisión de los hechos y alinea el tono con la marca o el propósito previsto.","options":{}},"type":"@n8n/n8n-nodes-langchain.agentTool","typeVersion":2.2,"position":[1680,672],"id":"184f00cf-6815-4200-98eb-d08680c34439","name":"Agente de Contenido"},{"parameters":{"model":{"__rl":true,"value":"gpt-5-mini","mode":"list","cachedResultName":"gpt-5-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-32,976],"id":"580f0594-1ce7-4376-8d7f-3e50eec97823","name":"GPT4o1","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-5-mini","mode":"list","cachedResultName":"gpt-5-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1040,864],"id":"50fba407-a7d9-4208-912a-06c6e3fdba4e","name":"GPT4o2","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"toolDescription":"Utiliza este agente para gestionar toda la bandeja de correos gmail.","text":"=# Resumen\nEres un asistente de gestión de correo electrónico. Todos los correos deben estar formateados profesionalmente en HTML y firmados como \"Víctor\".\n\n**Herramientas de Gestión de Correo**\n   - Usa \"Enviar Correo\" para enviar correos.\n   - Usa \"Crear Borrador\" si el usuario pide un borrador.\n   - Usa \"Obtener Correos\" para recuperar correos cuando se solicite.\n   - Usa \"Obtener Etiquetas\" para recuperar etiquetas.\n   - Usa \"Marcar como no leído\" para marcar un correo como no leído. Debes usar \"Obtener Correos\" primero para tener el ID del mensaje a marcar.\n   - Usa \"Etiquetar Correo\" para marcar un correo. Debes usar \"Obtener Correos\" primero para tener el ID del mensaje a marcar. Luego debes usar \"Obtener Etiquetas\" para tener el ID de la etiqueta.\n   - Usa \"Responder Correo\" para responder a un correo. Debes usar \"Obtener Correos\" primero para tener el ID del mensaje al que responder.\n\n## Notas Finales\n- Aquí está la fecha/hora actual: {{ $now }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agentTool","typeVersion":2.2,"position":[-800,848],"id":"c5617822-74e4-4b3c-afef-29c0c4e20d7d","name":"Agente de Correo"},{"parameters":{"operation":"upsert","base":{"__rl":true,"value":"appK0rbtvf9e7vt6w","mode":"list","cachedResultName":"Contacts","cachedResultUrl":"https://airtable.com/appK0rbtvf9e7vt6w"},"table":{"__rl":true,"value":"tbl08JGCfUK1RhXsG","mode":"list","cachedResultName":"Contacts","cachedResultUrl":"https://airtable.com/appK0rbtvf9e7vt6w/tbl08JGCfUK1RhXsG"},"columns":{"mappingMode":"defineBelow","value":{"name":"={{ $fromAI(\"name\") }}","email":"={{ $fromAI(\"emailAddress\") }}","phoneNumber":"={{ $fromAI(\"phoneNumber\") }}"},"matchingColumns":["name"],"schema":[{"id":"name","displayName":"nombre","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"email","displayName":"correo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"phoneNumber","displayName":"númeroDeTeléfono","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtableTool","typeVersion":2.1,"position":[1328,880],"id":"26365863-ff2d-4bec-9f3d-d758d846919e","name":"Anadir o Actualizar Contacto","credentials":{"airtableTokenApi":{"id":"cJsJ4BCzr5Uc5qR5","name":"Airtable Personal Access Token account"}}},{"parameters":{"operation":"markAsUnread","messageId":"={{ $fromAI(\"messageID\") }}"},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[-240,1168],"id":"601a3917-0fd8-4ed4-a94e-4bba1985decc","name":"Marcar como no leido","webhookId":"a35af9d8-f67d-4ff9-803f-59ec6356e795","credentials":{"gmailOAuth2":{"id":"1dWL4JO1wT5xRo2y","name":"Gmail account Bestfranquicias"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-5-mini","mode":"list","cachedResultName":"gpt-5-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1344,1120],"id":"57903809-f406-428a-b5bc-b1278f6bd510","name":"GPT4.1-mini","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-5","mode":"list","cachedResultName":"gpt-5"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1552,880],"id":"679510f7-9f6a-4bb6-a85d-607856942ea2","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"operation":"update","calendar":{"__rl":true,"value":"bestfranquicias@gmail.com","mode":"list","cachedResultName":"bestfranquicias@gmail.com"},"updateFields":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[784,1008],"id":"b78f6f63-fb81-4c72-85b5-a6542e7d1aa1","name":"Update an event in Google Calendar","credentials":{"googleCalendarOAuth2Api":{"id":"DDGUQwdD8fqXiUrz","name":"Google Calendar account Bestfranquicias"}},"disabled":true},{"parameters":{"model":"sonar-pro","messages":{"message":[{"content":"Como desarrollar un nodo n8n que haga resize de imagenes con perplexity"}]},"options":{},"requestOptions":{}},"type":"n8n-nodes-base.perplexity","typeVersion":1,"position":[2224,1120],"id":"23714e60-10e9-408a-835a-e985b2b32155","name":"Message a model","credentials":{"perplexityApi":{"id":"6bFl8E0tjGPT1CuQ","name":"Perplexity account"}}}],"connections":{"Enviar Correo":{"ai_tool":[[{"node":"Agente de Correo","type":"ai_tool","index":0}]]},"Obtener Correos":{"ai_tool":[[{"node":"Agente de Correo","type":"ai_tool","index":0}]]},"Crear Borrador":{"ai_tool":[[{"node":"Agente de Correo","type":"ai_tool","index":0}]]},"Responder Correo":{"ai_tool":[[{"node":"Agente de Correo","type":"ai_tool","index":0}]]},"Obtener Etiquetas":{"ai_tool":[[{"node":"Agente de Correo","type":"ai_tool","index":0}]]},"Etiquetar Correos":{"ai_tool":[[{"node":"Agente de Correo","type":"ai_tool","index":0}]]},"Crear Evento con Asistente":{"ai_tool":[[{"node":"Agente de Calendario","type":"ai_tool","index":0}]]},"Crear Evento":{"ai_tool":[[{"node":"Agente de Calendario","type":"ai_tool","index":0}]]},"Obtener Eventos":{"ai_tool":[[{"node":"Agente de Calendario","type":"ai_tool","index":0}]]},"Eliminar Evento":{"ai_tool":[[{"node":"Agente de Calendario","type":"ai_tool","index":0}]]},"Obtener Contactos":{"ai_tool":[[{"node":"Agente de Contactos","type":"ai_tool","index":0}]]},"Tavily1":{"ai_tool":[[{"node":"Agente de Contenido","type":"ai_tool","index":0}]]},"Asistente Definitivo":{"main":[[{"node":"Respuesta","type":"main","index":0}]]},"Calculadora":{"ai_tool":[[{"node":"Asistente Definitivo","type":"ai_tool","index":0}]]},"Pensar":{"ai_tool":[[{"node":"Asistente Definitivo","type":"ai_tool","index":0}]]},"GPT 4.1":{"ai_languageModel":[[{"node":"Asistente Definitivo","type":"ai_languageModel","index":0}]]},"Disparador de Telegram":{"main":[[{"node":"Conmutador","type":"main","index":0}]]},"Establecer 'Texto'":{"main":[[{"node":"Asistente Definitivo","type":"main","index":0}]]},"Descargar Archivo de Voz":{"main":[[{"node":"Transcribir Audio","type":"main","index":0}]]},"Transcribir Audio":{"main":[[{"node":"Asistente Definitivo","type":"main","index":0}]]},"Conmutador":{"main":[[{"node":"Descargar Archivo de Voz","type":"main","index":0}],[{"node":"Establecer 'Texto'","type":"main","index":0}]]},"Memoria Simple":{"ai_memory":[[{"node":"Asistente Definitivo","type":"ai_memory","index":0}]]},"Agente de Calendario":{"ai_tool":[[{"node":"Asistente Definitivo","type":"ai_tool","index":0}]]},"Agente de Contenido":{"ai_tool":[[{"node":"Asistente Definitivo","type":"ai_tool","index":0}]]},"GPT4o1":{"ai_languageModel":[[{"node":"Agente de Calendario","type":"ai_languageModel","index":0}]]},"GPT4o2":{"ai_languageModel":[[{"node":"Agente de Contactos","type":"ai_languageModel","index":0}]]},"Agente de Correo":{"ai_tool":[[{"node":"Asistente Definitivo","type":"ai_tool","index":0}]]},"Anadir o Actualizar Contacto":{"ai_tool":[[{"node":"Agente de Contactos","type":"ai_tool","index":0}]]},"Marcar como no leido":{"ai_tool":[[{"node":"Agente de Correo","type":"ai_tool","index":0}]]},"GPT4.1-mini":{"ai_languageModel":[[{"node":"Agente de Correo","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[]]},"Claude 3.7":{"ai_languageModel":[[{"node":"Agente de Contenido","type":"ai_languageModel","index":0}]]},"Agente de Contactos":{"ai_tool":[[]]},"Update an event in Google Calendar":{"ai_tool":[[{"node":"Agente de Calendario","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ce0a6688-d85a-4832-a13b-43bed9f663b4","triggerCount":0,"shared":[{"updatedAt":"2025-10-23T20:45:11.402Z","createdAt":"2025-10-23T20:45:11.402Z","role":"workflow:owner","workflowId":"dcQ85ql5gCTEBCIH","projectId":"prlZ3bTXg0wKi0D1"}],"tags":[]}