backup-workflows-a-google-drive-IFAFqW8eomNIbUYr.json
{"updatedAt":"2025-11-12T22:18:01.000Z","createdAt":"2025-10-08T22:32:14.285Z","id":"IFAFqW8eomNIbUYr","name":"Backup Workflows a Google Drive","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"a05cd1f7-95e4-4e44-8db3-673773e90bec","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"disabled":true},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":12}]}},"id":"154e139f-87ec-45af-aa90-bfc5b6533857","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,192]},{"parameters":{"resource":"fileFolder","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"19v37CPB8ZwFY_qXCTmkFRbWC2ymB-Wmn","mode":"list","cachedResultName":"workflows","cachedResultUrl":"https://drive.google.com/drive/folders/19v37CPB8ZwFY_qXCTmkFRbWC2ymB-Wmn"}},"options":{"fields":["id","name"]}},"id":"c4d6e14e-159f-4fa6-a005-496f43f13e23","name":"Google Drive - Search","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[224,0],"alwaysOutputData":true,"credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account 2"}},"continueOnFail":true},{"parameters":{"operation":"deleteFile","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"id":"e2450f9d-1e66-4095-96fa-6ad198f28d16","name":"Google Drive - Delete","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[448,0],"alwaysOutputData":true,"credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account 2"}},"continueOnFail":true},{"parameters":{},"id":"72288fce-fdc0-45f9-a461-b25c227f893d","name":"Limit","type":"n8n-nodes-base.limit","typeVersion":1,"position":[672,0]},{"parameters":{"filters":{},"requestOptions":{}},"id":"31f0b3b9-8bbd-4454-892c-b23bc48c4a6d","name":"N8N - Get Many Workflows","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[880,0],"credentials":{"n8nApi":{"id":"dYlqFsERNuf4U44a","name":"n8n account 2"}}},{"parameters":{"operation":"toJson","mode":"each","binaryPropertyName":"={{ $json.name }}","options":{"fileName":"={{ $json.name }}"}},"id":"af173631-3833-48db-bb61-9e20f9c64e2d","name":"Convert to File","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1104,0]},{"parameters":{"inputDataFieldName":"={{ $('N8N - Get Many Workflows').item.json.name }}","name":"={{ $('N8N - Get Many Workflows').item.json.name }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"19v37CPB8ZwFY_qXCTmkFRbWC2ymB-Wmn","mode":"list","cachedResultName":"workflows","cachedResultUrl":"https://drive.google.com/drive/folders/19v37CPB8ZwFY_qXCTmkFRbWC2ymB-Wmn"},"options":{}},"id":"ff2f8e6c-e4c6-4abc-8ea6-8561fc03e758","name":"Google Drive - Upload","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1328,0],"credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account 2"}}}],"connections":{"Manual Trigger":{"main":[[{"node":"Google Drive - Search","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Google Drive - Search","type":"main","index":0}]]},"Google Drive - Search":{"main":[[{"node":"Google Drive - Delete","type":"main","index":0}]]},"Google Drive - Delete":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Limit":{"main":[[{"node":"N8N - Get Many Workflows","type":"main","index":0}]]},"N8N - Get Many Workflows":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Google Drive - Upload","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[12]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5a921921-585b-447a-86e4-393a7029d42a","triggerCount":1,"shared":[{"updatedAt":"2025-10-08T22:32:14.287Z","createdAt":"2025-10-08T22:32:14.287Z","role":"workflow:owner","workflowId":"IFAFqW8eomNIbUYr","projectId":"prlZ3bTXg0wKi0D1"}],"tags":[]}