backup-workflows-a-google-drive-ZmKRDq5dvCkCdvqc.json
{"updatedAt":"2025-11-06T10:34:19.000Z","createdAt":"2025-11-04T12:15:11.614Z","id":"ZmKRDq5dvCkCdvqc","name":"Backup Workflows a Google Drive","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"8d155dd4-f2bf-4936-b1d7-d44bc8488ebd","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"disabled":true},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":12}]}},"id":"4b389664-2969-48f3-872d-78ee95a288c2","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,192]},{"parameters":{"resource":"fileFolder","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"19v37CPB8ZwFY_qXCTmkFRbWC2ymB-Wmn","mode":"list","cachedResultName":"workflows","cachedResultUrl":"https://drive.google.com/drive/folders/19v37CPB8ZwFY_qXCTmkFRbWC2ymB-Wmn"}},"options":{"fields":["id","name"]}},"id":"3fa0788e-057d-4458-b7db-c8fa5e480de1","name":"Google Drive - Search","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[224,0],"alwaysOutputData":true,"credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account Bestfranquicias"}},"continueOnFail":true},{"parameters":{"operation":"deleteFile","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"id":"89ddbe13-ed33-4f3d-8c6d-2d64d6780f19","name":"Google Drive - Delete","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[448,0],"alwaysOutputData":true,"credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account Bestfranquicias"}},"continueOnFail":true},{"parameters":{},"id":"dae35c09-b596-4ba3-895b-8d57ad658146","name":"Limit","type":"n8n-nodes-base.limit","typeVersion":1,"position":[672,0]},{"parameters":{"filters":{},"requestOptions":{}},"id":"5a1decb5-3643-44b8-8189-5f15292a0912","name":"N8N - Get Many Workflows","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[880,0],"credentials":{"n8nApi":{"id":"dYlqFsERNuf4U44a","name":"n8n account 2"}}},{"parameters":{"operation":"toJson","mode":"each","binaryPropertyName":"={{ $json.name }}","options":{"fileName":"={{ $json.name }}"}},"id":"9bd9f450-b15a-4f5b-b9c9-1a609db7a8fd","name":"Convert to File","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1104,0]},{"parameters":{"inputDataFieldName":"={{ $('N8N - Get Many Workflows').item.json.name }}","name":"={{ $('N8N - Get Many Workflows').item.json.name }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"19v37CPB8ZwFY_qXCTmkFRbWC2ymB-Wmn","mode":"list","cachedResultName":"workflows","cachedResultUrl":"https://drive.google.com/drive/folders/19v37CPB8ZwFY_qXCTmkFRbWC2ymB-Wmn"},"options":{}},"id":"6d1eefdf-5c90-4ad2-9266-39f32c736da5","name":"Google Drive - Upload","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1328,0],"credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account Bestfranquicias"}}}],"connections":{"Manual Trigger":{"main":[[{"node":"Google Drive - Search","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Google Drive - Search","type":"main","index":0}]]},"Google Drive - Search":{"main":[[{"node":"Google Drive - Delete","type":"main","index":0}]]},"Google Drive - Delete":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Limit":{"main":[[{"node":"N8N - Get Many Workflows","type":"main","index":0}]]},"N8N - Get Many Workflows":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Google Drive - Upload","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[0]}},"meta":null,"pinData":{},"versionId":"cb4a1289-a74d-4567-af02-1ef2f2507c31","triggerCount":1,"shared":[{"updatedAt":"2025-11-04T12:15:11.619Z","createdAt":"2025-11-04T12:15:11.619Z","role":"workflow:owner","workflowId":"ZmKRDq5dvCkCdvqc","projectId":"prlZ3bTXg0wKi0D1"}],"tags":[]}