cag-workflow-0aAGFFLXHNWXjjJ4.json
{"updatedAt":"2025-10-14T17:50:23.000Z","createdAt":"2025-10-09T10:07:48.851Z","id":"0aAGFFLXHNWXjjJ4","name":"CAG Workflow","active":false,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[16,432],"id":"4d5fcd51-413f-4d07-adc7-77aa750fa5ea","name":"When Executed by Another Workflow"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=Pregunta del usuario: {{ $('When Executed by Another Workflow').item.json.query }}"},{"content":"=Eres un asistente que tiene la siguiente misión: Quiero que dependiendo de la pregunta del usuario devuelvas el id y el nombre de los archivos o\nel archivo mas relevante para poder responderle a la pregunta.\n\nLa variable final se tiene que llamar \"response\" y tiene que ser un JSON.\n\nEstos son los archivos que hay: {{JSON.stringify($json.files) }}","role":"system"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[352,432],"id":"d296b19f-2431-48b5-82c0-c5d6bca1fe60","name":"OpenAI","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[672,432],"id":"fcc6c518-f4f7-4f2a-84fb-6e11b5412a70","name":"Loop Over Items"},{"parameters":{"operation":"download","fileId":{"__rl":true,"mode":"id","value":"={{ $json.message.content.response.id }}"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[896,624],"id":"645ee25c-8387-4d45-9201-87a762e2001d","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account 2"}}},{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1104,624],"id":"b319deef-b509-44ba-8654-4ed5b03a433e","name":"Extract from File"},{"parameters":{"operation":"get","key":"=doc_text_{{$execution.id}}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[864,272],"id":"5d82a545-be12-4702-91dc-c2430a1d4b0d","name":"Redis1","credentials":{"redis":{"id":"s43Tiha7X724barC","name":"Redis account"}}},{"parameters":{"operation":"delete","key":"=doc_text_{{$execution.id}}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1056,272],"id":"cde94817-1e66-4493-95a4-3346036fa292","name":"Redis2","credentials":{"redis":{"id":"s43Tiha7X724barC","name":"Redis account"}}},{"parameters":{"promptType":"define","text":"=Pregunta: {{ $('When Executed by Another Workflow').item.json.query }}\nContexto:  {{ $json.propertyName[0] }}","options":{"systemMessage":"=Eres un asistente experto y útil. Responde a la pregunta del usuario basándote EXCLUSIVAMENTE en el contexto del documento que se te proporcionará junto con la pregunta. No utilices ningún conocimiento externo o previo. Si la respuesta no se encuentra en el contexto proporcionado, indica claramente que la información no está disponible en el documento."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[1248,272],"id":"6183210e-96b5-484e-94c6-a0ef5bc977eb","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1184,432],"id":"1d0ff3b1-3167-413e-b105-b207f0d7bbe4","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"ma7OjN6JExv5iRZ1","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"=doc_text_{{$execution.id}}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1328,464],"id":"109f390a-f881-4642-ad0b-94524efbe1b3","name":"Simple Memory"},{"parameters":{"url":"https://www.googleapis.com/drive/v3/files","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"='19ytKBCjdjnp328OHA1R_aFYE1t2OFqGd' in parents and mimeType != 'application/vnd.google-apps.folder' and trashed=false"},{"name":"files","value":"=files(id, name)"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[192,432],"id":"f22a8cdc-15c6-43a7-8f2e-27bd2693e182","name":"Busqueda CAG","credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account 2"}}},{"parameters":{"operation":"push","list":"=doc_text_{{$execution.id}}","messageData":"={{$node[\"Extract from File\"].json.text}}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1328,624],"id":"7b475a68-d5a7-4ce6-8b8a-1d4fd08de7a9","name":"Redis","credentials":{"redis":{"id":"s43Tiha7X724barC","name":"Redis account"}}},{"parameters":{"assignments":{"assignments":[{"id":"2df30e7f-6939-4873-b01a-9f06f2c632a0","name":"response","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1568,272],"id":"59744926-8864-4188-bc09-acf78d36e458","name":"Respuesta"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Busqueda CAG","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Redis1","type":"main","index":0}],[{"node":"Google Drive","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Redis","type":"main","index":0}]]},"Redis1":{"main":[[{"node":"Redis2","type":"main","index":0}]]},"Redis2":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"Respuesta","type":"main","index":0}]]},"Busqueda CAG":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"Redis":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"efd4e4ff-c465-42f8-8bde-4c1bc3054e7a","triggerCount":0,"shared":[{"updatedAt":"2025-10-09T10:07:48.853Z","createdAt":"2025-10-09T10:07:48.853Z","role":"workflow:owner","workflowId":"0aAGFFLXHNWXjjJ4","projectId":"prlZ3bTXg0wKi0D1"}],"tags":[]}