carpeta-a-vector-db-para-rag-o0M8Ulf9FfO7sVQS.json
{"updatedAt":"2025-10-21T11:52:05.921Z","createdAt":"2025-10-21T11:52:05.921Z","id":"o0M8Ulf9FfO7sVQS","name":"Carpeta a Vector DB para RAG","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":2}]}},"id":"5e64c416-19cd-4350-9e49-a1c5ab771273","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-816,-208]},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"googleDriveFolderId","value":"1YbYAUbZFy_dZtTYc8lZ9-2UzTArTCkCU","type":"string"},{"id":"id-2","name":"supabaseTableName","value":"documents","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"e6e41752-99ca-4e0b-8f3d-c386ba78a732","name":"Workflow Configuration","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-592,-208]},{"parameters":{"resource":"fileFolder","searchMethod":"query","returnAll":true,"filter":{"folderId":{"__rl":true,"mode":"id","value":"={{ $('Workflow Configuration').first().json.googleDriveFolderId }}"},"whatToSearch":"files"},"options":{}},"id":"c6f73abe-70ac-4104-86ec-e8d333e679f1","name":"Get Files from Google Drive Folder","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-368,-208],"credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account Bestfranquicias"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"mode":"id","value":"={{ $json.id }}"},"options":{"binaryPropertyName":"data"}},"id":"a49f1ddb-1b6d-4e11-99cd-dc8407f4adda","name":"Download File Content","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-144,-208],"credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account Bestfranquicias"}}},{"parameters":{"mode":"insert","tableName":{"__rl":true,"mode":"id","value":"={{ $('Workflow Configuration').first().json.supabaseTableName }}"},"options":{}},"id":"4b656e1a-1aa5-40ae-a71d-34a60886ff60","name":"Supabase Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[112,-208],"credentials":{"supabaseApi":{"id":"T3nXrcPYn5GbFuxT","name":"Supabase account"}}},{"parameters":{"dataType":"binary","loader":"pdfLoader","textSplittingMode":"custom","options":{}},"id":"7328a311-d87a-430f-ab7b-e8c27d187bd9","name":"Document Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[208,16]},{"parameters":{"options":{}},"id":"f1ddceb6-fae8-4b96-bc19-12a9c21024b1","name":"OpenAI Embeddings","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[80,16],"credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"chunkOverlap":200,"options":{}},"id":"f21bbdbf-9bbc-4b27-a9c5-c0745b5b50da","name":"Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[288,224]}],"connections":{"Schedule Trigger":{"main":[[{"node":"Workflow Configuration","type":"main","index":0}]]},"Workflow Configuration":{"main":[[{"node":"Get Files from Google Drive Folder","type":"main","index":0}]]},"Get Files from Google Drive Folder":{"main":[[{"node":"Download File Content","type":"main","index":0}]]},"Download File Content":{"main":[[{"node":"Supabase Vector Store","type":"main","index":0}]]},"Document Loader":{"ai_document":[[{"node":"Supabase Vector Store","type":"ai_document","index":0}]]},"OpenAI Embeddings":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Text Splitter":{"ai_textSplitter":[[{"node":"Document Loader","type":"ai_textSplitter","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0e17fab5-aa6b-4df5-87cf-b1ae1cc8dc97","triggerCount":0,"shared":[{"updatedAt":"2025-10-21T11:52:05.924Z","createdAt":"2025-10-21T11:52:05.924Z","role":"workflow:owner","workflowId":"o0M8Ulf9FfO7sVQS","projectId":"prlZ3bTXg0wKi0D1"}],"tags":[]}