chatbot-(best-house.com)-v1-YeBI61kuHHQc3d1Z.json
{"updatedAt":"2025-10-22T17:49:00.000Z","createdAt":"2025-10-20T22:58:41.181Z","id":"YeBI61kuHHQc3d1Z","name":"Chatbot (best-house.com) v1","active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"pdf","options":{}},"id":"b26c0fd4-7cab-4599-96ea-90af788d48e1","name":"Extract PDF Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-1888,-1552]},{"parameters":{"operation":"xlsx","options":{}},"id":"035c8570-6e39-4b14-a890-4169ddf67ab5","name":"Extract from Excel","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-1888,-1216]},{"parameters":{"chunkOverlap":100,"options":{"splitCode":"markdown"}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[-480,-880],"id":"b7e4d620-d32b-4171-906d-70130bb9b6c6","name":"Recursive Character Text Splitter"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.1,"position":[-912,-848],"id":"0fa03048-ebab-4885-b2e7-4d47881bdd3e","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1YbYAUbZFy_dZtTYc8lZ9-2UzTArTCkCU","mode":"list","cachedResultName":"RAG_Best-House","cachedResultUrl":"https://drive.google.com/drive/folders/1YbYAUbZFy_dZtTYc8lZ9-2UzTArTCkCU"},"event":"fileUpdated","options":{}},"id":"96022033-f438-4d86-827f-4d7edbc614ff","name":"File Created","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-3200,-1168],"credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account Bestfranquicias"}}},{"parameters":{"operation":"text","options":{}},"id":"fe8561c9-88e6-4f8b-9d64-027718c8fdc4","name":"Extract from Text File","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-1888,-1392],"alwaysOutputData":true},{"parameters":{"operation":"delete","tableId":"documents","filterType":"string","filterString":"=metadata->>file_id=like.*{{ $('Datos Relevantes #1').item.json.file_id }}*"},"id":"a2bd9c66-7bdf-46b1-8944-c835ba6dfa7e","name":"Delete Old Doc Rows","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-2544,-96],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"T3nXrcPYn5GbFuxT","name":"Supabase account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1YbYAUbZFy_dZtTYc8lZ9-2UzTArTCkCU","mode":"list","cachedResultName":"RAG_Best-House","cachedResultUrl":"https://drive.google.com/drive/folders/1YbYAUbZFy_dZtTYc8lZ9-2UzTArTCkCU"},"event":"fileUpdated","options":{}},"id":"6624a6ae-af35-41d2-b8a8-3a64f93dc7af","name":"File Updated","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-3072,-96],"credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account Bestfranquicias"}}},{"parameters":{"content":"## Base de Datos","height":240,"width":420,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-896,-1264],"typeVersion":1,"id":"1a08e67e-64a7-4302-8b50-95c5744aeee9","name":"Sticky Note"},{"parameters":{"content":"## 🛠️Cerebro/Herramientas\n","height":288,"width":620,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-944,-960],"typeVersion":1,"id":"90e9f260-624e-4088-b06a-4de221bbb7f2","name":"Sticky Note2"},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.data || $json.text || $json.concatenated_data }}","options":{"metadata":{"metadataValues":[{"name":"=file_id","value":"={{ $('Datos Relevantes1').item.json.file_id }}"},{"name":"=version","value":"v1"},{"name":"=creator","value":"={{ $('Get Files from Google Drive Folder').item.json.owners[0].displayName }}"},{"name":"=created_at","value":"={{ $('Get Files from Google Drive Folder').item.json.createdTime }}"},{"name":"last_modified","value":"={{ $('Get Files from Google Drive Folder').item.json.modifiedTime }}"},{"name":"folder_path","value":"projects"},{"name":"file_name","value":"={{ $('Get Files from Google Drive Folder').item.json.name }}"},{"name":"file_extension","value":"={{ $('Get Files from Google Drive Folder').item.json.mimeType }}"}]}}},"id":"4d755a17-d334-4356-a765-6348f3ab4330","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[-800,-880]},{"parameters":{"content":"## Resumir\n\n","height":240,"width":300},"type":"n8n-nodes-base.stickyNote","position":[-1264,-1264],"typeVersion":1,"id":"b4469986-b300-4963-898a-e28b175ed130","name":"Sticky Note6"},{"parameters":{"content":"## Agrupar\n","height":240,"width":300},"type":"n8n-nodes-base.stickyNote","position":[-1632,-1264],"typeVersion":1,"id":"21ee0ab8-1e98-4fb0-a718-ac7f210fafe9","name":"Sticky Note12"},{"parameters":{"content":"## 🛠️ Switch","height":480,"width":300,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-2352,-1376],"typeVersion":1,"id":"c844232a-712a-49e6-bedb-ae4f1fa16fed","name":"Sticky Note13"},{"parameters":{"content":"## 🚀 Transformadores\n\n","height":620,"width":300,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-1984,-1632],"typeVersion":1,"id":"1eb7057a-3927-4728-8894-dcad58fea582","name":"Sticky Note14"},{"parameters":{"content":"## 🏁 Trigger Google drive","height":260,"width":220},"type":"n8n-nodes-base.stickyNote","position":[-3264,-1248],"typeVersion":1,"id":"5bd8789a-6681-4bbf-bc77-33fa52fcd7f3","name":"Sticky Note7"},{"parameters":{"content":"## 📚 Descarga de archivos","height":260},"type":"n8n-nodes-base.stickyNote","position":[-2752,-1248],"typeVersion":1,"id":"677a585d-a184-4ef4-a453-1ff40a3b5ea5","name":"Sticky Note16"},{"parameters":{"content":"## Descarga documento Word\n\n\n\n","height":280,"width":720,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-1984,-944],"typeVersion":1,"id":"48c8aadf-71e0-4b0a-b02d-a83d76a9927b","name":"Sticky Note17"},{"parameters":{"content":"## 🤯 Filtrador","height":260,"width":150},"type":"n8n-nodes-base.stickyNote","position":[-2976,-1248],"typeVersion":1,"id":"f4ff808a-8b7d-4fde-b6a8-f6063da93e62","name":"Sticky Note15"},{"parameters":{"assignments":{"assignments":[{"id":"10646eae-ae46-4327-a4dc-9987c2d76173","name":"file_id","value":"={{ $('File Created').item.json.id }}","type":"string"},{"id":"f4536df5-d0b1-4392-bf17-b8137fb31a44","name":"file_type","value":"={{ $('File Created').item.json.mimeType }}{{ $json.mimeType }}","type":"string"}]},"options":{}},"id":"d50606f1-cda4-4c88-a40a-df71e0ca81fa","name":"Datos Relevantes","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2960,-1168]},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Datos Relevantes').item.json.file_id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"id":"07af59f1-4692-4062-94b2-14551672df26","name":"Download File #1","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-2672,-1168],"executeOnce":true,"credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account Bestfranquicias"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Convertir a Doc').item.json.id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"application/pdf"}}}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1472,-864],"id":"d8965d43-60dd-4538-9cf0-367a858f89c4","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"CAK5TxYuevcZFF3W","name":"Google Drive The2tor"}}},{"parameters":{"operation":"deleteFile","fileId":{"__rl":true,"value":"={{ $('Download File #1').item.json.file_id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1648,-864],"id":"9cef3ddf-62be-479f-8cc3-3b63ce329b1c","name":"Delete a file","credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account Bestfranquicias"}}},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"data"}]},"options":{}},"id":"2c4e887a-74e0-4d88-96bc-7c1ca64079b7","name":"Summarize","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[-1184,-1184]},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"d048a817-a429-4544-8d0f-598420da1463","name":"Aggregate","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-1520,-1184]},{"parameters":{"chunkOverlap":100,"options":{"splitCode":"markdown"}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[-80,-96],"id":"595c171d-c106-45b4-b444-cb91452cd9d7","name":"Recursive Character Text Splitter1"},{"parameters":{"content":"## Base de Datos","height":240,"width":420,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-560,-464],"typeVersion":1,"id":"15c4ca44-e0d3-4fbe-a11d-1d8071a3c46c","name":"Sticky Note1"},{"parameters":{"content":"## 🛠️Cerebro/Herramientas\n","height":240,"width":620,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-560,-176],"typeVersion":1,"id":"e4692788-7d09-4847-9fdd-b8ca42f7d8d6","name":"Sticky Note3"},{"parameters":{"content":"## Resumir\n\n","height":240,"width":300},"type":"n8n-nodes-base.stickyNote","position":[-928,-176],"typeVersion":1,"id":"74f743ae-7638-4d79-a596-adee4e5891b2","name":"Sticky Note8"},{"parameters":{"content":"## Agrupar\n","height":240,"width":300},"type":"n8n-nodes-base.stickyNote","position":[-1280,-176],"typeVersion":1,"id":"59bab17b-4a5c-46dd-938b-6645f5f3b888","name":"Sticky Note18"},{"parameters":{"content":"## 🚀 Transformadores\n\n","height":620,"width":300,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-1648,-528],"typeVersion":1,"id":"0ce19bf9-6107-42b5-86d7-265bed1bc242","name":"Sticky Note19"},{"parameters":{"content":"## Descarga documento Word\n\n\n\n","height":280,"width":720,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-1648,160],"typeVersion":1,"id":"71553cf6-885f-4cc4-a673-525085f18da3","name":"Sticky Note20"},{"parameters":{"content":"## 📚 Descarga de archivos","height":260},"type":"n8n-nodes-base.stickyNote","position":[-2304,-176],"typeVersion":1,"id":"8ee69170-3acc-4b2a-8caf-f3e1b4f8110b","name":"Sticky Note21"},{"parameters":{"content":"## 🛠️ Switch","height":480,"width":300,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-2000,-272],"typeVersion":1,"id":"389e2922-cb63-4cd1-bc0b-36c2129db1b3","name":"Sticky Note22"},{"parameters":{"content":"## 🏁 Trigger Google drive","height":260,"width":220},"type":"n8n-nodes-base.stickyNote","position":[-3120,-176],"typeVersion":1,"id":"9309a710-bddb-4261-bf14-1d99b028c87c","name":"Sticky Note9"},{"parameters":{"content":"## 🤯 Filtrador","height":260,"width":150},"type":"n8n-nodes-base.stickyNote","position":[-2848,-176],"typeVersion":1,"id":"336c2b21-f8b2-406d-b037-3ac4478c4628","name":"Sticky Note23"},{"parameters":{"content":"## 🗑️ Eliminar Datos","height":260,"width":250},"type":"n8n-nodes-base.stickyNote","position":[-2624,-176],"typeVersion":1,"id":"87951d6c-6950-46fd-8f64-533abf75136e","name":"Sticky Note24"},{"parameters":{"assignments":{"assignments":[{"id":"10646eae-ae46-4327-a4dc-9987c2d76173","name":"file_id","value":"={{ $('File Updated').item.json.id }}","type":"string"},{"id":"f4536df5-d0b1-4392-bf17-b8137fb31a44","name":"file_type","value":"={{ $('File Updated').item.json.mimeType }}","type":"string"}]},"options":{}},"id":"b526d557-a041-4d24-9e69-c222e36370f4","name":"Datos Relevantes #1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2832,-96]},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Datos Relevantes #1').item.json.file_id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"id":"57f52c1e-3aae-4b15-ab2e-8c576aac33be","name":"Download File #2","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-2224,-96],"executeOnce":true,"credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account Bestfranquicias"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.file_type }}","rightValue":"application/pdfapplication/pdf","operator":{"type":"string","operation":"equals"},"id":"78d597d7-d11b-4539-8e0b-d64693ab7a16"}],"combinator":"and"},"renameOutput":true,"outputKey":"PDF"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"fc193b06-363b-4699-a97d-e5a850138b0e","leftValue":"={{ $json.file_type }}","rightValue":"application/vnd.google-apps.document","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"2ae7faa7-a936-4621-a680-60c512163034","leftValue":"={{ $json.file_type }}","rightValue":"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Excel"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"7ddfa924-1c26-4ee3-9890-5c9d2b96717a","leftValue":"={{ $json.file_type }}","rightValue":"application/vnd.openxmlformats-officedocument.wordprocessingml.document","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Docs #1"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"f53caf8b-7a8f-4d1e-98f4-deaf0e0171f0","leftValue":"={{ $json.file_type }}","rightValue":"application/msword","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Docs #2"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"cd9ca627-d00d-4c30-903a-41f603c8e36f","leftValue":"={{ $json.file_type }}","rightValue":"application/vnd.ms-word","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Docs #3"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"9d386a3c-5e5d-4cb0-aae5-2fb95dcad82f","leftValue":"={{ $json.file_type }}","rightValue":"application/mswordapplication/msword","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Docs #3"}]},"options":{"fallbackOutput":"extra","allMatchingOutputs":false}},"id":"cfa28f57-a057-4d7d-8250-8bea777cbfad","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-2272,-1248]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.metadata.file_extension }}","rightValue":"application/pdfapplication/pdf","operator":{"type":"string","operation":"equals"},"id":"78d597d7-d11b-4539-8e0b-d64693ab7a16"}],"combinator":"and"},"renameOutput":true,"outputKey":"PDF"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"fc193b06-363b-4699-a97d-e5a850138b0e","leftValue":"={{ $json.metadata.file_extension }}","rightValue":"application/vnd.google-apps.document","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"2ae7faa7-a936-4621-a680-60c512163034","leftValue":"={{ $json.metadata.file_extension }}","rightValue":"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Excel"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"7ddfa924-1c26-4ee3-9890-5c9d2b96717a","leftValue":"={{ $json.metadata.file_extension }}","rightValue":"application/vnd.openxmlformats-officedocument.wordprocessingml.document","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Docs #1"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"f53caf8b-7a8f-4d1e-98f4-deaf0e0171f0","leftValue":"={{ $json.metadata.file_extension }}","rightValue":"application/msword","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Docs #2"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"cd9ca627-d00d-4c30-903a-41f603c8e36f","leftValue":"={{ $json.metadata.file_extension }}","rightValue":"application/vnd.ms-word","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Docs #3"}]},"options":{"fallbackOutput":2}},"id":"9b285d59-c581-457c-be59-f3d6e6151f4c","name":"Switch #1","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-1920,-144]},{"parameters":{"operation":"pdf","options":{}},"id":"ff13aa8a-0ea4-4bf9-a8d7-e8552b7a9535","name":"Extract PDF Text #1","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-1552,-448]},{"parameters":{"operation":"text","options":{}},"id":"b6000c62-01f1-4c61-aece-4ab5d3988b24","name":"Extract from Text File #1","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-1552,-288],"alwaysOutputData":true},{"parameters":{"operation":"xlsx","options":{}},"id":"61701453-2586-4164-a1fd-41143b61b4be","name":"Extract from Excel #1","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-1552,-112]},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Convertir a Doc #1').item.json.id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"application/pdf"}}}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1120,240],"id":"7ac4ad1f-2a90-417b-9425-d9d2e81d0cdc","name":"Download file #1","credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account Bestfranquicias"}}},{"parameters":{"operation":"deleteFile","fileId":{"__rl":true,"value":"={{ $('Loop #1').item.json.file_id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1312,240],"id":"3041beb5-a635-4b86-a94a-211a372b0969","name":"Delete a file #1","credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account Bestfranquicias"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.data || $json.text || $json.concatenated_data }}","options":{"metadata":{"metadataValues":[{"name":"=file_id","value":"={{ $('Datos Relevantes #1').item.json.file_id }}"},{"name":"=version","value":"v1"},{"name":"=creator","value":"={{ $('File Updated').item.json.owners[0].displayName }}"},{"name":"=created_at","value":"={{ $('File Updated').item.json.createdTime }}"},{"name":"last_modified","value":"={{ $('File Updated').item.json.modifiedTime }}"},{"name":"folder_path","value":"projects"},{"name":"file_name","value":"={{ $('File Updated').item.json.name }}"},{"name":"file_extension","value":"={{ $('File Updated').item.json.mimeType }}"}]}}},"id":"8c9b031d-5cc9-46d0-a1d9-4b746e92a499","name":"Default Data Loader2","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[-384,-96]},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.1,"position":[-512,-80],"id":"0e71597e-491f-449a-91d0-3ec3dddee5b7","name":"Embeddings OpenAI #1","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"id":"8c6d0183-2ade-416e-bb05-8d3e7322f285","name":"Supabase Vector Store #1","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[-528,-368],"credentials":{"supabaseApi":{"id":"T3nXrcPYn5GbFuxT","name":"Supabase account"}}},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"id":"f4410a04-f163-4017-b25f-06ec505306d5","name":"Supabase Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[-848,-1168],"credentials":{"supabaseApi":{"id":"T3nXrcPYn5GbFuxT","name":"Supabase account"}}},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"data"}]},"options":{}},"id":"937a6336-2a98-4a08-9244-881c8b5871c7","name":"Summarize #1","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[-848,-96]},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"010197c9-7a1a-448f-b12c-b2339fa88dcf","name":"Aggregate #1","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-1184,-96]},{"parameters":{"method":"POST","url":"=https://www.googleapis.com/drive/v3/files/{{ $json.file_id }}/copy","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $json.file_id }}"},{"name":"mimeType","value":"application/vnd.google-apps.document"}]},"options":{}},"id":"b38252c1-f419-4719-891a-5a9d18dde4ed","name":"Convertir a Doc","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-1824,-864],"credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account Bestfranquicias"}}},{"parameters":{"method":"POST","url":"=https://www.googleapis.com/drive/v3/files/{{ $json.file_id }}/copy","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $json.file_id }}"},{"name":"mimeType","value":"application/vnd.google-apps.document"}]},"options":{}},"id":"b4bde730-7c18-4c3d-a8d8-0701703a4e50","name":"Convertir a Doc #1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-1488,240],"credentials":{"googleDriveOAuth2Api":{"id":"CAK5TxYuevcZFF3W","name":"Google Drive The2tor"}}},{"parameters":{"public":true,"mode":"webhook","options":{}},"id":"478473d9-440f-41bb-a48f-2e7d7dc11c63","name":"Chat Trigger","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[-4096,-912],"webhookId":"3d55bcd1-1728-4a01-a94a-36aca1f47382"},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"You are a helpful knowledge assistant with access to documents stored in Google Drive and a vector database. You can search through documents to answer questions and also access Google Drive directly to list or retrieve files. Solo ofrece respuestas que tengan que ver con los documentos almacenados en la base de datos y referentes a la compra de un modelo de franquicia de Best House"}},"id":"11659891-450b-4549-b6f9-9d199b2fb40f","name":"Knowledge Store Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-3584,-912]},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Search through the knowledge base of documents to find relevant information","tableName":{"__rl":true,"mode":"id","value":"documents"},"topK":10,"options":{}},"id":"c42cb829-af82-4d27-847b-5ddb23be6355","name":"Supabase Vector Store - Retrieve Tool","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[-3488,-640],"credentials":{"supabaseApi":{"id":"T3nXrcPYn5GbFuxT","name":"Supabase account"}}},{"parameters":{"options":{}},"id":"99116fa6-944d-4bac-b618-383f0cf80bac","name":"OpenAI Embeddings - Retrieve","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-3488,-464],"credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"resource":"fileFolder","filter":{},"options":{}},"id":"b7ddec44-acd5-4135-9138-c790389f6770","name":"Google Drive Tool","type":"n8n-nodes-base.googleDriveTool","typeVersion":3,"position":[-3200,-688],"credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account Bestfranquicias"}}},{"parameters":{"tableName":"chat_history"},"id":"86b4a383-e271-492e-bd22-8c428ccac4c4","name":"Postgres Chat Memory","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-3616,-688],"credentials":{"postgres":{"id":"RJfYPONKqWUiJzDA","name":"Postgres account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-4096,-704],"id":"6fb62ee7-ef9f-4763-8333-90d71e76432f","name":"Simple Memory"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-3760,-752],"id":"c2feadb5-e796-4aae-ae6f-cd0b592f2502","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"hrgXqQ9MslXmo2ow","name":"OpenRouter account"}}},{"parameters":{"jsCode":"// Ver TODO lo que llega\nconst item = $input.item.json;\nconst headers = item.headers || {};\n\nconsole.log('=== DATOS COMPLETOS ===');\nconsole.log('Headers completos:', JSON.stringify(headers, null, 2));\nconsole.log('Body:', JSON.stringify(item.body || {}, null, 2));\nconsole.log('Query:', JSON.stringify(item.query || {}, null, 2));\n\n// Buscar referer/origin en diferentes lugares\nconst referer = headers.referer || headers.Referer || headers.REFERER || '';\nconst origin = headers.origin || headers.Origin || headers.ORIGIN || '';\nconst host = headers.host || headers.Host || '';\n\nconsole.log('---');\nconsole.log('Referer:', referer || 'NO ENCONTRADO');\nconsole.log('Origin:', origin || 'NO ENCONTRADO');\nconsole.log('Host:', host || 'NO ENCONTRADO');\nconsole.log('---');\n\n// Pasar sin validar (temporal para ver qué llega)\nreturn item;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3872,-912],"id":"f541f100-4577-4989-a7ec-423a6a9b605f","name":"Code in JavaScript"},{"parameters":{"rule":{"interval":[{"triggerAtHour":2}]}},"id":"b8b7863a-bb1c-4ce1-8d91-05d14348e1d6","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-3792,-1472]},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"googleDriveFolderId","value":"1YbYAUbZFy_dZtTYc8lZ9-2UzTArTCkCU","type":"string"},{"id":"id-2","name":"supabaseTableName","value":"documents","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"1a2840ed-94e8-458f-a40a-e7f1c613c810","name":"Workflow Configuration","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3568,-1472]},{"parameters":{"resource":"fileFolder","searchMethod":"query","returnAll":true,"filter":{"folderId":{"__rl":true,"mode":"id","value":"={{ $('Workflow Configuration').first().json.googleDriveFolderId }}"},"whatToSearch":"files"},"options":{"fields":["mimeType","name","id"]}},"id":"418ffc41-6572-4e9f-a4ad-04a3f4cb5f40","name":"Get Files from Google Drive Folder","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-3344,-1472],"credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account Bestfranquicias"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Datos Relevantes1').item.json.file_id }}","mode":"id"},"options":{"binaryPropertyName":"data"}},"id":"c3608cb5-419a-49e6-bb7d-414b7a6679e5","name":"Download File Content","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-2928,-1472],"credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account Bestfranquicias"}}},{"parameters":{"assignments":{"assignments":[{"id":"10646eae-ae46-4327-a4dc-9987c2d76173","name":"file_id","value":"={{ $('Get Files from Google Drive Folder').item.json.id }}","type":"string"},{"id":"f4536df5-d0b1-4392-bf17-b8137fb31a44","name":"file_type","value":"={{ $('Get Files from Google Drive Folder').item.json.mimeType }}{{ $json.mimeType }}","type":"string"}]},"options":{}},"id":"8ead2ac6-d354-469a-8b75-cfa81706d1ea","name":"Datos Relevantes1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3120,-1472]}],"connections":{"Extract from Excel":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Extract PDF Text":{"main":[[{"node":"Supabase Vector Store","type":"main","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"File Created":{"main":[[{"node":"Datos Relevantes","type":"main","index":0}]]},"Extract from Text File":{"main":[[{"node":"Supabase Vector Store","type":"main","index":0}]]},"File Updated":{"main":[[{"node":"Datos Relevantes #1","type":"main","index":0}]]},"Delete Old Doc Rows":{"main":[[{"node":"Download File #2","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Supabase Vector Store","type":"ai_document","index":0}]]},"Datos Relevantes":{"main":[[{"node":"Download File #1","type":"main","index":0}]]},"Download File #1":{"main":[[]]},"Download file":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Delete a file":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Summarize":{"main":[[{"node":"Supabase Vector Store","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Summarize","type":"main","index":0}]]},"Recursive Character Text Splitter1":{"ai_textSplitter":[[{"node":"Default Data Loader2","type":"ai_textSplitter","index":0}]]},"Datos Relevantes #1":{"main":[[{"node":"Delete Old Doc Rows","type":"main","index":0}]]},"Download File #2":{"main":[[{"node":"Switch #1","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Extract PDF Text","type":"main","index":0}],[{"node":"Extract from Text File","type":"main","index":0}],[{"node":"Extract from Excel","type":"main","index":0}],[{"node":"Convertir a Doc","type":"main","index":0}],[{"node":"Convertir a Doc","type":"main","index":0}],[{"node":"Convertir a Doc","type":"main","index":0}],[{"node":"Convertir a Doc","type":"main","index":0}]]},"Switch #1":{"main":[[{"node":"Extract PDF Text #1","type":"main","index":0}],[{"node":"Extract from Text File #1","type":"main","index":0}],[{"node":"Extract from Excel #1","type":"main","index":0}],[{"node":"Convertir a Doc #1","type":"main","index":0}],[{"node":"Convertir a Doc #1","type":"main","index":0}],[{"node":"Convertir a Doc #1","type":"main","index":0}]]},"Extract PDF Text #1":{"main":[[{"node":"Supabase Vector Store #1","type":"main","index":0}]]},"Extract from Text File #1":{"main":[[{"node":"Supabase Vector Store #1","type":"main","index":0}]]},"Extract from Excel #1":{"main":[[{"node":"Aggregate #1","type":"main","index":0}]]},"Download file #1":{"main":[[{"node":"Switch #1","type":"main","index":0}]]},"Delete a file #1":{"main":[[{"node":"Download file #1","type":"main","index":0}]]},"Default Data Loader2":{"ai_document":[[{"node":"Supabase Vector Store #1","type":"ai_document","index":0}]]},"Embeddings OpenAI #1":{"ai_embedding":[[{"node":"Supabase Vector Store #1","type":"ai_embedding","index":0}]]},"Summarize #1":{"main":[[{"node":"Supabase Vector Store #1","type":"main","index":0}]]},"Aggregate #1":{"main":[[{"node":"Summarize #1","type":"main","index":0}]]},"Convertir a Doc":{"main":[[{"node":"Delete a file","type":"main","index":0}]]},"Convertir a Doc #1":{"main":[[{"node":"Delete a file #1","type":"main","index":0}]]},"Chat Trigger":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Supabase Vector Store - Retrieve Tool":{"ai_tool":[[{"node":"Knowledge Store Agent","type":"ai_tool","index":0}]]},"OpenAI Embeddings - Retrieve":{"ai_embedding":[[{"node":"Supabase Vector Store - Retrieve Tool","type":"ai_embedding","index":0}]]},"Google Drive Tool":{"ai_tool":[[{"node":"Knowledge Store Agent","type":"ai_tool","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"Knowledge Store Agent","type":"ai_memory","index":0}]]},"Simple Memory":{"ai_memory":[[]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Knowledge Store Agent","type":"ai_languageModel","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Knowledge Store Agent","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Workflow Configuration","type":"main","index":0}]]},"Workflow Configuration":{"main":[[{"node":"Get Files from Google Drive Folder","type":"main","index":0}]]},"Get Files from Google Drive Folder":{"main":[[{"node":"Datos Relevantes1","type":"main","index":0}]]},"Download File Content":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Datos Relevantes1":{"main":[[{"node":"Download File Content","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Europe/Madrid","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:File Created":{"lastTimeChecked":"2026-02-13T00:59:42Z"},"node:File Updated":{"lastTimeChecked":"2026-02-13T01:00:03Z"},"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"dccc71e5-242e-4e3f-8749-51bf20e54f7a","triggerCount":4,"shared":[{"updatedAt":"2025-10-20T22:58:41.183Z","createdAt":"2025-10-20T22:58:41.183Z","role":"workflow:owner","workflowId":"YeBI61kuHHQc3d1Z","projectId":"prlZ3bTXg0wKi0D1"}],"tags":[{"updatedAt":"2025-10-20T22:57:37.550Z","createdAt":"2025-10-20T22:57:37.550Z","id":"u5vC3fFDbXlYWlYn","name":"Pau Berenguer"}]}