combinar_imagenes-pNNX42ygbsnAQqfi.json
{"updatedAt":"2025-10-05T18:31:33.000Z","createdAt":"2025-10-03T22:39:58.292Z","id":"pNNX42ygbsnAQqfi","name":"combinar_imagenes","active":false,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"https://api.imgbb.com/1/upload","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"11a4590e9276698a73df73b1598a1c2c"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"image","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-192,-32],"id":"9e3eb6b3-7785-46fa-a2eb-e188fa1c9d11","name":"Obtener URL"},{"parameters":{"assignments":{"assignments":[{"id":"6831d021-c2d0-42a4-b625-aabfed3d170b","name":"images","value":"=['{{ $json.image1 }}','{{ $json.image2 }}']","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-640,-32],"id":"fb71cef2-13ea-4d10-9135-5df28d97fc54","name":"Editar Campos"},{"parameters":{"fieldToSplitOut":"images","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-496,-32],"id":"d1302a7c-9130-4ee2-9165-d954f9475485","name":"Dividir"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.images }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-352,-32],"id":"3f6092f2-a244-4e1c-ab97-94a7100dabec","name":"Descargar archivo","credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account 2"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"data"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-48,-32],"id":"1d3c0465-0124-4024-951e-598b1a8a3b3f","name":"Agregar"},{"parameters":{"method":"POST","url":"https://queue.fal.run/fal-ai/nano-banana/edit","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Key ab5422ee-4861-4ac1-b28a-e0e3d8ec341a:55748f3ec6328c24add3e9679e07b736"}]},"sendBody":true,"contentType":"=json","specifyBody":"json","bodyParameters":{"parameters":[{}]},"jsonBody":"={\n  \"prompt\": \"{{ \n  $('When Executed by Another Workflow').item.json.prompt.replace(/\\\"/g, '\\\\\\\"').replace(/(\\r\\n|\\n|\\r)/g, '\\\\n') }}}}\",\n  \"image_urls\": [\n    \"{{ $json.data[0].url }}\",\n    \"{{ $json.data[1].url }}\"\n  ],\n  \"num_images\": 1,\n  \"output_format\": \"jpeg\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[96,-32],"id":"22b0e5f0-4179-4240-a441-78af1aa22421","name":"Crear Imagen"},{"parameters":{"url":"=https://queue.fal.run/fal-ai/nano-banana/requests/{{ $json.request_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Key ab5422ee-4861-4ac1-b28a-e0e3d8ec341a:55748f3ec6328c24add3e9679e07b736"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[400,-32],"id":"5dda6744-ad39-44f1-87c4-b4ec21600a7d","name":"Obtener Resultado","onError":"continueErrorOutput"},{"parameters":{"mode":"raw","jsonOutput":"={{\n  {\n    \"Response\": \"La imagen fue creada y nombrada \\\"\" + ($json.name || \"\") + \"\\\".\\n\\nAquí está el enlace a la imagen en Google Drive: \" + ($json.webViewLink || \"\")\n  }\n}}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[864,-112],"id":"3dea5b77-ff2e-47ce-a8bc-554bd5cd9c07","name":"Resultado"},{"parameters":{"url":"={{ $json.images[0].url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[576,-112],"id":"3fda654c-e9fb-4667-a8d1-94f83f037b4b","name":"Descargar Imagen"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[240,-32],"id":"51017a17-2c6f-4412-9afd-55e9ae9a1114","name":"10 Segundos","webhookId":"caad73e3-58d8-4fbd-a3e9-c42424f2d1ee"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[576,32],"id":"88bd956e-e9ff-4fbe-a950-bc7ec63c011c","name":"5 Segundos","webhookId":"5f6bbd1e-a155-48de-b737-a225c6fd7a84"},{"parameters":{"workflowInputs":{"values":[{"name":"prompt"},{"name":"image1"},{"name":"image2"},{"name":"imageTitle"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-816,-32],"id":"2d3c3cac-e5b1-40c8-a812-138f3641745c","name":"When Executed by Another Workflow"},{"parameters":{"name":"={{ $('When Executed by Another Workflow').item.json.imageTitle }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1Cazquw6V9N0P-9L2-8I_mLYoPD_EfoL2","mode":"list","cachedResultName":"fotosIA","cachedResultUrl":"https://drive.google.com/drive/folders/1Cazquw6V9N0P-9L2-8I_mLYoPD_EfoL2"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[720,-112],"id":"a85ae38a-9e85-429c-bbb5-a343782a1870","name":"Subir archivo1","credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account 2"}}}],"connections":{"Obtener URL":{"main":[[{"node":"Agregar","type":"main","index":0}]]},"Editar Campos":{"main":[[{"node":"Dividir","type":"main","index":0}]]},"Dividir":{"main":[[{"node":"Descargar archivo","type":"main","index":0}]]},"Descargar archivo":{"main":[[{"node":"Obtener URL","type":"main","index":0}]]},"Agregar":{"main":[[{"node":"Crear Imagen","type":"main","index":0}]]},"Crear Imagen":{"main":[[{"node":"10 Segundos","type":"main","index":0}]]},"Obtener Resultado":{"main":[[{"node":"Descargar Imagen","type":"main","index":0}],[{"node":"5 Segundos","type":"main","index":0}]]},"Descargar Imagen":{"main":[[{"node":"Subir archivo1","type":"main","index":0}]]},"10 Segundos":{"main":[[{"node":"Obtener Resultado","type":"main","index":0}]]},"5 Segundos":{"main":[[{"node":"Obtener Resultado","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Editar Campos","type":"main","index":0}]]},"Subir archivo1":{"main":[[{"node":"Resultado","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"9014cc74-8d68-46ba-84e6-b8f816f9ecdf","triggerCount":0,"shared":[{"updatedAt":"2025-10-03T22:39:58.294Z","createdAt":"2025-10-03T22:39:58.294Z","role":"workflow:owner","workflowId":"pNNX42ygbsnAQqfi","projectId":"prlZ3bTXg0wKi0D1"}],"tags":[]}