copia-a-drive-rUEZM7iEJU18KXhy.json
{"updatedAt":"2025-11-12T12:20:27.000Z","createdAt":"2025-11-04T12:25:13.632Z","id":"rUEZM7iEJU18KXhy","name":"Copia a drive","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"09423fe6-d148-4f2d-8cc5-2d47fc9f1e66","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"disabled":true},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":12}]}},"id":"1eb4e9a8-6afb-4918-bda2-b56224eb79f6","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,208]},{"parameters":{"filters":{},"requestOptions":{}},"id":"a3ee6799-add0-436f-a7da-8604896d5ba0","name":"N8N - Get Many Workflows","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[224,112],"retryOnFail":false,"credentials":{"n8nApi":{"id":"dYlqFsERNuf4U44a","name":"n8n api workflows"}}},{"parameters":{"operation":"toJson","mode":"each","binaryPropertyName":"={{ $json.name }}","options":{"fileName":"={{ $json.name }}"}},"id":"8afdc6cb-2763-47cd-b714-4cc2b6f9c2ff","name":"Convert to File","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[448,112]},{"parameters":{"inputDataFieldName":"={{ $('N8N - Get Many Workflows').item.json.name }}","name":"={{ $('N8N - Get Many Workflows').item.json.name }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"19v37CPB8ZwFY_qXCTmkFRbWC2ymB-Wmn","mode":"list"},"options":{}},"id":"9a1fd60f-15fb-4666-b596-821ef7207d21","name":"Google Drive - Upload","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[672,112],"credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account Bestfranquicias"}}},{"parameters":{"resource":"fileFolder","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"19v37CPB8ZwFY_qXCTmkFRbWC2ymB-Wmn","mode":"list"}},"options":{"fields":["id","name","createdTime"]}},"id":"acf5ea6b-c375-4589-879e-7f822e40ead5","name":"Google Drive - Search","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[880,112],"alwaysOutputData":true,"credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account Bestfranquicias"}},"continueOnFail":true},{"parameters":{"jsCode":"const allItems = $input.all();\nconst versionsToKeep = 3;\n\n// Ordena los archivos por fecha de creación (los más nuevos primero)\nallItems.sort((a, b) => new Date(b.json.createdTime) - new Date(a.json.createdTime));\n\n// Si hay más archivos que los que queremos conservar,\n// devuelve solo los que se van a borrar.\nif (allItems.length > versionsToKeep) {\n  return allItems.slice(versionsToKeep);\n}\n\n// Si no, no devuelve nada para borrar.\nreturn [];"},"id":"a22a5f6e-bf3f-460d-85a2-9e173dd75bd3","name":"Keep Latest 3 Versions","type":"n8n-nodes-base.code","typeVersion":2,"position":[1104,112]},{"parameters":{"operation":"deleteFile","fileId":"={{ $json.id }}","options":{}},"id":"001053c0-8583-40fc-ab9e-87a4c0e72035","name":"Google Drive - Delete","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1328,112],"alwaysOutputData":true,"credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account Bestfranquicias"}},"continueOnFail":true}],"connections":{"Manual Trigger":{"main":[[{"node":"N8N - Get Many Workflows","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"N8N - Get Many Workflows","type":"main","index":0}]]},"N8N - Get Many Workflows":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Google Drive - Upload","type":"main","index":0}]]},"Google Drive - Upload":{"main":[[{"node":"Google Drive - Search","type":"main","index":0}]]},"Google Drive - Search":{"main":[[{"node":"Keep Latest 3 Versions","type":"main","index":0}]]},"Keep Latest 3 Versions":{"main":[[{"node":"Google Drive - Delete","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"39db85a9-f613-42c0-bb15-062c118f09ae","triggerCount":0,"shared":[{"updatedAt":"2025-11-04T12:25:13.635Z","createdAt":"2025-11-04T12:25:13.635Z","role":"workflow:owner","workflowId":"rUEZM7iEJU18KXhy","projectId":"prlZ3bTXg0wKi0D1"}],"tags":[]}