correos-franquishop-a-base-de-datos-I3vGTrYFYZpnjdzX.json
{"updatedAt":"2025-12-01T11:23:56.885Z","createdAt":"2025-12-01T11:23:56.885Z","id":"I3vGTrYFYZpnjdzX","name":"Correos franquishop a base de datos","active":false,"isArchived":false,"nodes":[{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.content[\"Teléfono\"] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true},"id":"2584787c-dad3-4674-865d-8232381c17c6"}],"combinator":"and"},"renameOutput":true,"outputKey":"parar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"95041958-33f6-4afe-8044-6dd3d0045d3e","leftValue":"={{ $json.message.content[\"Teléfono\"] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"seguir"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[752,0],"id":"f0b09fbd-2de3-4572-9c4c-164bf85632a6","name":"Switch1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.resultado }}","rightValue":"EXISTE","operator":{"type":"string","operation":"equals"},"id":"2ba42fa6-e321-4b81-a48b-bc8b6b567a16"}],"combinator":"and"},"renameOutput":true,"outputKey":"EXISTE"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4b27aad0-e463-4fd6-8213-da41ed46117a","leftValue":"={{ $json.resultado }}","rightValue":"EXISTE","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"NO EXISTE"}]},"options":{"fallbackOutput":"none"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[288,384],"id":"a7f79e51-23e2-485f-bf4a-6f6ec204b6e2","name":"Switch2"},{"parameters":{"assignments":{"assignments":[{"id":"0107af7c-aada-4e7f-9310-9b0a7aa0dffd","name":"cuerpo","value":"={{ $json.textPlain }} && {{ $json.textHtml }}","type":"string"},{"id":"f5cdb157-16de-44a1-b8c0-60edd074bbcb","name":"remitente","value":"={{ $json.from }}","type":"string"}]},"includeOtherFields":true,"include":"selected","includeFields":"metadata[\"message-id\"]","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[240,0],"id":"e0f560c5-f384-4b2e-9242-f617fd349708","name":"Extraer Cuerpo y remitente1"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-5-mini","mode":"list","cachedResultName":"GPT-5-MINI"},"messages":{"values":[{"content":"=Analiza el input y si contiene correo@franquishop.com,expansion@franquiciabest-house.es o leon@best-house.com, obten los datos del cuerpo y crea variables como json que sean: Nombre, Apellido, Email, Teléfono, Provincia, Reunión y Mensaje. Hazlo en base a el input recibido. ","role":"system"},{"content":"={{ $json.remitente }}{{ $json.cuerpo }}"},{"content":"="}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[400,0],"id":"8bf92f02-821b-4f9f-8908-e9c7aa3cf628","name":"Extraer datos a variables1","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"308df24a-8b81-4ab3-9450-68cb570ca3b8","name":"Nombre","value":"={{ $json.message.content.Nombre }}","type":"string"},{"id":"721f598e-6260-4aeb-9447-a939a859da19","name":"Apellido","value":"={{ $json.message.content.Apellido }}","type":"string"},{"id":"fc0708d3-b8c7-4b2c-bc41-206f8aaae5bf","name":"Email","value":"={{ $json.message.content.Email }}","type":"string"},{"id":"40fae4ed-d82e-43fd-8ab9-03cf3cdd230f","name":"Teléfono","value":"={{ $json.message.content[\"Teléfono\"] }}","type":"string"},{"id":"255cfc16-bb23-47e8-b467-23e9ab96f445","name":"Provincia","value":"={{ $json.message.content.Provincia }}","type":"string"},{"id":"1e2bb38b-c304-4dff-98de-e3fb72fd00cd","name":"Reunión","value":"={{ $json.message.content[\"Reunión\"] }}","type":"string"},{"id":"1bcffc41-beaa-4e62-8b64-82beab81ee03","name":"Mensaje","value":"={{ $json.message.content.Mensaje }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1040,16],"id":"bf2e275e-5c5d-4d9b-bcfd-7bea2582bbc0","name":"asignar datos a campos y conservarlos1"},{"parameters":{"operation":"executeQuery","query":"SELECT \n    IF(\n        EXISTS(\n            SELECT 1 \n            FROM usuarios \n            WHERE email = '{{ $json.Email }}' \n               OR telefono = '{{ $json[\"Teléfono\"] }}'\n        ), \n        'EXISTE', \n        'NO EXISTE'\n    ) AS resultado;\n","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[64,384],"id":"0b33b2d0-507a-4ac2-83e0-d362e6cb2ba8","name":"Comprobar si el candidato existe en la base de datos1","credentials":{"mySql":{"id":"iRS3lJKLjFDT5SLO","name":"Candidatos Besthouse.com"}}},{"parameters":{"mode":"chooseBranch"},"id":"a20e776f-55ed-407d-ab77-28e3c1967be1","name":"si NO existe pasar datos anteriores1","type":"n8n-nodes-base.merge","typeVersion":2,"position":[640,384]},{"parameters":{"operation":"upsert","table":{"__rl":true,"value":"usuarios","mode":"list","cachedResultName":"usuarios"},"dataMode":"defineBelow","columnToMatchOn":"nombre","valueToMatchOn":"={{ $json.Nombre }}","valuesToSend":{"values":[{"column":"apellido","value":"={{ $json.Apellido }}"},{"column":"email","value":"={{ $json.Email }}"},{"column":"telefono","value":"={{ $json[\"Teléfono\"] }}"},{"column":"provincia","value":"={{ $json.Provincia }}"},{"column":"agenda","value":"={{ $json[\"Reunión\"] }}"},{"column":"mensaje","value":"={{ $json.Mensaje }}"},{"column":"soporte","value":"{{ (() => {   const isValid =     Boolean($json.message?.content?.remitenteValido) &&     (Array.isArray($json.message?.content?.match)       ? $json.message.content.match.length > 0       : Boolean($json.message?.content?.match));    if (!isValid) return null;    const rawFrom = $json.message?.content?.remitente ?? $json.from ?? '';   const email = String(rawFrom).toLowerCase().match(/<([^>]+)>/)?.[1]     || String(rawFrom).toLowerCase().trim();    if (email === 'correo@franquishop.com' || email === 'expansion@franquiciabest-house.es') return 'Franquishop';   if (email === 'leon@best-house.com') return 'Best-house.com';   return 'Otro'; })() }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[944,384],"id":"1dcd560e-8537-4618-9d0a-36f397c9330f","name":"Insertar candidato en la base de datos1","credentials":{"mySql":{"id":"RSSAhx7YCelelrXD","name":"MySQL account bestfranquicias"}}},{"parameters":{"postProcessAction":"nothing","options":{}},"type":"n8n-nodes-base.emailReadImap","typeVersion":2.1,"position":[0,0],"id":"7b871c9f-8c1b-4060-af74-b23340013305","name":"Email Trigger (IMAP)2","credentials":{"imap":{"id":"DakEx4HSIhTIScg0","name":"departamento de expansion"}}}],"connections":{"Switch1":{"main":[[],[{"node":"asignar datos a campos y conservarlos1","type":"main","index":0}]]},"Switch2":{"main":[[],[{"node":"si NO existe pasar datos anteriores1","type":"main","index":1}]]},"Extraer Cuerpo y remitente1":{"main":[[{"node":"Extraer datos a variables1","type":"main","index":0}]]},"Extraer datos a variables1":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"asignar datos a campos y conservarlos1":{"main":[[{"node":"Comprobar si el candidato existe en la base de datos1","type":"main","index":0},{"node":"si NO existe pasar datos anteriores1","type":"main","index":0}]]},"Comprobar si el candidato existe en la base de datos1":{"main":[[{"node":"Switch2","type":"main","index":0}]]},"si NO existe pasar datos anteriores1":{"main":[[{"node":"Insertar candidato en la base de datos1","type":"main","index":0}]]},"Email Trigger (IMAP)2":{"main":[[{"node":"Extraer Cuerpo y remitente1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1cfec047-cfd2-4122-b5d7-4af12da44d29","triggerCount":0,"shared":[{"updatedAt":"2025-12-01T11:23:56.888Z","createdAt":"2025-12-01T11:23:56.888Z","role":"workflow:owner","workflowId":"I3vGTrYFYZpnjdzX","projectId":"prlZ3bTXg0wKi0D1"}],"tags":[]}