create-image-ubHPZ4FgNaXQOUVB.json
{"updatedAt":"2025-10-19T17:13:02.000Z","createdAt":"2025-10-19T16:43:30.012Z","id":"ubHPZ4FgNaXQOUVB","name":"Create Image","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"toBinary","sourceProperty":"data[0].b64_json","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-208,224],"id":"4e7f18e5-d166-4652-9cda-c1a91fd08957","name":"Convert to File"},{"parameters":{"workflowInputs":{"values":[{"name":"imageTitle"},{"name":"imagePrompt"},{"name":"chatID"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1024,224],"id":"45902279-b409-4761-b583-753c2554f9c6","name":"When Executed by Another Workflow"},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/images/generations","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"gpt-image-1"},{"name":"prompt","value":"={{ $json.output.replace(/\"/g, '') }}"},{"name":"size","value":"1536x1024"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-384,224],"id":"148a8ad0-53f0-442f-b3f0-bcede9d353e1","name":"Generate Image","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"promptType":"define","text":"={{ $json.imagePrompt }}","options":{"systemMessage":"# Overview\nYou are an expert image prompt engineer. Your role is to take a simple image topic or concept and expand it into a fully detailed image prompt that can be fed into a text-to-image generation model.\n\n## Prompt Instructions\nYour detailed prompt must clearly describe the following:\n1) **Main Subject**: What is the primary focus of the image?\n2) **Background/Setting**: What is happening in the background or environment?\n3) **Style**: Specify the visual style (e.g., hyper-realistic, digital painting, watercolor, anime, 3D render, photorealistic, cinematic, etc.).\n4) **Mood/Lighting**: Describe the emotional tone and lighting (e.g., soft warm sunset, moody storm clouds, futuristic neon lights, natural daylight).\n5) **Additional Details**: Mention any specific objects, clothing, colors, textures, or notable features that should appear.\n\n## Output Format\n- Begin with a clean, natural-sounding descriptive prompt that integrates all of the above elements seamlessly.\n- The description should sound like it's written specifically for an AI to generate a professional, high-quality image.\n- Avoid repeating the original topic verbatim — instead, reframe it into a vivid scene or visual concept.\n- Use rich, vivid language and imagery.\n- Output ONLY the enhanced prompt, nothing else. No explanations, no quotes, just the prompt.\n\n## Example\n**Input**: \"A futuristic city\"\n\n**Output**: A sprawling futuristic city at night, glowing with neon lights in shades of blue and purple. Towering skyscrapers with sleek, glass facades line the horizon. Flying cars zoom between the buildings under a cloudy, electric sky. The streets below are bustling with holographic advertisements and people wearing high-tech fashion. Digital painting style, highly detailed, cinematic perspective, moody atmosphere with soft neon reflections on wet pavement.\n\n## Important\n- Do NOT include quotes around the output\n- Do NOT add explanatory text before or after the prompt\n- Just output the enhanced image description directly\n\nuse {{ $json.imagePrompt }} to generate de output\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-768,224],"id":"4c5daab1-b23c-4b72-bc6e-c14049f46f92","name":"Image Prompt"},{"parameters":{"model":"openai/gpt-5-mini","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-736,464],"id":"cc278cba-a74b-4119-8459-eadec49c4fe8","name":"GPT 4.1","credentials":{"openRouterApi":{"id":"hrgXqQ9MslXmo2ow","name":"OpenRouter account"}}},{"parameters":{"name":"={{ $('When Executed by Another Workflow').item.json.imageTitle }}.png","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1hskExhpZVqcrp1oBauLRz1ouuby0Pdb3","mode":"list","cachedResultName":"Fotos_marketing","cachedResultUrl":"https://drive.google.com/drive/folders/1hskExhpZVqcrp1oBauLRz1ouuby0Pdb3"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[96,368],"id":"c3fb4663-26f0-4a4f-a669-8efebce06832","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account Bestfranquicias"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"12nywGy3PwE5-XA1Jqo0BlJVP0RYNgV25Sxn_iEnXNAU","mode":"list","cachedResultName":"Imagen Log","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12nywGy3PwE5-XA1Jqo0BlJVP0RYNgV25Sxn_iEnXNAU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12nywGy3PwE5-XA1Jqo0BlJVP0RYNgV25Sxn_iEnXNAU/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Title":"={{ $('When Executed by Another Workflow').item.json.imageTitle }}","Type":"Image","Request":"={{ $('When Executed by Another Workflow').item.json.imagePrompt }}","ID":"={{ $json.id }}","Link":"={{ $json.webViewLink }}"},"matchingColumns":[],"schema":[{"id":"Title","displayName":"Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Type","displayName":"Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Request","displayName":"Request","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Link","displayName":"Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[320,368],"id":"0be7af6a-96b8-47ec-9d10-3a32fb02f127","name":"Image Log","credentials":{"googleSheetsOAuth2Api":{"id":"u3wPsvNe1n4GWzVs","name":"Google Sheets Bestfranquicias"}}},{"parameters":{"content":"# Image Prompt\n","height":240,"width":360,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-816,144],"id":"e18b91d4-badb-4661-9930-0cb42085afaf","name":"Sticky Note4"},{"parameters":{"content":"## Model","height":180,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-816,400],"id":"18eda0df-4b47-418b-ae6c-c196444ccf49","name":"Sticky Note2"},{"parameters":{"content":"# Trigger\n","height":240,"width":260,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1104,144],"id":"0506f8f0-7c0e-4a39-9b67-787178442f02","name":"Sticky Note5"},{"parameters":{"content":"# Generate Image\n","height":240,"width":400,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-448,144],"id":"aa65631a-fbf0-4c2b-bbbe-64c3dd9012dc","name":"Sticky Note1"},{"parameters":{"content":"# Send Content","height":240,"width":300,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"015a5c89-8e78-49e4-8f13-2a7c90c345f5","name":"Sticky Note7"},{"parameters":{"content":"# Write to Drive & Sheets","height":240,"width":540,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,288],"id":"0fb9d102-54ad-4126-976f-bb6609975e77","name":"Sticky Note6"},{"parameters":{"operation":"sendPhoto","chatId":"={{ $('When Executed by Another Workflow').item.json.chatID }}","binaryData":true,"additionalFields":{"caption":"={{ '✨ **' + $('When Executed by Another Workflow').item.json.imageTitle + '**\\n\\n🔗 [View in Drive](' + $('Google Drive').item.json.webViewLink + ')' }}"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[96,80],"id":"ed8668eb-3930-4da2-ba0f-0c6b5c4324cd","name":"Send Photo","webhookId":"8fcbda9c-8396-41f7-8f2d-39e4ae4337c7","credentials":{"telegramApi":{"id":"jDxsVgrb1fG40Bm1","name":"Telegram n8n_the2tor_bot"}}},{"parameters":{"assignments":{"assignments":[{"id":"a1b2c3d4","name":"imageTitle","value":"={{ $('When Executed by Another Workflow').item.json.imageTitle }}","type":"string"},{"id":"e5f6g7h8","name":"imageLink","value":"={{ $('Google Drive').item.json.webViewLink }}","type":"string"},{"id":"i9j0k1l2","name":"imageID","value":"={{ $('Google Drive').item.json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[512,368],"id":"caabf012-f97c-40a4-afad-efb8c5b2c885","name":"Prepare Return Data"}],"connections":{"Convert to File":{"main":[[{"node":"Google Drive","type":"main","index":0},{"node":"Send Photo","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Image Prompt","type":"main","index":0}]]},"Generate Image":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Image Prompt":{"main":[[{"node":"Generate Image","type":"main","index":0}]]},"GPT 4.1":{"ai_languageModel":[[{"node":"Image Prompt","type":"ai_languageModel","index":0}]]},"Google Drive":{"main":[[{"node":"Image Log","type":"main","index":0}]]},"Image Log":{"main":[[{"node":"Prepare Return Data","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"0a120fab-9462-440f-bf7e-220ada8bab6f","triggerCount":0,"shared":[{"updatedAt":"2025-10-19T16:43:30.014Z","createdAt":"2025-10-19T16:43:30.014Z","role":"workflow:owner","workflowId":"ubHPZ4FgNaXQOUVB","projectId":"prlZ3bTXg0wKi0D1"}],"tags":[{"updatedAt":"2025-10-19T11:30:21.425Z","createdAt":"2025-10-19T11:30:21.425Z","id":"URen6Kt1FqZ3jhaz","name":"Marketing Team"}]}