creador-de-imagenes-telegram-5gORb8b4RBOKBEhq.json
{"updatedAt":"2025-10-20T09:18:18.000Z","createdAt":"2025-10-19T17:42:41.717Z","id":"5gORb8b4RBOKBEhq","name":"Creador de imagenes telegram","active":false,"isArchived":false,"nodes":[{"parameters":{"name":"createImage","description":"Call this tool to create an image. ","workflowId":{"__rl":true,"value":"ubHPZ4FgNaXQOUVB","mode":"list","cachedResultUrl":"/workflow/ubHPZ4FgNaXQOUVB","cachedResultName":"Create Image"},"workflowInputs":{"mappingMode":"defineBelow","value":{"imageTitle":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('imageTitle', ``, 'string') }}","imagePrompt":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('imagePrompt', ``, 'string') }}","chatID":"={{ $('Telegram Trigger').item.json.message.chat.id }}"},"matchingColumns":[],"schema":[{"id":"imageTitle","displayName":"imageTitle","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"imagePrompt","displayName":"imagePrompt","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"chatID","displayName":"chatID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[1280,384],"id":"08b99218-6bc5-4366-87f9-557eed64b397","name":"Create Image","disabled":true},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger').item.json.message.chat.id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1152,384],"id":"65a8be48-d305-4831-849d-7ef1c4b45a11","name":"Simple Memory"},{"parameters":{"assignments":{"assignments":[{"id":"fe7ecc99-e1e8-4a5e-bdd6-6fce9757b234","name":"text","value":"={{ $json.message.text }}","type":"string"}]},"options":{}},"id":"f66e7d58-be04-4b8e-b496-e649b30a230d","name":"Set 'Text'","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[800,256]},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}","additionalFields":{}},"id":"d9e39e59-7978-41e5-ab12-f5885133fa33","name":"Download Voice File","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[576,64],"webhookId":"c0b376b1-7b63-41b6-8063-0b3096b8333d","credentials":{"telegramApi":{"id":"jDxsVgrb1fG40Bm1","name":"Telegram n8n_the2tor_bot"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"fa28a67b-8bd5-434f-a3dd-cda35385cc88","name":"Transcribe Audio","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[800,64],"credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Voice"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8c844924-b2ed-48b0-935c-c66a8fd0c778","leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"}]},"options":{}},"id":"711ecda6-02d0-4623-ab36-be8c4e89800a","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[352,160]},{"parameters":{"updates":["message"],"additionalFields":{}},"id":"52da2276-fc2a-46fe-a290-e779e5f24963","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[128,160],"webhookId":"99eab1a0-569d-4f0f-a49e-578a02abfe63","credentials":{"telegramApi":{"id":"jDxsVgrb1fG40Bm1","name":"Telegram n8n_the2tor_bot"}}},{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":"=# Overview\nYou are an expert image prompt engineer. Your role is to take a simple image topic or concept and expand it into a fully detailed image prompt that can be fed into a text-to-image generation model.\n\n## Prompt Instructions\nYour detailed prompt must clearly describe the following:\n1) **Main Subject**: What is the primary focus of the image?\n2) **Background/Setting**: What is happening in the background or environment?\n3) **Style**: Specify the visual style (e.g., hyper-realistic, digital painting, watercolor, anime, 3D render, photorealistic, cinematic, etc.).\n4) **Mood/Lighting**: Describe the emotional tone and lighting (e.g., soft warm sunset, moody storm clouds, futuristic neon lights, natural daylight).\n5) **Additional Details**: Mention any specific objects, clothing, colors, textures, or notable features that should appear.\n\n## Output Format\n- Begin with a clean, natural-sounding descriptive prompt that integrates all of the above elements seamlessly.\n- The description should sound like it's written specifically for an AI to generate a professional, high-quality image.\n- Avoid repeating the original topic verbatim — instead, reframe it into a vivid scene or visual concept.\n- Use rich, vivid language and imagery.\n- Output ONLY the enhanced prompt, nothing else. No explanations, no quotes, just the prompt.\n\n## Example\n**Input**: \"A futuristic city\"\n\n**Output**: A sprawling futuristic city at night, glowing with neon lights in shades of blue and purple. Towering skyscrapers with sleek, glass facades line the horizon. Flying cars zoom between the buildings under a cloudy, electric sky. The streets below are bustling with holographic advertisements and people wearing high-tech fashion. Digital painting style, highly detailed, cinematic perspective, moody atmosphere with soft neon reflections on wet pavement.\n\n## Important\n- Do NOT include quotes around the output\n- Do NOT add explanatory text before or after the prompt\n- Just output the enhanced image description directly\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[1152,160],"id":"0ec33d85-ac7b-472d-9100-2cf1a08f0918","name":"Marketing Team Agent","executeOnce":false},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[1408,384],"id":"bb1689e5-83b2-48e1-92a5-916c57945e43","name":"Think"},{"parameters":{"model":"openai/gpt-5-mini","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1024,384],"id":"a2cda33e-81aa-4923-8ae1-4ee49cb9dbf8","name":"GPT 5","credentials":{"openRouterApi":{"id":"hrgXqQ9MslXmo2ow","name":"OpenRouter account"}}},{"parameters":{"operation":"toBinary","sourceProperty":"data[0].b64_json","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1840,160],"id":"05b319c9-dc85-41b2-bd50-29753e8421f2","name":"Convert to File"},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/images/generations","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"gpt-image-1"},{"name":"prompt","value":"={{ $json.output.replace(/\"/g, '') }}"},{"name":"size","value":"1536x1024"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1616,160],"id":"35ef5199-f4b8-4448-8577-5bfe5e29b1d0","name":"Generate Image","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"name":"=imagen{{ $now }}.png","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1hskExhpZVqcrp1oBauLRz1ouuby0Pdb3","mode":"list","cachedResultName":"Fotos_marketing","cachedResultUrl":"https://drive.google.com/drive/folders/1hskExhpZVqcrp1oBauLRz1ouuby0Pdb3"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2064,256],"id":"64a4417f-aa4c-41d6-b154-6083a0beb962","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account Bestfranquicias"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"12nywGy3PwE5-XA1Jqo0BlJVP0RYNgV25Sxn_iEnXNAU","mode":"list","cachedResultName":"Imagen Log","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12nywGy3PwE5-XA1Jqo0BlJVP0RYNgV25Sxn_iEnXNAU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12nywGy3PwE5-XA1Jqo0BlJVP0RYNgV25Sxn_iEnXNAU/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Title":"=titulo","Type":"Image","Request":"={{ $('Marketing Team Agent').item.json.output }}","ID":"={{ $json.id }}","Link":"={{ $json.webViewLink }}"},"matchingColumns":[],"schema":[{"id":"Title","displayName":"Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Type","displayName":"Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Request","displayName":"Request","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Link","displayName":"Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2288,256],"id":"224ae97f-d64f-41a8-b229-4318580cdbab","name":"Image Log","credentials":{"googleSheetsOAuth2Api":{"id":"u3wPsvNe1n4GWzVs","name":"Google Sheets Bestfranquicias"}}},{"parameters":{"operation":"sendPhoto","chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","binaryData":true,"additionalFields":{"caption":"=imagen {{ $now }}"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2064,64],"id":"4ae9ccc3-6786-4254-b99f-b28fe1a50fc7","name":"Send Photo","webhookId":"8fcbda9c-8396-41f7-8f2d-39e4ae4337c7","credentials":{"telegramApi":{"id":"jDxsVgrb1fG40Bm1","name":"Telegram n8n_the2tor_bot"}}},{"parameters":{"jsCode":"function splitMessage(message, limit = 4096) {\n    const messages = [];\n    let currentChunk = '';\n\n    const words = message.split(' ');\n\n    for (const word of words) {\n        if ((currentChunk + word).length <= limit) {\n            currentChunk += (currentChunk ? ' ' : '') + word;\n        } else {\n            messages.push(currentChunk);\n            currentChunk = word;\n        }\n    }\n\n    if (currentChunk) {\n        messages.push(currentChunk);\n    }\n\n    return messages;\n}\n\n// Ejemplo de uso:\nconst longMessage = $input.first().json.output; // Cambia esto por tu variable\nconst messageChunks = splitMessage(longMessage);\nreturn messageChunks.map((chunk) => ({json: {message: chunk}}));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[128,-176],"id":"2372cea8-619c-42f7-9b4b-23a1834b82d0","name":"Code in JavaScript","disabled":true},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"=Imagen creada, pudes descargarla de {{ $('Google Drive').item.json.webContentLink }} o de {{ $json.Link }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2512,256],"id":"d3337c67-d843-4a89-9ee3-3d77e6d0aed2","name":"Telegram1","webhookId":"fbdb3bd7-490b-4d3e-961e-e2d398294649","credentials":{"telegramApi":{"id":"jDxsVgrb1fG40Bm1","name":"Telegram n8n_the2tor_bot"}}}],"connections":{"Create Image":{"ai_tool":[[{"node":"Marketing Team Agent","type":"ai_tool","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Marketing Team Agent","type":"ai_memory","index":0}]]},"Set 'Text'":{"main":[[{"node":"Marketing Team Agent","type":"main","index":0}]]},"Download Voice File":{"main":[[{"node":"Transcribe Audio","type":"main","index":0}]]},"Transcribe Audio":{"main":[[{"node":"Marketing Team Agent","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Download Voice File","type":"main","index":0}],[{"node":"Set 'Text'","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Think":{"ai_tool":[[{"node":"Marketing Team Agent","type":"ai_tool","index":0}]]},"GPT 5":{"ai_languageModel":[[{"node":"Marketing Team Agent","type":"ai_languageModel","index":0}]]},"Marketing Team Agent":{"main":[[{"node":"Generate Image","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Google Drive","type":"main","index":0},{"node":"Send Photo","type":"main","index":0}]]},"Generate Image":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Image Log","type":"main","index":0}]]},"Image Log":{"main":[[{"node":"Telegram1","type":"main","index":0}]]},"Code in JavaScript":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"28412a2a-db2f-44cf-97a1-1a7929145625","triggerCount":0,"shared":[{"updatedAt":"2025-10-19T17:42:41.719Z","createdAt":"2025-10-19T17:42:41.719Z","role":"workflow:owner","workflowId":"5gORb8b4RBOKBEhq","projectId":"prlZ3bTXg0wKi0D1"}],"tags":[{"updatedAt":"2025-10-19T11:30:21.425Z","createdAt":"2025-10-19T11:30:21.425Z","id":"URen6Kt1FqZ3jhaz","name":"Marketing Team"}]}