create-video-with-google-veo3-and-upload-to-youtube-r7YzrNxMkOa7cH9f.json
{"updatedAt":"2025-12-24T10:11:38.950Z","createdAt":"2025-12-24T10:11:38.950Z","id":"r7YzrNxMkOa7cH9f","name":"Create Video with Google Veo3 and Upload to Youtube","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"3e88272f-e554-41f4-933a-b75bbc40a2a6","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","position":[0,1312],"typeVersion":1},{"parameters":{"url":"=https://queue.fal.run/fal-ai/veo3/requests/{{ $('Create Video').item.json.request_id }}/status ","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"0b579834-5d41-42d4-bceb-341dfae94563","name":"Get status","type":"n8n-nodes-base.httpRequest","position":[1072,1312],"typeVersion":4.2},{"parameters":{"amount":60},"id":"a0516d23-114e-46da-8c2e-eb59a3b4f6f5","name":"Wait 60 sec.","type":"n8n-nodes-base.wait","position":[880,1312],"webhookId":"490facb8-d0ae-402e-ab59-a87720cf0bdd","typeVersion":1.1},{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"id":"46704b24-8abc-48d5-80b9-be09a8270b82","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[0,1168],"typeVersion":1.2},{"parameters":{"content":"# Generate AI Videos with Google Veo3, Save to Google Drive and Upload to YouTube\n\nThis workflow allows users to **generate AI videos** using **Google Veo3**, save them to **Google Drive**, generate optimized YouTube titles with GPT-4o, and **automatically upload them to YouTube** . The entire process is triggered from a Google Sheet that acts as the central interface for input and output.\n\nIT automates video creation, uploading, and tracking, ensuring seamless integration between Google Sheets, Google Drive, Google Veo3, and YouTube.\n\n\n\n\n","height":280,"width":740,"color":3},"id":"ffa241d6-e0ef-4c8d-94ec-bc64f0c602a1","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"content":"## STEP 1 - GOOGLE SHEET\nCreate a [Google Sheet like this](https://docs.google.com/spreadsheets/d/1pcoY9N_vQp44NtSRR5eskkL5Qd0N0BGq7Jh_4m-7VEQ/edit?usp=sharing).\n\nPlease insert:\n- in the \"PROMPT\" column the accurate description of the video you want to create\n- in the \"DURATION\" column the lenght of the video you want to create\n\nLeave the \"VIDEO\" column unfilled. It will be inserted by the system once the video has been created","height":200,"width":740},"id":"a8d32400-efe4-4d21-8d1f-ddcc96d885ad","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[0,320],"typeVersion":1},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"383d112e-2cc6-4dd4-8985-f09ce0bd1781","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.status }}","rightValue":"COMPLETED"}]},"options":{}},"id":"cb394606-9c76-4f44-abf1-285a2982a348","name":"Completed?","type":"n8n-nodes-base.if","position":[1248,1312],"typeVersion":2.2},{"parameters":{"operation":"update","documentId":{"__rl":true,"mode":"list","value":"1pcoY9N_vQp44NtSRR5eskkL5Qd0N0BGq7Jh_4m-7VEQ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pcoY9N_vQp44NtSRR5eskkL5Qd0N0BGq7Jh_4m-7VEQ/edit?usp=drivesdk","cachedResultName":"Video Google Veo3"},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11ebWJvwwXHgvQld9kxywKQUvIoBw6xMa0g0BuIqHDxE/edit#gid=0","cachedResultName":"Foglio1"},"columns":{"value":{"VIDEO":"={{ $('Get Url Video').item.json.video.url }}","row_number":"={{ $('Get new video').item.json.row_number }}"},"schema":[{"id":"PROMPT","type":"string","display":true,"removed":false,"required":false,"displayName":"PROMPT","defaultMatch":false,"canBeUsedToMatch":true},{"id":"DURATION","type":"string","display":true,"removed":false,"required":false,"displayName":"DURATION","defaultMatch":false,"canBeUsedToMatch":true},{"id":"VIDEO","type":"string","display":true,"removed":false,"required":false,"displayName":"VIDEO","defaultMatch":false,"canBeUsedToMatch":true},{"id":"YOUTUBE_URL","type":"string","display":true,"removed":false,"required":false,"displayName":"YOUTUBE_URL","defaultMatch":false,"canBeUsedToMatch":true},{"id":"row_number","type":"string","display":true,"removed":false,"readOnly":true,"required":false,"displayName":"row_number","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["row_number"],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"21bea2f3-17b9-47ef-bfa6-0fbf57e68bed","name":"Update result","type":"n8n-nodes-base.googleSheets","position":[1088,1568],"typeVersion":4.5,"credentials":{"googleSheetsOAuth2Api":{"id":"3jsPEgAVKs9WCnTd","name":"Google Sheets The2tor"}}},{"parameters":{"assignments":{"assignments":[{"id":"c713d31f-9abd-496a-ac79-e8e2efe60aa0","name":"prompt","type":"string","value":"={{ $json.PROMPT }}\n\nDuration of the video: {{ $json.DURATION }}"}]},"options":{}},"id":"69a33b20-9842-4672-afa9-5a0a2a1a0c6f","name":"Set data","type":"n8n-nodes-base.set","position":[448,1312],"typeVersion":3.4},{"parameters":{"content":"## STEP 4 - MAIN FLOW\nStart the workflow manually or periodically by hooking the \"Schedule Trigger\" node. It is recommended to set it at 5 minute intervals.","height":100,"width":740},"id":"51623bfa-31bd-487b-9deb-9ca91c59c892","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[0,992],"typeVersion":1},{"parameters":{"content":"## STEP 2 - GET API KEY (YOURAPIKEY)\nCreate an account [here](https://fal.ai/) and obtain API KEY.\nIn the node \"Create Image\" set \"Header Auth\" and set:\n- Name: \"Authorization\"\n- Value: \"Key YOURAPIKEY\"","height":140,"width":740},"id":"91b36038-a9e2-4c86-8f80-53401e324287","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[0,560],"typeVersion":1},{"parameters":{"content":"Set API Key created in Step 2","height":200,"width":180},"id":"3f57d047-390d-4dd3-adb2-76411d7a5d2f","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[624,1248],"typeVersion":1},{"parameters":{"documentId":{"__rl":true,"mode":"list","value":"1pcoY9N_vQp44NtSRR5eskkL5Qd0N0BGq7Jh_4m-7VEQ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pcoY9N_vQp44NtSRR5eskkL5Qd0N0BGq7Jh_4m-7VEQ/edit?usp=drivesdk","cachedResultName":"Video Google Veo3"},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pcoY9N_vQp44NtSRR5eskkL5Qd0N0BGq7Jh_4m-7VEQ/edit#gid=0","cachedResultName":"Foglio1"},"filtersUI":{"values":[{"lookupColumn":"VIDEO"}]},"options":{}},"id":"1501113b-695f-407d-9717-9717e3eb7b1d","name":"Get new video","type":"n8n-nodes-base.googleSheets","position":[224,1312],"typeVersion":4.5,"credentials":{"googleSheetsOAuth2Api":{"id":"3jsPEgAVKs9WCnTd","name":"Google Sheets The2tor"}}},{"parameters":{"method":"POST","url":"https://queue.fal.run/fal-ai/veo3","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n     \"prompt\": \"{{$json.prompt}}\"\n}","options":{}},"id":"fb63e225-686e-46e8-9844-a4599e6f8ab3","name":"Create Video","type":"n8n-nodes-base.httpRequest","position":[672,1312],"typeVersion":4.2},{"parameters":{"url":"=https://queue.fal.run/fal-ai/veo3/requests/{{ $json.request_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"4a2af43c-20a2-483d-98fa-48d7b488322d","name":"Get Url Video","type":"n8n-nodes-base.httpRequest","position":[0,1680],"typeVersion":4.2},{"parameters":{"url":"={{ $('Get Url Video').item.json.video.url }}","options":{}},"id":"cd837886-2e6e-4d8f-ad0c-1c38d2bfbc0e","name":"Get File Video","type":"n8n-nodes-base.httpRequest","position":[624,1680],"typeVersion":4.2},{"parameters":{"name":"={{ $now.format('yyyyLLddHHmmss') }}-{{ $('Get Url Video').item.json.video.file_name }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"list","value":"1aHRwLWyrqfzoVC8HoB-YMrBvQ4tLC-NZ","cachedResultUrl":"https://drive.google.com/drive/folders/1aHRwLWyrqfzoVC8HoB-YMrBvQ4tLC-NZ","cachedResultName":"Fal.run"},"options":{}},"id":"1164191c-86a5-446b-a6d1-55d27a4457fa","name":"Upload Video","type":"n8n-nodes-base.googleDrive","position":[912,1568],"typeVersion":3},{"parameters":{"method":"POST","url":"https://api.upload-post.com/api/upload","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"title","value":"={{ $('Generate title').item.json.message.content }}"},{"name":"user","value":"YOUR_USERNAME"},{"name":"platform[]","value":"youtube"},{"parameterType":"formBinaryData","name":"video","inputDataFieldName":"data"}]},"options":{}},"id":"8d371583-72f8-44b1-a015-d9f52945f4d1","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","position":[912,1792],"typeVersion":4.2},{"parameters":{"modelId":{"__rl":true,"mode":"list","value":"gpt-4o-mini","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=Input: {{ $('Get new video').item.json.PROMPT }}"},{"content":"You are a YouTube SEO expert specialized in creating engaging and optimized titles.\n\nYour task is to generate an effective title for a YouTube video based on the user's video description.\n\nGUIDELINES:\n- Maximum 60 characters to avoid truncation\n- Use relevant keywords for SEO\n- Make the title catchy and clickable\n- Avoid excessive or misleading clickbait\n- Consider the target audience of the content\n- Use numbers, questions, or power words when appropriate\n- IMPORTANT: Generate the title in the same language as the input description\n\nOUTPUT FORMAT:\nProvide only the title, without additional explanations.\n\nEXAMPLE:\nInput: \"Tutorial video on how to cook perfect pasta carbonara\"\nOutput: \"PERFECT Carbonara in 10 Minutes - Chef's Secrets\"","role":"system"}]},"options":{}},"id":"99d4caf2-8c13-4424-b78d-a85a260323b5","name":"Generate title","type":"@n8n/n8n-nodes-langchain.openAi","position":[240,1680],"typeVersion":1.8},{"parameters":{"operation":"update","documentId":{"__rl":true,"mode":"list","value":"1pcoY9N_vQp44NtSRR5eskkL5Qd0N0BGq7Jh_4m-7VEQ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pcoY9N_vQp44NtSRR5eskkL5Qd0N0BGq7Jh_4m-7VEQ/edit?usp=drivesdk","cachedResultName":"Video Google Veo3"},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11ebWJvwwXHgvQld9kxywKQUvIoBw6xMa0g0BuIqHDxE/edit#gid=0","cachedResultName":"Foglio1"},"columns":{"value":{"VIDEO":"=","row_number":"={{ $('Get new video').item.json.row_number }}","YOUTUBE_URL":"https://youtu.be/{{ $json.results.youtube.video_id }}"},"schema":[{"id":"PROMPT","type":"string","display":true,"removed":false,"required":false,"displayName":"PROMPT","defaultMatch":false,"canBeUsedToMatch":true},{"id":"DURATION","type":"string","display":true,"removed":false,"required":false,"displayName":"DURATION","defaultMatch":false,"canBeUsedToMatch":true},{"id":"VIDEO","type":"string","display":true,"removed":false,"required":false,"displayName":"VIDEO","defaultMatch":false,"canBeUsedToMatch":true},{"id":"YOUTUBE_URL","type":"string","display":true,"removed":false,"required":false,"displayName":"YOUTUBE_URL","defaultMatch":false,"canBeUsedToMatch":true},{"id":"row_number","type":"string","display":true,"removed":false,"readOnly":true,"required":false,"displayName":"row_number","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["row_number"],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"d078deb0-374d-4e2b-b235-ef81e82c9de9","name":"Update Youtube URL","type":"n8n-nodes-base.googleSheets","position":[1088,1792],"typeVersion":4.5,"credentials":{"googleSheetsOAuth2Api":{"id":"3jsPEgAVKs9WCnTd","name":"Google Sheets The2tor"}}},{"parameters":{"content":"Set YOUR_USERNAME in Step 3","height":200,"width":180},"id":"d13d0f3a-080a-4251-a694-7e8652a842b6","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[880,1728],"typeVersion":1},{"parameters":{"content":"## STEP 3 - Upload video on Youtube\n- Find your API key in your [Upload-Post Manage Api Keys](https://www.upload-post.com/?linkId=lp_144414&sourceId=n3witalia&tenantId=upload-post-app) 10 FREE uploads per month\n- Set the the \"Auth Header\":\n-- Name: Authorization\n-- Value: Apikey YOUR_API_KEY_HERE\n- Create profiles to manage your social media accounts. The \"Profile\" you choose will be used in the field YOUR_USRNAME (eg. test1 or test2).  ","height":200,"width":740},"id":"3199fabe-f801-44f3-8d48-13bbf2975434","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","position":[0,752],"typeVersion":1}],"connections":{"Set data":{"main":[[{"node":"Create Video","type":"main","index":0}]]},"Completed?":{"main":[[{"node":"Get Url Video","type":"main","index":0}],[{"node":"Wait 60 sec.","type":"main","index":0}]]},"Get status":{"main":[[{"node":"Completed?","type":"main","index":0}]]},"Create Video":{"main":[[{"node":"Wait 60 sec.","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Update Youtube URL","type":"main","index":0}]]},"Upload Video":{"main":[[{"node":"Update result","type":"main","index":0}]]},"Wait 60 sec.":{"main":[[{"node":"Get status","type":"main","index":0}]]},"Get Url Video":{"main":[[{"node":"Generate title","type":"main","index":0}]]},"Get new video":{"main":[[{"node":"Set data","type":"main","index":0}]]},"Generate title":{"main":[[{"node":"Get File Video","type":"main","index":0}]]},"Get File Video":{"main":[[{"node":"Upload Video","type":"main","index":0},{"node":"HTTP Request","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Get new video","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"80e2c4f0-9161-4079-9492-7e111e5b7c65","triggerCount":0,"shared":[{"updatedAt":"2025-12-24T10:11:38.955Z","createdAt":"2025-12-24T10:11:38.955Z","role":"workflow:owner","workflowId":"r7YzrNxMkOa7cH9f","projectId":"prlZ3bTXg0wKi0D1"}],"tags":[]}