create-image-no-P4q4MH9ekF0jhdjX.json
{"updatedAt":"2025-10-19T16:43:04.000Z","createdAt":"2025-10-19T11:33:24.650Z","id":"P4q4MH9ekF0jhdjX","name":"Create Image NO","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"toBinary","sourceProperty":"data[0].b64_json","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-880,304],"id":"954c6bb4-6851-4af5-a25d-e31ff3e32a23","name":"Convert to File"},{"parameters":{"workflowInputs":{"values":[{"name":"imageTitle"},{"name":"imagePrompt"},{"name":"chatID"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1696,304],"id":"1ee61220-978d-4ead-80e6-f3e8f5805117","name":"When Executed by Another Workflow"},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/images/generations","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"gpt-image-1"},{"name":"prompt","value":"={{ $json.output.replace(/\"/g, '') }}"},{"name":"size","value":"1536x1024"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1056,304],"id":"af8a65a5-83d1-4c3f-a901-26013404c898","name":"Generate Image","credentials":{"httpHeaderAuth":{"id":"czZ13v50RjRSM15B","name":"Header Auth account"},"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"promptType":"define","text":"={{ $json.imagePrompt }}","options":{"systemMessage":"=# Overview\nYou are an expert image prompt engineer. Your role is to take a simple image topic or concept and expand it into a fully detailed image prompt that can be fed into a text-to-image generation model.\n\n## Prompt Instructions\nYour detailed prompt must clearly describe the following:\n1) Main Subject: What is the primary focus of the image?\n2) Background/Setting: What is happening in the background or environment?\n3) Style: Specify the visual style (e.g., hyper-realistic, digital painting, watercolor, anime, 3D render, etc.).\n4) Mood/Lighting: Describe the emotional tone and lighting (e.g., soft warm sunset, moody storm clouds, futuristic neon lights).\n5) Additional Details: Mention any specific objects, clothing, colors, textures, or notable features that should appear.\n\n## Output Format\n- Begin with a clean, natural-sounding descriptive prompt that integrates all of the above elements seamlessly.\n- The description should sound like it’s written specifically for an AI to generate a professional, high-quality image.\n- Avoid repeating the original topic verbatim — instead, reframe it into a vivid scene or visual concept.\n- Use rich, vivid language and imagery.\n\n## Example\n- Input: \"A futuristic city\"\n- Output: \"A sprawling futuristic city at night, glowing with neon lights in shades of blue and purple. Towering skyscrapers with sleek, glass facades line the horizon. Flying cars zoom between the buildings under a cloudy, electric sky. The streets below are bustling with holographic advertisements and people wearing high-tech fashion. Digital painting style, highly detailed, cinematic perspective, moody atmosphere with soft neon reflections on wet pavement.\""}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-1440,304],"id":"8849cd86-98ea-4c26-a66e-98f7af02a574","name":"Image Prompt"},{"parameters":{"model":"openai/gpt-5-image-mini","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-1408,544],"id":"565ab930-9e35-485c-8c8b-640d41911e8f","name":"GPT 4.1","credentials":{"openRouterApi":{"id":"hrgXqQ9MslXmo2ow","name":"OpenRouter account"}}},{"parameters":{"name":"={{ $('When Executed by Another Workflow').item.json.imageTitle }}.png","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1hskExhpZVqcrp1oBauLRz1ouuby0Pdb3","mode":"list","cachedResultName":"Fotos_marketing","cachedResultUrl":"https://drive.google.com/drive/folders/1hskExhpZVqcrp1oBauLRz1ouuby0Pdb3"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-576,448],"id":"9125c002-c02c-4cb8-a7e1-fa4b71b21eb4","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account Bestfranquicias"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"12nywGy3PwE5-XA1Jqo0BlJVP0RYNgV25Sxn_iEnXNAU","mode":"list","cachedResultName":"Imagen Log","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12nywGy3PwE5-XA1Jqo0BlJVP0RYNgV25Sxn_iEnXNAU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12nywGy3PwE5-XA1Jqo0BlJVP0RYNgV25Sxn_iEnXNAU/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Request":"={{ $('When Executed by Another Workflow').item.json.imagePrompt }}","ID":"={{ $json.id }}","Link":"={{ $json.webViewLink }}","Title":"={{ $('When Executed by Another Workflow').item.json.imageTitle }}","Type":"Image"},"matchingColumns":[],"schema":[{"id":"Title","displayName":"Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Type","displayName":"Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Request","displayName":"Request","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Link","displayName":"Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Post","displayName":"Post","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-352,448],"id":"ee446f7f-7c0f-407e-be3d-e5f73fe606a3","name":"Image Log","credentials":{"googleSheetsOAuth2Api":{"id":"u3wPsvNe1n4GWzVs","name":"Google Sheets Bestfranquicias"}}},{"parameters":{"content":"# Image Prompt\n","height":240,"width":360,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1488,224],"id":"e45a8a17-1762-4a1d-ba8c-6db06b880cd2","name":"Sticky Note4"},{"parameters":{"content":"## Model","height":180,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1488,480],"id":"4d2a088a-c00a-4e90-be7d-f69246dbdfc0","name":"Sticky Note2"},{"parameters":{"content":"# Trigger\n","height":240,"width":260,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1776,224],"id":"f421e748-f64a-4d4a-8368-5a2f8f7b7a7a","name":"Sticky Note5","disabled":true},{"parameters":{"content":"# Generate Image\n","height":240,"width":400,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1120,224],"id":"433713fa-863a-46ae-9fde-17dbfa029b2e","name":"Sticky Note1"},{"parameters":{"content":"# Send Content","height":240,"width":300,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-672,80],"id":"3879010d-2e8d-4aa1-8c9a-f4f115078e16","name":"Sticky Note7"},{"parameters":{"content":"# Write to Drive & Sheets","height":240,"width":540,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-672,368],"id":"18f73d00-b021-4bd6-8b1c-4888034404bb","name":"Sticky Note6"},{"parameters":{"operation":"sendPhoto","chatId":"={{ $('When Executed by Another Workflow').item.json.chatID }}","binaryData":true,"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-576,160],"id":"380d54e1-058e-4c60-8cf2-e7c449392735","name":"Send Photo","webhookId":"8fcbda9c-8396-41f7-8f2d-39e4ae4337c7","credentials":{"telegramApi":{"id":"jDxsVgrb1fG40Bm1","name":"Telegram n8n_the2tor_bot"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Image Prompt","type":"main","index":0}]]},"Generate Image":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Image Prompt":{"main":[[{"node":"Generate Image","type":"main","index":0}]]},"GPT 4.1":{"ai_languageModel":[[{"node":"Image Prompt","type":"ai_languageModel","index":0}]]},"Convert to File":{"main":[[{"node":"Google Drive","type":"main","index":0},{"node":"Send Photo","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Image Log","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"64e9ec1f-69f8-49ac-b298-6355305359a3","triggerCount":0,"shared":[{"updatedAt":"2025-10-19T11:33:24.652Z","createdAt":"2025-10-19T11:33:24.652Z","role":"workflow:owner","workflowId":"P4q4MH9ekF0jhdjX","projectId":"prlZ3bTXg0wKi0D1"}],"tags":[{"updatedAt":"2025-10-19T11:30:21.425Z","createdAt":"2025-10-19T11:30:21.425Z","id":"URen6Kt1FqZ3jhaz","name":"Marketing Team"}]}