drive-to-supabase-vector-db-eEZSe9ydSmZrY2Is.json
{"updatedAt":"2025-11-27T18:47:01.000Z","createdAt":"2025-10-20T22:03:16.900Z","id":"eEZSe9ydSmZrY2Is","name":"Drive to Supabase Vector DB","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"8e4e36f2-dc97-41d0-a92d-c2ec1bbe08a6","name":"Inicio Manual","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2000,-128]},{"parameters":{"resource":"fileFolder","filter":{},"options":{}},"id":"bb80749e-9616-44a1-89b4-baf856e896d2","name":"Listar Archivos Drive","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1792,-128],"credentials":{"googleDriveOAuth2Api":{"id":"dFLjvxTt8GuDFPPd","name":"Google Drive Bestfranquicias"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"id":"815bb56a-2eaa-4934-8259-4ba6078cd8f3","name":"Descargar Archivo","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1568,-128],"credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account Bestfranquicias"}}},{"parameters":{"jsCode":"// Extraer texto según el tipo de archivo\nconst items = [];\n\nfor (const item of $input.all()) {\n  const mimeType = item.json.mimeType;\n  const fileName = item.json.name;\n  const fileId = item.json.id;\n  const binaryData = item.binary.data;\n  \n  let text = '';\n  \n  try {\n    if (mimeType === 'application/pdf') {\n      // Para PDF, usaremos otro nodo específico\n      items.push({\n        json: {\n          fileName,\n          fileId,\n          mimeType,\n          needsPdfExtraction: true,\n          binaryData: binaryData\n        },\n        binary: item.binary\n      });\n      continue;\n    } else if (mimeType.includes('wordprocessingml')) {\n      // Para DOCX, también necesitamos procesamiento especial\n      items.push({\n        json: {\n          fileName,\n          fileId,\n          mimeType,\n          needsDocxExtraction: true,\n          binaryData: binaryData\n        },\n        binary: item.binary\n      });\n      continue;\n    }\n  } catch (error) {\n    console.error(`Error procesando ${fileName}:`, error);\n    continue;\n  }\n}\n\nreturn items;"},"id":"f91dab70-24b0-4758-a212-2a84c812f06b","name":"Preparar Extracción","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1344,-128]},{"parameters":{"operation":"pdf","options":{}},"id":"fd095b12-c57a-4ebb-9113-1abb33bce77b","name":"Extraer Texto PDF","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-1120,-224]},{"parameters":{"language":"python","pythonCode":"from docx import Document\nimport io\n\nitems = _input.all()  # Obtener todos los items de entrada\n\nfor item in items:\n    # Acceso al binario según el nuevo formato\n    binary_data = item['binary']['data']['data']\n\n    # Convertir binary data (bytes) a BytesIO\n    doc_bytes = io.BytesIO(binary_data)\n    doc = Document(doc_bytes)\n\n    # Extraer texto\n    text = ''\n    for paragraph in doc.paragraphs:\n        text += paragraph.text + '\\n'\n\n    # Guardar resultado en el JSON del item\n    if 'json' not in item:\n        item['json'] = {}\n    item['json']['text'] = text\n\nreturn items\n"},"id":"54337a12-5621-4814-a29c-8b2cd4bef49b","name":"Extraer Texto DOCX","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1120,-32]},{"parameters":{"assignments":{"assignments":[{"id":"a1b2c3d4-e5f6-7890-abcd-ef1234567890","name":"text","value":"={{ $json.text || $json.data }}","type":"string"},{"id":"b2c3d4e5-f6a7-8901-bcde-f12345678901","name":"fileName","value":"={{ $json.fileName }}","type":"string"},{"id":"c3d4e5f6-a7b8-9012-cdef-123456789012","name":"fileId","value":"={{ $json.fileId }}","type":"string"},{"id":"d4e5f6a7-b8c9-0123-def1-234567890123","name":"mimeType","value":"={{ $json.mimeType }}","type":"string"}]},"options":{}},"id":"77aeac1c-f53e-461b-85d2-0d7e61762223","name":"Unificar Datos","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-912,-128]},{"parameters":{"jsCode":"// Dividir texto en chunks\nconst chunkSize = 1000;\nconst chunkOverlap = 200;\n\nfunction createChunks(text, metadata) {\n  const chunks = [];\n  let start = 0;\n  let chunkIndex = 0;\n  \n  while (start < text.length) {\n    const end = Math.min(start + chunkSize, text.length);\n    const chunk = text.slice(start, end);\n    \n    chunks.push({\n      content: chunk,\n      metadata: {\n        ...metadata,\n        chunk_index: chunkIndex,\n        chunk_start: start,\n        chunk_end: end\n      }\n    });\n    \n    start += chunkSize - chunkOverlap;\n    chunkIndex++;\n  }\n  \n  // Añadir total_chunks a todos los chunks\n  chunks.forEach(chunk => {\n    chunk.metadata.total_chunks = chunks.length;\n  });\n  \n  return chunks;\n}\n\nconst allChunks = [];\n\nfor (const item of $input.all()) {\n  const text = item.json.text || '';\n  \n  const metadata = {\n    filename: item.json.fileName,\n    file_id: item.json.fileId,\n    mime_type: item.json.mimeType,\n    processed_at: new Date().toISOString()\n  };\n  \n  const chunks = createChunks(text, metadata);\n  \n  chunks.forEach(chunk => {\n    allChunks.push({\n      json: chunk\n    });\n  });\n}\n\nreturn allChunks;"},"id":"866d6bec-2766-4795-97c5-5f1e2c4283c9","name":"Crear Chunks","type":"n8n-nodes-base.code","typeVersion":2,"position":[-720,-128]},{"parameters":{},"id":"1d78e177-9c14-4ee2-bdd7-74869c17a090","name":"Generar Embeddings","type":"n8n-nodes-base.openAi","typeVersion":1.3,"position":[-464,-128],"credentials":{}},{"parameters":{"assignments":{"assignments":[{"id":"e1f2a3b4-c5d6-7890-e123-789012345678","name":"content","value":"={{ $json.content }}","type":"string"},{"id":"f2a3b4c5-d6e7-8901-f234-890123456789","name":"metadata","value":"={{ $json.metadata }}","type":"object"},{"id":"a3b4c5d6-e7f8-9012-a345-901234567890","name":"embedding","value":"={{ $json.data }}","type":"array"}]},"options":{}},"id":"f40d7ddb-09c4-4017-8e48-936d293d01d1","name":"Preparar para Supabase","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-240,-128]},{"parameters":{"operation":"insert"},"id":"3635dcd6-50e7-433b-b2a9-5cecddfd48e2","name":"Insertar en Supabase","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-32,-128],"credentials":{"supabaseApi":{"id":"T3nXrcPYn5GbFuxT","name":"Supabase account"}}},{"parameters":{"jsCode":"// Resumen del procesamiento\nconst totalItems = $input.all().length;\nconst successCount = $input.all().filter(item => item.json.id).length;\nconst errorCount = totalItems - successCount;\n\nreturn [\n  {\n    json: {\n      status: 'completed',\n      total_chunks: totalItems,\n      successful_inserts: successCount,\n      failed_inserts: errorCount,\n      timestamp: new Date().toISOString()\n    }\n  }\n];"},"id":"d39fde95-06a0-4535-8a2a-5f8efcea581a","name":"Resumen Final","type":"n8n-nodes-base.code","typeVersion":2,"position":[208,-128]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"f2a3b4c5-d6e7-8901-f567-345678901234","leftValue":"={{ $json.needsPdfExtraction }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}},"id":"a946a69a-7ef5-498d-b119-d252fb8ca7e1","name":"Es PDF?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-1344,-128]}],"connections":{"Inicio Manual":{"main":[[{"node":"Listar Archivos Drive","type":"main","index":0}]]},"Listar Archivos Drive":{"main":[[{"node":"Descargar Archivo","type":"main","index":0}]]},"Descargar Archivo":{"main":[[{"node":"Es PDF?","type":"main","index":0}]]},"Es PDF?":{"main":[[{"node":"Extraer Texto PDF","type":"main","index":0}],[{"node":"Extraer Texto DOCX","type":"main","index":0}]]},"Extraer Texto PDF":{"main":[[{"node":"Unificar Datos","type":"main","index":0}]]},"Extraer Texto DOCX":{"main":[[{"node":"Unificar Datos","type":"main","index":0}]]},"Unificar Datos":{"main":[[{"node":"Crear Chunks","type":"main","index":0}]]},"Preparar para Supabase":{"main":[[{"node":"Insertar en Supabase","type":"main","index":0}]]},"Insertar en Supabase":{"main":[[{"node":"Resumen Final","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f4d4b758-e2bb-4c8f-a901-78046e8e8aba","triggerCount":0,"shared":[{"updatedAt":"2025-10-20T22:03:16.903Z","createdAt":"2025-10-20T22:03:16.903Z","role":"workflow:owner","workflowId":"eEZSe9ydSmZrY2Is","projectId":"prlZ3bTXg0wKi0D1"}],"tags":[]}