editar_imagenes-bvO22zJ8csguDoAz.json
{"updatedAt":"2025-10-05T19:01:05.000Z","createdAt":"2025-10-03T22:40:42.722Z","id":"bvO22zJ8csguDoAz","name":"editar_imagenes","active":false,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"https://api.imgbb.com/1/upload","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"11a4590e9276698a73df73b1598a1c2c"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"image","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1088,-240],"id":"bf837362-2255-4b58-a2bd-3fef64ba0830","name":"Obtener URL1"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.imageID }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1312,-240],"id":"9b5f42ce-e5ae-4715-89dd-69e34174018a","name":"Descargar archivo1","credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account 2"}}},{"parameters":{"method":"POST","url":"https://queue.fal.run/fal-ai/nano-banana/edit","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Key ab5422ee-4861-4ac1-b28a-e0e3d8ec341a:55748f3ec6328c24add3e9679e07b736"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"prompt\": \"{{ \n  $('When Executed by Another Workflow').item.json.imagePrompt.replace(/\\\"/g, '\\\\\\\"').replace(/(\\r\\n|\\n|\\r)/g, '\\\\n') }}}}\",\n  \"image_urls\": [\n    \"{{ $json.data.url }}\"\n  ],\n  \"num_images\": 1,\n  \"output_format\": \"jpeg\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-864,-240],"id":"a99f43d1-5c08-4b29-97f6-f403c6a1555f","name":"Crear Imagen1"},{"parameters":{"url":"={{ $json.images[0].url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-192,-384],"id":"5564fa37-40f6-4353-b9c5-1b268aa0fa87","name":"Descargar Imagen1"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-640,-240],"id":"c5a8bd93-8232-46ab-a02e-e1508d1e3c22","name":"10 Segundos1","webhookId":"caad73e3-58d8-4fbd-a3e9-c42424f2d1ee"},{"parameters":{"name":"={{ $('When Executed by Another Workflow').item.json.imageTitle }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1Cazquw6V9N0P-9L2-8I_mLYoPD_EfoL2","mode":"list","cachedResultName":"fotosIA","cachedResultUrl":"https://drive.google.com/drive/folders/1Cazquw6V9N0P-9L2-8I_mLYoPD_EfoL2"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[32,-384],"id":"b00d19dd-4646-45bb-824a-cd691b9e7b5e","name":"Subir archivo2","credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account 2"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-192,-192],"id":"0016780d-8f98-45d5-8ff3-c576288a596c","name":"5 Segundos1","webhookId":"5f6bbd1e-a155-48de-b737-a225c6fd7a84"},{"parameters":{"url":"=https://queue.fal.run/fal-ai/nano-banana/requests/{{ $json.request_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Key ab5422ee-4861-4ac1-b28a-e0e3d8ec341a:55748f3ec6328c24add3e9679e07b736"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-416,-240],"id":"eec53e6f-8f84-4fc8-8484-6da559abeb97","name":"Obtener Resultado1","onError":"continueErrorOutput"},{"parameters":{"mode":"raw","jsonOutput":"={{\n  {\n    \"Response\": \"La imagen fue creada y nombrada \\\"\" + ($json.name || \"\") + \"\\\".\\n\\nAquí está el enlace a la imagen en Google Drive: \" + ($json.webViewLink || \"\")\n  }\n}}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[256,-384],"id":"e000b88b-c82d-46db-9024-1d296e848a8c","name":"Resultado1"},{"parameters":{"workflowInputs":{"values":[{"name":"imageTitle"},{"name":"imagePrompt"},{"name":"imageID"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1552,-240],"id":"3e8dff2f-5318-453a-a252-ffa7e87add5e","name":"When Executed by Another Workflow"}],"connections":{"Obtener URL1":{"main":[[{"node":"Crear Imagen1","type":"main","index":0}]]},"Descargar archivo1":{"main":[[{"node":"Obtener URL1","type":"main","index":0}]]},"Crear Imagen1":{"main":[[{"node":"10 Segundos1","type":"main","index":0}]]},"Descargar Imagen1":{"main":[[{"node":"Subir archivo2","type":"main","index":0}]]},"10 Segundos1":{"main":[[{"node":"Obtener Resultado1","type":"main","index":0}]]},"Subir archivo2":{"main":[[{"node":"Resultado1","type":"main","index":0}]]},"5 Segundos1":{"main":[[{"node":"Obtener Resultado1","type":"main","index":0}]]},"Obtener Resultado1":{"main":[[{"node":"Descargar Imagen1","type":"main","index":0}],[{"node":"5 Segundos1","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Descargar archivo1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"b5aa16e9-80aa-45f9-9c99-bf182fa9464c","triggerCount":0,"shared":[{"updatedAt":"2025-10-03T22:40:42.724Z","createdAt":"2025-10-03T22:40:42.724Z","role":"workflow:owner","workflowId":"bvO22zJ8csguDoAz","projectId":"prlZ3bTXg0wKi0D1"}],"tags":[]}