edit-image-8BFWdcICwtwckhuB.json
{"updatedAt":"2025-10-19T11:32:57.000Z","createdAt":"2025-10-19T11:32:54.795Z","id":"8BFWdcICwtwckhuB","name":"Edit Image","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"image"},{"name":"request"},{"name":"chatID"},{"name":"pictureID"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1520,416],"id":"9dea6e54-c597-4266-a7b8-c3d1c548617b","name":"When Executed by Another Workflow"},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/images/edits","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"image","inputDataFieldName":"data"},{"name":"prompt","value":"={{ $('When Executed by Another Workflow').item.json.request.replace(/\"/g, '') }}"},{"name":"model","value":"gpt-image-1"},{"name":"size","value":"1024x1024"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1008,416],"id":"f481a8cd-fd07-4773-941e-a92b4aaab15a","name":"Edit Image","credentials":{"httpHeaderAuth":{"id":"czZ13v50RjRSM15B","name":"Header Auth account"}}},{"parameters":{"operation":"toBinary","sourceProperty":"data[0].b64_json","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-784,416],"id":"25ac539c-9354-42a5-ae2c-c9ddc78aa4a2","name":"Convert to File"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1JqOTd49heNBdmrf5hSwxI66X724tspAmSjzWoA6-EU0","mode":"list","cachedResultName":"Marketing Team Log","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1JqOTd49heNBdmrf5hSwxI66X724tspAmSjzWoA6-EU0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1JqOTd49heNBdmrf5hSwxI66X724tspAmSjzWoA6-EU0/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Request":"={{ $('When Executed by Another Workflow').item.json.request }}","ID":"={{ $json.id }}","Link":"={{ $json.webViewLink }}","Title":"={{ $('When Executed by Another Workflow').item.json.image }}","Type":"Edit"},"matchingColumns":[],"schema":[{"id":"Title","displayName":"Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Type","displayName":"Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Request","displayName":"Request","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Link","displayName":"Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Post","displayName":"Post","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-240,560],"id":"0698d897-9f40-4f6e-b9f0-7f36c88242c2","name":"Image Log","credentials":{"googleSheetsOAuth2Api":{"id":"u3wPsvNe1n4GWzVs","name":"Google Sheets Bestfranquicias"}}},{"parameters":{"name":"={{ $('When Executed by Another Workflow').item.json.image }} (Edited).png","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1TgQu-5hlOzO1X28TMMzLxfhunhPSUIqy","mode":"list","cachedResultName":"AI Image Generation","cachedResultUrl":"https://drive.google.com/drive/folders/1TgQu-5hlOzO1X28TMMzLxfhunhPSUIqy"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-480,560],"id":"cce32a59-3afa-4e9b-8d4a-6b218781c334","name":"Upload Image","credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account Bestfranquicias"}}},{"parameters":{"content":"# Edit Image\n","height":260,"width":460,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1088,336],"id":"cd6c96be-4012-4487-ab4d-8b860ee96f3d","name":"Sticky Note1"},{"parameters":{"content":"# Send Content","height":240,"width":300,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-576,208],"id":"3bd6717d-1122-43a7-b75a-7e970cfade31","name":"Sticky Note7"},{"parameters":{"content":"# Write to Drive & Sheets","height":240,"width":540,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-576,480],"id":"57c39d2e-43c5-4c29-a2e4-1e9344b8ecde","name":"Sticky Note6"},{"parameters":{"content":"# Trigger\n","height":260,"width":260,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1600,336],"id":"f73f758a-d1bc-4a76-a41f-49b0251bdf15","name":"Sticky Note5","disabled":true},{"parameters":{"content":"# Download\n","height":260,"width":220,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1328,336],"id":"471f819e-b86c-4843-9b22-32aa76eee286","name":"Sticky Note4"},{"parameters":{"operation":"sendPhoto","chatId":"={{ $('When Executed by Another Workflow').item.json.chatID }}","binaryData":true,"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-480,288],"id":"bcb73476-b6a4-4072-af60-743d23af8862","name":"Send Photo","webhookId":"85dc0064-e5c5-45a9-91a5-60e5b2bc4f1e","credentials":{"telegramApi":{"id":"jDxsVgrb1fG40Bm1","name":"Telegram n8n_the2tor_bot"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.pictureID }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1264,416],"id":"78ce4e49-9c06-4420-83a3-558d3b2f1d62","name":"Download","credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account Bestfranquicias"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Download","type":"main","index":0}]]},"Edit Image":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Send Photo","type":"main","index":0},{"node":"Upload Image","type":"main","index":0}]]},"Upload Image":{"main":[[{"node":"Image Log","type":"main","index":0}]]},"Download":{"main":[[{"node":"Edit Image","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"4b6708dd-4070-42f5-82d7-a90178e251ac","triggerCount":0,"shared":[{"updatedAt":"2025-10-19T11:32:54.797Z","createdAt":"2025-10-19T11:32:54.797Z","role":"workflow:owner","workflowId":"8BFWdcICwtwckhuB","projectId":"prlZ3bTXg0wKi0D1"}],"tags":[{"updatedAt":"2025-10-19T11:30:21.425Z","createdAt":"2025-10-19T11:30:21.425Z","id":"URen6Kt1FqZ3jhaz","name":"Marketing Team"}]}