evolution-multimensajes-S21wQzn1UL1NxLiz.json
{"updatedAt":"2025-10-13T18:41:20.000Z","createdAt":"2025-10-11T21:44:38.175Z","id":"S21wQzn1UL1NxLiz","name":"evolution multimensajes","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.mensaje }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[-976,240],"id":"6ff9ab8c-fdee-4f04-aac6-92389a898379","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-5-mini","mode":"list","cachedResultName":"gpt-5-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-944,464],"id":"3f21e60c-ed6a-4575-b533-557ff389866d","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Edit Fields').item.json.Numero_Telefono }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-816,464],"id":"f4a50fcd-dcfb-43fc-ba02-5730019e5765","name":"Simple Memory"},{"parameters":{"httpMethod":"POST","path":"cursoudemy","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-2992,336],"id":"5f9a8ac7-d20b-43c0-92da-0721ce56a320","name":"Webhook","webhookId":"0d7c1682-6f76-417c-9c2d-b5237a85c547"},{"parameters":{"resource":"messages-api","instanceName":"pete_n8n","remoteJid":"={{ $('Edit Fields').item.json.Numero_Telefono }}","messageText":"={{ $('AI Agent').item.json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-352,240],"id":"a182eb5a-81df-4a9d-a599-2f2175b8c90a","name":"Enviar texto1","credentials":{"evolutionApi":{"id":"HhTmx4MYcOJDYeCG","name":"Evolution account"}}},{"parameters":{"resource":"chat-api","operation":"read-messages","instanceName":"pete_n8n","remoteJid":"={{ $('Edit Fields').item.json.Numero_Telefono }}","messageId":"={{ $('Edit Fields').item.json.ID }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-576,240],"id":"332d3db4-9eaf-40c2-800d-2894b85d2fc1","name":"Marcar mensagens como lidas","credentials":{"evolutionApi":{"id":"HhTmx4MYcOJDYeCG","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"pete_n8n","remoteJid":"={{ $('Edit Fields').item.json.Numero_Telefono }}","messageText":"={{ $json.data.message.conversation }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-128,240],"id":"5ae659f6-fedd-43a9-9143-dea9a2f16f28","name":"Evolution bot","credentials":{"evolutionApi":{"id":"HhTmx4MYcOJDYeCG","name":"Evolution account"}},"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"7c0e7b4b-342a-43d9-98d0-d383de1d8cf7","name":"Numero_Telefono","value":"={{ $json.body.data.key.remoteJid.replaceAll(\"@s.whatsapp.net\", \"\")}}","type":"string"},{"id":"03f5b82a-45b4-4465-84a3-095c31d864f0","name":"Nombre","value":"={{ $json.body.data.pushName }}","type":"string"},{"id":"63566525-58bb-474e-b363-f218f196cd15","name":"Mensaje","value":"={{ $json.body.data.message.conversation }}","type":"string"},{"id":"7a43af2b-3250-4d63-b289-61374bb3a1bc","name":"Tipo_Mensaje","value":"={{ $json.body.data.messageType }}","type":"string"},{"id":"6f616e3b-5a54-45ae-89d6-5fe50910a117","name":"Instancia","value":"={{ $json.body.instance }}","type":"string"},{"id":"e74683c5-3350-4987-a200-df59c30f658a","name":"ID","value":"={{ $json.body.data.key.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2768,336],"id":"4c3bea85-a818-482c-8d16-fc3723251e51","name":"Edit Fields"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.Tipo_Mensaje }}","rightValue":"conversation","operator":{"type":"string","operation":"equals"},"id":"a1ae30d8-caca-41ff-857b-ed9f55b09ca1"}],"combinator":"and"},"renameOutput":true,"outputKey":"Mensaje Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"11e0f3f8-1dd2-4efd-aad1-cf42c96bbc5d","leftValue":"={{ $json.Tipo_Mensaje }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Mensaje de Voz"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c338dd6b-e18d-4528-95e7-990cd94d5da7","leftValue":"={{ $json.Tipo_Mensaje }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Mensaje Imagen"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-2544,320],"id":"e3f90b88-dba8-48e4-b4f8-4554201c1a0d","name":"Switch"},{"parameters":{"operation":"push","list":"={{ $json.Numero_Telefono }}","messageData":"={{ JSON.stringify({\n      message   : $json.Mensaje || $json[\"texto-voz\"],\n      sessionID : $node[\"Webhook\"].json.body.data.key.id,\n      date_time : $node[\"Webhook\"].json.body.data.messageTimestamp.toDateTime('s')\n}) }}\n","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2288,176],"id":"62be8811-02f3-4071-94aa-4162acb2b795","name":"Redis3","credentials":{"redis":{"id":"s43Tiha7X724barC","name":"Redis account"}}},{"parameters":{"operation":"get","propertyName":"Mensaje","key":"={{ $('Edit Fields').item.json.Numero_Telefono }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2096,336],"id":"075d1fbd-1a98-4c38-b08b-f483e93bdf29","name":"Redis4","credentials":{"redis":{"id":"s43Tiha7X724barC","name":"Redis account"}}},{"parameters":{"assignments":{"assignments":[{"id":"b594f1da-51e8-47a4-a636-7928a73b69f8","name":"mensaje","value":"={{ $json.Mensaje.map(m => JSON.parse(m).message).join('\\n') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1424,240],"id":"655f834d-672d-40fb-9ebc-27e5a7a3cc8b","name":"Edit Fields5"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ JSON.parse(\n  $json.Mensaje\n    .filter(m => m.trim().startsWith('{'))\n    .slice(-1)[0]\n    .split('||')[0]\n    .trim()\n).sessionID }}\n","rightValue":"={{ String($node[\"Redis3\"].json.ID).trim() }}\n","operator":{"type":"string","operation":"notEquals"},"id":"81c7205c-84c9-480e-8b5a-1a12b5ff7baa"}],"combinator":"and"},"renameOutput":true,"outputKey":"Ignoran"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4fca4c39-e8bf-490b-8e2e-176c95d9156e","leftValue":"={{ DateTime.fromISO(JSON.parse($json.Mensaje.filter(m => m.trim().startsWith('{')).slice(-1)[0].split('||')[0].trim()).date_time) }}\n","rightValue":"={{ $now.minus(7, 'seconds').toLocal() }}","operator":{"type":"dateTime","operation":"before"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Continuamos"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"Esperar"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1872,224],"id":"25e53ade-a376-4cd9-9a4a-b718f4f99ed8","name":"Switch3"},{"parameters":{"amount":7},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1648,432],"id":"c2640820-3aff-4a23-9189-d74f05f40d47","name":"Wait3","webhookId":"96c27c05-96e6-490e-ac24-3c38c75c7d9b"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1648,48],"id":"97769a0f-3bfa-473f-bb6c-4608a0506498","name":"No Operation, do nothing3"},{"parameters":{"operation":"delete","key":"={{ $('Edit Fields').item.json.Numero_Telefono }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1648,240],"id":"8ebb8ac1-3831-41ff-a4ec-e3ffe4105113","name":"Redis5","credentials":{"redis":{"id":"s43Tiha7X724barC","name":"Redis account"}}},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-1200,224],"id":"7c60887b-3ddf-42ce-8127-3a1e8afe3195","name":"Merge1"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Redis3","type":"main","index":0}],[],[]]},"Redis3":{"main":[[{"node":"Redis4","type":"main","index":0}]]},"Redis4":{"main":[[{"node":"Switch3","type":"main","index":0}]]},"Switch3":{"main":[[{"node":"No Operation, do nothing3","type":"main","index":0}],[{"node":"Redis5","type":"main","index":0}],[{"node":"Wait3","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"Redis4","type":"main","index":0}]]},"Redis5":{"main":[[{"node":"Edit Fields5","type":"main","index":0}]]},"Edit Fields5":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Marcar mensagens como lidas","type":"main","index":0}]]},"Marcar mensagens como lidas":{"main":[[{"node":"Enviar texto1","type":"main","index":0}]]},"Enviar texto1":{"main":[[]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7dcb7b62-935b-45d7-9a3a-471816d4ea08","triggerCount":1,"shared":[{"updatedAt":"2025-10-11T21:44:38.179Z","createdAt":"2025-10-11T21:44:38.179Z","role":"workflow:owner","workflowId":"S21wQzn1UL1NxLiz","projectId":"prlZ3bTXg0wKi0D1"}],"tags":[]}