faceless-video-rlR2qmkeno6bu2V5.json
{"updatedAt":"2025-10-19T14:25:45.000Z","createdAt":"2025-10-19T11:30:46.649Z","id":"rlR2qmkeno6bu2V5","name":"Faceless Video","active":false,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"https://api.piapi.ai/api/v1/task","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"model\": \"Qubico/flux1-dev\",\n    \"task_type\": \"txt2img\",\n    \"input\": {\n        \"prompt\": \"{{ $json.output.replace(/\"/g, '') }}\",\n        \"width\": 540, \n        \"height\": 960\n    } \n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-608,-64],"id":"833a95e6-8a2e-415c-b176-3f287e5b70fe","name":"Generate Image","credentials":{"httpHeaderAuth":{"id":"czZ13v50RjRSM15B","name":"Header Auth account"}}},{"parameters":{"url":"=https://api.piapi.ai/api/v1/task/{{ $json.data.task_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-240,-64],"id":"2b3810a4-a6f4-4f65-be04-22448cdc3de4","name":"Get Images","credentials":{"httpHeaderAuth":{"id":"czZ13v50RjRSM15B","name":"Header Auth account"}}},{"parameters":{"promptType":"define","text":"=Scene: {{ $('Get Images').item.json.data.input.prompt }}","options":{"systemMessage":"=# Overview\nYou are a Master Sound Prompt Generator.\nYour task is to create vivid, immersive sound prompts based on a given scene. These prompts will be used to generate background audio that matches the mood and environment of the scene.\n\n## Instructions\n- Generate a one- to two-sentence prompt that captures the ambiance, tone, and key sound elements.\n- Use rich, evocative language to describe the background atmosphere, highlighting specific sounds (e.g., footsteps on cobblestone, distant chatter, wind rustling leaves, faint music, industrial hum).\n- Focus on the background audio — not dialogue, narration, or foreground sound effects.\n- Match the emotion and setting of the scene, whether it's calm, chaotic, eerie, festive, or serene.\n- Avoid vague descriptions; be specific and sensory-driven to maximize immersion.\n- Never include quotation marks (\"\") or newlines (\\n) in the output.\n\n## Output\nReturn only the crafted sound prompt text, ready to be used for an audio generation model.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[32,-64],"id":"bcc4714c-ab9d-43d5-832a-751c00a7c874","name":"Sound Agent"},{"parameters":{"method":"POST","url":"https://api.elevenlabs.io/v1/sound-generation","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"text","value":"={{ $json.output.replace(/\"/g, '') }}"},{"name":"duration_seconds","value":"5"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[384,-64],"id":"27e5be1d-f54a-492d-b9bc-82a7a609902e","name":"Generate Audio","credentials":{"httpHeaderAuth":{"id":"czZ13v50RjRSM15B","name":"Header Auth account"}}},{"parameters":{"name":"={{ $('Get Videos').item.json.id }}.mp3","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1hhZhHBv0zm3adye9LE_sxwme7z7yUXw5","mode":"list","cachedResultName":"Audio Files","cachedResultUrl":"https://drive.google.com/drive/folders/1hhZhHBv0zm3adye9LE_sxwme7z7yUXw5"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[560,-64],"id":"13375f8f-1cbc-4ce8-adf8-3424fac9d3e9","name":"Upload to Drive","credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account Bestfranquicias"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","numberInputs":3,"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[48,288],"id":"9025e9ed-00c0-4c4b-9646-78246cf4f4a4","name":"Merge"},{"parameters":{"method":"POST","url":"https://api.creatomate.com/v1/renders","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer "}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"template_id\": \"e19f26a1-dfb6-4a0d-a3ba-d394e398b3c9\",\n  \"modifications\": {\n    \"Video-1.source\": \"{{ $json.urls[0].url }}\",\n    \"Video-2.source\": \"{{ $json.urls[1].url }}\",\n    \"Video-3.source\": \"{{ $json.urls[2].url }}\",\n    \"Video-4.source\": \"{{ $json.urls[3].url }}\",\n    \"Audio-1.source\": \"{{ $json.urls[0].webContentLink }}\",\n    \"Audio-2.source\": \"{{ $json.urls[1].webContentLink }}\",\n    \"Audio-3.source\": \"{{ $json.urls[2].webContentLink }}\",\n    \"Audio-4.source\": \"{{ $json.urls[3].webContentLink }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[448,288],"id":"c446ab94-6cb3-4f56-8a2f-b7d27f0f7366","name":"Render Video"},{"parameters":{"amount":25},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[640,288],"id":"b5ae6dbe-32e0-4346-b9b2-ad96ce008f9a","name":"25 Seconds","webhookId":"d5cd29e8-d3f7-491c-a6b6-2d705aa47931"},{"parameters":{"url":"={{ $json.url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[48,512],"id":"eefa8fee-8861-4205-b6a0-ccd86ce78489","name":"Download Video"},{"parameters":{"content":"# Generate Image Prompts","height":540,"width":740,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-1424,-160],"typeVersion":1,"id":"3dabf0c9-95a8-421a-9c3e-174d459e516d","name":"Sticky Note3","disabled":true},{"parameters":{"content":"# Generate Images\n","height":260,"width":600,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-656,-160],"typeVersion":1,"id":"eb4ae802-700e-487b-8749-cd9e148ae8a7","name":"Sticky Note4"},{"parameters":{"content":"# Generate Audio\n\n","height":320,"width":980,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-48,-160],"typeVersion":1,"id":"0c1ce424-0190-4fd3-9b35-3d6ab939ce9f","name":"Sticky Note"},{"parameters":{"content":"# Render & Log\n","height":500,"width":1040},"type":"n8n-nodes-base.stickyNote","position":[-48,192],"typeVersion":1,"id":"81cf1e68-cb7e-40e2-bec9-79b28e29a683","name":"Sticky Note2"},{"parameters":{"url":"=https://api.dev.runwayml.com/v1/tasks/{{ $json.id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Runway-Version","value":"2024-11-06"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-240,224],"id":"ffd1a312-2313-44ee-b04d-55981062e35c","name":"Get Videos","credentials":{"httpHeaderAuth":{"id":"czZ13v50RjRSM15B","name":"Header Auth account"}}},{"parameters":{"method":"POST","url":"https://api.dev.runwayml.com/v1/image_to_video","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Runway-Version","value":"2024-11-06"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"promptImage","value":"={{ $json.data.output.image_url }}"},{"name":"model","value":"gen3a_turbo"},{"name":"ratio","value":"768:1280"},{"name":"duration","value":"5"},{"name":"promptText","value":"={{ $json.data.input.prompt.replace(/\"/g, '') }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-576,224],"id":"f8f0d41c-a1be-41eb-aed5-adf3132e4292","name":"Generate Videos","credentials":{"httpHeaderAuth":{"id":"czZ13v50RjRSM15B","name":"Header Auth account"}}},{"parameters":{"content":"# Generate Videos\n","height":260,"width":600,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-656,128],"typeVersion":1,"id":"3e333e0c-a8f4-4268-9d22-85cc5e3fad1d","name":"Sticky Note5"},{"parameters":{"jsCode":"// N8n Code Node to extract URLs from output arrays and combine them into a single array\n// This code assumes your input JSON is in items[0].json or is multiple items\n// Determine data source format\nlet inputArray;\nif (items.length === 1 && Array.isArray(items[0].json)) {\n  // If we have a single item containing our array\n  inputArray = items[0].json;\n} else if (items.length > 1) {\n  // If we already have multiple items, each containing part of our data\n  inputArray = items.map(item => item.json || item);\n} else {\n  throw new Error('Input structure not recognized. Please check your data format.');\n}\n// Create a single array to hold all URLs\nconst urlArray = [];\n// Process each item in the input array\nfor (const item of inputArray) {\n  // Get the data object\n  const data = item;\n  \n  // Check if the item has an output array\n  if (data.output && Array.isArray(data.output)) {\n    // For each URL in the output array, add to our URL array\n    for (const url of data.output) {\n      // Add URL along with metadata including the web content link\n      urlArray.push({\n        url: url,\n        sourceId: data.id,\n        createdAt: data.createdAt,\n        webContentLink: data.webContentLink || null // Add the web content link\n      });\n    }\n  }\n}\n// Return a single item containing the array of all URLs\nreturn [{\n  json: {\n    urls: urlArray\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[240,288],"id":"61cfe739-54ab-4a77-af9a-b12ed0fa6199","name":"Split Out Parts"},{"parameters":{"operation":"share","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"reader","type":"anyone","allowFileDiscovery":true}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[768,-64],"id":"d8f06e12-9355-4109-a172-fcf925afaa0b","name":"Share File","credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account Bestfranquicias"}}},{"parameters":{"workflowInputs":{"values":[{"name":"videoTopic"},{"name":"chatID"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1360,0],"id":"36c2afb2-8f5b-4b06-bd86-adfe003165d5","name":"When Executed by Another Workflow"},{"parameters":{"model":"openai/gpt-5-mini","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-1184,192],"id":"f79612ac-31d7-41d4-8281-d612a8fb851a","name":"GPT 4.1 mini","credentials":{"openRouterApi":{"id":"hrgXqQ9MslXmo2ow","name":"OpenRouter account"}}},{"parameters":{"jsonSchemaExample":"{\n  \"Part 1\": \"Prompt for part 1\",\n  \"Part 2\": \"Prompt for part 2\",\n  \"Part 3\": \"Prompt for part 3\",\n  \"Part 4\": \"Prompt for part 4\"\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-976,192],"id":"f63fb320-8618-4979-b691-c28eb12bf412","name":"4 Parts"},{"parameters":{"promptType":"define","text":"=Video Topic: {{ $json.videoTopic }}","hasOutputParser":true,"options":{"systemMessage":"=# Overview\nYou are a Master Visual Story Structuring Agent.\nYour task is to take a given short video topic and split it into four parts that together form a cohesive, vivid story, optimized for text-to-image generation.\n\n## Instructions:\n- You must create exactly four parts: Part 1, Part 2, Part 3, and Part 4.\n- Describe the subject of the story in the EXACT same way in all four parts. Each part should be consistent.\n- Each part should build upon the previous, creating a complete visual story by the end.\n- Every part must be written as a high-quality, richly detailed image prompt, following professional standards for models like Flux or similar.\n- Describe characters, settings, outfits, actions, and background elements vividly and precisely.\n- Use rich, imaginative language to maximize visual fidelity.\n- Avoid generic terms — always opt for specific and colorful descriptions.\n- No quotation marks (\"\") or newlines (\\n) should be included in the output.\n- Keep the description natural and seamless so it can be fed directly into a text-to-image model.\n\n## Key Elements to Include in Each Part:\n- Clear description of main subjects (appearance, outfits, facial expressions, poses)\n- Accessories or objects that add to the scene\n- A vivid background that matches the theme and enhances the overall story\n- Consistency and natural progression from part to part\n\n## Output Format:\nReturn your response structured into four fields:\n- Part 1: [Vivid image prompt for Part 1]\n- Part 2: [Vivid image prompt for Part 2]\n- Part 3: [Vivid image prompt for Part 3]\n- Part 4: [Vivid image prompt for Part 4]\n\nOnly output the fields listed above.\nMake sure the story across all four parts feels cohesive, visually rich, and cinematic."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-1184,0],"id":"603b2fd7-ca9e-4af5-bce8-f8e396e3a81b","name":"Image Prompt Agent"},{"parameters":{"fieldToSplitOut":"output","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-864,0],"id":"c9c7c733-5c22-4e77-b103-1efea9173f00","name":"Split Out"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[272,48],"id":"013d500b-47fd-4c34-b004-1587d1bd454a","name":"GPT-4.1 mini","credentials":{"openRouterApi":{"id":"hrgXqQ9MslXmo2ow","name":"OpenRouter account"}}},{"parameters":{"operation":"sendVideo","chatId":"={{ $('When Executed by Another Workflow').first().json.chatID }}","binaryData":true,"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[224,512],"id":"8efaaf18-5ca7-45bf-ac14-344432eaa570","name":"Send Video","webhookId":"cdeb2987-d275-480b-8532-f69bbed64999","credentials":{"telegramApi":{"id":"jDxsVgrb1fG40Bm1","name":"Telegram n8n_the2tor_bot"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"=Video: {{ $('When Executed by Another Workflow').first().json.videoTopic }}"},{"content":"Create a 3-4 word title for the given video","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[432,512],"id":"d0c3762d-a1f5-4a8e-81cd-09be10be1a79","name":"Title","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1JqOTd49heNBdmrf5hSwxI66X724tspAmSjzWoA6-EU0","mode":"list","cachedResultName":"Marketing Team Log","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1JqOTd49heNBdmrf5hSwxI66X724tspAmSjzWoA6-EU0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1JqOTd49heNBdmrf5hSwxI66X724tspAmSjzWoA6-EU0/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Title":"={{ $json.message.content }}","Request":"={{ $('When Executed by Another Workflow').first().json.videoTopic }}","Link":"={{ $('Download Video').item.json.url }}","Type":"Video"},"matchingColumns":[],"schema":[{"id":"Title","displayName":"Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Type","displayName":"Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Request","displayName":"Request","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Link","displayName":"Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Post","displayName":"Post","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[784,512],"id":"07fd983d-1fd2-4472-8503-2017257f5938","name":"Log Video","credentials":{"googleSheetsOAuth2Api":{"id":"u3wPsvNe1n4GWzVs","name":"Google Sheets Bestfranquicias"}}},{"parameters":{"amount":90},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-416,-64],"id":"2c6f3138-4998-4e72-980d-343c265b6845","name":"90 Seconds","webhookId":"ffdc5132-c0fe-44f6-af2b-4b3bb8894153"},{"parameters":{"amount":90},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-416,224],"id":"e00f09ed-97cb-4183-a1cd-04b6375cda71","name":"90_Seconds","webhookId":"3ce99001-8f5a-4c0a-9b25-e3e261fcc778"}],"connections":{"Generate Image":{"main":[[{"node":"90 Seconds","type":"main","index":0}]]},"Get Images":{"main":[[{"node":"Generate Videos","type":"main","index":0}]]},"Sound Agent":{"main":[[{"node":"Generate Audio","type":"main","index":0}]]},"Generate Audio":{"main":[[{"node":"Upload to Drive","type":"main","index":0}]]},"Upload to Drive":{"main":[[{"node":"Share File","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Split Out Parts","type":"main","index":0}]]},"Render Video":{"main":[[{"node":"25 Seconds","type":"main","index":0}]]},"25 Seconds":{"main":[[{"node":"Download Video","type":"main","index":0}]]},"Download Video":{"main":[[{"node":"Send Video","type":"main","index":0}]]},"Get Videos":{"main":[[{"node":"Merge","type":"main","index":0},{"node":"Sound Agent","type":"main","index":0}]]},"Generate Videos":{"main":[[{"node":"90_Seconds","type":"main","index":0}]]},"Split Out Parts":{"main":[[{"node":"Render Video","type":"main","index":0}]]},"Share File":{"main":[[{"node":"Merge","type":"main","index":2}]]},"When Executed by Another Workflow":{"main":[[{"node":"Image Prompt Agent","type":"main","index":0}]]},"GPT 4.1 mini":{"ai_languageModel":[[{"node":"Image Prompt Agent","type":"ai_languageModel","index":0}]]},"4 Parts":{"ai_outputParser":[[{"node":"Image Prompt Agent","type":"ai_outputParser","index":0}]]},"Image Prompt Agent":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Generate Image","type":"main","index":0}]]},"GPT-4.1 mini":{"ai_languageModel":[[{"node":"Sound Agent","type":"ai_languageModel","index":0}]]},"Send Video":{"main":[[{"node":"Title","type":"main","index":0}]]},"Title":{"main":[[{"node":"Log Video","type":"main","index":0}]]},"90 Seconds":{"main":[[{"node":"Get Images","type":"main","index":0}]]},"90_Seconds":{"main":[[{"node":"Get Videos","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"videoTopic":"A beaver building a house, showing the beaver gathering sticks, arranging them by a riverbank, creating a dam and then constructing a cozy lodge inside.","chatID":8056822155}}]},"versionId":"458278fe-4625-4457-be8d-4b9c7638b931","triggerCount":0,"shared":[{"updatedAt":"2025-10-19T11:30:46.652Z","createdAt":"2025-10-19T11:30:46.652Z","role":"workflow:owner","workflowId":"rlR2qmkeno6bu2V5","projectId":"prlZ3bTXg0wKi0D1"}],"tags":[{"updatedAt":"2025-10-19T11:30:21.425Z","createdAt":"2025-10-19T11:30:21.425Z","id":"URen6Kt1FqZ3jhaz","name":"Marketing Team"}]}