fichar-telegram-empresas-RfZFD8zAUCcQhWl1.json
{"updatedAt":"2025-11-22T23:21:40.000Z","createdAt":"2025-11-18T22:18:55.178Z","id":"RfZFD8zAUCcQhWl1","name":"Fichar telegram empresas","active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"executeQuery","query":"SELECT tipo_aviso, id, name, telegram_id, hora_requerida, mensaje, shift_id FROM ( SELECT 'FALTA_ENTRADA_MANANA' as tipo_aviso, u.id, u.name, u.telegram_id, s.start_morning as hora_requerida, CONCAT('⚠️ AVISO: Debe fichar ENTRADA de mañana. Hora prevista: ', s.start_morning) as mensaje, NULL as shift_id FROM users u INNER JOIN schedules s ON u.id = s.user_id WHERE s.dow = DAYOFWEEK(NOW()) - 1 AND s.start_morning IS NOT NULL AND TIME(NOW()) >= ADDTIME(s.start_morning, '00:02:00') AND TIME(NOW()) < s.end_morning AND NOT EXISTS ( SELECT 1 FROM shifts sh WHERE sh.user_id = u.id AND DATE(sh.clock_in) = CURDATE() AND TIME(sh.clock_in) BETWEEN ADDTIME(s.start_morning, '-00:10:00') AND ADDTIME(s.start_morning, '00:12:00') ) AND NOT EXISTS ( SELECT 1 FROM avisos_enviados av WHERE av.user_id = u.id AND av.tipo_aviso = 'FALTA_ENTRADA_MANANA' AND av.fecha_aviso = CURDATE() ) UNION ALL SELECT 'FALTA_ENTRADA_TARDE' as tipo_aviso, u.id, u.name, u.telegram_id, s.start_afternoon as hora_requerida, CONCAT('⚠️ AVISO: Debe fichar ENTRADA de tarde. Hora prevista: ', s.start_afternoon) as mensaje, NULL as shift_id FROM users u INNER JOIN schedules s ON u.id = s.user_id WHERE s.dow = DAYOFWEEK(NOW()) - 1 AND s.start_afternoon IS NOT NULL AND TIME(NOW()) >= ADDTIME(s.start_afternoon, '00:02:00') AND TIME(NOW()) < s.end_afternoon AND NOT EXISTS ( SELECT 1 FROM shifts sh WHERE sh.user_id = u.id AND DATE(sh.clock_in) = CURDATE() AND TIME(sh.clock_in) BETWEEN ADDTIME(s.start_afternoon, '-00:10:00') AND ADDTIME(s.start_afternoon, '00:12:00') ) AND NOT EXISTS ( SELECT 1 FROM avisos_enviados av WHERE av.user_id = u.id AND av.tipo_aviso = 'FALTA_ENTRADA_TARDE' AND av.fecha_aviso = CURDATE() ) UNION ALL SELECT 'ENTRADA_ANTICIPADA_MANANA' as tipo_aviso, u.id, u.name, u.telegram_id, s.start_morning as hora_requerida, CONCAT('ℹ️ Ha fichado entrada mañana ANTICIPADA (más de 10 min antes). Hora prevista: ', s.start_morning, ' | Fichó: ', TIME(sh.clock_in)) as mensaje, sh.id as shift_id FROM users u INNER JOIN schedules s ON u.id = s.user_id INNER JOIN shifts sh ON u.id = sh.user_id WHERE s.dow = DAYOFWEEK(NOW()) - 1 AND s.start_morning IS NOT NULL AND DATE(sh.clock_in) = CURDATE() AND TIME(sh.clock_in) < ADDTIME(s.start_morning, '-00:10:00') AND TIMESTAMPDIFF(MINUTE, sh.clock_in, NOW()) <= 30 AND NOT EXISTS ( SELECT 1 FROM avisos_enviados av WHERE av.user_id = u.id AND av.tipo_aviso = 'ENTRADA_ANTICIPADA_MANANA' AND av.fecha_aviso = CURDATE() AND av.shift_id = sh.id ) UNION ALL SELECT 'ENTRADA_RETRASADA_MANANA' as tipo_aviso, u.id, u.name, u.telegram_id, s.start_morning as hora_requerida, CONCAT('⚠️ Ha fichado entrada mañana CON RETRASO. Hora prevista: ', s.start_morning, ' | Fichó: ', TIME(sh.clock_in), ' | Diferencia: ', TIMESTAMPDIFF(MINUTE, s.start_morning, sh.clock_in), ' min tarde') as mensaje, sh.id as shift_id FROM users u INNER JOIN schedules s ON u.id = s.user_id INNER JOIN shifts sh ON u.id = sh.user_id WHERE s.dow = DAYOFWEEK(NOW()) - 1 AND s.start_morning IS NOT NULL AND DATE(sh.clock_in) = CURDATE() AND TIME(sh.clock_in) > ADDTIME(s.start_morning, '00:10:00') AND TIMESTAMPDIFF(MINUTE, sh.clock_in, NOW()) <= 30 AND NOT EXISTS ( SELECT 1 FROM avisos_enviados av WHERE av.user_id = u.id AND av.tipo_aviso = 'ENTRADA_RETRASADA_MANANA' AND av.fecha_aviso = CURDATE() AND av.shift_id = sh.id ) UNION ALL SELECT 'ENTRADA_ANTICIPADA_TARDE' as tipo_aviso, u.id, u.name, u.telegram_id, s.start_afternoon as hora_requerida, CONCAT('ℹ️ Ha fichado entrada tarde ANTICIPADA (más de 10 min antes). Hora prevista: ', s.start_afternoon, ' | Fichó: ', TIME(sh.clock_in)) as mensaje, sh.id as shift_id FROM users u INNER JOIN schedules s ON u.id = s.user_id INNER JOIN shifts sh ON u.id = sh.user_id WHERE s.dow = DAYOFWEEK(NOW()) - 1 AND s.start_afternoon IS NOT NULL AND DATE(sh.clock_in) = CURDATE() AND TIME(sh.clock_in) < ADDTIME(s.start_afternoon, '-00:10:00') AND TIME(sh.clock_in) >= s.end_morning AND TIMESTAMPDIFF(MINUTE, sh.clock_in, NOW()) <= 30 AND NOT EXISTS ( SELECT 1 FROM avisos_enviados av WHERE av.user_id = u.id AND av.tipo_aviso = 'ENTRADA_ANTICIPADA_TARDE' AND av.fecha_aviso = CURDATE() AND av.shift_id = sh.id ) UNION ALL SELECT 'ENTRADA_RETRASADA_TARDE' as tipo_aviso, u.id, u.name, u.telegram_id, s.start_afternoon as hora_requerida, CONCAT('⚠️ Ha fichado entrada tarde CON RETRASO. Hora prevista: ', s.start_afternoon, ' | Fichó: ', TIME(sh.clock_in), ' | Diferencia: ', TIMESTAMPDIFF(MINUTE, s.start_afternoon, sh.clock_in), ' min tarde') as mensaje, sh.id as shift_id FROM users u INNER JOIN schedules s ON u.id = s.user_id INNER JOIN shifts sh ON u.id = sh.user_id WHERE s.dow = DAYOFWEEK(NOW()) - 1 AND s.start_afternoon IS NOT NULL AND DATE(sh.clock_in) = CURDATE() AND TIME(sh.clock_in) > ADDTIME(s.start_afternoon, '00:10:00') AND TIMESTAMPDIFF(MINUTE, sh.clock_in, NOW()) <= 30 AND NOT EXISTS ( SELECT 1 FROM avisos_enviados av WHERE av.user_id = u.id AND av.tipo_aviso = 'ENTRADA_RETRASADA_TARDE' AND av.fecha_aviso = CURDATE() AND av.shift_id = sh.id ) UNION ALL SELECT 'FALTA_SALIDA_MANANA' as tipo_aviso, u.id, u.name, u.telegram_id, s.end_morning as hora_requerida, CONCAT('⚠️ AVISO: Debe fichar SALIDA de mañana. Hora prevista: ', s.end_morning) as mensaje, sh.id as shift_id FROM users u INNER JOIN schedules s ON u.id = s.user_id INNER JOIN shifts sh ON u.id = sh.user_id WHERE s.dow = DAYOFWEEK(NOW()) - 1 AND s.end_morning IS NOT NULL AND DATE(sh.clock_in) = CURDATE() AND sh.clock_out IS NULL AND TIME(sh.clock_in) < s.end_morning AND TIME(NOW()) >= ADDTIME(s.end_morning, '00:02:00') AND TIME(NOW()) < ADDTIME(s.end_morning, '02:00:00') AND NOT EXISTS ( SELECT 1 FROM avisos_enviados av WHERE av.user_id = u.id AND av.tipo_aviso = 'FALTA_SALIDA_MANANA' AND av.fecha_aviso = CURDATE() AND av.shift_id = sh.id ) UNION ALL SELECT 'FALTA_SALIDA_TARDE' as tipo_aviso, u.id, u.name, u.telegram_id, s.end_afternoon as hora_requerida, CONCAT('⚠️ AVISO: Debe fichar SALIDA de tarde. Hora prevista: ', s.end_afternoon) as mensaje, sh.id as shift_id FROM users u INNER JOIN schedules s ON u.id = s.user_id INNER JOIN shifts sh ON u.id = sh.user_id WHERE s.dow = DAYOFWEEK(NOW()) - 1 AND s.end_afternoon IS NOT NULL AND DATE(sh.clock_in) = CURDATE() AND sh.clock_out IS NULL AND TIME(sh.clock_in) >= s.start_afternoon AND TIME(NOW()) >= ADDTIME(s.end_afternoon, '00:02:00') AND TIME(NOW()) < ADDTIME(s.end_afternoon, '02:00:00') AND NOT EXISTS ( SELECT 1 FROM avisos_enviados av WHERE av.user_id = u.id AND av.tipo_aviso = 'FALTA_SALIDA_TARDE' AND av.fecha_aviso = CURDATE() AND av.shift_id = sh.id ) UNION ALL SELECT 'SALIDA_ANTICIPADA_MANANA' as tipo_aviso, u.id, u.name, u.telegram_id, s.end_morning as hora_requerida, CONCAT('ℹ️ Ha fichado salida mañana ANTICIPADA. Hora prevista: ', s.end_morning, ' | Fichó: ', TIME(sh.clock_out), ' | Diferencia: ', TIMESTAMPDIFF(MINUTE, sh.clock_out, s.end_morning), ' min antes') as mensaje, sh.id as shift_id FROM users u INNER JOIN schedules s ON u.id = s.user_id INNER JOIN shifts sh ON u.id = sh.user_id WHERE s.dow = DAYOFWEEK(NOW()) - 1 AND s.end_morning IS NOT NULL AND DATE(sh.clock_in) = CURDATE() AND sh.clock_out IS NOT NULL AND DATE(sh.clock_out) = CURDATE() AND TIME(sh.clock_out) > TIME(sh.clock_in) AND TIME(sh.clock_out) < s.end_morning AND TIMESTAMPDIFF(MINUTE, sh.clock_out, NOW()) <= 30 AND NOT EXISTS ( SELECT 1 FROM avisos_enviados av WHERE av.user_id = u.id AND av.tipo_aviso = 'SALIDA_ANTICIPADA_MANANA' AND av.fecha_aviso = CURDATE() AND av.shift_id = sh.id ) UNION ALL SELECT 'SALIDA_RETRASADA_MANANA' as tipo_aviso, u.id, u.name, u.telegram_id, s.end_morning as hora_requerida, CONCAT('⚠️ Ha fichado salida mañana CON RETRASO. Hora prevista: ', s.end_morning, ' | Fichó: ', TIME(sh.clock_out), ' | Diferencia: ', TIMESTAMPDIFF(MINUTE, s.end_morning, sh.clock_out), ' min tarde') as mensaje, sh.id as shift_id FROM users u INNER JOIN schedules s ON u.id = s.user_id INNER JOIN shifts sh ON u.id = sh.user_id WHERE s.dow = DAYOFWEEK(NOW()) - 1 AND s.end_morning IS NOT NULL AND DATE(sh.clock_in) = CURDATE() AND sh.clock_out IS NOT NULL AND DATE(sh.clock_out) = CURDATE() AND TIME(sh.clock_out) > TIME(sh.clock_in) AND TIME(sh.clock_out) > s.end_morning AND TIMESTAMPDIFF(MINUTE, sh.clock_out, NOW()) <= 30 AND NOT EXISTS ( SELECT 1 FROM avisos_enviados av WHERE av.user_id = u.id AND av.tipo_aviso = 'SALIDA_RETRASADA_MANANA' AND av.fecha_aviso = CURDATE() AND av.shift_id = sh.id ) UNION ALL SELECT 'SALIDA_ANTICIPADA_TARDE' as tipo_aviso, u.id, u.name, u.telegram_id, s.end_afternoon as hora_requerida, CONCAT('ℹ️ Ha fichado salida tarde ANTICIPADA. Hora prevista: ', s.end_afternoon, ' | Fichó: ', TIME(sh.clock_out), ' | Diferencia: ', TIMESTAMPDIFF(MINUTE, sh.clock_out, s.end_afternoon), ' min antes') as mensaje, sh.id as shift_id FROM users u INNER JOIN schedules s ON u.id = s.user_id INNER JOIN shifts sh ON u.id = sh.user_id WHERE s.dow = DAYOFWEEK(NOW()) - 1 AND s.end_afternoon IS NOT NULL AND DATE(sh.clock_in) = CURDATE() AND sh.clock_out IS NOT NULL AND DATE(sh.clock_out) = CURDATE() AND TIME(sh.clock_out) > TIME(sh.clock_in) AND TIME(sh.clock_out) < s.end_afternoon AND TIMESTAMPDIFF(MINUTE, sh.clock_out, NOW()) <= 30 AND NOT EXISTS ( SELECT 1 FROM avisos_enviados av WHERE av.user_id = u.id AND av.tipo_aviso = 'SALIDA_ANTICIPADA_TARDE' AND av.fecha_aviso = CURDATE() AND av.shift_id = sh.id ) UNION ALL SELECT 'SALIDA_RETRASADA_TARDE' as tipo_aviso, u.id, u.name, u.telegram_id, s.end_afternoon as hora_requerida, CONCAT('⚠️ Ha fichado salida tarde CON RETRASO. Hora prevista: ', s.end_afternoon, ' | Fichó: ', TIME(sh.clock_out), ' | Diferencia: ', TIMESTAMPDIFF(MINUTE, s.end_afternoon, sh.clock_out), ' min tarde') as mensaje, sh.id as shift_id FROM users u INNER JOIN schedules s ON u.id = s.user_id INNER JOIN shifts sh ON u.id = sh.user_id WHERE s.dow = DAYOFWEEK(NOW()) - 1 AND s.end_afternoon IS NOT NULL AND DATE(sh.clock_in) = CURDATE() AND sh.clock_out IS NOT NULL AND DATE(sh.clock_out) = CURDATE() AND TIME(sh.clock_out) > TIME(sh.clock_in) AND TIME(sh.clock_out) > s.end_afternoon AND TIMESTAMPDIFF(MINUTE, sh.clock_out, NOW()) <= 30 AND NOT EXISTS ( SELECT 1 FROM avisos_enviados av WHERE av.user_id = u.id AND av.tipo_aviso = 'SALIDA_RETRASADA_TARDE' AND av.fecha_aviso = CURDATE() AND av.shift_id = sh.id ) ) AS avisos ORDER BY tipo_aviso, hora_requerida;\n","options":{"queryBatching":"independently"}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[-1024,1440],"id":"d24592ff-30bd-4c06-811f-98b019a60977","name":"comprueba estado","alwaysOutputData":true,"credentials":{"mySql":{"id":"WAppnQbAh532E4XR","name":"MySQL account 2"}}},{"parameters":{"chatId":"={{ $json.telegram_id }}","text":"={{ $json.mensaje }} {{ $json.name }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-752,1440],"id":"89d671da-cbe8-4cf4-8327-583628263641","name":"Send a text message","webhookId":"1166c9af-0403-480a-ada5-1bbc828abce6","notesInFlow":false,"credentials":{"telegramApi":{"id":"rcZje4ul5XIEpjwr","name":"Telegram FicharLeonBestHouse"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":14,"triggerAtMinute":2}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1360,1248],"id":"a7502f6f-231b-4731-9877-023232ad864e","name":"14:02"},{"parameters":{"rule":{"interval":[{"triggerAtHour":9,"triggerAtMinute":32}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1360,1088],"id":"d1b051c1-bd4d-435f-9563-f4501232b47e","name":"9:32"},{"parameters":{"rule":{"interval":[{"triggerAtHour":17,"triggerAtMinute":32}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1360,1664],"id":"4d600423-ab3f-446e-9b29-54c2de7e0ce2","name":"17:32"},{"parameters":{"rule":{"interval":[{"triggerAtHour":20,"triggerAtMinute":2}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1360,1824],"id":"8d42cca8-d73a-467a-babf-9e4ae498a460","name":"20:02"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1552,1440],"id":"68226ca3-ae30-4d38-a584-d88623e85eb0","name":"When clicking ‘Execute workflow’"},{"parameters":{"operation":"executeQuery","query":"SELECT u.id, u.name, u.telegram_id, s.dow, CASE WHEN s.id IS NULL THEN 'No tienes horario asignado para hoy.' WHEN EXISTS ( SELECT 1 FROM shifts sh WHERE sh.user_id = u.id AND DATE(sh.clock_in) = DATE_SUB(CURDATE(), INTERVAL 1 DAY) AND sh.clock_out IS NULL ) AND ( s.start_morning IS NOT NULL AND TIME(NOW()) >= SUBTIME(s.start_morning, '00:02:00') AND TIME(NOW()) < s.start_morning ) THEN CONCAT('🔴 URGENTE: Tienes un fichaje ABIERTO del día ANTERIOR sin cerrar. Debes cerrar ese fichaje ANTES de hacer la entrada de hoy. Contacta con el administrador.') WHEN EXISTS ( SELECT 1 FROM shifts sh WHERE sh.user_id = u.id AND DATE(sh.clock_in) < CURDATE() AND sh.clock_out IS NULL ) THEN CONCAT('🔴 ERROR: Tienes un fichaje ABIERTO de un día ANTERIOR. No puedes fichar hasta que cierres el fichaje anterior. Contacta con el administrador.') WHEN EXISTS ( SELECT 1 FROM shifts sh WHERE sh.user_id = u.id AND DATE(sh.clock_in) = CURDATE() AND sh.clock_out IS NOT NULL AND TIME(sh.clock_in) < s.start_morning AND TIME(sh.clock_out) < s.end_morning AND TIME(NOW()) < s.end_morning ) THEN CONCAT('⚠️ Has CERRADO tu turno de MAÑANA ANTES de tiempo. Entrada: ', (SELECT TIME_FORMAT(TIME(clock_in), '%H:%i') FROM shifts sh WHERE sh.user_id = u.id AND DATE(sh.clock_in) = CURDATE() LIMIT 1), ' | Salida: ', (SELECT TIME_FORMAT(TIME(clock_out), '%H:%i') FROM shifts sh WHERE sh.user_id = u.id AND DATE(sh.clock_in) = CURDATE() AND sh.clock_out IS NOT NULL LIMIT 1), '. Horario programado: ', TIME_FORMAT(s.start_morning, '%H:%i'), ' - ', TIME_FORMAT(s.end_morning, '%H:%i')) WHEN EXISTS ( SELECT 1 FROM shifts sh WHERE sh.user_id = u.id AND DATE(sh.clock_in) = CURDATE() AND sh.clock_out IS NOT NULL AND TIME(sh.clock_in) >= s.start_afternoon AND TIME(sh.clock_out) < s.end_afternoon AND TIME(NOW()) < s.end_afternoon ) THEN CONCAT('⚠️ Has CERRADO tu turno de TARDE ANTES de tiempo. Entrada: ', (SELECT TIME_FORMAT(TIME(clock_in), '%H:%i') FROM shifts sh WHERE sh.user_id = u.id AND DATE(sh.clock_in) = CURDATE() AND TIME(sh.clock_in) >= s.start_afternoon LIMIT 1), ' | Salida: ', (SELECT TIME_FORMAT(TIME(clock_out), '%H:%i') FROM shifts sh WHERE sh.user_id = u.id AND DATE(sh.clock_in) = CURDATE() AND sh.clock_out IS NOT NULL AND TIME(sh.clock_out) >= s.start_afternoon LIMIT 1), '. Horario programado: ', TIME_FORMAT(s.start_afternoon, '%H:%i'), ' - ', TIME_FORMAT(s.end_afternoon, '%H:%i')) WHEN (s.start_morning IS NOT NULL AND TIME(NOW()) > ADDTIME(s.start_morning, '00:02:00') AND TIME(NOW()) < IFNULL(s.end_morning, '14:00:00') AND NOT EXISTS ( SELECT 1 FROM shifts sh WHERE sh.user_id = u.id AND DATE(sh.clock_in) = CURDATE() )) THEN CONCAT('⚠️ No has fichado la ENTRADA de MAÑANA. Hora programada: ', TIME_FORMAT(s.start_morning, '%H:%i'), '. Por favor, ficha ahora.') WHEN (s.start_morning IS NOT NULL AND EXISTS ( SELECT 1 FROM shifts sh WHERE sh.user_id = u.id AND DATE(sh.clock_in) = CURDATE() AND sh.clock_out IS NULL AND TIME(sh.clock_in) < s.start_morning )) THEN CONCAT('ℹ️ Fichaste ANTES de tiempo la entrada de mañana. Hora programada: ', TIME_FORMAT(s.start_morning, '%H:%i'), ' | Hora real: ', (SELECT TIME_FORMAT(TIME(clock_in), '%H:%i') FROM shifts sh WHERE sh.user_id = u.id AND DATE(sh.clock_in) = CURDATE() LIMIT 1), '. Turno ABIERTO.') WHEN (s.start_morning IS NOT NULL AND EXISTS ( SELECT 1 FROM shifts sh WHERE sh.user_id = u.id AND DATE(sh.clock_in) = CURDATE() AND sh.clock_out IS NULL AND TIME(sh.clock_in) > ADDTIME(s.start_morning, '00:15:00') )) THEN CONCAT('⚠️ Fichaste TARDE la entrada de mañana. Hora programada: ', TIME_FORMAT(s.start_morning, '%H:%i'), ' | Hora real: ', (SELECT TIME_FORMAT(TIME(clock_in), '%H:%i') FROM shifts sh WHERE sh.user_id = u.id AND DATE(sh.clock_in) = CURDATE() LIMIT 1), '. Turno ABIERTO.') WHEN (s.end_morning IS NOT NULL AND TIME(NOW()) >= s.end_morning AND TIME(NOW()) <= IFNULL(s.start_afternoon, TIME(NOW())) AND NOT EXISTS ( SELECT 1 FROM shifts sh WHERE sh.user_id = u.id AND DATE(sh.clock_in) = CURDATE() AND sh.clock_in IS NOT NULL )) THEN CONCAT('🔴 ERROR: No puedes fichar la SALIDA sin haber fichado la ENTRADA. Contacta con el administrador.') WHEN (s.end_morning IS NOT NULL AND TIME(NOW()) > ADDTIME(s.end_morning, '00:02:00') AND TIME(NOW()) <= IFNULL(s.start_afternoon, '23:59:59') AND EXISTS ( SELECT 1 FROM shifts sh WHERE sh.user_id = u.id AND DATE(sh.clock_in) = CURDATE() AND sh.clock_out IS NULL )) THEN CONCAT('⚠️ No has fichado la SALIDA de MAÑANA. Hora programada: ', TIME_FORMAT(s.end_morning, '%H:%i'), '. Por favor, ficha la salida ahora.') WHEN (s.start_afternoon IS NOT NULL AND TIME(NOW()) > ADDTIME(s.start_afternoon, '00:02:00') AND TIME(NOW()) < IFNULL(s.end_afternoon, '20:00:00') AND EXISTS ( SELECT 1 FROM shifts sh WHERE sh.user_id = u.id AND DATE(sh.clock_in) = CURDATE() AND sh.clock_out IS NOT NULL ) AND NOT EXISTS ( SELECT 1 FROM shifts sh2 WHERE sh2.user_id = u.id AND DATE(sh2.clock_in) = CURDATE() AND TIME(sh2.clock_in) >= s.start_afternoon )) THEN CONCAT('⚠️ No has fichado la ENTRADA de TARDE. Hora programada: ', TIME_FORMAT(s.start_afternoon, '%H:%i'), '. Por favor, ficha ahora.') WHEN (s.start_afternoon IS NOT NULL AND EXISTS ( SELECT 1 FROM shifts sh WHERE sh.user_id = u.id AND DATE(sh.clock_in) = CURDATE() AND sh.clock_out IS NULL AND TIME(sh.clock_in) >= s.start_afternoon AND TIME(sh.clock_in) < s.start_afternoon )) THEN CONCAT('ℹ️ Fichaste ANTES de tiempo la entrada de tarde. Hora programada: ', TIME_FORMAT(s.start_afternoon, '%H:%i'), ' | Hora real: ', (SELECT TIME_FORMAT(TIME(clock_in), '%H:%i') FROM shifts sh WHERE sh.user_id = u.id AND DATE(sh.clock_in) = CURDATE() AND TIME(sh.clock_in) >= s.start_afternoon LIMIT 1), '. Turno ABIERTO.') WHEN (s.start_afternoon IS NOT NULL AND EXISTS ( SELECT 1 FROM shifts sh WHERE sh.user_id = u.id AND DATE(sh.clock_in) = CURDATE() AND sh.clock_out IS NULL AND TIME(sh.clock_in) >= s.start_afternoon AND TIME(sh.clock_in) > ADDTIME(s.start_afternoon, '00:15:00') )) THEN CONCAT('⚠️ Fichaste TARDE la entrada de tarde. Hora programada: ', TIME_FORMAT(s.start_afternoon, '%H:%i'), ' | Hora real: ', (SELECT TIME_FORMAT(TIME(clock_in), '%H:%i') FROM shifts sh WHERE sh.user_id = u.id AND DATE(sh.clock_in) = CURDATE() AND TIME(sh.clock_in) >= s.start_afternoon LIMIT 1), '. Turno ABIERTO.') WHEN (s.end_afternoon IS NOT NULL AND TIME(NOW()) >= s.end_afternoon AND NOT EXISTS ( SELECT 1 FROM shifts sh WHERE sh.user_id = u.id AND DATE(sh.clock_in) = CURDATE() AND TIME(sh.clock_in) >= s.start_afternoon ) AND EXISTS ( SELECT 1 FROM shifts sh WHERE sh.user_id = u.id AND DATE(sh.clock_in) = CURDATE() AND sh.clock_out IS NOT NULL )) THEN CONCAT('🔴 ERROR: No puedes fichar la SALIDA de tarde sin haber fichado la ENTRADA de tarde. Contacta con el administrador.') WHEN (s.end_afternoon IS NOT NULL AND TIME(NOW()) > ADDTIME(s.end_afternoon, '00:02:00') AND EXISTS ( SELECT 1 FROM shifts sh WHERE sh.user_id = u.id AND DATE(sh.clock_in) = CURDATE() AND sh.clock_out IS NULL AND TIME(sh.clock_in) >= s.start_afternoon )) THEN CONCAT('⚠️ No has fichado la SALIDA de TARDE. Hora programada: ', TIME_FORMAT(s.end_afternoon, '%H:%i'), '. Por favor, ficha la salida ahora.') WHEN EXISTS ( SELECT 1 FROM shifts sh WHERE sh.user_id = u.id AND DATE(sh.clock_in) = CURDATE() AND sh.clock_out IS NULL AND ( (s.end_morning IS NOT NULL AND s.start_afternoon IS NULL AND TIME(NOW()) > ADDTIME(s.end_morning, '00:02:00')) OR (s.end_afternoon IS NOT NULL AND TIME(NOW()) > ADDTIME(s.end_afternoon, '00:02:00')) ) ) THEN CONCAT('🔴 Turno ABIERTO fuera de horario. Entrada: ', (SELECT TIME_FORMAT(TIME(clock_in), '%H:%i') FROM shifts sh WHERE sh.user_id = u.id AND DATE(sh.clock_in) = CURDATE() AND sh.clock_out IS NULL LIMIT 1), ' | Hora programada de salida: ', CASE WHEN s.start_afternoon IS NULL THEN TIME_FORMAT(s.end_morning, '%H:%i') ELSE TIME_FORMAT(s.end_afternoon, '%H:%i') END, '. Por favor, cierra el fichaje ahora.') ELSE NULL END AS mensaje FROM users u LEFT JOIN schedules s ON s.user_id = u.id AND s.dow = WEEKDAY(NOW()) + 1 WHERE u.active = 1 AND u.telegram_id IS NOT NULL;\n","options":{"queryBatching":"independently"}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[-1216,2016],"id":"d5bec131-74dd-4ab2-aacb-11eda50a7d6a","name":"comprueba estado1","alwaysOutputData":true,"credentials":{"mySql":{"id":"WAppnQbAh532E4XR","name":"MySQL account 2"}},"disabled":true},{"parameters":{"chatId":"={{ $json.telegram_id }}","text":"={{ $json.mensaje }} {{ $json.name }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-976,2016],"id":"07130caf-89ae-4eac-a3b8-13b38a34a1b6","name":"Send a text message1","webhookId":"1166c9af-0403-480a-ada5-1bbc828abce6","notesInFlow":false,"credentials":{"telegramApi":{"id":"rcZje4ul5XIEpjwr","name":"Telegram FicharLeonBestHouse"}},"disabled":true},{"parameters":{"operation":"executeQuery","query":"SELECT u.id as user_id, u.name as user_name, u.telegram_id, s.dow, s.start_morning, s.end_morning, s.start_afternoon, s.end_afternoon, TIME(NOW()) as hora_actual, 'Test de campos' as mensaje FROM users u LEFT JOIN schedules s ON s.user_id = u.id AND s.dow = DAYOFWEEK(NOW()) -1 WHERE u.active = 1 AND u.telegram_id IS NOT NULL LIMIT 3;\n","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[-960,1808],"id":"1dc46601-4f00-4abd-8496-662a164fbaa7","name":"test de horarios","credentials":{"mySql":{"id":"RSSAhx7YCelelrXD","name":"MySQL account bestfranquicias"}}},{"parameters":{"operation":"executeQuery","query":"SELECT u.id, u.name, u.telegram_id, s.dow, CASE WHEN s.id IS NULL THEN 'No tienes horario asignado para hoy.' WHEN EXISTS ( SELECT 1 FROM shifts sh WHERE sh.user_id = u.id AND DATE(sh.clock_in) = DATE_SUB(CURDATE(), INTERVAL 1 DAY) AND sh.clock_out IS NULL ) AND ( s.start_morning IS NOT NULL AND TIME(NOW()) >= SUBTIME(s.start_morning, '00:02:00') AND TIME(NOW()) < s.start_morning ) THEN CONCAT('🔴 URGENTE: Tienes un fichaje ABIERTO del día ANTERIOR sin cerrar. Debes cerrar ese fichaje ANTES de hacer la entrada de hoy. Contacta con el administrador.') WHEN EXISTS ( SELECT 1 FROM shifts sh WHERE sh.user_id = u.id AND DATE(sh.clock_in) < CURDATE() AND sh.clock_out IS NULL ) THEN CONCAT('🔴 ERROR: Tienes un fichaje ABIERTO de un día ANTERIOR. No puedes fichar hasta que cierres el fichaje anterior. Contacta con el administrador.') WHEN EXISTS ( SELECT 1 FROM shifts sh WHERE sh.user_id = u.id AND DATE(sh.clock_in) = CURDATE() AND sh.clock_out IS NOT NULL AND TIME(sh.clock_in) < s.start_morning AND TIME(sh.clock_out) < s.end_morning AND TIME(NOW()) < s.end_morning ) THEN CONCAT('⚠️ Has CERRADO tu turno de MAÑANA ANTES de tiempo. Entrada: ', (SELECT TIME_FORMAT(TIME(clock_in), '%H:%i') FROM shifts sh WHERE sh.user_id = u.id AND DATE(sh.clock_in) = CURDATE() LIMIT 1), ' | Salida: ', (SELECT TIME_FORMAT(TIME(clock_out), '%H:%i') FROM shifts sh WHERE sh.user_id = u.id AND DATE(sh.clock_in) = CURDATE() AND sh.clock_out IS NOT NULL LIMIT 1), '. Horario programado: ', TIME_FORMAT(s.start_morning, '%H:%i'), ' - ', TIME_FORMAT(s.end_morning, '%H:%i')) WHEN EXISTS ( SELECT 1 FROM shifts sh WHERE sh.user_id = u.id AND DATE(sh.clock_in) = CURDATE() AND sh.clock_out IS NOT NULL AND TIME(sh.clock_in) >= s.start_afternoon AND TIME(sh.clock_out) < s.end_afternoon AND TIME(NOW()) < s.end_afternoon ) THEN CONCAT('⚠️ Has CERRADO tu turno de TARDE ANTES de tiempo. Entrada: ', (SELECT TIME_FORMAT(TIME(clock_in), '%H:%i') FROM shifts sh WHERE sh.user_id = u.id AND DATE(sh.clock_in) = CURDATE() AND TIME(sh.clock_in) >= s.start_afternoon LIMIT 1), ' | Salida: ', (SELECT TIME_FORMAT(TIME(clock_out), '%H:%i') FROM shifts sh WHERE sh.user_id = u.id AND DATE(sh.clock_in) = CURDATE() AND sh.clock_out IS NOT NULL AND TIME(sh.clock_out) >= s.start_afternoon LIMIT 1), '. Horario programado: ', TIME_FORMAT(s.start_afternoon, '%H:%i'), ' - ', TIME_FORMAT(s.end_afternoon, '%H:%i')) WHEN (s.start_morning IS NOT NULL AND TIME(NOW()) > ADDTIME(s.start_morning, '00:02:00') AND TIME(NOW()) < IFNULL(s.end_morning, '14:00:00') AND NOT EXISTS ( SELECT 1 FROM shifts sh WHERE sh.user_id = u.id AND DATE(sh.clock_in) = CURDATE() )) THEN CONCAT('⚠️ No has fichado la ENTRADA de MAÑANA. Hora programada: ', TIME_FORMAT(s.start_morning, '%H:%i'), '. Por favor, ficha ahora.') WHEN (s.start_morning IS NOT NULL AND EXISTS ( SELECT 1 FROM shifts sh WHERE sh.user_id = u.id AND DATE(sh.clock_in) = CURDATE() AND sh.clock_out IS NULL AND TIME(sh.clock_in) < s.start_morning )) THEN CONCAT('ℹ️ Fichaste ANTES de tiempo la entrada de mañana. Hora programada: ', TIME_FORMAT(s.start_morning, '%H:%i'), ' | Hora real: ', (SELECT TIME_FORMAT(TIME(clock_in), '%H:%i') FROM shifts sh WHERE sh.user_id = u.id AND DATE(sh.clock_in) = CURDATE() LIMIT 1), '. Turno ABIERTO.') WHEN (s.start_morning IS NOT NULL AND EXISTS ( SELECT 1 FROM shifts sh WHERE sh.user_id = u.id AND DATE(sh.clock_in) = CURDATE() AND sh.clock_out IS NULL AND TIME(sh.clock_in) > ADDTIME(s.start_morning, '00:15:00') )) THEN CONCAT('⚠️ Fichaste TARDE la entrada de mañana. Hora programada: ', TIME_FORMAT(s.start_morning, '%H:%i'), ' | Hora real: ', (SELECT TIME_FORMAT(TIME(clock_in), '%H:%i') FROM shifts sh WHERE sh.user_id = u.id AND DATE(sh.clock_in) = CURDATE() LIMIT 1), '. Turno ABIERTO.') WHEN (s.end_morning IS NOT NULL AND TIME(NOW()) >= s.end_morning AND TIME(NOW()) <= IFNULL(s.start_afternoon, TIME(NOW())) AND NOT EXISTS ( SELECT 1 FROM shifts sh WHERE sh.user_id = u.id AND DATE(sh.clock_in) = CURDATE() AND sh.clock_in IS NOT NULL )) THEN CONCAT('🔴 ERROR: No puedes fichar la SALIDA sin haber fichado la ENTRADA. Contacta con el administrador.') WHEN (s.end_morning IS NOT NULL AND TIME(NOW()) > ADDTIME(s.end_morning, '00:02:00') AND TIME(NOW()) <= IFNULL(s.start_afternoon, '23:59:59') AND EXISTS ( SELECT 1 FROM shifts sh WHERE sh.user_id = u.id AND DATE(sh.clock_in) = CURDATE() AND sh.clock_out IS NULL )) THEN CONCAT('⚠️ No has fichado la SALIDA de MAÑANA. Hora programada: ', TIME_FORMAT(s.end_morning, '%H:%i'), '. Por favor, ficha la salida ahora.') WHEN (s.start_afternoon IS NOT NULL AND TIME(NOW()) > ADDTIME(s.start_afternoon, '00:02:00') AND TIME(NOW()) < IFNULL(s.end_afternoon, '20:00:00') AND EXISTS ( SELECT 1 FROM shifts sh WHERE sh.user_id = u.id AND DATE(sh.clock_in) = CURDATE() AND sh.clock_out IS NOT NULL ) AND NOT EXISTS ( SELECT 1 FROM shifts sh2 WHERE sh2.user_id = u.id AND DATE(sh2.clock_in) = CURDATE() AND TIME(sh2.clock_in) >= s.start_afternoon )) THEN CONCAT('⚠️ No has fichado la ENTRADA de TARDE. Hora programada: ', TIME_FORMAT(s.start_afternoon, '%H:%i'), '. Por favor, ficha ahora.') WHEN (s.start_afternoon IS NOT NULL AND EXISTS ( SELECT 1 FROM shifts sh WHERE sh.user_id = u.id AND DATE(sh.clock_in) = CURDATE() AND sh.clock_out IS NULL AND TIME(sh.clock_in) >= s.start_afternoon AND TIME(sh.clock_in) < s.start_afternoon )) THEN CONCAT('ℹ️ Fichaste ANTES de tiempo la entrada de tarde. Hora programada: ', TIME_FORMAT(s.start_afternoon, '%H:%i'), ' | Hora real: ', (SELECT TIME_FORMAT(TIME(clock_in), '%H:%i') FROM shifts sh WHERE sh.user_id = u.id AND DATE(sh.clock_in) = CURDATE() AND TIME(sh.clock_in) >= s.start_afternoon LIMIT 1), '. Turno ABIERTO.') WHEN (s.start_afternoon IS NOT NULL AND EXISTS ( SELECT 1 FROM shifts sh WHERE sh.user_id = u.id AND DATE(sh.clock_in) = CURDATE() AND sh.clock_out IS NULL AND TIME(sh.clock_in) >= s.start_afternoon AND TIME(sh.clock_in) > ADDTIME(s.start_afternoon, '00:15:00') )) THEN CONCAT('⚠️ Fichaste TARDE la entrada de tarde. Hora programada: ', TIME_FORMAT(s.start_afternoon, '%H:%i'), ' | Hora real: ', (SELECT TIME_FORMAT(TIME(clock_in), '%H:%i') FROM shifts sh WHERE sh.user_id = u.id AND DATE(sh.clock_in) = CURDATE() AND TIME(sh.clock_in) >= s.start_afternoon LIMIT 1), '. Turno ABIERTO.') WHEN (s.end_afternoon IS NOT NULL AND TIME(NOW()) >= s.end_afternoon AND NOT EXISTS ( SELECT 1 FROM shifts sh WHERE sh.user_id = u.id AND DATE(sh.clock_in) = CURDATE() AND TIME(sh.clock_in) >= s.start_afternoon ) AND EXISTS ( SELECT 1 FROM shifts sh WHERE sh.user_id = u.id AND DATE(sh.clock_in) = CURDATE() AND sh.clock_out IS NOT NULL )) THEN CONCAT('🔴 ERROR: No puedes fichar la SALIDA de tarde sin haber fichado la ENTRADA de tarde. Contacta con el administrador.') WHEN (s.end_afternoon IS NOT NULL AND TIME(NOW()) > ADDTIME(s.end_afternoon, '00:02:00') AND EXISTS ( SELECT 1 FROM shifts sh WHERE sh.user_id = u.id AND DATE(sh.clock_in) = CURDATE() AND sh.clock_out IS NULL AND TIME(sh.clock_in) >= s.start_afternoon )) THEN CONCAT('⚠️ No has fichado la SALIDA de TARDE. Hora programada: ', TIME_FORMAT(s.end_afternoon, '%H:%i'), '. Por favor, ficha la salida ahora.') WHEN EXISTS ( SELECT 1 FROM shifts sh WHERE sh.user_id = u.id AND DATE(sh.clock_in) = CURDATE() AND sh.clock_out IS NULL AND ( (s.end_morning IS NOT NULL AND s.start_afternoon IS NULL AND TIME(NOW()) > ADDTIME(s.end_morning, '00:02:00')) OR (s.end_afternoon IS NOT NULL AND TIME(NOW()) > ADDTIME(s.end_afternoon, '00:02:00')) ) ) THEN CONCAT('🔴 Turno ABIERTO fuera de horario. Entrada: ', (SELECT TIME_FORMAT(TIME(clock_in), '%H:%i') FROM shifts sh WHERE sh.user_id = u.id AND DATE(sh.clock_in) = CURDATE() AND sh.clock_out IS NULL LIMIT 1), ' | Hora programada de salida: ', CASE WHEN s.start_afternoon IS NULL THEN TIME_FORMAT(s.end_morning, '%H:%i') ELSE TIME_FORMAT(s.end_afternoon, '%H:%i') END, '. Por favor, cierra el fichaje ahora.') ELSE NULL END AS mensaje FROM users u LEFT JOIN schedules s ON s.user_id = u.id AND s.dow = WEEKDAY(NOW()) + 1 WHERE u.active = 1 AND u.telegram_id IS NOT NULL;\n","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[-752,1808],"id":"75f5fe03-e6d2-4006-acbe-0d3a66c0f593","name":"consulta antigua","credentials":{"mySql":{"id":"RSSAhx7YCelelrXD","name":"MySQL account bestfranquicias"}}},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-1600,1616],"id":"163df8d1-156d-4a20-b9f1-d62fdf900701","name":"Telegram Trigger","webhookId":"f3c3f4fd-4930-413b-8131-fe637cb7d8ab","credentials":{"telegramApi":{"id":"rcZje4ul5XIEpjwr","name":"Telegram FicharLeonBestHouse"}}},{"parameters":{"operation":"executeQuery","query":"SELECT tipo_aviso, id, name, telegram_id, hora_requerida, mensaje FROM ( SELECT 'FALTA_ENTRADA_MANANA' as tipo_aviso, u.id, u.name, u.telegram_id, s.start_morning as hora_requerida, CONCAT('⚠️ AVISO: Debe fichar ENTRADA de mañana. Hora prevista: ', s.start_morning) as mensaje FROM users u INNER JOIN schedules s ON u.id = s.user_id WHERE s.dow = DAYOFWEEK(NOW()) - 1 AND s.start_morning IS NOT NULL AND TIME(NOW()) >= ADDTIME(s.start_morning, '00:02:00') AND TIME(NOW()) < s.end_morning AND NOT EXISTS ( SELECT 1 FROM shifts sh WHERE sh.user_id = u.id AND DATE(sh.clock_in) = CURDATE() AND TIME(sh.clock_in) BETWEEN ADDTIME(s.start_morning, '-00:10:00') AND ADDTIME(s.start_morning, '00:12:00') ) UNION ALL SELECT 'FALTA_ENTRADA_TARDE' as tipo_aviso, u.id, u.name, u.telegram_id, s.start_afternoon as hora_requerida, CONCAT('⚠️ AVISO: Debe fichar ENTRADA de tarde. Hora prevista: ', s.start_afternoon) as mensaje FROM users u INNER JOIN schedules s ON u.id = s.user_id WHERE s.dow = DAYOFWEEK(NOW()) - 1 AND s.start_afternoon IS NOT NULL AND TIME(NOW()) >= ADDTIME(s.start_afternoon, '00:02:00') AND TIME(NOW()) < s.end_afternoon AND NOT EXISTS ( SELECT 1 FROM shifts sh WHERE sh.user_id = u.id AND DATE(sh.clock_in) = CURDATE() AND TIME(sh.clock_in) BETWEEN ADDTIME(s.start_afternoon, '-00:10:00') AND ADDTIME(s.start_afternoon, '00:12:00') ) UNION ALL SELECT 'ENTRADA_ANTICIPADA_MANANA' as tipo_aviso, u.id, u.name, u.telegram_id, s.start_morning as hora_requerida, CONCAT('ℹ️ Ha fichado entrada mañana ANTICIPADA (más de 10 min antes). Hora prevista: ', s.start_morning, ' | Fichó: ', TIME(sh.clock_in)) as mensaje FROM users u INNER JOIN schedules s ON u.id = s.user_id INNER JOIN shifts sh ON u.id = sh.user_id WHERE s.dow = DAYOFWEEK(NOW()) - 1 AND s.start_morning IS NOT NULL AND DATE(sh.clock_in) = CURDATE() AND TIME(sh.clock_in) < ADDTIME(s.start_morning, '-00:10:00') AND TIME(sh.clock_in) >= ADDTIME(s.start_morning, '-02:00:00') AND TIMESTAMPDIFF(MINUTE, sh.clock_in, NOW()) <= 15 UNION ALL SELECT 'ENTRADA_RETRASADA_MANANA' as tipo_aviso, u.id, u.name, u.telegram_id, s.start_morning as hora_requerida, CONCAT('⚠️ Ha fichado entrada mañana CON RETRASO (más de 10 min tarde). Hora prevista: ', s.start_morning, ' | Fichó: ', TIME(sh.clock_in)) as mensaje FROM users u INNER JOIN schedules s ON u.id = s.user_id INNER JOIN shifts sh ON u.id = sh.user_id WHERE s.dow = DAYOFWEEK(NOW()) - 1 AND s.start_morning IS NOT NULL AND DATE(sh.clock_in) = CURDATE() AND TIME(sh.clock_in) > ADDTIME(s.start_morning, '00:10:00') AND TIME(sh.clock_in) <= ADDTIME(s.start_morning, '02:00:00') AND TIMESTAMPDIFF(MINUTE, sh.clock_in, NOW()) <= 15 UNION ALL SELECT 'ENTRADA_ANTICIPADA_TARDE' as tipo_aviso, u.id, u.name, u.telegram_id, s.start_afternoon as hora_requerida, CONCAT('ℹ️ Ha fichado entrada tarde ANTICIPADA (más de 10 min antes). Hora prevista: ', s.start_afternoon, ' | Fichó: ', TIME(sh.clock_in)) as mensaje FROM users u INNER JOIN schedules s ON u.id = s.user_id INNER JOIN shifts sh ON u.id = sh.user_id WHERE s.dow = DAYOFWEEK(NOW()) - 1 AND s.start_afternoon IS NOT NULL AND DATE(sh.clock_in) = CURDATE() AND TIME(sh.clock_in) < ADDTIME(s.start_afternoon, '-00:10:00') AND TIME(sh.clock_in) >= ADDTIME(s.start_afternoon, '-02:00:00') AND TIME(sh.clock_in) >= s.end_morning AND TIMESTAMPDIFF(MINUTE, sh.clock_in, NOW()) <= 15 UNION ALL SELECT 'ENTRADA_RETRASADA_TARDE' as tipo_aviso, u.id, u.name, u.telegram_id, s.start_afternoon as hora_requerida, CONCAT('⚠️ Ha fichado entrada tarde CON RETRASO (más de 10 min tarde). Hora prevista: ', s.start_afternoon, ' | Fichó: ', TIME(sh.clock_in)) as mensaje FROM users u INNER JOIN schedules s ON u.id = s.user_id INNER JOIN shifts sh ON u.id = sh.user_id WHERE s.dow = DAYOFWEEK(NOW()) - 1 AND s.start_afternoon IS NOT NULL AND DATE(sh.clock_in) = CURDATE() AND TIME(sh.clock_in) > ADDTIME(s.start_afternoon, '00:10:00') AND TIME(sh.clock_in) <= ADDTIME(s.start_afternoon, '02:00:00') AND TIMESTAMPDIFF(MINUTE, sh.clock_in, NOW()) <= 15 UNION ALL SELECT 'FALTA_SALIDA_MANANA' as tipo_aviso, u.id, u.name, u.telegram_id, s.end_morning as hora_requerida, CONCAT('⚠️ AVISO: Debe fichar SALIDA de mañana. Hora prevista: ', s.end_morning) as mensaje FROM users u INNER JOIN schedules s ON u.id = s.user_id INNER JOIN shifts sh ON u.id = sh.user_id WHERE s.dow = DAYOFWEEK(NOW()) - 1 AND s.end_morning IS NOT NULL AND DATE(sh.clock_in) = CURDATE() AND sh.clock_out IS NULL AND TIME(sh.clock_in) < s.end_morning AND TIME(NOW()) >= ADDTIME(s.end_morning, '00:02:00') AND TIME(NOW()) < ADDTIME(s.end_morning, '02:00:00') UNION ALL SELECT 'FALTA_SALIDA_TARDE' as tipo_aviso, u.id, u.name, u.telegram_id, s.end_afternoon as hora_requerida, CONCAT('⚠️ AVISO: Debe fichar SALIDA de tarde. Hora prevista: ', s.end_afternoon) as mensaje FROM users u INNER JOIN schedules s ON u.id = s.user_id INNER JOIN shifts sh ON u.id = sh.user_id WHERE s.dow = DAYOFWEEK(NOW()) - 1 AND s.end_afternoon IS NOT NULL AND DATE(sh.clock_in) = CURDATE() AND sh.clock_out IS NULL AND TIME(sh.clock_in) >= s.start_afternoon AND TIME(NOW()) >= ADDTIME(s.end_afternoon, '00:02:00') AND TIME(NOW()) < ADDTIME(s.end_afternoon, '02:00:00') UNION ALL SELECT 'SALIDA_ANTICIPADA_MANANA' as tipo_aviso, u.id, u.name, u.telegram_id, s.end_morning as hora_requerida, CONCAT('ℹ️ Ha fichado salida mañana ANTICIPADA (más de 10 min antes). Hora prevista: ', s.end_morning, ' | Fichó: ', TIME(sh.clock_out)) as mensaje FROM users u INNER JOIN schedules s ON u.id = s.user_id INNER JOIN shifts sh ON u.id = sh.user_id WHERE s.dow = DAYOFWEEK(NOW()) - 1 AND s.end_morning IS NOT NULL AND DATE(sh.clock_in) = CURDATE() AND sh.clock_out IS NOT NULL AND DATE(sh.clock_out) = CURDATE() AND TIME(sh.clock_out) > TIME(sh.clock_in) AND TIME(sh.clock_in) < s.end_morning AND TIME(sh.clock_out) < ADDTIME(s.end_morning, '-00:10:00') AND TIMESTAMPDIFF(MINUTE, sh.clock_out, NOW()) <= 15 UNION ALL SELECT 'SALIDA_RETRASADA_MANANA' as tipo_aviso, u.id, u.name, u.telegram_id, s.end_morning as hora_requerida, CONCAT('⚠️ Ha fichado salida mañana CON RETRASO (más de 10 min tarde). Hora prevista: ', s.end_morning, ' | Fichó: ', TIME(sh.clock_out)) as mensaje FROM users u INNER JOIN schedules s ON u.id = s.user_id INNER JOIN shifts sh ON u.id = sh.user_id WHERE s.dow = DAYOFWEEK(NOW()) - 1 AND s.end_morning IS NOT NULL AND DATE(sh.clock_in) = CURDATE() AND sh.clock_out IS NOT NULL AND DATE(sh.clock_out) = CURDATE() AND TIME(sh.clock_out) > TIME(sh.clock_in) AND TIME(sh.clock_in) < s.end_morning AND TIME(sh.clock_out) > ADDTIME(s.end_morning, '00:10:00') AND TIMESTAMPDIFF(MINUTE, sh.clock_out, NOW()) <= 15 UNION ALL SELECT 'SALIDA_ANTICIPADA_TARDE' as tipo_aviso, u.id, u.name, u.telegram_id, s.end_afternoon as hora_requerida, CONCAT('ℹ️ Ha fichado salida tarde ANTICIPADA (más de 10 min antes). Hora prevista: ', s.end_afternoon, ' | Fichó: ', TIME(sh.clock_out)) as mensaje FROM users u INNER JOIN schedules s ON u.id = s.user_id INNER JOIN shifts sh ON u.id = sh.user_id WHERE s.dow = DAYOFWEEK(NOW()) - 1 AND s.end_afternoon IS NOT NULL AND DATE(sh.clock_in) = CURDATE() AND sh.clock_out IS NOT NULL AND DATE(sh.clock_out) = CURDATE() AND TIME(sh.clock_out) > TIME(sh.clock_in) AND TIME(sh.clock_in) >= s.start_afternoon AND TIME(sh.clock_out) < ADDTIME(s.end_afternoon, '-00:10:00') AND TIMESTAMPDIFF(MINUTE, sh.clock_out, NOW()) <= 15 UNION ALL SELECT 'SALIDA_RETRASADA_TARDE' as tipo_aviso, u.id, u.name, u.telegram_id, s.end_afternoon as hora_requerida, CONCAT('⚠️ Ha fichado salida tarde CON RETRASO (más de 10 min tarde). Hora prevista: ', s.end_afternoon, ' | Fichó: ', TIME(sh.clock_out)) as mensaje FROM users u INNER JOIN schedules s ON u.id = s.user_id INNER JOIN shifts sh ON u.id = sh.user_id WHERE s.dow = DAYOFWEEK(NOW()) - 1 AND s.end_afternoon IS NOT NULL AND DATE(sh.clock_in) = CURDATE() AND sh.clock_out IS NOT NULL AND DATE(sh.clock_out) = CURDATE() AND TIME(sh.clock_out) > TIME(sh.clock_in) AND TIME(sh.clock_in) >= s.start_afternoon AND TIME(sh.clock_out) > ADDTIME(s.end_afternoon, '00:10:00') AND TIMESTAMPDIFF(MINUTE, sh.clock_out, NOW()) <= 15 ) AS avisos ORDER BY tipo_aviso, hora_requerida;\n","options":{"queryBatching":"independently"}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[-816,1168],"id":"eb614d54-4dbc-437f-8076-8f89a54e11ee","name":"ultima antes de borrado","alwaysOutputData":true,"credentials":{"mySql":{"id":"WAppnQbAh532E4XR","name":"MySQL account 2"}}},{"parameters":{"operation":"executeQuery","query":"SELECT tipo_aviso, id, name, telegram_id, hora_requerida, mensaje FROM ( SELECT 'FALTA_ENTRADA_MANANA' as tipo_aviso, u.id, u.name, u.telegram_id, s.start_morning as hora_requerida, CONCAT('⚠️ AVISO: Debe fichar ENTRADA de mañana. Hora prevista: ', s.start_morning) as mensaje FROM users u INNER JOIN schedules s ON u.id = s.user_id WHERE s.dow = DAYOFWEEK(NOW()) - 1 AND s.start_morning IS NOT NULL AND TIME(NOW()) >= ADDTIME(s.start_morning, '00:02:00') AND TIME(NOW()) < s.end_morning AND NOT EXISTS ( SELECT 1 FROM shifts sh WHERE sh.user_id = u.id AND DATE(sh.clock_in) = CURDATE() AND TIME(sh.clock_in) BETWEEN ADDTIME(s.start_morning, '-00:10:00') AND ADDTIME(s.start_morning, '00:12:00') ) UNION ALL SELECT 'FALTA_ENTRADA_TARDE' as tipo_aviso, u.id, u.name, u.telegram_id, s.start_afternoon as hora_requerida, CONCAT('⚠️ AVISO: Debe fichar ENTRADA de tarde. Hora prevista: ', s.start_afternoon) as mensaje FROM users u INNER JOIN schedules s ON u.id = s.user_id WHERE s.dow = DAYOFWEEK(NOW()) - 1 AND s.start_afternoon IS NOT NULL AND TIME(NOW()) >= ADDTIME(s.start_afternoon, '00:02:00') AND TIME(NOW()) < s.end_afternoon AND NOT EXISTS ( SELECT 1 FROM shifts sh WHERE sh.user_id = u.id AND DATE(sh.clock_in) = CURDATE() AND TIME(sh.clock_in) BETWEEN ADDTIME(s.start_afternoon, '-00:10:00') AND ADDTIME(s.start_afternoon, '00:12:00') ) UNION ALL SELECT 'ENTRADA_ANTICIPADA_MANANA' as tipo_aviso, u.id, u.name, u.telegram_id, s.start_morning as hora_requerida, CONCAT('ℹ️ Ha fichado entrada mañana ANTICIPADA (más de 10 min antes). Hora prevista: ', s.start_morning, ' | Fichó: ', TIME(sh.clock_in)) as mensaje FROM users u INNER JOIN schedules s ON u.id = s.user_id INNER JOIN shifts sh ON u.id = sh.user_id WHERE s.dow = DAYOFWEEK(NOW()) - 1 AND s.start_morning IS NOT NULL AND DATE(sh.clock_in) = CURDATE() AND TIME(sh.clock_in) < ADDTIME(s.start_morning, '-00:10:00') AND TIMESTAMPDIFF(MINUTE, sh.clock_in, NOW()) <= 30 UNION ALL SELECT 'ENTRADA_RETRASADA_MANANA' as tipo_aviso, u.id, u.name, u.telegram_id, s.start_morning as hora_requerida, CONCAT('⚠️ Ha fichado entrada mañana CON RETRASO (más de 10 min tarde). Hora prevista: ', s.start_morning, ' | Fichó: ', TIME(sh.clock_in)) as mensaje FROM users u INNER JOIN schedules s ON u.id = s.user_id INNER JOIN shifts sh ON u.id = sh.user_id WHERE s.dow = DAYOFWEEK(NOW()) - 1 AND s.start_morning IS NOT NULL AND DATE(sh.clock_in) = CURDATE() AND TIME(sh.clock_in) > ADDTIME(s.start_morning, '00:10:00') AND TIMESTAMPDIFF(MINUTE, sh.clock_in, NOW()) <= 30 UNION ALL SELECT 'ENTRADA_ANTICIPADA_TARDE' as tipo_aviso, u.id, u.name, u.telegram_id, s.start_afternoon as hora_requerida, CONCAT('ℹ️ Ha fichado entrada tarde ANTICIPADA (más de 10 min antes). Hora prevista: ', s.start_afternoon, ' | Fichó: ', TIME(sh.clock_in)) as mensaje FROM users u INNER JOIN schedules s ON u.id = s.user_id INNER JOIN shifts sh ON u.id = sh.user_id WHERE s.dow = DAYOFWEEK(NOW()) - 1 AND s.start_afternoon IS NOT NULL AND DATE(sh.clock_in) = CURDATE() AND TIME(sh.clock_in) < ADDTIME(s.start_afternoon, '-00:10:00') AND TIME(sh.clock_in) >= s.end_morning AND TIMESTAMPDIFF(MINUTE, sh.clock_in, NOW()) <= 30 UNION ALL SELECT 'ENTRADA_RETRASADA_TARDE' as tipo_aviso, u.id, u.name, u.telegram_id, s.start_afternoon as hora_requerida, CONCAT('⚠️ Ha fichado entrada tarde CON RETRASO (más de 10 min tarde). Hora prevista: ', s.start_afternoon, ' | Fichó: ', TIME(sh.clock_in)) as mensaje FROM users u INNER JOIN schedules s ON u.id = s.user_id INNER JOIN shifts sh ON u.id = sh.user_id WHERE s.dow = DAYOFWEEK(NOW()) - 1 AND s.start_afternoon IS NOT NULL AND DATE(sh.clock_in) = CURDATE() AND TIME(sh.clock_in) > ADDTIME(s.start_afternoon, '00:10:00') AND TIMESTAMPDIFF(MINUTE, sh.clock_in, NOW()) <= 30 UNION ALL SELECT 'FALTA_SALIDA_MANANA' as tipo_aviso, u.id, u.name, u.telegram_id, s.end_morning as hora_requerida, CONCAT('⚠️ AVISO: Debe fichar SALIDA de mañana. Hora prevista: ', s.end_morning) as mensaje FROM users u INNER JOIN schedules s ON u.id = s.user_id INNER JOIN shifts sh ON u.id = sh.user_id WHERE s.dow = DAYOFWEEK(NOW()) - 1 AND s.end_morning IS NOT NULL AND DATE(sh.clock_in) = CURDATE() AND sh.clock_out IS NULL AND TIME(sh.clock_in) < s.end_morning AND TIME(NOW()) >= ADDTIME(s.end_morning, '00:02:00') AND TIME(NOW()) < ADDTIME(s.end_morning, '02:00:00') UNION ALL SELECT 'FALTA_SALIDA_TARDE' as tipo_aviso, u.id, u.name, u.telegram_id, s.end_afternoon as hora_requerida, CONCAT('⚠️ AVISO: Debe fichar SALIDA de tarde. Hora prevista: ', s.end_afternoon) as mensaje FROM users u INNER JOIN schedules s ON u.id = s.user_id INNER JOIN shifts sh ON u.id = sh.user_id WHERE s.dow = DAYOFWEEK(NOW()) - 1 AND s.end_afternoon IS NOT NULL AND DATE(sh.clock_in) = CURDATE() AND sh.clock_out IS NULL AND TIME(sh.clock_in) >= s.start_afternoon AND TIME(NOW()) >= ADDTIME(s.end_afternoon, '00:02:00') AND TIME(NOW()) < ADDTIME(s.end_afternoon, '02:00:00') UNION ALL SELECT 'SALIDA_ANTICIPADA_MANANA' as tipo_aviso, u.id, u.name, u.telegram_id, s.end_morning as hora_requerida, CONCAT('ℹ️ Ha fichado salida mañana ANTICIPADA. Hora prevista: ', s.end_morning, ' | Fichó: ', TIME(sh.clock_out), ' | Diferencia: ', TIMESTAMPDIFF(MINUTE, sh.clock_out, s.end_morning), ' min antes') as mensaje FROM users u INNER JOIN schedules s ON u.id = s.user_id INNER JOIN shifts sh ON u.id = sh.user_id WHERE s.dow = DAYOFWEEK(NOW()) - 1 AND s.end_morning IS NOT NULL AND DATE(sh.clock_in) = CURDATE() AND sh.clock_out IS NOT NULL AND DATE(sh.clock_out) = CURDATE() AND TIME(sh.clock_out) > TIME(sh.clock_in) AND TIME(sh.clock_out) < s.end_morning AND TIMESTAMPDIFF(MINUTE, sh.clock_out, NOW()) <= 30 UNION ALL SELECT 'SALIDA_RETRASADA_MANANA' as tipo_aviso, u.id, u.name, u.telegram_id, s.end_morning as hora_requerida, CONCAT('⚠️ Ha fichado salida mañana CON RETRASO. Hora prevista: ', s.end_morning, ' | Fichó: ', TIME(sh.clock_out), ' | Diferencia: ', TIMESTAMPDIFF(MINUTE, s.end_morning, sh.clock_out), ' min tarde') as mensaje FROM users u INNER JOIN schedules s ON u.id = s.user_id INNER JOIN shifts sh ON u.id = sh.user_id WHERE s.dow = DAYOFWEEK(NOW()) - 1 AND s.end_morning IS NOT NULL AND DATE(sh.clock_in) = CURDATE() AND sh.clock_out IS NOT NULL AND DATE(sh.clock_out) = CURDATE() AND TIME(sh.clock_out) > TIME(sh.clock_in) AND TIME(sh.clock_out) > s.end_morning AND TIMESTAMPDIFF(MINUTE, sh.clock_out, NOW()) <= 30 UNION ALL SELECT 'SALIDA_ANTICIPADA_TARDE' as tipo_aviso, u.id, u.name, u.telegram_id, s.end_afternoon as hora_requerida, CONCAT('ℹ️ Ha fichado salida tarde ANTICIPADA. Hora prevista: ', s.end_afternoon, ' | Fichó: ', TIME(sh.clock_out), ' | Diferencia: ', TIMESTAMPDIFF(MINUTE, sh.clock_out, s.end_afternoon), ' min antes') as mensaje FROM users u INNER JOIN schedules s ON u.id = s.user_id INNER JOIN shifts sh ON u.id = sh.user_id WHERE s.dow = DAYOFWEEK(NOW()) - 1 AND s.end_afternoon IS NOT NULL AND DATE(sh.clock_in) = CURDATE() AND sh.clock_out IS NOT NULL AND DATE(sh.clock_out) = CURDATE() AND TIME(sh.clock_out) > TIME(sh.clock_in) AND TIME(sh.clock_out) < s.end_afternoon AND TIMESTAMPDIFF(MINUTE, sh.clock_out, NOW()) <= 30 UNION ALL SELECT 'SALIDA_RETRASADA_TARDE' as tipo_aviso, u.id, u.name, u.telegram_id, s.end_afternoon as hora_requerida, CONCAT('⚠️ Ha fichado salida tarde CON RETRASO. Hora prevista: ', s.end_afternoon, ' | Fichó: ', TIME(sh.clock_out), ' | Diferencia: ', TIMESTAMPDIFF(MINUTE, s.end_afternoon, sh.clock_out), ' min tarde') as mensaje FROM users u INNER JOIN schedules s ON u.id = s.user_id INNER JOIN shifts sh ON u.id = sh.user_id WHERE s.dow = DAYOFWEEK(NOW()) - 1 AND s.end_afternoon IS NOT NULL AND DATE(sh.clock_in) = CURDATE() AND sh.clock_out IS NOT NULL AND DATE(sh.clock_out) = CURDATE() AND TIME(sh.clock_out) > TIME(sh.clock_in) AND TIME(sh.clock_out) > s.end_afternoon AND TIMESTAMPDIFF(MINUTE, sh.clock_out, NOW()) <= 30 ) AS avisos ORDER BY tipo_aviso, hora_requerida;\n","options":{"queryBatching":"independently"}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[-368,1296],"id":"de7d755c-412b-4503-9d23-3073b1c530cd","name":"funcionando despues de borrado","alwaysOutputData":true,"credentials":{"mySql":{"id":"WAppnQbAh532E4XR","name":"MySQL account 2"}}},{"parameters":{"operation":"executeQuery","query":"INSERT IGNORE INTO avisos_enviados (user_id, tipo_aviso, shift_id, fecha_aviso, hora_aviso, hora_fichaje, mensaje) VALUES ({{ $json.user_id }}, '{{ $json.tipo_aviso }}', {{ $json.shift_id }}, CURDATE(), CURTIME(), '{{ $json.hora_requerida }}', '{{ $json.mensaje_sql }}');\n","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[-400,1632],"id":"4413e1e3-68da-42e0-84ec-1b2f560fa92e","name":"guardar avisos","credentials":{"mySql":{"id":"WAppnQbAh532E4XR","name":"MySQL account 2"}}},{"parameters":{"operation":"executeQuery","query":"SELECT u.name, av.tipo_aviso, av.fecha_aviso, av.hora_aviso, av.mensaje FROM avisos_enviados av INNER JOIN users u ON av.user_id = u.id WHERE av.fecha_aviso >= DATE_SUB(CURDATE(), INTERVAL 30 DAY) ORDER BY av.created_at DESC;\n","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[-496,1808],"id":"a26c44c8-d8b3-446b-b799-cea47987be3f","name":"historial de avisos","credentials":{"mySql":{"id":"RSSAhx7YCelelrXD","name":"MySQL account bestfranquicias"}}},{"parameters":{"jsCode":"const items = $input.all();\n\nreturn items.map(item => {\n  return {\n    json: {\n      user_id: item.json.id,  // Mapea 'id' a 'user_id'\n      tipo_aviso: item.json.tipo_aviso,\n      shift_id: item.json.shift_id || null,\n      fecha_aviso: new Date().toISOString().split('T')[0],\n      hora_aviso: new Date().toTimeString().split(' ')[0],\n      hora_fichaje: item.json.hora_requerida,  // Mapea 'hora_requerida' a 'hora_fichaje'\n      mensaje: (item.json.mensaje || '').replace(/'/g, \"''\")\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-512,1440],"id":"3c7c69af-0067-4454-bd2d-52a886dc63ef","name":"Code in JavaScript","disabled":true},{"parameters":{"operation":"executeQuery","query":"SELECT tipo_aviso, id, name, telegram_id, hora_requerida, mensaje, shift_id FROM ( SELECT 'ENTRADA_RETRASADA_MANANA' as tipo_aviso, u.id, u.name, u.telegram_id, s.start_morning as hora_requerida, CONCAT('⚠️ Ha fichado entrada mañana CON RETRASO. Hora prevista: ', s.start_morning, ' | Fichó: ', TIME(sh.clock_in), ' | Diferencia: ', TIMESTAMPDIFF(MINUTE, s.start_morning, sh.clock_in), ' min tarde') as mensaje, sh.id as shift_id FROM users u INNER JOIN schedules s ON u.id = s.user_id INNER JOIN shifts sh ON u.id = sh.user_id WHERE s.dow = DAYOFWEEK(NOW()) - 1 AND s.start_morning IS NOT NULL AND DATE(sh.clock_in) = CURDATE() AND TIME(sh.clock_in) > ADDTIME(s.start_morning, '00:10:00') AND TIMESTAMPDIFF(MINUTE, sh.clock_in, NOW()) <= 30 AND NOT EXISTS ( SELECT 1 FROM avisos_enviados av WHERE av.user_id = u.id AND av.tipo_aviso = 'ENTRADA_RETRASADA_MANANA' AND av.fecha_aviso = CURDATE() AND av.shift_id = sh.id ) UNION ALL SELECT 'SALIDA_RETRASADA_MANANA' as tipo_aviso, u.id, u.name, u.telegram_id, s.end_morning as hora_requerida, CONCAT('⚠️ Ha fichado salida mañana CON RETRASO. Hora prevista: ', s.end_morning, ' | Fichó: ', TIME(sh.clock_out), ' | Diferencia: ', TIMESTAMPDIFF(MINUTE, s.end_morning, sh.clock_out), ' min tarde') as mensaje, sh.id as shift_id FROM users u INNER JOIN schedules s ON u.id = s.user_id INNER JOIN shifts sh ON u.id = sh.user_id WHERE s.dow = DAYOFWEEK(NOW()) - 1 AND s.end_morning IS NOT NULL AND DATE(sh.clock_in) = CURDATE() AND sh.clock_out IS NOT NULL AND DATE(sh.clock_out) = CURDATE() AND TIME(sh.clock_out) > TIME(sh.clock_in) AND TIME(sh.clock_out) > s.end_morning AND TIMESTAMPDIFF(MINUTE, sh.clock_out, NOW()) <= 30 AND NOT EXISTS ( SELECT 1 FROM avisos_enviados av WHERE av.user_id = u.id AND av.tipo_aviso = 'SALIDA_RETRASADA_MANANA' AND av.fecha_aviso = CURDATE() AND av.shift_id = sh.id ) UNION ALL SELECT 'SALIDA_RETRASADA_TARDE' as tipo_aviso, u.id, u.name, u.telegram_id, s.end_afternoon as hora_requerida, CONCAT('⚠️ Ha fichado salida tarde CON RETRASO. Hora prevista: ', s.end_afternoon, ' | Fichó: ', TIME(sh.clock_out), ' | Diferencia: ', TIMESTAMPDIFF(MINUTE, s.end_afternoon, sh.clock_out), ' min tarde') as mensaje, sh.id as shift_id FROM users u INNER JOIN schedules s ON u.id = s.user_id INNER JOIN shifts sh ON u.id = sh.user_id WHERE s.dow = DAYOFWEEK(NOW()) - 1 AND s.end_afternoon IS NOT NULL AND DATE(sh.clock_in) = CURDATE() AND sh.clock_out IS NOT NULL AND DATE(sh.clock_out) = CURDATE() AND TIME(sh.clock_out) > TIME(sh.clock_in) AND TIME(sh.clock_out) > s.end_afternoon AND TIMESTAMPDIFF(MINUTE, sh.clock_out, NOW()) <= 30 AND NOT EXISTS ( SELECT 1 FROM avisos_enviados av WHERE av.user_id = u.id AND av.tipo_aviso = 'SALIDA_RETRASADA_TARDE' AND av.fecha_aviso = CURDATE() AND av.shift_id = sh.id ) ) AS avisos ORDER BY tipo_aviso, hora_requerida;\n","options":{"queryBatching":"independently"}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[-144,1744],"id":"24d1b264-1a56-44f0-ade8-43c0915b87dc","name":"comprueba estado2","alwaysOutputData":true,"credentials":{"mySql":{"id":"WAppnQbAh532E4XR","name":"MySQL account 2"}}},{"parameters":{"jsCode":"const items = $input.all();\n\nreturn items.map(item => {\n  // Escapar comillas simples para SQL\n  const mensajeEscapado = (item.json.mensaje || '')\n    .replace(/\\\\/g, '\\\\\\\\')  // Escapar backslashes\n    .replace(/'/g, \"\\\\'\");    // Escapar comillas simples\n  \n  return {\n    json: {\n      // Mantener datos originales para Telegram\n      telegram_id: item.json.telegram_id,\n      name: item.json.name,\n      mensaje_telegram: item.json.mensaje,\n      \n      // Datos preparados para INSERT\n      user_id: item.json.id,\n      tipo_aviso: item.json.tipo_aviso,\n      shift_id: item.json.shift_id || null,\n      hora_requerida: item.json.hora_requerida,\n      mensaje_sql: mensajeEscapado\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-672,1680],"id":"beb5b0f5-9092-42f2-a27e-34d610c1ff86","name":"Code in JavaScript1"}],"connections":{"comprueba estado":{"main":[[{"node":"Send a text message","type":"main","index":0},{"node":"Code in JavaScript1","type":"main","index":0}]]},"17:32":{"main":[[{"node":"comprueba estado","type":"main","index":0}]]},"20:02":{"main":[[{"node":"comprueba estado","type":"main","index":0}]]},"14:02":{"main":[[{"node":"comprueba estado","type":"main","index":0}]]},"9:32":{"main":[[{"node":"comprueba estado","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"comprueba estado","type":"main","index":0}]]},"comprueba estado1":{"main":[[{"node":"Send a text message1","type":"main","index":0}]]},"Telegram Trigger":{"main":[[]]},"Send a text message":{"main":[[]]},"guardar avisos":{"main":[[]]},"Code in JavaScript":{"main":[[]]},"Code in JavaScript1":{"main":[[{"node":"guardar avisos","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[]},"node:14:02":{"recurrenceRules":[]},"node:9:32":{"recurrenceRules":[]},"node:17:32":{"recurrenceRules":[]},"node:20:02":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c8dee551-aaf8-405c-911c-ae9a81e2b2e6","triggerCount":5,"shared":[{"updatedAt":"2025-11-18T22:18:55.182Z","createdAt":"2025-11-18T22:18:55.182Z","role":"workflow:owner","workflowId":"RfZFD8zAUCcQhWl1","projectId":"prlZ3bTXg0wKi0D1"}],"tags":[]}