fichar-telegram-tgCkhvUdMMjbX2ls.json
{"updatedAt":"2025-11-10T10:48:51.000Z","createdAt":"2025-10-31T08:38:47.065Z","id":"tgCkhvUdMMjbX2ls","name":"Fichar telegram","active":false,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"0107af7c-aada-4e7f-9310-9b0a7aa0dffd","name":"cuerpo","value":"={{ $json.message.text }}","type":"string"},{"id":"f5cdb157-16de-44a1-b8c0-60edd074bbcb","name":"remitente","value":"={{ $json.message.from.first_name.split(' ')[0] }}\n","type":"string"},{"id":"15823a71-3e18-49e9-98c7-57303470eb64","name":"telegram_id","value":"={{ $json.message.from.id }}","type":"number"}]},"includeOtherFields":true,"include":"selected","includeFields":"metadata[\"message-id\"]","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1008,208],"id":"971285de-afa5-45ea-b9e0-b69f9e3a7a38","name":"Extraer Cuerpo y remitente"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"=Salida registrada","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[208,352],"id":"2573f61a-1349-48e4-b2bb-c809a4747b9f","name":"Send a text message","webhookId":"cae848d2-a74f-46cb-bc0a-b88427e9ca13","notesInFlow":false,"credentials":{"telegramApi":{"id":"rcZje4ul5XIEpjwr","name":"Telegram FicharLeonBestHouse"}}},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-1216,208],"id":"4b950eb4-a22f-4188-afeb-ff85c868b9f8","name":"Telegram Trigger","webhookId":"f80691bb-10b4-4cdd-af16-8a72d6b3a859","credentials":{"telegramApi":{"id":"rcZje4ul5XIEpjwr","name":"Telegram FicharLeonBestHouse"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO shifts (user_id, center_id, clock_in, telegram_id) SELECT u.id, u.center_id, NOW(), u.telegram_id FROM users u WHERE u.name = '{{ $('Extraer Cuerpo y remitente').item.json.remitente }}' AND NOT EXISTS (SELECT 1 FROM shifts s WHERE s.user_id = u.id AND s.clock_out IS NULL);\n","options":{"queryBatching":"independently"}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[0,0],"id":"cda35d89-33a5-4f84-bd21-7d2c12723530","name":"entrada","credentials":{"mySql":{"id":"RSSAhx7YCelelrXD","name":"MySQL account bestfranquicias"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE shifts SET clock_out = NOW() WHERE id = (SELECT open_shift_id FROM (SELECT s.id as open_shift_id FROM shifts s JOIN users u ON s.user_id = u.id WHERE u.name = '{{ $('Extraer Cuerpo y remitente').item.json.remitente }}' AND s.clock_out IS NULL ORDER BY s.id DESC LIMIT 1) AS subquery);\n","options":{"queryBatching":"independently"}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[0,352],"id":"707d558b-11c0-4da2-a1af-b36a152af588","name":"salida","credentials":{"mySql":{"id":"RSSAhx7YCelelrXD","name":"MySQL account bestfranquicias"}}},{"parameters":{"operation":"executeQuery","query":"SELECT CASE WHEN clock_out IS NOT NULL THEN 'Cerrado' ELSE 'Abierto' END AS ultimo_estado FROM shifts WHERE user_id = (SELECT id FROM users WHERE name = '{{ $('Extraer Cuerpo y remitente').item.json.remitente }}') ORDER BY id DESC LIMIT 1;\n","options":{"queryBatching":"independently"}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[-784,208],"id":"4486dcd9-ab55-43de-8da4-32dc7d32c623","name":"comprueba estado","credentials":{"mySql":{"id":"RSSAhx7YCelelrXD","name":"MySQL account bestfranquicias"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.from.id }}","text":"=Entrada registrada","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[208,0],"id":"af543646-260b-4b4e-998a-3c94e439d694","name":"Send a text message1","webhookId":"cae848d2-a74f-46cb-bc0a-b88427e9ca13","notesInFlow":false,"credentials":{"telegramApi":{"id":"rcZje4ul5XIEpjwr","name":"Telegram FicharLeonBestHouse"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.ultimo_estado }}","rightValue":"=Cerrado","operator":{"type":"string","operation":"equals"},"id":"763f54ec-0edb-4b37-b561-707bfa81b0b3"}],"combinator":"and"},"renameOutput":true,"outputKey":"Entrada "},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7a382e0f-c4ae-4a16-965b-a5efbd7fb7a9","leftValue":"={{ $json.ultimo_estado }}","rightValue":"Abierto","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Salida"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-528,208],"id":"2e309397-96c2-49d8-bc86-8f3c5ec8e1ee","name":"Switch"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Extraer Cuerpo y remitente').item.json.cuerpo }}","rightValue":"entrada","operator":{"type":"string","operation":"contains"},"id":"62a5eede-e4f3-4abd-ac25-bba6346bd060"}],"combinator":"and"},"renameOutput":true,"outputKey":"entrada"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"945ba970-de0c-4413-862b-e1cc7ed37d0f","leftValue":"={{ $('Extraer Cuerpo y remitente').item.json.cuerpo }}","rightValue":"salida","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"error"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-272,16],"id":"2b83d104-e96f-4ed6-8a58-5ad14b7d09ff","name":"Switch1"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"=Antes de registrar una salida has de registrar la entrada","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[208,176],"id":"61bdf333-c1d9-4727-bfe0-91a43e915796","name":"Send a text message2","webhookId":"cae848d2-a74f-46cb-bc0a-b88427e9ca13","notesInFlow":false,"credentials":{"telegramApi":{"id":"rcZje4ul5XIEpjwr","name":"Telegram FicharLeonBestHouse"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Extraer Cuerpo y remitente').item.json.cuerpo }}","rightValue":"salida","operator":{"type":"string","operation":"contains"},"id":"62a5eede-e4f3-4abd-ac25-bba6346bd060"}],"combinator":"and"},"renameOutput":true,"outputKey":"salida"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"945ba970-de0c-4413-862b-e1cc7ed37d0f","leftValue":"={{ $('Extraer Cuerpo y remitente').item.json.cuerpo }}","rightValue":"entrada","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"error"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-272,368],"id":"13e25ccc-8235-4f11-9d25-817bbf636606","name":"Switch2"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"=Antes de registrar una entrada has de registrar la salida","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[208,544],"id":"eef4cefb-34aa-4fc6-8ec5-11b892f2b632","name":"Send a text message3","webhookId":"cae848d2-a74f-46cb-bc0a-b88427e9ca13","notesInFlow":false,"credentials":{"telegramApi":{"id":"rcZje4ul5XIEpjwr","name":"Telegram FicharLeonBestHouse"}}}],"connections":{"Extraer Cuerpo y remitente":{"main":[[{"node":"comprueba estado","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Extraer Cuerpo y remitente","type":"main","index":0}]]},"entrada":{"main":[[{"node":"Send a text message1","type":"main","index":0}]]},"salida":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"comprueba estado":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Switch1","type":"main","index":0}],[{"node":"Switch2","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"entrada","type":"main","index":0}],[{"node":"Send a text message2","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"salida","type":"main","index":0}],[{"node":"Send a text message3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f838fb13-0ad8-45c0-af22-709742751a10","triggerCount":1,"shared":[{"updatedAt":"2025-10-31T08:38:47.069Z","createdAt":"2025-10-31T08:38:47.069Z","role":"workflow:owner","workflowId":"tgCkhvUdMMjbX2ls","projectId":"prlZ3bTXg0wKi0D1"}],"tags":[]}