fichar-telegram-sencillo-l0dtHuhtFWbP3hK4.json
{"updatedAt":"2025-11-10T10:04:03.000Z","createdAt":"2025-11-09T21:30:48.431Z","id":"l0dtHuhtFWbP3hK4","name":"Fichar telegram sencillo","active":false,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"0107af7c-aada-4e7f-9310-9b0a7aa0dffd","name":"cuerpo","value":"={{ $json.message.text }}","type":"string"},{"id":"f5cdb157-16de-44a1-b8c0-60edd074bbcb","name":"remitente","value":"={{ $json.message.from.first_name }}","type":"string"}]},"includeOtherFields":true,"include":"selected","includeFields":"metadata[\"message-id\"]","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[64,-128],"id":"f6097b76-e21f-4799-a22d-bc8167952cae","name":"Extraer Cuerpo y remitente"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"=Salida registrada","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1280,16],"id":"622f45d9-ddea-4243-8989-0819b656ce2a","name":"Send a text message","webhookId":"cae848d2-a74f-46cb-bc0a-b88427e9ca13","notesInFlow":false,"credentials":{"telegramApi":{"id":"jDxsVgrb1fG40Bm1","name":"Telegram n8n_the2tor_bot"}}},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-144,-128],"id":"d56916a4-c76e-44ba-9ba4-b7e6ffe3513c","name":"Telegram Trigger","webhookId":"f80691bb-10b4-4cdd-af16-8a72d6b3a859","credentials":{"telegramApi":{"id":"jDxsVgrb1fG40Bm1","name":"Telegram n8n_the2tor_bot"}}},{"parameters":{"operation":"executeQuery","query":"\nINSERT INTO shifts (user_id, center_id, clock_in, clock_out) SELECT u.id, u.center_id, CASE WHEN LOWER('{{ $('Telegram Trigger').item.json.message.text }}') = 'entrada' THEN NOW() ELSE NULL END, CASE WHEN LOWER('{{ $('Telegram Trigger').item.json.message.text }}') = 'salida' THEN NOW() ELSE NULL END FROM users u WHERE u.name = '{{ $('Extraer Cuerpo y remitente').item.json.remitente }}' AND (LOWER('{{ $('Telegram Trigger').item.json.message.text }}') = 'entrada' OR (LOWER('{{ $('Telegram Trigger').item.json.message.text }}') = 'salida' AND EXISTS (SELECT 1 FROM shifts s WHERE s.user_id = u.id AND DATE(s.clock_in) = CURDATE() AND s.clock_out IS NULL)));\n","options":{"queryBatching":"independently"}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[496,128],"id":"8a991fd4-dae8-45b4-a77a-21b57889095b","name":"Comprobar si el candidato existe en la base de datos1","credentials":{"mySql":{"id":"RSSAhx7YCelelrXD","name":"MySQL account bestfranquicias"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a0893558-d85d-4035-88fe-9c37209aa383","leftValue":"={{ $('Extraer Cuerpo y remitente').item.json.cuerpo }}","rightValue":"entrada","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"0cce466a-10e8-4e37-82cd-c9beee3efc50","leftValue":"={{ $json.ultimo_estado }}","rightValue":"Cerrado","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{"ignoreCase":false}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[160,128],"id":"39615e8a-e962-4f3b-a7db-9452f1e0d0df","name":"If","disabled":true},{"parameters":{"operation":"executeQuery","query":"INSERT INTO shifts (user_id, center_id, clock_in) SELECT u.id, u.center_id, NOW() FROM users u WHERE u.name = '{{ $('Extraer Cuerpo y remitente').item.json.remitente }}' AND NOT EXISTS (SELECT 1 FROM shifts s WHERE s.user_id = u.id AND s.clock_out IS NULL);\n","options":{"queryBatching":"independently"}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[1072,-336],"id":"e0224a9a-9d90-40de-908e-03e1fcf273f4","name":"entrada","credentials":{"mySql":{"id":"RSSAhx7YCelelrXD","name":"MySQL account bestfranquicias"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE shifts SET clock_out = NOW() WHERE id = (SELECT open_shift_id FROM (SELECT s.id as open_shift_id FROM shifts s JOIN users u ON s.user_id = u.id WHERE u.name = '{{ $('Extraer Cuerpo y remitente').item.json.remitente }}' AND s.clock_out IS NULL ORDER BY s.id DESC LIMIT 1) AS subquery);\n","options":{"queryBatching":"independently"}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[1072,16],"id":"7e62781e-0669-4c43-a1cc-2a86d8c8115d","name":"salida","credentials":{"mySql":{"id":"RSSAhx7YCelelrXD","name":"MySQL account bestfranquicias"}}},{"parameters":{"operation":"executeQuery","query":"SELECT CASE WHEN clock_out IS NOT NULL THEN 'Cerrado' ELSE 'Abierto' END AS ultimo_estado FROM shifts WHERE user_id = (SELECT id FROM users WHERE name = '{{ $('Extraer Cuerpo y remitente').item.json.remitente }}') ORDER BY id DESC LIMIT 1;\n","options":{"queryBatching":"independently"}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[288,-128],"id":"dfaff918-e41b-4b8a-8b5f-5fc322ab18f0","name":"comprueba estado","credentials":{"mySql":{"id":"RSSAhx7YCelelrXD","name":"MySQL account bestfranquicias"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"=Entrada registrada","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1280,-336],"id":"35c27cee-d39f-44dc-8cda-cf06f295690b","name":"Send a text message1","webhookId":"cae848d2-a74f-46cb-bc0a-b88427e9ca13","notesInFlow":false,"credentials":{"telegramApi":{"id":"jDxsVgrb1fG40Bm1","name":"Telegram n8n_the2tor_bot"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.ultimo_estado }}","rightValue":"=Cerrado","operator":{"type":"string","operation":"equals"},"id":"763f54ec-0edb-4b37-b561-707bfa81b0b3"}],"combinator":"and"},"renameOutput":true,"outputKey":"Entrada "},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7a382e0f-c4ae-4a16-965b-a5efbd7fb7a9","leftValue":"={{ $json.ultimo_estado }}","rightValue":"Abierto","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Salida"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[544,-128],"id":"a6020cc0-e316-40d0-a141-c85cf6274b7b","name":"Switch"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Extraer Cuerpo y remitente').item.json.cuerpo }}","rightValue":"entrada","operator":{"type":"string","operation":"contains"},"id":"62a5eede-e4f3-4abd-ac25-bba6346bd060"}],"combinator":"and"},"renameOutput":true,"outputKey":"entrada"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"945ba970-de0c-4413-862b-e1cc7ed37d0f","leftValue":"={{ $('Extraer Cuerpo y remitente').item.json.cuerpo }}","rightValue":"salida","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"error"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[800,-320],"id":"4f3825e3-f0be-42e9-86f8-d6f632a02c39","name":"Switch1"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"=Antes de registrar una salida has de registrar la entrada","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1280,-160],"id":"dd6bc484-bc70-4770-ba3b-154e7f8bed8d","name":"Send a text message2","webhookId":"cae848d2-a74f-46cb-bc0a-b88427e9ca13","notesInFlow":false,"credentials":{"telegramApi":{"id":"jDxsVgrb1fG40Bm1","name":"Telegram n8n_the2tor_bot"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Extraer Cuerpo y remitente').item.json.cuerpo }}","rightValue":"salida","operator":{"type":"string","operation":"contains"},"id":"62a5eede-e4f3-4abd-ac25-bba6346bd060"}],"combinator":"and"},"renameOutput":true,"outputKey":"salida"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"945ba970-de0c-4413-862b-e1cc7ed37d0f","leftValue":"={{ $('Extraer Cuerpo y remitente').item.json.cuerpo }}","rightValue":"entrada","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"error"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[800,32],"id":"a1bbded7-cfc6-4514-9880-65da4524d96e","name":"Switch2"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"=Antes de registrar una entrada has de registrar la salida","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1280,208],"id":"dc15c06f-1d0f-42a8-874a-a767ae149155","name":"Send a text message3","webhookId":"cae848d2-a74f-46cb-bc0a-b88427e9ca13","notesInFlow":false,"credentials":{"telegramApi":{"id":"jDxsVgrb1fG40Bm1","name":"Telegram n8n_the2tor_bot"}}}],"connections":{"Extraer Cuerpo y remitente":{"main":[[{"node":"comprueba estado","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Extraer Cuerpo y remitente","type":"main","index":0}]]},"entrada":{"main":[[{"node":"Send a text message1","type":"main","index":0}]]},"If":{"main":[[],[]]},"salida":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"comprueba estado":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Send a text message":{"main":[[]]},"Switch":{"main":[[{"node":"Switch1","type":"main","index":0}],[{"node":"Switch2","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"entrada","type":"main","index":0}],[{"node":"Send a text message2","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"salida","type":"main","index":0}],[{"node":"Send a text message3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0ce233ac-5069-488e-a6d8-63080bb44ee0","triggerCount":1,"shared":[{"updatedAt":"2025-11-09T21:30:48.436Z","createdAt":"2025-11-09T21:30:48.436Z","role":"workflow:owner","workflowId":"l0dtHuhtFWbP3hK4","projectId":"prlZ3bTXg0wKi0D1"}],"tags":[]}