generador-de-sql-inmobiliaria-sEUZOcIxHPsxiRki.json
{"updatedAt":"2025-11-23T18:27:52.342Z","createdAt":"2025-11-23T18:27:52.342Z","id":"sEUZOcIxHPsxiRki","name":"generador de sql inmobiliaria","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"c16f2bbd-90a5-40a2-a747-f5b266b62494","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1808,-256],"id":"58fa9c44-f090-4459-90c6-68d296333bdd","name":"Webhook","webhookId":"c16f2bbd-90a5-40a2-a747-f5b266b62494"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"GPT-4.1"},"messages":{"values":[{"content":"=Eres un asistente experto en generar consultas SQL para PostgreSQL.\n\nTu única tarea es convertir la petición de un usuario en una consulta SQL **válida y optimizada** para la tabla **`AQUI PONES EL NOMBRE DE TU TABLA SQL`**.\n\n(AQUÍ PERSONALIZAS EL PROMPT PARA QUE EL AGENTE IA ENTIENDA TU BASE DE DATOS)\n\n> **Requisito técnico**  \n\n\n---\n\n## Estructura resumida de `web_pisa`\n\n\n---\n\n## Datos del usuario recibidos\n\n- Frase original: **\"{{ $json.mensaje }}\"**\n- Parámetros extraídos: **{{ $json.parametros }}**\n\n---\n\n## Reglas de generación de SQL\n\n1. Devuelve **una única línea** `SELECT` (sin `;`) con **solo**:  \n   `pis, prov, muni, dist, barri, pvp, tipo_nom, uso_nom, habitacion, bano, m2cnsper, terraza, parking, piscina, jardin`.  \n   **Nunca** uses `SELECT *`.\n\n2. **Ubicación**\n\n---\n\n## Ejemplos de conversión (Petición → SQL)\n"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-1264,-256],"id":"b7ef2c4d-9d7e-423b-bafd-90ae66d60ee0","name":"Generador de SQL Query","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"operation":"executeQuery","query":"{{ $json.message.content }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-928,-256],"id":"08242de3-8169-4695-8cc4-6d4cc1f27e91","name":"Postgres","alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9967b81-4462-4bf3-832f-d193abdbf30e","leftValue":"={{ $items(\"Postgres\").first().json.pis }}","rightValue":0,"operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-752,-256],"id":"f22d637f-60e2-4a3e-a3aa-29cb84ef2589","name":"If"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=Eres 'Donpi', el asistente virtual experto de Donpiso. Tu tarea es analizar una lista de inmuebles en formato JSON y generar una respuesta clara y legible para el cliente.\n\nREGLAS DE FORMATEO Y ESTILO:\n1.  NO uses ningún tipo de formato especial como Markdown (*, **, ---). Genera solo texto plano.\n2.  Empieza con un saludo y di el número total de inmuebles encontrados. Ejemplo: \"¡Claro! He encontrado X inmuebles que se ajustan a tu búsqueda:\"\n3.  Para CADA inmueble de la lista, crea un bloque de texto con el siguiente formato:\n    - Nombre: {tipo_nom} en {dist}, {muni}\n    - Código: {pis}\n    - Precio: {pvp} €\n    - Características: {habitacion} hab, {bano} baños.\n    - Si el valor de 'm2cnsper' es mayor que 0, añade los metros a la línea de Características. Ejemplo: \"3 hab, 1 baños, 65 m².\"\n    - Si el inmueble tiene terraza, parking, piscina o jardín, añade una línea nueva llamada \"Extras:\", listando solo los que tiene. Ejemplo: \"Extras: Terraza, Piscina\".\n4.  Separa cada bloque de inmueble con dos saltos de línea para crear un espacio en blanco.\n5.  Termina con una pregunta para continuar la conversación.\n\nAquí está la lista de inmuebles a procesar:\n{{ JSON.stringify($json.properties) }}"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-368,-352],"id":"454c47d2-5076-41e4-bb39-0110cb39acd1","name":"Formateador de Respuesta","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"81074c8a-b89c-4bb9-9c88-ad55a459d8b7","name":"respuesta","value":"=Lo siento, no he encontrado ningún inmueble que coincida exactamente con tu búsqueda. ¿Quieres que probemos con otros criterios, por ejemplo, ampliando la zona o el rango de precio?","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-304,-160],"id":"99850585-e7e9-4303-b594-1d315ed6e367","name":"Respuesta Sin Resultados"},{"parameters":{"assignments":{"assignments":[{"id":"4ff43738-b3d4-4d1e-bed7-8a5eadd15b0a","name":"respuesta","value":"={{ $json.message.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-32,-352],"id":"fa5e9869-a0dc-4be9-8ce3-9bcbcf68b7ce","name":"Respuesta Con Resultados"},{"parameters":{"jsCode":"// $items no es un array, pero podemos acceder a sus datos con $items().\n// Mapeamos sobre los datos de entrada para extraer solo el objeto 'json' de cada ítem.\nconst allProperties = $items().map(item => item.json);\n\n// Devolvemos un ÚNICO ítem nuevo, \n// cuyo campo 'json' contiene el array completo de las propiedades.\nreturn [{\n  json: {\n    properties: allProperties\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-544,-352],"id":"9f71bdf9-fbc0-4d75-a182-18fe3cc67e23","name":"Code"},{"parameters":{"assignments":{"assignments":[{"id":"86393022-3bc2-42ed-aca8-fbca141dda75","name":"parametros","value":"=={{ JSON.stringify($json.body) }}","type":"string"},{"id":"8fd18e5a-2735-4998-b2f3-11e609e5c2af","name":"mensaje","value":"={{ $json.body.last_utterance }}","type":"string"},{"id":"30165414-07ca-4d40-9491-b4f28b0588a2","name":"","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1424,-256],"id":"4f54a761-a1e3-4789-8c57-c17884572d95","name":"Capturar Variables"},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[208,-256],"id":"419c1421-aece-4d49-9580-9b24cf20ccbc","name":"Respond to Webhook"},{"parameters":{"jsCode":"return [\n  {\n    json: Object.fromEntries(\n      Object.entries(items[0].json).filter(([key, value]) =>\n        value !== \"\" && value !== null && value !== undefined\n      )\n    )\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1600,-256],"id":"b9225ff0-8673-43b6-b7f0-637f9f2b2d42","name":"Code1"}],"connections":{"Webhook":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Generador de SQL Query":{"main":[[{"node":"Postgres","type":"main","index":0}]]},"Postgres":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Respuesta Sin Resultados","type":"main","index":0}]]},"Formateador de Respuesta":{"main":[[{"node":"Respuesta Con Resultados","type":"main","index":0}]]},"Respuesta Con Resultados":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Respuesta Sin Resultados":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Code":{"main":[[{"node":"Formateador de Respuesta","type":"main","index":0}]]},"Capturar Variables":{"main":[[{"node":"Generador de SQL Query","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Capturar Variables","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"674fbd00-3820-4acf-b9c2-3a458433f40e","triggerCount":0,"shared":[{"updatedAt":"2025-11-23T18:27:52.345Z","createdAt":"2025-11-23T18:27:52.345Z","role":"workflow:owner","workflowId":"sEUZOcIxHPsxiRki","projectId":"prlZ3bTXg0wKi0D1"}],"tags":[]}