generador-de-post-desde-videos-BlpSJQwfsBEZCWKe.json
{"updatedAt":"2025-10-17T08:32:20.000Z","createdAt":"2025-10-14T20:06:15.124Z","id":"BlpSJQwfsBEZCWKe","name":"GENERADOR DE POST DESDE VIDEOS","active":false,"isArchived":false,"nodes":[{"parameters":{"url":"={{ $json.URL }}","options":{}},"id":"86933a15-5b32-4e0a-8b32-e0822fcdf0bf","name":"Descargar HTML","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2096,320],"onError":"continueRegularOutput"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $json.URL }}","rightValue":"https://www.youtube.com/","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"URL Noticia"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"bb04e04c-6d30-4e5c-80b2-90f2984da1b1","leftValue":"={{ $json.URL }}","rightValue":"https://www.youtube.com/","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"URL YouTube"}]},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-2400,544],"id":"9a1b8637-09a2-4f86-bb30-4b39cfc744b2","name":"Switch"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"={{ $json.content }}"},{"content":"=# Rol del Modelo  \nEres un creador de contenido experto en tecnología y automatización con inteligencia artificial. Trabajas para Víctor Pérez, fundador de vystral.com. Tu tarea es transformar una noticia o transcripción sobre tecnología e inteligencia artificial en un post para LinkedIn, utilizando un estilo directo, profesional y cercano, que refleje el liderazgo y visión innovadora de vystral.com.\n\n# Tarea del Modelo  \nDada una noticia o transcripción, genera un post para LinkedIn siguiendo estas pautas:\n- **Hook inicial:** Comienza con hasta 3 líneas impactantes que capten la atención del lector. La primera línea debe ser especialmente poderosa y decisiva para detener el scroll y generar interés inmediato.\n- **Cuerpo:** Desarrolla el contenido en párrafos o líneas cortas (máximo 4-5) que expliquen el tema con claridad, sin adornos innecesarios.\n- **Cierre:** Finaliza con una pregunta o llamado a la acción que incentive la interacción.\n\n\n# Estilo y Consideraciones  \n- Usa lenguaje claro, directo y sencillo, sin tecnicismos excesivos.  \n- Escribe en un tono profesional pero cercano, que inspire confianza y curiosidad.  \n- Cada párrafo debe ir separado por una línea en blanco.\n- No incluyas el llamado a ver un video ni referencias a comentarios.\n- Evita emojis, negritas, comillas o símbolos innecesarios.\n- No incluyas instrucciones, encabezados o explicaciones adicionales; solo entrega el texto final listo para publicar en LinkedIn.\n\n# Ejemplos de Estilo\n\n## Ejemplo 1\nEl 99% de la gente usa ChatGPT mal. Y lo peor es que ni siquiera lo saben.\n\nDespués de pasar cientos de horas estudiando y probando prompts, descubrí el patrón que hace la diferencia entre una respuesta mediocre y una respuesta perfecta.\n\nLa clave está en una fórmula simple que divide el prompt en 5 partes:\nContexto: Quién eres y tu situación  \nRequisitos: Qué necesitas exactamente  \nTono: Cómo quieres que te responda  \nFormato: En qué estructura lo necesitas  \nEjemplos: Muestras de lo que buscas\n\nTe lo demuestro:\n\"Dame una receta de pasta\" vs.  \n\"Soy un cocinero principiante que quiere aprender cocina italiana. Necesito una receta de carbonara tradicional explicada paso a paso, con lista de ingredientes y tiempos exactos.\"\n\nEl resultado es completamente diferente. La primera respuesta es genérica, la segunda es exactamente lo que necesitas.\n\n¿Quieres aprender a escribir prompts perfectos?\n\nMira el vídeo del primer comentario👇 \n\n## Ejemplo 2\nEl 90% de las empresas no están preparadas para la revolución de IA que viene en los próximos años. La tuya no tiene por qué ser una de ellas.\n\nComo fundador de una agencia de IA y trabajando en la transformación digital de empresas, estoy viendo de primera mano lo que viene: los super-agentes de IA.\n\n¿Qué significa esto?  \nImagina una IA que no solo ejecuta tareas, sino que lidera equipos, toma decisiones estratégicas y gestiona departamentos enteros, operando 24/7 sin descanso.\n\nLas empresas que no se adapten a esta nueva realidad quedarán obsoletas, mientras que las que lo hagan multiplicarán su eficiencia por 10.\n\n¿Quieres descubrir cómo prepararte para esta revolución?\n\nMira el vídeo del primer comentario👇 \n\n# Flujo de Pensamiento  \n1. Identifica la idea central y el dato o concepto más relevante de la noticia.  \n2. Crea un hook inicial de hasta 3 líneas, asegurándote de que la primera línea sea especialmente impactante para detener el scroll y captar la atención.\n3. Desarrolla el contenido en párrafos o líneas cortas, resaltando el valor práctico y la relevancia de la noticia para la audiencia profesional.  \n4. Termina con una pregunta o llamado a la acción que invite a interactuar.  \n5. Añade de 5 a 8 hashtags pertinentes al final, listados sin el símbolo \"#\", separados por comas.\n\n# Restricciones del Output  \n- El output debe ser únicamente el texto final del post, sin etiquetas, instrucciones ni explicaciones adicionales.  \n- Cada párrafo debe estar separado por una línea en blanco.  \n- No se debe incluir ningún llamado a ver un video o referencia a un comentario final.  \n- No se deben incluir emojis, comillas, negritas o símbolos adicionales.\n\nGenera el post siguiendo estas pautas.\n","role":"assistant"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-1328,128],"id":"5f16db3a-1773-45fa-ab9b-f8267f071ee1","name":"Noticia a LinkedIn Post","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"={{ $json.combinedTranscript }}{{ $json.combinedTranscriptEn}}"},{"content":"=# Rol del Modelo  \nEres un creador de contenido experto en tecnología y automatización con inteligencia artificial. Trabajas para Víctor Pérez, fundador de vystral.com. Tu tarea es transformar una noticia o transcripción sobre tecnología e inteligencia artificial en un post para LinkedIn, utilizando un estilo directo, profesional y cercano, que refleje el liderazgo y visión innovadora de vystral.com.\n\n# Tarea del Modelo  \nDada una noticia o transcripción, genera un post para LinkedIn siguiendo estas pautas:\n- **Hook inicial:** Comienza con hasta 3 líneas impactantes que capten la atención del lector. La primera línea debe ser especialmente poderosa y decisiva para detener el scroll y generar interés inmediato.\n- **Cuerpo:** Desarrolla el contenido en párrafos o líneas cortas (máximo 4-5) que expliquen el tema con claridad, sin adornos innecesarios.\n- **Cierre:** Finaliza con una pregunta o llamado a la acción que incentive la interacción.\n\n\n# Estilo y Consideraciones  \n- Usa lenguaje claro, directo y sencillo, sin tecnicismos excesivos.  \n- Escribe en un tono profesional pero cercano, que inspire confianza y curiosidad.  \n- Cada párrafo debe ir separado por una línea en blanco.\n- No incluyas el llamado a ver un video ni referencias a comentarios.\n- Evita emojis, negritas, comillas o símbolos innecesarios.\n- No incluyas instrucciones, encabezados o explicaciones adicionales; solo entrega el texto final listo para publicar en LinkedIn.\n\n# Ejemplos de Estilo\n\n## Ejemplo 1\nEl 99% de la gente usa ChatGPT mal. Y lo peor es que ni siquiera lo saben.\n\nDespués de pasar cientos de horas estudiando y probando prompts, descubrí el patrón que hace la diferencia entre una respuesta mediocre y una respuesta perfecta.\n\nLa clave está en una fórmula simple que divide el prompt en 5 partes:\nContexto: Quién eres y tu situación  \nRequisitos: Qué necesitas exactamente  \nTono: Cómo quieres que te responda  \nFormato: En qué estructura lo necesitas  \nEjemplos: Muestras de lo que buscas\n\nTe lo demuestro:\n\"Dame una receta de pasta\" vs.  \n\"Soy un cocinero principiante que quiere aprender cocina italiana. Necesito una receta de carbonara tradicional explicada paso a paso, con lista de ingredientes y tiempos exactos.\"\n\nEl resultado es completamente diferente. La primera respuesta es genérica, la segunda es exactamente lo que necesitas.\n\n¿Quieres aprender a escribir prompts perfectos?\n\nMira el vídeo del primer comentario👇 \n\n## Ejemplo 2\nEl 90% de las empresas no están preparadas para la revolución de IA que viene en los próximos años. La tuya no tiene por qué ser una de ellas.\n\nComo fundador de una agencia de IA y trabajando en la transformación digital de empresas, estoy viendo de primera mano lo que viene: los super-agentes de IA.\n\n¿Qué significa esto?  \nImagina una IA que no solo ejecuta tareas, sino que lidera equipos, toma decisiones estratégicas y gestiona departamentos enteros, operando 24/7 sin descanso.\n\nLas empresas que no se adapten a esta nueva realidad quedarán obsoletas, mientras que las que lo hagan multiplicarán su eficiencia por 10.\n\n¿Quieres descubrir cómo prepararte para esta revolución?\n\nMira el vídeo del primer comentario👇 \n\n# Flujo de Pensamiento  \n1. Identifica la idea central y el dato o concepto más relevante de la noticia.  \n2. Crea un hook inicial de hasta 3 líneas, asegurándote de que la primera línea sea especialmente impactante para detener el scroll y captar la atención.\n3. Desarrolla el contenido en párrafos o líneas cortas, resaltando el valor práctico y la relevancia de la noticia para la audiencia profesional.  \n4. Termina con una pregunta o llamado a la acción que invite a interactuar.  \n5. Añade de 5 a 8 hashtags pertinentes al final, listados sin el símbolo \"#\", separados por comas.\n\n# Restricciones del Output  \n- El output debe ser únicamente el texto final del post, sin etiquetas, instrucciones ni explicaciones adicionales.  \n- Cada párrafo debe estar separado por una línea en blanco.  \n- No se debe incluir ningún llamado a ver un video o referencia a un comentario final.  \n- No se deben incluir emojis, comillas, negritas o símbolos adicionales.\n\nGenera el post siguiendo estas pautas.\n","role":"assistant"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-1312,640],"id":"a7180156-c214-4a0a-83db-bbc2755bae51","name":"YouTube a LinkedIn Post","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"10i2QQUjua7xl4h_ZBw-9HGZjvS_OdYfErzHKdxywegs","mode":"list","cachedResultName":"Linkedin Hoja","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10i2QQUjua7xl4h_ZBw-9HGZjvS_OdYfErzHKdxywegs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ktq0cWo_7Otrz9lrfSZoA_w4Rteddqr7nBkLS8A4Mks/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"URL NOTICIA":"={{ $('Extraer URL').item.json['URL NOTICIA'] }}","ESTADO":"Sin Permisos"},"matchingColumns":["URL NOTICIA"],"schema":[{"id":"URL NOTICIA","displayName":"URL NOTICIA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DESCRIPCION","displayName":"DESCRIPCION","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"IMAGEN","displayName":"IMAGEN","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FECHA PUBLICACION","displayName":"FECHA PUBLICACION","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ESTADO","displayName":"ESTADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PUBLICADO","displayName":"PUBLICADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}]},"options":{}},"id":"7902d5d1-0add-4e43-9319-1299e1968bf5","name":"Noticia Inaccesible","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-1920,32],"credentials":{"googleSheetsOAuth2Api":{"id":"u3wPsvNe1n4GWzVs","name":"Google Sheets Bestfranquicias"}}},{"parameters":{"jsCode":"// Obtener el HTML\nconst htmlContent = $input.first().json[\"data\"];\n\n// Extraer todos los títulos y párrafos usando expresiones regulares\nconst titles = [];\nconst paragraphs = [];\n\n// Extraer todos los títulos (h1, h2, h3, etc.)\nconst titleMatches = htmlContent.match(/<h[1-6][^>]*>(.*?)<\\/h[1-6]>/g);\nif (titleMatches) {\n    for (let match of titleMatches) {\n        titles.push(match.replace(/<[^>]+>/g, '')); // Eliminar etiquetas HTML\n    }\n}\n\n// Extraer todos los párrafos\nconst paragraphMatches = htmlContent.match(/<p[^>]*>(.*?)<\\/p>/g);\nif (paragraphMatches) {\n    for (let match of paragraphMatches) {\n        paragraphs.push(match.replace(/<[^>]+>/g, '')); // Eliminar etiquetas HTML\n    }\n}\n\n// Unir todos los títulos y párrafos en un solo texto\nconst content = \"Títulos:\\n\" + titles.join(\"\\n\") + \"\\n\\nPárrafos:\\n\" + paragraphs.join(\" \");\n\n// Limitar el número de caracteres para OpenAI (opcional)\nconst maxCharacters = 10000;\nlet finalContent = content;\nif (finalContent.length > maxCharacters) {\n    finalContent = finalContent.slice(0, maxCharacters) + '...';\n}\n\n// Retornar solo el contenido procesado y reducido\nreturn [{ json: { content: finalContent } }];\n"},"id":"26742231-edc8-4c58-a0dd-f4b77713f2c2","name":"Conversión HTML","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1696,336]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2a6652d3-d140-4439-9262-b13ccb3c09ec","leftValue":"={{ $json.error.status }}","rightValue":403,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"407d5847-0086-493c-8e31-1ee11a1deb36","name":"Verificar Scrapeo","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1936,320]},{"parameters":{"assignments":{"assignments":[{"id":"2f747e2d-32b7-4500-8082-90ac0abc55b1","name":"combinedTranscript","value":"={{ $json.data.transcripts.es_auto.custom.map(item => item.text).join(\" \") }}","type":"string"},{"id":"651fbe08-8b4a-43d9-b6bf-74284755d36c","name":"combinedTranscriptEn","value":"={{ $json.data.transcripts.en_auto.custom.map(item => item.text).join(\" \") }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1520,752],"id":"071f2dbe-1168-4b3e-b1c4-e66a4fd0589b","name":"Agrupar"},{"parameters":{"assignments":{"assignments":[{"id":"a1a54b1d-a2e6-4ade-b209-5b8f3550478e","name":"data.transcripts","value":"={{ $json.data.transcripts }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1648,752],"id":"98b42dcd-3aa3-41ac-bdca-45ef82d67504","name":"Extraer"},{"parameters":{"url":"https://youtube-video-summarizer-gpt-ai.p.rapidapi.com/api/v1/get-transcript-v2","sendQuery":true,"queryParameters":{"parameters":[{"name":"video_id","value":"={{ $json.videoID }}"},{"name":"platform","value":"youtube"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-key","value":"1dba69f06emsh4de310a8f373dc9p18f8a3jsn123183fdaf6c"},{"name":"x-rapidapi-host","value":"youtube-video-summarizer-gpt-ai.p.rapidapi.com"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1824,752],"id":"972caaba-0a98-4b59-a458-fa90274200ab","name":"Petición HTTP"},{"parameters":{"jsCode":"// Obtener la URL desde los datos entrantes\nconst url = $json.link_youtube;\n\n// Función para extraer el ID del video de YouTube\nfunction getYouTubeVideoID(url) {\n    const regex = /[?&]v=([a-zA-Z0-9_-]{11})/;\n    const match = url.match(regex);\n    return match ? match[1] : null;\n}\n\n// Extraer el ID del video\nconst videoID = getYouTubeVideoID(url);\n\n// Devolver el ID como resultado\nreturn { videoID };\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1968,752],"id":"f1f7505b-76b3-40b4-8a23-b0792f79ef4f","name":"Código"},{"parameters":{"assignments":{"assignments":[{"id":"a2857bd5-76e7-4db5-ac53-86ad4ee37445","name":"link_youtube","value":"={{ $json.URL }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2128,752],"id":"37fdbae7-a3c2-4179-bd03-0220dfa92b0f","name":"Extraer Link"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"={{ $json.combinedTranscript }}{{ $json.combinedTranscriptEn}}"},{"content":"=# Rol del Modelo  \nEres un creador de contenido especializado en Twitter (X) en el ámbito de la tecnología e inteligencia artificial. Trabajas para Víctor Pérez, fundador de vystral.com. Tu tarea es transformar transcripciones o noticias en tweets o hilos virales, aplicando técnicas de copywriting y estrategias comprobadas para destacar en la plataforma.\n\n# Tarea del Modelo  \nA partir de una transcripción o noticia, genera un tweet único o un hilo (serie de tweets numerados) que cumpla con las siguientes pautas:\n\n- Cada tweet debe tener un máximo de 280 caracteres.\n- Si se trata de un hilo, numera cada tweet (por ejemplo, 1/3, 2/3, etc.).\n- Comienza con un gancho (hook) impactante que capture la atención desde el primer tweet.\n- Resume la idea central de forma clara, directa y accionable.\n- Inyecta autenticidad y personalidad para diferenciarte, aprovechando el enfoque único de los creadores pequeños.\n- Concluye con un llamado a la acción o pregunta que incentive la interacción (comentarios, retweets o respuestas).\n- Incluye entre 2 y 4 hashtags relevantes al tema (por ejemplo, #IA, #Tecnología, #Innovación).\n- Evita el uso de emojis y asegúrate de que el contenido no contenga errores gramaticales.\n\n# Proceso de Creación de Tweets Virales\n\n1. **Identifica la Idea Central**  \n   Extrae el aspecto más relevante e impactante de la transcripción o noticia. Piensa en qué puede sorprender o ser útil para la audiencia.\n\n2. **Crea un Hook Inicial Impactante**  \n   La primera línea debe captar la atención de inmediato. Utiliza afirmaciones sorprendentes, datos curiosos o preguntas directas que inviten a saber más.\n\n3. **Desarrolla el Mensaje**  \n   Resume la noticia o el consejo en frases cortas y directas. Prioriza la claridad y la acción, asegurándote de que cada palabra cuente.\n\n4. **Inyecta Autenticidad y Personalidad**  \n   Añade tu toque único. Recuerda que los creadores pequeños logran destacar por su autenticidad y originalidad; haz que tu voz se sienta en cada tweet.\n\n5. **Incluye un Llamado a la Acción (CTA)**  \n   Termina el tweet o hilo con una pregunta o invitación que motive a la audiencia a interactuar (por ejemplo, \"¿Qué opinas?\", \"¿Te animas a probarlo?\").\n\n6. **Optimiza para el Algoritmo de X**  \n   Asegúrate de que el contenido sea de alta calidad y esté libre de errores gramaticales. Recuerda que X premia los tweets con valor, claridad y engagement.\n\n7. **Utiliza Estrategias de Análisis y Herramientas (Opcional)**  \n   Inspírate en herramientas como Tweet Hunter para evaluar la fuerza de tus hooks y la viabilidad de tus ideas, ajustando el contenido hasta alcanzar un alto potencial viral.\n\n# Ejemplos\n\n## Ejemplo de Tweet Único\nEl algoritmo de X premia la autenticidad. Pequeños cambios en cómo interactúas pueden multiplicar tus seguidores. ¿Listo para probarlo? #Tecnología #IA\n\n## Ejemplo de Hilo (3 Tweets)\n1/3 ¿Sientes que tu cuenta pequeña pasa desapercibida en X? La clave está en un hábito que puede cambiarlo todo.  \n2/3 Responde a publicaciones de otros, agrega valor con tus ideas y verás cómo tu engagement se dispara.  \n3/3 ¿Te animas a conectar y crecer en la red? Comparte tu experiencia. #CrecimientoDigital #Innovación\n\n# Consideraciones Adicionales\n- El contenido debe ser original y adaptado a la audiencia de Twitter, con un tono conversacional y profesional.\n- Mantén siempre la brevedad y la claridad, respetando el límite de caracteres.\n- El output final debe contener únicamente el texto del tweet o hilo, listo para publicarse, sin explicaciones adicionales ni etiquetas de formato.\n\nEste prompt integra las mejores prácticas extraídas de estrategias virales y el análisis de cómo crecer en Twitter, asegurando que cada tweet no solo informe, sino que también conecte y motive a la acción.\n\n","role":"assistant"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-1312,880],"id":"d1938d2b-8b5a-4878-bb8b-5ac166eba2be","name":"YouTube a Twitter Post","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"10i2QQUjua7xl4h_ZBw-9HGZjvS_OdYfErzHKdxywegs","mode":"list","cachedResultName":"Linkedin Hoja","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10i2QQUjua7xl4h_ZBw-9HGZjvS_OdYfErzHKdxywegs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ktq0cWo_7Otrz9lrfSZoA_w4Rteddqr7nBkLS8A4Mks/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Switch').item.json.row_number }}","Estado":"Aprobado","Publicado":"No","Twitter (X) Post":"={{ $json.message.content }}","Imagen":"{{ $json.webViewLink }}","Fecha":"={{ $now }}"},"matchingColumns":["row_number"],"schema":[{"id":"URL","displayName":"URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"LinkedIn Post","displayName":"LinkedIn Post","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Twitter (X) Post","displayName":"Twitter (X) Post","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Estado","displayName":"Estado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Publicado","displayName":"Publicado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Imagen","displayName":"Imagen","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"73e03ea5-d7d3-45ab-befb-94cd25e227f8","name":"Actualizar Fila Twitter (X)","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-16,1008],"credentials":{"googleSheetsOAuth2Api":{"id":"u3wPsvNe1n4GWzVs","name":"Google Sheets Bestfranquicias"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"10i2QQUjua7xl4h_ZBw-9HGZjvS_OdYfErzHKdxywegs","mode":"list","cachedResultName":"Linkedin Hoja","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10i2QQUjua7xl4h_ZBw-9HGZjvS_OdYfErzHKdxywegs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ktq0cWo_7Otrz9lrfSZoA_w4Rteddqr7nBkLS8A4Mks/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Google Sheets').item.json.row_number }}","Estado":"Aprobado","Publicado":"No","LinkedIn Post":"={{ $('YouTube a LinkedIn Post').item.json.message.content }}","Imagen":"={{ $json.webViewLink }}"},"matchingColumns":["row_number"],"schema":[{"id":"URL","displayName":"URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"LinkedIn Post","displayName":"LinkedIn Post","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Twitter (X) Post","displayName":"Twitter (X) Post","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Estado","displayName":"Estado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Publicado","displayName":"Publicado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Imagen","displayName":"Imagen","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"731c5a09-c06c-46b8-b7b2-4221fe42813c","name":"Actualizar Fila LinkedIn","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[0,640],"credentials":{"googleSheetsOAuth2Api":{"id":"u3wPsvNe1n4GWzVs","name":"Google Sheets Bestfranquicias"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"={{ $json.content }}"},{"content":"=# Rol del Modelo  \nEres un creador de contenido especializado en Twitter (X) en el ámbito de la tecnología e inteligencia artificial. Trabajas para Víctor Pérez, fundador de vystral.com. Tu tarea es transformar transcripciones o noticias en tweets o hilos virales, aplicando técnicas de copywriting y estrategias comprobadas para destacar en la plataforma.\n\n# Tarea del Modelo  \nA partir de una transcripción o noticia, genera un tweet único o un hilo (serie de tweets numerados) que cumpla con las siguientes pautas:\n\n- Cada tweet debe tener un máximo de 280 caracteres.\n- Si se trata de un hilo, numera cada tweet (por ejemplo, 1/3, 2/3, etc.).\n- Comienza con un gancho (hook) impactante que capture la atención desde el primer tweet.\n- Resume la idea central de forma clara, directa y accionable.\n- Inyecta autenticidad y personalidad para diferenciarte, aprovechando el enfoque único de los creadores pequeños.\n- Concluye con un llamado a la acción o pregunta que incentive la interacción (comentarios, retweets o respuestas).\n- Incluye entre 2 y 4 hashtags relevantes al tema (por ejemplo, #IA, #Tecnología, #Innovación).\n- Evita el uso de emojis y asegúrate de que el contenido no contenga errores gramaticales.\n\n# Proceso de Creación de Tweets Virales\n\n1. **Identifica la Idea Central**  \n   Extrae el aspecto más relevante e impactante de la transcripción o noticia. Piensa en qué puede sorprender o ser útil para la audiencia.\n\n2. **Crea un Hook Inicial Impactante**  \n   La primera línea debe captar la atención de inmediato. Utiliza afirmaciones sorprendentes, datos curiosos o preguntas directas que inviten a saber más.\n\n3. **Desarrolla el Mensaje**  \n   Resume la noticia o el consejo en frases cortas y directas. Prioriza la claridad y la acción, asegurándote de que cada palabra cuente.\n\n4. **Inyecta Autenticidad y Personalidad**  \n   Añade tu toque único. Recuerda que los creadores pequeños logran destacar por su autenticidad y originalidad; haz que tu voz se sienta en cada tweet.\n\n5. **Incluye un Llamado a la Acción (CTA)**  \n   Termina el tweet o hilo con una pregunta o invitación que motive a la audiencia a interactuar (por ejemplo, \"¿Qué opinas?\", \"¿Te animas a probarlo?\").\n\n6. **Optimiza para el Algoritmo de X**  \n   Asegúrate de que el contenido sea de alta calidad y esté libre de errores gramaticales. Recuerda que X premia los tweets con valor, claridad y engagement.\n\n7. **Utiliza Estrategias de Análisis y Herramientas (Opcional)**  \n   Inspírate en herramientas como Tweet Hunter para evaluar la fuerza de tus hooks y la viabilidad de tus ideas, ajustando el contenido hasta alcanzar un alto potencial viral.\n\n# Ejemplos\n\n## Ejemplo de Tweet Único\nEl algoritmo de X premia la autenticidad. Pequeños cambios en cómo interactúas pueden multiplicar tus seguidores. ¿Listo para probarlo? #Tecnología #IA\n\n## Ejemplo de Hilo (3 Tweets)\n1/3 ¿Sientes que tu cuenta pequeña pasa desapercibida en X? La clave está en un hábito que puede cambiarlo todo.  \n2/3 Responde a publicaciones de otros, agrega valor con tus ideas y verás cómo tu engagement se dispara.  \n3/3 ¿Te animas a conectar y crecer en la red? Comparte tu experiencia. #CrecimientoDigital #Innovación\n\n# Consideraciones Adicionales\n- El contenido debe ser original y adaptado a la audiencia de Twitter, con un tono conversacional y profesional.\n- Mantén siempre la brevedad y la claridad, respetando el límite de caracteres.\n- El output final debe contener únicamente el texto del tweet o hilo, listo para publicarse, sin explicaciones adicionales ni etiquetas de formato.\n\nEste prompt integra las mejores prácticas extraídas de estrategias virales y el análisis de cómo crecer en Twitter, asegurando que cada tweet no solo informe, sino que también conecte y motive a la acción.\n","role":"assistant"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-1328,400],"id":"d32c958a-94ca-4b80-9478-547c6a983315","name":"Noticia a Twitter Post","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"10i2QQUjua7xl4h_ZBw-9HGZjvS_OdYfErzHKdxywegs","mode":"list","cachedResultName":"Linkedin Hoja","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10i2QQUjua7xl4h_ZBw-9HGZjvS_OdYfErzHKdxywegs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ktq0cWo_7Otrz9lrfSZoA_w4Rteddqr7nBkLS8A4Mks/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Switch').item.json.row_number }}","Estado":"Aprobado","Publicado":"No","LinkedIn Post":"={{ $('Noticia a LinkedIn Post').item.json.message.content }}","Imagen":"={{ $json.webViewLink }}","Fecha":"={{ $now }}"},"matchingColumns":["row_number"],"schema":[{"id":"URL","displayName":"URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"LinkedIn Post","displayName":"LinkedIn Post","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Twitter (X) Post","displayName":"Twitter (X) Post","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Estado","displayName":"Estado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Publicado","displayName":"Publicado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Imagen","displayName":"Imagen","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"42f24eb5-5dd0-4a0f-a0a6-cc2bf8616c92","name":"Actualizar Fila LinkedIn1","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[0,0],"credentials":{"googleSheetsOAuth2Api":{"id":"u3wPsvNe1n4GWzVs","name":"Google Sheets Bestfranquicias"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"10i2QQUjua7xl4h_ZBw-9HGZjvS_OdYfErzHKdxywegs","mode":"list","cachedResultName":"Linkedin Hoja","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10i2QQUjua7xl4h_ZBw-9HGZjvS_OdYfErzHKdxywegs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ktq0cWo_7Otrz9lrfSZoA_w4Rteddqr7nBkLS8A4Mks/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Switch').item.json.row_number }}","Estado":"Aprobado","Publicado":"No","Twitter (X) Post":"={{ $json.message.content }}","Fecha":"={{ $now }}"},"matchingColumns":["row_number"],"schema":[{"id":"URL","displayName":"URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"LinkedIn Post","displayName":"LinkedIn Post","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Twitter (X) Post","displayName":"Twitter (X) Post","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Estado","displayName":"Estado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Publicado","displayName":"Publicado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Imagen","displayName":"Imagen","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"09e7746e-b58a-418f-aaab-70f6da2a7ed7","name":"Actualizar Fila Twitter (X)1","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[0,384],"credentials":{"googleSheetsOAuth2Api":{"id":"u3wPsvNe1n4GWzVs","name":"Google Sheets Bestfranquicias"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"={{ $json.message.content }}"},{"content":"=# Rol\nEres un asistente experto en resumir contenido de LinkedIn. Tu tarea es transformar un post largo en un resumen breve, resaltando los puntos clave y manteniendo la esencia del mensaje original. Utiliza frases cortas y directas.\n\n## Instrucciones\n\n- Recibe el contenido original del post de LinkedIn.\n- Analiza y extrae los puntos clave.\n- Genera un resumen breve y conciso.\n- **Solo devuelve como output el texto resumido, sin información adicional.**\n\n## Ejemplo\n\n### Post original de LinkedIn:\n\nEl 99% de la gente usa ChatGPT mal. Y lo peor es que ni siquiera lo saben.\n\nDespués de pasar cientos de horas estudiando y probando prompts, descubrí el patrón que hace la diferencia entre una respuesta mediocre y una respuesta perfecta.\n\nLa clave está en una fórmula simple que divide el prompt en 5 partes:\n\n- Contexto: Quién eres y tu situación\n- Requisitos: Qué necesitas exactamente\n- Tono: Cómo quieres que te responda\n- Formato: En qué estructura lo necesitas\n- Ejemplos: Muestras de lo que buscas\n\nTe lo demuestro:\n\n\"Dame una receta de pasta\" vs.\n\"Soy un cocinero principiante que quiere aprender cocina italiana. Necesito una receta de carbonara tradicional explicada paso a paso, con lista de ingredientes y tiempos exactos.\"\n\nEl resultado es completamente diferente. La primera respuesta es genérica, la segunda es exactamente lo que necesitas.\n\nEsta fórmula funciona para TODO: escribir emails, crear contenido, analizar datos, o generar código.\n\n¿Quieres aprender a escribir prompts perfectos? He creado un video explicando cada paso en detalle.\nMira el video completo en el primer comentario.\n\n### Resumen esperado:\n\nEl 99% de la gente usa ChatGPT mal y ni siquiera lo saben.  \nUna simple fórmula mejora las respuestas.  \nDivide prompts en 5 partes: Contexto, requisitos, tono, formato y ejemplos.  \nLos ejemplos definen resultados precisos.  \nEmpieza hoy a escribir mejores prompts.\n","role":"assistant"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-928,640],"id":"26fb19be-b51b-40b5-9efa-392deecbd467","name":"LinkedIn a Resumen Canva","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"={{ $json.message.content }}"},{"content":"=# Rol\nEres un asistente experto en resumir contenido de LinkedIn. Tu tarea es transformar un post largo en un resumen breve, resaltando los puntos clave y manteniendo la esencia del mensaje original. Utiliza frases cortas y directas.\n\n## Instrucciones\n\n- Recibe el contenido original del post de LinkedIn.\n- Analiza y extrae los puntos clave.\n- Genera un resumen breve y conciso.\n- **Solo devuelve como output el texto resumido, sin información adicional.**\n\n## Ejemplo\n\n### Post original de LinkedIn:\n\nEl 99% de la gente usa ChatGPT mal. Y lo peor es que ni siquiera lo saben.\n\nDespués de pasar cientos de horas estudiando y probando prompts, descubrí el patrón que hace la diferencia entre una respuesta mediocre y una respuesta perfecta.\n\nLa clave está en una fórmula simple que divide el prompt en 5 partes:\n\n- Contexto: Quién eres y tu situación\n- Requisitos: Qué necesitas exactamente\n- Tono: Cómo quieres que te responda\n- Formato: En qué estructura lo necesitas\n- Ejemplos: Muestras de lo que buscas\n\nTe lo demuestro:\n\n\"Dame una receta de pasta\" vs.\n\"Soy un cocinero principiante que quiere aprender cocina italiana. Necesito una receta de carbonara tradicional explicada paso a paso, con lista de ingredientes y tiempos exactos.\"\n\nEl resultado es completamente diferente. La primera respuesta es genérica, la segunda es exactamente lo que necesitas.\n\nEsta fórmula funciona para TODO: escribir emails, crear contenido, analizar datos, o generar código.\n\n¿Quieres aprender a escribir prompts perfectos? He creado un video explicando cada paso en detalle.\nMira el video completo en el primer comentario.\n\n### Resumen esperado:\n\nEl 99% de la gente usa ChatGPT mal y ni siquiera lo saben.  \nUna simple fórmula mejora las respuestas.  \nDivide prompts en 5 partes: Contexto, requisitos, tono, formato y ejemplos.  \nLos ejemplos definen resultados precisos.  \nEmpieza hoy a escribir mejores prompts.\n","role":"assistant"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-960,128],"id":"51bcf8ff-7a1f-4d68-9a5f-db43091b57e5","name":"LinkedIn a Resumen Canva1","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"documentId":{"__rl":true,"value":"10i2QQUjua7xl4h_ZBw-9HGZjvS_OdYfErzHKdxywegs","mode":"list","cachedResultName":"Linkedin Hoja","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10i2QQUjua7xl4h_ZBw-9HGZjvS_OdYfErzHKdxywegs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10i2QQUjua7xl4h_ZBw-9HGZjvS_OdYfErzHKdxywegs/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"URL","lookupValue":"={{ $json.URL }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-2848,544],"id":"b60d104d-2335-48e2-adc5-283bdec04bf1","name":"Google Sheets","executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"u3wPsvNe1n4GWzVs","name":"Google Sheets Bestfranquicias"}}},{"parameters":{"keep":"lastItems"},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-2624,544],"id":"c68066ee-66c5-4106-8c02-906ff4dfd4e9","name":"Limit"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"10i2QQUjua7xl4h_ZBw-9HGZjvS_OdYfErzHKdxywegs","mode":"list","cachedResultName":"Linkedin Hoja","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10i2QQUjua7xl4h_ZBw-9HGZjvS_OdYfErzHKdxywegs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10i2QQUjua7xl4h_ZBw-9HGZjvS_OdYfErzHKdxywegs/edit#gid=0"},"event":"rowAdded","options":{}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[-3088,544],"id":"78af89a2-7d99-4a52-84b8-2ce2a54daa35","name":"Google Sheets Trigger","credentials":{"googleSheetsTriggerOAuth2Api":{"id":"5VOqcdGq9MTbcosR","name":"Google Sheets Trigger account"}}},{"parameters":{"resource":"image","prompt":"={{ $json.message.content }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-480,208],"id":"507b764b-2392-4c50-b3ab-0fcb1c62cc00","name":"Generate an image","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"resource":"image","prompt":"={{ $json.message.content }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-512,816],"id":"ab73833f-f2ed-4f90-91b2-542683008695","name":"Generate an image1","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"resource":"image","prompt":"={{ $json.message.content }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-512,1056],"id":"f93e967e-c28f-4439-89cf-4fd9b3b1bab6","name":"Generate an image2","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"inputDataFieldName":"=data","name":"=chatgpt_created_by_n8n_{{ $('Google Sheets').item.json.row_number }}.{{ $json.fileExtension }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"root","mode":"list","cachedResultName":"/ (Root folder)","cachedResultUrl":"https://drive.google.com/drive"},"options":{}},"id":"6990b02c-b85d-4db3-ade2-59545039a26a","name":"Google Drive","type":"n8n-nodes-base.googleDrive","position":[-256,816],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"dFLjvxTt8GuDFPPd","name":"Google Drive Bestfranquicias"}}},{"parameters":{"inputDataFieldName":"=data","name":"=Xchatgpt_created_by_n8n_{{ $('Google Sheets').item.json.row_number }}.{{ $json.fileExtension }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"root","mode":"list","cachedResultName":"/ (Root folder)","cachedResultUrl":"https://drive.google.com/drive"},"options":{}},"id":"4733c1e8-15d5-4fc7-a972-2a359a45073c","name":"Google Drive1","type":"n8n-nodes-base.googleDrive","position":[-272,1056],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"dFLjvxTt8GuDFPPd","name":"Google Drive Bestfranquicias"}}},{"parameters":{"inputDataFieldName":"=data","name":"=Nchatgpt_created_by_n8n_{{ $('Google Sheets').item.json.row_number }}.{{ $json.fileExtension }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"root","mode":"list","cachedResultName":"/ (Root folder)","cachedResultUrl":"https://drive.google.com/drive"},"options":{}},"id":"613af262-4679-41bf-b157-decec5c1b7da","name":"Google Drive2","type":"n8n-nodes-base.googleDrive","position":[-240,208],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account Bestfranquicias"}}},{"parameters":{"resource":"image","prompt":"={{ $json.message.content }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-736,480],"id":"33726770-32ed-4a5e-9f81-db9085f993bb","name":"Generate an image3","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"inputDataFieldName":"=data","name":"=NXchatgpt_created_by_n8n_{{ $('Google Sheets').item.json.row_number }}.{{ $json.fileExtension }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"root","mode":"list","cachedResultName":"/ (Root folder)","cachedResultUrl":"https://drive.google.com/drive"},"options":{}},"id":"d7992656-ebcd-43c8-aac0-aca8908446da","name":"Google Drive3","type":"n8n-nodes-base.googleDrive","position":[-432,480],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"dFLjvxTt8GuDFPPd","name":"Google Drive Bestfranquicias"}}}],"connections":{"Descargar HTML":{"main":[[{"node":"Verificar Scrapeo","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Descargar HTML","type":"main","index":0}],[{"node":"Extraer Link","type":"main","index":0}]]},"Noticia a LinkedIn Post":{"main":[[{"node":"LinkedIn a Resumen Canva1","type":"main","index":0}]]},"YouTube a LinkedIn Post":{"main":[[{"node":"LinkedIn a Resumen Canva","type":"main","index":0}]]},"Conversión HTML":{"main":[[{"node":"Noticia a LinkedIn Post","type":"main","index":0},{"node":"Noticia a Twitter Post","type":"main","index":0}]]},"Verificar Scrapeo":{"main":[[{"node":"Noticia Inaccesible","type":"main","index":0}],[{"node":"Conversión HTML","type":"main","index":0}]]},"Agrupar":{"main":[[{"node":"YouTube a LinkedIn Post","type":"main","index":0},{"node":"YouTube a Twitter Post","type":"main","index":0}]]},"Extraer":{"main":[[{"node":"Agrupar","type":"main","index":0}]]},"Petición HTTP":{"main":[[{"node":"Extraer","type":"main","index":0}]]},"Código":{"main":[[{"node":"Petición HTTP","type":"main","index":0}]]},"Extraer Link":{"main":[[{"node":"Código","type":"main","index":0}]]},"YouTube a Twitter Post":{"main":[[{"node":"Generate an image2","type":"main","index":0},{"node":"Actualizar Fila Twitter (X)","type":"main","index":0}]]},"Noticia a Twitter Post":{"main":[[{"node":"Actualizar Fila Twitter (X)1","type":"main","index":0},{"node":"Generate an image3","type":"main","index":0}]]},"LinkedIn a Resumen Canva":{"main":[[{"node":"Actualizar Fila LinkedIn","type":"main","index":0},{"node":"Generate an image1","type":"main","index":0}]]},"LinkedIn a Resumen Canva1":{"main":[[{"node":"Actualizar Fila LinkedIn1","type":"main","index":0},{"node":"Generate an image","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Google Sheets Trigger":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Generate an image":{"main":[[{"node":"Google Drive2","type":"main","index":0}]]},"Generate an image1":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Generate an image2":{"main":[[{"node":"Google Drive1","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Actualizar Fila LinkedIn","type":"main","index":0}]]},"Google Drive1":{"main":[[{"node":"Actualizar Fila Twitter (X)","type":"main","index":0}]]},"Google Drive2":{"main":[[{"node":"Actualizar Fila LinkedIn1","type":"main","index":0}]]},"Generate an image3":{"main":[[{"node":"Google Drive3","type":"main","index":0}]]},"Google Drive3":{"main":[[{"node":"Actualizar Fila Twitter (X)1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b7b0cd32-011d-44ca-a7c1-b321fbab0225","triggerCount":0,"shared":[{"updatedAt":"2025-10-14T20:06:15.128Z","createdAt":"2025-10-14T20:06:15.128Z","role":"workflow:owner","workflowId":"BlpSJQwfsBEZCWKe","projectId":"prlZ3bTXg0wKi0D1"}],"tags":[]}