get-schema-supabase-vPCBjp7mFE1a6aW4.json
{"updatedAt":"2025-11-24T18:45:02.000Z","createdAt":"2025-11-24T17:51:45.780Z","id":"vPCBjp7mFE1a6aW4","name":"Get Schema Supabase","active":false,"isArchived":false,"nodes":[{"parameters":{"jsCode":"function transformSchema(input) {\n    const tables = {};\n    \n    input.forEach(({ json }) => {\n        if (!json) return;\n        \n        const { tablename, schemaname, column_name, data_type } = json;\n        \n        if (!tables[tablename]) {\n            tables[tablename] = { schema: schemaname, columns: [] };\n        }\n        tables[tablename].columns.push(`${column_name} (${data_type})`);\n    });\n    \n    return Object.entries(tables)\n        .map(([tablename, { schema, columns }]) => `Table ${tablename} (Schema: ${schema}) has columns: ${columns.join(\", \")}`)\n        .join(\"\\n\\n\");\n}\n\n// Example usage\nconst input = $input.all();\nconsole.log(input);\nconst transformedSchema = transformSchema(input);\n\nreturn { data: transformedSchema };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-16,-288],"id":"0b0ba5d4-9056-4b3d-8e1f-007a0467bd7b","name":"Code"},{"parameters":{"operation":"executeQuery","query":"SELECT \n    t.schemaname,\n    t.tablename,\n    c.column_name,\n    c.data_type\nFROM \n    pg_catalog.pg_tables t\nJOIN \n    information_schema.columns c\n    ON t.schemaname = c.table_schema\n    AND t.tablename = c.table_name\nWHERE \n    t.schemaname = 'public'\nORDER BY \n    t.tablename, c.ordinal_position;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-368,-544],"id":"99cf6e75-b259-4643-9154-e145f349bc30","name":"Postgres1","alwaysOutputData":false,"executeOnce":false,"credentials":{"postgres":{"id":"RJfYPONKqWUiJzDA","name":"Postgres account"}},"disabled":true},{"parameters":{},"id":"37d32dad-0ae1-4b57-b948-d2723033c23a","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[-448,-288]},{"parameters":{"operation":"executeQuery","query":"SELECT \n    t.schemaname,\n    t.tablename,\n    c.column_name,\n    c.data_type\nFROM \n    pg_catalog.pg_tables t\nJOIN \n    information_schema.columns c\n    ON t.schemaname = c.table_schema\n    AND t.tablename = c.table_name\nWHERE \n    t.schemaname = 'public'\nORDER BY \n    t.tablename, c.ordinal_position;","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[-224,-288],"id":"d11ca1e2-da21-419a-9c27-35e0714450ec","name":"Execute a SQL query","credentials":{"mySql":{"id":"FozaZvgtAHuObZua","name":"MySQL account 3"}}}],"connections":{"Postgres1":{"main":[[]]},"Execute Workflow Trigger":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"Code","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d0357dc4-37b1-4eaa-a6e8-c5627be35551","triggerCount":0,"shared":[{"updatedAt":"2025-11-24T17:51:45.782Z","createdAt":"2025-11-24T17:51:45.782Z","role":"workflow:owner","workflowId":"vPCBjp7mFE1a6aW4","projectId":"prlZ3bTXg0wKi0D1"}],"tags":[{"updatedAt":"2025-11-24T17:51:28.393Z","createdAt":"2025-11-24T17:51:28.393Z","id":"PMupYxUitJA8rUVU","name":"sql"}]}