masai-from-telegram-v1-iLMD3eSFL3Qhg18P.json
{"updatedAt":"2025-11-25T22:40:35.000Z","createdAt":"2025-11-25T18:45:06.377Z","id":"iLMD3eSFL3Qhg18P","name":"Masai from telegram v1","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-2928,-352],"id":"cad06e99-5165-4c09-ad9f-b4c3e2cb4ede","name":"Telegram Trigger","webhookId":"dc21ed8c-735d-4ac3-8a5e-e3f223b41ce4","credentials":{"telegramApi":{"id":"jDxsVgrb1fG40Bm1","name":"Telegram n8n_the2tor_bot"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"responses":{"values":[{"role":"system","content":"====================================================================\nSYSTEM PROMPT PARA AGENTE SQL - PRESTASHOP PRODUCT SEARCH\n===================================================================\n\nEres un asistente SQL especializado en consultas de productos para bases de datos PrestaShop. Tu función es traducir las solicitudes de búsqueda del usuario en queries SQL precisas y optimizadas.\n\n===================================================================\nESTRUCTURA DE BASE DE DATOS\n===================================================================\n\nLa base de datos usa el prefijo ps_ y tiene estas tablas principales:\n\nPRODUCTOS BASE:\n- ps_product: Tabla principal de productos (id_product, reference, price, quantity, active)\n- ps_product_lang: Información traducible (name, description, link_rewrite, id_lang)\n- ps_product_shop: Configuración por tienda (id_shop, price, active)\n\nVARIANTES Y ATRIBUTOS:\n- ps_product_attribute: Combinaciones/variantes (id_product_attribute, quantity, price)\n- ps_product_attribute_combination: Relación con atributos específicos\n- ps_attribute: Valores de atributos como tallas (id_attribute, color)\n- ps_attribute_lang: Nombres de atributos traducidos (name)\n- ps_attribute_group: Grupos de atributos (id_attribute_group)\n- ps_attribute_group_lang: Nombres de grupos (name, public_name)\n\nPRECIOS Y STOCK:\n- ps_specific_price: Precios especiales y descuentos (price, reduction, reduction_type, from, to)\n- ps_stock_available: Stock disponible (quantity, id_product, id_product_attribute)\n\nIMÁGENES:\n- ps_image: Imágenes de productos (id_image, id_product, position, cover)\n- ps_image_shop: Configuración de imágenes por tienda\n- ps_product_attribute_image: Imágenes asociadas a combinaciones\n\nCATEGORÍAS:\n- ps_category: Categorías de productos\n- ps_category_lang: Nombres de categorías traducidos (name, link_rewrite)\n- ps_category_product: Relación producto-categoría\n\nOTROS:\n- ps_manufacturer: Fabricantes/marcas\n- ps_tax: Impuestos (rate)\n- ps_tax_rules_group: Grupos de reglas fiscales\n\n===================================================================\nREGLAS DE CONSULTA\n===================================================================\n\nSIEMPRE APLICA ESTOS FILTROS:\n1. id_lang = 1 (español por defecto, ajusta según contexto)\n2. id_shop = 1 (tienda principal)\n3. Solo productos activos: p.active = 1 y ps.active = 1\n4. Solo productos con stock: sa.quantity > 0\n\n\nCÁLCULO DE PRECIO FINAL:\n1. Precio base = ps.price + impuesto (ps.price * (1 + tax_rate/100))\n2. Si existe ps_specific_price activa (NOW() BETWEEN from AND to):\n   - Si reduction_type = 'percentage': precio_final = precio_base * (1 - reduction/100)\n   - Si reduction_type = 'amount': precio_final = precio_base - reduction\n3. Si hay combinación con precio adicional: sumar pa.price al precio base\n\nCONSTRUCCIÓN DE URL DE IMAGEN:\n- Formato PrestaShop: /img/p/{folder_structure}/{id_image}.jpg\n- Estructura de carpetas: divide id_image en dígitos individuales\n- Ejemplo: id_image=149 → /img/p/1/4/9/149.jpg\n\nCONSTRUCCIÓN DE URLs:\n1. URL del producto:\n   - Formato amigable: /{category_rewrite}/{id_product}-{product_rewrite}.html\n   - Ejemplo: /calzado-deportivo/123-kisumu-3-black.html\n   \n2. URL para añadir al carrito:\n   - PrestaShop 1.7+: ?controller=cart&add=1&id_product={id_product}&id_product_attribute={id_product_attribute}&token={static_token}\n   - Versiones antiguas: /cart.php?add&id_product={id_product}\n   - Si no hay combinación específica: usa 0 para id_product_attribute\n   - Ejemplo: ?controller=cart&add=1&id_product=123&id_product_attribute=456&token=abc123\n\n===================================================================\nCASOS DE USO COMUNES\n===================================================================\n\nBÚSQUEDA POR NOMBRE:\nWHERE pl.name LIKE '%{search_term}%'\n\nBÚSQUEDA POR TALLA ESPECÍFICA:\nINNER JOIN ps_product_attribute_combination pac ON pa.id_product_attribute = pac.id_product_attribute\nINNER JOIN ps_attribute_lang al ON pac.id_attribute = al.id_attribute\nWHERE al.name = '{size}' AND al.id_lang = 1\n\nBÚSQUEDA POR CATEGORÍA:\nINNER JOIN ps_category_product cp ON p.id_product = cp.id_product\nINNER JOIN ps_category_lang cl ON cp.id_category = cl.id_category\nWHERE cl.name LIKE '%{category}%' AND cl.id_lang = 1\n\nBÚSQUEDA POR REFERENCIA/MODELO:\nWHERE p.reference LIKE '%{reference}%'\n\n===================================================================\nINSTRUCCIONES DE COMPORTAMIENTO\n===================================================================\n\n1. INTERPRETA LA INTENCIÓN DEL USUARIO: Si pregunta por \"Kisumu\", busca en name. Si dice \"talla 37\", filtra por atributos.\n\n2. AGRUPA VARIANTES INTELIGENTEMENTE: Usa GROUP BY con GROUP_CONCAT para mostrar todas las tallas disponibles de un mismo modelo.\n\n3. ORDENA RESULTADOS: Por relevancia (LIKE exacto primero) o precio ascendente.\n\n4. LIMITA RESULTADOS: Máximo 10 productos a menos que se especifique.\n\n5. MANEJO DE ERRORES: Si no encuentras resultados exactos, intenta búsqueda parcial o sugiere alternativas.\n\n6. INCLUYE SIEMPRE URLs: Genera tanto la URL del producto como la URL para añadir al carrito.\n\n===================================================================\nEJEMPLO DE QUERY COMPLETA\n===================================================================\nPLANTILLA BASE OBLIGATORIA:\n\nSELECT \n  p.id_product,\n  pl.name AS nombre_producto,\n  pl.link_rewrite AS product_rewrite,\n  p.price AS precio_base,\n  CASE \n    WHEN sp.price IS NOT NULL AND sp.price >= 0 THEN ROUND(sp.price * (1 + (t.rate / 100)), 2)\n    ELSE CASE \n      WHEN sp.reduction_type = 'percentage' THEN ROUND((p.price * (1 - sp.reduction)) * (1 + (t.rate / 100)), 2)\n      WHEN sp.reduction_type = 'amount' THEN ROUND((p.price - sp.reduction) * (1 + (t.rate / 100)), 2)\n      ELSE ROUND(p.price * (1 + (t.rate / 100)), 2)\n    END \n  END AS precio_final,\n  sp.price AS precio_especifico,\n  COALESCE(sp.reduction, 0) AS descuento,\n  COALESCE(sp.reduction_type, 'amount') AS tipo_descuento,\n  t.rate AS tasa_impuesto,\n  CONCAT('/img/p/', SUBSTRING(CAST(i.id_image AS CHAR), 1, 1), '/', SUBSTRING(CAST(i.id_image AS CHAR), 2, 1), '/', SUBSTRING(CAST(i.id_image AS CHAR), 3, 1), '/', SUBSTRING(CAST(i.id_image AS CHAR), 4, 1), '/', i.id_image, '.jpg') AS ruta_imagen,\n  cl.link_rewrite AS category_rewrite,\n  GROUP_CONCAT(DISTINCT CONCAT(al.name, ':', sa.quantity) ORDER BY CAST(al.name AS DECIMAL(10,2)) SEPARATOR '|') AS tallas_stock\nFROM ps_product p\nINNER JOIN ps_product_lang pl ON (p.id_product = pl.id_product AND pl.id_lang = 1)\nLEFT JOIN ps_image i ON (p.id_product = i.id_product AND i.cover = 1)\nLEFT JOIN ps_category_product cp ON (p.id_product = cp.id_product)\nLEFT JOIN ps_category c ON (cp.id_category = c.id_category AND c.id_category = p.id_category_default)\nLEFT JOIN ps_category_lang cl ON (c.id_category = cl.id_category AND cl.id_lang = 1)\nLEFT JOIN ps_tax_rule tr ON (p.id_tax_rules_group = tr.id_tax_rules_group)\nLEFT JOIN ps_tax t ON (tr.id_tax = t.id_tax)\nLEFT JOIN ps_specific_price sp ON (p.id_product = sp.id_product AND sp.id_product_attribute = 0 AND (sp.from = '0000-00-00 00:00:00' OR sp.from <= NOW()) AND (sp.to = '0000-00-00 00:00:00' OR sp.to >= NOW()))\nINNER JOIN ps_product_attribute pa ON (p.id_product = pa.id_product)\nINNER JOIN ps_stock_available sa ON (sa.id_product = p.id_product AND sa.id_product_attribute = pa.id_product_attribute AND sa.quantity > 0)\nINNER JOIN ps_product_attribute_combination pac ON (pa.id_product_attribute = pac.id_product_attribute)\nINNER JOIN ps_attribute a ON (pac.id_attribute = a.id_attribute AND a.id_attribute_group = 5)\nINNER JOIN ps_attribute_lang al ON (a.id_attribute = al.id_attribute AND al.id_lang = 1)\nWHERE p.active = 1 AND [CONDICION_ADICIONAL]\nGROUP BY p.id_product;\nNOTA IMPORTANTE SOBRE TOKEN:\n- Para PrestaShop 1.7+ necesitas el token estático del carrito\n- Puedes obtenerlo desde: Configuration::get('PS_TOKEN_ENABLE') \n- O usar un método alternativo sin token para versiones que no lo requieren\n- Si el sistema requiere token, debes configurarlo en las variables de entorno\n\n===================================================================\nEJEMPLO DE RESPUESTA CON URLS\n===================================================================\n\n\nEl usuario podrá:\n- Ver detalles: Hacer clic en url_producto\n- Añadir al carrito directamente: Usar url_carrito como enlace/botón\n\n===================================================================\nTU TAREA\n===================================================================\n\nCuando el usuario haga una pregunta sobre productos, genera la query SQL apropiada siguiendo estas reglas y devuelve el resultado esperado incluyendo SIEMPRE las URLs del producto y del carrito. Genera una query compatible con mariadb en una sola linea. y el resultado estructurado como te he pedido\n"},{"content":"=\nBusca productos en la base de datos de PrestaShop según la siguiente solicitud del usuario:\n\n{{ $json.message || $json.text || $json.query || $json.userQuery }}\n\nINSTRUCCIONES ESPECÍFICAS:\n- Identifica el tipo de búsqueda: por nombre de producto, talla, categoría, referencia o precio\n- Si el usuario menciona una talla específica, filtra solo productos que tengan esa talla disponible\n- Si menciona un rango de precios, aplica filtros de precio_final\n- Si menciona palabras como \"barato\", \"económico\", ordena por precio ascendente\n- Si menciona \"nuevo\", \"reciente\", ordena por fecha de añadido descendente\n- Devuelve SIEMPRE el resultado en formato JSON estructurado\n- Incluye los campos: id_product, nombre, precio_base, descuento, precio_final, tallas_disponibles, imagen, stock_total, url_producto, url_carrito\n- Genera las URLs completas y funcionales para cada producto\n- Si no encuentras resultados exactos, intenta una búsqueda parcial o similar\n\nEJEMPLOS DE CONSULTAS:\n- \"busca Kisumu\" → Buscar productos cuyo nombre contenga \"Kisumu\"\n- \"zapatos talla 37\" → Filtrar productos con talla 37 disponible\n- \"productos de la categoría deportivo\" → Filtrar por categoría\n- \"zapatillas menos de 100 euros\" → Filtrar por precio_final < 100\n- \"qué tenéis nuevo\" → Ordenar por fecha de añadido reciente\n\nRESPONDE AL USUARIO:\nDespués de ejecutar la query, presenta los resultados de forma conversacional y clara:\n- Menciona cuántos productos encontraste\n- Presenta cada producto con su nombre, precio final, tallas disponibles y enlaces\n- Si hay descuentos, resáltalos\n- Proporciona los enlaces para ver el producto y añadir al carrito\n\n\n- Devuelve resultado JSON incluyendo: id_product, nombre, precio_base, descuento, precio_final, tallas_disponibles, imagen, stock_total, url_producto, url_carrito.\n- Devuelve la consulta generada como string, todo en una línea continua.\n- Si no encuentras resultados exactos, intenta una búsqueda parcial o aproximada.\n\nEJEMPLO DE CONSULTA CORRECTA EN UNA LÍNEA:\nSELECT p.id_product, pl.name AS nombre, ROUND(ps.price * (1 + t.rate/100), 2) AS precio_base, IFNULL(sp.reduction, 0) AS descuento, ROUND((ps.price * (1 + t.rate/100)) * (1 - IFNULL(sp.reduction, 0) / 100), 2) AS precio_final, GROUP_CONCAT(DISTINCT al.name ORDER BY al.name SEPARATOR ', ') AS tallas_disponibles, CONCAT('/img/p/', i.id_image, '.jpg') AS imagen, SUM(sa.quantity) AS stock_total, CONCAT('/', cl.link_rewrite, '/', p.id_product, '-', pl.link_rewrite, '.html') AS url_producto, CONCAT('?controller=cart&add=1&id_product=', p.id_product, '&token=STATIC_TOKEN') AS url_carrito FROM ps_product p INNER JOIN ps_product_lang pl ON p.id_product = pl.id_product INNER JOIN ps_product_shop ps ON p.id_product = ps.id_product LEFT JOIN ps_tax t ON ps.id_tax_rules_group = t.id_tax LEFT JOIN ps_specific_price sp ON p.id_product = sp.id_product AND NOW() BETWEEN sp.from AND sp.to AND sp.id_shop = 1 INNER JOIN ps_product_attribute pa ON p.id_product = pa.id_product INNER JOIN ps_stock_available sa ON pa.id_product_attribute = sa.id_product_attribute INNER JOIN ps_product_attribute_combination pac ON pa.id_product_attribute = pac.id_product_attribute INNER JOIN ps_attribute_lang al ON pac.id_attribute = al.id_attribute AND al.id_lang = 1 LEFT JOIN ps_image i ON p.id_product = i.id_product AND i.cover = 1 INNER JOIN ps_category_product cp ON p.id_product = cp.id_product LEFT JOIN ps_category_lang cl ON cp.id_category = cl.id_category AND cl.id_lang = 1 WHERE pl.id_lang = 1 AND ps.id_shop = 1 AND p.active = 1 AND ps.active = 1 AND sa.quantity > 0 AND pl.name LIKE '%Kisumu%' GROUP BY p.id_product ORDER BY pl.name LIMIT 10;\n"}]},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2,"position":[-1520,-304],"id":"e2b88c31-cdfc-4b64-b998-60416c99fe37","name":"Message a model","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"operation":"executeQuery","query":"{{ $json.sqlQuery }}","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[-896,-352],"id":"f1f4338d-e505-4599-a12f-ef13b41539ae","name":"Execute a SQL query","alwaysOutputData":true,"credentials":{"mySql":{"id":"FozaZvgtAHuObZua","name":"MySQL account 3"}}},{"parameters":{"operation":"executeQuery","query":"SELECT p.id_product, pl.name, p.price * (1 + IFNULL(t.rate,0)/100) AS precio_con_iva, SUM(sa.quantity) AS stock_total FROM ps_product p INNER JOIN ps_product_lang pl ON (p.id_product = pl.id_product AND pl.id_lang = 1) LEFT JOIN ps_tax_rule tr ON (p.id_tax_rules_group = tr.id_tax_rules_group) LEFT JOIN ps_tax t ON (tr.id_tax = t.id_tax) INNER JOIN ps_stock_available sa ON (p.id_product = sa.id_product AND sa.id_product_attribute = 0) WHERE pl.name LIKE '%colorado%' AND p.active = 1 AND sa.quantity > 0 GROUP BY p.id_product, pl.name, precio_con_iva ORDER BY pl.name LIMIT 50;","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[-896,-160],"id":"7e61ba26-aea2-4786-a113-84557c152081","name":"Execute a SQL query1","alwaysOutputData":true,"credentials":{"mySql":{"id":"FozaZvgtAHuObZua","name":"MySQL account 3"}}},{"parameters":{"jsCode":"const response =$input.first().json.output[0].content[0].text ;\nconst chat = $('Telegram Trigger').item.json.message.chat.id;\n\nlet sql = response.replaceAll('`', '').replace('sql', '').trim();\n\nreturn [{\n  json: {\n    sqlQuery: sql,\n    chatId: chat\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1120,-352],"id":"27d49701-27be-4289-8972-74c3f5e23063","name":"extraer sql"},{"parameters":{"jsCode":"const userMessage = $input.first().json.text;\nconst chatId = $('Telegram Trigger').item.json.message.chat.id;\n\nconst schemaTexto = [\n  \"CONDICIONES WHERE COMUNES:\",\n  \"- Buscar por nombre: pl.name LIKE '%nombre%'\",\n  \"- Buscar por categoria: cl.name LIKE '%categoria%'\",\n  \"- Buscar por talla: al.name = 'talla'\",\n  \"- Con descuento: sp.reduction > 0\",\n  \"- Todos activos: p.active = 1\",\n  \"\",\n  \"Combina condiciones con AND/OR segun necesidad\"\n].join('\\n');\n\nreturn [{\n  json: {\n    schema: schemaTexto,\n    userQuery: userMessage,\n    chatId: chatId\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1712,-352],"id":"fccecf8a-f821-49ab-9aaf-226ed311a7db","name":"schema"},{"parameters":{"jsCode":"const items = $input.all();\n\nif (items.length === 0) {\n  return [{\n    json: {\n      mensaje: \"❌ No se encontró el producto o no hay tallas en stock\",\n      chatId: $('Telegram Trigger').item.json.message.chat.id\n    }\n  }];\n}\n\n// Convertir a array de productos\nconst productos = items.map(item => {\n  const producto = item.json;\n  const descuento = parseFloat(producto.descuento) || 0;\n  const precioEspecifico = producto.precio_especifico !== null ? parseFloat(producto.precio_especifico) : null;\n  const tasaImpuesto = parseFloat(producto.tasa_impuesto) || 0;\n  const precioBase = parseFloat(producto.precio_base);\n  \n  const productoUrl = `https://masaifootwear.com/${producto.category_rewrite}/${producto.product_rewrite}.html`;\n  \n  let mensajePrecio;\n  \n  if (precioEspecifico !== null && precioEspecifico >= 0) {\n    const precioEspecificoConIVA = parseFloat((precioEspecifico * (1 + (tasaImpuesto / 100))).toFixed(2));\n    \n    if (descuento > 0) {\n      let precioFinal;\n      let descuentoTexto;\n      \n      if (producto.tipo_descuento === 'percentage') {\n        precioFinal = (precioEspecificoConIVA * (1 - descuento)).toFixed(2);\n        descuentoTexto = `${(descuento * 100).toFixed(0)}%`;\n      } else {\n        precioFinal = (precioEspecificoConIVA - descuento).toFixed(2);\n        descuentoTexto = `${descuento.toFixed(2)}€`;\n      }\n      \n      mensajePrecio = `💰 <b>Precio:</b> <s>${precioEspecificoConIVA.toFixed(2)}€</s> - 🎁 <b>Descuento:</b> ${descuentoTexto} - <b>Precio final:</b> ${precioFinal}€`;\n    } else {\n      const precioBaseConIVA = (precioBase * (1 + (tasaImpuesto / 100))).toFixed(2);\n      mensajePrecio = `💰 <b>Precio:</b> <s>${precioBaseConIVA}€</s> → ${precioEspecificoConIVA.toFixed(2)}€ (IVA inc.) - ⭐ <b>Precio especial</b>`;\n    }\n  } else if (descuento > 0) {\n    const precioBaseConIVA = parseFloat((precioBase * (1 + (tasaImpuesto / 100))).toFixed(2));\n    \n    let precioFinal;\n    let descuentoTexto;\n    \n    if (producto.tipo_descuento === 'percentage') {\n      precioFinal = (precioBaseConIVA * (1 - descuento)).toFixed(2);\n      descuentoTexto = `${(descuento * 100).toFixed(0)}%`;\n    } else {\n      precioFinal = (precioBaseConIVA - descuento).toFixed(2);\n      descuentoTexto = `${descuento.toFixed(2)}€`;\n    }\n    \n    mensajePrecio = `💰 Precio: <s>${precioBaseConIVA.toFixed(2)}€</s>\n🎁 <b>Descuento:</b> ${descuentoTexto}\nPrecio final:<b> ${precioFinal}</b>€`;\n  } else {\n    const precioFinal = (precioBase * (1 + (tasaImpuesto / 100))).toFixed(2);\n    mensajePrecio = `💰 <b>Precio:</b> ${precioFinal}€ (IVA incluido)`;\n  }\n  \n  // Parsear tallas_stock - VERIFICAR SI EXISTE Y NO ES NULL\n  let tallasArray = [];\n  \n  if (producto.tallas_stock && producto.tallas_stock.trim() !== '') {\n    tallasArray = producto.tallas_stock.split('|').map(tallaStock => {\n      const [talla, stock] = tallaStock.split(':');\n      return `${talla} (${stock})`;\n    });\n  } else {\n    tallasArray = ['Sin tallas disponibles'];\n  }\n  \n  const mensaje = `\n🛍️ <b>${producto.nombre_producto}</b>\n\n${mensajePrecio}\n\n📏 <b>Tallas disponibles:</b>\n${tallasArray.join(', ')}\n\n🛒 <a href=\"${productoUrl}\">Ver producto</a>\n\n🛒 <a href=\"https://masaifootwear.com/${producto.url_carrito}\">Comprar</a>\n  `.trim();\n\n  return {\n    json: {\n      mensaje: mensaje,\n      chatId: $('Telegram Trigger').item.json.message.chat.id,\n      imagen_url: 'https://masaifootwear.com' + producto.ruta_imagen,\n    }\n  };\n});\n\n\n\nreturn productos;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-704,-352],"id":"51c18aff-386d-4a09-b3fb-263bc3eccd17","name":"formatear resultado"},{"parameters":{"operation":"sendPhoto","chatId":"={{ $json.chatId }}","binaryData":true,"additionalFields":{"caption":"={{ $json.mensaje }}","parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-336,-352],"id":"26026a5c-eca1-40d9-9732-7b8df67d0ebb","name":"Send a photo message1","webhookId":"a99e3bf2-6287-4a93-9415-d09ff9740c6d","credentials":{"telegramApi":{"id":"jDxsVgrb1fG40Bm1","name":"Telegram n8n_the2tor_bot"}}},{"parameters":{"chatId":"={{ $json.chatId }}","text":"={{ $json.mensaje }}","additionalFields":{"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-320,-160],"id":"bc81a017-4b48-4b4b-bf72-5305aa833df3","name":"Send a text message","webhookId":"ba4c164c-d7de-48ab-987a-1cd3f4caf5a3","credentials":{"telegramApi":{"id":"jDxsVgrb1fG40Bm1","name":"Telegram n8n_the2tor_bot"}}},{"parameters":{"url":"={{ $json.imagen_url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-512,-352],"id":"1d81b2af-7d46-44c7-83fb-70c34729897a","name":"HTTP Request"},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-2496,-464],"id":"5a325d09-2b43-4f69-a6d7-b6ca9f303329","name":"Get Audio File","webhookId":"b9ec8276-c153-4b94-86db-b91a4e20d5bc","credentials":{"telegramApi":{"id":"jDxsVgrb1fG40Bm1","name":"Telegram n8n_the2tor_bot"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-2320,-464],"id":"32d6a834-3306-439e-b876-7b71ab3f4542","name":"Transcribe Recording","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.from.id }}","text":"Lo sentimos, solo mensajes de texto o de audio","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-2496,-224],"id":"ba6c462d-3a80-488e-885b-1f56113fd181","name":"Notify About Message","webhookId":"79a39611-fd1b-4719-b2d2-4250e1f20a9b","credentials":{"telegramApi":{"id":"jDxsVgrb1fG40Bm1","name":"Telegram n8n_the2tor_bot"}}},{"parameters":{"assignments":{"assignments":[{"id":"1d1411b8-e185-417c-86ce-b7af234efc3c","name":"text","value":"={{ $json.text }} {{ $json.message.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1920,-352],"id":"dc2fea25-4a18-4460-a9ce-5af5b2f88aeb","name":"Get Message"},{"parameters":{"assignments":{"assignments":[{"id":"b4bec628-0972-4cf3-a58e-35289257eef3","name":"text","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2144,-464],"id":"b30cc1fe-d1fc-4812-8c05-f54e60036bc5","name":"Normalize Content"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.voice.mime_type }}","rightValue":"audio/ogg","operator":{"type":"string","operation":"equals"},"id":"c6117e1e-21aa-4ed4-ac15-f5dabbc9ca95"}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4344a1ac-3d62-4039-a944-09b5373a1c2c","leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"Any Other"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-2736,-368],"id":"3867a53f-3371-4244-af28-adfb7257289d","name":"Switch"},{"parameters":{"jsCode":"const userMessage = $('Telegram Trigger').item.json.message.text;\nconst chatId = $('Telegram Trigger').item.json.message.chat.id;\n\nconst schemaTexto = [\n  \"CONDICIONES WHERE COMUNES:\",\n  \"- Buscar por nombre: pl.name LIKE '%nombre%'\",\n  \"- Buscar por categoria: cl.name LIKE '%categoria%'\",\n  \"- Buscar por talla: al.name = 'talla'\",\n  \"- Con descuento: sp.reduction > 0\",\n  \"- Todos activos: p.active = 1\",\n  \"\",\n  \"Combina condiciones con AND/OR segun necesidad\"\n].join('\\n');\n\nreturn [{\n  json: {\n    schema: schemaTexto,\n    userQuery: userMessage,\n    chatId: chatId\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1984,48],"id":"285ea6b6-2f73-428b-a888-0cc15f48c4b7","name":"schema1 para telegram simple"},{"parameters":{"jsCode":"const userMessage = $input.first().json.messages;\nconst chatId = $('Telegram Trigger').item.json.message.chat.id;\n\nconst schemaTexto = [\n  \"CONDICIONES WHERE COMUNES:\",\n  \"- Buscar por nombre: pl.name LIKE '%nombre%'\",\n  \"- Buscar por categoria: cl.name LIKE '%categoria%'\",\n  \"- Buscar por talla: al.name = 'talla'\",\n  \"- Con descuento: sp.reduction > 0\",\n  \"- Todos activos: p.active = 1\",\n  \"\",\n  \"Combina condiciones con AND/OR segun necesidad\"\n].join('\\n');\n\nreturn [{\n  json: {\n    schema: schemaTexto,\n    userQuery: userMessage,\n    chatId: chatId\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1744,48],"id":"89f50370-7344-4bdc-9b5c-0bf19d9ccba9","name":"schema1"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"responses":{"values":[{"role":"system","content":"=Eres experto en SQL para PrestaShop. Genera consultas SQL que SIEMPRE encuentren productos, incluso con busqueda aproximada.\n\nESTRATEGIA DE BUSQUEDA:\n1. Busqueda exacta con LIKE\n2. Busqueda fonetica con SOUNDEX\n3. Busqueda por palabras parciales\n4. Ordenar por similitud (mejores coincidencias primero)\n\nPLANTILLA OBLIGATORIA:\n\nSELECT \n  p.id_product,\n  pl.name AS nombre_producto,\n  pl.link_rewrite AS product_rewrite,\n  p.price AS precio_base,\n  CASE \n    WHEN sp.price IS NOT NULL AND sp.price >= 0 THEN ROUND(sp.price * (1 + (t.rate / 100)), 2)\n    ELSE CASE \n      WHEN sp.reduction_type = 'percentage' THEN ROUND((p.price * (1 - sp.reduction)) * (1 + (t.rate / 100)), 2)\n      WHEN sp.reduction_type = 'amount' THEN ROUND((p.price - sp.reduction) * (1 + (t.rate / 100)), 2)\n      ELSE ROUND(p.price * (1 + (t.rate / 100)), 2)\n    END \n  END AS precio_final,\n  sp.price AS precio_especifico,\n  COALESCE(sp.reduction, 0) AS descuento,\n  COALESCE(sp.reduction_type, 'amount') AS tipo_descuento,\n  t.rate AS tasa_impuesto,\n  CONCAT('/img/p/', SUBSTRING(CAST(i.id_image AS CHAR), 1, 1), '/', SUBSTRING(CAST(i.id_image AS CHAR), 2, 1), '/', SUBSTRING(CAST(i.id_image AS CHAR), 3, 1), '/', SUBSTRING(CAST(i.id_image AS CHAR), 4, 1), '/', i.id_image, '.jpg') AS ruta_imagen,\n  cl.link_rewrite AS category_rewrite,\n  GROUP_CONCAT(DISTINCT CONCAT(al.name, ':', sa.quantity) ORDER BY CAST(al.name AS DECIMAL(10,2)) SEPARATOR '|') AS tallas_stock,\n  CASE\n    WHEN pl.name = 'PALABRA_EXACTA' THEN 1\n    WHEN pl.name LIKE 'PALABRA_EXACTA%' THEN 2\n    WHEN pl.name LIKE '%PALABRA_EXACTA%' THEN 3\n    WHEN pl.name LIKE '%PALABRA%' THEN 4\n    WHEN SOUNDEX(pl.name) = SOUNDEX('PALABRA') THEN 5\n    ELSE 6\n  END AS relevancia\nFROM ps_product p\nINNER JOIN ps_product_lang pl ON (p.id_product = pl.id_product AND pl.id_lang = 1)\nLEFT JOIN ps_image i ON (p.id_product = i.id_product AND i.cover = 1)\nLEFT JOIN ps_category_product cp ON (p.id_product = cp.id_product)\nLEFT JOIN ps_category c ON (cp.id_category = c.id_category AND c.id_category = p.id_category_default)\nLEFT JOIN ps_category_lang cl ON (c.id_category = cl.id_category AND cl.id_lang = 1)\nLEFT JOIN ps_tax_rule tr ON (p.id_tax_rules_group = tr.id_tax_rules_group)\nLEFT JOIN ps_tax t ON (tr.id_tax = t.id_tax)\nLEFT JOIN ps_specific_price sp ON (p.id_product = sp.id_product AND sp.id_product_attribute = 0 AND (sp.from = '0000-00-00 00:00:00' OR sp.from <= NOW()) AND (sp.to = '0000-00-00 00:00:00' OR sp.to >= NOW()))\nINNER JOIN ps_product_attribute pa ON (p.id_product = pa.id_product)\nINNER JOIN ps_stock_available sa ON (sa.id_product = p.id_product AND sa.id_product_attribute = pa.id_product_attribute AND sa.quantity > 0)\nINNER JOIN ps_product_attribute_combination pac ON (pa.id_product_attribute = pac.id_product_attribute)\nINNER JOIN ps_attribute a ON (pac.id_attribute = a.id_attribute AND a.id_attribute_group = 5)\nINNER JOIN ps_attribute_lang al ON (a.id_attribute = al.id_attribute AND al.id_lang = 1)\nWHERE p.active = 1 AND (\n  pl.name LIKE '%PALABRA1%' OR\n  pl.name LIKE '%PALABRA2%' OR\n  SOUNDEX(pl.name) = SOUNDEX('BUSQUEDA') OR\n  SOUNDEX(SUBSTRING_INDEX(pl.name, ' ', 1)) = SOUNDEX('PALABRA1') OR\n  SOUNDEX(SUBSTRING_INDEX(pl.name, ' ', -1)) = SOUNDEX('PALABRA2')\n)\nGROUP BY p.id_product\nORDER BY relevancia ASC, pl.name ASC\nLIMIT 10;\n\nREGLAS:\n- Dividir busqueda en palabras individuales\n- Buscar cada palabra con LIKE y SOUNDEX\n- Aplicar SOUNDEX a primera y ultima palabra del nombre\n- SIEMPRE ordenar por relevancia\n- SIEMPRE usar LIMIT 10\n\nEJEMPLOS:\n\nUsuario: mito\nWHERE: p.active = 1 AND (\n  pl.name LIKE '%mito%' OR \n  pl.name LIKE '%myto%' OR\n  SOUNDEX(pl.name) = SOUNDEX('mito') OR\n  SOUNDEX(SUBSTRING_INDEX(pl.name, ' ', 1)) = SOUNDEX('mito')\n)\n\nUsuario: sapatos deportibos (error ortografico)\nWHERE: p.active = 1 AND (\n  pl.name LIKE '%sapatos%' OR \n  pl.name LIKE '%deportibos%' OR\n  pl.name LIKE '%zapato%' OR\n  pl.name LIKE '%deportivo%' OR\n  SOUNDEX(pl.name) = SOUNDEX('sapatos') OR\n  SOUNDEX(pl.name) = SOUNDEX('deportibos')\n)\n\nUsuario: colorado\nWHERE: p.active = 1 AND (\n  pl.name LIKE '%colorado%' OR\n  SOUNDEX(pl.name) = SOUNDEX('colorado') OR\n  SOUNDEX(SUBSTRING_INDEX(pl.name, ' ', 1)) = SOUNDEX('colorado')\n)\n\nUsuario: zapatilla talla 42\nWHERE: p.active = 1 AND (\n  pl.name LIKE '%zapatilla%' OR\n  al.name = '42'\n)\n\nSi el usuario busca algo que no existe, la busqueda aproximada encontrara productos similares.\n"},{"content":"=Genera SQL para: {{ $json.userQuery }}\n\nUsa la plantilla completa y cambia solo el WHERE.\n"}]},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2,"position":[-1520,-560],"id":"44a30ea0-bb73-4073-b402-0d5a96eedec7","name":"Message a model1","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"responses":{"values":[{"role":"system","content":"Eres experto en SQL para PrestaShop. Genera consultas SQL completas con precios, descuentos, tallas, colores e imagenes.\n\n\n\n===================================================================\nSYSTEM PROMPT PARA AGENTE SQL - PRESTASHOP PRODUCT SEARCH\n===================================================================\n\nEres un asistente SQL especializado en consultas de productos para bases de datos PrestaShop. Tu función es traducir las solicitudes de búsqueda del usuario en queries SQL precisas y optimizadas.\n\n===================================================================\nESTRUCTURA DE BASE DE DATOS\n===================================================================\n\nLa base de datos usa el prefijo ps_ y tiene estas tablas principales:\n\nPRODUCTOS BASE:\n- ps_product: Tabla principal de productos (id_product, reference, price, quantity, active)\n- ps_product_lang: Información traducible (name, description, link_rewrite, id_lang)\n- ps_product_shop: Configuración por tienda (id_shop, price, active)\n\nVARIANTES Y ATRIBUTOS:\n- ps_product_attribute: Combinaciones/variantes (id_product_attribute, quantity, price)\n- ps_product_attribute_combination: Relación con atributos específicos\n- ps_attribute: Valores de atributos como tallas (id_attribute, color)\n- ps_attribute_lang: Nombres de atributos traducidos (name)\n- ps_attribute_group: Grupos de atributos (id_attribute_group)\n- ps_attribute_group_lang: Nombres de grupos (name, public_name)\n\nPRECIOS Y STOCK:\n- ps_specific_price: Precios especiales y descuentos (price, reduction, reduction_type, from, to)\n- ps_stock_available: Stock disponible (quantity, id_product, id_product_attribute)\n\nIMÁGENES:\n- ps_image: Imágenes de productos (id_image, id_product, position, cover)\n- ps_image_shop: Configuración de imágenes por tienda\n- ps_product_attribute_image: Imágenes asociadas a combinaciones\n\nCATEGORÍAS:\n- ps_category: Categorías de productos\n- ps_category_lang: Nombres de categorías traducidos (name, link_rewrite)\n- ps_category_product: Relación producto-categoría\n\nOTROS:\n- ps_manufacturer: Fabricantes/marcas\n- ps_tax: Impuestos (rate)\n- ps_tax_rules_group: Grupos de reglas fiscales\n\n===================================================================\nREGLAS DE CONSULTA\n===================================================================\n\nSIEMPRE APLICA ESTOS FILTROS:\n1. id_lang = 1 (español por defecto, ajusta según contexto)\n2. id_shop = 1 (tienda principal)\n3. Solo productos activos: p.active = 1 y ps.active = 1\n4. Solo productos con stock: sa.quantity > 0\n\n\nCÁLCULO DE PRECIO FINAL:\n1. Precio base = ps.price + impuesto (ps.price * (1 + tax_rate/100))\n2. Si existe ps_specific_price activa (NOW() BETWEEN from AND to):\n   - Si reduction_type = 'percentage': precio_final = precio_base * (1 - reduction/100)\n   - Si reduction_type = 'amount': precio_final = precio_base - reduction\n3. Si hay combinación con precio adicional: sumar pa.price al precio base\n\nCONSTRUCCIÓN DE URL DE IMAGEN:\n- Formato PrestaShop: /img/p/{folder_structure}/{id_image}.jpg\n- Estructura de carpetas: divide id_image en dígitos individuales\n- Ejemplo: id_image=149 → /img/p/1/4/9/149.jpg\n\nCONSTRUCCIÓN DE URLs:\n1. URL del producto:\n   - Formato amigable: /{category_rewrite}/{id_product}-{product_rewrite}.html\n   - Ejemplo: /calzado-deportivo/123-kisumu-3-black.html\n   \n2. URL para añadir al carrito:\n   - PrestaShop 1.7+: ?controller=cart&add=1&id_product={id_product}&id_product_attribute={id_product_attribute}&token={static_token}\n   - Versiones antiguas: /cart.php?add&id_product={id_product}\n   - Si no hay combinación específica: usa 0 para id_product_attribute\n   - Ejemplo: ?controller=cart&add=1&id_product=123&id_product_attribute=456&token=abc123\n\n===================================================================\nCASOS DE USO COMUNES\n===================================================================\n\nBÚSQUEDA POR NOMBRE:\nWHERE pl.name LIKE '%{search_term}%'\n\nBÚSQUEDA POR TALLA ESPECÍFICA:\nINNER JOIN ps_product_attribute_combination pac ON pa.id_product_attribute = pac.id_product_attribute\nINNER JOIN ps_attribute_lang al ON pac.id_attribute = al.id_attribute\nWHERE al.name = '{size}' AND al.id_lang = 1\n\nBÚSQUEDA POR CATEGORÍA:\nINNER JOIN ps_category_product cp ON p.id_product = cp.id_product\nINNER JOIN ps_category_lang cl ON cp.id_category = cl.id_category\nWHERE cl.name LIKE '%{category}%' AND cl.id_lang = 1\n\nBÚSQUEDA POR REFERENCIA/MODELO:\nWHERE p.reference LIKE '%{reference}%'\n\n===================================================================\nINSTRUCCIONES DE COMPORTAMIENTO\n===================================================================\n\n1. INTERPRETA LA INTENCIÓN DEL USUARIO: Si pregunta por \"Kisumu\", busca en name. Si dice \"talla 37\", filtra por atributos.\n\n2. AGRUPA VARIANTES INTELIGENTEMENTE: Usa GROUP BY con GROUP_CONCAT para mostrar todas las tallas disponibles de un mismo modelo.\n\n3. ORDENA RESULTADOS: Por relevancia (LIKE exacto primero) o precio ascendente.\n\n4. LIMITA RESULTADOS: Máximo 10 productos a menos que se especifique.\n\n5. MANEJO DE ERRORES: Si no encuentras resultados exactos, intenta búsqueda parcial o sugiere alternativas.\n\n6. INCLUYE SIEMPRE URLs: Genera tanto la URL del producto como la URL para añadir al carrito.\n\n\n\nREGLA CRITICA:\n- SIEMPRE incluir p.active = 1 en el WHERE\n- Si no hay condicion adicional, usar solo: WHERE p.active = 1\n\nEJEMPLOS:\n\nUsuario: buscar MYTO BLACK\nWHERE: p.active = 1 AND pl.name LIKE '%MYTO BLACK%'\n\nUsuario: productos con descuento\nWHERE: p.active = 1 AND sp.reduction > 0\n\nUsuario: productos de categoria zapatillas\nWHERE: p.active = 1 AND cl.name LIKE '%zapatillas%'\n\nUsuario: todos los productos\nWHERE: p.active = 1\n\nUsuario: productos talla 42\nWHERE: p.active = 1 AND al.name = '42'\n\nNUNCA omitas p.active = 1 del WHERE.\n\nPLANTILLA BASE de guia utilizala para crear tus propias querys:\n\nSELECT \n  p.id_product,\n  pl.name AS nombre_producto,\n  pl.link_rewrite AS product_rewrite,\n  p.price AS precio_base,\n  CASE \n    WHEN sp.price IS NOT NULL AND sp.price >= 0 THEN ROUND(sp.price * (1 + (t.rate / 100)), 2)\n    ELSE CASE \n      WHEN sp.reduction_type = 'percentage' THEN ROUND((p.price * (1 - sp.reduction)) * (1 + (t.rate / 100)), 2)\n      WHEN sp.reduction_type = 'amount' THEN ROUND((p.price - sp.reduction) * (1 + (t.rate / 100)), 2)\n      ELSE ROUND(p.price * (1 + (t.rate / 100)), 2)\n    END \n  END AS precio_final,\n  sp.price AS precio_especifico,\n  COALESCE(sp.reduction, 0) AS descuento,\n  COALESCE(sp.reduction_type, 'amount') AS tipo_descuento,\n  t.rate AS tasa_impuesto,\n  CONCAT('/img/p/', SUBSTRING(CAST(i.id_image AS CHAR), 1, 1), '/', SUBSTRING(CAST(i.id_image AS CHAR), 2, 1), '/', SUBSTRING(CAST(i.id_image AS CHAR), 3, 1), '/', SUBSTRING(CAST(i.id_image AS CHAR), 4, 1), '/', i.id_image, '.jpg') AS ruta_imagen,\n  cl.link_rewrite AS category_rewrite,\n  cl.name AS categoria_nombre,\n  GROUP_CONCAT(DISTINCT CONCAT(al.name, ':', sa.quantity) ORDER BY CAST(al.name AS DECIMAL(10,2)) SEPARATOR '|') AS tallas_stock,\n  CONCAT('/', cl.link_rewrite, '/', p.id_product, '-', pl.link_rewrite, '.html') AS url_producto,\n  CONCAT('?controller=cart&add=1&id_product=', p.id_product) AS url_carrito\nFROM ps_product p\nINNER JOIN ps_product_lang pl ON (p.id_product = pl.id_product AND pl.id_lang = 1)\nLEFT JOIN ps_image i ON (p.id_product = i.id_product AND i.cover = 1)\nLEFT JOIN ps_category_product cp ON (p.id_product = cp.id_product)\nLEFT JOIN ps_category c ON (cp.id_category = c.id_category AND c.id_category = p.id_category_default)\nLEFT JOIN ps_category_lang cl ON (c.id_category = cl.id_category AND cl.id_lang = 1)\nLEFT JOIN ps_tax_rule tr ON (p.id_tax_rules_group = tr.id_tax_rules_group)\nLEFT JOIN ps_tax t ON (tr.id_tax = t.id_tax)\nLEFT JOIN ps_specific_price sp ON (p.id_product = sp.id_product AND sp.id_product_attribute = 0 AND (sp.from = '0000-00-00 00:00:00' OR sp.from <= NOW()) AND (sp.to = '0000-00-00 00:00:00' OR sp.to >= NOW()))\nINNER JOIN ps_product_attribute pa ON (p.id_product = pa.id_product)\nINNER JOIN ps_stock_available sa ON (sa.id_product = p.id_product AND sa.id_product_attribute = pa.id_product_attribute AND sa.quantity > 0)\nINNER JOIN ps_product_attribute_combination pac ON (pa.id_product_attribute = pac.id_product_attribute)\nINNER JOIN ps_attribute a ON (pac.id_attribute = a.id_attribute AND a.id_attribute_group = 5)\nINNER JOIN ps_attribute_lang al ON (a.id_attribute = al.id_attribute AND al.id_lang = 1)\nWHERE p.active = 1 \n  AND (\n    pl.name LIKE '%{search_term}%' \n    OR pl.description LIKE '%{search_term}%' \n    OR pl.description_short LIKE '%{search_term}%'\n    OR cl.name LIKE '%{search_term}%'\n  )\nGROUP BY p.id_product\nORDER BY \n  CASE \n    WHEN pl.name LIKE '%{search_term}%' THEN 1\n    WHEN cl.name LIKE '%{search_term}%' THEN 2\n    WHEN pl.description_short LIKE '%{search_term}%' THEN 3\n    WHEN pl.description LIKE '%{search_term}%' THEN 4\n    ELSE 5\n  END,\n  pl.name ASC;\n\n\ngenera solo la consulta sin aclaraciones ni mensajes, solo el select en una sola linea"},{"content":"=Genera SQL para: {{ $json.userQuery }}\n\nUsa la plantilla completa y cambia solo el WHERE.\n"}]},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2,"position":[-1152,-784],"id":"0ba861c6-fbd0-40a5-a877-de8b984364c6","name":"Message a model2","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"formatear resultado","type":"main","index":0}]]},"extraer sql":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"schema":{"main":[[{"node":"Message a model1","type":"main","index":0}]]},"formatear resultado":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Send a photo message1","type":"main","index":0}]]},"Get Audio File":{"main":[[{"node":"Transcribe Recording","type":"main","index":0}]]},"Transcribe Recording":{"main":[[{"node":"Normalize Content","type":"main","index":0}]]},"Get Message":{"main":[[{"node":"schema","type":"main","index":0}]]},"Normalize Content":{"main":[[{"node":"Get Message","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Get Audio File","type":"main","index":0}],[{"node":"Get Message","type":"main","index":0}],[{"node":"Notify About Message","type":"main","index":0}]]},"Message a model1":{"main":[[{"node":"extraer sql","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"a9c90ee5-247d-434d-8512-ac84b7f1d619","triggerCount":0,"shared":[{"updatedAt":"2025-11-25T18:45:06.380Z","createdAt":"2025-11-25T18:45:06.380Z","role":"workflow:owner","workflowId":"iLMD3eSFL3Qhg18P","projectId":"prlZ3bTXg0wKi0D1"}],"tags":[]}