masai-from-telegram-con-ia-QPxRc7DqRDnmlnDM.json
{"updatedAt":"2025-11-23T15:05:02.000Z","createdAt":"2025-11-23T14:49:27.922Z","id":"QPxRc7DqRDnmlnDM","name":"masai from telegram con ia","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-1376,352],"id":"1a98eeb8-5ea1-4ffd-89df-5438e9d50de1","name":"Telegram Trigger","webhookId":"6e1df61e-e9a7-4d80-901d-747ea3783b16","credentials":{"telegramApi":{"id":"jDxsVgrb1fG40Bm1","name":"Telegram n8n_the2tor_bot"}}},{"parameters":{"jsCode":"return [{\n  json: {\n    nombre_limpio: $input.first().json.output.trim()\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1952,1168],"id":"628f480d-e638-40c0-b403-c738971ccf83","name":"Code in JavaScript"},{"parameters":{"operation":"executeQuery","query":"SELECT p.id_product, pl.name AS nombre_producto, pl.link_rewrite AS product_rewrite, p.price AS precio_base, CASE WHEN sp.price IS NOT NULL AND sp.price >= 0 THEN ROUND(sp.price * (1 + (t.rate / 100)), 2) ELSE CASE WHEN sp.reduction_type = 'percentage' THEN ROUND((p.price * (1 - sp.reduction)) * (1 + (t.rate / 100)), 2) WHEN sp.reduction_type = 'amount' THEN ROUND((p.price - sp.reduction) * (1 + (t.rate / 100)), 2) ELSE ROUND(p.price * (1 + (t.rate / 100)), 2) END END AS precio_final, sp.price AS precio_especifico, COALESCE(sp.reduction, 0) AS descuento, COALESCE(sp.reduction_type, 'amount') AS tipo_descuento, t.rate AS tasa_impuesto, CONCAT('/img/p/', SUBSTRING(CAST(i.id_image AS CHAR), 1, 1), '/', SUBSTRING(CAST(i.id_image AS CHAR), 2, 1), '/', SUBSTRING(CAST(i.id_image AS CHAR), 3, 1), '/', SUBSTRING(CAST(i.id_image AS CHAR), 4, 1), '/', i.id_image, '.jpg') AS ruta_imagen, cl.link_rewrite AS category_rewrite, GROUP_CONCAT(DISTINCT CONCAT(al.name, ':', sa.quantity) ORDER BY CAST(al.name AS DECIMAL(10,2)) SEPARATOR '|') AS tallas_stock FROM ps_product p INNER JOIN ps_product_lang pl ON (p.id_product = pl.id_product AND pl.id_lang = 1) LEFT JOIN ps_image i ON (p.id_product = i.id_product AND i.cover = 1) LEFT JOIN ps_category_product cp ON (p.id_product = cp.id_product) LEFT JOIN ps_category c ON (cp.id_category = c.id_category AND c.id_category = p.id_category_default) LEFT JOIN ps_category_lang cl ON (c.id_category = cl.id_category AND cl.id_lang = 1) LEFT JOIN ps_tax_rule tr ON (p.id_tax_rules_group = tr.id_tax_rules_group) LEFT JOIN ps_tax t ON (tr.id_tax = t.id_tax) LEFT JOIN ps_specific_price sp ON (p.id_product = sp.id_product AND sp.id_product_attribute = 0 AND (sp.from = '0000-00-00 00:00:00' OR sp.from <= NOW()) AND (sp.to = '0000-00-00 00:00:00' OR sp.to >= NOW())) INNER JOIN ps_product_attribute pa ON (p.id_product = pa.id_product) INNER JOIN ps_stock_available sa ON (sa.id_product = p.id_product AND sa.id_product_attribute = pa.id_product_attribute AND sa.quantity > 0) INNER JOIN ps_product_attribute_combination pac ON (pa.id_product_attribute = pac.id_product_attribute) INNER JOIN ps_attribute a ON (pac.id_attribute = a.id_attribute AND a.id_attribute_group = 5) INNER JOIN ps_attribute_lang al ON (a.id_attribute = al.id_attribute AND al.id_lang = 1) WHERE pl.name LIKE CONCAT('%', '{{ $json.nombre_limpio }}', '%') GROUP BY p.id_product;\n","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[2160,1168],"id":"2456ff10-efd2-49ad-b367-2e21db218127","name":"Execute a SQL query","alwaysOutputData":true,"credentials":{"mySql":{"id":"FozaZvgtAHuObZua","name":"MySQL account 3"}}},{"parameters":{"jsCode":"const items = $input.all();\n\nif (items.length === 0) {\n  return [{\n    json: {\n      mensaje: \"❌ No se encontró el producto o no hay tallas en stock\",\n      chatId: $('Telegram Trigger').item.json.message.chat.id\n    }\n  }];\n}\n\n// Convertir a array de productos\nconst productos = items.map(item => {\n  const producto = item.json;\n  const descuento = parseFloat(producto.descuento) || 0;\n  const precioEspecifico = producto.precio_especifico !== null ? parseFloat(producto.precio_especifico) : null;\n  const tasaImpuesto = parseFloat(producto.tasa_impuesto) || 0;\n  const precioBase = parseFloat(producto.precio_base);\n  \n  const productoUrl = `https://masaifootwear.com/${producto.category_rewrite}/${producto.product_rewrite}.html`;\n  \n  let mensajePrecio;\n  \n  if (precioEspecifico !== null && precioEspecifico >= 0) {\n    const precioEspecificoConIVA = parseFloat((precioEspecifico * (1 + (tasaImpuesto / 100))).toFixed(2));\n    \n    if (descuento > 0) {\n      let precioFinal;\n      let descuentoTexto;\n      \n      if (producto.tipo_descuento === 'percentage') {\n        precioFinal = (precioEspecificoConIVA * (1 - descuento)).toFixed(2);\n        descuentoTexto = `${(descuento * 100).toFixed(0)}%`;\n      } else {\n        precioFinal = (precioEspecificoConIVA - descuento).toFixed(2);\n        descuentoTexto = `${descuento.toFixed(2)}€`;\n      }\n      \n      mensajePrecio = `💰 <b>Precio:</b> <s>${precioEspecificoConIVA.toFixed(2)}€</s> - 🎁 <b>Descuento:</b> ${descuentoTexto} - <b>Precio final:</b> ${precioFinal}€`;\n    } else {\n      const precioBaseConIVA = (precioBase * (1 + (tasaImpuesto / 100))).toFixed(2);\n      mensajePrecio = `💰 <b>Precio:</b> <s>${precioBaseConIVA}€</s> → ${precioEspecificoConIVA.toFixed(2)}€ (IVA inc.) - ⭐ <b>Precio especial</b>`;\n    }\n  } else if (descuento > 0) {\n    const precioBaseConIVA = parseFloat((precioBase * (1 + (tasaImpuesto / 100))).toFixed(2));\n    \n    let precioFinal;\n    let descuentoTexto;\n    \n    if (producto.tipo_descuento === 'percentage') {\n      precioFinal = (precioBaseConIVA * (1 - descuento)).toFixed(2);\n      descuentoTexto = `${(descuento * 100).toFixed(0)}%`;\n    } else {\n      precioFinal = (precioBaseConIVA - descuento).toFixed(2);\n      descuentoTexto = `${descuento.toFixed(2)}€`;\n    }\n    \n    mensajePrecio = `💰 <b>Precio:</b> <s>${precioBaseConIVA.toFixed(2)}€</s> - 🎁 <b>Descuento:</b> ${descuentoTexto} - <b>Precio final:</b> ${precioFinal}€`;\n  } else {\n    const precioFinal = (precioBase * (1 + (tasaImpuesto / 100))).toFixed(2);\n    mensajePrecio = `💰 <b>Precio:</b> ${precioFinal}€ (IVA incluido)`;\n  }\n  \n  // Parsear tallas_stock - VERIFICAR SI EXISTE Y NO ES NULL\n  let tallasArray = [];\n  \n  if (producto.tallas_stock && producto.tallas_stock.trim() !== '') {\n    tallasArray = producto.tallas_stock.split('|').map(tallaStock => {\n      const [talla, stock] = tallaStock.split(':');\n      return `${talla} (${stock})`;\n    });\n  } else {\n    tallasArray = ['Sin tallas disponibles'];\n  }\n  \n  const mensaje = `\n🛍️ <b>${producto.nombre_producto}</b>\n\n${mensajePrecio}\n\n📏 <b>Tallas disponibles:</b>\n${tallasArray.join(', ')}\n\n🛒 <a href=\"${productoUrl}\">Ver producto y comprar</a>\n  `.trim();\n  \n  return {\n    json: {\n      mensaje: mensaje,\n      chatId: $('Telegram Trigger').item.json.message.chat.id,\n      imagen_url: 'https://masaifootwear.com' + producto.ruta_imagen\n    }\n  };\n});\n\nreturn productos;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2384,1168],"id":"ebcb2cb3-a6dc-42e1-881e-fec4c4b9d789","name":"Code in JavaScript1"},{"parameters":{"url":"={{ $json.imagen_url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2592,1168],"id":"6993dfe4-8e67-47fa-9cb6-72ce901c346b","name":"HTTP Request"},{"parameters":{"operation":"sendPhoto","chatId":"={{ $json.chatId }}","binaryData":true,"additionalFields":{"caption":"={{ $json.mensaje }}","parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2800,1168],"id":"2d17fbaa-b4f3-4047-8d1d-795bc94c0dc0","name":"Send a photo message","webhookId":"bd53f0b5-7e34-4d1a-b491-d98af8fe7ca1","credentials":{"telegramApi":{"id":"jDxsVgrb1fG40Bm1","name":"Telegram n8n_the2tor_bot"}}},{"parameters":{"operation":"executeQuery","query":"SELECT p.id_product, pl.name AS nombre_producto, p.price * (1 + (t.rate / 100)) AS precio_con_iva, SUM(sa.quantity) AS stock_total FROM ps_product p INNER JOIN ps_product_lang pl ON (p.id_product = pl.id_product AND pl.id_lang = 1) LEFT JOIN ps_tax_rule tr ON (p.id_tax_rules_group = tr.id_tax_rules_group) LEFT JOIN ps_tax t ON (tr.id_tax = t.id_tax) INNER JOIN ps_stock_available sa ON (p.id_product = sa.id_product) WHERE sa.quantity > 0 AND p.active = 1 GROUP BY p.id_product ORDER BY pl.name LIMIT 30;\n","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[1952,960],"id":"5bb94742-d3fe-4316-b0d4-aec887ee2d21","name":"Execute a SQL query1","alwaysOutputData":true,"credentials":{"mySql":{"id":"FozaZvgtAHuObZua","name":"MySQL account 3"}}},{"parameters":{"jsCode":"const items = $input.all();\n\nif (items.length === 0) {\n  return [{\n    json: {\n      mensaje: \"❌ No hay productos con stock disponible\",\n      chatId: $('Telegram Trigger').item.json.message.chat.id\n    }\n  }];\n}\n\nlet mensaje = `📦 <b>CATÁLOGO - Productos en Stock</b>\\n`;\nmensaje += `Total disponibles: ${items.length} productos\\n\\n`;\n\nitems.forEach((item, index) => {\n  const producto = item.json;\n  const precio = parseFloat(producto.precio_con_iva).toFixed(2);\n  const stock = parseInt(producto.stock_total);\n  \n  mensaje += `${index + 1}. <b>${producto.nombre_producto}</b>\\n`;\n  mensaje += `   💰 ${precio}€ | 📦 ${stock} uds\\n\\n`;\n});\n\nmensaje += `\\n💡 <i>Escribe el nombre de un producto para ver detalles y tallas</i>`;\n\nreturn [{\n  json: {\n    mensaje: mensaje.trim(),\n    chatId: $('Telegram Trigger').item.json.message.chat.id\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2176,960],"id":"9662448d-1831-4154-b0c5-bcb6834a52f9","name":"Code in JavaScript2"},{"parameters":{"chatId":"={{ $json.chatId }}","text":"={{ $json.mensaje }}{{ $json.botones }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2384,960],"id":"d25a9953-a08e-4831-9cd0-aa130b31430e","name":"Send a text message","webhookId":"8867caac-0439-45f2-baae-8bad3e0e6a58","credentials":{"telegramApi":{"id":"jDxsVgrb1fG40Bm1","name":"Telegram n8n_the2tor_bot"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.text }}","rightValue":"/catalogo","operator":{"type":"string","operation":"equals"},"id":"5d951090-e08d-4e6f-a844-9d6aa4ef4b16"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7c6f60ce-c5ba-40f2-8bb3-9c5e072ebab7","leftValue":"={{ $json.message.text }}","rightValue":"/start","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7947247e-7a76-46a8-a532-63c1aa5d09ad","leftValue":"={{ $json.message.text }}","rightValue":"/lista","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bbdd4db5-0b59-4742-8723-602548027883","leftValue":"={{ $json.message.text }}","rightValue":"stock","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"947fc28d-6361-476f-a865-da0c384e9df1","leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[1296,1168],"id":"dacc26ef-10a6-48c8-95aa-c5c72f4a8d8e","name":"Switch"},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-400,-64],"id":"eb209a2c-18d8-4b6f-98ce-746d35f12a32","name":"Get Audio File","webhookId":"b9ec8276-c153-4b94-86db-b91a4e20d5bc","credentials":{"telegramApi":{"id":"7UCg36pupNze5tT7","name":"Telegram account agendador_RafaBot"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-176,-64],"id":"abb3bd31-4581-49dc-a6bf-d12af5119e2c","name":"Transcribe Recording","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"What's in this image? Reply in Spanish.","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-176,320],"id":"e53ef07c-ff48-4971-8908-8091f1ad5cc0","name":"Analyze image","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"https://api.cloud.llamaindex.ai/api/v1/parsing/upload","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Authorization","value":"Bearer"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-400,544],"id":"252c4eb1-57b4-40d3-a595-91cae22d78af","name":"Upload Doc"},{"parameters":{"url":"=https://api.cloud.llamaindex.ai/api/v1/parsing/job/{{ $json.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Authorization","value":"Bearer "}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-176,544],"id":"63ed9717-8fe0-4a92-8867-dc6fe30ceefe","name":"Get Doc Processing Info"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"45791e1c-3a0b-4bbf-902c-20340548a0fc","leftValue":"={{ $json.status }}","rightValue":"SUCCESS","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[0,544],"id":"7510b03d-3f24-4dde-a646-f96dbda71281","name":"Is Ready"},{"parameters":{"url":"=https://api.cloud.llamaindex.ai/api/v1/parsing/job/{{$json.id}}/result/markdown","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Authorization","value":"Bearer "}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[432,528],"id":"2f80d2bd-9ce7-4721-b53b-bb9558440df7","name":"Download Markdown Info"},{"parameters":{"chatId":"={{ $('Telegram Trigger1').item.json.message.from.id }}","text":"Lo sentimos, no puedo procesar lo que has enviado.","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-624,768],"id":"bb3414e5-64ae-4d10-ab56-6f4d1549a3ad","name":"Notify About Message","webhookId":"79a39611-fd1b-4719-b2d2-4250e1f20a9b","credentials":{"telegramApi":{"id":"7UCg36pupNze5tT7","name":"Telegram account agendador_RafaBot"}}},{"parameters":{"assignments":{"assignments":[{"id":"1d1411b8-e185-417c-86ce-b7af234efc3c","name":"text","value":"={{ $json.text }}","type":"string"},{"id":"8320262c-39ca-4dc2-a1df-3610ccdc5f76","name":"caption","value":"={{ $('Telegram Trigger').item.json.message.caption || null }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[832,240],"id":"821ac14a-492d-479c-a111-c41123ec3d44","name":"Get Message"},{"parameters":{"operation":"push","list":"={{ $('Telegram Trigger').item.json.message.from.id.toString() }}","messageData":"={{ $json.text }}","tail":true},"name":"Save Text to Redis","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1024,240],"id":"fd10063a-3ea4-4185-8218-73eee128c871","credentials":{"redis":{"id":"s43Tiha7X724barC","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.messages.last() }}","rightValue":"={{ $('Get Message').item.json.text }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"},"id":"f467654c-56fd-466d-a83b-54ab2aead0e2"}],"combinator":"and"},"options":{}},"name":"Check Continue Condition","type":"n8n-nodes-base.if","typeVersion":2,"position":[1792,240],"id":"837dfc63-3db0-4d6f-bb47-db4028423284"},{"parameters":{"operation":"delete","key":"={{ $('Telegram Trigger').item.json.message.from.id.toString() }}"},"name":"Delete Redis Key","type":"n8n-nodes-base.redis","typeVersion":1,"position":[2032,224],"id":"581355de-b997-471d-b7f6-c4b88e2ec3f8","credentials":{"redis":{"id":"s43Tiha7X724barC","name":"Redis account"}}},{"parameters":{"jsCode":"const inItem = $input.first(); \nconst text   = (inItem.json.text ?? '').trim();\nconst WORDS_PER_MIN = 170;\n\nconst wordCount = text.length\n  ? text.split(/\\s+/).filter(w => w).length\n  : 0;\n\nconst wordsPerSec = WORDS_PER_MIN / 60;\nconst delaySeconds = Math.ceil(wordCount / wordsPerSec);\n\nreturn [{\n    delay: delaySeconds\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,240],"id":"d648e2d6-9d1d-47f3-8ef4-be2a8202d81a","name":"Split Paragraphs & Reading Delay"},{"parameters":{"operation":"get","propertyName":"=messages","key":"={{ $('Telegram Trigger').item.json.message.from.id.toString() }}","keyType":"list","options":{"dotNotation":false}},"name":"Get Text from Redis3","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1584,240],"id":"9ba3da63-59e4-45e7-b81c-8c38f141fe43","credentials":{"redis":{"id":"s43Tiha7X724barC","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"766ddb8b-7a01-4093-a26b-a60552adddf0","leftValue":"={{ $('Telegram Trigger1').item.json.message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2368,432],"id":"f4353975-7e11-4ba8-a8e2-8442e0859a2e","name":"Should Respond With Audio"},{"parameters":{"operation":"information"},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[-400,320],"id":"2e73998d-573d-4c6b-b193-206b5818457d","name":"Edit Image"},{"parameters":{"assignments":{"assignments":[{"id":"b4bec628-0972-4cf3-a58e-35289257eef3","name":"text","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,-64],"id":"4f111700-f4f6-40db-bae4-58aafa93920e","name":"Normalize Content"},{"parameters":{"assignments":{"assignments":[{"id":"bd33db4c-9606-447c-9098-bd1fbe36c90c","name":"text","value":"={{ $json.message.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-400,144],"id":"087b4dff-f0dc-4000-89ec-e9f576d23998","name":"Normalize Content1"},{"parameters":{"assignments":{"assignments":[{"id":"b4bec628-0972-4cf3-a58e-35289257eef3","name":"text","value":"={{ $json.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,320],"id":"c93c9f90-bbc9-41a2-96a7-8bae5f45d5f2","name":"Normalize Content2"},{"parameters":{"assignments":{"assignments":[{"id":"01fb6f07-fe7a-4029-a660-efc02a662335","name":"text","value":"={{ $json.markdown }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[656,528],"id":"a41a28be-023d-4c7b-8852-cff3d6a1101f","name":"Normalize Content3"},{"parameters":{"resource":"file","fileId":"={{ $('Telegram Trigger1').item.json.message.photo[$('Telegram Trigger1').item.json.message.photo.length -1 ].file_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-624,320],"id":"1b2de70e-4207-420a-a6ba-6facdedc9d9b","name":"Get Image File","webhookId":"1071cbf2-54d8-4005-b067-5a9f592eb1b0","credentials":{"telegramApi":{"id":"7UCg36pupNze5tT7","name":"Telegram account agendador_RafaBot"}}},{"parameters":{"resource":"file","fileId":"={{ $('Telegram Trigger1').item.json.message.document.file_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-624,544],"id":"a1255c27-c463-459e-86e6-3fbed90e169a","name":"Get Document File","webhookId":"1071cbf2-54d8-4005-b067-5a9f592eb1b0","credentials":{"telegramApi":{"id":"7UCg36pupNze5tT7","name":"Telegram account agendador_RafaBot"}}},{"parameters":{"amount":"={{ $json.delay }}"},"name":"Wait (Random Delay)","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1376,240],"id":"d4549f2e-f40a-4c4e-88ce-5953abe6f346","webhookId":"3c7eaa1d-4691-44b0-8b11-a716fa0611cd"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[224,560],"id":"b66fd1b2-95e8-4702-b99b-a1a6ff723b8d","name":"Wait","webhookId":"4296dc51-5bf5-4489-bdfc-eff6d430fc68"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{"temperature":0}},"id":"8a8ec738-e8c8-4f06-a59d-e27f8c35e01f","name":"Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[704,1024],"credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger').item.json.message.chat.id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[832,1024],"id":"47dfdfd1-cd53-42cf-a340-68680b2c8487","name":"Simple Memory1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.voice.mime_type }}","rightValue":"audio/ogg","operator":{"type":"string","operation":"equals"},"id":"c6117e1e-21aa-4ed4-ac15-f5dabbc9ca95"}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4344a1ac-3d62-4039-a944-09b5373a1c2c","leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0da13526-dd88-44d3-8369-cd009130c7bf","leftValue":"={{ $json.message.photo }}","rightValue":"","operator":{"type":"array","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e56af66d-f132-42f0-a2b1-29c351240f70","leftValue":"={{ $json.message.document }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Document"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"129b3a26-f79a-49ea-94d4-8fe142cfb9bd","leftValue":"={{ $json.message.video || $json.message.video_note}}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Video"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"Any Other"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1088,288],"id":"4a2603cf-fc4b-4044-9c7f-accfb71c30d0","name":"Switch1"},{"parameters":{"promptType":"define","text":"={{ $json.messages.join() }}\nCaption: {{ $json.messages.caption || null }}","options":{"systemMessage":"=Eres un asistente de catalogo útil. Puedes comprobar la disponibilidad de productos en una base de datos.\nCuando los usuarios pregunten por un producto tu entraras al catalogo y le mostraras lo productos con el mismo nombre o similar.\n\n\nUsa el input para obtener los datos a cotejar en la base de datos\n","maxIterations":10,"returnIntermediateSteps":false,"passthroughBinaryImages":true,"batching":{},"enableStreaming":true}},"id":"0b4bd802-7033-403d-ba2a-5229ed169092","name":"Agente ia","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[1232,608]}],"connections":{"Telegram Trigger":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Send a photo message","type":"main","index":0}]]},"Execute a SQL query1":{"main":[[{"node":"Code in JavaScript2","type":"main","index":0}]]},"Code in JavaScript2":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Get Audio File":{"main":[[{"node":"Transcribe Recording","type":"main","index":0}]]},"Transcribe Recording":{"main":[[{"node":"Normalize Content","type":"main","index":0}]]},"Analyze image":{"main":[[{"node":"Normalize Content2","type":"main","index":0}]]},"Upload Doc":{"main":[[{"node":"Get Doc Processing Info","type":"main","index":0}]]},"Get Doc Processing Info":{"main":[[{"node":"Is Ready","type":"main","index":0}]]},"Is Ready":{"main":[[{"node":"Download Markdown Info","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Download Markdown Info":{"main":[[{"node":"Normalize Content3","type":"main","index":0}]]},"Get Message":{"main":[[{"node":"Save Text to Redis","type":"main","index":0}]]},"Save Text to Redis":{"main":[[{"node":"Split Paragraphs & Reading Delay","type":"main","index":0}]]},"Check Continue Condition":{"main":[[{"node":"Delete Redis Key","type":"main","index":0}]]},"Delete Redis Key":{"main":[[{"node":"Agente ia","type":"main","index":0}]]},"Split Paragraphs & Reading Delay":{"main":[[{"node":"Wait (Random Delay)","type":"main","index":0}]]},"Get Text from Redis3":{"main":[[{"node":"Check Continue Condition","type":"main","index":0}]]},"Edit Image":{"main":[[{"node":"Analyze image","type":"main","index":0}]]},"Normalize Content":{"main":[[{"node":"Get Message","type":"main","index":0}]]},"Normalize Content1":{"main":[[{"node":"Get Message","type":"main","index":0}]]},"Normalize Content2":{"main":[[{"node":"Get Message","type":"main","index":0}]]},"Normalize Content3":{"main":[[{"node":"Get Message","type":"main","index":0}]]},"Get Image File":{"main":[[{"node":"Edit Image","type":"main","index":0}]]},"Get Document File":{"main":[[{"node":"Upload Doc","type":"main","index":0}]]},"Wait (Random Delay)":{"main":[[{"node":"Get Text from Redis3","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Get Doc Processing Info","type":"main","index":0}]]},"Model":{"ai_languageModel":[[{"node":"Agente ia","type":"ai_languageModel","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"Agente ia","type":"ai_memory","index":0}]]},"Switch1":{"main":[[{"node":"Get Audio File","type":"main","index":0}],[{"node":"Normalize Content1","type":"main","index":0}],[{"node":"Get Image File","type":"main","index":0}],[{"node":"Get Document File","type":"main","index":0}],[],[{"node":"Notify About Message","type":"main","index":0}]]},"Agente ia":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"7fc7dceb-8a74-4738-bf8d-e6908b982d12","triggerCount":0,"shared":[{"updatedAt":"2025-11-23T14:49:27.925Z","createdAt":"2025-11-23T14:49:27.925Z","role":"workflow:owner","workflowId":"QPxRc7DqRDnmlnDM","projectId":"prlZ3bTXg0wKi0D1"}],"tags":[]}