masai-agente-sql-telegram-hFLQM3vQZrozRkQH.json
{"updatedAt":"2025-11-23T19:04:01.000Z","createdAt":"2025-11-23T18:28:27.699Z","id":"hFLQM3vQZrozRkQH","name":"masai agente sql telegram","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-112,0],"id":"5b33bb8b-b63e-400d-b3f4-7defe0a4c3e4","name":"Telegram Trigger","webhookId":"6e1df61e-e9a7-4d80-901d-747ea3783b16","credentials":{"telegramApi":{"id":"jDxsVgrb1fG40Bm1","name":"Telegram n8n_the2tor_bot"}}},{"parameters":{"promptType":"define","text":"={{ $json.userQuery }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[496,-368],"id":"9f48f883-4557-4b9f-81b4-8270c759fa9d","name":"AI Agent","disabled":true},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[496,-208],"id":"1982b9b9-f861-431d-ab40-499863cd6b1b","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}},"disabled":true},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"responses":{"values":[{"role":"system","content":"Eres experto en SQL para PrestaShop. Genera SOLO codigo SQL sin explicaciones.\nGenera SOLO codigo SQL sin formato markdown. No uses triple backticks. Solo el codigo SQL puro.\n\n\nREGLAS:\n- Solo consultas SELECT\n- Usar id_lang = 1\n- Productos activos: active = 1\n- Stock: quantity > 0\n- Precio con IVA: price * (1 + rate/100)\n- LIMIT para limitar resultados\n\nEJEMPLOS:\n\nUsuario: productos con stock\nSQL: SELECT p.id_product, pl.name AS nombre_producto, SUM(sa.quantity) AS stock_total FROM ps_product p INNER JOIN ps_product_lang pl ON p.id_product = pl.id_product AND pl.id_lang = 1 INNER JOIN ps_stock_available sa ON p.id_product = sa.id_product WHERE sa.quantity > 0 AND p.active = 1 GROUP BY p.id_product LIMIT 30;\n\nUsuario: buscar MYTO BLACK\nSQL: SELECT pl.name, al.name AS talla, sa.quantity AS stock FROM ps_product p INNER JOIN ps_product_lang pl ON p.id_product = pl.id_product AND pl.id_lang = 1 INNER JOIN ps_product_attribute pa ON p.id_product = pa.id_product INNER JOIN ps_stock_available sa ON sa.id_product = p.id_product AND sa.id_product_attribute = pa.id_product_attribute INNER JOIN ps_product_attribute_combination pac ON pa.id_product_attribute = pac.id_product_attribute INNER JOIN ps_attribute a ON pac.id_attribute = a.id_attribute AND a.id_attribute_group = 5 INNER JOIN ps_attribute_lang al ON a.id_attribute = al.id_attribute AND al.id_lang = 1 WHERE pl.name LIKE '%MYTO BLACK%' AND sa.quantity > 0;\n\nGenera SQL sin explicaciones.\n"},{"content":"=Genera SQL para PrestaShop: {{ $json.userQuery }}\n\nEsquema: {{ $json.schema }}\n\nPregunta: {{ $json.userQuery }}\n\nSQL:\n"}]},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2,"position":[896,0],"id":"3e52b346-7176-45b3-bf6d-50c1487a0044","name":"Message a model","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"operation":"executeQuery","query":"{{ $json.sqlQuery }}","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[1472,0],"id":"274784bc-1363-4eb2-83b9-838b70962fc5","name":"Execute a SQL query","alwaysOutputData":true,"credentials":{"mySql":{"id":"FozaZvgtAHuObZua","name":"MySQL account 3"}}},{"parameters":{"jsCode":"const items = $input.all();\nconst chatId = $('Telegram Trigger').item.json.message.chat.id;\nconst userQuery = $('Telegram Trigger').item.json.message.text;\n\n// Si hay error de SQL\nif (items.length === 0 || items.json.error) {\n  return [{\n    json: {\n      mensaje: `❌ Error al ejecutar la consulta\\n\\n🔍 Búsqueda: \"${userQuery}\"\\n\\n💡 Intenta ser más específico`,\n      chatId: chatId\n    }\n  }];\n}\n\n// Si no hay resultados\nif (items.length === 0 || !items.json) {\n  return [{\n    json: {\n      mensaje: `🔍 No se encontraron resultados para: \"${userQuery}\"`,\n      chatId: chatId\n    }\n  }];\n}\n\n// Formatear resultados\nlet mensaje = `🔍 <b>Resultados para:</b> \"${userQuery}\"\\n\\n`;\n\n// Detectar tipo de consulta por campos\nconst firstItem = items.json;\nconst fields = Object.keys(firstItem);\n\n// Caso 1: Producto con tallas\nif (fields.includes('talla') && fields.includes('stock')) {\n  const productosMap = {};\n  \n  items.forEach(item => {\n    const id = item.json.id_product || item.json.nombre_producto;\n    if (!productosMap[id]) {\n      productosMap[id] = {\n        nombre: item.json.nombre_producto || item.json.name,\n        tallas: []\n      };\n    }\n    productosMap[id].tallas.push(`${item.json.talla} (${item.json.stock})`);\n  });\n  \n  Object.values(productosMap).forEach((prod, idx) => {\n    mensaje += `${idx + 1}. <b>${prod.nombre}</b>\\n`;\n    mensaje += `   📏 Tallas: ${prod.tallas.join(', ')}\\n\\n`;\n  });\n}\n// Caso 2: Lista de productos\nelse if (fields.includes('nombre_producto') || fields.includes('name')) {\n  items.slice(0, 20).forEach((item, idx) => {\n    const nombre = item.json.nombre_producto || item.json.name;\n    const precio = item.json.precio_con_iva || item.json.precio || item.json.price;\n    const stock = item.json.stock_total || item.json.stock || item.json.quantity;\n    \n    mensaje += `${idx + 1}. <b>${nombre}</b>\\n`;\n    if (precio) mensaje += `   💰 ${parseFloat(precio).toFixed(2)}€\\n`;\n    if (stock) mensaje += `   📦 Stock: ${stock}\\n`;\n    mensaje += `\\n`;\n  });\n  \n  if (items.length > 20) {\n    mensaje += `\\n... y ${items.length - 20} productos más`;\n  }\n}\n// Caso 3: Datos genéricos\nelse {\n  items.slice(0, 10).forEach((item, idx) => {\n    mensaje += `${idx + 1}. `;\n    Object.entries(item.json).forEach(([key, value]) => {\n      mensaje += `${key}: ${value} | `;\n    });\n    mensaje += `\\n`;\n  });\n}\n\nreturn [{\n  json: {\n    mensaje: mensaje.trim(),\n    chatId: chatId\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1440,-352],"id":"dd9a54d9-ecf9-4039-9aa2-d98f6bb7130e","name":"Code in JavaScript2"},{"parameters":{"operation":"executeQuery","query":"SELECT p.id_product, pl.name, p.price * (1 + IFNULL(t.rate,0)/100) AS precio_con_iva, SUM(sa.quantity) AS stock_total FROM ps_product p INNER JOIN ps_product_lang pl ON (p.id_product = pl.id_product AND pl.id_lang = 1) LEFT JOIN ps_tax_rule tr ON (p.id_tax_rules_group = tr.id_tax_rules_group) LEFT JOIN ps_tax t ON (tr.id_tax = t.id_tax) INNER JOIN ps_stock_available sa ON (p.id_product = sa.id_product AND sa.id_product_attribute = 0) WHERE pl.name LIKE '%colorado%' AND p.active = 1 AND sa.quantity > 0 GROUP BY p.id_product, pl.name, precio_con_iva ORDER BY pl.name LIMIT 50;","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[1008,-352],"id":"9afdd6c6-29d9-4999-864e-372f26fd7f1d","name":"Execute a SQL query1","alwaysOutputData":true,"credentials":{"mySql":{"id":"FozaZvgtAHuObZua","name":"MySQL account 3"}}},{"parameters":{"jsCode":"const response =$input.first().json.output[0].content[0].text ;\nconst chat = $('Telegram Trigger').item.json.message.chat.id;\n\nlet sql = response.replaceAll('`', '').replace('sql', '').trim();\n\nreturn [{\n  json: {\n    sqlQuery: sql,\n    chatId: chat\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1248,0],"id":"f405d113-e736-490c-b0f5-fcdb8e0d30b4","name":"extraer sql"},{"parameters":{"jsCode":"const userMessage = $('Telegram Trigger').item.json.message.text;\nconst chatId = $('Telegram Trigger').item.json.message.chat.id;\n\nconst schemaTexto = [\n  \"BASE DE DATOS: PrestaShop MySQL\",\n  \"\",\n  \"TABLAS IMPORTANTES:\",\n  \"- ps_product (id_product, price, active, id_tax_rules_group)\",\n  \"- ps_product_lang (id_product, name, id_lang)\",\n  \"- ps_stock_available (id_product, id_product_attribute, quantity)\",\n  \"- ps_product_attribute (id_product_attribute, id_product)\",\n  \"- ps_product_attribute_combination (id_product_attribute, id_attribute)\",\n  \"- ps_attribute (id_attribute, id_attribute_group)\",\n  \"- ps_attribute_lang (id_attribute, name, id_lang)\",\n  \"- ps_category_product (id_product, id_category)\",\n  \"- ps_category_lang (id_category, name, id_lang)\",\n  \"- ps_tax_rule (id_tax_rules_group, id_tax)\",\n  \"- ps_tax (id_tax, rate)\",\n  \"\",\n  \"RELACIONES CLAVE:\",\n  \"- Producto a Nombre: ps_product.id_product = ps_product_lang.id_product\",\n  \"- Producto a Stock: ps_product.id_product = ps_stock_available.id_product\",\n  \"- Producto a Impuesto: ps_product.id_tax_rules_group = ps_tax_rule.id_tax_rules_group\",\n  \"- Tax Rule a Tax: ps_tax_rule.id_tax = ps_tax.id_tax\",\n  \"- Producto a Talla: ps_product -> ps_product_attribute -> ps_product_attribute_combination -> ps_attribute (where id_attribute_group = 5) -> ps_attribute_lang\",\n  \"\",\n  \"REGLAS:\",\n  \"- Siempre usar id_lang = 1 para español\",\n  \"- Solo productos activos: active = 1\",\n  \"- Solo con stock: quantity mayor que 0\",\n  \"- Precio con IVA: price * (1 + rate / 100)\",\n  \"- Para obtener talla usar id_attribute_group = 5\",\n  \"- Siempre usar LIMIT para limitar resultados\"\n].join('\\n');\n\nreturn [{\n  json: {\n    schema: schemaTexto,\n    userQuery: userMessage,\n    chatId: chatId\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,0],"id":"15831208-013f-4cc3-9f8b-ebd939a51184","name":"schema"},{"parameters":{"jsCode":"const items = $input.all();\nconst chatId = $('Telegram Trigger').item.json.message.chat.id;\nconst userQuery = $('Telegram Trigger').item.json.message.text;\n\nif (items.length === 0) {\n  return [{\n    json: {\n      mensaje: \"No se encontraron resultados\",\n      chatId: chatId\n    }\n  }];\n}\n\nlet mensaje = \"Resultados:\\n\\n\";\n\nconst maxItems = items.length > 20 ? 20 : items.length;\n\nfor (let i = 0; i < maxItems; i++) {\n  const item = items[i].json;\n  const numero = i + 1;\n  \n  if (item.nombre_producto || item.name) {\n    const nombre = item.nombre_producto || item.name;\n    mensaje += numero + \". \" + nombre + \"\\n\";\n    \n    if (item.precio_con_iva || item.precio || item.price) {\n      const precio = item.precio_con_iva || item.precio || item.price;\n      mensaje += \"   Precio: \" + parseFloat(precio).toFixed(2) + \" euros\\n\";\n    }\n    \n    if (item.talla) {\n      mensaje += \"   Talla: \" + item.talla;\n      if (item.stock) {\n        mensaje += \" (\" + item.stock + \" uds)\";\n      }\n      mensaje += \"\\n\";\n    }\n    \n    if (item.stock_total) {\n      mensaje += \"   Stock: \" + item.stock_total + \"\\n\";\n    }\n    \n    mensaje += \"\\n\";\n  }\n}\n\nif (items.length > 20) {\n  mensaje += \"\\n... y \" + (items.length - 20) + \" productos mas\";\n}\n\nreturn [{\n  json: {\n    mensaje: mensaje,\n    chatId: chatId\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1664,0],"id":"ec815bd1-7b64-49d9-a42d-66270fd84cb0","name":"formatear resultado"},{"parameters":{"operation":"sendPhoto","chatId":"={{ $json.chatId }}","binaryData":true,"additionalFields":{"caption":"={{ $json.mensaje }}","parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1840,-256],"id":"19e92b22-2f0e-4d64-8bf5-6cded877f37c","name":"Send a photo message1","webhookId":"bd53f0b5-7e34-4d1a-b491-d98af8fe7ca1","credentials":{"telegramApi":{"id":"jDxsVgrb1fG40Bm1","name":"Telegram n8n_the2tor_bot"}}},{"parameters":{"chatId":"={{ $json.chatId }}","text":"={{ $json.mensaje }}","additionalFields":{"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1856,0],"id":"ffe121a5-1804-488a-af0c-edc7c6a22cd6","name":"Send a text message","webhookId":"bd53f0b5-7e34-4d1a-b491-d98af8fe7ca1","credentials":{"telegramApi":{"id":"jDxsVgrb1fG40Bm1","name":"Telegram n8n_the2tor_bot"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"schema","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[]]},"Message a model":{"main":[[{"node":"extraer sql","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"formatear resultado","type":"main","index":0}]]},"extraer sql":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"schema":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"formatear resultado":{"main":[[{"node":"Send a text message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"02e55c4e-c08f-40e2-8565-aee601ea6100","triggerCount":0,"shared":[{"updatedAt":"2025-11-23T18:28:27.700Z","createdAt":"2025-11-23T18:28:27.700Z","role":"workflow:owner","workflowId":"hFLQM3vQZrozRkQH","projectId":"prlZ3bTXg0wKi0D1"}],"tags":[{"updatedAt":"2025-11-23T12:17:56.465Z","createdAt":"2025-11-23T12:17:56.465Z","id":"Q54pNAHUh70lT8jL","name":"masaifootwear"}]}