masai-agente-sql-telegram-2-49KjzmwcH054XO6p.json
{"updatedAt":"2025-11-25T23:15:46.000Z","createdAt":"2025-11-23T19:05:47.185Z","id":"49KjzmwcH054XO6p","name":"masai agente sql telegram 2","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-3376,64],"id":"d5e10e10-4ef2-493c-9396-f6ee4c12319b","name":"Telegram Trigger","webhookId":"dc21ed8c-735d-4ac3-8a5e-e3f223b41ce4","credentials":{"telegramApi":{"id":"jDxsVgrb1fG40Bm1","name":"Telegram n8n_the2tor_bot"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"responses":{"values":[{"role":"system","content":"Eres experto en SQL para PrestaShop. Genera consultas SQL que SIEMPRE encuentren productos, incluso con busqueda aproximada.\n\nESTRATEGIA DE BUSQUEDA:\n1. Busqueda exacta con LIKE\n2. Busqueda fonetica con SOUNDEX\n3. Busqueda por palabras parciales\n4. Ordenar por similitud (mejores coincidencias primero)\n\nPLANTILLA OBLIGATORIA:\n\nSELECT \n  p.id_product,\n  pl.name AS nombre_producto,\n  pl.link_rewrite AS product_rewrite,\n  p.price AS precio_base,\n  CASE \n    WHEN sp.price IS NOT NULL AND sp.price >= 0 THEN ROUND(sp.price * (1 + (t.rate / 100)), 2)\n    ELSE CASE \n      WHEN sp.reduction_type = 'percentage' THEN ROUND((p.price * (1 - sp.reduction)) * (1 + (t.rate / 100)), 2)\n      WHEN sp.reduction_type = 'amount' THEN ROUND((p.price - sp.reduction) * (1 + (t.rate / 100)), 2)\n      ELSE ROUND(p.price * (1 + (t.rate / 100)), 2)\n    END \n  END AS precio_final,\n  sp.price AS precio_especifico,\n  COALESCE(sp.reduction, 0) AS descuento,\n  COALESCE(sp.reduction_type, 'amount') AS tipo_descuento,\n  t.rate AS tasa_impuesto,\n  CONCAT('/img/p/', SUBSTRING(CAST(i.id_image AS CHAR), 1, 1), '/', SUBSTRING(CAST(i.id_image AS CHAR), 2, 1), '/', SUBSTRING(CAST(i.id_image AS CHAR), 3, 1), '/', SUBSTRING(CAST(i.id_image AS CHAR), 4, 1), '/', i.id_image, '.jpg') AS ruta_imagen,\n  cl.link_rewrite AS category_rewrite,\n  GROUP_CONCAT(DISTINCT CONCAT(al.name, ':', sa.quantity) ORDER BY CAST(al.name AS DECIMAL(10,2)) SEPARATOR '|') AS tallas_stock,\n  CASE\n    WHEN pl.name = 'PALABRA_EXACTA' THEN 1\n    WHEN pl.name LIKE 'PALABRA_EXACTA%' THEN 2\n    WHEN pl.name LIKE '%PALABRA_EXACTA%' THEN 3\n    WHEN pl.name LIKE '%PALABRA%' THEN 4\n    WHEN SOUNDEX(pl.name) = SOUNDEX('PALABRA') THEN 5\n    ELSE 6\n  END AS relevancia\nFROM ps_product p\nINNER JOIN ps_product_lang pl ON (p.id_product = pl.id_product AND pl.id_lang = 1)\nLEFT JOIN ps_image i ON (p.id_product = i.id_product AND i.cover = 1)\nLEFT JOIN ps_category_product cp ON (p.id_product = cp.id_product)\nLEFT JOIN ps_category c ON (cp.id_category = c.id_category AND c.id_category = p.id_category_default)\nLEFT JOIN ps_category_lang cl ON (c.id_category = cl.id_category AND cl.id_lang = 1)\nLEFT JOIN ps_tax_rule tr ON (p.id_tax_rules_group = tr.id_tax_rules_group)\nLEFT JOIN ps_tax t ON (tr.id_tax = t.id_tax)\nLEFT JOIN ps_specific_price sp ON (p.id_product = sp.id_product AND sp.id_product_attribute = 0 AND (sp.from = '0000-00-00 00:00:00' OR sp.from <= NOW()) AND (sp.to = '0000-00-00 00:00:00' OR sp.to >= NOW()))\nINNER JOIN ps_product_attribute pa ON (p.id_product = pa.id_product)\nINNER JOIN ps_stock_available sa ON (sa.id_product = p.id_product AND sa.id_product_attribute = pa.id_product_attribute AND sa.quantity > 0)\nINNER JOIN ps_product_attribute_combination pac ON (pa.id_product_attribute = pac.id_product_attribute)\nINNER JOIN ps_attribute a ON (pac.id_attribute = a.id_attribute AND a.id_attribute_group = 5)\nINNER JOIN ps_attribute_lang al ON (a.id_attribute = al.id_attribute AND al.id_lang = 1)\nWHERE p.active = 1 AND (\n  pl.name LIKE '%PALABRA1%' OR\n  pl.name LIKE '%PALABRA2%' OR\n  SOUNDEX(pl.name) = SOUNDEX('BUSQUEDA') OR\n  SOUNDEX(SUBSTRING_INDEX(pl.name, ' ', 1)) = SOUNDEX('PALABRA1') OR\n  SOUNDEX(SUBSTRING_INDEX(pl.name, ' ', -1)) = SOUNDEX('PALABRA2')\n)\nGROUP BY p.id_product\nORDER BY relevancia ASC, pl.name ASC\nLIMIT 10;\n\nREGLAS:\n- Dividir busqueda en palabras individuales\n- Buscar cada palabra con LIKE y SOUNDEX\n- Aplicar SOUNDEX a primera y ultima palabra del nombre\n- SIEMPRE ordenar por relevancia\n- SIEMPRE usar LIMIT 10\n\nEJEMPLOS:\n\nUsuario: mito\nWHERE: p.active = 1 AND (\n  pl.name LIKE '%mito%' OR \n  pl.name LIKE '%myto%' OR\n  SOUNDEX(pl.name) = SOUNDEX('mito') OR\n  SOUNDEX(SUBSTRING_INDEX(pl.name, ' ', 1)) = SOUNDEX('mito')\n)\n\nUsuario: sapatos deportibos (error ortografico)\nWHERE: p.active = 1 AND (\n  pl.name LIKE '%sapatos%' OR \n  pl.name LIKE '%deportibos%' OR\n  pl.name LIKE '%zapato%' OR\n  pl.name LIKE '%deportivo%' OR\n  SOUNDEX(pl.name) = SOUNDEX('sapatos') OR\n  SOUNDEX(pl.name) = SOUNDEX('deportibos')\n)\n\nUsuario: colorado\nWHERE: p.active = 1 AND (\n  pl.name LIKE '%colorado%' OR\n  SOUNDEX(pl.name) = SOUNDEX('colorado') OR\n  SOUNDEX(SUBSTRING_INDEX(pl.name, ' ', 1)) = SOUNDEX('colorado')\n)\n\nUsuario: zapatilla talla 42\nWHERE: p.active = 1 AND (\n  pl.name LIKE '%zapatilla%' OR\n  al.name = '42'\n)\n\nSi el usuario busca algo que no existe, la busqueda aproximada encontrara productos similares.\n"},{"content":"=Genera SQL para: {{ $json.userQuery }}\n\nUsa la plantilla completa y cambia solo el WHERE.\n"}]},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2,"position":[-2000,64],"id":"ec6500aa-833e-4fea-836e-de01f2745d92","name":"Message a model","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"operation":"executeQuery","query":"{{ $json.sqlQuery }}","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[-1120,64],"id":"e00e9664-ba73-4e6e-91b6-5c5a2cf6e280","name":"Execute a SQL query","alwaysOutputData":true,"credentials":{"mySql":{"id":"FozaZvgtAHuObZua","name":"MySQL account 3"}}},{"parameters":{"operation":"executeQuery","query":"SELECT p.id_product, pl.name, p.price * (1 + IFNULL(t.rate,0)/100) AS precio_con_iva, SUM(sa.quantity) AS stock_total FROM ps_product p INNER JOIN ps_product_lang pl ON (p.id_product = pl.id_product AND pl.id_lang = 1) LEFT JOIN ps_tax_rule tr ON (p.id_tax_rules_group = tr.id_tax_rules_group) LEFT JOIN ps_tax t ON (tr.id_tax = t.id_tax) INNER JOIN ps_stock_available sa ON (p.id_product = sa.id_product AND sa.id_product_attribute = 0) WHERE pl.name LIKE '%colorado%' AND p.active = 1 AND sa.quantity > 0 GROUP BY p.id_product, pl.name, precio_con_iva ORDER BY pl.name LIMIT 50;","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[-768,448],"id":"6680b92c-5739-4b63-aff4-d9ddd3412a93","name":"Execute a SQL query1","alwaysOutputData":true,"credentials":{"mySql":{"id":"FozaZvgtAHuObZua","name":"MySQL account 3"}}},{"parameters":{"jsCode":"const response =$input.first().json.output[0].content[0].text ;\nconst chat = $('Telegram Trigger').item.json.message.chat.id;\n\nlet sql = response.replaceAll('`', '').replace('sql', '').trim();\n\nreturn [{\n  json: {\n    sqlQuery: sql,\n    chatId: chat\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1376,64],"id":"80e1721a-9ab5-425b-94a3-74f4d109b6a1","name":"extraer sql"},{"parameters":{"jsCode":"const userMessage = $input.first().json.text;\nconst chatId = $('Telegram Trigger').item.json.message.chat.id;\n\nconst schemaTexto = [\n  \"CONDICIONES WHERE COMUNES:\",\n  \"- Buscar por nombre: pl.name LIKE '%nombre%'\",\n  \"- Buscar por categoria: cl.name LIKE '%categoria%'\",\n  \"- Buscar por talla: al.name = 'talla'\",\n  \"- Con descuento: sp.reduction > 0\",\n  \"- Todos activos: p.active = 1\",\n  \"\",\n  \"Combina condiciones con AND/OR segun necesidad\"\n].join('\\n');\n\nreturn [{\n  json: {\n    schema: schemaTexto,\n    userQuery: userMessage,\n    chatId: chatId\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2160,64],"id":"1cebc2cc-f08a-4c62-9dcf-8c5225d58d8c","name":"schema"},{"parameters":{"jsCode":"const items = $input.all();\n\nif (items.length === 0) {\n  return [{\n    json: {\n      mensaje: \"❌ No se encontró el producto o no hay tallas en stock\",\n      chatId: $('Telegram Trigger').item.json.message.chat.id\n    }\n  }];\n}\n\n// Convertir a array de productos\nconst productos = items.map(item => {\n  const producto = item.json;\n  const descuento = parseFloat(producto.descuento) || 0;\n  const precioEspecifico = producto.precio_especifico !== null ? parseFloat(producto.precio_especifico) : null;\n  const tasaImpuesto = parseFloat(producto.tasa_impuesto) || 0;\n  const precioBase = parseFloat(producto.precio_base);\n  \n  const productoUrl = `https://masaifootwear.com/${producto.category_rewrite}/${producto.product_rewrite}.html`;\n  \n  let mensajePrecio;\n  \n  if (precioEspecifico !== null && precioEspecifico >= 0) {\n    const precioEspecificoConIVA = parseFloat((precioEspecifico * (1 + (tasaImpuesto / 100))).toFixed(2));\n    \n    if (descuento > 0) {\n      let precioFinal;\n      let descuentoTexto;\n      \n      if (producto.tipo_descuento === 'percentage') {\n        precioFinal = (precioEspecificoConIVA * (1 - descuento)).toFixed(2);\n        descuentoTexto = `${(descuento * 100).toFixed(0)}%`;\n      } else {\n        precioFinal = (precioEspecificoConIVA - descuento).toFixed(2);\n        descuentoTexto = `${descuento.toFixed(2)}€`;\n      }\n      \n      mensajePrecio = `💰 <b>Precio:</b> <s>${precioEspecificoConIVA.toFixed(2)}€</s> - 🎁 <b>Descuento:</b> ${descuentoTexto} - <b>Precio final:</b> ${precioFinal}€`;\n    } else {\n      const precioBaseConIVA = (precioBase * (1 + (tasaImpuesto / 100))).toFixed(2);\n      mensajePrecio = `💰 <b>Precio:</b> <s>${precioBaseConIVA}€</s> → ${precioEspecificoConIVA.toFixed(2)}€ (IVA inc.) - ⭐ <b>Precio especial</b>`;\n    }\n  } else if (descuento > 0) {\n    const precioBaseConIVA = parseFloat((precioBase * (1 + (tasaImpuesto / 100))).toFixed(2));\n    \n    let precioFinal;\n    let descuentoTexto;\n    \n    if (producto.tipo_descuento === 'percentage') {\n      precioFinal = (precioBaseConIVA * (1 - descuento)).toFixed(2);\n      descuentoTexto = `${(descuento * 100).toFixed(0)}%`;\n    } else {\n      precioFinal = (precioBaseConIVA - descuento).toFixed(2);\n      descuentoTexto = `${descuento.toFixed(2)}€`;\n    }\n    \n    mensajePrecio = `💰 <b>Precio:</b> <s>${precioBaseConIVA.toFixed(2)}€</s> - 🎁 <b>Descuento:</b> ${descuentoTexto} - <b>Precio final:</b> ${precioFinal}€`;\n  } else {\n    const precioFinal = (precioBase * (1 + (tasaImpuesto / 100))).toFixed(2);\n    mensajePrecio = `💰 <b>Precio:</b> ${precioFinal}€ (IVA incluido)`;\n  }\n  \n  // Parsear tallas_stock - VERIFICAR SI EXISTE Y NO ES NULL\n  let tallasArray = [];\n  \n  if (producto.tallas_stock && producto.tallas_stock.trim() !== '') {\n    tallasArray = producto.tallas_stock.split('|').map(tallaStock => {\n      const [talla, stock] = tallaStock.split(':');\n      return `${talla} (${stock})`;\n    });\n  } else {\n    tallasArray = ['Sin tallas disponibles'];\n  }\n  \n  const mensaje = `\n🛍️ <b>${producto.nombre_producto}</b>\n\n${mensajePrecio}\n\n📏 <b>Tallas disponibles:</b>\n${tallasArray.join(', ')}\n\n🛒 <a href=\"${productoUrl}\">Ver producto y comprar</a>\n  `.trim();\n  \n  return {\n    json: {\n      mensaje: mensaje,\n      chatId: $('Telegram Trigger').item.json.message.chat.id,\n      imagen_url: 'https://masaifootwear.com' + producto.ruta_imagen\n    }\n  };\n});\n\nreturn productos;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-448,176],"id":"7a0dab4f-5f9c-4d04-af21-4876c453bb04","name":"formatear resultado"},{"parameters":{"operation":"sendPhoto","chatId":"={{ $json.chatId }}","binaryData":true,"additionalFields":{"caption":"={{ $json.mensaje }}","parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[208,176],"id":"dcac18a7-b7a1-4e1c-ba30-55cf1a300915","name":"Send a photo message1","webhookId":"a99e3bf2-6287-4a93-9415-d09ff9740c6d","credentials":{"telegramApi":{"id":"jDxsVgrb1fG40Bm1","name":"Telegram n8n_the2tor_bot"}}},{"parameters":{"chatId":"={{ $('extraer sql').item.json.chatId }}","text":"={{ $json.mensaje }}","additionalFields":{"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[192,-112],"id":"24852978-a8b6-4987-9b88-d6a22128b44d","name":"Send a text message","webhookId":"ba4c164c-d7de-48ab-987a-1cd3f4caf5a3","credentials":{"telegramApi":{"id":"jDxsVgrb1fG40Bm1","name":"Telegram n8n_the2tor_bot"}}},{"parameters":{"url":"={{ $json.imagen_url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-128,176],"id":"21fc94d4-1d9c-4c45-a1e7-17ff984ce131","name":"HTTP Request"},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-2944,-64],"id":"2f495ce5-64bb-4e0e-bede-27d275537cfb","name":"Get Audio File","webhookId":"b9ec8276-c153-4b94-86db-b91a4e20d5bc","credentials":{"telegramApi":{"id":"jDxsVgrb1fG40Bm1","name":"Telegram n8n_the2tor_bot"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-2768,-64],"id":"07079e4c-2461-4dc5-86d6-c21e806759a6","name":"Transcribe Recording","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.from.id }}","text":"Lo sentimos, solo mensajes de texto o de audio","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-2944,192],"id":"159b295f-28a8-4c95-88f3-218553678d13","name":"Notify About Message","webhookId":"79a39611-fd1b-4719-b2d2-4250e1f20a9b","credentials":{"telegramApi":{"id":"jDxsVgrb1fG40Bm1","name":"Telegram n8n_the2tor_bot"}}},{"parameters":{"assignments":{"assignments":[{"id":"1d1411b8-e185-417c-86ce-b7af234efc3c","name":"text","value":"={{ $json.text }} {{ $json.message.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2368,64],"id":"eb77501c-dd88-4e6a-b2be-bd2c2405ef10","name":"Get Message"},{"parameters":{"assignments":{"assignments":[{"id":"b4bec628-0972-4cf3-a58e-35289257eef3","name":"text","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2592,-64],"id":"29302f71-b2bc-4c52-a6c4-041a68c309f8","name":"Normalize Content"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.voice.mime_type }}","rightValue":"audio/ogg","operator":{"type":"string","operation":"equals"},"id":"c6117e1e-21aa-4ed4-ac15-f5dabbc9ca95"}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4344a1ac-3d62-4039-a944-09b5373a1c2c","leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"Any Other"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-3184,48],"id":"9b3fb825-bb9f-45b9-b806-b0eec8d9f038","name":"Switch"},{"parameters":{"jsCode":"const userMessage = $('Telegram Trigger').item.json.message.text;\nconst chatId = $('Telegram Trigger').item.json.message.chat.id;\n\nconst schemaTexto = [\n  \"CONDICIONES WHERE COMUNES:\",\n  \"- Buscar por nombre: pl.name LIKE '%nombre%'\",\n  \"- Buscar por categoria: cl.name LIKE '%categoria%'\",\n  \"- Buscar por talla: al.name = 'talla'\",\n  \"- Con descuento: sp.reduction > 0\",\n  \"- Todos activos: p.active = 1\",\n  \"\",\n  \"Combina condiciones con AND/OR segun necesidad\"\n].join('\\n');\n\nreturn [{\n  json: {\n    schema: schemaTexto,\n    userQuery: userMessage,\n    chatId: chatId\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1840,448],"id":"d5b6c4a5-a8a8-468c-8f32-ea3b6116d3ef","name":"schema1 para telegram simple"},{"parameters":{"jsCode":"const userMessage = $input.first().json.messages;\nconst chatId = $('Telegram Trigger').item.json.message.chat.id;\n\nconst schemaTexto = [\n  \"CONDICIONES WHERE COMUNES:\",\n  \"- Buscar por nombre: pl.name LIKE '%nombre%'\",\n  \"- Buscar por categoria: cl.name LIKE '%categoria%'\",\n  \"- Buscar por talla: al.name = 'talla'\",\n  \"- Con descuento: sp.reduction > 0\",\n  \"- Todos activos: p.active = 1\",\n  \"\",\n  \"Combina condiciones con AND/OR segun necesidad\"\n].join('\\n');\n\nreturn [{\n  json: {\n    schema: schemaTexto,\n    userQuery: userMessage,\n    chatId: chatId\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1600,448],"id":"1f71a9e7-38f9-4b1a-b194-c1baffcf60d1","name":"schema1"},{"parameters":{"jsCode":"const items = $input.all();\nconst userQuery = $('Telegram Trigger').item.json.message.text;\nconst chatId = $('Telegram Trigger').item.json.message.chat.id;\n\n// Si encontró resultados, continuar normal\nif (items.length > 0) {\n  return items;\n}\n\n// Si NO encontró nada, marcar para búsqueda ampliada\nreturn [{\n  json: {\n    noResults: true,\n    originalQuery: userQuery,\n    chatId: chatId,\n    needsFallbackSearch: true\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1680,64],"id":"fd6609c3-261d-44ee-afbd-300e6dcc72bd","name":"Code in JavaScript"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"239ee595-6e57-48c8-9755-81691ed250c8","leftValue":"={{ $json.noResults }}","rightValue":"true","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-688,-112],"id":"5544de2c-ad4f-4880-8233-16ff5ade9b4d","name":"If"},{"parameters":{"operation":"executeQuery","query":"SELECT \n  p.id_product,\n  pl.name AS nombre_producto,\n  pl.link_rewrite AS product_rewrite,\n  p.price AS precio_base,\n  CASE \n    WHEN sp.price IS NOT NULL AND sp.price >= 0 THEN ROUND(sp.price * (1 + (t.rate / 100)), 2)\n    ELSE CASE \n      WHEN sp.reduction_type = 'percentage' THEN ROUND((p.price * (1 - sp.reduction)) * (1 + (t.rate / 100)), 2)\n      WHEN sp.reduction_type = 'amount' THEN ROUND((p.price - sp.reduction) * (1 + (t.rate / 100)), 2)\n      ELSE ROUND(p.price * (1 + (t.rate / 100)), 2)\n    END \n  END AS precio_final,\n  sp.price AS precio_especifico,\n  COALESCE(sp.reduction, 0) AS descuento,\n  COALESCE(sp.reduction_type, 'amount') AS tipo_descuento,\n  t.rate AS tasa_impuesto,\n  CONCAT('/img/p/', SUBSTRING(CAST(i.id_image AS CHAR), 1, 1), '/', SUBSTRING(CAST(i.id_image AS CHAR), 2, 1), '/', SUBSTRING(CAST(i.id_image AS CHAR), 3, 1), '/', SUBSTRING(CAST(i.id_image AS CHAR), 4, 1), '/', i.id_image, '.jpg') AS ruta_imagen,\n  cl.link_rewrite AS category_rewrite,\n  GROUP_CONCAT(DISTINCT CONCAT(al.name, ':', sa.quantity) ORDER BY CAST(al.name AS DECIMAL(10,2)) SEPARATOR '|') AS tallas_stock\nFROM ps_product p\nINNER JOIN ps_product_lang pl ON (p.id_product = pl.id_product AND pl.id_lang = 1)\nLEFT JOIN ps_image i ON (p.id_product = i.id_product AND i.cover = 1)\nLEFT JOIN ps_category_product cp ON (p.id_product = cp.id_product)\nLEFT JOIN ps_category c ON (cp.id_category = c.id_category AND c.id_category = p.id_category_default)\nLEFT JOIN ps_category_lang cl ON (c.id_category = cl.id_category AND cl.id_lang = 1)\nLEFT JOIN ps_tax_rule tr ON (p.id_tax_rules_group = tr.id_tax_rules_group)\nLEFT JOIN ps_tax t ON (tr.id_tax = t.id_tax)\nLEFT JOIN ps_specific_price sp ON (p.id_product = sp.id_product AND sp.id_product_attribute = 0 AND (sp.from = '0000-00-00 00:00:00' OR sp.from <= NOW()) AND (sp.to = '0000-00-00 00:00:00' OR sp.to >= NOW()))\nINNER JOIN ps_product_attribute pa ON (p.id_product = pa.id_product)\nINNER JOIN ps_stock_available sa ON (sa.id_product = p.id_product AND sa.id_product_attribute = pa.id_product_attribute AND sa.quantity > 0)\nINNER JOIN ps_product_attribute_combination pac ON (pa.id_product_attribute = pac.id_product_attribute)\nINNER JOIN ps_attribute a ON (pac.id_attribute = a.id_attribute AND a.id_attribute_group = 5)\nINNER JOIN ps_attribute_lang al ON (a.id_attribute = al.id_attribute AND al.id_lang = 1)\nWHERE p.active = 1\nGROUP BY p.id_product\nORDER BY RAND()\nLIMIT 5;\n","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[-448,-112],"id":"c9682448-ba78-4399-a5a0-08c5fab1be33","name":"Execute a SQL fallback","alwaysOutputData":true,"credentials":{"mySql":{"id":"FozaZvgtAHuObZua","name":"MySQL account 3"}}},{"parameters":{"jsCode":"const items = $input.all();\nconst chatId = $json.chatId;\nconst originalQuery = $json.originalQuery;\n\nlet mensaje = 'No se encontraron resultados exactos para: \"' + originalQuery + '\"\\n\\n';\n\nif (items.length > 0) {\n  mensaje += 'Tal vez te interesen estos productos:\\n\\n';\n  \n  items.slice(0, 5).forEach(function(item, idx) {\n    const producto = item.json;\n    mensaje += (idx + 1) + '. ' + producto.nombre_producto + '\\n';\n    \n    if (producto.precio_final) {\n      mensaje += '   Precio: ' + parseFloat(producto.precio_final).toFixed(2) + ' euros\\n';\n    }\n    \n    if (producto.tallas_stock) {\n      const tallas = producto.tallas_stock.split('|').map(function(t) {\n        return t.split(':')[0];\n      });\n      mensaje += '   Tallas: ' + tallas.join(', ') + '\\n';\n    }\n    \n    mensaje += '\\n';\n  });\n  \n  mensaje += 'Escribe el nombre exacto del producto para ver detalles';\n} else {\n  mensaje += 'No hay productos disponibles\\n\\n';\n  mensaje += 'Escribe /catalogo para ver todos los productos';\n}\n\nreturn [{\n  json: {\n    mensaje: mensaje,\n    chatId: chatId,\n    isSuggestion: true\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-224,-112],"id":"0813d7c8-791b-48be-9aa2-0525595651a2","name":"formatear resultado1"}],"connections":{"Telegram Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"formatear resultado","type":"main","index":0}]]},"extraer sql":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"schema":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"formatear resultado":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Send a photo message1","type":"main","index":0}]]},"Get Audio File":{"main":[[{"node":"Transcribe Recording","type":"main","index":0}]]},"Transcribe Recording":{"main":[[{"node":"Normalize Content","type":"main","index":0}]]},"Get Message":{"main":[[{"node":"schema","type":"main","index":0}]]},"Normalize Content":{"main":[[{"node":"Get Message","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Get Audio File","type":"main","index":0}],[{"node":"Get Message","type":"main","index":0}],[{"node":"Notify About Message","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"extraer sql","type":"main","index":0}]]},"If":{"main":[[{"node":"Execute a SQL fallback","type":"main","index":0}]]},"Execute a SQL fallback":{"main":[[{"node":"formatear resultado1","type":"main","index":0}]]},"formatear resultado1":{"main":[[{"node":"Send a text message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"95bace36-010b-4ac7-a364-6a9a33467f88","triggerCount":1,"shared":[{"updatedAt":"2025-11-23T19:05:47.187Z","createdAt":"2025-11-23T19:05:47.187Z","role":"workflow:owner","workflowId":"49KjzmwcH054XO6p","projectId":"prlZ3bTXg0wKi0D1"}],"tags":[{"updatedAt":"2025-11-23T12:17:56.465Z","createdAt":"2025-11-23T12:17:56.465Z","id":"Q54pNAHUh70lT8jL","name":"masaifootwear"}]}