masai-from-telegram-sin-ia-F6AjiZvyZZmfVPH9.json
{"updatedAt":"2025-11-23T18:38:20.000Z","createdAt":"2025-11-23T12:17:46.061Z","id":"F6AjiZvyZZmfVPH9","name":"Masai from telegram sin IA","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-208,0],"id":"ebf2b9e5-436f-461a-8b0d-455c0236679b","name":"Telegram Trigger","webhookId":"6e1df61e-e9a7-4d80-901d-747ea3783b16","credentials":{"telegramApi":{"id":"jDxsVgrb1fG40Bm1","name":"Telegram n8n_the2tor_bot"}}},{"parameters":{"jsCode":"return [{\n  json: {\n    nombre_limpio: $input.item.json.message.text.trim()\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0],"id":"b8fa9d74-f06d-4ec2-a35a-cba64975f1ba","name":"Code in JavaScript"},{"parameters":{"operation":"executeQuery","query":"SELECT p.id_product, pl.name AS nombre_producto, pl.link_rewrite AS product_rewrite, p.price AS precio_base, CASE WHEN sp.price IS NOT NULL AND sp.price >= 0 THEN ROUND(sp.price * (1 + (t.rate / 100)), 2) ELSE CASE WHEN sp.reduction_type = 'percentage' THEN ROUND((p.price * (1 - sp.reduction)) * (1 + (t.rate / 100)), 2) WHEN sp.reduction_type = 'amount' THEN ROUND((p.price - sp.reduction) * (1 + (t.rate / 100)), 2) ELSE ROUND(p.price * (1 + (t.rate / 100)), 2) END END AS precio_final, sp.price AS precio_especifico, COALESCE(sp.reduction, 0) AS descuento, COALESCE(sp.reduction_type, 'amount') AS tipo_descuento, t.rate AS tasa_impuesto, CONCAT('/img/p/', SUBSTRING(CAST(i.id_image AS CHAR), 1, 1), '/', SUBSTRING(CAST(i.id_image AS CHAR), 2, 1), '/', SUBSTRING(CAST(i.id_image AS CHAR), 3, 1), '/', SUBSTRING(CAST(i.id_image AS CHAR), 4, 1), '/', i.id_image, '.jpg') AS ruta_imagen, cl.link_rewrite AS category_rewrite, GROUP_CONCAT(DISTINCT CONCAT(al.name, ':', sa.quantity) ORDER BY CAST(al.name AS DECIMAL(10,2)) SEPARATOR '|') AS tallas_stock FROM ps_product p INNER JOIN ps_product_lang pl ON (p.id_product = pl.id_product AND pl.id_lang = 1) LEFT JOIN ps_image i ON (p.id_product = i.id_product AND i.cover = 1) LEFT JOIN ps_category_product cp ON (p.id_product = cp.id_product) LEFT JOIN ps_category c ON (cp.id_category = c.id_category AND c.id_category = p.id_category_default) LEFT JOIN ps_category_lang cl ON (c.id_category = cl.id_category AND cl.id_lang = 1) LEFT JOIN ps_tax_rule tr ON (p.id_tax_rules_group = tr.id_tax_rules_group) LEFT JOIN ps_tax t ON (tr.id_tax = t.id_tax) LEFT JOIN ps_specific_price sp ON (p.id_product = sp.id_product AND sp.id_product_attribute = 0 AND (sp.from = '0000-00-00 00:00:00' OR sp.from <= NOW()) AND (sp.to = '0000-00-00 00:00:00' OR sp.to >= NOW())) INNER JOIN ps_product_attribute pa ON (p.id_product = pa.id_product) INNER JOIN ps_stock_available sa ON (sa.id_product = p.id_product AND sa.id_product_attribute = pa.id_product_attribute AND sa.quantity > 0) INNER JOIN ps_product_attribute_combination pac ON (pa.id_product_attribute = pac.id_product_attribute) INNER JOIN ps_attribute a ON (pac.id_attribute = a.id_attribute AND a.id_attribute_group = 5) INNER JOIN ps_attribute_lang al ON (a.id_attribute = al.id_attribute AND al.id_lang = 1) WHERE pl.name LIKE CONCAT('%', '{{ $json.nombre_limpio }}', '%') GROUP BY p.id_product;\n","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[208,0],"id":"fc71a6f8-ab07-4888-86a3-49ef11ab0a46","name":"Execute a SQL query","alwaysOutputData":true,"credentials":{"mySql":{"id":"FozaZvgtAHuObZua","name":"MySQL account 3"}}},{"parameters":{"jsCode":"const items = $input.all();\n\nif (items.length === 0) {\n  return [{\n    json: {\n      mensaje: \"❌ No se encontró el producto o no hay tallas en stock\",\n      chatId: $('Telegram Trigger').item.json.message.chat.id\n    }\n  }];\n}\n\n// Convertir a array de productos\nconst productos = items.map(item => {\n  const producto = item.json;\n  const descuento = parseFloat(producto.descuento) || 0;\n  const precioEspecifico = producto.precio_especifico !== null ? parseFloat(producto.precio_especifico) : null;\n  const tasaImpuesto = parseFloat(producto.tasa_impuesto) || 0;\n  const precioBase = parseFloat(producto.precio_base);\n  \n  const productoUrl = `https://masaifootwear.com/${producto.category_rewrite}/${producto.product_rewrite}.html`;\n  \n  let mensajePrecio;\n  \n  if (precioEspecifico !== null && precioEspecifico >= 0) {\n    const precioEspecificoConIVA = parseFloat((precioEspecifico * (1 + (tasaImpuesto / 100))).toFixed(2));\n    \n    if (descuento > 0) {\n      let precioFinal;\n      let descuentoTexto;\n      \n      if (producto.tipo_descuento === 'percentage') {\n        precioFinal = (precioEspecificoConIVA * (1 - descuento)).toFixed(2);\n        descuentoTexto = `${(descuento * 100).toFixed(0)}%`;\n      } else {\n        precioFinal = (precioEspecificoConIVA - descuento).toFixed(2);\n        descuentoTexto = `${descuento.toFixed(2)}€`;\n      }\n      \n      mensajePrecio = `💰 <b>Precio:</b> <s>${precioEspecificoConIVA.toFixed(2)}€</s> - 🎁 <b>Descuento:</b> ${descuentoTexto} - <b>Precio final:</b> ${precioFinal}€`;\n    } else {\n      const precioBaseConIVA = (precioBase * (1 + (tasaImpuesto / 100))).toFixed(2);\n      mensajePrecio = `💰 <b>Precio:</b> <s>${precioBaseConIVA}€</s> → ${precioEspecificoConIVA.toFixed(2)}€ (IVA inc.) - ⭐ <b>Precio especial</b>`;\n    }\n  } else if (descuento > 0) {\n    const precioBaseConIVA = parseFloat((precioBase * (1 + (tasaImpuesto / 100))).toFixed(2));\n    \n    let precioFinal;\n    let descuentoTexto;\n    \n    if (producto.tipo_descuento === 'percentage') {\n      precioFinal = (precioBaseConIVA * (1 - descuento)).toFixed(2);\n      descuentoTexto = `${(descuento * 100).toFixed(0)}%`;\n    } else {\n      precioFinal = (precioBaseConIVA - descuento).toFixed(2);\n      descuentoTexto = `${descuento.toFixed(2)}€`;\n    }\n    \n    mensajePrecio = `💰 <b>Precio:</b> <s>${precioBaseConIVA.toFixed(2)}€</s> - 🎁 <b>Descuento:</b> ${descuentoTexto} - <b>Precio final:</b> ${precioFinal}€`;\n  } else {\n    const precioFinal = (precioBase * (1 + (tasaImpuesto / 100))).toFixed(2);\n    mensajePrecio = `💰 <b>Precio:</b> ${precioFinal}€ (IVA incluido)`;\n  }\n  \n  // Parsear tallas_stock - VERIFICAR SI EXISTE Y NO ES NULL\n  let tallasArray = [];\n  \n  if (producto.tallas_stock && producto.tallas_stock.trim() !== '') {\n    tallasArray = producto.tallas_stock.split('|').map(tallaStock => {\n      const [talla, stock] = tallaStock.split(':');\n      return `${talla} (${stock})`;\n    });\n  } else {\n    tallasArray = ['Sin tallas disponibles'];\n  }\n  \n  const mensaje = `\n🛍️ <b>${producto.nombre_producto}</b>\n\n${mensajePrecio}\n\n📏 <b>Tallas disponibles:</b>\n${tallasArray.join(', ')}\n\n🛒 <a href=\"${productoUrl}\">Ver producto y comprar</a>\n  `.trim();\n  \n  return {\n    json: {\n      mensaje: mensaje,\n      chatId: $('Telegram Trigger').item.json.message.chat.id,\n      imagen_url: 'https://masaifootwear.com' + producto.ruta_imagen\n    }\n  };\n});\n\nreturn productos;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[432,0],"id":"8971936e-1908-476f-b935-3b1e9d05b6f0","name":"Code in JavaScript1"},{"parameters":{"url":"={{ $json.imagen_url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[640,0],"id":"70bf68b5-e3c9-46a6-9f40-db82a093e6fd","name":"HTTP Request"},{"parameters":{"operation":"sendPhoto","chatId":"={{ $json.chatId }}","binaryData":true,"additionalFields":{"caption":"={{ $json.mensaje }}","parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[848,0],"id":"5d9db139-703f-4840-9141-9bc18fcb9154","name":"Send a photo message","webhookId":"bd53f0b5-7e34-4d1a-b491-d98af8fe7ca1","credentials":{"telegramApi":{"id":"jDxsVgrb1fG40Bm1","name":"Telegram n8n_the2tor_bot"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Send a photo message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f0b3af28-e05d-4ba0-b788-da4f926237fe","triggerCount":1,"shared":[{"updatedAt":"2025-11-23T12:17:46.064Z","createdAt":"2025-11-23T12:17:46.064Z","role":"workflow:owner","workflowId":"F6AjiZvyZZmfVPH9","projectId":"prlZ3bTXg0wKi0D1"}],"tags":[{"updatedAt":"2025-11-23T12:17:56.465Z","createdAt":"2025-11-23T12:17:56.465Z","id":"Q54pNAHUh70lT8jL","name":"masaifootwear"}]}