masai-from-telegram-D4e3ZrLtJh8M2NNB.json
{"updatedAt":"2025-11-23T14:30:24.000Z","createdAt":"2025-11-23T11:13:58.633Z","id":"D4e3ZrLtJh8M2NNB","name":"Masai from telegram","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-352,-432],"id":"96592b7b-e2cc-4747-9510-eab9cc6f1d5d","name":"Telegram Trigger","webhookId":"6e1df61e-e9a7-4d80-901d-747ea3783b16","credentials":{"telegramApi":{"id":"jDxsVgrb1fG40Bm1","name":"Telegram n8n_the2tor_bot"}}},{"parameters":{"jsCode":"return [{\n  json: {\n    nombre_limpio: $input.item.json.message.text.trim()\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[592,-224],"id":"fe0ebad3-ea6a-4df9-ba8f-ddd28640d1bf","name":"Code in JavaScript"},{"parameters":{"operation":"executeQuery","query":"SELECT p.id_product, pl.name AS nombre_producto, pl.link_rewrite AS product_rewrite, p.price AS precio_base, CASE WHEN sp.price IS NOT NULL AND sp.price >= 0 THEN ROUND(sp.price * (1 + (t.rate / 100)), 2) ELSE CASE WHEN sp.reduction_type = 'percentage' THEN ROUND((p.price * (1 - sp.reduction)) * (1 + (t.rate / 100)), 2) WHEN sp.reduction_type = 'amount' THEN ROUND((p.price - sp.reduction) * (1 + (t.rate / 100)), 2) ELSE ROUND(p.price * (1 + (t.rate / 100)), 2) END END AS precio_final, sp.price AS precio_especifico, COALESCE(sp.reduction, 0) AS descuento, COALESCE(sp.reduction_type, 'amount') AS tipo_descuento, t.rate AS tasa_impuesto, CONCAT('/img/p/', SUBSTRING(CAST(i.id_image AS CHAR), 1, 1), '/', SUBSTRING(CAST(i.id_image AS CHAR), 2, 1), '/', SUBSTRING(CAST(i.id_image AS CHAR), 3, 1), '/', SUBSTRING(CAST(i.id_image AS CHAR), 4, 1), '/', i.id_image, '.jpg') AS ruta_imagen, cl.link_rewrite AS category_rewrite, GROUP_CONCAT(DISTINCT CONCAT(al.name, ':', sa.quantity) ORDER BY CAST(al.name AS DECIMAL(10,2)) SEPARATOR '|') AS tallas_stock FROM ps_product p INNER JOIN ps_product_lang pl ON (p.id_product = pl.id_product AND pl.id_lang = 1) LEFT JOIN ps_image i ON (p.id_product = i.id_product AND i.cover = 1) LEFT JOIN ps_category_product cp ON (p.id_product = cp.id_product) LEFT JOIN ps_category c ON (cp.id_category = c.id_category AND c.id_category = p.id_category_default) LEFT JOIN ps_category_lang cl ON (c.id_category = cl.id_category AND cl.id_lang = 1) LEFT JOIN ps_tax_rule tr ON (p.id_tax_rules_group = tr.id_tax_rules_group) LEFT JOIN ps_tax t ON (tr.id_tax = t.id_tax) LEFT JOIN ps_specific_price sp ON (p.id_product = sp.id_product AND sp.id_product_attribute = 0 AND (sp.from = '0000-00-00 00:00:00' OR sp.from <= NOW()) AND (sp.to = '0000-00-00 00:00:00' OR sp.to >= NOW())) INNER JOIN ps_product_attribute pa ON (p.id_product = pa.id_product) INNER JOIN ps_stock_available sa ON (sa.id_product = p.id_product AND sa.id_product_attribute = pa.id_product_attribute AND sa.quantity > 0) INNER JOIN ps_product_attribute_combination pac ON (pa.id_product_attribute = pac.id_product_attribute) INNER JOIN ps_attribute a ON (pac.id_attribute = a.id_attribute AND a.id_attribute_group = 5) INNER JOIN ps_attribute_lang al ON (a.id_attribute = al.id_attribute AND al.id_lang = 1) WHERE pl.name LIKE CONCAT('%', '{{ $json.nombre_limpio }}', '%') GROUP BY p.id_product;\n","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[800,-224],"id":"14753250-756b-427b-9d6e-415109ae041a","name":"Execute a SQL query","alwaysOutputData":true,"credentials":{"mySql":{"id":"FozaZvgtAHuObZua","name":"MySQL account 3"}}},{"parameters":{"jsCode":"const items = $input.all();\n\nif (items.length === 0) {\n  return [{\n    json: {\n      mensaje: \"❌ No se encontró el producto o no hay tallas en stock\",\n      chatId: $('Telegram Trigger').item.json.message.chat.id\n    }\n  }];\n}\n\n// Convertir a array de productos\nconst productos = items.map(item => {\n  const producto = item.json;\n  const descuento = parseFloat(producto.descuento) || 0;\n  const precioEspecifico = producto.precio_especifico !== null ? parseFloat(producto.precio_especifico) : null;\n  const tasaImpuesto = parseFloat(producto.tasa_impuesto) || 0;\n  const precioBase = parseFloat(producto.precio_base);\n  \n  const productoUrl = `https://masaifootwear.com/${producto.category_rewrite}/${producto.product_rewrite}.html`;\n  \n  let mensajePrecio;\n  \n  if (precioEspecifico !== null && precioEspecifico >= 0) {\n    const precioEspecificoConIVA = parseFloat((precioEspecifico * (1 + (tasaImpuesto / 100))).toFixed(2));\n    \n    if (descuento > 0) {\n      let precioFinal;\n      let descuentoTexto;\n      \n      if (producto.tipo_descuento === 'percentage') {\n        precioFinal = (precioEspecificoConIVA * (1 - descuento)).toFixed(2);\n        descuentoTexto = `${(descuento * 100).toFixed(0)}%`;\n      } else {\n        precioFinal = (precioEspecificoConIVA - descuento).toFixed(2);\n        descuentoTexto = `${descuento.toFixed(2)}€`;\n      }\n      \n      mensajePrecio = `💰 <b>Precio:</b> <s>${precioEspecificoConIVA.toFixed(2)}€</s> - 🎁 <b>Descuento:</b> ${descuentoTexto} - <b>Precio final:</b> ${precioFinal}€`;\n    } else {\n      const precioBaseConIVA = (precioBase * (1 + (tasaImpuesto / 100))).toFixed(2);\n      mensajePrecio = `💰 <b>Precio:</b> <s>${precioBaseConIVA}€</s> → ${precioEspecificoConIVA.toFixed(2)}€ (IVA inc.) - ⭐ <b>Precio especial</b>`;\n    }\n  } else if (descuento > 0) {\n    const precioBaseConIVA = parseFloat((precioBase * (1 + (tasaImpuesto / 100))).toFixed(2));\n    \n    let precioFinal;\n    let descuentoTexto;\n    \n    if (producto.tipo_descuento === 'percentage') {\n      precioFinal = (precioBaseConIVA * (1 - descuento)).toFixed(2);\n      descuentoTexto = `${(descuento * 100).toFixed(0)}%`;\n    } else {\n      precioFinal = (precioBaseConIVA - descuento).toFixed(2);\n      descuentoTexto = `${descuento.toFixed(2)}€`;\n    }\n    \n    mensajePrecio = `💰 <b>Precio:</b> <s>${precioBaseConIVA.toFixed(2)}€</s> - 🎁 <b>Descuento:</b> ${descuentoTexto} - <b>Precio final:</b> ${precioFinal}€`;\n  } else {\n    const precioFinal = (precioBase * (1 + (tasaImpuesto / 100))).toFixed(2);\n    mensajePrecio = `💰 <b>Precio:</b> ${precioFinal}€ (IVA incluido)`;\n  }\n  \n  // Parsear tallas_stock - VERIFICAR SI EXISTE Y NO ES NULL\n  let tallasArray = [];\n  \n  if (producto.tallas_stock && producto.tallas_stock.trim() !== '') {\n    tallasArray = producto.tallas_stock.split('|').map(tallaStock => {\n      const [talla, stock] = tallaStock.split(':');\n      return `${talla} (${stock})`;\n    });\n  } else {\n    tallasArray = ['Sin tallas disponibles'];\n  }\n  \n  const mensaje = `\n🛍️ <b>${producto.nombre_producto}</b>\n\n${mensajePrecio}\n\n📏 <b>Tallas disponibles:</b>\n${tallasArray.join(', ')}\n\n🛒 <a href=\"${productoUrl}\">Ver producto y comprar</a>\n  `.trim();\n  \n  return {\n    json: {\n      mensaje: mensaje,\n      chatId: $('Telegram Trigger').item.json.message.chat.id,\n      imagen_url: 'https://masaifootwear.com' + producto.ruta_imagen\n    }\n  };\n});\n\nreturn productos;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1024,-224],"id":"0ebe4b91-0b3f-4a5d-afbf-be1b6b5fdd3b","name":"Code in JavaScript1"},{"parameters":{"url":"={{ $json.imagen_url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1232,-224],"id":"d5e8ac8e-18e6-410f-a7c2-4904fe3a8ec1","name":"HTTP Request"},{"parameters":{"operation":"sendPhoto","chatId":"={{ $json.chatId }}","binaryData":true,"additionalFields":{"caption":"={{ $json.mensaje }}","parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1440,-224],"id":"9cccedd0-77b1-4cc3-83a4-fafe2e244d92","name":"Send a photo message","webhookId":"bd53f0b5-7e34-4d1a-b491-d98af8fe7ca1","credentials":{"telegramApi":{"id":"jDxsVgrb1fG40Bm1","name":"Telegram n8n_the2tor_bot"}}},{"parameters":{"operation":"executeQuery","query":"SELECT p.id_product, pl.name AS nombre_producto, p.price * (1 + (t.rate / 100)) AS precio_con_iva, SUM(sa.quantity) AS stock_total FROM ps_product p INNER JOIN ps_product_lang pl ON (p.id_product = pl.id_product AND pl.id_lang = 1) LEFT JOIN ps_tax_rule tr ON (p.id_tax_rules_group = tr.id_tax_rules_group) LEFT JOIN ps_tax t ON (tr.id_tax = t.id_tax) INNER JOIN ps_stock_available sa ON (p.id_product = sa.id_product) WHERE sa.quantity > 0 AND p.active = 1 GROUP BY p.id_product ORDER BY pl.name LIMIT 30;\n","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[592,-432],"id":"3a0ad1cb-f954-4ea8-a1e2-6da90c8f470a","name":"Execute a SQL query1","alwaysOutputData":true,"credentials":{"mySql":{"id":"FozaZvgtAHuObZua","name":"MySQL account 3"}}},{"parameters":{"jsCode":"const items = $input.all();\n\nif (items.length === 0) {\n  return [{\n    json: {\n      mensaje: \"❌ No hay productos con stock disponible\",\n      chatId: $('Telegram Trigger').item.json.message.chat.id\n    }\n  }];\n}\n\nlet mensaje = `📦 <b>CATÁLOGO - Productos en Stock</b>\\n`;\nmensaje += `Total disponibles: ${items.length} productos\\n\\n`;\n\nitems.forEach((item, index) => {\n  const producto = item.json;\n  const precio = parseFloat(producto.precio_con_iva).toFixed(2);\n  const stock = parseInt(producto.stock_total);\n  \n  mensaje += `${index + 1}. <b>${producto.nombre_producto}</b>\\n`;\n  mensaje += `   💰 ${precio}€ | 📦 ${stock} uds\\n\\n`;\n});\n\nmensaje += `\\n💡 <i>Escribe el nombre de un producto para ver detalles y tallas</i>`;\n\nreturn [{\n  json: {\n    mensaje: mensaje.trim(),\n    chatId: $('Telegram Trigger').item.json.message.chat.id\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[816,-432],"id":"08ec70e7-4de0-4cc5-a6a7-5338cd6199ee","name":"Code in JavaScript2"},{"parameters":{"chatId":"={{ $json.chatId }}","text":"={{ $json.mensaje }}{{ $json.botones }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1024,-432],"id":"69a7ecb8-03ef-4a32-9de2-b2b3ce34079c","name":"Send a text message","webhookId":"8867caac-0439-45f2-baae-8bad3e0e6a58","credentials":{"telegramApi":{"id":"jDxsVgrb1fG40Bm1","name":"Telegram n8n_the2tor_bot"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.text }}","rightValue":"/catalogo","operator":{"type":"string","operation":"equals"},"id":"5d951090-e08d-4e6f-a844-9d6aa4ef4b16"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7c6f60ce-c5ba-40f2-8bb3-9c5e072ebab7","leftValue":"={{ $json.message.text }}","rightValue":"/start","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7947247e-7a76-46a8-a532-63c1aa5d09ad","leftValue":"={{ $json.message.text }}","rightValue":"/lista","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bbdd4db5-0b59-4742-8723-602548027883","leftValue":"={{ $json.message.text }}","rightValue":"stock","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"947fc28d-6361-476f-a865-da0c384e9df1","leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[320,-672],"id":"3a647eec-9a12-4422-a363-b49f90b83ec6","name":"Switch"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-48,-432],"id":"4451f27d-9f0b-402b-b85b-40e777d6fe9b","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-192,-224],"id":"fa31c527-2834-4b26-8c7d-58f5637d3673","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"hrgXqQ9MslXmo2ow","name":"OpenRouter account"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Send a photo message","type":"main","index":0}]]},"Execute a SQL query1":{"main":[[{"node":"Code in JavaScript2","type":"main","index":0}]]},"Code in JavaScript2":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Switch":{"main":[[],[],[],[],[]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5afd08aa-b576-44c3-acb3-68833932cd1f","triggerCount":1,"shared":[{"updatedAt":"2025-11-23T11:13:58.635Z","createdAt":"2025-11-23T11:13:58.635Z","role":"workflow:owner","workflowId":"D4e3ZrLtJh8M2NNB","projectId":"prlZ3bTXg0wKi0D1"}],"tags":[{"updatedAt":"2025-11-23T12:17:56.465Z","createdAt":"2025-11-23T12:17:56.465Z","id":"Q54pNAHUh70lT8jL","name":"masaifootwear"}]}