my-workflow-4-kkFhV3MyyT6cbcLe.json
{"updatedAt":"2025-10-19T13:06:15.000Z","createdAt":"2025-10-19T12:57:06.184Z","id":"kkFhV3MyyT6cbcLe","name":"My workflow 4","active":false,"isArchived":false,"nodes":[{"parameters":{"model":"openai/gpt-5-mini","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-848,400],"id":"85fb43b3-83b7-414f-98d0-265bffa22141","name":"GPT 4.1","credentials":{"openRouterApi":{"id":"hrgXqQ9MslXmo2ow","name":"OpenRouter account"}}},{"parameters":{"name":"createImage","description":"Call this tool to create an image. ","workflowId":{"__rl":true,"value":"P4q4MH9ekF0jhdjX","mode":"list","cachedResultUrl":"/workflow/P4q4MH9ekF0jhdjX","cachedResultName":"Create Image"},"workflowInputs":{"mappingMode":"defineBelow","value":{"imageTitle":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('imageTitle', ``, 'string') }}","imagePrompt":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('imagePrompt', ``, 'string') }}","chatID":"={{ $('Telegram Trigger').item.json.message.chat.id }}"},"matchingColumns":[],"schema":[{"id":"imageTitle","displayName":"imageTitle","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"imagePrompt","displayName":"imagePrompt","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"chatID","displayName":"chatID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[128,400],"id":"158fef76-d4a9-4a34-8cfb-137d6e7596e5","name":"Create Image"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.message }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[720,48],"id":"7b7c45f3-04e0-4f00-a86f-27e030f4937a","name":"Telegram","webhookId":"fbdb3bd7-490b-4d3e-961e-e2d398294649","credentials":{"telegramApi":{"id":"jDxsVgrb1fG40Bm1","name":"Telegram n8n_the2tor_bot"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger').item.json.message.chat.id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-560,400],"id":"a9be1d12-40da-4205-a5c8-cbb8a4a110c3","name":"Simple Memory"},{"parameters":{"name":"editImage","description":"Call this tool to edit an image.","workflowId":{"__rl":true,"value":"8BFWdcICwtwckhuB","mode":"list","cachedResultUrl":"/workflow/8BFWdcICwtwckhuB","cachedResultName":"Edit Image"},"workflowInputs":{"mappingMode":"defineBelow","value":{"image":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('image', `The title of the image the user wants to edit`, 'string') }}","chatID":"={{ $('Telegram Trigger').item.json.message.chat.id }}","request":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('request', `The edit the user wants to make to the image`, 'string') }}","pictureID":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('pictureID', `The ID of the image to edit`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"image","displayName":"image","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"request","displayName":"request","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"chatID","displayName":"chatID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"pictureID","displayName":"pictureID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[288,400],"id":"0fcd08a7-dee3-42af-aa1e-977149c537fe","name":"Edit Image"},{"parameters":{"name":"searchImages","description":"Call this tool to search the image database.","workflowId":{"__rl":true,"value":"puum5zLViggfsSmR","mode":"list","cachedResultUrl":"/workflow/puum5zLViggfsSmR","cachedResultName":"Search Images"},"workflowInputs":{"mappingMode":"defineBelow","value":{"intent":"={{ $fromAI('intent', `The intent of the user. This can either be \"Get\" or \"Edit\"`, 'string') }}","image":"={{ $fromAI('image', `The image title`, 'string') }}","chatID":"={{ $('Telegram Trigger').item.json.message.chat.id }}"},"matchingColumns":[],"schema":[{"id":"intent","displayName":"intent","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"image","displayName":"image","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"chatID","displayName":"chatID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[528,400],"id":"bdea1ddc-0453-4dd2-a7df-96bd5dc78bb0","name":"Search Images"},{"parameters":{"name":"blogPost","description":"Call this tool to create a blog post using a topic and a target audience.","workflowId":{"__rl":true,"value":"liYFyE4Bgaag3lax","mode":"list","cachedResultUrl":"/workflow/liYFyE4Bgaag3lax","cachedResultName":"Blog Post"},"workflowInputs":{"mappingMode":"defineBelow","value":{"blogTopic":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('blogTopic', `The topic of the blog.`, 'string') }}","targetAudience":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('targetAudience', `The target audience for the blog.`, 'string') }}","chatID":"={{ $('Telegram Trigger').item.json.message.chat.id }}"},"matchingColumns":[],"schema":[{"id":"blogTopic","displayName":"blogTopic","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"targetAudience","displayName":"targetAudience","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"chatID","displayName":"chatID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[-64,400],"id":"a06ba993-e645-49e4-96a7-6dd672ca64ed","name":"Blog Post"},{"parameters":{"content":"# Marketing Team","height":400,"width":460},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-64,-112],"id":"271c3491-fd94-4c1f-840f-0e7962444339","name":"Sticky Note"},{"parameters":{"name":"linkedinPost","description":"Call this tool to create a LinkedIn post using a topic and a target audience.","workflowId":{"__rl":true,"value":"LYO3BaOJhmNOO3s5","mode":"list","cachedResultUrl":"/workflow/LYO3BaOJhmNOO3s5","cachedResultName":"LinkedIn Post"},"workflowInputs":{"mappingMode":"defineBelow","value":{"postTopic":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('postTopic', `The topic of the LinkedIn post`, 'string') }}","targetAudience":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('targetAudience', `The target audience of the LinkedIn post`, 'string') }}","chatID":"={{ $('Telegram Trigger').item.json.message.chat.id }}"},"matchingColumns":[],"schema":[{"id":"postTopic","displayName":"postTopic","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"targetAudience","displayName":"targetAudience","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"chatID","displayName":"chatID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[-224,400],"id":"bd4db69f-1245-44d7-b572-630ada226871","name":"LinkedIn Post"},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}","additionalFields":{}},"id":"db60dde0-8fba-4d8f-8707-8b06b0fb9aa1","name":"Download Voice File","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-432,-32],"webhookId":"c0b376b1-7b63-41b6-8063-0b3096b8333d","credentials":{"telegramApi":{"id":"jDxsVgrb1fG40Bm1","name":"Telegram n8n_the2tor_bot"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"3e84a354-79fb-426a-be43-e9ead3f44f50","name":"Transcribe Audio","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[-272,-32],"credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Voice"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8c844924-b2ed-48b0-935c-c66a8fd0c778","leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"}]},"options":{}},"id":"fd71ce0f-4685-40ad-b7fc-8b4d6f6e4282","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-688,48]},{"parameters":{"updates":["message"],"additionalFields":{}},"id":"4d5cc550-bf89-45a6-8de1-be6494cd9b25","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-832,48],"webhookId":"99eab1a0-569d-4f0f-a49e-578a02abfe63","credentials":{"telegramApi":{"id":"jDxsVgrb1fG40Bm1","name":"Telegram n8n_the2tor_bot"}}},{"parameters":{"content":"# Trigger\n","height":400,"width":360,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-880,-112],"id":"330647d8-07fe-455a-89af-18fe41aa21b5","name":"Sticky Note1"},{"parameters":{"content":"# Content Creation","height":220,"width":480,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-432,320],"id":"05f1c1a9-60fd-481e-82e8-5ce769704958","name":"Sticky Note2"},{"parameters":{"content":"# Image Creation","height":220,"width":320,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[96,320],"id":"a0b8c1a5-d0c8-4ed2-9dc0-c88cb659dbc4","name":"Sticky Note3"},{"parameters":{"content":"# Image Database","height":220,"width":300,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[432,320],"id":"a28f8405-f966-449e-a80f-6789d6fe73f0","name":"Sticky Note4"},{"parameters":{"content":"# Response\n\n","height":400,"width":300,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[432,-112],"id":"54baafd5-6e3a-4e0f-be79-046877ad5c84","name":"Sticky Note5"},{"parameters":{"content":"# Brain\n\n","height":220,"width":440,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-880,320],"id":"13d41f84-8fe9-4c41-acfc-f19109b6f7e9","name":"Sticky Note6"},{"parameters":{"content":"# Voice or Text","height":400,"width":420,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-512,-112],"id":"ff4e00cf-557d-4511-a597-2dadff466e1f","name":"Sticky Note7"},{"parameters":{"name":"video","description":"Call this tool to create a video.","workflowId":{"__rl":true,"value":"rlR2qmkeno6bu2V5","mode":"list","cachedResultUrl":"/workflow/rlR2qmkeno6bu2V5","cachedResultName":"Faceless Video"},"workflowInputs":{"mappingMode":"defineBelow","value":{"videoTopic":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('videoTopic', `The topic of the video`, 'string') }}","chatID":"={{ $('Telegram Trigger').item.json.message.chat.id }}"},"matchingColumns":[],"schema":[{"id":"videoTopic","displayName":"videoTopic","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"chatID","displayName":"chatID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[-384,400],"id":"9d62530b-86f6-4e0f-b937-fe94750648c5","name":"Video"},{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":"=# Overview\nYou are a marketing team AI agent. Your job is to help the user create and edit images based on the request, or create content.\n\n## Tools\ncreateImage - Use this to create an image. Send the requested image prompt to this tool.\neditImage - Use this to edit an image. The user might also say \"make\" rather than \"edit\".\nImage Database - Use this to search the image database. \nblogPost - Use this to create a blog post.\nlinkedinPost - Use this to create a LinkedIn post.\nvideo - Use this tool to create a video.\nThink - Use this if you need help making a decision.\n\n## Instructions\n- If the user asks to 'edit that image' or 'make that...', this indicates they want to edit the last image in the database, the most recent one.\n- If the user requests a blog post or LinkedIn post, use the \"blogPost\" or \"linkedinPost\" tool and output: \"Here's that post you requested. Hope you enjoy it.\"\n\n## Output\n- Make sure to return the image link as a clickable link\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[48,48],"id":"d67b4b37-7cd0-4b9a-a145-4f79c4917a39","name":"Marketing Team Agent","executeOnce":true},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[-704,400],"id":"c0b4b00b-4ec0-442f-acfd-71fc28b69e11","name":"Think"},{"parameters":{"content":"# 📋 Setup Guide  \n**Author: [Nate Herk](https://www.youtube.com/@nateherk/videos)**\n---\n### ✅ First Steps\n1. **Import the following workflows** into your n8n environment:\n   - Video\n   - LinkedIn Post\n   - Blog Post\n   - Create Image\n   - Edit Image\n   - Search Images\n\n2. **Link all workflows** together appropriately.\n   - Make sure that the tools the Marketing Team Agent uses are correctly linked to these workflows.\n   - Rename workflows as needed to fit your naming system.\n---\n\n### 🔗 Credentials to Connect\n- **[Telegram Credential](https://telegram.org/)** (for outbound/inbound communication)\n- **[OpenRouter](https://openrouter.ai/) Credential** (for AI requests)\n- **[Tavily](https://tavily.com/) Credential** (for research inside LinkedIn Post and Blog Post workflows)\n---\n\n### 🔑 API Keys to Configure\nInside the **Video Workflow**:\n- **[PiAPI](https://piapi.ai/) API Key** (for video generation)\n- **[Runway](https://runwayml.com/) API Key** (for video processing)\n- **[ElevenLabs](https://elevenlabs.io/) API Key** (for voice generation)\n\nInside the **LinkedIn Post** and **Blog Post Workflows**:\n- **[Tavily](https://tavily.com/) API Key** (for research assistance)\n---\n\n### 📄 Templates to Download and Connect\n- **[Creatomate](https://creatomate.com/) Image Template**  \n  → Download from the Free Skool Community\n\n- **[Google Sheets Log Template](https://docs.google.com/spreadsheets/d/1wQxM9cAwewCigPH22KDidMu_i9j_dx4MHEa5rmJiw5I/edit?usp=sharing)**  \n  → Connect it to your n8n Google Sheets node to track content outputs.\n---\n\nMake sure all credentials, APIs, and templates are properly set before running the full system!\n","height":1000,"width":560},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1472,-112],"id":"f92e9f3a-3eb9-46c5-bf8c-c626eac6e96c","name":"Sticky Note8"},{"parameters":{"jsCode":"function splitMessage(message, limit = 4096) {\n    const messages = [];\n    let currentChunk = '';\n\n    const words = message.split(' ');\n\n    for (const word of words) {\n        if ((currentChunk + word).length <= limit) {\n            currentChunk += (currentChunk ? ' ' : '') + word;\n        } else {\n            messages.push(currentChunk);\n            currentChunk = word;\n        }\n    }\n\n    if (currentChunk) {\n        messages.push(currentChunk);\n    }\n\n    return messages;\n}\n\n// Ejemplo de uso:\nconst longMessage = $input.first().json.output; // Cambia esto por tu variable\nconst messageChunks = splitMessage(longMessage);\nreturn messageChunks.map((chunk) => ({json: {message: chunk}}));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[464,48],"id":"a44cb343-4f7d-479b-b7c3-1943dc2262b1","name":"Code in JavaScript"},{"parameters":{"assignments":{"assignments":[{"id":"fe7ecc99-e1e8-4a5e-bdd6-6fce9757b234","name":"text","value":"={{ $json.message.text }}","type":"string"}]},"options":{}},"id":"adee2a7d-42ed-47e0-9380-a29e0a4d379e","name":"Set Text","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-352,128]}],"connections":{"GPT 4.1":{"ai_languageModel":[[{"node":"Marketing Team Agent","type":"ai_languageModel","index":0}]]},"Create Image":{"ai_tool":[[{"node":"Marketing Team Agent","type":"ai_tool","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Marketing Team Agent","type":"ai_memory","index":0}]]},"Edit Image":{"ai_tool":[[{"node":"Marketing Team Agent","type":"ai_tool","index":0}]]},"Search Images":{"ai_tool":[[{"node":"Marketing Team Agent","type":"ai_tool","index":0}]]},"Blog Post":{"ai_tool":[[{"node":"Marketing Team Agent","type":"ai_tool","index":0}]]},"LinkedIn Post":{"ai_tool":[[{"node":"Marketing Team Agent","type":"ai_tool","index":0}]]},"Download Voice File":{"main":[[{"node":"Transcribe Audio","type":"main","index":0}]]},"Transcribe Audio":{"main":[[{"node":"Marketing Team Agent","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Download Voice File","type":"main","index":0}],[{"node":"Set Text","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Video":{"ai_tool":[[{"node":"Marketing Team Agent","type":"ai_tool","index":0}]]},"Marketing Team Agent":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Think":{"ai_tool":[[{"node":"Marketing Team Agent","type":"ai_tool","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"Set Text":{"main":[[{"node":"Marketing Team Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"60199e70-feb6-4175-9bf2-9990817ea4d1","triggerCount":0,"shared":[{"updatedAt":"2025-10-19T12:57:06.186Z","createdAt":"2025-10-19T12:57:06.186Z","role":"workflow:owner","workflowId":"kkFhV3MyyT6cbcLe","projectId":"prlZ3bTXg0wKi0D1"}],"tags":[]}