my-workflow-7-ubiUuR45JpJ3oeKT.json
{"updatedAt":"2025-11-04T18:35:58.216Z","createdAt":"2025-11-04T18:35:58.216Z","id":"ubiUuR45JpJ3oeKT","name":"My workflow 7","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"6399c410-1330-48f3-b0c5-e35d6ddc3f2f","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","position":[368,848],"typeVersion":1},{"parameters":{"rule":{"interval":[{"daysInterval":3}]}},"id":"a6c21903-df6e-4e28-b7f2-5febe573b425","name":"Schedule Backup Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[352,368],"typeVersion":1.2},{"parameters":{"content":"## ⏰ Schedule Backup Trigger\n\n**Purpose:** Initiates automated workflow export every 3 days.\n\n**Note:** Adjust interval in node settings for custom frequency (e.g., daily).","height":176,"width":376,"color":6},"id":"430e2477-916a-42bf-8e58-f41ea0dec298","name":"Note: Schedule Trigger","type":"n8n-nodes-base.stickyNote","position":[272,160],"typeVersion":1},{"parameters":{"filters":{},"requestOptions":{}},"id":"623151ed-ffb9-4056-95a2-7db95dd229e9","name":"Fetch All Workflows","type":"n8n-nodes-base.n8n","position":[576,368],"typeVersion":1,"credentials":{"n8nApi":{"id":"dYlqFsERNuf4U44a","name":"n8n api workflows"}}},{"parameters":{"content":"## 🔍 Fetch All Workflows\n\n**Purpose:** Retrieves complete list of n8n workflows via API.\n\n**Note:** Requires n8n API credential; outputs JSON array for aggregation.","height":144,"width":488,"color":5},"id":"764d1c95-5014-4a09-a049-1c797a4ae20c","name":"Note: Fetch Workflows","type":"n8n-nodes-base.stickyNote","position":[320,528],"typeVersion":1},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"01cbe4df-18f6-4ebd-9499-20f48021eff7","name":"Aggregate Workflows","type":"n8n-nodes-base.aggregate","position":[784,368],"typeVersion":1},{"parameters":{"content":"## 📊 Aggregate Workflows\n\n**Purpose:** Combines fetched workflows into single JSON array.\n\n**Note:** Uses 'aggregateAllItemData' to prepare for file conversion.","height":176,"width":360,"color":3},"id":"94a0e458-63fa-4538-b1db-95a31b22de6e","name":"Note: Aggregate Data","type":"n8n-nodes-base.stickyNote","position":[720,176],"typeVersion":1},{"parameters":{"operation":"toText","sourceProperty":"data","options":{}},"id":"dc8d7eca-8419-4fa7-a86b-1f9524096aa8","name":"Convert to Backup File","type":"n8n-nodes-base.convertToFile","position":[1008,368],"typeVersion":1.1},{"parameters":{"content":"## 📄 Convert to Backup File\n\n**Purpose:** Transforms JSON array to downloadable text file.\n\n**Note:** Sources 'data' property; sets filename to 'All-n8n-workflows.txt'.","height":144,"width":472,"color":3},"id":"3cface19-c9e6-4a9d-8c36-61556561b439","name":"Note: Convert File","type":"n8n-nodes-base.stickyNote","position":[896,528],"typeVersion":1},{"parameters":{"operation":"sendDocument","chatId":"{{your_chat_id}}","binaryData":true,"additionalFields":{"fileName":"All-n8n-workflows.txt"}},"id":"d11187b2-6c45-42c4-a058-2b82cb7e3808","name":"Send Backup to Telegram","type":"n8n-nodes-base.telegram","position":[1216,368],"webhookId":"8398a972-7215-47ec-8178-193bd910b5e3","typeVersion":1.2,"credentials":{"telegramApi":{"id":"jDxsVgrb1fG40Bm1","name":"Telegram n8n_the2tor_bot"}}},{"parameters":{"content":"## 📤 Send Backup to Telegram\n\n**Purpose:** Delivers backup file to specified chat.\n\n**Note:** Replace '{{your_chat_id}}' with your Telegram chat ID; requires bot credential.","height":176,"width":344,"color":6},"id":"b34c9b8c-4c43-4e10-988a-1effe48a766a","name":"Note: Send to Telegram","type":"n8n-nodes-base.stickyNote","position":[1504,368],"typeVersion":1},{"parameters":{"operation":"download","fileId":"{{your_file_id}}","options":{"fileName":"all_workflows"}},"id":"86367e63-d0c0-4994-b02e-8ec4c2b726ab","name":"Download Backup from Drive","type":"n8n-nodes-base.googleDrive","position":[608,848],"typeVersion":3},{"parameters":{"content":"## 📥 Download Backup from Drive\n\n**Purpose:** Fetches backup text file from Google Drive.\n\n**Note:** Set '{{your_file_id}}' from Drive URL; requires OAuth credential.","height":208,"width":280,"color":6},"id":"c9285469-5007-494c-a297-2d7c709eb2cc","name":"Note: Download from Drive","type":"n8n-nodes-base.stickyNote","position":[720,704],"typeVersion":1},{"parameters":{"formTitle":"Upload Backup File","formFields":{"values":[{"fieldLabel":"data","fieldType":"file"}]},"options":{}},"id":"2588a55a-6f15-4697-a238-a398a11c9f7b","name":"Form Restore Trigger","type":"n8n-nodes-base.formTrigger","position":[592,1072],"webhookId":"308ea5b0-fbea-4364-8c08-5237e4f7058f","typeVersion":2.2},{"parameters":{"content":"## 📝 Form Restore Trigger\n\n**Purpose:** Enables direct file upload for restore.\n\n**Note:** Use n8n form to submit local backup; connects to extraction.","height":192,"width":280,"color":6},"id":"97a34576-d68d-4381-91a5-3cd76df12809","name":"Note: Form Trigger","type":"n8n-nodes-base.stickyNote","position":[320,1232],"typeVersion":1},{"parameters":{"operation":"text","options":{}},"id":"cc2430d3-2893-4205-a338-03bf88130293","name":"Extract Backup Text","type":"n8n-nodes-base.extractFromFile","position":[768,992],"typeVersion":1},{"parameters":{"content":"## 📖 Extract Backup Text\n\n**Purpose:** Reads text content from downloaded or uploaded file.\n\n**Note:** Outputs raw JSON string to 'data' property for parsing.","height":192,"width":392,"color":3},"id":"bb8990c2-90fb-4a33-bdca-3b5317260819","name":"Note: Extract Text","type":"n8n-nodes-base.stickyNote","position":[672,1232],"typeVersion":1},{"parameters":{"jsCode":"// The input from the previous node is an array of items. We'll work with the first item.\nconst item = items[0];\n\n// --- IMPORTANT ---\n// The 'Extract from File' node will place the file's content into a property.\n// You may need to adjust 'fileContent' to match the actual property name from that node.\nconst jsonString = item.json.data;\n\nif (!jsonString) {\n  throw new Error(\"The property 'fileContent' was not found in the input data. Please check the output of the 'Extract from File' node and update the property name in this code.\");\n}\n\n// Parse the large JSON string into an array of individual workflow objects.\nconst workflows = JSON.parse(jsonString);\n\n// List of settings properties that are not supported by the n8n API\nconst unsupportedSettingsProperties = [\n  'executionOrder',\n  'callerPolicy', \n  'errorWorkflow',\n  'timeSavedPerExecution',\n  'executionTimeout',\n  'maxExecutionTimeout'\n];\n\n// Return each workflow as a separate item.\n// For each item, convert the workflow object back into a string\n// and place it in a property called 'data'.\nreturn workflows.map(workflow => {\n  // Extract workflow name and ID for easier reference\n  const workflowName = workflow.name || 'Unnamed Workflow';\n  const workflowId = workflow.id || 'No ID';\n  \n  // Create a cleaned copy of the workflow\n  const cleanedWorkflow = { ...workflow };\n  \n  // Clean up the settings object by removing unsupported properties\n  if (cleanedWorkflow.settings) {\n    const cleanedSettings = { ...cleanedWorkflow.settings };\n    \n    // Remove unsupported properties\n    unsupportedSettingsProperties.forEach(prop => {\n      delete cleanedSettings[prop];\n    });\n    \n    cleanedWorkflow.settings = cleanedSettings;\n  }\n  \n  // Remove properties that shouldn't be included when creating new workflows\n  delete cleanedWorkflow.id;           // Let n8n assign a new ID\n  delete cleanedWorkflow.createdAt;    // Will be set by n8n\n  delete cleanedWorkflow.updatedAt;    // Will be set by n8n\n  delete cleanedWorkflow.versionId;    // Will be set by n8n\n  delete cleanedWorkflow.shared;       // Will be handled by n8n\n  delete cleanedWorkflow.triggerCount; // Will be reset by n8n\n  \n  // Clean up staticData - remove if empty or clean node-specific data\n  if (cleanedWorkflow.staticData) {\n    const cleanedStaticData = { ...cleanedWorkflow.staticData };\n    // Remove any node-specific data that might reference old node IDs\n    Object.keys(cleanedStaticData).forEach(key => {\n      if (key.startsWith('node:')) {\n        delete cleanedStaticData[key];\n      }\n    });\n    // Remove staticData entirely if it's empty after cleaning\n    if (Object.keys(cleanedStaticData).length === 0) {\n      delete cleanedWorkflow.staticData;\n    } else {\n      cleanedWorkflow.staticData = cleanedStaticData;\n    }\n  }\n  \n  // Keep pinData as it contains important test/development data\n  // Only remove pinData if it's undefined, but preserve empty objects\n  \n  // Clean up meta object - remove or clean problematic properties\n  if (cleanedWorkflow.meta) {\n    const cleanedMeta = { ...cleanedWorkflow.meta };\n    // Remove properties that might cause issues with new workflow creation\n    delete cleanedMeta.templateCredsSetupCompleted;\n    delete cleanedMeta.instanceId;\n    \n    // Remove meta entirely if it's empty after cleaning\n    if (Object.keys(cleanedMeta).length === 0) {\n      delete cleanedWorkflow.meta;\n    } else {\n      cleanedWorkflow.meta = cleanedMeta;\n    }\n  }\n  \n  // Clean webhook IDs from nodes that might conflict\n  if (cleanedWorkflow.nodes) {\n    cleanedWorkflow.nodes = cleanedWorkflow.nodes.map(node => {\n      const cleanedNode = { ...node };\n      \n      // Remove webhookId property that might reference old webhook instances\n      if (cleanedNode.webhookId) {\n        delete cleanedNode.webhookId;\n      }\n      \n      return cleanedNode;\n    });\n  }\n  \n  return {\n    json: {\n      data: JSON.stringify(cleanedWorkflow),\n      workflowName: workflowName,\n      originalId: workflowId,\n      // Additional metadata for debugging\n      hasSettings: !!workflow.settings,\n      nodeCount: workflow.nodes ? workflow.nodes.length : 0\n    }\n  };\n});"},"id":"99fc7ff8-c867-4247-afdc-a462c363d01c","name":"Parse Backup JSON","type":"n8n-nodes-base.code","position":[944,992],"typeVersion":2},{"parameters":{"content":"## 🔄 Parse Backup JSON\n\n**Purpose:** Cleans and splits JSON into individual workflow items.\n\n**Note:** Removes IDs, unsupported settings; outputs one item per workflow with metadata.","height":176,"width":456,"color":3},"id":"e9938f7a-5bcf-4e4b-af0c-9f7c72ee91f3","name":"Note: Parse JSON","type":"n8n-nodes-base.stickyNote","position":[1120,1232],"typeVersion":1},{"parameters":{"options":{}},"id":"c897ad75-2c36-4886-a6a7-4f2dd19fa819","name":"Process Each Workflow","type":"n8n-nodes-base.splitInBatches","position":[1120,832],"typeVersion":3},{"parameters":{"content":"## 🔄 Process Each Workflow\n\n**Purpose:** Loops over parsed items for sequential API calls.\n\n**Note:** Uses SplitInBatches to handle one workflow at a time; returns to loop after processing.","height":192,"width":360,"color":5},"id":"c34da4cf-351c-47c9-bada-e99034b1cad2","name":"Note: Workflow Loop","type":"n8n-nodes-base.stickyNote","position":[1472,672],"typeVersion":1},{"parameters":{"filters":{"name":"={{ $json.workflowName }}"},"requestOptions":{}},"id":"cdd6a0cf-13e6-4144-821b-0fd305064132","name":"Check Workflow Existence","type":"n8n-nodes-base.n8n","position":[1312,896],"typeVersion":1,"alwaysOutputData":true,"credentials":{"n8nApi":{"id":"dYlqFsERNuf4U44a","name":"n8n api workflows"}}},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"b384d46d-cd29-4362-8e36-e1b563329156","operator":{"type":"string","operation":"notExists","singleValue":true},"leftValue":"={{ $json.name }}","rightValue":""}]},"options":{}},"id":"c3dc7c83-8ac6-4a1f-a99b-b2d4a7802229","name":"If Workflow Exists","type":"n8n-nodes-base.if","position":[1472,896],"typeVersion":2.2},{"parameters":{"operation":"create","workflowObject":"={{ $('Process Each Workflow').item.json.data }}","requestOptions":{}},"id":"097bc6f5-d22d-4632-a904-67a362aa0f71","name":"Create New Workflow","type":"n8n-nodes-base.n8n","position":[1872,1008],"typeVersion":1,"credentials":{"n8nApi":{"id":"dYlqFsERNuf4U44a","name":"n8n api workflows"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"update","workflowId":{"__rl":true,"mode":"id","value":"={{ $json.id }}"},"workflowObject":"={{ $('Process Each Workflow').item.json.data }}","requestOptions":{}},"id":"b2d9655d-1fec-45b4-8709-65f022686598","name":"Update Existing Workflow","type":"n8n-nodes-base.n8n","position":[1648,1024],"typeVersion":1,"credentials":{"n8nApi":{"id":"dYlqFsERNuf4U44a","name":"n8n api workflows"}}},{"parameters":{},"id":"8d92af9e-8c0d-414f-8ea3-2e9bc3388fe7","name":"Wait for Completion","type":"n8n-nodes-base.wait","position":[2064,1024],"webhookId":"a6cb7280-b53e-465a-b61d-3b4ef03928db","typeVersion":1.1},{"parameters":{"content":"## ⏳ Wait for Completion\n\n**Purpose:** Pauses between API calls to avoid rate limits.\n\n**Note:** Default 1s delay; increase to 5-10s for large batches.","height":176,"width":328,"color":2},"id":"de3de0f9-40dc-4d73-9e47-71c7f8fa7fb6","name":"Note: Wait Delay","type":"n8n-nodes-base.stickyNote","position":[2048,816],"typeVersion":1},{"parameters":{"content":"# Automated n8n Workflow Backup & Multi-Path Restore\n\n## 📋 What This Template Does\nThis template automates backing up all n8n workflows to a Telegram-delivered text file every 3 days and restores them via Google Drive download or direct form upload using create-or-update logic.\n\n## 🔧 Prerequisites\n- Active n8n instance with API access\n- Telegram bot and chat ID\n- Google Drive account (for Drive restores)\n\n## 🔑 Required Credentials\n\n### n8n API Setup\n1. Settings → n8n API → Enable & generate key\n2. Add as 'n8n API' credential\n\n### Telegram API Setup\n1. @BotFather → Create bot → Get token\n2. Note chat ID via @userinfobot\n3. Add as 'Telegram API' credential\n\n### Google Drive OAuth2 API Setup\n1. Google Cloud → Credentials → OAuth Client ID\n2. Enable Drive API, add redirect URI\n3. Connect as 'Google Drive OAuth2 API'\n\n## ⚙️ Configuration Steps\n1. Import JSON to n8n\n2. Assign credentials to nodes\n3. Set Telegram chat ID\n4. Update Drive file ID (if using Drive path)\n5. Test backup via Schedule execution\n6. Test restore via manual or form trigger\n\n## 🎯 Use Cases\n- Backup production workflows to Telegram for sharing\n- Restore from Drive after migrations\n- Sync templates across instances via upload\n- Archive educational automations for reuse\n\n## ⚠️ Troubleshooting\n- Empty backups: Check API read permissions\n- Parse errors: Validate JSON in file\n- Rate limits: Extend Wait duration\n- Upload fails: Use small test file first","height":1256,"width":600,"color":4},"id":"58793bd9-58c4-48d6-8f41-25e8314e6faf","name":"Overview Note3","type":"n8n-nodes-base.stickyNote","position":[-352,176],"typeVersion":1}],"connections":{"Manual Trigger":{"main":[[{"node":"Download Backup from Drive","type":"main","index":0}]]},"Parse Backup JSON":{"main":[[{"node":"Process Each Workflow","type":"main","index":0}]]},"If Workflow Exists":{"main":[[{"node":"Create New Workflow","type":"main","index":0}],[{"node":"Update Existing Workflow","type":"main","index":0}]]},"Aggregate Workflows":{"main":[[{"node":"Convert to Backup File","type":"main","index":0}]]},"Create New Workflow":{"main":[[{"node":"Wait for Completion","type":"main","index":0}],[{"node":"Process Each Workflow","type":"main","index":0}]]},"Extract Backup Text":{"main":[[{"node":"Parse Backup JSON","type":"main","index":0}]]},"Fetch All Workflows":{"main":[[{"node":"Aggregate Workflows","type":"main","index":0}]]},"Wait for Completion":{"main":[[{"node":"Process Each Workflow","type":"main","index":0}]]},"Form Restore Trigger":{"main":[[{"node":"Extract Backup Text","type":"main","index":0}]]},"Process Each Workflow":{"main":[[],[{"node":"Check Workflow Existence","type":"main","index":0}]]},"Convert to Backup File":{"main":[[{"node":"Send Backup to Telegram","type":"main","index":0}]]},"Schedule Backup Trigger":{"main":[[{"node":"Fetch All Workflows","type":"main","index":0}]]},"Check Workflow Existence":{"main":[[{"node":"If Workflow Exists","type":"main","index":0}]]},"Update Existing Workflow":{"main":[[{"node":"Process Each Workflow","type":"main","index":0}]]},"Download Backup from Drive":{"main":[[{"node":"Extract Backup Text","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"a045ecd8-b0cd-4abf-88ed-2781c0878cdc","triggerCount":0,"shared":[{"updatedAt":"2025-11-04T18:35:58.220Z","createdAt":"2025-11-04T18:35:58.220Z","role":"workflow:owner","workflowId":"ubiUuR45JpJ3oeKT","projectId":"prlZ3bTXg0wKi0D1"}],"tags":[]}