my-workflow-2-vQRxP3fYM9D5zyvz4GjfU.json
{"updatedAt":"2026-02-12T10:18:01.705Z","createdAt":"2026-02-12T10:18:01.705Z","id":"vQRxP3fYM9D5zyvz4GjfU","name":"My workflow 2","active":false,"isArchived":false,"nodes":[{"parameters":{"postProcessAction":"nothing","options":{}},"type":"n8n-nodes-base.emailReadImap","typeVersion":2.1,"position":[0,0],"id":"e2141a7c-6b09-47df-8a3e-46eccd9fb09a","name":"Email Trigger (IMAP)1","credentials":{"imap":{"id":"uZpZOFXX5pZIbAmG","name":"IMAP account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.resultado }}","rightValue":"EXISTE","operator":{"type":"string","operation":"equals"},"id":"2ba42fa6-e321-4b81-a48b-bc8b6b567a16"}],"combinator":"and"},"renameOutput":true,"outputKey":"EXISTE"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4b27aad0-e463-4fd6-8213-da41ed46117a","leftValue":"={{ $json.resultado }}","rightValue":"EXISTE","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"NO EXISTE"}]},"options":{"fallbackOutput":"none"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[256,384],"id":"9d4165f4-4305-40a4-b94b-986b5bd5adab","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"0107af7c-aada-4e7f-9310-9b0a7aa0dffd","name":"cuerpo","value":"={{ $json.textPlain }} && {{ $json.textHtml }}","type":"string"},{"id":"f5cdb157-16de-44a1-b8c0-60edd074bbcb","name":"remitente","value":"={{ $json.from }}","type":"string"}]},"includeOtherFields":true,"include":"selected","includeFields":"metadata[\"message-id\"]","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[208,0],"id":"2973c981-54bc-453c-b5b9-c0f48f5133b7","name":"Extraer Cuerpo y remitente"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-5-mini","mode":"list","cachedResultName":"GPT-5-MINI"},"messages":{"values":[{"content":"=Analiza el input y si contiene correo@franquishop.com,expansion@franquiciabest-house.es, leon@best-house.com o info@franquicia.net, obten los datos del cuerpo y crea variables como json que sean: Nombre, Apellido, Email, Teléfono, Provincia, Reunión y Mensaje. Hazlo en base a el input recibido. ","role":"system"},{"content":"={{ $json.remitente }}{{ $json.cuerpo }}"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[368,0],"id":"07314e55-146b-4061-bebe-59ec3d37ea8a","name":"Extraer datos a variables"},{"parameters":{"assignments":{"assignments":[{"id":"308df24a-8b81-4ab3-9450-68cb570ca3b8","name":"Nombre","value":"={{ $json.message.content.Nombre }}","type":"string"},{"id":"721f598e-6260-4aeb-9447-a939a859da19","name":"Apellido","value":"={{ $json.message.content.Apellido }}","type":"string"},{"id":"fc0708d3-b8c7-4b2c-bc41-206f8aaae5bf","name":"Email","value":"={{ $json.message.content.Email }}","type":"string"},{"id":"40fae4ed-d82e-43fd-8ab9-03cf3cdd230f","name":"Teléfono","value":"={{ $json.message.content[\"Teléfono\"] }}","type":"string"},{"id":"255cfc16-bb23-47e8-b467-23e9ab96f445","name":"Provincia","value":"={{ $json.message.content.Provincia }}","type":"string"},{"id":"1e2bb38b-c304-4dff-98de-e3fb72fd00cd","name":"Reunión","value":"={{ $json.message.content[\"Reunión\"] }}","type":"string"},{"id":"1bcffc41-beaa-4e62-8b64-82beab81ee03","name":"Mensaje","value":"={{ $json.message.content.Mensaje }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1008,16],"id":"751c2a2e-2c65-469a-a2a5-738950b814b3","name":"asignar datos a campos y conservarlos"},{"parameters":{"operation":"executeQuery","query":"SELECT \n    IF(\n        EXISTS(\n            SELECT 1 \n            FROM usuarios \n            WHERE email = '{{ $json.Email }}' \n               OR telefono = '{{ $json[\"Teléfono\"] }}'\n        ), \n        'EXISTE', \n        'NO EXISTE'\n    ) AS resultado;\n","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[32,384],"id":"f69fa165-68f6-48bd-b962-74fabfadedff","name":"Comprobar si el candidato existe en la base de datos"},{"parameters":{"mode":"chooseBranch"},"id":"9c99e4f6-c1fb-41e8-aa17-ece0d5741269","name":"si NO existe pasar datos anteriores","type":"n8n-nodes-base.merge","typeVersion":2,"position":[608,384]},{"parameters":{"operation":"upsert","table":{"__rl":true,"value":"usuarios","mode":"list","cachedResultName":"usuarios"},"dataMode":"defineBelow","columnToMatchOn":"nombre","valueToMatchOn":"={{ $json.Nombre }}","valuesToSend":{"values":[{"column":"apellido","value":"={{ $json.Apellido }}"},{"column":"email","value":"={{ $json.Email }}"},{"column":"telefono","value":"={{ $json[\"Teléfono\"] }}"},{"column":"provincia","value":"={{ $json.Provincia }}"},{"column":"agenda","value":"={{ $json[\"Reunión\"] }}"},{"column":"mensaje","value":"={{ $json.Mensaje }}"},{"column":"soporte","value":"={{ (($json.correo ?? $json.email ?? '')).toLowerCase() === 'info@franquicia.net' ? 'franquicia_net' : 'franquishop' }}\n"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[912,384],"id":"e8f7bf71-c5fd-405b-953c-891f986332a0","name":"Insertar candidato en la base de datos"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.content[\"Teléfono\"] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true},"id":"2584787c-dad3-4674-865d-8232381c17c6"}],"combinator":"and"},"renameOutput":true,"outputKey":"parar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"95041958-33f6-4afe-8044-6dd3d0045d3e","leftValue":"={{ $json.message.content[\"Teléfono\"] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"seguir"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[720,0],"id":"dce16986-d168-4944-a9ff-aaa1b3272662","name":"Switch1"}],"connections":{"Email Trigger (IMAP)1":{"main":[[{"node":"Extraer Cuerpo y remitente","type":"main","index":0}]]},"Switch":{"main":[[],[{"node":"si NO existe pasar datos anteriores","type":"main","index":1}]]},"Extraer Cuerpo y remitente":{"main":[[{"node":"Extraer datos a variables","type":"main","index":0}]]},"Extraer datos a variables":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"asignar datos a campos y conservarlos":{"main":[[{"node":"Comprobar si el candidato existe en la base de datos","type":"main","index":0},{"node":"si NO existe pasar datos anteriores","type":"main","index":0}]]},"Comprobar si el candidato existe en la base de datos":{"main":[[{"node":"Switch","type":"main","index":0}]]},"si NO existe pasar datos anteriores":{"main":[[{"node":"Insertar candidato en la base de datos","type":"main","index":0}]]},"Switch1":{"main":[[],[{"node":"asignar datos a campos y conservarlos","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"9e7c73d8-1e36-4571-a27e-aba12f78219f","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-12T10:18:01.708Z","createdAt":"2026-02-12T10:18:01.708Z","role":"workflow:owner","workflowId":"vQRxP3fYM9D5zyvz4GjfU","projectId":"Grfgzkbo3T8PCQQA"}],"activeVersion":null,"tags":[]}