my-workflow-2-mAcN4vJHt8CNX8R2.json
{"updatedAt":"2025-10-13T18:29:46.000Z","createdAt":"2025-10-03T19:03:43.160Z","id":"mAcN4vJHt8CNX8R2","name":"My workflow 2","active":false,"isArchived":true,"nodes":[{"parameters":{"updates":["message","*"],"additionalFields":{}},"id":"59c249f8-69be-438b-a576-477439ac8a64","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","position":[-2816,512],"webhookId":"f93fee58-1f72-4999-a0db-6776befc77cf","typeVersion":1.2,"credentials":{"telegramApi":{"id":"7UCg36pupNze5tT7","name":"Telegram account"}}},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}","additionalFields":{}},"id":"29233fd2-8c32-4efd-b2d5-3e159e8f5450","name":"Get Voice","type":"n8n-nodes-base.telegram","position":[-2064,704],"webhookId":"b7663d4d-413e-44a6-b9e6-848584cedb66","typeVersion":1.2,"credentials":{"telegramApi":{"id":"7UCg36pupNze5tT7","name":"Telegram account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"0a236099-525e-4748-a57d-8b8e2c63c48b","operator":{"type":"string","operation":"exists","singleValue":true},"leftValue":"={{ $json.message.text }}","rightValue":""}]},"renameOutput":true,"outputKey":"Text"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"24b7e8b8-6fce-4ddc-94b6-30b852891995","operator":{"type":"string","operation":"exists","singleValue":true},"leftValue":"={{  $json.message.voice.file_id }}","rightValue":""}]},"renameOutput":true,"outputKey":"Voice"}]},"options":{}},"id":"a50ecf76-a9ff-4a67-bca1-e4f224eec842","name":"Text Or Voice","type":"n8n-nodes-base.switch","position":[-2384,512],"typeVersion":3.2},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"28c5a2a3-1aea-49f7-b462-34369d141466","name":"Transcribe The Voice","type":"@n8n/n8n-nodes-langchain.openAi","position":[-1872,704],"typeVersion":1.8,"credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"operation":"sendChatAction","chatId":"={{ $json.message.chat.id }}"},"id":"218ec66d-aea1-4bae-9adf-5b7ac016369c","name":"Typing Action","type":"n8n-nodes-base.telegram","position":[-2384,336],"webhookId":"9abae683-fd68-4377-a0b8-d31f853753e7","typeVersion":1.2,"credentials":{"telegramApi":{"id":"7UCg36pupNze5tT7","name":"Telegram account"}}},{"parameters":{"assignments":{"assignments":[{"id":"590b803f-833c-4854-bde7-5241d25b2b32","name":"message.text","type":"string","value":"={{ $json.message.text }}"},{"id":"303e0b5d-3d37-48fc-bbd3-ce62dbe7ef78","name":"sessionId","type":"string","value":"={{ $json.message.message_id }}"}]},"options":{}},"id":"dbce89a0-d799-45f0-8640-4232ee73be97","name":"Send Context To AI Agent","type":"n8n-nodes-base.set","position":[-1696,496],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"2bb71aef-0ca1-4c26-95e1-c0c83bc82068","name":"message.text","type":"string","value":"={{ $json.text }}"},{"id":"692a2bae-35da-41d3-be8d-32c0f5dfbbef","name":"sessionId","type":"string","value":"={{ $('Telegram Trigger').item.json.message.chat.id }}"}]},"options":{}},"id":"f7160806-b93d-4d63-b4c0-39eab2e73e8f","name":"Send Transcribe Context To AI Agent","type":"n8n-nodes-base.set","position":[-1696,704],"typeVersion":3.4},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{"temperature":0}},"id":"7a1ebe43-f753-4ad7-a52e-bfdd8266ab0f","name":"Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1360,624],"credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"promptType":"define","text":"={{ $json.message.text }}","options":{"systemMessage":"=Eres un asistente de calendario útil. Puedes comprobar la disponibilidad y recuperar eventos de Google Calendar, así como crear eventos nuevos y borrar eventos.\nCuando los usuarios pregunten por fechas, utiliza las herramientas del calendario para obtener la información.\nIndica siempre los rangos de fechas de forma clara al usar las herramientas.\n\nUsa el input para obtener los datos y conviértelos en campos que sean entendibles por Google Calendar:\n\nLa primera hora será la de inicio (start time).\n\nLa segunda hora será la de finalización (end time).\n\nAñade también los asistentes desde el input. Así como una descripción si la hay.\n\nDebes identificar si la acción es consultar, añadir o borrar eventos.\nConvierte los datos a JSON para que sean entendibles por Google Calendar y crea los campos en JSON para poder usarlos en los siguientes nodos.\n\nEl título del evento debe generarse como:\n\"Reunión\" + nombre de los usuarios que asistan.\n\nNecesitas los correos electrónicos de los participantes, pídelos expresamente y complétalos en el JSON.\nSi consideras que hacen falta más datos para la descripción del evento, solicítalos también.\n\n⚠️ No inventes correos de los participantes: pide siempre los datos reales antes de crear el evento.\nCuando te pidan borrar uno o varios eventos, localiza los eventos en el calendario y copia sus id para pasárselos al nodo de borrar eventos y que dicho nodo pueda borrarlos.\nLa fecha de hoy es: {{ $now }}","maxIterations":10,"returnIntermediateSteps":false,"passthroughBinaryImages":true,"batching":{},"enableStreaming":true}},"id":"7901ce3b-c860-41ac-a9eb-cfe26f76354d","name":"Calendar agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-1056,352]},{"parameters":{"fieldToSplitOut":"content","include":"=","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-448,352],"id":"853289b4-9753-4fbf-8063-ffbe9bad6275","name":"Split Out"},{"parameters":{"jsCode":" inputText = $json[\"output\"]; // Replace \"yourKey\" with the actual key holding the string from the previous node\n\ninputText = inputText.replace(/\\*/g, '-');\n\n\nif (typeof inputText !== \"string\") {\n throw new Error(\"Input must be a string\");\n}\n\n// Split the text into 4000-character chunks\nconst blocks = inputText.match(/[\\s\\S]{1,4000}/g);\n\n// Return the array with a better key name\nreturn blocks.map((block, index) => ({ \n blockNumber: index + 1, \n content: block \n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-656,352],"id":"2aecf33f-bc7f-4ffc-b70f-0c465472a4b1","name":"Text Chunk"},{"parameters":{"calendar":{"__rl":true,"value":"dhoo8t96r2parotqflg544lt8g@group.calendar.google.com","mode":"list","cachedResultName":"welcomepublic"},"start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}","end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}","useDefaultReminders":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Use_Default_Reminders', ``, 'boolean') }}","additionalFields":{"attendees":["={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('attendees0_Attendees', ``, 'string') }}"],"color":"7","description":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}","summary":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-784,592],"id":"311eaca1-9870-4761-8dd3-5391166ef0b4","name":"Create an event in Google Calendar","credentials":{"googleCalendarOAuth2Api":{"id":"DDGUQwdD8fqXiUrz","name":"Google Calendar account"}}},{"parameters":{"resource":"calendar","calendar":{"__rl":true,"value":"dhoo8t96r2parotqflg544lt8g@group.calendar.google.com","mode":"list","cachedResultName":"welcomepublic"},"timeMin":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start_Time', `Start date for availability check`, 'string') }}","timeMax":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End_Time', `End date for availability check`, 'string') }}","options":{}},"id":"bddfc7d8-b925-4761-a9d3-9e757ea7c536","name":"Get disponibilidad","type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-976,624],"credentials":{"googleCalendarOAuth2Api":{"id":"DDGUQwdD8fqXiUrz","name":"Google Calendar account"}}},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"dhoo8t96r2parotqflg544lt8g@group.calendar.google.com","mode":"list","cachedResultName":"welcomepublic"},"options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-448,576],"id":"2275e273-5b44-477d-82ff-6ec9b6142031","name":"Get many events in Google Calendar","credentials":{"googleCalendarOAuth2Api":{"id":"DDGUQwdD8fqXiUrz","name":"Google Calendar account"}}},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"dhoo8t96r2parotqflg544lt8g@group.calendar.google.com","mode":"list","cachedResultName":"welcomepublic"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-624,592],"id":"dda5f8ca-d442-41aa-80e3-7a2cc350c938","name":"Delete an event in Google Calendar","credentials":{"googleCalendarOAuth2Api":{"id":"DDGUQwdD8fqXiUrz","name":"Google Calendar account"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.from.id }}","text":"={{ $json.content }}","additionalFields":{"appendAttribution":false}},"id":"76138bcb-5696-4475-b129-18b641084b88","name":"Send Response To Telegram1","type":"n8n-nodes-base.telegram","position":[176,352],"webhookId":"193fb5c0-e804-4e40-aa4e-23f3aa843f45","typeVersion":1.2,"credentials":{"telegramApi":{"id":"7UCg36pupNze5tT7","name":"Telegram account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger').item.json.message.chat.id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-1184,624],"id":"faa06413-173b-42be-97c9-d09b3ce6467b","name":"Simple Memory1"},{"parameters":{"amount":7},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-608,128],"id":"f4bbd762-4dfb-4f9f-8df4-71dc4a32b2fe","name":"Wait","webhookId":"bfac4755-d5a4-43a2-a7bd-2f9f77eec8a2"},{"parameters":{"operation":"push","list":"={{ $json.sessionId }}","messageData":"={{ JSON.stringify({\n      message   : $json.message,\n      sessionID : $json.sessionId ,\n      date_time : $('Telegram Trigger').item.json.message.date.toDateTime('s')\n}) }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1264,-80],"id":"5eb52bb0-8af3-4ac3-ab26-14767e7999c5","name":"pushRedis","credentials":{"redis":{"id":"s43Tiha7X724barC","name":"Redis account"}}},{"parameters":{"operation":"get","propertyName":"Mensaje","key":"={{ JSON.stringify({\n      mensaje   : $json.message,\n      sessionID : $json.sessionId,\n      date_time : $('Telegram Trigger').item.json.message.date.toDateTime('s')\n}) }}","keyType":"list","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1040,-80],"id":"7e840331-dc6a-42c7-b0b5-b08e3a8c2b0f","name":"bufferRedis","credentials":{"redis":{"id":"s43Tiha7X724barC","name":"Redis account"}}},{"parameters":{"operation":"delete","key":"={{ JSON.stringify({\n      message   : $json.message.text,\n      sessionID : $json.sessionId,\n      date_time : $('Telegram Trigger').item.json.message.date\n}) }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-624,-80],"id":"60d4d9b4-a0ed-4d89-afe0-755aacae2d05","name":"borrarRedis","credentials":{"redis":{"id":"s43Tiha7X724barC","name":"Redis account"}}},{"parameters":{"assignments":{"assignments":[{"id":"b594f1da-51e8-47a4-a636-7928a73b69f8","name":"mensaje","value":"={{ $json.Mensaje.map(m => JSON.parse(m).message).join('\\n') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-400,-80],"id":"b5313614-0ba4-467a-9c64-9e8869d848dc","name":"concatenarMensaje"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"=\n{{ JSON.parse($json.Mensaje.filter(m => m.trim().startsWith('{')).slice(-1)[0].split('||')[0].trim()).date_time) }}","rightValue":"={{ $now.minus(7, 'seconds').toLocal() }}","operator":{"type":"dateTime","operation":"before"},"id":"81c7205c-84c9-480e-8b5a-1a12b5ff7baa"}],"combinator":"and"},"renameOutput":true,"outputKey":"esperar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4fca4c39-e8bf-490b-8e2e-176c95d9156e","leftValue":"={{ JSON.parse(\n  $json.Mensaje\n    .filter(m => m.trim().startsWith('{'))\n    .slice(-1)[0]\n    .split('||')[0]\n    .trim()\n).sessionID }}\n","rightValue":"={{ $('pushRedis').item.json.sessionId }}","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"continuar"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"parar"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-160,-496],"id":"b6b535ea-1871-46ee-9212-4726fea3b289","name":"Switch"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-624,-208],"id":"6bb46d19-8a9b-4e4b-9252-e9469ea78925","name":"sinAccion"},{"parameters":{"assignments":{"assignments":[{"id":"1d1411b8-e185-417c-86ce-b7af234efc3c","name":"text","value":"={{ $json.text }}","type":"string"},{"id":"8320262c-39ca-4dc2-a1df-3610ccdc5f76","name":"caption","value":"={{ $('Telegram Trigger').item.json.message.caption || null }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[336,16],"id":"53bf9b32-fcb9-43e1-bc36-0d9d4a7ad007","name":"Get Message"},{"parameters":{"operation":"push","list":"={{ $('Telegram Trigger').item.json.message.from.id.toString() }}","messageData":"={{ $json.text }}","tail":true},"name":"Save Text to Redis","type":"n8n-nodes-base.redis","typeVersion":1,"position":[528,16],"id":"54571f68-4a4d-44bc-ad55-5b21307c2ea6","credentials":{"redis":{"id":"s43Tiha7X724barC","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.messages.last() }}","rightValue":"={{ $('Get Message').item.json.text }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"},"id":"f467654c-56fd-466d-a83b-54ab2aead0e2"}],"combinator":"and"},"options":{}},"name":"Check Continue Condition","type":"n8n-nodes-base.if","typeVersion":2,"position":[1296,16],"id":"f23f0124-5597-467b-827d-897a6e28fbdb"},{"parameters":{"operation":"delete","key":"={{ $('Telegram Trigger').item.json.message.from.id.toString() }}"},"name":"Delete Redis Key","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1536,0],"id":"4e4a9b02-fbd1-41a7-a3e8-424a77460aab","credentials":{"redis":{"id":"s43Tiha7X724barC","name":"Redis account"}}},{"parameters":{"jsCode":"const inItem = $input.first(); \nconst text   = (inItem.json.text ?? '').trim();\nconst WORDS_PER_MIN = 170;\n\nconst wordCount = text.length\n  ? text.split(/\\s+/).filter(w => w).length\n  : 0;\n\nconst wordsPerSec = WORDS_PER_MIN / 60;\nconst delaySeconds = Math.ceil(wordCount / wordsPerSec);\n\nreturn [{\n    delay: delaySeconds\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[704,16],"id":"5ed071d7-4479-45c0-8dad-d65f69029aec","name":"Split Paragraphs & Reading Delay"},{"parameters":{"operation":"get","propertyName":"=messages","key":"={{ $('Telegram Trigger').item.json.message.from.id.toString() }}","keyType":"list","options":{"dotNotation":false}},"name":"Get Text from Redis3","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1088,16],"id":"58da2649-3933-4935-b8d0-1ec1b121f6d2","credentials":{"redis":{"id":"s43Tiha7X724barC","name":"Redis account"}}},{"parameters":{"amount":"={{ $json.delay }}"},"name":"Wait (Random Delay)","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[880,16],"id":"d095775c-be64-48a2-8532-bca8508a13e1","webhookId":"3c7eaa1d-4691-44b0-8b11-a716fa0611cd"},{"parameters":{"assignments":{"assignments":[{"id":"7c0e7b4b-342a-43d9-98d0-d383de1d8cf7","name":"Numero_Telefono","value":"={{ $json.body.data.key.remoteJid.replaceAll(\"@s.whatsapp.net\", \"\")}}","type":"string"},{"id":"03f5b82a-45b4-4465-84a3-095c31d864f0","name":"Nombre","value":"={{ $json.body.data.pushName }}","type":"string"},{"id":"63566525-58bb-474e-b363-f218f196cd15","name":"Mensaje","value":"={{ $json.body.data.message.conversation }}","type":"string"},{"id":"7a43af2b-3250-4d63-b289-61374bb3a1bc","name":"Tipo_Mensaje","value":"={{ $json.body.data.messageType }}","type":"string"},{"id":"6f616e3b-5a54-45ae-89d6-5fe50910a117","name":"Instancia","value":"={{ $json.body.instance }}","type":"string"},{"id":"e74683c5-3350-4987-a200-df59c30f658a","name":"ID","value":"={{ $json.body.data.key.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1904,-704],"id":"fdcf58d6-d413-4f05-96e3-bc4f95326ca9","name":"Edit Fields"},{"parameters":{"operation":"push","list":"={{ $('Edit Fields').item.json.Numero_Telefono }}","messageData":"={{ JSON.stringify({\n      message   : $json.Mensaje || $json[\"texto-voz\"],\n      sessionID : $('Edit Fields').item.json.ID,\n      date_time : $node[\"Webhook\"].json.body.data.messageTimestamp.toDateTime('s')\n}) }}\n","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1456,-704],"id":"3f96a101-25f4-4780-9a31-6dad80b055a7","name":"Redis3","credentials":{"redis":{"id":"s43Tiha7X724barC","name":"Redis account"}}},{"parameters":{"operation":"get","propertyName":"Mensaje","key":"={{ $('Edit Fields').item.json.Numero_Telefono }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1232,-704],"id":"4b10c623-bc36-4a19-a276-c2086a913a37","name":"Redis4","credentials":{"redis":{"id":"s43Tiha7X724barC","name":"Redis account"}}},{"parameters":{"assignments":{"assignments":[{"id":"b594f1da-51e8-47a4-a636-7928a73b69f8","name":"mensaje","value":"={{ $json.Mensaje.map(m => JSON.parse(m).message).join('\\n') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-560,-800],"id":"95eac3f6-ce6d-483a-8404-6df037481191","name":"Edit Fields5"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ JSON.parse(\n  $json.Mensaje\n    .filter(m => m.trim().startsWith('{'))\n    .slice(-1)[0]\n    .split('||')[0]\n    .trim()\n).sessionID }}\n","rightValue":"={{ String($node[\"Redis3\"].json.ID).trim() }}\n","operator":{"type":"string","operation":"notEquals"},"id":"81c7205c-84c9-480e-8b5a-1a12b5ff7baa"}],"combinator":"and"},"renameOutput":true,"outputKey":"Ignoran"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4fca4c39-e8bf-490b-8e2e-176c95d9156e","leftValue":"={{ DateTime.fromISO($json.Mensaje.filter(m => m.trim().startsWith('{')).slice(-1)[0].split('||')[0].trim()).date_time }}\n","rightValue":"={{ $now.minus(7, 'seconds').toLocal() }}","operator":{"type":"dateTime","operation":"before"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Continuamos"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"Esperar"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1008,-816],"id":"4638fd9d-f2be-4b84-a4b5-b8b43bcf2e3d","name":"Switch3"},{"parameters":{"amount":7},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-784,-608],"id":"ec3d59d8-5ba4-4846-a5c8-5eb609099d87","name":"Wait3","webhookId":"96c27c05-96e6-490e-ac24-3c38c75c7d9b"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-784,-992],"id":"43c3628f-0e3c-4a86-b613-93ae3b3bfd38","name":"No Operation, do nothing3"},{"parameters":{"operation":"delete","key":"={{ $('Edit Fields').item.json.Numero_Telefono }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-784,-800],"id":"2ab62bf4-4345-4539-8f77-779e59b26757","name":"Redis5","credentials":{"redis":{"id":"s43Tiha7X724barC","name":"Redis account"}}},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-336,-816],"id":"3ed9428f-416d-4bb0-a5b5-1fe6992818fa","name":"Merge1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.Tipo_Mensaje }}","rightValue":"conversation","operator":{"type":"string","operation":"equals"},"id":"a1ae30d8-caca-41ff-857b-ed9f55b09ca1"}],"combinator":"and"},"renameOutput":true,"outputKey":"Mensaje Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"11e0f3f8-1dd2-4efd-aad1-cf42c96bbc5d","leftValue":"={{ $json.Tipo_Mensaje }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Mensaje de Voz"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c338dd6b-e18d-4528-95e7-990cd94d5da7","leftValue":"={{ $json.Tipo_Mensaje }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Mensaje Imagen"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1680,-720],"id":"0a9adde5-0b0c-4703-9b23-d6ec5422e89a","name":"Switch1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ JSON.parse(\n  $('pushRedis').item.json.message\n    .filter(m => m.trim().startsWith('{'))\n    .slice(-1)[0]\n    .split('||')[0]\n    .trim()\n).sessionId }}\n","rightValue":"={{ $('pushRedis').item.json.sessionId }}","operator":{"type":"string","operation":"notEquals"},"id":"81c7205c-84c9-480e-8b5a-1a12b5ff7baa"}],"combinator":"and"},"renameOutput":true,"outputKey":"Ignoran"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4fca4c39-e8bf-490b-8e2e-176c95d9156e","leftValue":"={{ (JSON.parse($('pushRedis').item.json.message\n    .filter(m => m.trim().startsWith('{'))\n    .slice(-1)[0]\n    .split('||')[0]\n    .trim()).date_time) }}","rightValue":"={{ $now.minus(7, 'seconds').toLocal() }}","operator":{"type":"dateTime","operation":"before"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Continuamos"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"Esperar"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-848,-96],"id":"e455cf3c-dfe5-46c4-b0a3-35df64afb086","name":"Switch4"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ JSON.parse(\n  $json.Mensaje\n    .filter(m => m.trim().startsWith('{'))\n    .slice(-1)[0]\n    .split('||')[0]\n    .trim()\n).sessionID }}\n","rightValue":"={{ String($node[\"Redis3\"].json.ID).trim() }}\n","operator":{"type":"string","operation":"notEquals"},"id":"81c7205c-84c9-480e-8b5a-1a12b5ff7baa"}],"combinator":"and"},"renameOutput":true,"outputKey":"Ignoran"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4fca4c39-e8bf-490b-8e2e-176c95d9156e","leftValue":"={{ DateTime.fromISO(JSON.parse($json.Mensaje.filter(m => m.trim().startsWith('{')).slice(-1)[0].split('||')[0].trim()).date_time) }}\n","rightValue":"={{ $now.minus(7, 'seconds').toLocal() }}","operator":{"type":"dateTime","operation":"before"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Continuamos"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"Esperar"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-848,-320],"id":"19ff94b2-d126-47cd-9bf3-fdcff099d771","name":"Switch5"}],"connections":{"Telegram Trigger":{"main":[[{"node":"Text Or Voice","type":"main","index":0},{"node":"Typing Action","type":"main","index":0}]]},"Get Voice":{"main":[[{"node":"Transcribe The Voice","type":"main","index":0}]]},"Text Or Voice":{"main":[[{"node":"Send Context To AI Agent","type":"main","index":0}],[{"node":"Get Voice","type":"main","index":0}]]},"Transcribe The Voice":{"main":[[{"node":"Send Transcribe Context To AI Agent","type":"main","index":0}]]},"Send Context To AI Agent":{"main":[[{"node":"pushRedis","type":"main","index":0}]]},"Send Transcribe Context To AI Agent":{"main":[[{"node":"pushRedis","type":"main","index":0}]]},"Model":{"ai_languageModel":[[{"node":"Calendar agent","type":"ai_languageModel","index":0}]]},"Calendar agent":{"main":[[{"node":"Text Chunk","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Send Response To Telegram1","type":"main","index":0}]]},"Text Chunk":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Create an event in Google Calendar":{"ai_tool":[[{"node":"Calendar agent","type":"ai_tool","index":0}]]},"Get disponibilidad":{"ai_tool":[[{"node":"Calendar agent","type":"ai_tool","index":0}]]},"Get many events in Google Calendar":{"ai_tool":[[{"node":"Calendar agent","type":"ai_tool","index":0}]]},"Delete an event in Google Calendar":{"ai_tool":[[{"node":"Calendar agent","type":"ai_tool","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"Calendar agent","type":"ai_memory","index":0}]]},"Wait":{"main":[[{"node":"bufferRedis","type":"main","index":0}]]},"pushRedis":{"main":[[{"node":"bufferRedis","type":"main","index":0}]]},"bufferRedis":{"main":[[{"node":"Switch4","type":"main","index":0}]]},"borrarRedis":{"main":[[{"node":"concatenarMensaje","type":"main","index":0}]]},"concatenarMensaje":{"main":[[{"node":"Calendar agent","type":"main","index":0}]]},"Switch":{"main":[[],[],[]]},"Get Message":{"main":[[{"node":"Save Text to Redis","type":"main","index":0}]]},"Save Text to Redis":{"main":[[{"node":"Split Paragraphs & Reading Delay","type":"main","index":0}]]},"Check Continue Condition":{"main":[[{"node":"Delete Redis Key","type":"main","index":0}]]},"Split Paragraphs & Reading Delay":{"main":[[{"node":"Wait (Random Delay)","type":"main","index":0}]]},"Get Text from Redis3":{"main":[[{"node":"Check Continue Condition","type":"main","index":0}]]},"Wait (Random Delay)":{"main":[[{"node":"Get Text from Redis3","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Redis3":{"main":[[{"node":"Redis4","type":"main","index":0}]]},"Redis4":{"main":[[{"node":"Switch3","type":"main","index":0}]]},"Edit Fields5":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Switch3":{"main":[[{"node":"No Operation, do nothing3","type":"main","index":0}],[{"node":"Redis5","type":"main","index":0}],[{"node":"Wait3","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"Redis4","type":"main","index":0}]]},"Redis5":{"main":[[{"node":"Edit Fields5","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Redis3","type":"main","index":0}]]},"Switch4":{"main":[[{"node":"sinAccion","type":"main","index":0}],[{"node":"borrarRedis","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"68043532-d6a8-430c-80a4-f79e95431165","triggerCount":0,"shared":[{"updatedAt":"2025-10-03T19:03:43.162Z","createdAt":"2025-10-03T19:03:43.162Z","role":"workflow:owner","workflowId":"mAcN4vJHt8CNX8R2","projectId":"prlZ3bTXg0wKi0D1"}],"tags":[]}