my-workflow-2-8al8SaigStAOZ0ii.json
{"updatedAt":"2025-11-04T12:07:14.000Z","createdAt":"2025-10-26T13:40:45.397Z","id":"8al8SaigStAOZ0ii","name":"My workflow 2","active":false,"isArchived":false,"nodes":[{"parameters":{"calendar":{"__rl":true,"value":"bestfranquicias@gmail.com","mode":"list","cachedResultName":"bestfranquicias@gmail.com"},"start":"={{ $fromAI(\"start\",\"date and time for when the event should start\") }}","end":"={{ $fromAI(\"end\",\"date and time for when the event should end\") }}","additionalFields":{"summary":"={{ $fromAI(\"title\",\"title of the event\") }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-160,928],"id":"772385f9-fb50-47f6-b246-88ef6848a96e","name":"Calendar Create","credentials":{"googleCalendarOAuth2Api":{"id":"DDGUQwdD8fqXiUrz","name":"Google Calendar account Bestfranquicias"}}},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"bestfranquicias@gmail.com","mode":"list","cachedResultName":"bestfranquicias@gmail.com"},"limit":20,"options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-272,896],"id":"4102e86e-0ce8-47c7-8702-ff77f75e5570","name":"Calendar Read","credentials":{"googleCalendarOAuth2Api":{"id":"DDGUQwdD8fqXiUrz","name":"Google Calendar account Bestfranquicias"}}},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"=shishikant514@gmail.com","mode":"id"},"eventId":"={{ $fromAI(\"id\",\"the id of the event\") }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-32,976],"id":"75ab3cea-6fb2-464a-aeac-f54653a6c589","name":"Google Calendar","credentials":{"googleCalendarOAuth2Api":{"id":"DDGUQwdD8fqXiUrz","name":"Google Calendar account Bestfranquicias"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Get row(s) in sheet in Google Sheets","documentId":{"__rl":true,"value":"1iDuO6rx8fEM_HT_jNa_mHrmAXJHweg9n7PWdKOGmWvo","mode":"list","cachedResultName":"TEMPLATE WhatsApp AI Agent Appointment Setter","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1iDuO6rx8fEM_HT_jNa_mHrmAXJHweg9n7PWdKOGmWvo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Appointments","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1iDuO6rx8fEM_HT_jNa_mHrmAXJHweg9n7PWdKOGmWvo/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[96,1008],"id":"d1d338ef-928b-4b0c-9ac1-89cf5961ee1c","name":"Google Sheets - Read","credentials":{"googleSheetsOAuth2Api":{"id":"u3wPsvNe1n4GWzVs","name":"Google Sheets Bestfranquicias"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1iDuO6rx8fEM_HT_jNa_mHrmAXJHweg9n7PWdKOGmWvo","mode":"list","cachedResultName":"TEMPLATE WhatsApp AI Agent Appointment Setter","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1iDuO6rx8fEM_HT_jNa_mHrmAXJHweg9n7PWdKOGmWvo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Appointments","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1iDuO6rx8fEM_HT_jNa_mHrmAXJHweg9n7PWdKOGmWvo/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Email":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Email', ``, 'string') }}","Fecha":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fecha', ``, 'string') }}","Nombre":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nombre', ``, 'string') }}","Teléfono":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tel_fono', ``, 'string') }}","Servicio":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Servicio', ``, 'string') }}","Estado":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Estado', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Teléfono","displayName":"Teléfono","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Servicio","displayName":"Servicio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Estado","displayName":"Estado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[224,960],"id":"29137c32-335b-42f3-b41d-95fe5bb0376c","name":"Google Sheets - Add Row","credentials":{"googleSheetsOAuth2Api":{"id":"u3wPsvNe1n4GWzVs","name":"Google Sheets Bestfranquicias"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1iDuO6rx8fEM_HT_jNa_mHrmAXJHweg9n7PWdKOGmWvo","mode":"list","cachedResultName":"TEMPLATE WhatsApp AI Agent Appointment Setter","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1iDuO6rx8fEM_HT_jNa_mHrmAXJHweg9n7PWdKOGmWvo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Appointments","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1iDuO6rx8fEM_HT_jNa_mHrmAXJHweg9n7PWdKOGmWvo/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Email":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Email', ``, 'string') }}","Teléfono":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tel_fono__using_to_match_', ``, 'string') }}","Fecha":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fecha', ``, 'string') }}","Nombre":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nombre', ``, 'string') }}","Servicio":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Servicio', ``, 'string') }}","Estado":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Estado', ``, 'string') }}"},"matchingColumns":["Teléfono"],"schema":[{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Teléfono","displayName":"Teléfono","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Servicio","displayName":"Servicio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Estado","displayName":"Estado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[320,880],"id":"1cecc838-b72f-4ad1-8af5-6df9520a4264","name":"Google Sheets - Update Row","credentials":{"googleSheetsOAuth2Api":{"id":"u3wPsvNe1n4GWzVs","name":"Google Sheets Bestfranquicias"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}","contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-400,880],"id":"eca524b3-adf9-445b-85e2-9339c6338357","name":"Window Buffer Memory1"},{"parameters":{"assignments":{"assignments":[{"id":"36f2a5d1-8889-40d5-b9bd-f4a374e5a97b","name":"text","value":"={{ $json.messages[0].text.body }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-352,656],"id":"474fc1d6-4b43-4d2e-8364-35fd95e7e379","name":"Edit Fields"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-544,880],"id":"5de63568-3318-4149-a068-664ddf6cec9f","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"sendTo":"={{ $fromAI(\"email\",\"the email address of the user gave you earlier\") }}","subject":"={{ $fromAI(\"subject\",\"the email subjectline that just is [New Booking] + Booking date and time converted to the user timezone that he mentioned earlier'\") }}","message":"={{ $fromAI(\"body\",\"the email body that contains the message that the booking of the user was confirmed along with booking date, email, name, timezone, what user wants to discuss during the appointment\") }}","options":{"appendAttribution":false,"bccList":"pete@leoneses.com"}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[448,832],"id":"933fe4e3-e10a-4181-aa4f-b47aa5d1f40d","name":"Gmail - Send Confirmation User","webhookId":"14db8167-92cc-42dd-aed1-22ee9e8e3b1e","credentials":{"gmailOAuth2":{"id":"1dWL4JO1wT5xRo2y","name":"Gmail account Bestfranquicias"}}},{"parameters":{"httpMethod":"POST","path":"0c5fffa3-c2ac-4fed-b2df-3df4532f9980","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-464,208],"id":"d86d9669-bba5-4e13-a874-886c81db7690","name":"Webhook","webhookId":"0c5fffa3-c2ac-4fed-b2df-3df4532f9980"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"=Your job is to send a short reminder whatsapp message using the first name of  {{ $json.body.name }}. It should also mention that his appontment regarding \"{{ $json.body.topic }}\" will take place on {{ $json.body.appointmentDate }}. However that appointment time is based on the German time. Please convert the time to this correct timezone {{ $json.body.timezone }}. The current time is {{ $now }}. Sign off \"Fabian\" as this is my name.\n\n#Rules: \n1) Only generate the raw message and never use any introduction like \"Certainly! Here's a short reminder message for Andreas:\"\n2) Do not use line breaks."}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-256,208],"id":"b114c812-3b97-432c-a196-a510b9299d3b","name":"OpenAI","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.messages[0].type }}","rightValue":"audio","operator":{"type":"string","operation":"equals"},"id":"0f591beb-efc8-4df1-9aaa-5146a92df7a0"}],"combinator":"and"},"renameOutput":true,"outputKey":"voice"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"28e2285d-c325-49ac-b949-540fd48a8bde","leftValue":"={{ $json.messages[0].type }}","rightValue":"text","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-880,640],"id":"7c85fde7-ef50-414d-bdce-1bfe7370a0db","name":"Switch"},{"parameters":{"url":"={{ $json.url }}","authentication":"predefinedCredentialType","nodeCredentialType":"whatsAppApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer INSERT_ACCESS_TOKEN"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-544,448],"id":"df217482-8025-4119-b554-7c260fd85bd2","name":"HTTP Request","credentials":{"whatsAppApi":{"id":"ScdryByaPLumqNl8","name":"WhatsApp account"}}},{"parameters":{"resource":"media","operation":"mediaUrlGet","mediaGetId":"={{ $json.messages[0].audio.id }}"},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-704,448],"id":"1ad3436d-5664-432f-885d-f859dddb504b","name":"WhatsApp Download Audio","webhookId":"5cdfa3f0-cb3e-4a7b-b4bd-678c29c64986","credentials":{"whatsAppApi":{"id":"ScdryByaPLumqNl8","name":"WhatsApp account"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-384,448],"id":"f3a41720-7bee-45da-b3d3-0b89c2e50bc6","name":"Transcribe Audio","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"operation":"send","phoneNumberId":"896307336888870","recipientPhoneNumber":"={{ $('Webhook').item.json.body.phone }}","textBody":"={{ $('OpenAI').item.json.message.content }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[144,208],"id":"e53c849e-0e5b-43e9-8f3e-9ef2a090fd5f","name":"WhatsApp Reminder","webhookId":"09cf12c6-f9c1-429a-a6ae-7c3a7c0e7aa7","credentials":{"whatsAppApi":{"id":"ScdryByaPLumqNl8","name":"WhatsApp account"}}},{"parameters":{"operation":"send","phoneNumberId":"={{ $('WhatsApp Trigger').item.json.metadata.phone_number_id }}","recipientPhoneNumber":"={{ $('WhatsApp Trigger').item.json.messages[0].from }}","textBody":"={{ $json.output }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[176,656],"id":"b43f0390-f796-48a7-aeab-eced98badd13","name":"WhatsApp Response","webhookId":"e9f6cb24-1fbc-451e-939c-20fb8294f3ba","credentials":{"whatsAppApi":{"id":"ScdryByaPLumqNl8","name":"WhatsApp account"}}},{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":"=Eres un asistente de IA especializado en gestionar citas para un salón de uñas profesional.\n\n# Herramientas Disponibles:\n\n1) Google Calendar: Crear, reprogramar y eliminar eventos\n2) Google Sheets:\n   - \"Google Sheet - Add Row\": Agregar nuevas filas\n   - \"Google Sheet - Update Row\": Actualizar filas existentes\n   - \"Google Sheet - Read\": Leer contenido de la hoja\n3) Gmail - Send Confirmation User: Enviar correos de confirmación\n\nLa fecha y hora actual en Zona Horaria Española es: {{ $now }}\n\n# Tu Tarea:\n\n1) Inicia preguntando al usuario:\n\"¿Te gustaría agendar una cita para tus uñas? Necesito que me proporciones un telefono, tu nombre completo y si tienes un email. El día y la hora que deseas para la cita para comprobar disponibilidad\"\n\nSi responde afirmativamente, comienza a recopilar su información de contacto.\n\nDebes SIEMPRE recopilar la información en este orden estricto:\n\n- Primero: Teléfono\n  → El teléfono será el identificador único para buscar la fila en Google Sheet.\n  → Después de recibir el telefono, inmediatamente verifica si ya existe una fila con este teléfono usando \"Google Sheet - Read\".\n    - Si existe, usa \"Google Sheet - Update Row\" para actualizar la fila existente.\n    - Si no existe, usa \"Google Sheet - Add Row\" para crear una nueva con el teléfono.\n\n- Luego: Nombre completo, Servicio deseado y día y hora de la cita\n\n❗ Espera la respuesta del usuario antes de preguntar lo siguiente.\n❗ Después de cada respuesta, actualiza inmediatamente el Google Sheet usando \"Google Sheet - Update Row\", buscando por el número de teléfono.\n\n2) Debes SIEMPRE almacenar toda la información del usuario (nombre, teléfono y fecha de cita) en el Google Sheet.\n\n2.5) Pregunta al usuario:\n\"¿Qué servicio te gustaría? (manicura, pedicura, uñas acrílicas, diseño de uñas, etc.)\"\n\n- Espera la respuesta del usuario.\n- Inmediatamente actualiza la misma fila en el Google Sheet usando \"Google Sheet - Update Row\", buscando por el número de teléfono.\n- Guarda la respuesta del usuario como el tema de la cita o servicio solicitado.\n\n3) Una vez que hayas recopilado la información de contacto del usuario y el servicio deseado, DEBES ofrecer 5 horarios disponibles para la reserva.\n\n- El horario de atención es en Zona Horaria Española:\n  - Lunes a Viernes\n  - Bloque de mañana: 10:00–14:00\n  - Bloque de tarde: 17:00–20:00\n  - (Nunca ofrezcas horarios entre 14:00 y 17:00)\n\n- Cuando un usuario solicite un rango de tiempo (ej. \"tarde\"), sigue esta lógica:\n  1. Entiende el rango de tiempo basado en mañanas de 10:00 a 14:00 y tardes de 17:00 a 20:00.\n  2. Convierte ese rango de tiempo a hora española.\n  3. Solo ofrece horarios que coincidan tanto con la intención del usuario como con el horario de oficina de España.\n\n- Debes verificar que haya un bloque completo de 60 minutos disponible:\n  - La hora de inicio y fin no debe entrar en conflicto con ningún evento existente en el calendario.\n  - El horario debe comenzar al menos 12 horas en el futuro.\n\n- Presenta los horarios en un formato simple y amigable como:\n  \"Aquí están los próximos horarios disponibles:\n  - Jueves a las 10:00 AM\n  - Viernes a las 11:30 AM\n  ...\"\n\n- Si no hay horarios válidos que coincidan con el período solicitado por el usuario (ej. tarde), informa cortésmente al usuario y ofrece las siguientes opciones más cercanas.\n\n- Nunca menciones horarios no disponibles o ya reservados. Solo muestra los libres. No incluyas notas, recordatorios o explicaciones sobre otras reservas.\n\n→ Siempre respeta el horario de verano (DST).\n\n4) Cuando el usuario confirme una fecha y hora preferida, debes:\n\n- Crear un evento en el Google Calendar a la hora seleccionada.\n\n- Las citas siempre deben programarse para 60 minutos a menos que el usuario especifique lo contrario.\n\n- No crees una nueva fila en el Google Sheet.\n\n- En su lugar, usa la herramienta \"Google Sheet - Update Row\" para actualizar la fila existente correspondiente al usuario (buscando por número de teléfono) y agrega la fecha y hora seleccionada como la cita confirmada.\n\n- La hora de la cita guardada en el Google Sheet SIEMPRE debe estar en la hora local del asistente (hora española)\n\n- Después de que la reserva esté confirmada, en caso de que tengas el correo de esa persona envía un email de confirmación al usuario usando la herramienta \"Gmail - Send Confirmation User\".\n\n- El email debe incluir:\n  - La fecha y hora de la cita confirmada (en la zona horaria local del usuario)\n  - El nombre del usuario y el servicio solicitado\n  - Un mensaje corto y amigable confirmando la reserva\n\nSolo envía el email de confirmación después de que el evento del calendario haya sido creado y todos los datos se hayan almacenado en el Google Sheet."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-176,656],"id":"ff6d95f0-f295-4a6f-ae3c-a9551c59d6db","name":"AI Agent - Books Appointments"},{"parameters":{"updates":["messages"],"options":{}},"type":"n8n-nodes-base.whatsAppTrigger","typeVersion":1,"position":[-1120,640],"id":"59f34286-7f94-4d69-aefa-f6d630a53541","name":"WhatsApp TriggerOriginal","webhookId":"28844a97-eefe-4575-8514-40334181c85f","credentials":{"whatsAppTriggerApi":{"id":"SgwwUp1JPj8kbodC","name":"WhatsApp OAuth account"}},"disabled":true},{"parameters":{"updates":["messages"],"options":{}},"type":"n8n-nodes-base.whatsAppTrigger","typeVersion":1,"position":[-1120,480],"id":"cc4be3d7-a982-4476-a475-afaddacbb34c","name":"WhatsApp Trigger","webhookId":"3e9810da-297d-4910-acd5-ca574baf3e20","credentials":{"whatsAppTriggerApi":{"id":"SgwwUp1JPj8kbodC","name":"WhatsApp OAuth account"}}}],"connections":{"Calendar Create":{"ai_tool":[[{"node":"AI Agent - Books Appointments","type":"ai_tool","index":0}]]},"Calendar Read":{"ai_tool":[[{"node":"AI Agent - Books Appointments","type":"ai_tool","index":0}]]},"Google Calendar":{"ai_tool":[[{"node":"AI Agent - Books Appointments","type":"ai_tool","index":0}]]},"Google Sheets - Read":{"ai_tool":[[{"node":"AI Agent - Books Appointments","type":"ai_tool","index":0}]]},"Google Sheets - Add Row":{"ai_tool":[[{"node":"AI Agent - Books Appointments","type":"ai_tool","index":0}]]},"Google Sheets - Update Row":{"ai_tool":[[{"node":"AI Agent - Books Appointments","type":"ai_tool","index":0}]]},"Window Buffer Memory1":{"ai_memory":[[{"node":"AI Agent - Books Appointments","type":"ai_memory","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent - Books Appointments","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent - Books Appointments","type":"ai_languageModel","index":0}]]},"Gmail - Send Confirmation User":{"ai_tool":[[{"node":"AI Agent - Books Appointments","type":"ai_tool","index":0}]]},"Webhook":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"WhatsApp Reminder","type":"main","index":0}]]},"Switch":{"main":[[{"node":"WhatsApp Download Audio","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Transcribe Audio","type":"main","index":0}]]},"WhatsApp Download Audio":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Transcribe Audio":{"main":[[{"node":"AI Agent - Books Appointments","type":"main","index":0}]]},"AI Agent - Books Appointments":{"main":[[{"node":"WhatsApp Response","type":"main","index":0}]]},"WhatsApp TriggerOriginal":{"main":[[]]},"WhatsApp Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4f8e3acb-38f7-4410-9e54-ff768be47c4a","triggerCount":2,"shared":[{"updatedAt":"2025-10-26T13:40:45.400Z","createdAt":"2025-10-26T13:40:45.400Z","role":"workflow:owner","workflowId":"8al8SaigStAOZ0ii","projectId":"prlZ3bTXg0wKi0D1"}],"tags":[]}