my-workflow-IT9AYHcnb9KqQlwC.json
{"updatedAt":"2025-10-08T22:17:11.000Z","createdAt":"2025-10-03T11:01:43.959Z","id":"IT9AYHcnb9KqQlwC","name":"My workflow","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.message.text }}","options":{}},"id":"15fa9a72-c4da-4096-8afc-731514780749","name":"CITA&INFO","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[0,0]},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-240,16],"id":"cd080267-55c6-4919-b4c4-30f8eaf422a3","name":"Telegram Trigger","webhookId":"baec7700-b2b4-4100-a815-2165adfa856a","credentials":{"telegramApi":{"id":"7UCg36pupNze5tT7","name":"Telegram account"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[640,0],"id":"f665c1ca-2762-4f83-895f-d80ac6743f1b","name":"Send a text message","webhookId":"9a39bb66-bf11-4471-a85c-a465c4259716","credentials":{"telegramApi":{"id":"7UCg36pupNze5tT7","name":"Telegram account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-144,208],"id":"a50980c3-e113-4f56-b11a-13c494524327","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.message.chat.id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[16,208],"id":"59f0f6fc-8ee4-49ab-8f4d-044ea7a64732","name":"Simple Memory"}],"connections":{"Telegram Trigger":{"main":[[{"node":"CITA&INFO","type":"main","index":0}]]},"CITA&INFO":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"CITA&INFO","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"CITA&INFO","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"IT9AYHcnb9KqQlwC"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"58b80c63-5b2b-47d9-855c-74f6c1a172a1","triggerCount":1,"shared":[{"updatedAt":"2025-10-03T11:01:43.961Z","createdAt":"2025-10-03T11:01:43.961Z","role":"workflow:owner","workflowId":"IT9AYHcnb9KqQlwC","projectId":"prlZ3bTXg0wKi0D1"}],"tags":[]}