my-workflow-3-t4u19F3iFX7FtoeU.json
{"updatedAt":"2025-10-18T08:41:26.000Z","createdAt":"2025-10-17T11:14:54.392Z","id":"t4u19F3iFX7FtoeU","name":"My workflow 3","active":false,"isArchived":true,"nodes":[{"parameters":{"operation":"getAll","limit":1,"options":{}},"id":"957dc63d-61c9-4e40-a856-660795a61433","name":"Obtener Detalles del Post","type":"n8n-nodes-base.wordpress","typeVersion":1,"position":[-224,-32],"credentials":{"wordpressApi":{"id":"BI2TTlfLD0rG5V16","name":"Wordpress account"}}},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-480,-32],"id":"e3d4a61a-7e94-47ab-abe2-20099f82ac8b","name":"Schedule Trigger"},{"parameters":{"jsCode":"const htmlContent = $input.first().json.content.rendered\n\nconst titles = [];\nconst paragraphs = [];\n\nconst titleMatches = htmlContent.match(/<h[1-6][^>]*>(.*?)<\\/h[1-6]>/g);\nif (titleMatches) {\n    for (let match of titleMatches) {\n        titles.push(match.replace(/<[^>]+>/g, ''));\n    }\n}\n\nconst paragraphMatches = htmlContent.match(/<p[^>]*>(.*?)<\\/p>/g);\nif (paragraphMatches) {\n    for (let match of paragraphMatches) {\n        paragraphs.push(match.replace(/<[^>]+>/g, ''));\n    }\n}\n\nconst content = \"Títulos:\\n\" + titles.join(\"\\n\") + \"\\n\\nPárrafos:\\n\" + paragraphs.join(\" \");\n\nconst maxCharacters = 10000;\nlet finalContent = content;\nif (finalContent.length > maxCharacters) {\n    finalContent = finalContent.slice(0, maxCharacters) + '...';\n}\n\nreturn [{ json: { content: finalContent, postId: $input.first().json.id } }];"},"id":"588fe8fd-f526-436a-8e49-e822c6615ef3","name":"Conversión HTML","type":"n8n-nodes-base.code","typeVersion":2,"position":[16,-32]},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"={{ $json.content }}"},{"content":"=# Rol del Modelo...","role":"assistant"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[384,-240],"id":"3442cd75-0f91-4216-9294-7b14e059c27e","name":"Noticia a LinkedIn Post","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"={{ $json.content }}"},{"content":"=# Rol del Modelo...","role":"assistant"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[384,64],"id":"4cab5174-af00-4ee6-8c5e-79843d7cac52","name":"Noticia a Twitter Post","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"={{ $json.message.content }}"},{"content":"=# Rol...","role":"assistant"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[752,-240],"id":"3c2def73-4ef7-4129-be04-22516bf3e80d","name":"LinkedIn a Resumen Canva1","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"resource":"image","prompt":"={{ $json.message.content }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1232,-320],"id":"1dfe9c82-a5e7-450e-8bb1-81941d2eee4a","name":"Generate an image","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"inputDataFieldName":"=data","name":"={{ $('Obtener Detalles del Post').item.json.id }}linkedIn.{{ $json.fileExtension }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive"},"folderId":{"__rl":true,"value":"root","mode":"list","cachedResultName":"/ (Root folder)"},"options":{}},"id":"a8519f6d-a546-4186-a725-faa07e6476bb","name":"Google Drive2","type":"n8n-nodes-base.googleDrive","position":[1472,-320],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account Bestfranquicias"}}},{"parameters":{"resource":"image","model":"gpt-image-1","prompt":"={{ $json.message.content }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1024,64],"id":"67d59a1d-03c5-41a2-85ec-5f256349279e","name":"Generate an image3","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"inputDataFieldName":"=data","name":"={{ $('Obtener Detalles del Post').item.json.id }}twitter.{{ $json.fileExtension }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive"},"folderId":{"__rl":true,"value":"root","mode":"list","cachedResultName":"/ (Root folder)"},"options":{}},"id":"db2ff17e-de0b-4caf-80ca-4fb8ce793e7a","name":"Google Drive3","type":"n8n-nodes-base.googleDrive","position":[1248,64],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account Bestfranquicias"}}},{"parameters":{"jsCode":"const linkedInPost = $('Noticia a LinkedIn Post').first().json.message.content;\nconst twitterPost = $('Noticia a Twitter Post').first().json.message.content;\nconst linkedInImageUrl = $('Google Drive2').first().json.webViewLink || '';\nconst twitterImageUrl = $('Google Drive3').first().json.webViewLink || '';\nconst postId = $('Obtener Detalles del Post').first().json.id;\nconst postTitle = $('Obtener Detalles del Post').first().json.title.rendered;\n\nreturn [{\n  json: {\n    postId: postId,\n    postTitle: postTitle,\n    linkedInPost: linkedInPost,\n    linkedInImageUrl: linkedInImageUrl,\n    twitterPost: twitterPost,\n    twitterImageUrl: twitterImageUrl,\n    fecha: new Date().toISOString()\n  }\n}];"},"id":"c51fa7b2-34f4-4b42-a35c-16b243e28e34","name":"Consolidar Datos","type":"n8n-nodes-base.code","typeVersion":2,"position":[1712,-144]},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1X0R9F6jQ5B4ExnUud9AkPxBR-Pbblh5U5j5ZT0Ga6Y8","mode":"list","cachedResultName":"postWordpress","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1X0R9F6jQ5B4ExnUud9AkPxBR-Pbblh5U5j5ZT0Ga6Y8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1"},"columns":{"mappingMode":"defineBelow","value":{"postId":"={{ $json.postId }}","postTitle":"={{ $json.postTitle }}","linkedInPost":"={{ $json.linkedInPost }}","linkedInImageUrl":"={{ $json.linkedInImageUrl }}","twitterPost":"={{ $json.twitterPost }}","twitterImageUrl":"={{ $json.twitterImageUrl }}","fecha":"={{ $json.fecha }}"},"matchingColumns":["postId"],"schema":[{"id":"postId","displayName":"Post ID","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"postTitle","displayName":"Título Post","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"linkedInPost","displayName":"LinkedIn Post","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"linkedInImageUrl","displayName":"LinkedIn Imagen URL","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"twitterPost","displayName":"Twitter Post","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"twitterImageUrl","displayName":"Twitter Imagen URL","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"fecha","displayName":"Fecha","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}]},"options":{}},"id":"b178c8c7-cd4e-4544-9b38-319d8b4a159d","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1952,-144],"credentials":{"googleSheetsOAuth2Api":{"id":"u3wPsvNe1n4GWzVs","name":"Google Sheets Bestfranquicias"}}}],"connections":{"Obtener Detalles del Post":{"main":[[{"node":"Conversión HTML","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Obtener Detalles del Post","type":"main","index":0}]]},"Conversión HTML":{"main":[[{"node":"Noticia a Twitter Post","type":"main","index":0},{"node":"Noticia a LinkedIn Post","type":"main","index":0}]]},"Noticia a LinkedIn Post":{"main":[[{"node":"LinkedIn a Resumen Canva1","type":"main","index":0}]]},"Noticia a Twitter Post":{"main":[[{"node":"Generate an image3","type":"main","index":0},{"node":"Consolidar Datos","type":"main","index":0}]]},"LinkedIn a Resumen Canva1":{"main":[[{"node":"Generate an image","type":"main","index":0},{"node":"Consolidar Datos","type":"main","index":0}]]},"Generate an image":{"main":[[{"node":"Google Drive2","type":"main","index":0}]]},"Generate an image3":{"main":[[{"node":"Google Drive3","type":"main","index":0}]]},"Google Drive2":{"main":[[{"node":"Consolidar Datos","type":"main","index":0}]]},"Google Drive3":{"main":[[{"node":"Consolidar Datos","type":"main","index":0}]]},"Consolidar Datos":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1c079cb5-4a44-47a5-b821-60f19fbf1c80","triggerCount":0,"shared":[{"updatedAt":"2025-10-17T11:14:54.400Z","createdAt":"2025-10-17T11:14:54.400Z","role":"workflow:owner","workflowId":"t4u19F3iFX7FtoeU","projectId":"prlZ3bTXg0wKi0D1"}],"tags":[]}