nuevas-tablas-de-datos-ejmeZPLTOtKAGfaB.json
{"updatedAt":"2025-10-05T20:03:51.000Z","createdAt":"2025-10-04T08:03:17.342Z","id":"ejmeZPLTOtKAGfaB","name":"NUEVAS Tablas de Datos","active":false,"isArchived":false,"nodes":[{"parameters":{"jsCode":"// Usa esto en un nodo de Función en n8n para generar 101 elementos individuales\nconst items = [];\nfor (let i = 1; i <= 100; i++) {\n  items.push({\n    json: {\n      count: i,\n      requestId: `request_${i}`,\n      timestamp: new Date().toISOString()\n    }\n  });\n}\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2560,160],"id":"ef95cb9e-908b-4cf0-8648-acc3a593915d","name":"100"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[80,400],"id":"c0449c85-e96c-4709-a8e7-dfbfb0fa33b9","name":"Al hacer clic en 'Ejecutar flujo de trabajo'"},{"parameters":{"documentId":{"__rl":true,"value":"1o6KCHrOeUMryFSGNc74_NYi7MS5hhxApcmzfiIjUMNs","mode":"list","cachedResultName":"Contactos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1o6KCHrOeUMryFSGNc74_NYi7MS5hhxApcmzfiIjUMNs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1o6KCHrOeUMryFSGNc74_NYi7MS5hhxApcmzfiIjUMNs/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[64,80],"id":"61467af6-cb43-4e09-9e4f-344ad15b0acd","name":"Obtener Contactos","credentials":{"googleSheetsOAuth2Api":{"id":"u3wPsvNe1n4GWzVs","name":"Google Sheets Bestfranquicias"}}},{"parameters":{"dataTableId":{"__rl":true,"value":"u1GhLmMo2EBc60gp","mode":"list","cachedResultName":"Contactos","cachedResultUrl":"/projects/ZClqDQRWxArIELVL/datatables/u1GhLmMo2EBc60gp"},"columns":{"mappingMode":"defineBelow","value":{"Nombre":"={{ $json.Nombre }}","Email":"={{ $json.Email }}","Numero":"={{ $json['Teléfono'] }}","Notas":"={{ $json.Notas }}"},"matchingColumns":[],"schema":[{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Numero","displayName":"Numero","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Notas","displayName":"Notas","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[320,80],"id":"91049b06-c7e0-46b2-9e5d-d30855d13870","name":"Insertar Contactos"},{"parameters":{"content":"## De Sheets a Tabla de Datos\n","height":256,"width":800,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"48d3d633-97e6-4f52-ae27-cb3e2dd9b35f","name":"Nota Adhesiva"},{"parameters":{"content":"## Insertando Datos de Ventas\n","height":256,"width":1088,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,320],"id":"5a0a7889-8c9e-4650-a76b-6c4c0a1fb363","name":"Nota Adhesiva2"},{"parameters":{"documentId":{"__rl":true,"value":"10i2QQUjua7xl4h_ZBw-9HGZjvS_OdYfErzHKdxywegs","mode":"list","cachedResultName":"Linkedin Hoja","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10i2QQUjua7xl4h_ZBw-9HGZjvS_OdYfErzHKdxywegs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10i2QQUjua7xl4h_ZBw-9HGZjvS_OdYfErzHKdxywegs/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[320,400],"id":"027ce85f-0f2c-4bfe-917e-9d9f192915b9","name":"Obtener Datos de Ventas","credentials":{"googleSheetsOAuth2Api":{"id":"u3wPsvNe1n4GWzVs","name":"Google Sheets Bestfranquicias"}}},{"parameters":{"dataTableId":{"__rl":true,"value":"60FbNnFWwqpRhJEa","mode":"list","cachedResultName":"Redes Sociales","cachedResultUrl":"/projects/prlZ3bTXg0wKi0D1/datatables/60FbNnFWwqpRhJEa"},"columns":{"mappingMode":"defineBelow","value":{"URL":"={{ $json.URL }}","TwitterPost":"={{ $json['Twitter (X) Post'] }}","LinkedIn_Post":"={{ $json['LinkedIn Post'] }}","Fecha":"={{ $json.Fecha }}","Estado":"={{ $json.Estado }}","Publicado":"={{ $json.Publicado }}","ImagenLinkedIn":"={{ $json.Imagen }}","ImagenTwitter":"={{ $json.Imagen }}"},"matchingColumns":[],"schema":[{"id":"URL","displayName":"URL","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"LinkedIn_Post","displayName":"LinkedIn_Post","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"TwitterPost","displayName":"TwitterPost","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Estado","displayName":"Estado","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Publicado","displayName":"Publicado","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"ImagenLinkedIn","displayName":"ImagenLinkedIn","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"ImagenTwitter","displayName":"ImagenTwitter","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[560,400],"id":"471c0544-e0cc-415c-b20e-08da1cf3b43f","name":"Insertar Datos de Ventas"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"10i2QQUjua7xl4h_ZBw-9HGZjvS_OdYfErzHKdxywegs","mode":"list","cachedResultName":"Linkedin Hoja","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10i2QQUjua7xl4h_ZBw-9HGZjvS_OdYfErzHKdxywegs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10i2QQUjua7xl4h_ZBw-9HGZjvS_OdYfErzHKdxywegs/edit#gid=0"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["Number"],"schema":[{"id":"URL","displayName":"URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"LinkedIn Post","displayName":"LinkedIn Post","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Twitter (X) Post","displayName":"Twitter (X) Post","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Estado","displayName":"Estado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Publicado","displayName":"Publicado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Imagen","displayName":"Imagen","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"count","displayName":"count","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"requestId","displayName":"requestId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"timestamp","displayName":"timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[3008,48],"id":"f2ba99db-c43d-4378-bd4f-bde7ab07b1a2","name":"Añadir fila en hoja","credentials":{"googleSheetsOAuth2Api":{"id":"u3wPsvNe1n4GWzVs","name":"Google Sheets Bestfranquicias"}}},{"parameters":{"content":"## ¿Velocidad?\n","height":432,"width":672,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2496,0],"id":"152e5913-9005-4081-a825-67606bde30e4","name":"Nota Adhesiva4"},{"parameters":{"dataTableId":{"__rl":true,"value":"6a3LqNXAVPBI2DjZ","mode":"list","cachedResultName":"Prueba","cachedResultUrl":"/projects/ZClqDQRWxArIELVL/datatables/6a3LqNXAVPBI2DjZ"},"columns":{"mappingMode":"defineBelow","value":{"Numero":"={{ $json.count }}"},"matchingColumns":["Number"],"schema":[{"id":"Numero","displayName":"Numero","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[3008,256],"id":"a7b239c2-6d08-4d55-ba79-9b1fb2c29284","name":"Insertar fila"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[1296,32],"id":"805d0c8f-270d-466f-aa61-2f768d0e2755","name":"Cuando se recibe un mensaje de chat","webhookId":"76180fca-c02c-4325-93e3-bc4df5863e3f"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"60FbNnFWwqpRhJEa","mode":"list","cachedResultName":"Redes Sociales","cachedResultUrl":"/projects/prlZ3bTXg0wKi0D1/datatables/60FbNnFWwqpRhJEa"},"limit":null},"type":"n8n-nodes-base.dataTableTool","typeVersion":1,"position":[1488,480],"id":"58855967-424a-4498-84e4-66764c8a57cc","name":"Todas las Filas"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[2240,480],"id":"3b5b509e-cfbd-4292-86e5-d149d3654fdf","name":"Calculadora"},{"parameters":{"options":{"systemMessage":"=# Resumen\nEres **Maestro Analista de Datos de Ventas IA**, un experto en analizar datos de ventas y responder a las consultas de los usuarios con precisión.\nTienes acceso a las siguientes herramientas:\n\n1. **TodasLasFilas** – devuelve todas las filas de la base de datos de ventas.\n2. **ConsultaNombreProducto** – devuelve filas filtradas por nombre de producto.\n   - Nombres de producto válidos: *Auriculares Inalámbricos*, *Altavoz Bluetooth*, *Funda de Teléfono*.\n3. **ConsultaFecha** – devuelve filas filtradas por una fecha específica.\n   - Formato de fecha: `AAAA-MM-DD` (ej., `2025-09-15`).\n4. **ConsultaIDProducto** – devuelve filas filtradas por ID de producto.\n   - IDs válidos: *WH001* (Auriculares Inalámbricos), *BS002* (Altavoz Bluetooth), *PC003* (Funda de Teléfono).\n5. **Calculadora** – úsala siempre que necesites realizar operaciones matemáticas (ej., sumas, promedios, totales, porcentajes). Nunca intentes hacer matemáticas manualmente.\n\n---\n\n### Instrucciones Centrales:\n- Utiliza siempre **la herramienta más específica** disponible para la consulta del usuario.\n  - Si la consulta hace referencia a un nombre de producto → usa `ConsultaNombreProducto`.\n  - Si la consulta hace referencia a un ID de producto → usa `ConsultaIDProducto`.\n  - Si la consulta hace referencia a una fecha → usa `ConsultaFecha`.\n  - Si se implican múltiples filtros (ej., “¿Cuántos Auriculares Inalámbricos se vendieron el 2025-09-15?”), combina múltiples consultas lógicamente llamando a las herramientas relevantes en secuencia.\n  - Si no se proporciona ningún filtro, o necesitas explorar ampliamente, usa `TodasLasFilas`.\n- Si se requieren cálculos (sumas, promedios, ingresos, comparaciones, etc.), **envía siempre los datos a la herramienta Calculadora**.\n- Nunca asumas valores — confirma siempre recuperando datos a través de las herramientas.\n- Sé conciso, claro y profesional en tus explicaciones.\n\n---\n\n### Comportamientos de Ejemplo:\n- **Usuario**: “¿Cuántos Auriculares Inalámbricos se vendieron el 2025-09-15?”\n  - Usa `ConsultaNombreProducto` para Auriculares Inalámbricos.\n  - Luego filtra con `ConsultaFecha` para 2025-09-15.\n  - Envía los resultados a la **Calculadora** para sumar las cantidades.\n  - Devuelve la respuesta con una explicación.\n\n- **Usuario**: “¿Cuál es el ingreso total para el producto con ID BS002?”\n  - Usa `ConsultaIDProducto` para BS002.\n  - Multiplica *precio × cantidad* a través de la **Calculadora**.\n  - Proporciona el ingreso total.\n\n- **Usuario**: “Muéstrame todas las ventas.”\n  - Usa `TodasLasFilas` y devuelve el conjunto de datos.\n\n---\n\n### Tu Misión:\nEres el analista de ventas definitivo.\nResponde a las preguntas con precisión, usa la herramienta correcta cada vez y proporciona explicaciones claras de cómo se derivaron los resultados.\nConfirma siempre con los datos antes de realizar un análisis.\nFecha/hora actual: {{ $now }}\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[1696,32],"id":"31c81956-c1f2-4046-9342-f50abc8c3c20","name":"Agente de Datos de Ventas"},{"parameters":{"model":"openai/gpt-5-mini","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1312,256],"id":"84e18a2d-17ff-4eb9-be70-7af5c66b51e0","name":"GPT-5-mini","credentials":{"openRouterApi":{"id":"hrgXqQ9MslXmo2ow","name":"OpenRouter account"}}},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"60FbNnFWwqpRhJEa","mode":"list","cachedResultName":"Redes Sociales","cachedResultUrl":"/projects/prlZ3bTXg0wKi0D1/datatables/60FbNnFWwqpRhJEa"},"matchType":"allConditions","filters":{"conditions":[{"keyName":"IDProducto","keyValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Value', ``, 'string') }}"}]},"limit":null},"type":"n8n-nodes-base.dataTableTool","typeVersion":1,"position":[1664,480],"id":"14efe062-932f-4123-ad64-55f2c99c77e1","name":"ConsultaIDProducto"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"60FbNnFWwqpRhJEa","mode":"list","cachedResultName":"Redes Sociales","cachedResultUrl":"/projects/prlZ3bTXg0wKi0D1/datatables/60FbNnFWwqpRhJEa"},"matchType":"allConditions","filters":{"conditions":[{"keyName":"FechaVendido","keyValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Value', ``, 'string') }}"}]},"limit":null},"type":"n8n-nodes-base.dataTableTool","typeVersion":1,"position":[1856,480],"id":"b70f1389-37f3-4aef-94b7-c7f5126f155d","name":"ConsultaFecha"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"60FbNnFWwqpRhJEa","mode":"list","cachedResultName":"Redes Sociales","cachedResultUrl":"/projects/prlZ3bTXg0wKi0D1/datatables/60FbNnFWwqpRhJEa"},"matchType":"allConditions","filters":{"conditions":[{"keyName":"NombreProducto","keyValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Value', ``, 'string') }}"}]},"limit":null},"type":"n8n-nodes-base.dataTableTool","typeVersion":1,"position":[2048,480],"id":"880f8619-f0e0-4ce2-934b-7549769d2988","name":"ConsultaNombreProducto"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1456,256],"id":"5d7385a6-7082-4cf4-a9b1-e641bf2e31a8","name":"Simple Memory"}],"connections":{"100":{"main":[[{"node":"Insertar fila","type":"main","index":0},{"node":"Añadir fila en hoja","type":"main","index":0}]]},"Al hacer clic en 'Ejecutar flujo de trabajo'":{"main":[[{"node":"Obtener Datos de Ventas","type":"main","index":0}]]},"Obtener Contactos":{"main":[[{"node":"Insertar Contactos","type":"main","index":0}]]},"Obtener Datos de Ventas":{"main":[[{"node":"Insertar Datos de Ventas","type":"main","index":0}]]},"Cuando se recibe un mensaje de chat":{"main":[[{"node":"Agente de Datos de Ventas","type":"main","index":0}]]},"Todas las Filas":{"ai_tool":[[{"node":"Agente de Datos de Ventas","type":"ai_tool","index":0}]]},"Calculadora":{"ai_tool":[[{"node":"Agente de Datos de Ventas","type":"ai_tool","index":0}]]},"GPT-5-mini":{"ai_languageModel":[[{"node":"Agente de Datos de Ventas","type":"ai_languageModel","index":0}]]},"ConsultaIDProducto":{"ai_tool":[[{"node":"Agente de Datos de Ventas","type":"ai_tool","index":0}]]},"ConsultaFecha":{"ai_tool":[[{"node":"Agente de Datos de Ventas","type":"ai_tool","index":0}]]},"ConsultaNombreProducto":{"ai_tool":[[{"node":"Agente de Datos de Ventas","type":"ai_tool","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Agente de Datos de Ventas","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ef4dfc88-df58-4f1e-b560-4c10cbd8b892","triggerCount":0,"shared":[{"updatedAt":"2025-10-04T08:03:17.343Z","createdAt":"2025-10-04T08:03:17.343Z","role":"workflow:owner","workflowId":"ejmeZPLTOtKAGfaB","projectId":"prlZ3bTXg0wKi0D1"}],"tags":[]}