query-sql-9g9Cj3piKfFPiGgV.json
{"updatedAt":"2025-11-24T18:46:03.000Z","createdAt":"2025-11-24T18:45:59.498Z","id":"9g9Cj3piKfFPiGgV","name":"Query SQL","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"executeQuery","query":"{{ $json.query.sql }}","options":{}},"id":"b5370962-5574-40dd-ad96-dbfebba2f432","name":"Postgres","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[240,0],"credentials":{"postgres":{"id":"RJfYPONKqWUiJzDA","name":"Postgres account"}}},{"parameters":{"assignments":{"assignments":[{"id":"e2f94fb1-3deb-466a-a36c-e3476511d5f2","name":"response","value":"={{ $json }}","type":"string"}]},"options":{}},"id":"92e9394c-d0f4-4a40-86ea-628946aec3ec","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[688,0]},{"parameters":{},"id":"9ba2810a-b6e5-46fc-9361-0a87941bdaf3","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[0,0]},{"parameters":{"jsCode":"// Obtener los items de entrada\nconst items = $input.all();\n\n// Unir todos los elementos en un solo objeto\nconst combinedItem = {\n  resultado: items.map(item => ({\n    ...item.json // Mantiene todos los parámetros dinámicamente\n  }))\n};\n\n// Retornar el nuevo array con un solo objeto\nreturn [{ json: combinedItem }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[464,0],"id":"8ecfcb18-a730-4f4e-be0a-0d9cfed68eeb","name":"Code"}],"connections":{"Postgres":{"main":[[{"node":"Code","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Postgres","type":"main","index":0}]]},"Code":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"cc83e3d4-2df5-4581-994b-5a1e63342a05","triggerCount":0,"shared":[{"updatedAt":"2025-11-24T18:45:59.500Z","createdAt":"2025-11-24T18:45:59.500Z","role":"workflow:owner","workflowId":"9g9Cj3piKfFPiGgV","projectId":"prlZ3bTXg0wKi0D1"}],"tags":[{"updatedAt":"2025-11-24T17:51:28.393Z","createdAt":"2025-11-24T17:51:28.393Z","id":"PMupYxUitJA8rUVU","name":"sql"}]}