rag-pipelines-LAPxvcwRX77teqxI.json
{"updatedAt":"2025-10-20T18:02:35.000Z","createdAt":"2025-10-20T16:51:18.312Z","id":"LAPxvcwRX77teqxI","name":"RAG Pipelines","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1YbYAUbZFy_dZtTYc8lZ9-2UzTArTCkCU","mode":"list","cachedResultName":"RAG_Best-House","cachedResultUrl":"https://drive.google.com/drive/folders/1YbYAUbZFy_dZtTYc8lZ9-2UzTArTCkCU"},"event":"fileUpdated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[880,-560],"id":"eaeed0fd-9b57-459f-a886-cb259a0dc62c","name":"Google Drive Trigger","credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account Bestfranquicias"}}},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[1296,-560],"id":"34cacc39-74b7-4cf2-b57f-66acd02853b1","name":"Supabase Vector Store","credentials":{"supabaseApi":{"id":"T3nXrcPYn5GbFuxT","name":"Supabase account"}}},{"parameters":{"dataType":"binary","options":{"metadata":{"metadataValues":[{"name":"fileName","value":"={{ $json.name }}"},{"name":"date","value":"={{ $now }}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[1424,-416],"id":"807956ea-cf2e-473d-aa8e-bf69d1c6658f","name":"Default Data Loader"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[1248,-416],"id":"4165fb1a-ce69-465e-9472-bb38f95f686d","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"options":{"systemMessage":"Eres un experto asistente de la franquicia Best House, utiliza solo tu base de conocimientos para contestar a las preguntas de los usuarios"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[1056,-960],"id":"bad1a1f3-9124-48c7-8d8a-0556b86898bd","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[896,-960],"id":"de140d43-779d-4487-abaf-fcc2e0a4c28b","name":"When chat message received","webhookId":"60ef0174-4d66-458b-977d-3fcf4094f321"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1040,-816],"id":"ec4a6bc4-a517-4c3a-b6e9-b676c783640a","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"hrgXqQ9MslXmo2ow","name":"OpenRouter account"}}},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Use this to get information from your knowledge base.","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[1408,-960],"id":"6e89da0a-84b7-4b36-aacc-310d74ab7d17","name":"Supabase Vector Store1","credentials":{"supabaseApi":{"id":"T3nXrcPYn5GbFuxT","name":"Supabase account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[1392,-816],"id":"8eb7f8e2-21ef-483f-8de1-a0674c979fb7","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1tRtFuuXGAwV6dcvKuaejDjucwrLzn7ox","mode":"list","cachedResultName":"A_RAG","cachedResultUrl":"https://drive.google.com/drive/folders/1tRtFuuXGAwV6dcvKuaejDjucwrLzn7ox"},"event":"fileUpdated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[880,-160],"id":"d6535fa1-4295-41e7-9798-cb2645c84416","name":"Google Drive Trigger1","credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account Bestfranquicias"}},"disabled":true},{"parameters":{"operation":"delete","tableId":"documents","filterType":"string","filterString":"=metadata->>fileName=like.*{{ $json.name }}"},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1024,-160],"id":"1a3e6050-1514-4e5a-8ea0-360b53681363","name":"Delete a row","credentials":{"supabaseApi":{"id":"T3nXrcPYn5GbFuxT","name":"Supabase account"}}},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[1312,-160],"id":"f2e0ce59-1426-4add-99d0-fe446dd445c0","name":"Supabase Vector Store2","credentials":{"supabaseApi":{"id":"T3nXrcPYn5GbFuxT","name":"Supabase account"}}},{"parameters":{"dataType":"binary","options":{"metadata":{"metadataValues":[{"name":"fileName","value":"={{ $('Google Drive Trigger1').item.json.name }}"},{"name":"date","value":"={{ $now }}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[1424,0],"id":"a8ec09b0-57d1-4f95-bbb8-6be49352a807","name":"Default Data Loader1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[1248,0],"id":"4b5a3eba-6402-4910-a986-8258cd650417","name":"Embeddings OpenAI2","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Google Drive Trigger1').item.json.id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"application/pdf"}}}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1168,-160],"id":"1e468335-1a94-470b-9271-8f64570afc06","name":"Download file1","executeOnce":true,"credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account Bestfranquicias"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1tRtFuuXGAwV6dcvKuaejDjucwrLzn7ox","mode":"list","cachedResultName":"A_RAG","cachedResultUrl":"https://drive.google.com/drive/folders/1tRtFuuXGAwV6dcvKuaejDjucwrLzn7ox"},"event":"fileCreated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[896,288],"id":"766d6fdc-0a0e-4634-aa7c-cd1ebcdfc6ac","name":"Google Drive Trigger2","credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account Bestfranquicias"}},"disabled":true},{"parameters":{"operation":"delete","tableId":"documents","filterType":"string","filterString":"=metadata->>fileName=like.*{{ $json.name }}"},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1088,288],"id":"0f78e189-b9ac-4ea1-a235-64427796e301","name":"Delete a row1","credentials":{"supabaseApi":{"id":"T3nXrcPYn5GbFuxT","name":"Supabase account"}}},{"parameters":{"content":"# 🛠️ Setup Guide  \n**Author:** [Nate Herk](https://www.youtube.com/@nateherk)\n\nFollow these steps to get the n8n workflow system running smoothly:\n\n### ✅ Step 1: Connect Your Google Drive Credentials  \nMake sure your **Google Drive trigger** is authorized and set to watch the appropriate folder for new file drops.\n\n### ✅ Step 2: Connect Your Supabase Credentials  \nHook up your **Supabase** project so n8n can insert and manage vector data.\n\n### ✅ Step 3: Connect Your Chat & Embeddings Models  \nUse [OpenRouter](https://openrouter.ai/) for flexible model access and [OpenAI](https://platform.openai.com/) for embedding generation.\n\n### ✅ Step 4: Drop a Doc into the Trigger Folder  \nUpload a file into the folder being watched by **Pipeline 1** (new doc trigger). Confirm it’s inserted into Supabase and available to your agents.\n\n### ✅ Step 5: Update the Doc  \nModify the same document. This should trigger **Pipeline 2 (update doc)**, which should:  \n- Remove old rows from Supabase  \n- Insert the new version cleanly\n\n### ✅ Step 6: Move the File to the Recycling Bin  \nDrag the document into the \"recycling bin\" folder. This should trigger **Pipeline 3 (delete doc)** and clean up the corresponding vectors in Supabase.\n\n### 🧪 Final Step: Test and Iterate  \nTry different document types and metadata formats. Make sure your agents can accurately retrieve and respond to your queries.\n","height":736,"width":1040},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-272,-1056],"id":"9fe3d977-5a4e-45ae-8862-f64382af9385","name":"Sticky Note"},{"parameters":{"content":"# RAG Agent","height":384,"width":880,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[784,-1056],"id":"f84da902-5451-46d0-8e58-0d33148cc450","name":"Sticky Note1"},{"parameters":{"content":"# Pipeline 1 (Upload Doc)","height":384,"width":880,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[784,-656],"id":"07cef289-f650-4401-aaf9-1f3f7d9de17b","name":"Sticky Note2"},{"parameters":{"content":"# Pipeline 2 (Update Doc)","height":384,"width":880,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[784,-256],"id":"9a35fe86-4b1a-41aa-b743-7508496f54b6","name":"Sticky Note3"},{"parameters":{"content":"# Pipeline 3 (Delete Doc)","height":384,"width":880,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[784,144],"id":"5e433a90-20e3-4a6f-950e-38c7900823d4","name":"Sticky Note4"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[1184,-800],"id":"2dabf98d-54c7-4585-ba1b-73703ff4808c","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"RJfYPONKqWUiJzDA","name":"Postgres account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"1FTvZ1MRlDUuIF64CtJP7lf832dWpMU45","mode":"list","cachedResultName":"TABLA_COMPARATIVA_MODELOS_FRANQUICIA2025.pdf","cachedResultUrl":"https://drive.google.com/file/d/1FTvZ1MRlDUuIF64CtJP7lf832dWpMU45/view?usp=drivesdk"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1088,-560],"id":"0b2edf34-c0b2-415b-93fb-2c09c26d18b5","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account Bestfranquicias"}}}],"connections":{"Google Drive Trigger":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Supabase Vector Store","type":"ai_document","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Supabase Vector Store1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Supabase Vector Store1","type":"ai_embedding","index":0}]]},"Google Drive Trigger1":{"main":[[{"node":"Delete a row","type":"main","index":0}]]},"Default Data Loader1":{"ai_document":[[{"node":"Supabase Vector Store2","type":"ai_document","index":0}]]},"Embeddings OpenAI2":{"ai_embedding":[[{"node":"Supabase Vector Store2","type":"ai_embedding","index":0}]]},"Delete a row":{"main":[[{"node":"Download file1","type":"main","index":0}]]},"Download file1":{"main":[[{"node":"Supabase Vector Store2","type":"main","index":0}]]},"Google Drive Trigger2":{"main":[[{"node":"Delete a row1","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Download file":{"main":[[{"node":"Supabase Vector Store","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"56e19b4e-33c0-4e45-81d5-8b44fd0b534d","triggerCount":0,"shared":[{"updatedAt":"2025-10-20T16:51:18.315Z","createdAt":"2025-10-20T16:51:18.315Z","role":"workflow:owner","workflowId":"LAPxvcwRX77teqxI","projectId":"prlZ3bTXg0wKi0D1"}],"tags":[]}