rag-KLvuES96ONyp8X57.json
{"updatedAt":"2025-10-21T17:42:58.000Z","createdAt":"2025-10-20T11:55:48.237Z","id":"KLvuES96ONyp8X57","name":"RAG","active":false,"isArchived":false,"nodes":[{"parameters":{"public":true,"options":{"loadPreviousSession":"memory"}},"id":"c5f24f2f-34f5-483c-9b97-79b118bf724f","name":"Chat Trigger","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[-528,272],"webhookId":"3d55bcd1-1728-4a01-a94a-36aca1f47382"},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"You are a helpful knowledge assistant with access to documents stored in Google Drive and a vector database. You can search through documents to answer questions and also access Google Drive directly to list or retrieve files."}},"id":"e82b9282-d011-48fd-845e-fae66ec5b360","name":"Knowledge Store Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-16,272]},{"parameters":{"model":{"__rl":true,"value":"gpt-5-mini","mode":"list","cachedResultName":"gpt-5-mini"},"options":{}},"id":"b392be0f-018e-4d1e-9d44-939dd315d78e","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-320,592],"credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Search through the knowledge base of documents to find relevant information","tableName":{"__rl":true,"mode":"id","value":"documents"},"options":{}},"id":"0f1facb3-b0e5-4c42-8c9d-03622699d0cb","name":"Supabase Vector Store - Retrieve Tool","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[80,496],"credentials":{"supabaseApi":{"id":"T3nXrcPYn5GbFuxT","name":"Supabase account"}}},{"parameters":{"options":{}},"id":"e2d87f0a-9dde-4b7c-ba40-53925fdc2d4c","name":"OpenAI Embeddings - Retrieve","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[160,704],"credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"resource":"fileFolder","filter":{},"options":{}},"id":"a69aa306-5c8d-4dcd-8daa-9d52b66f3f7e","name":"Google Drive Tool","type":"n8n-nodes-base.googleDriveTool","typeVersion":3,"position":[368,496],"credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account Bestfranquicias"}}},{"parameters":{"tableName":"chat_history"},"id":"00772228-6cc5-40c3-8e67-a72a764c9127","name":"Postgres Chat Memory","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-48,496],"credentials":{"postgres":{"id":"RJfYPONKqWUiJzDA","name":"Postgres account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-528,480],"id":"0d2af252-5892-4b46-a655-6165681cb72f","name":"Simple Memory"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-192,432],"id":"fdd742bf-6ae9-4f82-b751-cc2406bdbee3","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"hrgXqQ9MslXmo2ow","name":"OpenRouter account"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":2}]}},"id":"16bdc36e-9fbd-4705-8b62-658de44ad1db","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2000,288]},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"googleDriveFolderId","value":"1YbYAUbZFy_dZtTYc8lZ9-2UzTArTCkCU","type":"string"},{"id":"id-2","name":"supabaseTableName","value":"documents","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"cedd6970-edae-4ff5-a8fa-0ece25218c98","name":"Workflow Configuration","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1776,288]},{"parameters":{"resource":"fileFolder","searchMethod":"query","returnAll":true,"filter":{"folderId":{"__rl":true,"mode":"id","value":"={{ $('Workflow Configuration').first().json.googleDriveFolderId }}"},"whatToSearch":"files"},"options":{}},"id":"0a4c03bc-b8fc-40d9-a742-1ca2a28f3f99","name":"Get Files from Google Drive Folder","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1552,288],"credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account Bestfranquicias"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"mode":"id","value":"={{ $json.id }}"},"options":{"binaryPropertyName":"data"}},"id":"02732171-a480-45d5-9960-a9fc86b4f6cb","name":"Download File Content","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1328,288],"credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account Bestfranquicias"}}},{"parameters":{"mode":"insert","tableName":{"__rl":true,"mode":"id","value":"={{ $('Workflow Configuration').first().json.supabaseTableName }}"},"options":{}},"id":"f1df1501-e268-4cc0-9f42-ce397c57a7e4","name":"Supabase Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[-1072,288],"credentials":{"supabaseApi":{"id":"T3nXrcPYn5GbFuxT","name":"Supabase account"}}},{"parameters":{"dataType":"binary","loader":"pdfLoader","textSplittingMode":"custom","options":{}},"id":"5bff5346-0106-4a45-ba6c-d4f59be13043","name":"Document Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[-976,512]},{"parameters":{"options":{}},"id":"3814a3a3-3ff4-4f7b-a29a-f095041c1343","name":"OpenAI Embeddings","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-1104,512],"credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"chunkOverlap":200,"options":{}},"id":"0b50c5d0-e58b-4154-9581-37efb6b2eb2c","name":"Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[-896,720]}],"connections":{"Chat Trigger":{"main":[[{"node":"Knowledge Store Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[]]},"Supabase Vector Store - Retrieve Tool":{"ai_tool":[[{"node":"Knowledge Store Agent","type":"ai_tool","index":0}]]},"OpenAI Embeddings - Retrieve":{"ai_embedding":[[{"node":"Supabase Vector Store - Retrieve Tool","type":"ai_embedding","index":0}]]},"Google Drive Tool":{"ai_tool":[[{"node":"Knowledge Store Agent","type":"ai_tool","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"Knowledge Store Agent","type":"ai_memory","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Chat Trigger","type":"ai_memory","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Knowledge Store Agent","type":"ai_languageModel","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Workflow Configuration","type":"main","index":0}]]},"Workflow Configuration":{"main":[[{"node":"Get Files from Google Drive Folder","type":"main","index":0}]]},"Get Files from Google Drive Folder":{"main":[[{"node":"Download File Content","type":"main","index":0}]]},"Download File Content":{"main":[[{"node":"Supabase Vector Store","type":"main","index":0}]]},"Document Loader":{"ai_document":[[{"node":"Supabase Vector Store","type":"ai_document","index":0}]]},"OpenAI Embeddings":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Text Splitter":{"ai_textSplitter":[[{"node":"Document Loader","type":"ai_textSplitter","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2d090bfa-40d0-4e8c-be13-500019d329c7","triggerCount":0,"shared":[{"updatedAt":"2025-10-20T11:55:48.242Z","createdAt":"2025-10-20T11:55:48.242Z","role":"workflow:owner","workflowId":"KLvuES96ONyp8X57","projectId":"prlZ3bTXg0wKi0D1"}],"tags":[]}