rag---multi-rag-mVWVAXEXJcGNMgGa.json
{"updatedAt":"2025-10-15T16:11:01.000Z","createdAt":"2025-10-15T09:05:40.850Z","id":"mVWVAXEXJcGNMgGa","name":"RAG - Multi-RAG","active":false,"isArchived":false,"nodes":[{"parameters":{"model":"text-embedding-3-large","options":{}},"id":"f0468e60-bf88-4371-a282-22a5132c5c42","name":"Embeddings OpenAI1","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[5264,1712],"credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"content":"## RAG - Recuperador (Retriever)","height":465,"width":583,"color":4},"id":"6fdbc3e5-1352-4899-8fe5-20f5d4e7a521","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1024,384]},{"parameters":{"content":"## RAG - Generador (Generation)","height":1699,"width":6017,"color":5},"id":"e3584eb5-b4f6-4663-ae14-0d98bdb8447d","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,928]},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Archivo por actualizar').item.json.file_id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"id":"546f522f-3b12-4fd8-8443-bd887baf99ce","name":"Download File","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[4448,1552],"executeOnce":true,"credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account 2"}}},{"parameters":{"content":"## RAG Agent - Agente Especializado","height":465,"width":972,"color":4},"id":"b31a69dc-a807-4008-829b-5fc563cd0186","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,384]},{"parameters":{"promptType":"define","text":"={{ $json.query }}","options":{"systemMessage":"=Eres un **asistente {{ $json.sector }} inteligente** especializado en responder consultas relacionadas con el **sector {{ $json.sector }}**, utilizando un sistema de **Recuperación Augmentada por Generación (RAG)** basado en la tabla `{{ $json.sector }}_documents`.\n\nDispones de documentos de referencia en diversos formatos (TXT, DOC, PDF extraídos, etc.), que contienen información relevante.\n\n### 🧭 Instrucciones de comportamiento\n\n- ✅ **Solo responde** si la información está claramente respaldada por los documentos disponibles.\n- ⚠️ Si **no encuentras una respuesta precisa o relevante**, **informa al usuario con claridad**.  \n  *No inventes respuestas ni rellenes información que no esté presente.*\n- 📎 **Valida siempre** que la consulta esté relacionada con el **ámbito {{ $json.sector }}** cubierto por los documentos.  \n  Si no lo está, indícalo educadamente.\n- 🗣️ Sé claro, directo y profesional en tus respuestas.\n\n---\n\n🎯 **Objetivo**: Brindar respuestas **fundamentadas, precisas y confiables**, basándote **exclusivamente** en los documentos disponibles.\n"}},"id":"b561f932-de68-4934-a02d-2a73225e053d","name":"RAG AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[528,464]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Archivo por actualizar').item.json.file_type }}","rightValue":"application/pdf","operator":{"type":"string","operation":"equals"},"id":"afc1fb83-c4dc-41ef-8a96-c7377c34339a"}],"combinator":"and"},"renameOutput":true,"outputKey":"pdf"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"2ae7faa7-a936-4621-a680-60c512163034","leftValue":"={{ $('Archivo por actualizar').item.json.file_type }}","rightValue":"=wordprocessingml.document","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"docs"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"b69f5605-0179-4b02-9a32-e34bb085f82d","leftValue":"={{ $('Archivo por actualizar').item.json.file_type }}","rightValue":"text/plain","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"txt"}]},"options":{}},"id":"e5d9a33e-68b7-405a-8dbb-5745aaa81207","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[4704,1536]},{"parameters":{"model":"text-embedding-3-large","options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[1296,704],"id":"e4c656f1-1a67-4515-b4d4-e621a163d154","name":"Embeddings OpenAI2","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"content":"## RAG setup - Vectoriza BD - 1 vez por BD","height":300,"width":312,"color":7},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"3c75ecf6-20b4-4a56-a41e-ac84da12e609","name":"Sticky Note4"},{"parameters":{"operation":"executeQuery","query":"-- Enable the pgvector extension to work with embedding vectors\ncreate extension vector;\n\n-- Create a table to store your documents\ncreate table documents (\n  id bigserial primary key,\n  content text, -- corresponds to Document.pageContent\n  metadata jsonb, -- corresponds to Document.metadata\n  embedding vector(1536) -- 1536 works for OpenAI embeddings, change if needed\n);\n\n-- Create a function to search for documents\ncreate function match_documents (\n  query_embedding vector(1536),\n  match_count int default null,\n  filter jsonb DEFAULT '{}'\n) returns table (\n  id bigint,\n  content text,\n  metadata jsonb,\n  similarity float\n)\nlanguage plpgsql\nas $$\n#variable_conflict use_column\nbegin\n  return query\n  select\n    id,\n    content,\n    metadata,\n    1 - (documents.embedding <=> query_embedding) as similarity\n  from documents\n  where metadata @> filter\n  order by documents.embedding <=> query_embedding\n  limit match_count;\nend;\n$$;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[80,112],"id":"a58199b6-2793-4ddd-8318-ccf4d30a7a19","name":"Vectoriza Postgres","credentials":{"postgres":{"id":"RJfYPONKqWUiJzDA","name":"Postgres account"}}},{"parameters":{"content":"## RAG - Elimina sectores no usados","height":412,"width":1720,"color":3},"type":"n8n-nodes-base.stickyNote","position":[1408,1008],"typeVersion":1,"id":"527d4064-7a0b-4840-8d85-d2dc21136eff","name":"Sticky Note6"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('When Executed by Another Workflow').item.json.chat_id }}"},"id":"d30cbe53-85e4-4572-911e-56462389349d","name":"Chat memory","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1,"position":[640,688],"notesInFlow":false,"credentials":{"postgres":{"id":"RJfYPONKqWUiJzDA","name":"Postgres account"}}},{"parameters":{"options":{}},"id":"30238860-d277-402b-9c2c-dad5541c305a","name":"OpenAI Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[464,688],"credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Utiliza esta herramienta para obtener todos los documentos disponibles.","operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"={{ $json.sector }}_documents","mode":"name"},"returnAll":true,"options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.5,"position":[816,688],"id":"f5033a60-5ed3-49f2-bcc7-22958e5029bd","name":"Listar documentos","credentials":{"postgres":{"id":"RJfYPONKqWUiJzDA","name":"Postgres account"}}},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Utilice RAG para buscar información en la base de conocimientos.","tableName":{"__rl":true,"value":"={{ $json.sector }}_chunks","mode":"id"},"options":{"queryName":"=match_{{ $json.sector }}_chunks"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[1184,496],"id":"5f1bdfd3-921d-4141-9ade-77d1481b8672","name":"Supabase Vector Store","credentials":{"supabaseApi":{"id":"T3nXrcPYn5GbFuxT","name":"Supabase account"}}},{"parameters":{"operation":"executeQuery","query":"DELETE FROM {{ $('Archivo por actualizar').item.json.sector }}_chunks\nWHERE metadata->>'file_id' = '{{ $('Archivo por actualizar').item.json.file_id }}';","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[3984,1552],"id":"3d56a46c-0b43-4b97-85f1-5a4718fa6e3f","name":"Delete Chunks","alwaysOutputData":true,"credentials":{"postgres":{"id":"RJfYPONKqWUiJzDA","name":"Postgres account"}}},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"={{ $('Archivo por actualizar').item.json.sector }}_chunks","mode":"id"},"options":{"queryName":"=match_{{ $('Archivo por actualizar').item.json.sector }}_chunks"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[5360,1552],"id":"a4348878-ede0-4835-ada2-221aa3290da2","name":"Agrega Chunks","credentials":{"supabaseApi":{"id":"T3nXrcPYn5GbFuxT","name":"Supabase account"}}},{"parameters":{"dataType":"binary","textSplittingMode":"custom","options":{"metadata":{"metadataValues":[{"name":"file_id","value":"={{ $('Archivo por actualizar').item.json.file_id }}"},{"name":"=file_title","value":"={{ $('Archivo por actualizar').item.json.file_title }}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[5392,1712],"id":"0ac2c646-cade-4c91-adf0-adcc76ecd911","name":"Default Data Loader"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[5520,1888],"id":"0c53d310-4c0c-4006-b833-3922d2d44345","name":"Recursive Character Text Splitter"},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"table":{"__rl":true,"value":"={{ $('Documento a eliminar').item.json.sector }}_documents","mode":"name"},"deleteCommand":"delete","where":{"values":[{"column":"id","value":"={{ $('Documento a eliminar').item.json.document_id }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2896,2272],"id":"7e77af77-8036-4dad-9492-6728f9bb1744","name":"Delete Document1","alwaysOutputData":true,"credentials":{"postgres":{"id":"RJfYPONKqWUiJzDA","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"DELETE FROM {{ $('Documento a eliminar').item.json.sector }}_chunks\nWHERE metadata->>'file_id' = '{{ $('Documento a eliminar').item.json.document_id }}';","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2640,2240],"id":"00d479be-e696-4171-a713-db98da956bd7","name":"Delete Chunks1","alwaysOutputData":true,"credentials":{"postgres":{"id":"RJfYPONKqWUiJzDA","name":"Postgres account"}}},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"={{ $('Archivo por actualizar').item.json.sector }}_documents","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Archivo por actualizar').item.json.file_id }}","title":"={{ $('Archivo por actualizar').item.json.file_title }}","url":"={{ $('Archivo por actualizar').item.json.file_url }}","updated_at":"={{ $('Archivo por actualizar').item.json.updated_at }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":true,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"url","displayName":"url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[4224,1552],"id":"ed20051c-5e45-4ceb-83a7-bcd40976ce40","name":"Actualizar documento","alwaysOutputData":true,"credentials":{"postgres":{"id":"RJfYPONKqWUiJzDA","name":"Postgres account"}}},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[96,1712],"id":"da5224ee-ed7e-4c5e-9457-cd026dd628ee","name":"Diario - 00:00"},{"parameters":{"resource":"fileFolder","queryString":"=","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"={{ $('Sector a actualizar').item.json.id }}","mode":"id"},"whatToSearch":"files"},"options":{"fields":"={{ [\"id\",\"mimeType\",\"name\",\"modifiedTime\",\"webViewLink\"] }}"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1872,1616],"id":"6b98fda9-1d6c-425d-8bd7-922dfee7c054","name":"Obtener archivos","credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account 2"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"={{ $json.sector }}_documents","mode":"name"},"returnAll":true,"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1488,2240],"id":"f9f4f2ec-374e-4e72-bfb0-804b2912419b","name":"Seleccionar documentos","credentials":{"postgres":{"id":"RJfYPONKqWUiJzDA","name":"Postgres account"}}},{"parameters":{"resource":"fileFolder","queryString":"={{ $json.title }}","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"={{ $('Sector a actualizar').item.json.id }}","mode":"id"},"whatToSearch":"files"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1936,2256],"id":"46d260e0-ad1b-45f5-83d1-2e85d684cd69","name":"Buscar documento","alwaysOutputData":true,"retryOnFail":false,"credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account 2"}}},{"parameters":{"resource":"fileFolder","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"1cPRGvyE3N5V9MJLPXjT9QHh0hRrOcvdJ","mode":"list","cachedResultName":"Mi tienda - Conocimiento","cachedResultUrl":"https://drive.google.com/drive/folders/1cPRGvyE3N5V9MJLPXjT9QHh0hRrOcvdJ"},"whatToSearch":"folders"},"options":{"fields":["mimeType","id","name"]}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[512,1712],"id":"c8cbc294-bf02-4971-b25d-eacb98abbb7b","name":"Conocimiento","alwaysOutputData":false,"credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account 2"}}},{"parameters":{"operation":"executeQuery","query":"{{ $json.sql }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1680,1616],"id":"81c6483e-6f1b-47f0-83af-8546a15cb419","name":"Crea tablas RAG","credentials":{"postgres":{"id":"RJfYPONKqWUiJzDA","name":"Postgres account"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const id = $json.id;\nconst sector = $json.sector;\n\nif (!/^[a-z_][a-z0-9_]*$/i.test(sector)) {\n  throw new Error(\"Nombre de sector inválido\");\n}\n\nconst documentsTable = `${sector}_documents`;\nconst chunksTable = `${sector}_chunks`;\nconst functionName = `match_${sector}_chunks`;\n\nconst sql = `\n-- Insertar o actualizar el sector\ninsert into sectors (id, title)\nvalues ('${id}', '${sector}')\non conflict (id) do update set title = excluded.title;\n\n-- Crear tabla de documentos (nivel documento completo)\ncreate table if not exists ${documentsTable} (\n  id text primary key,\n  title text,\n  url text,\n  updated_at timestamp,\n  created_at timestamp default now()\n);\n\n-- Crear tabla de chunks relacionados a documentos\ncreate table if not exists ${chunksTable} (\n  id bigserial primary key,\n  content text,\n  metadata jsonb,\n  embedding vector(3072)\n);\n\n-- Crear función de búsqueda sobre chunks\ncreate or replace function ${functionName} (\n  query_embedding vector(3072),\n  match_count int default null,\n  filter jsonb DEFAULT '{}'\n) returns table (\n  id bigint,\n  content text,\n  metadata jsonb,\n  similarity float\n)\nlanguage plpgsql\nas $$BODY$$\n#variable_conflict use_column\nbegin\n  return query\n  select\n    id,\n    content,\n    metadata,\n    1 - (${chunksTable}.embedding <=> query_embedding) as similarity\n  from ${chunksTable}\n  where metadata @> filter\n  order by ${chunksTable}.embedding <=> query_embedding\n  limit match_count;\nend;\n$$BODY$$;\n`;\n\nreturn {\n  json: {\n    sql,\n  },\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1488,1616],"id":"1e7327fa-d09e-4979-99cb-9ec52250b548","name":"Script de creacion","alwaysOutputData":true},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"table":{"__rl":true,"value":"sectors","mode":"list","cachedResultName":"sectors"},"returnAll":true,"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1520,1104],"id":"225d1292-d077-40e5-9e51-12aa9b0882b5","name":"Obtener sectores","credentials":{"postgres":{"id":"RJfYPONKqWUiJzDA","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c9d6fd6f-1955-466b-aa95-c1bf7eda1be0","leftValue":"={{ $json.id }}","rightValue":"={{ $('Loop Over Items').item.json.id }}","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2272,1120],"id":"daa92542-d373-4f9d-8634-c50ca1662db2","name":"If3"},{"parameters":{"jsCode":"const id = $('Loop Over Items').first().json.id; // Ejemplo: \"test\"\nconst sector = $('Loop Over Items').first().json.title; // Ejemplo: \"test\"\n\nif (!/^[a-z_][a-z0-9_]*$/i.test(sector)) {\n  throw new Error(\"Nombre de sector inválido\");\n}\n\nconst documentsTable = `${sector}_documents`;\nconst chunksTable = `${sector}_chunks`;\nconst functionName = `match_${sector}_chunks`;\n\nconst sql = `\ndrop function if exists ${functionName};\ndrop table if exists ${chunksTable};\ndrop table if exists ${documentsTable};\ndelete from sectors where id = '${id}';\n`;\n\nreturn [{ json: { sql } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2544,1104],"id":"07696d7c-8845-4138-a691-5c0cd776dd17","name":"Script de Eliminacion"},{"parameters":{"operation":"executeQuery","query":"{{ $json.sql }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2784,1136],"id":"3c82c58f-eaef-49a2-8121-da1c1a4aa2f3","name":"Elimina Tabla RAG","credentials":{"postgres":{"id":"RJfYPONKqWUiJzDA","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"-- Crear tabla de sectores (contiene todos los sectores)\ncreate table if not exists sectors (\n  id text primary key,\n  title text\n);\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[304,1712],"id":"69df6035-5479-4539-8317-8482b3e103ba","name":"Crear sectors","alwaysOutputData":true,"credentials":{"postgres":{"id":"RJfYPONKqWUiJzDA","name":"Postgres account"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"table":{"__rl":true,"value":"={{ $('Loop Over Items2').item.json.sector }}_documents","mode":"name"},"returnAll":true,"where":{"values":[{"column":"=id","value":"={{ $('Loop Over Items2').item.json.file_id }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2544,1744],"id":"67410d8b-d4f9-4f33-8b67-8cf445d6006f","name":"Buscar Archivo","alwaysOutputData":true,"executeOnce":false,"notesInFlow":false,"credentials":{"postgres":{"id":"RJfYPONKqWUiJzDA","name":"Postgres account"}},"onError":"continueRegularOutput"},{"parameters":{"options":{"reset":"={{ $prevNode.name === 'Obtener sectores' }}"}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1776,1104],"id":"2636d804-e6c3-40e7-b09f-823a3498302e","name":"Loop Over Items"},{"parameters":{"options":{"reset":"={{ $prevNode.name === 'Seleccionar documentos' }}"}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1712,2240],"id":"9f545dbb-7166-44ff-8094-fedc2b422d13","name":"Loop Over Items3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ecf2a2b1-6ca9-491a-ab88-5efd8980f463","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2128,2256],"id":"b99aaf73-47d1-4175-a975-7c90321c5116","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"81949a51-a337-4e27-88db-c76d13fc6685","name":"sector","value":"={{ $('Sector a actualizar').item.json.sector }}","type":"string"},{"id":"adaf6edd-d8e1-4441-a611-6d26540bac05","name":"document_id","value":"={{ $('Loop Over Items3').item.json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2384,2240],"id":"a42afeb5-0611-47b7-ab6f-faa901c5522d","name":"Documento a eliminar"},{"parameters":{"assignments":{"assignments":[{"id":"27c8a97a-fc43-4831-814e-a3aedd3de94e","name":"id","value":"={{ $json.id }}","type":"string"},{"id":"258bc7c0-c149-4eb5-81ba-36d1735c8b1b","name":"sector","value":"={{ $json.name }}","type":"string"}]},"options":{}},"id":"2bd74023-ad36-4a1f-99f0-5f5ce60d9078","name":"Sector a actualizar","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[992,1728]},{"parameters":{"options":{"reset":"={{ $prevNode.name === 'Archivo por revisar' }}"}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2336,1616],"id":"4747735b-fb54-4c09-acdb-417b64f62619","name":"Loop Over Items2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"67aa4a10-dd16-49f2-9406-1415017bde0d","leftValue":"={{ $json.require_update }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2896,1600],"id":"287e8e3a-0eec-48be-98e0-03ae1210f313","name":"If1"},{"parameters":{"options":{"reset":"={{ $prevNode.name === 'If1' }}"}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[3232,1552],"id":"4553ebe5-4891-49c9-95bb-dee390ecd1c0","name":"Loop Over Items4"},{"parameters":{"assignments":{"assignments":[{"id":"45e95b33-79e5-4c86-8625-5318d01103dd","name":"sector","value":"={{ $('Archivo por revisar').item.json.sector }}","type":"string"},{"id":"46a47b30-d8b3-4b95-9825-150c82cc52e5","name":"file_id","value":"={{ $('Archivo por revisar').item.json.file_id }}","type":"string"},{"id":"6d42866c-05ab-4720-a4f4-8edfc4580d5b","name":"file_type","value":"={{ $('Archivo por revisar').item.json.file_type }}","type":"string"},{"id":"c4acc692-b2ff-47db-acfa-61f17da02faa","name":"file_title","value":"={{ $('Archivo por revisar').item.json.file_title }}","type":"string"},{"id":"292453e9-6abe-482d-b54c-a1bd685e5035","name":"file_url","value":"={{ $('Archivo por revisar').item.json.file_url }}","type":"string"},{"id":"7fe2df32-4b65-4b50-8e7c-3003944bda29","name":"updated_at","value":"={{ $('Archivo por revisar').item.json.updated_at }}","type":"string"},{"id":"b40fcaf2-5322-42cb-9bc7-78ae665ef331","name":"updated_at_bd","value":"={{ $json.updated_at }}","type":"string"},{"id":"e0d28aec-e0f5-495c-9a3f-71658bea56e1","name":"require_update","value":"={{ $('Archivo por revisar').item.json.updated_at != $json.updated_at }}","type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2768,1744],"id":"8c0d3d50-6172-42d0-91c6-3850df4b8db7","name":"Archivo revisado"},{"parameters":{"assignments":{"assignments":[{"id":"f5c3036e-29f4-4e1b-8a3d-cf2cfdac4ac0","name":"sector","value":"={{ $('Sector a actualizar').item.json.sector }}","type":"string"},{"id":"10646eae-ae46-4327-a4dc-9987c2d76173","name":"file_id","value":"={{ $json.id }}","type":"string"},{"id":"f4536df5-d0b1-4392-bf17-b8137fb31a44","name":"file_type","value":"={{ $json.mimeType }}","type":"string"},{"id":"77d782de-169d-4a46-8a8e-a3831c04d90f","name":"file_title","value":"={{ $json.name }}","type":"string"},{"id":"9bde4d7f-e4f3-4ebd-9338-dce1350f9eab","name":"file_url","value":"={{ $json.webViewLink }}","type":"string"},{"id":"8c069a62-f5ac-4bf7-bc8b-fba7c98b6b26","name":"updated_at","value":"={{ $json.modifiedTime }}","type":"string"}]},"options":{}},"id":"86e6c3cb-dc07-4993-99fa-5310735b3a65","name":"Archivo por revisar","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2080,1616]},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[5744,2112],"id":"079298ae-c27a-420d-a82d-9ac25bce5525","name":"No Operation, do nothing"},{"parameters":{"assignments":{"assignments":[{"id":"5908c111-6258-4b00-95b8-2da99cf4cf6b","name":"sector","value":"={{ $json.sector }}","type":"string"},{"id":"b3076275-3664-4c39-bb5a-60b3d77e857b","name":"file_id","value":"={{ $json.file_id }}","type":"string"},{"id":"06e284a7-7ac8-4757-b98f-798324b67a60","name":"file_title","value":"={{ $json.file_title }}","type":"string"},{"id":"3e8ea03b-240f-4251-b391-3dfab52574b0","name":"file_type","value":"={{ $json.file_type }}","type":"string"},{"id":"d289b5c5-f915-4ad9-8647-49ceb61c131c","name":"file_url","value":"={{ $json.file_url }}","type":"string"},{"id":"ada18686-ef5f-4e18-9595-2e0147e40695","name":"updated_at","value":"={{ $json.updated_at }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3536,1568],"id":"422c3f9c-602b-4e9f-a970-23a5f3dcef6a","name":"Archivo por actualizar"},{"parameters":{"options":{"reset":"={{ $prevNode.name === 'Conocimiento' }}"}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[752,1712],"id":"c3bceda0-e846-42ee-a16a-0a7618cf7527","name":"Loop Over Items5"},{"parameters":{"resource":"fileFolder","queryString":"={{ $json.title }}","limit":1,"filter":{"folderId":{"__rl":true,"value":"1cPRGvyE3N5V9MJLPXjT9QHh0hRrOcvdJ","mode":"list","cachedResultName":"Mi tienda - Conocimiento","cachedResultUrl":"https://drive.google.com/drive/folders/1cPRGvyE3N5V9MJLPXjT9QHh0hRrOcvdJ"},"whatToSearch":"folders"},"options":{"fields":["id","name","mimeType"]}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2032,1120],"id":"3660e303-a8a5-4ff9-b238-5275297fd2a9","name":"Buscar Sector","alwaysOutputData":true,"credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account 2"}}},{"parameters":{"content":"## RAG - Vectoriza documentos","height":1036,"width":2776,"color":6},"type":"n8n-nodes-base.stickyNote","position":[3168,1296],"typeVersion":1,"id":"c3a7fd0f-d29b-4c90-924f-27e25c46f400","name":"Sticky Note7"},{"parameters":{"content":"## RAG - Detecta documentos que se deben actualizar","height":492,"width":1720},"type":"n8n-nodes-base.stickyNote","position":[1408,1504],"typeVersion":1,"id":"7d979a82-92fe-42fe-901f-945d9ae78ff4","name":"Sticky Note8"},{"parameters":{"content":"## RAG - Elimina documentos no usados","height":444,"width":1720,"color":3},"type":"n8n-nodes-base.stickyNote","position":[1408,2080],"typeVersion":1,"id":"38652706-1eb3-4cc5-8434-9828689127a3","name":"Sticky Note9"},{"parameters":{"content":"## RAG - Detecta todo el conocimiento","height":476,"width":1192,"color":7},"type":"n8n-nodes-base.stickyNote","position":[48,1520],"typeVersion":1,"id":"08c2f0a7-5292-4c4d-870f-f8a7be770050","name":"Sticky Note10"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f2b4f24b-3339-4e35-9182-b8d3fde3dd20","leftValue":"={{ $('Archivo por actualizar').item.json.file_type }}","rightValue":"=application/pdf","operator":{"type":"string","operation":"equals"}},{"id":"1b64c784-acd5-423f-b12f-a42cbe210911","leftValue":"={{ $('Archivo por actualizar').item.json.file_type }}","rightValue":"text/plain","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"2fee83c3-5251-46f7-a448-da2967c97035","leftValue":"={{ $('Archivo por actualizar').item.json.file_type }}","rightValue":"wordprocessingml.document","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3744,1568],"id":"b2a5dac6-88fe-424a-a7e9-d26530285ee9","name":"If2"},{"parameters":{"workflowInputs":{"values":[{"name":"query"},{"name":"sector"},{"name":"chat_id"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[112,464],"id":"54401c06-2e0a-45c7-b3fa-cf68a40f6d30","name":"When Executed by Another Workflow"}],"connections":{"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Agrega Chunks","type":"ai_embedding","index":0}]]},"Download File":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Agrega Chunks","type":"main","index":0}],[{"node":"Agrega Chunks","type":"main","index":0}],[{"node":"Agrega Chunks","type":"main","index":0}]]},"Embeddings OpenAI2":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Chat memory":{"ai_memory":[[{"node":"RAG AI Agent","type":"ai_memory","index":0}]]},"OpenAI Model":{"ai_languageModel":[[{"node":"RAG AI Agent","type":"ai_languageModel","index":0}]]},"Listar documentos":{"ai_tool":[[{"node":"RAG AI Agent","type":"ai_tool","index":0}]]},"Supabase Vector Store":{"ai_tool":[[{"node":"RAG AI Agent","type":"ai_tool","index":0}]]},"Delete Chunks":{"main":[[{"node":"Actualizar documento","type":"main","index":0}]]},"Agrega Chunks":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Agrega Chunks","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Delete Document1":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Delete Chunks1":{"main":[[{"node":"Delete Document1","type":"main","index":0}]]},"Actualizar documento":{"main":[[{"node":"Download File","type":"main","index":0}]]},"Diario - 00:00":{"main":[[{"node":"Crear sectors","type":"main","index":0}]]},"Obtener archivos":{"main":[[{"node":"Archivo por revisar","type":"main","index":0}]]},"Seleccionar documentos":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Buscar documento":{"main":[[{"node":"If","type":"main","index":0}]]},"Conocimiento":{"main":[[{"node":"Loop Over Items5","type":"main","index":0}]]},"Crea tablas RAG":{"main":[[{"node":"Obtener archivos","type":"main","index":0}]]},"Script de creacion":{"main":[[{"node":"Crea tablas RAG","type":"main","index":0}]]},"Obtener sectores":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"If3":{"main":[[{"node":"Script de Eliminacion","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Script de Eliminacion":{"main":[[{"node":"Elimina Tabla RAG","type":"main","index":0}]]},"Elimina Tabla RAG":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Crear sectors":{"main":[[{"node":"Conocimiento","type":"main","index":0},{"node":"Obtener sectores","type":"main","index":0}]]},"Buscar Archivo":{"main":[[{"node":"Archivo revisado","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Buscar Sector","type":"main","index":0}]]},"Loop Over Items3":{"main":[[],[{"node":"Buscar documento","type":"main","index":0}]]},"If":{"main":[[{"node":"Documento a eliminar","type":"main","index":0}],[{"node":"Loop Over Items3","type":"main","index":0}]]},"Documento a eliminar":{"main":[[{"node":"Delete Chunks1","type":"main","index":0}]]},"Sector a actualizar":{"main":[[{"node":"Script de creacion","type":"main","index":0},{"node":"Seleccionar documentos","type":"main","index":0},{"node":"Loop Over Items5","type":"main","index":0}]]},"Loop Over Items2":{"main":[[{"node":"If1","type":"main","index":0}],[{"node":"Buscar Archivo","type":"main","index":0}]]},"If1":{"main":[[{"node":"Loop Over Items4","type":"main","index":0}]]},"Loop Over Items4":{"main":[[],[{"node":"Archivo por actualizar","type":"main","index":0}]]},"Archivo revisado":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Archivo por revisar":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"Loop Over Items4","type":"main","index":0}]]},"Archivo por actualizar":{"main":[[{"node":"If2","type":"main","index":0}]]},"Loop Over Items5":{"main":[[],[{"node":"Sector a actualizar","type":"main","index":0}]]},"Buscar Sector":{"main":[[{"node":"If3","type":"main","index":0}]]},"If2":{"main":[[{"node":"Delete Chunks","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"RAG AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f65ba502-d178-4ebd-b082-c7d9d0d77be3","triggerCount":0,"shared":[{"updatedAt":"2025-10-15T09:05:40.852Z","createdAt":"2025-10-15T09:05:40.852Z","role":"workflow:owner","workflowId":"mVWVAXEXJcGNMgGa","projectId":"prlZ3bTXg0wKi0D1"}],"tags":[]}