rag:-chunking-contextual-de-drive-a-pinecone-Ggyi78k9qhQXbX5D.json
{"updatedAt":"2025-10-20T22:53:25.024Z","createdAt":"2025-10-20T22:53:25.024Z","id":"Ggyi78k9qhQXbX5D","name":"RAG: Chunking Contextual de Drive a Pinecone","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"f9e0d4fd-71fc-4f46-ad88-e537760de636","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","position":[464,128],"typeVersion":1},{"parameters":{"options":{}},"id":"1d845efa-fa42-422e-a2bc-1a27a019d2b5","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[1568,128],"typeVersion":3},{"parameters":{"options":{}},"id":"15b81234-3f99-494e-80cf-61c7d29ca3af","name":"OpenRouter Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","position":[304,496],"typeVersion":1},{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"mode":"list","value":"context-rag-test","cachedResultName":"context-rag-test"},"options":{}},"id":"0c9ae66b-f3e8-4783-9818-6735187feac8","name":"Pinecone Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","position":[1248,480],"typeVersion":1},{"parameters":{},"id":"e3593796-df15-4250-bdfc-ad95d6040161","name":"Embeddings Google Gemini","type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","position":[1184,672],"typeVersion":1},{"parameters":{"options":{}},"id":"4ba17a8e-b33f-4841-891a-bb5007853279","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","position":[1392,672],"typeVersion":1},{"parameters":{"chunkSize":100000,"options":{}},"id":"8599c5e6-2cad-4f03-bd68-b041d0515001","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","position":[1328,800],"typeVersion":1},{"parameters":{"operation":"download","fileId":{"__rl":true,"mode":"list","value":"1gm0jxFTLuiWB5u4esEjzoCPImrVqu0AEMIKBIesTf9M","cachedResultUrl":"https://docs.google.com/document/d/1gm0jxFTLuiWB5u4esEjzoCPImrVqu0AEMIKBIesTf9M/edit?usp=drivesdk","cachedResultName":"Udit Rawat - Details"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"id":"8a45a554-acd0-4c26-9fee-5bba1ba916d1","name":"Get Document From Google Drive","type":"n8n-nodes-base.googleDrive","position":[688,128],"typeVersion":3},{"parameters":{"operation":"text","options":{}},"id":"749425d2-ef35-49ec-8ff6-5926b75a0a28","name":"Extract Text Data From Google Document","type":"n8n-nodes-base.extractFromFile","position":[912,128],"typeVersion":1},{"parameters":{"jsCode":"let split_text = \"—---------------------------—-------------[SECTIONEND]—---------------------------—-------------\";\nfor (const item of $input.all()) {\n item.json.section = item.json.data.split(split_text);\n item.json.document = JSON.stringify(item.json.section)\n}\nreturn $input.all();"},"id":"66b8c578-69d7-49dd-95d8-31ff764763fe","name":"Split Document Text Into Sections","type":"n8n-nodes-base.code","position":[1120,128],"typeVersion":2},{"parameters":{"fieldToSplitOut":"section","options":{}},"id":"4e84cf55-73b6-4d7a-bc81-b33af1d266e7","name":"Prepare Sections For Looping","type":"n8n-nodes-base.splitOut","position":[1344,128],"typeVersion":1},{"parameters":{"content":"## Preparar Documento\nEsta sección se encarga de descargar el archivo desde Google Drive, dividir el texto en secciones detectando los separadores y prepararlas para el bucle.\n","height":280,"width":1300},"id":"8c205ce1-2dd7-46bd-bc3f-6468e7440d86","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[432,32],"typeVersion":1},{"parameters":{"content":"## Preparar contexto\nEn esta sección, el nodo **agente** preparará el contexto para una sección (fragmento de texto), que luego se pasará para la conversión en vectores junto con la propia sección.\n","height":360,"width":780},"id":"163adb82-9554-4198-85d1-f666b13cd07f","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[240,352],"typeVersion":1},{"parameters":{"agent":"conversationalAgent","promptType":"define","text":"=<document> \n{{ $('Split Document Text Into Sections').item.json.document }}\n</document> \nHere is the chunk we want to situate within the whole document \n<chunk> \n{{ $json.section }}\n</chunk> \nPlease give a short succinct context to situate this chunk within the overall document for the purposes of improving search retrieval of the chunk. Answer only with the succinct context and nothing else. ","options":{}},"id":"51de4722-7af2-4ac4-8f46-ff01789f9ee3","name":"AI Agent - Prepare Context","type":"@n8n/n8n-nodes-langchain.agent","position":[480,480],"typeVersion":1.7},{"parameters":{"assignments":{"assignments":[{"id":"e5fb0381-5d23-46e2-a0d1-438240b80a3e","name":"=section_chunk","type":"string","value":"={{ $json.output }}. {{ $('Loop Over Items').item.json.section }}"}]},"options":{}},"id":"01580cc4-51ec-43fa-8400-d8ba73e62074","name":"Concatenate the context and section text","type":"n8n-nodes-base.set","position":[832,480],"typeVersion":3.4},{"parameters":{"content":"## Convertir texto en vectores\nEn este paso, el nodo **Pinecone** convierte el texto proporcionado en vectores utilizando **Google Gemini** y los almacena en la base de datos vectorial de **Pinecone**.\n","height":600,"width":580},"id":"60ae9975-5421-4579-be30-71d71b813af4","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[1104,352],"typeVersion":1},{"parameters":{"content":"## Demostración en Video\n[![Miniatura del Video](https://img.youtube.com/vi/qBeWP65I4hg/maxresdefault.jpg)](https://www.youtube.com/watch?v=qBeWP65I4hg)\n","height":300,"width":400},"id":"3e05f819-88c4-424d-b86f-4c1bb44cab79","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1}],"connections":{"Loop Over Items":{"main":[[],[{"node":"AI Agent - Prepare Context","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Pinecone Vector Store","type":"ai_document","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent - Prepare Context","type":"ai_languageModel","index":0}]]},"Pinecone Vector Store":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Embeddings Google Gemini":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"AI Agent - Prepare Context":{"main":[[{"node":"Concatenate the context and section text","type":"main","index":0}]]},"Prepare Sections For Looping":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Get Document From Google Drive":{"main":[[{"node":"Extract Text Data From Google Document","type":"main","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Split Document Text Into Sections":{"main":[[{"node":"Prepare Sections For Looping","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Get Document From Google Drive","type":"main","index":0}]]},"Extract Text Data From Google Document":{"main":[[{"node":"Split Document Text Into Sections","type":"main","index":0}]]},"Concatenate the context and section text":{"main":[[{"node":"Pinecone Vector Store","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"f73901e6-f91b-48cb-9840-a1c5b9c61e73","triggerCount":0,"shared":[{"updatedAt":"2025-10-20T22:53:25.027Z","createdAt":"2025-10-20T22:53:25.027Z","role":"workflow:owner","workflowId":"Ggyi78k9qhQXbX5D","projectId":"prlZ3bTXg0wKi0D1"}],"tags":[{"updatedAt":"2025-10-09T08:32:14.448Z","createdAt":"2025-10-09T08:32:14.448Z","id":"2ft3cuPlaPbpQkDb","name":"The AI Blueprint Plus"}]}