robot_fotos-JS2ovoV5biKz5RyK.json
{"updatedAt":"2025-10-09T16:14:04.000Z","createdAt":"2025-10-03T22:15:50.516Z","id":"JS2ovoV5biKz5RyK","name":"robot_fotos","active":true,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-1248,768],"id":"eb078001-7609-4f2b-8162-4cd90ac6a2ea","name":"Disparador de Telegram","webhookId":"bea4843e-25e4-4d89-b3f6-4237798e9b42","credentials":{"telegramApi":{"id":"7UCg36pupNze5tT7","name":"Telegram account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e7211e46-0f49-46a0-9cb7-e83fed150efd","leftValue":"={{ $json.message.photo }}","rightValue":"","operator":{"type":"array","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Foto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"85edf561-8f5e-4215-9e19-78ff0392068e"}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1056,768],"id":"5e4e642d-1691-4e12-9b53-acc2894e8e28","name":"Conmutador"},{"parameters":{"resource":"file","fileId":"={{ $json.message.photo[1].file_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-896,528],"id":"fc5fbfd1-8cc7-4e78-b174-5adf79d8dac1","name":"Descargar Archivo","webhookId":"fb18f65f-c1cf-4473-b59d-d59d6b96e9ea","credentials":{"telegramApi":{"id":"7UCg36pupNze5tT7","name":"Telegram account"}}},{"parameters":{"name":"={{ $now.format('yyyy-MM-dd') }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"1Cazquw6V9N0P-9L2-8I_mLYoPD_EfoL2","mode":"list","cachedResultName":"fotosIA","cachedResultUrl":"https://drive.google.com/drive/folders/1Cazquw6V9N0P-9L2-8I_mLYoPD_EfoL2"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-752,528],"id":"66196896-497f-4e49-8028-43e9562b87bb","name":"Subir archivo","credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"53de4eb0-6684-48f5-a5b5-2b3bedaff817","name":"message.text","value":"=El usuario acaba de enviar una imagen. Aquí está el ID de ese archivo en Google Drive: {{ $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-608,528],"id":"e22a49b8-5676-4f54-9ec3-4858d32312b1","name":"Establecer Texto"},{"parameters":{"chatId":"={{ $('Disparador de Telegram').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[112,784],"id":"e2122b86-42eb-4a57-b297-991abb9a03b6","name":"Responder","webhookId":"f9df111e-1004-4aff-b458-779444006ed8","credentials":{"telegramApi":{"id":"7UCg36pupNze5tT7","name":"Telegram account"}}},{"parameters":{"operation":"update","fileId":{"__rl":true,"mode":"id","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Archivo_a_Actualizar', ``, 'string') }}"},"newUpdatedFileName":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nuevo_Nombre_Archivo_Actualizado', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.googleDriveTool","typeVersion":3,"position":[-304,1008],"id":"587c05fe-2be0-4bb1-b6b3-1385291a8e0a","name":"Cambiar Nombre","credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account 2"}}},{"parameters":{"resource":"fileFolder","queryString":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Search_Query', ``, 'string') }}","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"1Cazquw6V9N0P-9L2-8I_mLYoPD_EfoL2","mode":"list","cachedResultName":"fotosIA","cachedResultUrl":"https://drive.google.com/drive/folders/1Cazquw6V9N0P-9L2-8I_mLYoPD_EfoL2"},"whatToSearch":"files"},"options":{"fields":["id","name","webViewLink"]}},"type":"n8n-nodes-base.googleDriveTool","typeVersion":3,"position":[-160,1008],"id":"c0e706b7-4a9d-410b-9f2d-e3ac4a346f3b","name":"Buscar Archivos Originales","credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account 2"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Disparador de Telegram').item.json.message.chat.id }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-752,1008],"id":"e83a3e7b-922c-407d-a2e7-7c6e9408953b","name":"Memoria Simple"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-912,1008],"id":"8f2a79ba-07cc-41ac-bd9b-4c5ed2d95fe9","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"ma7OjN6JExv5iRZ1","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"description":"Llama a esta herramienta para editar una imagen. Debes pasar un nuevo título de imagen, un prompt de imagen y el ID de la imagen.","workflowId":{"__rl":true,"value":"bvO22zJ8csguDoAz","mode":"list","cachedResultUrl":"/workflow/bvO22zJ8csguDoAz","cachedResultName":"editar_imagenes"},"workflowInputs":{"mappingMode":"defineBelow","value":{"imageTitle":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('imageTitle', ``, 'string') }}","imagePrompt":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('imagePrompt', ``, 'string') }}","imageID":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('imageID', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"imageTitle","displayName":"imageTitle","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"imagePrompt","displayName":"imagePrompt","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"imageID","displayName":"imageID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-464,1104],"id":"542aba79-fb0d-4989-b10d-960dfa114108","name":"editar_imagen"},{"parameters":{"description":"Llama a esta herramienta para combinar dos imágenes. Debes pasar un prompt de generación de imagen, los IDs de ambas imágenes y un título para esta nueva imagen.","workflowId":{"__rl":true,"value":"pNNX42ygbsnAQqfi","mode":"list","cachedResultUrl":"/workflow/pNNX42ygbsnAQqfi","cachedResultName":"combinar_imagenes"},"workflowInputs":{"mappingMode":"defineBelow","value":{"prompt":"={{ $fromAI('prompt', ``, 'string') }}","image1":"={{ $fromAI('image1', ``, 'string') }}","image2":"={{ $fromAI('image2', ``, 'string') }}","imageTitle":"={{ $fromAI('imageTitle', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"prompt","displayName":"prompt","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"image1","displayName":"image1","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"image2","displayName":"image2","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"imageTitle","displayName":"imageTitle","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-608,1104],"id":"7575f6f4-a835-43bb-ac83-b56664d1aae5","name":"combinar_imagenes"},{"parameters":{"resource":"fileFolder","queryString":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Search_Query', ``, 'string') }}","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"1Cazquw6V9N0P-9L2-8I_mLYoPD_EfoL2","mode":"list","cachedResultName":"fotosIA","cachedResultUrl":"https://drive.google.com/drive/folders/1Cazquw6V9N0P-9L2-8I_mLYoPD_EfoL2"},"whatToSearch":"files"},"options":{"fields":["id","name","webViewLink"]}},"type":"n8n-nodes-base.googleDriveTool","typeVersion":3,"position":[-16,1008],"id":"7d821336-72ab-4553-94a3-0d462e860378","name":"Buscar Imagenes de IA","credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account 2"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-5-mini","mode":"list","cachedResultName":"gpt-5-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1040,1008],"id":"95307f95-575f-4081-a916-5592a829aef1","name":"GPT 5 mini","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"promptType":"define","text":"={{ $json.message.text }}","needsFallback":true,"options":{"systemMessage":"=# Resumen\nEres un agente de asistencia personal. Tu trabajo es usar las herramientas a las que tienes acceso para ayudar al usuario con su solicitud.\n\n## Herramientas\nCambiar Nombre - Usa esta herramienta para cambiar el nombre de una foto. Debes tener el ID del archivo para cambiar el nombre.\nCombinar Imágenes - Usa esta herramienta para combinar dos imágenes con la máxima resolución posible.\nBuscar Archivos Originales - Usa esta herramienta para buscar archivos de imagen que el usuario haya subido previamente.\nBuscar Imágenes de IA - Usa esta herramienta para buscar imágenes generadas por IA que hayas ayudado al usuario a crear.\nEditar Imagen - Usa esta herramienta para editar una imagen a la más alta resolución posible\n\n## Instrucciones\n1) Si el usuario envía una foto, pregúntale cómo quiere nombrar esa foto diciendo \"¿Cómo te gustaría que nombre esa foto en tu Google Drive?\". Luego, una vez que responda, cambia el nombre usando tu herramienta Cambiar Nombre.\n","returnIntermediateSteps":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-496,768],"id":"1dc4fe96-f6f6-40f0-954b-4e4513c82bba","name":"Agente Google"},{"parameters":{"method":"POST","url":"https://api.imgbb.com/1/upload","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"5f6fe3d4d8b8855a4e98e6af5225eb6e"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"image","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-752,-384],"id":"70e5bedb-c310-4d75-be11-88e5cfb0c101","name":"Obtener URL"},{"parameters":{"assignments":{"assignments":[{"id":"6831d021-c2d0-42a4-b625-aabfed3d170b","name":"images","value":"=['{{ $json.image1 }}','{{ $json.image2 }}']","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1200,-384],"id":"bf212851-93ac-4c39-aae0-b5b04b5f971c","name":"Editar Campos"},{"parameters":{"fieldToSplitOut":"images","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1056,-384],"id":"ca99efaa-e053-4932-a828-cc495580819b","name":"Dividir"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.images }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-912,-384],"id":"3688cc6d-a787-49a2-8308-d7a828ffb44a","name":"Descargar archivo","credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account 2"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"data"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-608,-384],"id":"72c42fcc-2f89-440b-820e-6bbf8fba6eb2","name":"Agregar"},{"parameters":{"method":"POST","url":"https://queue.fal.run/fal-ai/nano-banana/edit","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Key 93620993-1635-439c-a22b-6cb0bb3c100e:44b55a3bb0a17dd7792f0f757d7f31d7"}]},"sendBody":true,"contentType":"=json","specifyBody":"json","bodyParameters":{"parameters":[{}]},"jsonBody":"={\n  \"prompt\": \"{{ \n  $('When Executed by Another Workflow').item.json.prompt.replace(/\\\"/g, '\\\\\\\"').replace(/(\\r\\n|\\n|\\r)/g, '\\\\n') }}}}\",\n  \"image_urls\": [\n    \"{{ $json.data[0].url }}\",\n    \"{{ $json.data[1].url }}\"\n  ],\n  \"num_images\": 1,\n  \"output_format\": \"jpeg\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-464,-384],"id":"7b14923d-2c50-41ba-ab9b-67618c8d3373","name":"Crear Imagen"},{"parameters":{"url":"=https://queue.fal.run/fal-ai/nano-banana/requests/{{ $json.request_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Key 5a4ae634-f5ef-4c30-9a7a-28e28850060c:ff9d20993e3fb3b21325216baab631f3"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-160,-384],"id":"2d3adc5a-1827-4692-897d-0aef11614634","name":"Obtener Resultado","onError":"continueErrorOutput"},{"parameters":{"mode":"raw","jsonOutput":"={{\n  {\n    \"Response\": \"La imagen fue creada y nombrada \\\"\" + ($json.name || \"\") + \"\\\".\\n\\nAquí está el enlace a la imagen en Google Drive: \" + ($json.webViewLink || \"\")\n  }\n}}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[304,-464],"id":"b270e899-33a0-474c-b332-1292a74471d3","name":"Resultado"},{"parameters":{"url":"={{ $json.images[0].url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[16,-464],"id":"1adbaa37-4fb4-43ee-8289-7d1c298f50ae","name":"Descargar Imagen"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-320,-384],"id":"560e2266-82ea-42ca-94cd-9a41b8b6644c","name":"10 Segundos","webhookId":"caad73e3-58d8-4fbd-a3e9-c42424f2d1ee"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[16,-320],"id":"18ef216d-993e-414e-a1dc-32e6fe222c19","name":"5 Segundos","webhookId":"5f6bbd1e-a155-48de-b737-a225c6fd7a84"},{"parameters":{"workflowInputs":{"values":[{"name":"prompt"},{"name":"image1"},{"name":"image2"},{"name":"imageTitle"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1376,-384],"id":"289e79b1-4ffd-49f0-97b6-9c87605fdb05","name":"When Executed by Another Workflow"},{"parameters":{"name":"={{ $('When Executed by Another Workflow').item.json.imageTitle }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1Cazquw6V9N0P-9L2-8I_mLYoPD_EfoL2","mode":"list","cachedResultName":"fotosIA","cachedResultUrl":"https://drive.google.com/drive/folders/1Cazquw6V9N0P-9L2-8I_mLYoPD_EfoL2"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[160,-464],"id":"3c5bbec5-0a29-46f2-bcee-13143ae5a775","name":"Subir archivo1","credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account 2"}}},{"parameters":{"method":"POST","url":"https://api.imgbb.com/1/upload","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"5f6fe3d4d8b8855a4e98e6af5225eb6e"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"image","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1152,128],"id":"818edf92-287c-4f17-9170-1a63a5b7678e","name":"Obtener URL1"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.imageID }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1376,128],"id":"5c4e3783-6973-48f1-908e-cdab6be81cab","name":"Descargar archivo1","credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account 2"}}},{"parameters":{"method":"POST","url":"https://queue.fal.run/fal-ai/nano-banana/edit","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Key 5a4ae634-f5ef-4c30-9a7a-28e28850060c:ff9d20993e3fb3b21325216baab631f3"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"prompt\": \"{{ \n  $('When Executed by Another Workflow').item.json.imagePrompt.replace(/\\\"/g, '\\\\\\\"').replace(/(\\r\\n|\\n|\\r)/g, '\\\\n') }}}}\",\n  \"image_urls\": [\n    \"{{ $json.data.url }}\"\n  ],\n  \"num_images\": 1,\n  \"output_format\": \"jpeg\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-928,128],"id":"1663f108-3848-428f-9436-ff53b657302a","name":"Crear Imagen1"},{"parameters":{"url":"={{ $json.images[0].url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-256,-16],"id":"b6785fb2-90d1-4aea-b058-7f8b0f2c07c9","name":"Descargar Imagen1"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-704,128],"id":"86a24ae0-e2b8-4ea5-9fbe-97d0e712ad77","name":"10 Segundos1","webhookId":"caad73e3-58d8-4fbd-a3e9-c42424f2d1ee"},{"parameters":{"name":"={{ $('When Executed by Another Workflow').item.json.imageTitle }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1Cazquw6V9N0P-9L2-8I_mLYoPD_EfoL2","mode":"list","cachedResultName":"fotosIA","cachedResultUrl":"https://drive.google.com/drive/folders/1Cazquw6V9N0P-9L2-8I_mLYoPD_EfoL2"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-32,-16],"id":"0a6796f4-69e5-4202-b90c-64a4955d2373","name":"Subir archivo2","credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account 2"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-256,176],"id":"ab9c1214-892c-4a8b-83cf-f0db9cc15779","name":"5 Segundos1","webhookId":"5f6bbd1e-a155-48de-b737-a225c6fd7a84"},{"parameters":{"url":"=https://queue.fal.run/fal-ai/nano-banana/requests/{{ $json.request_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Key 5a4ae634-f5ef-4c30-9a7a-28e28850060c:ff9d20993e3fb3b21325216baab631f3"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-480,128],"id":"9bb6e675-4258-427d-b3b2-0ae8f94e23a4","name":"Obtener Resultado1","onError":"continueErrorOutput"},{"parameters":{"mode":"raw","jsonOutput":"={{\n  {\n    \"Response\": \"La imagen fue creada y nombrada \\\"\" + ($json.name || \"\") + \"\\\".\\n\\nAquí está el enlace a la imagen en Google Drive: \" + ($json.webViewLink || \"\")\n  }\n}}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[192,-16],"id":"c4eddbb2-8e5e-4ac1-87f6-7839ea3be85b","name":"Resultado1"}],"connections":{"Conmutador":{"main":[[{"node":"Descargar Archivo","type":"main","index":0}],[{"node":"Agente Google","type":"main","index":0}]]},"Descargar Archivo":{"main":[[{"node":"Subir archivo","type":"main","index":0}]]},"Subir archivo":{"main":[[{"node":"Establecer Texto","type":"main","index":0}]]},"Establecer Texto":{"main":[[{"node":"Agente Google","type":"main","index":0}]]},"Cambiar Nombre":{"ai_tool":[[{"node":"Agente Google","type":"ai_tool","index":0}]]},"Buscar Archivos Originales":{"ai_tool":[[{"node":"Agente Google","type":"ai_tool","index":0}]]},"Memoria Simple":{"ai_memory":[[{"node":"Agente Google","type":"ai_memory","index":0}]]},"Disparador de Telegram":{"main":[[{"node":"Conmutador","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Agente Google","type":"ai_languageModel","index":1}]]},"editar_imagen":{"ai_tool":[[{"node":"Agente Google","type":"ai_tool","index":0}]]},"combinar_imagenes":{"ai_tool":[[{"node":"Agente Google","type":"ai_tool","index":0}]]},"Buscar Imagenes de IA":{"ai_tool":[[{"node":"Agente Google","type":"ai_tool","index":0}]]},"GPT 5 mini":{"ai_languageModel":[[{"node":"Agente Google","type":"ai_languageModel","index":0}]]},"Agente Google":{"main":[[{"node":"Responder","type":"main","index":0}]]},"Editar Campos":{"main":[[{"node":"Dividir","type":"main","index":0}]]},"Dividir":{"main":[[{"node":"Descargar archivo","type":"main","index":0}]]},"Descargar archivo":{"main":[[{"node":"Obtener URL","type":"main","index":0}]]},"Obtener URL":{"main":[[{"node":"Agregar","type":"main","index":0}]]},"Agregar":{"main":[[{"node":"Crear Imagen","type":"main","index":0}]]},"Obtener Resultado":{"main":[[{"node":"Descargar Imagen","type":"main","index":0}],[{"node":"5 Segundos","type":"main","index":0}]]},"Crear Imagen":{"main":[[{"node":"10 Segundos","type":"main","index":0}]]},"10 Segundos":{"main":[[{"node":"Obtener Resultado","type":"main","index":0}]]},"Descargar Imagen":{"main":[[{"node":"Subir archivo1","type":"main","index":0}]]},"5 Segundos":{"main":[[{"node":"Obtener Resultado","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Editar Campos","type":"main","index":0}]]},"Subir archivo1":{"main":[[{"node":"Resultado","type":"main","index":0}]]},"Obtener URL1":{"main":[[{"node":"Crear Imagen1","type":"main","index":0}]]},"Descargar archivo1":{"main":[[{"node":"Obtener URL1","type":"main","index":0}]]},"Crear Imagen1":{"main":[[{"node":"10 Segundos1","type":"main","index":0}]]},"Descargar Imagen1":{"main":[[{"node":"Subir archivo2","type":"main","index":0}]]},"10 Segundos1":{"main":[[{"node":"Obtener Resultado1","type":"main","index":0}]]},"Subir archivo2":{"main":[[{"node":"Resultado1","type":"main","index":0}]]},"5 Segundos1":{"main":[[{"node":"Obtener Resultado1","type":"main","index":0}]]},"Obtener Resultado1":{"main":[[{"node":"Descargar Imagen1","type":"main","index":0}],[{"node":"5 Segundos1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2f628bcb-0562-4b00-917b-e894e06e2308","triggerCount":1,"shared":[{"updatedAt":"2025-10-03T22:15:50.518Z","createdAt":"2025-10-03T22:15:50.518Z","role":"workflow:owner","workflowId":"JS2ovoV5biKz5RyK","projectId":"prlZ3bTXg0wKi0D1"}],"tags":[]}