search-images-puum5zLViggfsSmR.json
{"updatedAt":"2025-10-19T11:32:26.000Z","createdAt":"2025-10-19T11:32:04.422Z","id":"puum5zLViggfsSmR","name":"Search Images","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[112,400],"id":"987ec2e6-54a7-45f5-8aaf-2888b8449cb4","name":"GPT 4.1 mini","credentials":{"openRouterApi":{"id":"hrgXqQ9MslXmo2ow","name":"OpenRouter account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1JqOTd49heNBdmrf5hSwxI66X724tspAmSjzWoA6-EU0","mode":"list","cachedResultName":"AI Images Log","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1JqOTd49heNBdmrf5hSwxI66X724tspAmSjzWoA6-EU0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1JqOTd49heNBdmrf5hSwxI66X724tspAmSjzWoA6-EU0/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[240,400],"id":"402edf7b-8a6f-4a3c-be55-841e964e2eb4","name":"Image Database","credentials":{"googleSheetsOAuth2Api":{"id":"u3wPsvNe1n4GWzVs","name":"Google Sheets Bestfranquicias"}}},{"parameters":{"workflowInputs":{"values":[{"name":"intent"},{"name":"image"},{"name":"chatID"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-48,144],"id":"1d851f3f-ee17-43e8-859d-082d6a66f21e","name":"When Executed by Another Workflow"},{"parameters":{"promptType":"define","text":"=Image: {{ $json.image }}","hasOutputParser":true,"options":{"systemMessage":"=# Overview\nYou are an Image Retrieval Agent. When the user provides a query, your task is to search the \"Image Database\" using the keywords from the query. Locate the most relevant matching image.\n\n## Output\n- Return the name, ID, and the Link of the image\n- If no image is found, output \"Not Found\"\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[240,144],"id":"6c67423b-86e0-40dc-8194-25fe4aa4ade2","name":"Image Search Agent"},{"parameters":{"assignments":{"assignments":[{"id":"44c36e1d-19e8-4411-bd3d-86c5144ecb14","name":"response","value":"Image wasn't found in the database","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[880,-128],"id":"efebca79-0be3-4449-b07b-43da5103e521","name":"Not Found"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a5a9fd85-2403-423e-92a2-d3ba20db83d9","leftValue":"={{ $('When Executed by Another Workflow').first().json.intent }}","rightValue":"Get","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[896,144],"id":"5c10a50b-8677-467b-94b0-00f5036f25c4","name":"Get?"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"85e307aa-0bb8-40f1-b62e-5b36c231b0af","leftValue":"={{ $json.output.status }}","rightValue":"Not Found","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[640,144],"id":"0bdcb4f0-5112-470d-a838-93707b2ae1ac","name":"Not Found?"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.output.image_id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1152,144],"id":"3db0f366-c808-4a1d-a20d-66a36a15a275","name":"Download File","credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account Bestfranquicias"}}},{"parameters":{"content":"# Trigger\n","height":260,"width":260,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-128,64],"id":"5ffaca96-fa8c-4c32-8229-f801d9f377dc","name":"Sticky Note5","disabled":true},{"parameters":{"content":"## Tool & Model","height":200,"width":280,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[80,352],"id":"47d7f90f-3add-4a2b-a04d-7fae3f0e908f","name":"Sticky Note2"},{"parameters":{"content":"# Image Search\n","height":260,"width":380,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[160,64],"id":"6c8c78dc-8316-4ba6-9347-942bab137547","name":"Sticky Note4"},{"parameters":{"content":"## Structured Output","height":200,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[384,352],"id":"ac789d96-5022-4326-aa05-07706867ce00","name":"Sticky Note3"},{"parameters":{"jsonSchemaExample":"{\n  \"image_name\":\"string | null\",\n  \"image_id\": \"string | null\",\n  \"image_link\": \"string | null\",\n  \"status\": \"found | not_found\"\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[464,400],"id":"ac580652-031f-43d7-afd5-3e6d9d66369f","name":"Name, ID, & Link"},{"parameters":{"content":"# Not Found?","height":260,"width":260,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[560,64],"id":"246c63e2-c217-43fe-bee7-93b3b4e67236","name":"Sticky Note"},{"parameters":{"content":"","height":200,"width":180,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[832,-160],"id":"ea68d4c5-cb45-43b4-9ff7-5cc033199f59","name":"Sticky Note1"},{"parameters":{"content":"# Get?","height":260,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[832,64],"id":"7b6dca12-58f2-43dc-9bb9-5c9aab2676a2","name":"Sticky Note6"},{"parameters":{"assignments":{"assignments":[{"id":"be32fa20-d1e6-4831-a266-5991e5c4eb1e","name":"imageName","value":"={{ $json.output.image_name }}","type":"string"},{"id":"10b5ddb9-a482-46a7-962f-8e18533d90d5","name":"imageID","value":"={{ $json.output.image_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1136,384],"id":"3e989a30-3aea-4077-b789-6e51b3efa747","name":"Edit"},{"parameters":{"content":"","height":200,"width":180,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1104,352],"id":"a8aa0820-ce5a-49a5-8541-701145135047","name":"Sticky Note7"},{"parameters":{"content":"# Send Content","height":260,"width":280,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1344,64],"id":"d9c12ba1-cc36-406a-9579-05283e766a22","name":"Sticky Note8"},{"parameters":{"content":"# Download\n","height":260,"width":220,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1104,64],"id":"0664fe1c-e855-4cad-8652-ba851c52eb1f","name":"Sticky Note9"},{"parameters":{"operation":"sendPhoto","chatId":"={{ $('When Executed by Another Workflow').item.json.chatID }}","binaryData":true,"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1424,144],"id":"64838d82-04f4-423b-8c39-c1f800413baf","name":"Send Photo","webhookId":"85dc0064-e5c5-45a9-91a5-60e5b2bc4f1e","credentials":{"telegramApi":{"id":"jDxsVgrb1fG40Bm1","name":"Telegram n8n_the2tor_bot"}}}],"connections":{"GPT 4.1 mini":{"ai_languageModel":[[{"node":"Image Search Agent","type":"ai_languageModel","index":0}]]},"Image Database":{"ai_tool":[[{"node":"Image Search Agent","type":"ai_tool","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Image Search Agent","type":"main","index":0}]]},"Image Search Agent":{"main":[[{"node":"Not Found?","type":"main","index":0}]]},"Not Found?":{"main":[[{"node":"Not Found","type":"main","index":0}],[{"node":"Get?","type":"main","index":0}]]},"Get?":{"main":[[{"node":"Download File","type":"main","index":0}],[{"node":"Edit","type":"main","index":0}]]},"Download File":{"main":[[{"node":"Send Photo","type":"main","index":0}]]},"Name, ID, & Link":{"ai_outputParser":[[{"node":"Image Search Agent","type":"ai_outputParser","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"5ba48d64-697f-42f7-b90a-d39a4e96a420","triggerCount":0,"shared":[{"updatedAt":"2025-10-19T11:32:04.424Z","createdAt":"2025-10-19T11:32:04.424Z","role":"workflow:owner","workflowId":"puum5zLViggfsSmR","projectId":"prlZ3bTXg0wKi0D1"}],"tags":[{"updatedAt":"2025-10-19T11:30:21.425Z","createdAt":"2025-10-19T11:30:21.425Z","id":"URen6Kt1FqZ3jhaz","name":"Marketing Team"}]}