sheyla-booking-bot-v6-tCmQcm6HatpcVVbe.json
{"updatedAt":"2026-03-01T13:00:31.000Z","createdAt":"2026-03-01T11:49:59.372Z","id":"tCmQcm6HatpcVVbe","name":"Sheyla Booking Bot v6","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"sheyla-booking","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-304,112],"webhookId":"sheyla-booking-webhook","id":"147ac6c5-4845-4c75-b1ce-5a3ac8a68d84"},{"parameters":{"method":"POST","url":"https://bestfranquicias-evolution-api.xq2ha6.easypanel.host/message/sendText/SheylaEstetica","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"429683C4C977415CAAFCCE10F7D57E11"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{$json.admin_notify_phone}}"},{"name":"text","value":"=✨ *Nueva Cita Recibida!*\n\n👤 *Cliente:* {{$json.customer_name}}\n💅 *Servicio:* {{$json.service_name}}\n📅 *Fecha:* {{$json.booking_date}}\n⏰ *Hora:* {{$json.start_time}}"}]},"options":{}},"name":"Notify Admin","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[0,0],"id":"b4694cb5-87ad-411f-97ba-8f47fee8b5ba"},{"parameters":{"method":"POST","url":"https://bestfranquicias-evolution-api.xq2ha6.easypanel.host/message/sendText/SheylaEstetica","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"429683C4C977415CAAFCCE10F7D57E11"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{$json.customer_phone}}"},{"name":"text","value":"=Hola {{$json.customer_name}}, confirmamos tu cita para {{$json.service_name}} el día {{$json.booking_date}} a las {{$json.start_time}}. ¡Te esperamos!"}]},"options":{}},"name":"Confirm Customer","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[0,208],"id":"2b4d7517-73eb-4a9c-8f23-498f223259fc"}],"connections":{"Webhook":{"main":[[{"node":"Notify Admin","type":"main","index":0},{"node":"Confirm Customer","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"11e69410-365b-4632-b36d-d4f2cd24254a","triggerCount":1,"shared":[{"updatedAt":"2026-03-01T11:49:59.375Z","createdAt":"2026-03-01T11:49:59.375Z","role":"workflow:owner","workflowId":"tCmQcm6HatpcVVbe","projectId":"prlZ3bTXg0wKi0D1"}],"tags":[]}