siri-ai-finance-assistant-yFImyuiwRhoqbN3B.json
{"updatedAt":"2025-10-11T21:43:31.000Z","createdAt":"2025-10-09T11:49:06.551Z","id":"yFImyuiwRhoqbN3B","name":"Siri AI Finance Assistant","active":true,"isArchived":false,"nodes":[{"parameters":{"options":{}},"id":"57d3c3d8-0a7a-4d96-9c78-f9f88534222f","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[784,224],"typeVersion":1,"credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"content":"![Siri Template Thumbnail](https://uploads.n8n.io/devrel/wf-siri-header.png#full-width)\n## \"Hey Siri, Ask Agent\" workflow\n**Made by [Max Tkacz](https://www.linkedin.com/in/maxtkacz) during the [30 Day AI Sprint](https://30dayaisprint.notion.site/)**\n\nThis template integrates with Apple Shortcuts to trigger an n8n AI Agent via a \"Hey Siri\" command. The shortcut prompts for spoken input, transcribes it, and sends it to the workflow's `When Called by Apple Shortcut` Webhook trigger. The AI Agent processes the input and Siri dictates the response back to you.\n\nThe workflow also passes the current date and time to the `AI Agent`, which you can extend with additional context, like data from an App node, for more customized responses.\n\n","height":494.9629292914819,"width":636.2128494576581,"color":7},"id":"93477c0c-b996-43ad-98fd-ac9f11626548","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-224,-208],"typeVersion":1},{"parameters":{"respondWith":"text","responseBody":"={{ $json.output }}","options":{}},"id":"58d73b03-ff4c-4d35-a793-5a8bc08fbc2c","name":"Respond to Apple Shortcut","type":"n8n-nodes-base.respondToWebhook","position":[1216,16],"typeVersion":1.1},{"parameters":{"content":"### Set up steps\n1. Add an OpenAI API credential in `OpenAI Chat Model` node, or replace it with another model. Try `Groq` if you want a free alternative (can be used with free Groq account, no CC).\n2. Copy the \"Production URL\" from `When called by Apple Shortcut` node, you'll need this when setting up the shortcut.\n3. Save and activate this n8n workflow.\n4. Download the [Apple Shortcut here](https://uploads.n8n.io/devrel/ask-agent.shortcut), open it on macOS or iOS. This adds the shortcut to your device.\n5. Open the shortcut and swap URL in `Get contents of\" step to the \"Production URL\" you copied from `When called by Apple Shortcut`.\n6. Test it by saying \"Hey Siri, AI Agent\", then ask a question.","height":438.5821431288714,"width":280.2462120317618,"color":7},"id":"7c5b9666-afea-442b-b95a-7214d01f9bcb","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-224,320],"typeVersion":1},{"parameters":{"content":"### ... or watch set up video [5 min]\n[![Siri Template Thumbnail](https://uploads.n8n.io/devrel/thumb-siri.png#full-width)](https://youtu.be/dewsB-4iGA8)\n","height":240.6839895136402,"width":330.5152611046425,"color":7},"id":"11171e45-beef-4d58-9ad3-26611b4f2400","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[80,320],"typeVersion":1},{"parameters":{"agent":"conversationalAgent","promptType":"define","text":"=Esta es mi petición: {{ $json.body.input }}\n","options":{"systemMessage":"=## Tarea\nEres un asistente útil. Proporciona respuestas concisas a medida que el usuario las recibe por voz en su teléfono móvil. Evita usar símbolos como \"\\n\" para evitar que se narren.\n\n## Contexto\n- Hoy es {{ $now.format('dd LLL yy') }}.\n- Hora actual: {{ $now.format('h:mm a') }} en Berlín, Alemania.\n- Cuando se te pregunte, eres un agente de IA que ejecuta un flujo de trabajo n8n.\n\n## Resultado\nMantén las respuestas breves y claras, optimizadas para la transmisión por voz. No alucines; si no sabes la respuesta, di que no la sabes.\n\nlas respuestas serán siempre es español de españa, con uso de acentos y entonación española"}},"id":"c5470486-1050-467d-aee9-144d5aaf515b","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[816,16],"typeVersion":1.6},{"parameters":{"httpMethod":"POST","path":"assistant","responseMode":"responseNode","options":{}},"id":"aa44f0fb-0cad-499d-8e90-f0b9caaeef71","name":"When called by Apple Shortcut","type":"n8n-nodes-base.webhook","position":[560,16],"webhookId":"f0224b4b-1644-4d3d-9f12-01a9c04879e4","typeVersion":2},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[608,-176],"id":"b34338f8-47cb-47d7-9ff4-8b252bf376c9","name":"Code in JavaScript"}],"connections":{"AI Agent":{"main":[[{"node":"Respond to Apple Shortcut","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"When called by Apple Shortcut":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"adf6e180-ee58-41e8-8dd0-030aa1d67fc5","triggerCount":1,"shared":[{"updatedAt":"2025-10-09T11:49:06.553Z","createdAt":"2025-10-09T11:49:06.553Z","role":"workflow:owner","workflowId":"yFImyuiwRhoqbN3B","projectId":"prlZ3bTXg0wKi0D1"}],"tags":[]}