sistema-rag-completo-OxMA2CaMX0NtoD5G.json
{"updatedAt":"2025-10-22T11:51:06.998Z","createdAt":"2025-10-22T11:51:06.998Z","id":"OxMA2CaMX0NtoD5G","name":"Sistema RAG completo","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"pdf","options":{}},"id":"fed6bf04-9eb0-43df-9f56-bd770d99eb3e","name":"Extract PDF Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[96,80]},{"parameters":{"operation":"xlsx","options":{}},"id":"6f318c54-b337-4222-a842-7b4f07005666","name":"Extract from Excel","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[96,416]},{"parameters":{"chunkOverlap":100,"options":{"splitCode":"markdown"}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[1552,448],"id":"afd75881-23c1-4d9a-b9a1-404ad2e8e600","name":"Recursive Character Text Splitter"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.1,"position":[1120,448],"id":"4bd20a97-65ab-4d26-8464-dbf55aff60ad","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1YbYAUbZFy_dZtTYc8lZ9-2UzTArTCkCU","mode":"list","cachedResultName":"RAG_Best-House","cachedResultUrl":"https://drive.google.com/drive/folders/1YbYAUbZFy_dZtTYc8lZ9-2UzTArTCkCU"},"event":"fileUpdated","options":{}},"id":"29128523-149f-491f-b374-db8562cad1e2","name":"File Created","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-1104,448],"credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account Bestfranquicias"}}},{"parameters":{"operation":"text","options":{}},"id":"86d92be3-4b32-46c5-b793-c0560992cd56","name":"Extract from Text File","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[96,240],"alwaysOutputData":true},{"parameters":{"operation":"delete","tableId":"documents","filterType":"string","filterString":"=metadata->>file_id=like.*{{ $('Datos Relevantes #1').item.json.file_id }}*"},"id":"88a53cee-e922-493a-934b-640cd264c34e","name":"Delete Old Doc Rows","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-560,1536],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"T3nXrcPYn5GbFuxT","name":"Supabase account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1YbYAUbZFy_dZtTYc8lZ9-2UzTArTCkCU","mode":"list","cachedResultName":"RAG_Best-House","cachedResultUrl":"https://drive.google.com/drive/folders/1YbYAUbZFy_dZtTYc8lZ9-2UzTArTCkCU"},"event":"fileUpdated","options":{}},"id":"8d479997-f498-4e85-86a7-9492b3809429","name":"File Updated","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-1088,1536],"credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account Bestfranquicias"}}},{"parameters":{"content":"## Base de Datos","height":240,"width":420,"color":4},"type":"n8n-nodes-base.stickyNote","position":[1072,64],"typeVersion":1,"id":"808a010e-ec9f-4b89-9b2e-b6d616d5e654","name":"Sticky Note"},{"parameters":{"content":"## 🛠️Cerebro/Herramientas\n","height":240,"width":620,"color":6},"type":"n8n-nodes-base.stickyNote","position":[1072,368],"typeVersion":1,"id":"dd825abc-f4f2-4841-9234-8e7aba8dc708","name":"Sticky Note2"},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.data || $json.text || $json.concatenated_data }}","options":{"metadata":{"metadataValues":[{"name":"=file_id","value":"={{ $('Datos Relevantes').item.json.file_id }}"},{"name":"=version","value":"v1"},{"name":"=creator","value":"={{ $('File Created').item.json.owners[0].displayName }}"},{"name":"=created_at","value":"={{ $('File Created').item.json.createdTime }}"},{"name":"last_modified","value":"={{ $('File Created').item.json.modifiedTime }}"},{"name":"folder_path","value":"projects"},{"name":"file_name","value":"={{ $('File Created').item.json.name }}"},{"name":"file_extension","value":"={{ $('File Created').item.json.mimeType }}"}]}}},"id":"d4d20632-8610-4e7c-b31c-05de353eb11c","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[1280,448]},{"parameters":{"content":"## Resumir\n\n","height":240,"width":300},"type":"n8n-nodes-base.stickyNote","position":[720,368],"typeVersion":1,"id":"6d0b2f8e-55ec-4d1d-9524-1cf998a48ac5","name":"Sticky Note6"},{"parameters":{"content":"## Agrupar\n","height":240,"width":300},"type":"n8n-nodes-base.stickyNote","position":[352,368],"typeVersion":1,"id":"c478f7b3-2ef5-417e-a4ea-d9ad82c4d339","name":"Sticky Note12"},{"parameters":{"content":"## 🛠️ Switch","height":480,"width":300,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-368,256],"typeVersion":1,"id":"6bf4c99f-e369-49dd-a233-583e6a15b26f","name":"Sticky Note13"},{"parameters":{"content":"## 🚀 Transformadores\n\n","height":620,"width":300,"color":4},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"74bae89b-4581-495e-83d4-e9844ddee6b3","name":"Sticky Note14"},{"parameters":{"content":"## 🏁 Trigger Google drive","height":260,"width":220},"type":"n8n-nodes-base.stickyNote","position":[-1168,368],"typeVersion":1,"id":"5277ace2-44af-48d9-aedb-7c6892b2c34a","name":"Sticky Note7"},{"parameters":{"content":"## 📚 Descarga de archivos","height":260},"type":"n8n-nodes-base.stickyNote","position":[-656,368],"typeVersion":1,"id":"9d489bc2-2338-46c9-bb7f-70c122bb424e","name":"Sticky Note16"},{"parameters":{"content":"## Descarga documento Word\n\n\n\n","height":280,"width":720,"color":4},"type":"n8n-nodes-base.stickyNote","position":[0,688],"typeVersion":1,"id":"f3d7440a-97bf-4a47-9d26-0f3859d1f014","name":"Sticky Note17"},{"parameters":{"content":"## 🤯 Filtrador","height":260,"width":150},"type":"n8n-nodes-base.stickyNote","position":[-880,368],"typeVersion":1,"id":"a0b44ef9-d73c-4b81-8f75-56ccfb07eb0a","name":"Sticky Note15"},{"parameters":{"assignments":{"assignments":[{"id":"10646eae-ae46-4327-a4dc-9987c2d76173","name":"file_id","value":"={{ $('File Created').item.json.id }}","type":"string"},{"id":"f4536df5-d0b1-4392-bf17-b8137fb31a44","name":"file_type","value":"={{ $('File Created').item.json.mimeType }}{{ $json.mimeType }}","type":"string"}]},"options":{}},"id":"7f288d44-40af-4e78-a9a6-ff04a1786be2","name":"Datos Relevantes","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-864,448]},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Datos Relevantes').item.json.file_id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"id":"ca1c479f-eb67-4594-8041-2dc84c69ba35","name":"Download File #1","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-576,448],"executeOnce":true,"credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account Bestfranquicias"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Convertir a Doc').item.json.id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"application/pdf"}}}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[512,768],"id":"8d1ad607-dc68-41ad-83a7-8aa16d136ade","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"CAK5TxYuevcZFF3W","name":"Google Drive The2tor"}}},{"parameters":{"operation":"deleteFile","fileId":{"__rl":true,"value":"={{ $('Download File #1').item.json.file_id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[336,768],"id":"0f74c9bc-29ec-403b-95a2-b1ea0270b68e","name":"Delete a file","credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account Bestfranquicias"}}},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"data"}]},"options":{}},"id":"b8e62e60-d0bc-4bb9-827c-d88c33db6663","name":"Summarize","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[800,448]},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"52308348-5017-4a0d-8207-5cd47e84e764","name":"Aggregate","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[464,448]},{"parameters":{"chunkOverlap":100,"options":{"splitCode":"markdown"}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[1904,1536],"id":"a9cf777f-79e5-4f4e-94d2-eb57d372e7f7","name":"Recursive Character Text Splitter1"},{"parameters":{"content":"## Base de Datos","height":240,"width":420,"color":4},"type":"n8n-nodes-base.stickyNote","position":[1424,1168],"typeVersion":1,"id":"d5a7919b-53ec-40c8-8c0f-35a74ef5f1a9","name":"Sticky Note1"},{"parameters":{"content":"## 🛠️Cerebro/Herramientas\n","height":240,"width":620,"color":6},"type":"n8n-nodes-base.stickyNote","position":[1424,1456],"typeVersion":1,"id":"8b353239-ca4f-496a-b4f8-2f443c3acafc","name":"Sticky Note3"},{"parameters":{"content":"## Resumir\n\n","height":240,"width":300},"type":"n8n-nodes-base.stickyNote","position":[1056,1456],"typeVersion":1,"id":"dc4eae21-960b-476b-b871-2a604546cb18","name":"Sticky Note8"},{"parameters":{"content":"## Agrupar\n","height":240,"width":300},"type":"n8n-nodes-base.stickyNote","position":[704,1456],"typeVersion":1,"id":"28649575-33f4-4ba8-9440-4e3a015b908e","name":"Sticky Note18"},{"parameters":{"content":"## 🚀 Transformadores\n\n","height":620,"width":300,"color":4},"type":"n8n-nodes-base.stickyNote","position":[336,1104],"typeVersion":1,"id":"96b6522e-aaa3-4613-8eaf-29f7eeadd804","name":"Sticky Note19"},{"parameters":{"content":"## Descarga documento Word\n\n\n\n","height":280,"width":720,"color":4},"type":"n8n-nodes-base.stickyNote","position":[336,1792],"typeVersion":1,"id":"ae2160b6-383f-4754-8a97-8bcedc41264e","name":"Sticky Note20"},{"parameters":{"content":"## 📚 Descarga de archivos","height":260},"type":"n8n-nodes-base.stickyNote","position":[-320,1456],"typeVersion":1,"id":"636ee49b-3950-45f4-b01c-7d65731363b7","name":"Sticky Note21"},{"parameters":{"content":"## 🛠️ Switch","height":480,"width":300,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-16,1360],"typeVersion":1,"id":"f869c7c1-41d6-4ba3-a54b-76c3362fd603","name":"Sticky Note22"},{"parameters":{"content":"## 🏁 Trigger Google drive","height":260,"width":220},"type":"n8n-nodes-base.stickyNote","position":[-1136,1456],"typeVersion":1,"id":"aea937c3-d936-49fb-b4da-3a10a4d56e52","name":"Sticky Note9"},{"parameters":{"content":"## 🤯 Filtrador","height":260,"width":150},"type":"n8n-nodes-base.stickyNote","position":[-864,1456],"typeVersion":1,"id":"950c24fe-0e4b-4b0e-80b1-0a59cafe9c73","name":"Sticky Note23"},{"parameters":{"content":"## 🗑️ Eliminar Datos","height":260,"width":250},"type":"n8n-nodes-base.stickyNote","position":[-640,1456],"typeVersion":1,"id":"73838de9-0d80-43a9-b551-5495ddc1f9dc","name":"Sticky Note24"},{"parameters":{"assignments":{"assignments":[{"id":"10646eae-ae46-4327-a4dc-9987c2d76173","name":"file_id","value":"={{ $('File Updated').item.json.id }}","type":"string"},{"id":"f4536df5-d0b1-4392-bf17-b8137fb31a44","name":"file_type","value":"={{ $('File Updated').item.json.mimeType }}","type":"string"}]},"options":{}},"id":"3bc02610-1a33-4fb8-a941-c6d2f49cc941","name":"Datos Relevantes #1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-848,1536]},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Datos Relevantes #1').item.json.file_id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"id":"feaa53dc-a50c-4fd1-9f9a-7dd9240e9efe","name":"Download File #2","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-240,1536],"executeOnce":true,"credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account Bestfranquicias"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.file_type }}","rightValue":"application/pdfapplication/pdf","operator":{"type":"string","operation":"equals"},"id":"78d597d7-d11b-4539-8e0b-d64693ab7a16"}],"combinator":"and"},"renameOutput":true,"outputKey":"PDF"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"fc193b06-363b-4699-a97d-e5a850138b0e","leftValue":"={{ $json.file_type }}","rightValue":"application/vnd.google-apps.document","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"2ae7faa7-a936-4621-a680-60c512163034","leftValue":"={{ $json.file_type }}","rightValue":"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Excel"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"7ddfa924-1c26-4ee3-9890-5c9d2b96717a","leftValue":"={{ $json.file_type }}","rightValue":"application/vnd.openxmlformats-officedocument.wordprocessingml.document","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Docs #1"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"f53caf8b-7a8f-4d1e-98f4-deaf0e0171f0","leftValue":"={{ $json.file_type }}","rightValue":"application/msword","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Docs #2"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"cd9ca627-d00d-4c30-903a-41f603c8e36f","leftValue":"={{ $json.file_type }}","rightValue":"application/vnd.ms-word","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Docs #3"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"9d386a3c-5e5d-4cb0-aae5-2fb95dcad82f","leftValue":"={{ $json.file_type }}","rightValue":"application/mswordapplication/msword","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Docs #3"}]},"options":{"fallbackOutput":"extra","allMatchingOutputs":false}},"id":"8fd79522-0133-4fd6-872d-e3e6ec24a9bb","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-288,384]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.metadata.file_extension }}","rightValue":"application/pdf","operator":{"type":"string","operation":"equals"},"id":"78d597d7-d11b-4539-8e0b-d64693ab7a16"}],"combinator":"and"},"renameOutput":true,"outputKey":"PDF"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"fc193b06-363b-4699-a97d-e5a850138b0e","leftValue":"={{ $json.metadata.file_extension }}","rightValue":"application/vnd.google-apps.document","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"2ae7faa7-a936-4621-a680-60c512163034","leftValue":"={{ $json.metadata.file_extension }}","rightValue":"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Excel"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"7ddfa924-1c26-4ee3-9890-5c9d2b96717a","leftValue":"={{ $json.metadata.file_extension }}","rightValue":"application/vnd.openxmlformats-officedocument.wordprocessingml.document","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Docs #1"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"f53caf8b-7a8f-4d1e-98f4-deaf0e0171f0","leftValue":"={{ $json.metadata.file_extension }}","rightValue":"application/msword","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Docs #2"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"cd9ca627-d00d-4c30-903a-41f603c8e36f","leftValue":"={{ $json.metadata.file_extension }}","rightValue":"application/vnd.ms-word","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Docs #3"}]},"options":{"fallbackOutput":2}},"id":"05ca8c53-1884-4210-adb1-29ec7f1ba92f","name":"Switch #1","type":"n8n-nodes-base.switch","typeVersion":3,"position":[64,1488]},{"parameters":{"operation":"pdf","options":{}},"id":"2c7dbf61-d639-4857-8929-7d38c99c6a34","name":"Extract PDF Text #1","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[432,1184]},{"parameters":{"operation":"text","options":{}},"id":"c1fe5fde-aaa9-49df-af3f-b628f32f8685","name":"Extract from Text File #1","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[432,1344],"alwaysOutputData":true},{"parameters":{"operation":"xlsx","options":{}},"id":"549f294f-7c89-4c4c-a75b-3ba680204078","name":"Extract from Excel #1","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[432,1520]},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Convertir a Doc #1').item.json.id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"application/pdf"}}}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[864,1872],"id":"6eaf2156-1378-4716-8bcc-77ca979669a1","name":"Download file #1","credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account Bestfranquicias"}}},{"parameters":{"operation":"deleteFile","fileId":{"__rl":true,"value":"={{ $('Loop #1').item.json.file_id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[672,1872],"id":"6e10ba0a-c978-4ab4-a9e5-719e12d76b0e","name":"Delete a file #1","credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account Bestfranquicias"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.data || $json.text || $json.concatenated_data }}","options":{"metadata":{"metadataValues":[{"name":"=file_id","value":"={{ $('Datos Relevantes #1').item.json.file_id }}"},{"name":"=version","value":"v1"},{"name":"=creator","value":"={{ $('File Updated').item.json.owners[0].displayName }}"},{"name":"=created_at","value":"={{ $('File Updated').item.json.createdTime }}"},{"name":"last_modified","value":"={{ $('File Updated').item.json.modifiedTime }}"},{"name":"folder_path","value":"projects"},{"name":"file_name","value":"={{ $('File Updated').item.json.name }}"},{"name":"file_extension","value":"={{ $('File Updated').item.json.mimeType }}"}]}}},"id":"abebdffe-69c9-4737-99ca-6583567c1c55","name":"Default Data Loader2","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[1600,1536]},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.1,"position":[1472,1536],"id":"d87d1468-19db-464a-a98c-1a0ab87828e3","name":"Embeddings OpenAI #1","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"id":"d429e24d-6405-462a-9a08-8e16d04d1e12","name":"Supabase Vector Store #1","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[1456,1264],"credentials":{"supabaseApi":{"id":"T3nXrcPYn5GbFuxT","name":"Supabase account"}}},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"id":"b5030ec2-ad8e-4c79-81ee-8fc6d1ada6ec","name":"Supabase Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[1120,160],"credentials":{"supabaseApi":{"id":"T3nXrcPYn5GbFuxT","name":"Supabase account"}}},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"data"}]},"options":{}},"id":"92c548e3-31d9-4c5f-a988-2b3526b99638","name":"Summarize #1","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[1136,1536]},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"7bbb26a2-4cc1-4039-8087-9e5fe3428a06","name":"Aggregate #1","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[800,1536]},{"parameters":{"method":"POST","url":"=https://www.googleapis.com/drive/v3/files/{{ $json.file_id }}/copy","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $json.file_id }}"},{"name":"mimeType","value":"application/vnd.google-apps.document"}]},"options":{}},"id":"3addaf75-32fc-4f8d-9b22-ef6cd15038ae","name":"Convertir a Doc","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[160,768],"credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account Bestfranquicias"}}},{"parameters":{"method":"POST","url":"=https://www.googleapis.com/drive/v3/files/{{ $json.file_id }}/copy","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $json.file_id }}"},{"name":"mimeType","value":"application/vnd.google-apps.document"}]},"options":{}},"id":"f806aaa5-a0e6-4c2f-963c-ea267c47b897","name":"Convertir a Doc #1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[496,1872],"credentials":{"googleDriveOAuth2Api":{"id":"CAK5TxYuevcZFF3W","name":"Google Drive The2tor"}}},{"parameters":{"public":true,"initialMessages":"Hola! Mi nombre es Mario y estoy aquí para atenderte. ¿En que puedo ayudarte?","options":{"loadPreviousSession":"memory"}},"id":"c2883955-732a-461a-8557-41af8da3a33e","name":"Chat Trigger","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[2544,96],"webhookId":"3d55bcd1-1728-4a01-a94a-36aca1f47382"},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"You are a helpful knowledge assistant with access to documents stored in Google Drive and a vector database. You can search through documents to answer questions and also access Google Drive directly to list or retrieve files. Solo ofrece respuestas que tengan que ver con los documentos almacenados en la base de datos y referentes a la compra de un modelo de franquicia de Best House"}},"id":"c4ed24f3-5935-491d-8c5d-ebe7ec428cc5","name":"Knowledge Store Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[3056,96]},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Search through the knowledge base of documents to find relevant information","tableName":{"__rl":true,"mode":"id","value":"documents"},"topK":10,"options":{}},"id":"4755b28a-5106-4031-a9b3-dfc1e89236fc","name":"Supabase Vector Store - Retrieve Tool","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[3152,368],"credentials":{"supabaseApi":{"id":"T3nXrcPYn5GbFuxT","name":"Supabase account"}}},{"parameters":{"options":{}},"id":"b0df5a5a-705e-4d12-869c-47a6197f3cfa","name":"OpenAI Embeddings - Retrieve","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[3232,528],"credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"resource":"fileFolder","filter":{},"options":{}},"id":"6853c6d0-11c8-4179-b86e-21cf00b5df65","name":"Google Drive Tool","type":"n8n-nodes-base.googleDriveTool","typeVersion":3,"position":[3440,320],"credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account Bestfranquicias"}}},{"parameters":{"tableName":"chat_history"},"id":"2405746f-d445-4502-8eac-9f819a04f483","name":"Postgres Chat Memory","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[3024,320],"credentials":{"postgres":{"id":"RJfYPONKqWUiJzDA","name":"Postgres account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[2544,304],"id":"21121e4f-4fcb-428d-b25d-808997206bea","name":"Simple Memory"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[2880,256],"id":"b3f1ba40-77c1-4350-aee1-6a8e4a095b69","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"hrgXqQ9MslXmo2ow","name":"OpenRouter account"}}}],"connections":{"Extract from Excel":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Extract PDF Text":{"main":[[{"node":"Supabase Vector Store","type":"main","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0},{"node":"Supabase Vector Store - Retrieve Tool","type":"ai_embedding","index":0}]]},"File Created":{"main":[[{"node":"Datos Relevantes","type":"main","index":0}]]},"Extract from Text File":{"main":[[{"node":"Supabase Vector Store","type":"main","index":0}]]},"File Updated":{"main":[[{"node":"Datos Relevantes #1","type":"main","index":0}]]},"Delete Old Doc Rows":{"main":[[{"node":"Download File #2","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Supabase Vector Store","type":"ai_document","index":0}]]},"Datos Relevantes":{"main":[[{"node":"Download File #1","type":"main","index":0}]]},"Download File #1":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Download file":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Delete a file":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Summarize":{"main":[[{"node":"Supabase Vector Store","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Summarize","type":"main","index":0}]]},"Recursive Character Text Splitter1":{"ai_textSplitter":[[{"node":"Default Data Loader2","type":"ai_textSplitter","index":0}]]},"Datos Relevantes #1":{"main":[[{"node":"Delete Old Doc Rows","type":"main","index":0}]]},"Download File #2":{"main":[[{"node":"Switch #1","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Extract PDF Text","type":"main","index":0}],[{"node":"Extract from Text File","type":"main","index":0}],[{"node":"Extract from Excel","type":"main","index":0}],[{"node":"Convertir a Doc","type":"main","index":0}],[{"node":"Convertir a Doc","type":"main","index":0}],[{"node":"Convertir a Doc","type":"main","index":0}],[{"node":"Convertir a Doc","type":"main","index":0}]]},"Switch #1":{"main":[[{"node":"Extract PDF Text #1","type":"main","index":0}],[{"node":"Extract from Text File #1","type":"main","index":0}],[{"node":"Extract from Excel #1","type":"main","index":0}],[{"node":"Convertir a Doc #1","type":"main","index":0}],[{"node":"Convertir a Doc #1","type":"main","index":0}],[{"node":"Convertir a Doc #1","type":"main","index":0}]]},"Extract PDF Text #1":{"main":[[{"node":"Supabase Vector Store #1","type":"main","index":0}]]},"Extract from Text File #1":{"main":[[{"node":"Supabase Vector Store #1","type":"main","index":0}]]},"Extract from Excel #1":{"main":[[{"node":"Aggregate #1","type":"main","index":0}]]},"Download file #1":{"main":[[{"node":"Switch #1","type":"main","index":0}]]},"Delete a file #1":{"main":[[{"node":"Download file #1","type":"main","index":0}]]},"Default Data Loader2":{"ai_document":[[{"node":"Supabase Vector Store #1","type":"ai_document","index":0}]]},"Embeddings OpenAI #1":{"ai_embedding":[[{"node":"Supabase Vector Store #1","type":"ai_embedding","index":0}]]},"Summarize #1":{"main":[[{"node":"Supabase Vector Store #1","type":"main","index":0}]]},"Aggregate #1":{"main":[[{"node":"Summarize #1","type":"main","index":0}]]},"Convertir a Doc":{"main":[[{"node":"Delete a file","type":"main","index":0}]]},"Convertir a Doc #1":{"main":[[{"node":"Delete a file #1","type":"main","index":0}]]},"Chat Trigger":{"main":[[{"node":"Knowledge Store Agent","type":"main","index":0}]]},"Supabase Vector Store - Retrieve Tool":{"ai_tool":[[{"node":"Knowledge Store Agent","type":"ai_tool","index":0}]]},"Google Drive Tool":{"ai_tool":[[{"node":"Knowledge Store Agent","type":"ai_tool","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"Knowledge Store Agent","type":"ai_memory","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Chat Trigger","type":"ai_memory","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Knowledge Store Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"51918c60-f43c-4ee6-a8c3-5817803995cd","triggerCount":0,"shared":[{"updatedAt":"2025-10-22T11:51:07.007Z","createdAt":"2025-10-22T11:51:07.007Z","role":"workflow:owner","workflowId":"OxMA2CaMX0NtoD5G","projectId":"prlZ3bTXg0wKi0D1"}],"tags":[{"updatedAt":"2025-10-20T22:57:37.550Z","createdAt":"2025-10-20T22:57:37.550Z","id":"u5vC3fFDbXlYWlYn","name":"Pau Berenguer"}]}