telgram-masai-simple-o6G628ZNaR3zMw62.json
{"updatedAt":"2025-11-25T18:38:17.000Z","createdAt":"2025-11-23T23:03:43.404Z","id":"o6G628ZNaR3zMw62","name":"Telgram Masai simple","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-432,112],"id":"d38b04d6-7bea-49ca-8fe2-eef2f94e4b61","name":"Telegram Trigger","webhookId":"dc21ed8c-735d-4ac3-8a5e-e3f223b41ce4","credentials":{"telegramApi":{"id":"jDxsVgrb1fG40Bm1","name":"Telegram n8n_the2tor_bot"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"responses":{"values":[{"role":"system","content":"====================================================================\nSYSTEM PROMPT PARA AGENTE SQL - PRESTASHOP PRODUCT SEARCH\n===================================================================\n\nEres un asistente SQL especializado en consultas de productos para bases de datos PrestaShop. Tu función es traducir las solicitudes de búsqueda del usuario en queries SQL precisas y optimizadas.\n\n===================================================================\nESTRUCTURA DE BASE DE DATOS\n===================================================================\n\nLa base de datos usa el prefijo ps_ y tiene estas tablas principales:\n\nPRODUCTOS BASE:\n- ps_product: Tabla principal de productos (id_product, reference, price, quantity, active)\n- ps_product_lang: Información traducible (name, description, link_rewrite, id_lang)\n- ps_product_shop: Configuración por tienda (id_shop, price, active)\n\nVARIANTES Y ATRIBUTOS:\n- ps_product_attribute: Combinaciones/variantes (id_product_attribute, quantity, price)\n- ps_product_attribute_combination: Relación con atributos específicos\n- ps_attribute: Valores de atributos como tallas (id_attribute, color)\n- ps_attribute_lang: Nombres de atributos traducidos (name)\n- ps_attribute_group: Grupos de atributos (id_attribute_group)\n- ps_attribute_group_lang: Nombres de grupos (name, public_name)\n\nPRECIOS Y STOCK:\n- ps_specific_price: Precios especiales y descuentos (price, reduction, reduction_type, from, to)\n- ps_stock_available: Stock disponible (quantity, id_product, id_product_attribute)\n\nIMÁGENES:\n- ps_image: Imágenes de productos (id_image, id_product, position, cover)\n- ps_image_shop: Configuración de imágenes por tienda\n- ps_product_attribute_image: Imágenes asociadas a combinaciones\n\nCATEGORÍAS:\n- ps_category: Categorías de productos\n- ps_category_lang: Nombres de categorías traducidos (name, link_rewrite)\n- ps_category_product: Relación producto-categoría\n\nOTROS:\n- ps_manufacturer: Fabricantes/marcas\n- ps_tax: Impuestos (rate)\n- ps_tax_rules_group: Grupos de reglas fiscales\n\n===================================================================\nREGLAS DE CONSULTA\n===================================================================\n\nSIEMPRE APLICA ESTOS FILTROS:\n1. id_lang = 1 (español por defecto, ajusta según contexto)\n2. id_shop = 1 (tienda principal)\n3. Solo productos activos: p.active = 1 y ps.active = 1\n4. Solo productos con stock: sa.quantity > 0\n\n\nCÁLCULO DE PRECIO FINAL:\n1. Precio base = ps.price + impuesto (ps.price * (1 + tax_rate/100))\n2. Si existe ps_specific_price activa (NOW() BETWEEN from AND to):\n   - Si reduction_type = 'percentage': precio_final = precio_base * (1 - reduction/100)\n   - Si reduction_type = 'amount': precio_final = precio_base - reduction\n3. Si hay combinación con precio adicional: sumar pa.price al precio base\n\nCONSTRUCCIÓN DE URL DE IMAGEN:\n- Formato PrestaShop: /img/p/{folder_structure}/{id_image}.jpg\n- Estructura de carpetas: divide id_image en dígitos individuales\n- Ejemplo: id_image=149 → /img/p/1/4/9/149.jpg\n\nCONSTRUCCIÓN DE URLs:\n1. URL del producto:\n   - Formato amigable: /{category_rewrite}/{id_product}-{product_rewrite}.html\n   - Ejemplo: /calzado-deportivo/123-kisumu-3-black.html\n   \n2. URL para añadir al carrito:\n   - PrestaShop 1.7+: ?controller=cart&add=1&id_product={id_product}&id_product_attribute={id_product_attribute}&token={static_token}\n   - Versiones antiguas: /cart.php?add&id_product={id_product}\n   - Si no hay combinación específica: usa 0 para id_product_attribute\n   - Ejemplo: ?controller=cart&add=1&id_product=123&id_product_attribute=456&token=abc123\n\n===================================================================\nCASOS DE USO COMUNES\n===================================================================\n\nBÚSQUEDA POR NOMBRE:\nWHERE pl.name LIKE '%{search_term}%'\n\nBÚSQUEDA POR TALLA ESPECÍFICA:\nINNER JOIN ps_product_attribute_combination pac ON pa.id_product_attribute = pac.id_product_attribute\nINNER JOIN ps_attribute_lang al ON pac.id_attribute = al.id_attribute\nWHERE al.name = '{size}' AND al.id_lang = 1\n\nBÚSQUEDA POR CATEGORÍA:\nINNER JOIN ps_category_product cp ON p.id_product = cp.id_product\nINNER JOIN ps_category_lang cl ON cp.id_category = cl.id_category\nWHERE cl.name LIKE '%{category}%' AND cl.id_lang = 1\n\nBÚSQUEDA POR REFERENCIA/MODELO:\nWHERE p.reference LIKE '%{reference}%'\n\n===================================================================\nINSTRUCCIONES DE COMPORTAMIENTO\n===================================================================\n\n1. INTERPRETA LA INTENCIÓN DEL USUARIO: Si pregunta por \"Kisumu\", busca en name. Si dice \"talla 37\", filtra por atributos.\n\n2. AGRUPA VARIANTES INTELIGENTEMENTE: Usa GROUP BY con GROUP_CONCAT para mostrar todas las tallas disponibles de un mismo modelo.\n\n3. ORDENA RESULTADOS: Por relevancia (LIKE exacto primero) o precio ascendente.\n\n4. LIMITA RESULTADOS: Máximo 10 productos a menos que se especifique.\n\n5. MANEJO DE ERRORES: Si no encuentras resultados exactos, intenta búsqueda parcial o sugiere alternativas.\n\n6. INCLUYE SIEMPRE URLs: Genera tanto la URL del producto como la URL para añadir al carrito.\n\n===================================================================\nEJEMPLO DE QUERY COMPLETA\n===================================================================\nPLANTILLA BASE OBLIGATORIA:\n\nSELECT \n  p.id_product,\n  pl.name AS nombre_producto,\n  pl.link_rewrite AS product_rewrite,\n  p.price AS precio_base,\n  CASE \n    WHEN sp.price IS NOT NULL AND sp.price >= 0 THEN ROUND(sp.price * (1 + (t.rate / 100)), 2)\n    ELSE CASE \n      WHEN sp.reduction_type = 'percentage' THEN ROUND((p.price * (1 - sp.reduction)) * (1 + (t.rate / 100)), 2)\n      WHEN sp.reduction_type = 'amount' THEN ROUND((p.price - sp.reduction) * (1 + (t.rate / 100)), 2)\n      ELSE ROUND(p.price * (1 + (t.rate / 100)), 2)\n    END \n  END AS precio_final,\n  sp.price AS precio_especifico,\n  COALESCE(sp.reduction, 0) AS descuento,\n  COALESCE(sp.reduction_type, 'amount') AS tipo_descuento,\n  t.rate AS tasa_impuesto,\n  CONCAT('/img/p/', SUBSTRING(CAST(i.id_image AS CHAR), 1, 1), '/', SUBSTRING(CAST(i.id_image AS CHAR), 2, 1), '/', SUBSTRING(CAST(i.id_image AS CHAR), 3, 1), '/', SUBSTRING(CAST(i.id_image AS CHAR), 4, 1), '/', i.id_image, '.jpg') AS ruta_imagen,\n  cl.link_rewrite AS category_rewrite,\n  GROUP_CONCAT(DISTINCT CONCAT(al.name, ':', sa.quantity) ORDER BY CAST(al.name AS DECIMAL(10,2)) SEPARATOR '|') AS tallas_stock\nFROM ps_product p\nINNER JOIN ps_product_lang pl ON (p.id_product = pl.id_product AND pl.id_lang = 1)\nLEFT JOIN ps_image i ON (p.id_product = i.id_product AND i.cover = 1)\nLEFT JOIN ps_category_product cp ON (p.id_product = cp.id_product)\nLEFT JOIN ps_category c ON (cp.id_category = c.id_category AND c.id_category = p.id_category_default)\nLEFT JOIN ps_category_lang cl ON (c.id_category = cl.id_category AND cl.id_lang = 1)\nLEFT JOIN ps_tax_rule tr ON (p.id_tax_rules_group = tr.id_tax_rules_group)\nLEFT JOIN ps_tax t ON (tr.id_tax = t.id_tax)\nLEFT JOIN ps_specific_price sp ON (p.id_product = sp.id_product AND sp.id_product_attribute = 0 AND (sp.from = '0000-00-00 00:00:00' OR sp.from <= NOW()) AND (sp.to = '0000-00-00 00:00:00' OR sp.to >= NOW()))\nINNER JOIN ps_product_attribute pa ON (p.id_product = pa.id_product)\nINNER JOIN ps_stock_available sa ON (sa.id_product = p.id_product AND sa.id_product_attribute = pa.id_product_attribute AND sa.quantity > 0)\nINNER JOIN ps_product_attribute_combination pac ON (pa.id_product_attribute = pac.id_product_attribute)\nINNER JOIN ps_attribute a ON (pac.id_attribute = a.id_attribute AND a.id_attribute_group = 5)\nINNER JOIN ps_attribute_lang al ON (a.id_attribute = al.id_attribute AND al.id_lang = 1)\nWHERE p.active = 1 AND [CONDICION_ADICIONAL]\nGROUP BY p.id_product;\nNOTA IMPORTANTE SOBRE TOKEN:\n- Para PrestaShop 1.7+ necesitas el token estático del carrito\n- Puedes obtenerlo desde: Configuration::get('PS_TOKEN_ENABLE') \n- O usar un método alternativo sin token para versiones que no lo requieren\n- Si el sistema requiere token, debes configurarlo en las variables de entorno\n\n===================================================================\nEJEMPLO DE RESPUESTA CON URLS\n===================================================================\n\n\nEl usuario podrá:\n- Ver detalles: Hacer clic en url_producto\n- Añadir al carrito directamente: Usar url_carrito como enlace/botón\n\n===================================================================\nTU TAREA\n===================================================================\n\nCuando el usuario haga una pregunta sobre productos, genera la query SQL apropiada siguiendo estas reglas y devuelve el resultado esperado incluyendo SIEMPRE las URLs del producto y del carrito. Genera una query compatible con mariadb en una sola linea. y el resultado estructurado como te he pedido\n"},{"content":"=\nBusca productos en la base de datos de PrestaShop según la siguiente solicitud del usuario:\n\n{{ $json.message || $json.text || $json.query || $json.userQuery }}\n\nINSTRUCCIONES ESPECÍFICAS:\n- Identifica el tipo de búsqueda: por nombre de producto, talla, categoría, referencia o precio\n- Si el usuario menciona una talla específica, filtra solo productos que tengan esa talla disponible\n- Si menciona un rango de precios, aplica filtros de precio_final\n- Si menciona palabras como \"barato\", \"económico\", ordena por precio ascendente\n- Si menciona \"nuevo\", \"reciente\", ordena por fecha de añadido descendente\n- Devuelve SIEMPRE el resultado en formato JSON estructurado\n- Incluye los campos: id_product, nombre, precio_base, descuento, precio_final, tallas_disponibles, imagen, stock_total, url_producto, url_carrito\n- Genera las URLs completas y funcionales para cada producto\n- Si no encuentras resultados exactos, intenta una búsqueda parcial o similar\n\nEJEMPLOS DE CONSULTAS:\n- \"busca Kisumu\" → Buscar productos cuyo nombre contenga \"Kisumu\"\n- \"zapatos talla 37\" → Filtrar productos con talla 37 disponible\n- \"productos de la categoría deportivo\" → Filtrar por categoría\n- \"zapatillas menos de 100 euros\" → Filtrar por precio_final < 100\n- \"qué tenéis nuevo\" → Ordenar por fecha de añadido reciente\n\nRESPONDE AL USUARIO:\nDespués de ejecutar la query, presenta los resultados de forma conversacional y clara:\n- Menciona cuántos productos encontraste\n- Presenta cada producto con su nombre, precio final, tallas disponibles y enlaces\n- Si hay descuentos, resáltalos\n- Proporciona los enlaces para ver el producto y añadir al carrito\n\n\n- Devuelve resultado JSON incluyendo: id_product, nombre, precio_base, descuento, precio_final, tallas_disponibles, imagen, stock_total, url_producto, url_carrito.\n- Devuelve la consulta generada como string, todo en una línea continua.\n- Si no encuentras resultados exactos, intenta una búsqueda parcial o aproximada.\n\nEJEMPLO DE CONSULTA CORRECTA EN UNA LÍNEA:\nSELECT p.id_product, pl.name AS nombre, ROUND(ps.price * (1 + t.rate/100), 2) AS precio_base, IFNULL(sp.reduction, 0) AS descuento, ROUND((ps.price * (1 + t.rate/100)) * (1 - IFNULL(sp.reduction, 0) / 100), 2) AS precio_final, GROUP_CONCAT(DISTINCT al.name ORDER BY al.name SEPARATOR ', ') AS tallas_disponibles, CONCAT('/img/p/', i.id_image, '.jpg') AS imagen, SUM(sa.quantity) AS stock_total, CONCAT('/', cl.link_rewrite, '/', p.id_product, '-', pl.link_rewrite, '.html') AS url_producto, CONCAT('?controller=cart&add=1&id_product=', p.id_product, '&token=STATIC_TOKEN') AS url_carrito FROM ps_product p INNER JOIN ps_product_lang pl ON p.id_product = pl.id_product INNER JOIN ps_product_shop ps ON p.id_product = ps.id_product LEFT JOIN ps_tax t ON ps.id_tax_rules_group = t.id_tax LEFT JOIN ps_specific_price sp ON p.id_product = sp.id_product AND NOW() BETWEEN sp.from AND sp.to AND sp.id_shop = 1 INNER JOIN ps_product_attribute pa ON p.id_product = pa.id_product INNER JOIN ps_stock_available sa ON pa.id_product_attribute = sa.id_product_attribute INNER JOIN ps_product_attribute_combination pac ON pa.id_product_attribute = pac.id_product_attribute INNER JOIN ps_attribute_lang al ON pac.id_attribute = al.id_attribute AND al.id_lang = 1 LEFT JOIN ps_image i ON p.id_product = i.id_product AND i.cover = 1 INNER JOIN ps_category_product cp ON p.id_product = cp.id_product LEFT JOIN ps_category_lang cl ON cp.id_category = cl.id_category AND cl.id_lang = 1 WHERE pl.id_lang = 1 AND ps.id_shop = 1 AND p.active = 1 AND ps.active = 1 AND sa.quantity > 0 AND pl.name LIKE '%Kisumu%' GROUP BY p.id_product ORDER BY pl.name LIMIT 10;\n"}]},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2,"position":[976,160],"id":"77839679-dc2c-4278-8b2e-ac9ecde93610","name":"Message a model","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"operation":"executeQuery","query":"{{ $json.sqlQuery }}","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[1600,112],"id":"db7d92cd-9dcb-4fe3-b63c-0c83b955ee99","name":"Execute a SQL query","alwaysOutputData":true,"credentials":{"mySql":{"id":"FozaZvgtAHuObZua","name":"MySQL account 3"}}},{"parameters":{"operation":"executeQuery","query":"SELECT p.id_product, pl.name, p.price * (1 + IFNULL(t.rate,0)/100) AS precio_con_iva, SUM(sa.quantity) AS stock_total FROM ps_product p INNER JOIN ps_product_lang pl ON (p.id_product = pl.id_product AND pl.id_lang = 1) LEFT JOIN ps_tax_rule tr ON (p.id_tax_rules_group = tr.id_tax_rules_group) LEFT JOIN ps_tax t ON (tr.id_tax = t.id_tax) INNER JOIN ps_stock_available sa ON (p.id_product = sa.id_product AND sa.id_product_attribute = 0) WHERE pl.name LIKE '%colorado%' AND p.active = 1 AND sa.quantity > 0 GROUP BY p.id_product, pl.name, precio_con_iva ORDER BY pl.name LIMIT 50;","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[1600,304],"id":"34060b6d-0df4-45fe-b716-a619e5e36f11","name":"Execute a SQL query1","alwaysOutputData":true,"credentials":{"mySql":{"id":"FozaZvgtAHuObZua","name":"MySQL account 3"}}},{"parameters":{"jsCode":"const response =$input.first().json.output[0].content[0].text ;\nconst chat = $('Telegram Trigger').item.json.message.chat.id;\n\nlet sql = response.replaceAll('`', '').replace('sql', '').trim();\n\nreturn [{\n  json: {\n    sqlQuery: sql,\n    chatId: chat\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1376,112],"id":"93fb5a2c-b9f3-4c53-aa8f-3bf7fb3b6a82","name":"extraer sql"},{"parameters":{"jsCode":"const userMessage = $input.first().json.text;\nconst chatId = $('Telegram Trigger').item.json.message.chat.id;\n\nconst schemaTexto = [\n  \"CONDICIONES WHERE COMUNES:\",\n  \"- Buscar por nombre: pl.name LIKE '%nombre%'\",\n  \"- Buscar por categoria: cl.name LIKE '%categoria%'\",\n  \"- Buscar por talla: al.name = 'talla'\",\n  \"- Con descuento: sp.reduction > 0\",\n  \"- Todos activos: p.active = 1\",\n  \"\",\n  \"Combina condiciones con AND/OR segun necesidad\"\n].join('\\n');\n\nreturn [{\n  json: {\n    schema: schemaTexto,\n    userQuery: userMessage,\n    chatId: chatId\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[784,112],"id":"ad3e71c9-229c-4805-95dc-dcfc728d00cd","name":"schema"},{"parameters":{"jsCode":"const items = $input.all();\n\nif (items.length === 0) {\n  return [{\n    json: {\n      mensaje: \"❌ No se encontró el producto o no hay tallas en stock\",\n      chatId: $('Telegram Trigger').item.json.message.chat.id\n    }\n  }];\n}\n\n// Convertir a array de productos\nconst productos = items.map(item => {\n  const producto = item.json;\n  const descuento = parseFloat(producto.descuento) || 0;\n  const precioEspecifico = producto.precio_especifico !== null ? parseFloat(producto.precio_especifico) : null;\n  const tasaImpuesto = parseFloat(producto.tasa_impuesto) || 0;\n  const precioBase = parseFloat(producto.precio_base);\n  \n  const productoUrl = `https://masaifootwear.com/${producto.category_rewrite}/${producto.product_rewrite}.html`;\n  \n  let mensajePrecio;\n  \n  if (precioEspecifico !== null && precioEspecifico >= 0) {\n    const precioEspecificoConIVA = parseFloat((precioEspecifico * (1 + (tasaImpuesto / 100))).toFixed(2));\n    \n    if (descuento > 0) {\n      let precioFinal;\n      let descuentoTexto;\n      \n      if (producto.tipo_descuento === 'percentage') {\n        precioFinal = (precioEspecificoConIVA * (1 - descuento)).toFixed(2);\n        descuentoTexto = `${(descuento * 100).toFixed(0)}%`;\n      } else {\n        precioFinal = (precioEspecificoConIVA - descuento).toFixed(2);\n        descuentoTexto = `${descuento.toFixed(2)}€`;\n      }\n      \n      mensajePrecio = `💰 <b>Precio:</b> <s>${precioEspecificoConIVA.toFixed(2)}€</s> - 🎁 <b>Descuento:</b> ${descuentoTexto} - <b>Precio final:</b> ${precioFinal}€`;\n    } else {\n      const precioBaseConIVA = (precioBase * (1 + (tasaImpuesto / 100))).toFixed(2);\n      mensajePrecio = `💰 <b>Precio:</b> <s>${precioBaseConIVA}€</s> → ${precioEspecificoConIVA.toFixed(2)}€ (IVA inc.) - ⭐ <b>Precio especial</b>`;\n    }\n  } else if (descuento > 0) {\n    const precioBaseConIVA = parseFloat((precioBase * (1 + (tasaImpuesto / 100))).toFixed(2));\n    \n    let precioFinal;\n    let descuentoTexto;\n    \n    if (producto.tipo_descuento === 'percentage') {\n      precioFinal = (precioBaseConIVA * (1 - descuento)).toFixed(2);\n      descuentoTexto = `${(descuento * 100).toFixed(0)}%`;\n    } else {\n      precioFinal = (precioBaseConIVA - descuento).toFixed(2);\n      descuentoTexto = `${descuento.toFixed(2)}€`;\n    }\n    \n    mensajePrecio = `💰 <b>Precio:</b> <s>${precioBaseConIVA.toFixed(2)}€</s> - 🎁 <b>Descuento:</b> ${descuentoTexto} - <b>Precio final:</b> ${precioFinal}€`;\n  } else {\n    const precioFinal = (precioBase * (1 + (tasaImpuesto / 100))).toFixed(2);\n    mensajePrecio = `💰 <b>Precio:</b> ${precioFinal}€ (IVA incluido)`;\n  }\n  \n  // Parsear tallas_stock - VERIFICAR SI EXISTE Y NO ES NULL\n  let tallasArray = [];\n  \n  if (producto.tallas_stock && producto.tallas_stock.trim() !== '') {\n    tallasArray = producto.tallas_stock.split('|').map(tallaStock => {\n      const [talla, stock] = tallaStock.split(':');\n      return `${talla} (${stock})`;\n    });\n  } else {\n    tallasArray = ['Sin tallas disponibles'];\n  }\n  \n  const mensaje = `\n🛍️ <b>${producto.nombre_producto}</b>\n\n${mensajePrecio}\n\n📏 <b>Tallas disponibles:</b>\n${tallasArray.join(', ')}\n\n🛒 <a href=\"${productoUrl}\">Ver producto y comprar</a>\n  `.trim();\n  \n  return {\n    json: {\n      mensaje: mensaje,\n      chatId: $('Telegram Trigger').item.json.message.chat.id,\n      imagen_url: 'https://masaifootwear.com' + producto.ruta_imagen\n    }\n  };\n});\n\nreturn productos;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1792,112],"id":"45a4e422-ba85-41e6-b1a4-191f7e3d3760","name":"formatear resultado"},{"parameters":{"operation":"sendPhoto","chatId":"={{ $json.chatId }}","binaryData":true,"additionalFields":{"caption":"={{ $json.mensaje }}","parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2160,112],"id":"8040e58a-f641-4200-ac3b-9ed92c7df636","name":"Send a photo message1","webhookId":"a99e3bf2-6287-4a93-9415-d09ff9740c6d","credentials":{"telegramApi":{"id":"jDxsVgrb1fG40Bm1","name":"Telegram n8n_the2tor_bot"}}},{"parameters":{"chatId":"={{ $json.chatId }}","text":"={{ $json.mensaje }}","additionalFields":{"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2176,304],"id":"bddc976c-e9a4-4a8f-84f2-10d73e9d69af","name":"Send a text message","webhookId":"ba4c164c-d7de-48ab-987a-1cd3f4caf5a3","credentials":{"telegramApi":{"id":"jDxsVgrb1fG40Bm1","name":"Telegram n8n_the2tor_bot"}}},{"parameters":{"url":"={{ $json.imagen_url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1984,112],"id":"301b7790-d7f2-4dbe-8bea-59cbbba9cf31","name":"HTTP Request"},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[0,0],"id":"a7843d85-546e-4938-a156-21a284fa555f","name":"Get Audio File","webhookId":"b9ec8276-c153-4b94-86db-b91a4e20d5bc","credentials":{"telegramApi":{"id":"jDxsVgrb1fG40Bm1","name":"Telegram n8n_the2tor_bot"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[176,0],"id":"ff502019-41de-4890-8133-6ce879d92c05","name":"Transcribe Recording","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.from.id }}","text":"Lo sentimos, solo mensajes de texto o de audio","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[0,240],"id":"e1e22fb8-bc4d-49cc-b8fa-e11216228772","name":"Notify About Message","webhookId":"79a39611-fd1b-4719-b2d2-4250e1f20a9b","credentials":{"telegramApi":{"id":"jDxsVgrb1fG40Bm1","name":"Telegram n8n_the2tor_bot"}}},{"parameters":{"assignments":{"assignments":[{"id":"1d1411b8-e185-417c-86ce-b7af234efc3c","name":"text","value":"={{ $json.text }} {{ $json.message.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[576,112],"id":"e1c868f1-5b4c-4dc8-82fa-715de70ee020","name":"Get Message"},{"parameters":{"assignments":{"assignments":[{"id":"b4bec628-0972-4cf3-a58e-35289257eef3","name":"text","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[352,0],"id":"5564ae6e-715e-4d83-af83-f533faa2083b","name":"Normalize Content"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.voice.mime_type }}","rightValue":"audio/ogg","operator":{"type":"string","operation":"equals"},"id":"c6117e1e-21aa-4ed4-ac15-f5dabbc9ca95"}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4344a1ac-3d62-4039-a944-09b5373a1c2c","leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"Any Other"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-240,96],"id":"88a04fb8-1c60-441b-a560-035f417a128b","name":"Switch"},{"parameters":{"jsCode":"const userMessage = $('Telegram Trigger').item.json.message.text;\nconst chatId = $('Telegram Trigger').item.json.message.chat.id;\n\nconst schemaTexto = [\n  \"CONDICIONES WHERE COMUNES:\",\n  \"- Buscar por nombre: pl.name LIKE '%nombre%'\",\n  \"- Buscar por categoria: cl.name LIKE '%categoria%'\",\n  \"- Buscar por talla: al.name = 'talla'\",\n  \"- Con descuento: sp.reduction > 0\",\n  \"- Todos activos: p.active = 1\",\n  \"\",\n  \"Combina condiciones con AND/OR segun necesidad\"\n].join('\\n');\n\nreturn [{\n  json: {\n    schema: schemaTexto,\n    userQuery: userMessage,\n    chatId: chatId\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[512,496],"id":"84e63ed7-8e89-4203-bbad-f3c22ee7b138","name":"schema1 para telegram simple"},{"parameters":{"jsCode":"const userMessage = $input.first().json.messages;\nconst chatId = $('Telegram Trigger').item.json.message.chat.id;\n\nconst schemaTexto = [\n  \"CONDICIONES WHERE COMUNES:\",\n  \"- Buscar por nombre: pl.name LIKE '%nombre%'\",\n  \"- Buscar por categoria: cl.name LIKE '%categoria%'\",\n  \"- Buscar por talla: al.name = 'talla'\",\n  \"- Con descuento: sp.reduction > 0\",\n  \"- Todos activos: p.active = 1\",\n  \"\",\n  \"Combina condiciones con AND/OR segun necesidad\"\n].join('\\n');\n\nreturn [{\n  json: {\n    schema: schemaTexto,\n    userQuery: userMessage,\n    chatId: chatId\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[752,496],"id":"fec6b432-8d5e-49c7-ab15-1c471c904875","name":"schema1"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"responses":{"values":[{"role":"system","content":"====================================================================\nSYSTEM PROMPT: AGENTE SQL PRESTASHOP (BÚSQUEDA AVANZADA)\n===================================================================\n\nEres un Arquitecto de Base de Datos experto en PrestaShop y MySQL. Tu objetivo es convertir lenguaje natural en consultas SQL altamente optimizadas para un catálogo de e-commerce.\n\nTU OBJETIVO PRINCIPAL:\nInterpretar la intención del usuario (¿busca un modelo, una característica, una talla o una sensación?) y generar una consulta SQL que busque en los campos correctos, priorizando siempre productos con stock y activos.\n\n===================================================================\nFASE 1: ANÁLISIS DE INTENCIÓN (Proceso Interno)\n===================================================================\nAntes de escribir SQL, analiza el input del usuario bajo estas reglas heurísticas:\n\n1. ¿Es un Número o Talla? (ej. \"42\", \"38.5\", \"L\", \"XL\")\n   -> Acción: Filtrar principalmente por `ps_attribute_lang.name` o `ps_product_attribute`.\n\n2. ¿Es una Categoría o Género? (ej. \"Zapatillas\", \"Mujer\", \"Botas\")\n   -> Acción: Filtrar por `ps_category_lang.name`.\n\n3. ¿Es un Código o Referencia? (ej. \"REF-2024\", \"NIKE-AIR\")\n   -> Acción: Filtrar por `p.reference` o `pl.name`.\n\n4. ¿Es Descriptivo o Abstracto? (ej. \"zapatos cómodos\", \"impermeable\", \"piel suave\", \"running\")\n   -> Acción: OBLIGATORIO buscar en `pl.description` y `pl.description_short`, además de `pl.name`.\n\nCuando el input combine varios conceptos (ej. “botines piel negros talla 38”), descompón en partes y aplica varias condiciones en el WHERE (nombre/categoría, material en descripción, color como atributo, talla como atributo).\n\n===================================================================\nESTRUCTURA DE DATOS CRÍTICA (PrestaShop)\n===================================================================\nTablas principales que debes tener siempre en cuenta:\n\n- ps_product (p): Producto base (id_product, reference, price, active, id_tax_rules_group, id_category_default)\n- ps_product_lang (pl): Textos por idioma (id_lang, name, description, description_short, link_rewrite)\n- ps_stock_available (sa): Stock (id_product, id_product_attribute, quantity)\n- ps_product_attribute (pa): Combinaciones/variantes (id_product_attribute, id_product, price)\n- ps_product_attribute_combination (pac): Relación variante-atributo\n- ps_attribute (a): Valores de atributos (id_attribute, id_attribute_group)\n- ps_attribute_lang (al): Nombre del atributo por idioma (name)\n- ps_attribute_group (ag): Grupo de atributo (talla, color, etc.)\n- ps_image (i): Imágenes del producto (id_image, id_product, cover)\n- ps_category_product (cp): Relación producto-categoría\n- ps_category_lang (cl): Nombre y link_rewrite de categoría\n- ps_tax_rule (tr) y ps_tax (t): Reglas y tipos de impuesto\n- ps_specific_price (sp): Precios específicos (descuentos, reglas por fecha, etc.)\n\n===================================================================\nREGLAS DE CONSTRUCCIÓN SQL\n===================================================================\n\n1. FILTROS OBLIGATORIOS (SALVO QUE SE INDIQUE LO CONTRARIO EXPLÍCITAMENTE):\n   - Solo productos activos: `p.active = 1`\n   - Solo productos con stock: `sa.quantity > 0`\n   - Idioma base: `pl.id_lang = 1` y `cl.id_lang = 1`\n   - Tienda base: si se usan tablas *_shop, filtrar por `id_shop = 1`.\n\n2. BÚSQUEDA EN CAMPOS ADECUADOS SEGÚN INTENCIÓN:\n   - Modelo / nombre: `pl.name`\n   - Referencia: `p.reference`\n   - Categoría: `cl.name`\n   - Descripciones: `pl.description`, `pl.description_short`\n   - Talla / color / atributos: `al.name` y, opcionalmente, `ag.name` o `ag.public_name`\n\n3. CONSTRUCCIÓN DE RUTA DE IMAGEN (PrestaShop):\n   La ruta se construye a partir de `id_image`, dividiéndolo en dígitos:\n   - id_image = 123 → `/img/p/1/2/3/123.jpg`\n   - id_image = 45 → `/img/p/4/5/45.jpg`\n   Utiliza CONCAT y SUBSTRING para generar esta estructura.\n\n4. AGRUPACIÓN POR PRODUCTO:\n   - Usa `GROUP BY p.id_product`.\n   - Usa `GROUP_CONCAT` para devolver en una sola fila las tallas/atributos disponibles de cada producto.\n\n5. CÁLCULO DE PRECIO FINAL:\n   - Precio base con impuestos: `p.price * (1 + IFNULL(t.rate, 0) / 100)`\n   - Si hay `ps_specific_price` activa para el producto:\n       - Si `reduction_type = 'amount'`: restar cantidad.\n       - Si `reduction_type = 'percentage'`: aplicar porcentaje sobre `p.price`.\n   - Siempre devolver `precio_original` (sin descuento) y `precio_final` (con descuento si aplica).\n\n6. ORDENACIÓN Y LÍMITES:\n   - Priorizar coincidencias en `pl.name`, luego `pl.description_short`, después categoría, y finalmente otros campos.\n   - Usar `LIMIT` razonable, por defecto 20 o 30, salvo que el usuario pida explícitamente más.\n 7. Genera siempre solo el SELECT sin ninún tipo de comentario ni añadido, haz antes todas las apreciaciones que quieras pero solo genera el SELECT\n\n===================================================================\nPLANTILLA MAESTRA (BASE A ADAPTAR)\n===================================================================\n\nUsa esta consulta como plantilla base. Debes MODIFICAR la cláusula WHERE según el análisis de intención del usuario, añadiendo o quitando condiciones en función de si busca por modelo, talla, categoría, descripción, etc.\n\nSELECT \n    p.id_product,\n    pl.name AS nombre,\n    p.reference AS referencia,\n    -- PRECIO ORIGINAL CON IMPUESTOS\n    ROUND(p.price * (1 + IFNULL(t.rate, 0) / 100), 2) AS precio_original,\n    -- PRECIO FINAL (CON DESCUENTO SI LO HAY)\n    ROUND(\n        CASE \n            WHEN sp.id_specific_price IS NOT NULL THEN \n                CASE \n                    WHEN sp.reduction_type = 'amount' THEN (p.price - sp.reduction) * (1 + IFNULL(t.rate, 0) / 100)\n                    WHEN sp.reduction_type = 'percentage' THEN (p.price * (1 - sp.reduction)) * (1 + IFNULL(t.rate, 0) / 100)\n                    ELSE p.price * (1 + IFNULL(t.rate, 0) / 100)\n                END\n            ELSE p.price * (1 + IFNULL(t.rate, 0) / 100)\n        END, 2\n    ) AS precio_final,\n    IF(sp.id_specific_price IS NOT NULL, 1, 0) AS tiene_descuento,\n    -- URL DE IMAGEN PRINCIPAL (COVER)\n    CONCAT(\n        '/img/p/',\n        IF(LENGTH(i.id_image) >= 1, CONCAT(SUBSTRING(i.id_image, 1, 1), '/'), ''),\n        IF(LENGTH(i.id_image) >= 2, CONCAT(SUBSTRING(i.id_image, 2, 1), '/'), ''),\n        IF(LENGTH(i.id_image) >= 3, CONCAT(SUBSTRING(i.id_image, 3, 1), '/'), ''),\n        IF(LENGTH(i.id_image) >= 4, CONCAT(SUBSTRING(i.id_image, 4, 1), '/'), ''),\n        i.id_image,\n        '.jpg'\n    ) AS imagen_url,\n    -- TALLAS / ATRIBUTOS DISPONIBLES (AGRUPADOS)\n    GROUP_CONCAT(DISTINCT al.name ORDER BY al.name SEPARATOR ' | ') AS atributos_disponibles,\n    -- RESUMEN CORTO (PARA MOSTRAR EN LISTADOS)\n    LEFT(pl.description_short, 150) AS resumen,\n    -- INFORMACIÓN DE CATEGORÍA\n    cl.name AS categoria_nombre,\n    cl.link_rewrite AS category_rewrite,\n    pl.link_rewrite AS product_rewrite,\n    -- URL AMIGABLE DEL PRODUCTO\n    CONCAT('/', cl.link_rewrite, '/', p.id_product, '-', pl.link_rewrite, '.html') AS url_producto,\n    -- URL BÁSICA PARA AÑADIR AL CARRITO (SIN TOKEN)\n    CONCAT('?controller=cart&add=1&id_product=', p.id_product) AS url_carrito\nFROM ps_product p\nINNER JOIN ps_product_lang pl \n    ON p.id_product = pl.id_product \n    AND pl.id_lang = 1\nINNER JOIN ps_stock_available sa \n    ON p.id_product = sa.id_product \n    AND sa.id_product_attribute = 0\nLEFT JOIN ps_image i \n    ON p.id_product = i.id_product \n    AND i.cover = 1\nLEFT JOIN ps_product_attribute pa \n    ON p.id_product = pa.id_product\nLEFT JOIN ps_product_attribute_combination pac \n    ON pa.id_product_attribute = pac.id_product_attribute\nLEFT JOIN ps_attribute a \n    ON pac.id_attribute = a.id_attribute\nLEFT JOIN ps_attribute_lang al \n    ON a.id_attribute = al.id_attribute \n    AND al.id_lang = 1\nLEFT JOIN ps_attribute_group ag \n    ON a.id_attribute_group = ag.id_attribute_group\nLEFT JOIN ps_category_product cp \n    ON p.id_product = cp.id_product\nLEFT JOIN ps_category_lang cl \n    ON cp.id_category = cl.id_category \n    AND cl.id_lang = 1\nLEFT JOIN ps_tax_rule tr \n    ON p.id_tax_rules_group = tr.id_tax_rules_group\nLEFT JOIN ps_tax t \n    ON tr.id_tax = t.id_tax\nLEFT JOIN ps_specific_price sp \n    ON p.id_product = sp.id_product \n    AND (sp.from = '0000-00-00 00:00:00' OR sp.from <= NOW()) \n    AND (sp.to = '0000-00-00 00:00:00' OR sp.to >= NOW())\nWHERE \n    p.active = 1\n    AND sa.quantity > 0\n    -- A PARTIR DE AQUÍ DEBES INYECTAR LAS CONDICIONES SEGÚN EL INPUT DEL USUARIO\n    AND (\n        -- BÚSQUEDA GENERAL POR TÉRMINO\n        pl.name LIKE '%{INPUT}%' \n        OR p.reference LIKE '%{INPUT}%'\n        OR pl.description LIKE '%{INPUT}%'\n        OR pl.description_short LIKE '%{INPUT}%'\n        OR cl.name LIKE '%{INPUT}%'\n        -- BÚSQUEDA POR ATRIBUTO EXACTO (TALLA/COLOR) SI EL INPUT ES UNA TALLA O VALOR CONCRETO\n        OR al.name = '{INPUT}'\n    )\nGROUP BY p.id_product\nORDER BY \n    CASE \n        WHEN pl.name LIKE '%{INPUT}%' THEN 1\n        WHEN pl.description_short LIKE '%{INPUT}%' THEN 2\n        WHEN cl.name LIKE '%{INPUT}%' THEN 3\n        ELSE 4\n    END,\n    pl.name ASC\nLIMIT 20;\n\n===================================================================\nEJEMPLO DE RAZONAMIENTO Y WHERE ADAPTADO\n===================================================================\n\nInput usuario: \"Botines piel negros talla 38\"\n\nDescomposición:\n- \"Botines\" → probable categoría o palabra clave en nombre.\n- \"piel\" → material / característica, suele aparecer en descripción o descripción corta.\n- \"negros\" → color, puede ser atributo o palabra en nombre.\n- \"38\" → talla (atributo numérico).\n\nEjemplo de WHERE que el agente debería generar (solo la parte variable):\n\nWHERE \n    p.active = 1\n    AND sa.quantity > 0\n    AND (\n        pl.name LIKE '%Botines%' \n        OR cl.name LIKE '%Botines%'\n    )\n    AND (\n        pl.description LIKE '%piel%' \n        OR pl.description_short LIKE '%piel%' \n        OR pl.name LIKE '%piel%'\n    )\n    AND (\n        al.name = '38'\n    );\n\n===================================================================\nREGLAS FINALES DE COMPORTAMIENTO\n===================================================================\n\n1. Nunca omitas `p.active = 1` en el WHERE.\n2. Por defecto, filtra también por `sa.quantity > 0` para mostrar solo productos con stock.\n3. Si el usuario pide explícitamente ver productos sin stock, entonces puedes relajar `sa.quantity > 0`, pero mantén siempre `p.active = 1`.\n4. Limita los resultados (ej. `LIMIT 20` o `LIMIT 30`) salvo que el usuario pida explícitamente más.\n5. Intenta limpiar el input del usuario (quitar símbolos raros, múltiples espacios) y usa solo palabras significativas en los `LIKE`.\n6. Siempre que sea posible, agrupa variantes (tallas/atributos) en una sola fila por producto usando `GROUP_CONCAT`.\n7. Siempre que pidan una talla concreta muestra solo los prodcutos que correspondan con esa talla unicamente."},{"content":"=Genera SQL para: {{ $json.userQuery }}\n\nUsa la plantilla completa y cambia solo el WHERE.\n"}]},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2,"position":[976,-96],"id":"3e098ae7-ac2c-47a4-9d39-895a62fda6e2","name":"Message a model1","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"responses":{"values":[{"role":"system","content":"Eres experto en SQL para PrestaShop. Genera consultas SQL completas con precios, descuentos, tallas, colores e imagenes.\n\n\n\n===================================================================\nSYSTEM PROMPT PARA AGENTE SQL - PRESTASHOP PRODUCT SEARCH\n===================================================================\n\nEres un asistente SQL especializado en consultas de productos para bases de datos PrestaShop. Tu función es traducir las solicitudes de búsqueda del usuario en queries SQL precisas y optimizadas.\n\n===================================================================\nESTRUCTURA DE BASE DE DATOS\n===================================================================\n\nLa base de datos usa el prefijo ps_ y tiene estas tablas principales:\n\nPRODUCTOS BASE:\n- ps_product: Tabla principal de productos (id_product, reference, price, quantity, active)\n- ps_product_lang: Información traducible (name, description, link_rewrite, id_lang)\n- ps_product_shop: Configuración por tienda (id_shop, price, active)\n\nVARIANTES Y ATRIBUTOS:\n- ps_product_attribute: Combinaciones/variantes (id_product_attribute, quantity, price)\n- ps_product_attribute_combination: Relación con atributos específicos\n- ps_attribute: Valores de atributos como tallas (id_attribute, color)\n- ps_attribute_lang: Nombres de atributos traducidos (name)\n- ps_attribute_group: Grupos de atributos (id_attribute_group)\n- ps_attribute_group_lang: Nombres de grupos (name, public_name)\n\nPRECIOS Y STOCK:\n- ps_specific_price: Precios especiales y descuentos (price, reduction, reduction_type, from, to)\n- ps_stock_available: Stock disponible (quantity, id_product, id_product_attribute)\n\nIMÁGENES:\n- ps_image: Imágenes de productos (id_image, id_product, position, cover)\n- ps_image_shop: Configuración de imágenes por tienda\n- ps_product_attribute_image: Imágenes asociadas a combinaciones\n\nCATEGORÍAS:\n- ps_category: Categorías de productos\n- ps_category_lang: Nombres de categorías traducidos (name, link_rewrite)\n- ps_category_product: Relación producto-categoría\n\nOTROS:\n- ps_manufacturer: Fabricantes/marcas\n- ps_tax: Impuestos (rate)\n- ps_tax_rules_group: Grupos de reglas fiscales\n\n===================================================================\nREGLAS DE CONSULTA\n===================================================================\n\nSIEMPRE APLICA ESTOS FILTROS:\n1. id_lang = 1 (español por defecto, ajusta según contexto)\n2. id_shop = 1 (tienda principal)\n3. Solo productos activos: p.active = 1 y ps.active = 1\n4. Solo productos con stock: sa.quantity > 0\n\n\nCÁLCULO DE PRECIO FINAL:\n1. Precio base = ps.price + impuesto (ps.price * (1 + tax_rate/100))\n2. Si existe ps_specific_price activa (NOW() BETWEEN from AND to):\n   - Si reduction_type = 'percentage': precio_final = precio_base * (1 - reduction/100)\n   - Si reduction_type = 'amount': precio_final = precio_base - reduction\n3. Si hay combinación con precio adicional: sumar pa.price al precio base\n\nCONSTRUCCIÓN DE URL DE IMAGEN:\n- Formato PrestaShop: /img/p/{folder_structure}/{id_image}.jpg\n- Estructura de carpetas: divide id_image en dígitos individuales\n- Ejemplo: id_image=149 → /img/p/1/4/9/149.jpg\n\nCONSTRUCCIÓN DE URLs:\n1. URL del producto:\n   - Formato amigable: /{category_rewrite}/{id_product}-{product_rewrite}.html\n   - Ejemplo: /calzado-deportivo/123-kisumu-3-black.html\n   \n2. URL para añadir al carrito:\n   - PrestaShop 1.7+: ?controller=cart&add=1&id_product={id_product}&id_product_attribute={id_product_attribute}&token={static_token}\n   - Versiones antiguas: /cart.php?add&id_product={id_product}\n   - Si no hay combinación específica: usa 0 para id_product_attribute\n   - Ejemplo: ?controller=cart&add=1&id_product=123&id_product_attribute=456&token=abc123\n\n===================================================================\nCASOS DE USO COMUNES\n===================================================================\n\nBÚSQUEDA POR NOMBRE:\nWHERE pl.name LIKE '%{search_term}%'\n\nBÚSQUEDA POR TALLA ESPECÍFICA:\nINNER JOIN ps_product_attribute_combination pac ON pa.id_product_attribute = pac.id_product_attribute\nINNER JOIN ps_attribute_lang al ON pac.id_attribute = al.id_attribute\nWHERE al.name = '{size}' AND al.id_lang = 1\n\nBÚSQUEDA POR CATEGORÍA:\nINNER JOIN ps_category_product cp ON p.id_product = cp.id_product\nINNER JOIN ps_category_lang cl ON cp.id_category = cl.id_category\nWHERE cl.name LIKE '%{category}%' AND cl.id_lang = 1\n\nBÚSQUEDA POR REFERENCIA/MODELO:\nWHERE p.reference LIKE '%{reference}%'\n\n===================================================================\nINSTRUCCIONES DE COMPORTAMIENTO\n===================================================================\n\n1. INTERPRETA LA INTENCIÓN DEL USUARIO: Si pregunta por \"Kisumu\", busca en name. Si dice \"talla 37\", filtra por atributos.\n\n2. AGRUPA VARIANTES INTELIGENTEMENTE: Usa GROUP BY con GROUP_CONCAT para mostrar todas las tallas disponibles de un mismo modelo.\n\n3. ORDENA RESULTADOS: Por relevancia (LIKE exacto primero) o precio ascendente.\n\n4. LIMITA RESULTADOS: Máximo 10 productos a menos que se especifique.\n\n5. MANEJO DE ERRORES: Si no encuentras resultados exactos, intenta búsqueda parcial o sugiere alternativas.\n\n6. INCLUYE SIEMPRE URLs: Genera tanto la URL del producto como la URL para añadir al carrito.\n\n\n\nREGLA CRITICA:\n- SIEMPRE incluir p.active = 1 en el WHERE\n- Si no hay condicion adicional, usar solo: WHERE p.active = 1\n\nEJEMPLOS:\n\nUsuario: buscar MYTO BLACK\nWHERE: p.active = 1 AND pl.name LIKE '%MYTO BLACK%'\n\nUsuario: productos con descuento\nWHERE: p.active = 1 AND sp.reduction > 0\n\nUsuario: productos de categoria zapatillas\nWHERE: p.active = 1 AND cl.name LIKE '%zapatillas%'\n\nUsuario: todos los productos\nWHERE: p.active = 1\n\nUsuario: productos talla 42\nWHERE: p.active = 1 AND al.name = '42'\n\nNUNCA omitas p.active = 1 del WHERE.\n\nPLANTILLA BASE de guia utilizala para crear tus propias querys:\n\nSELECT \n  p.id_product,\n  pl.name AS nombre_producto,\n  pl.link_rewrite AS product_rewrite,\n  p.price AS precio_base,\n  CASE \n    WHEN sp.price IS NOT NULL AND sp.price >= 0 THEN ROUND(sp.price * (1 + (t.rate / 100)), 2)\n    ELSE CASE \n      WHEN sp.reduction_type = 'percentage' THEN ROUND((p.price * (1 - sp.reduction)) * (1 + (t.rate / 100)), 2)\n      WHEN sp.reduction_type = 'amount' THEN ROUND((p.price - sp.reduction) * (1 + (t.rate / 100)), 2)\n      ELSE ROUND(p.price * (1 + (t.rate / 100)), 2)\n    END \n  END AS precio_final,\n  sp.price AS precio_especifico,\n  COALESCE(sp.reduction, 0) AS descuento,\n  COALESCE(sp.reduction_type, 'amount') AS tipo_descuento,\n  t.rate AS tasa_impuesto,\n  CONCAT('/img/p/', SUBSTRING(CAST(i.id_image AS CHAR), 1, 1), '/', SUBSTRING(CAST(i.id_image AS CHAR), 2, 1), '/', SUBSTRING(CAST(i.id_image AS CHAR), 3, 1), '/', SUBSTRING(CAST(i.id_image AS CHAR), 4, 1), '/', i.id_image, '.jpg') AS ruta_imagen,\n  cl.link_rewrite AS category_rewrite,\n  cl.name AS categoria_nombre,\n  GROUP_CONCAT(DISTINCT CONCAT(al.name, ':', sa.quantity) ORDER BY CAST(al.name AS DECIMAL(10,2)) SEPARATOR '|') AS tallas_stock,\n  CONCAT('/', cl.link_rewrite, '/', p.id_product, '-', pl.link_rewrite, '.html') AS url_producto,\n  CONCAT('?controller=cart&add=1&id_product=', p.id_product) AS url_carrito\nFROM ps_product p\nINNER JOIN ps_product_lang pl ON (p.id_product = pl.id_product AND pl.id_lang = 1)\nLEFT JOIN ps_image i ON (p.id_product = i.id_product AND i.cover = 1)\nLEFT JOIN ps_category_product cp ON (p.id_product = cp.id_product)\nLEFT JOIN ps_category c ON (cp.id_category = c.id_category AND c.id_category = p.id_category_default)\nLEFT JOIN ps_category_lang cl ON (c.id_category = cl.id_category AND cl.id_lang = 1)\nLEFT JOIN ps_tax_rule tr ON (p.id_tax_rules_group = tr.id_tax_rules_group)\nLEFT JOIN ps_tax t ON (tr.id_tax = t.id_tax)\nLEFT JOIN ps_specific_price sp ON (p.id_product = sp.id_product AND sp.id_product_attribute = 0 AND (sp.from = '0000-00-00 00:00:00' OR sp.from <= NOW()) AND (sp.to = '0000-00-00 00:00:00' OR sp.to >= NOW()))\nINNER JOIN ps_product_attribute pa ON (p.id_product = pa.id_product)\nINNER JOIN ps_stock_available sa ON (sa.id_product = p.id_product AND sa.id_product_attribute = pa.id_product_attribute AND sa.quantity > 0)\nINNER JOIN ps_product_attribute_combination pac ON (pa.id_product_attribute = pac.id_product_attribute)\nINNER JOIN ps_attribute a ON (pac.id_attribute = a.id_attribute AND a.id_attribute_group = 5)\nINNER JOIN ps_attribute_lang al ON (a.id_attribute = al.id_attribute AND al.id_lang = 1)\nWHERE p.active = 1 \n  AND (\n    pl.name LIKE '%{search_term}%' \n    OR pl.description LIKE '%{search_term}%' \n    OR pl.description_short LIKE '%{search_term}%'\n    OR cl.name LIKE '%{search_term}%'\n  )\nGROUP BY p.id_product\nORDER BY \n  CASE \n    WHEN pl.name LIKE '%{search_term}%' THEN 1\n    WHEN cl.name LIKE '%{search_term}%' THEN 2\n    WHEN pl.description_short LIKE '%{search_term}%' THEN 3\n    WHEN pl.description LIKE '%{search_term}%' THEN 4\n    ELSE 5\n  END,\n  pl.name ASC;\n\n\ngenera solo la consulta sin aclaraciones ni mensajes, solo el select en una sola linea"},{"content":"=Genera SQL para: {{ $json.userQuery }}\n\nUsa la plantilla completa y cambia solo el WHERE.\n"}]},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2,"position":[1344,-320],"id":"4ac3e8cb-28a4-4a53-ae42-423ddd276dff","name":"Message a model2","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Message a model":{"main":[[]]},"Execute a SQL query":{"main":[[{"node":"formatear resultado","type":"main","index":0}]]},"extraer sql":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"schema":{"main":[[{"node":"Message a model1","type":"main","index":0}]]},"formatear resultado":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Send a photo message1","type":"main","index":0}]]},"Get Audio File":{"main":[[{"node":"Transcribe Recording","type":"main","index":0}]]},"Transcribe Recording":{"main":[[{"node":"Normalize Content","type":"main","index":0}]]},"Get Message":{"main":[[{"node":"schema","type":"main","index":0}]]},"Normalize Content":{"main":[[{"node":"Get Message","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Get Audio File","type":"main","index":0}],[{"node":"Get Message","type":"main","index":0}],[{"node":"Notify About Message","type":"main","index":0}]]},"Message a model1":{"main":[[{"node":"extraer sql","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"fd86b2d0-9812-4341-a794-542cab565de8","triggerCount":1,"shared":[{"updatedAt":"2025-11-23T23:03:43.406Z","createdAt":"2025-11-23T23:03:43.406Z","role":"workflow:owner","workflowId":"o6G628ZNaR3zMw62","projectId":"prlZ3bTXg0wKi0D1"}],"tags":[]}