timepilot-agent-lDtxr3ySNHTtJDES.json
{"updatedAt":"2025-12-09T09:38:17.000Z","createdAt":"2025-12-08T12:49:22.520Z","id":"lDtxr3ySNHTtJDES","name":"TimePilot Agent","active":false,"isArchived":false,"nodes":[{"parameters":{"model":"gpt-4-turbo-preview","options":{}},"id":"6b279a64-4d47-43a5-852e-fa515c8c9365","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[288,544],"typeVersion":1,"credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"39c2f302-03be-4464-a17a-d7cc481d6d44","name":"=response","type":"string","value":"={{$json.output}}"}]},"options":{}},"id":"527b82c4-44c2-4827-9798-ae8a3272ac5c","name":"Success","type":"n8n-nodes-base.set","position":[1088,320],"typeVersion":3.4},{"parameters":{"descriptionType":"manual","toolDescription":"=Consume Google Calendar API","calendar":{"__rl":true,"mode":"list","value":"floyd.mahou@blockachainintegration.com","cachedResultName":"floyd.mahou@blockachainintegration.com"},"start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}","end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}","additionalFields":{"attendees":[],"summary":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"}},"id":"618a9a99-f686-41ef-9a43-10b56d3f88d5","name":"Create Event","type":"n8n-nodes-base.googleCalendarTool","position":[528,544],"typeVersion":1.3,"credentials":{"googleCalendarOAuth2Api":{"id":"DDGUQwdD8fqXiUrz","name":"Google Calendar account Bestfranquicias"}}},{"parameters":{"descriptionType":"manual","operation":"delete","calendar":{"__rl":true,"mode":"list","value":"floyd.mahou@blockachainintegration.com","cachedResultName":"floyd.mahou@blockachainintegration.com"},"eventId":"={{ $fromAI(\"eventID\") }}","options":{"sendUpdates":"all"}},"id":"9c563b14-2986-4dcb-947a-b8310e5931e9","name":"Delete Event","type":"n8n-nodes-base.googleCalendarTool","position":[640,544],"typeVersion":1.3,"credentials":{"googleCalendarOAuth2Api":{"id":"DDGUQwdD8fqXiUrz","name":"Google Calendar account Bestfranquicias"}}},{"parameters":{"descriptionType":"manual","operation":"update","calendar":{"__rl":true,"mode":"list","value":"floyd.mahou@blockachainintegration.com","cachedResultName":"floyd.mahou@blockachainintegration.com"},"eventId":"={{ $fromAI(\"eventID\") }}","updateFields":{"end":"={{ $fromAI(\"endTime\") }}","start":"={{ $fromAI(\"startTime\") }}"}},"id":"2b582442-bec3-436b-a212-23b8ee65eccb","name":"Update Event","type":"n8n-nodes-base.googleCalendarTool","position":[768,544],"typeVersion":1.3,"credentials":{"googleCalendarOAuth2Api":{"id":"DDGUQwdD8fqXiUrz","name":"Google Calendar account Bestfranquicias"}}},{"parameters":{"updates":["messages"],"options":{}},"id":"17a562d2-6650-4ba5-8a68-a928593ed709","name":"WhatsApp Trigger","type":"n8n-nodes-base.whatsAppTrigger","position":[64,320],"webhookId":"d214a512-4e47-4795-94e7-8fe22d728e53","typeVersion":1,"credentials":{"whatsAppTriggerApi":{"id":"SgwwUp1JPj8kbodC","name":"WhatsApp OAuth account"}},"disabled":true},{"parameters":{"operation":"send","phoneNumberId":"={{ $('WhatsApp Trigger').item.json.metadata.phone_number_id }}","recipientPhoneNumber":"ENTER YOUR PHONE NUMBER HERE","textBody":"={{ $json.response }}","additionalFields":{}},"id":"611f3ddd-2d86-4e5c-a85a-4b453803b7fa","name":"WhatsApp Business Cloud","type":"n8n-nodes-base.whatsApp","position":[1312,320],"webhookId":"313cb932-f2a1-413c-82be-9992dd6f7fb2","typeVersion":1,"credentials":{"whatsAppApi":{"id":"ScdryByaPLumqNl8","name":"WhatsApp account"}}},{"parameters":{"descriptionType":"manual","operation":"getAll","calendar":{"__rl":true,"mode":"list","value":"floyd.mahou@blockachainintegration.com","cachedResultName":"floyd.mahou@blockachainintegration.com"},"limit":"={{ $fromAI('Limit', ``, 'number') }}","timeMin":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}","timeMax":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}","options":{}},"id":"4edc1caa-c185-4696-8b2f-a686a4f56b34","name":"Search Event","type":"n8n-nodes-base.googleCalendarTool","position":[880,544],"typeVersion":1.3,"credentials":{"googleCalendarOAuth2Api":{"id":"DDGUQwdD8fqXiUrz","name":"Google Calendar account Bestfranquicias"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('WhatsApp Trigger').item.json.messages[0].type }}"},"id":"0394e94a-9ee7-41c9-8cb7-d5492ae18f37","name":"Simple Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[400,544],"typeVersion":1.3},{"parameters":{"promptType":"define","text":"={{ $json.messages[0].text.body }}","options":{"systemMessage":"=# Overview  \nYou are a personal AI assistant that manages *your own calendar* through WhatsApp messages. You must always trigger the correct module corresponding to the requested action (create, update, search, delete). No assumptions or shortcuts—only execute via the designated modules.\n\n## Context  \n- You are the only user of this system.  \n- All requests come from WhatsApp and responses must be sent via WhatsApp.  \n- You use Google Calendar modules to perform every action and confirm completion.  \n- You understand both French and English.  \n- Your tone is neutral, fast, and action-focused.  \n\n## Instructions  \n1. Always check if the input contains a clear calendar-related request.  \n2. If the message is a greeting or polite phrase (e.g., \"Hi\", \"Thanks\", \"Hello\"), reply briefly and kindly.  \n3. Always route tasks through the correct module:\n   - Always Use **Search Event** to:\n     - List all upcoming meetings.\n     - Show availability.\n     - Retrieve a specific event before updating or deleting it.\n   -Always Use **Create Event with Attendee** to create any new event (even without participants).\n   - Always Use **Update Event** only after retrieving the target event with **Search Event**.\n   - Always Use **Delete Event** only after retrieving the event with **Search Event**.\n4. Never perform any action without using the appropriate module.  \n5. If information is missing (like time or participants), ask one short, targeted follow-up question.  \n6. Always confirm the completed action with a short message via WhatsApp.  \n7. If the input is unclear, ask for clarification. Never guess.  \n8. Never explain your steps or how you operate. Just act.  \n\n## Tools  \n- Search Event (availability/meeting schedule:calendar)  \n- Create Event with Attendee (create:event)  \n- Update Event (update:event)  \n- Delete Event (delete:event)  \n\n## Examples  \n- Input: \"Yo\"  \n  - Output: \"Hi! What would you like to do with your calendar?\"  \n- Input: \"Add a call tomorrow at 9am with Julien\"  \n  - Modules: Create Event with Attendee  \n  - Output: \"Call with Julien added tomorrow at 9am.\"  \n- Input: \"What meetings do I have Friday?\"  \n  - Modules: Search Event  \n  - Output: \"On Friday you have: 10am 'Budget Review' with Claire, 3pm 'Product Sync' with Marc.\"  \n- Input: \"List my meetings this week\"  \n  - Modules: Search Event  \n  - Output: \"Here are your meetings this week: Monday 10am with Hugo, Wednesday 2pm with Ana...\"  \n- Input: \"Delete the HR sync tomorrow\"  \n  - Modules: Search Event → Delete Event  \n  - Output: \"Done. The HR sync for tomorrow has been deleted.\"  \n- Input: \"Thanks\"  \n  - Output: \"You're welcome!\"  \n- Input: \"Move the 2pm meeting to 4pm\"  \n  - Modules: Search Event → Update Event  \n  - Output: \"The meeting has been moved to 4pm.\"  \n- Input: \"Create a ‘Sprint Review’ meeting tomorrow at 11am with Lisa and Karim\"  \n  - Modules: Create Event with Attendee  \n  - Output: \"‘Sprint Review’ meeting created tomorrow at 11am with Lisa and Karim.\"  \n\n## SOP (Standard Operating Procedure)  \n1. Read the WhatsApp message.  \n2. Identify the intent:\n   - View meetings: use \"Search Event\"\n   - Create meeting: use \"Create Event with Attendee\"\n   - Update meeting: use \"Search Event\" → \"Update Event\"\n   - Delete meeting: use \"Search Event\" → \"Delete Event\"\n3. Always use the correct module—no exceptions.  \n4. Send a short confirmation message via WhatsApp.  \n5. If data is missing, ask a concise follow-up question.  \n\n## Final Notes  \n- You are the only user.  \n- Never handle any action without triggering the corresponding module.  \n- All confirmations are sent in real-time via WhatsApp.  \n- Default meeting duration is one hour.  \n\nCurrent time is {{ $now.format('yyyy-MM-dd') }}  \nTime zone: Paris/Europe  "}},"id":"54bb99db-eb0b-4e3f-9078-82cc6eb02669","name":"TimePilot","type":"@n8n/n8n-nodes-langchain.agent","position":[496,320],"typeVersion":1.8},{"parameters":{"content":"## 🟩 Block 1 – WhatsApp Trigger\n\nPurpose: Entry point of the workflow.\nIt triggers the automation when a message is received via WhatsApp.\n📥 User Input = A WhatsApp message (e.g. “What’s my schedule today?”)\n","height":700,"width":220,"color":4},"id":"97f97e1f-7465-4bb4-a928-1bbf9d02435d","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"content":"## 🟦 Block 2 – TimePilot (Tools Agent)\nPurpose: The brain of the system.\nThis is the main AI agent that receives the message, interprets it using GPT, and decides what calendar action to trigger.\n\n🔁 It connects with:\nOpenAI Chat Model → to understand natural language\nSimple Memory → to retain conversation context\nCalendar Modules → to take the proper action (create, delete, update…)","height":700,"width":800,"color":5},"id":"93129910-84df-40cf-8d64-fe2be1e2e306","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[240,0],"typeVersion":1},{"parameters":{"content":"## 🟪 Part 3 – Output & Confirmation\n✅ Success (manual)\nPurpose: Triggered when everything runs smoothly.\nPrepares a success message based on the operation performed.\n\n💬 WhatsApp Business Cloud – message:send\nPurpose: Sends the final response to the user directly on WhatsApp.\n\n\n","height":700,"width":440,"color":6},"id":"5a73ae2b-7ae5-48ae-a7f5-b1243dcaa1e9","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[1072,0],"typeVersion":1},{"parameters":{"content":"## 🛠️ How to use TimePilot Agent (WhatsApp Calendar Assistant)\n\n✅ Prerequisites\n-WhatsApp Business Cloud account\n-Google Calendar connected in n8n\n-OpenAI API Key (GPT-4 or GPT-3.5)\n-A verified phone number in Meta Developer Portal\n-Meta App created and approved (for messages access)\n-n8n running with a webhook accessible from Meta\n-TimePilot Workflow imported into n8n\n\n🧩 STEP 1 – Create a Meta App\nGo to https://developers.facebook.com/apps\n\nClick Create App → Type: Business\nAdd WhatsApp Product\nAdd your verified phone number\nSave your Phone Number ID and WhatsApp Business Account ID\n\n🔑 STEP 2 – Add WhatsApp Product\nIn your Meta App → Add product → Select WhatsApp\n\nGenerate a test token or configure permanent access token\nNote your Access Token, and Business Account ID\n\n🔁 STEP 3 – Configure Webhook (n8n)\nCopy your n8n webhook URL (e.g. https://yourn8n.com/webhook/timepilot)\n\nIn Meta Dashboard → WhatsApp → Webhooks\nAdd webhook → Paste your n8n webhook URL\nSubscribe to the following fields:\n\n-management\n-messaging\n\n🔐 STEP 4 – Setup Token in n8n Credentials\nGo to n8n → Credentials → HTTP Basic Auth / OAuth2 / Bearer YOUR_TOKEN_HERE\n\nAdd Meta API Token for WhatsApp module\nAdd Google Calendar OAuth2 credential\n\n🧠 STEP 5 – Add OpenAI API Key\nGo to n8n → Credentials → OpenAI\n\nPaste your API key\nChoose GPT-3.5 or GPT-4\n\n🧱 STEP 6 – Modules connected in the TimePilot Agent\n📅 Create Event → Handles creation of new Google Calendar events\n\n✏️ Update Event → Changes existing events (title, time, etc.)\n\n🗑 Delete Event → Removes an event\n\n🔍 Search Event → Checks availability or lists upcoming events\n\n💬 WhatsApp Cloud → Sends reply with confirmation or schedule\n\n🤖 OpenAI Chat Model → Interprets the user’s message\n\n🧠 Memory (optional) → Maintains past request context\n\n🧪 STEP 7 – Test It!\nSend a message via WhatsApp to your connected number:\n\n“Create a meeting with Anna at 4pm tomorrow”\n\nn8n will process the request and return:\n\n“✅ Your event has been created.”","height":1360,"width":540},"id":"3523a2b3-2e1e-4b15-a09a-028ea5c17539","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[1552,0],"typeVersion":1},{"parameters":{"resource":"messages-api","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1248,944],"id":"15354581-8b25-4ac2-882f-6e76a027b42d","name":"Enviar texto","credentials":{"evolutionApi":{"id":"HhTmx4MYcOJDYeCG","name":"Evolution account"}}},{"parameters":{"resource":"events-api","instanceName":"pete_n8n","webhookUrl":"https://bestfranquicias-evolution-api.xq2ha6.easypanel.host"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[272,320],"id":"e7cf75cc-70f2-48d0-9a54-db626533ce46","name":"Webhook","credentials":{"evolutionApi":{"id":"HhTmx4MYcOJDYeCG","name":"Evolution account"}}}],"connections":{"Success":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]},"TimePilot":{"main":[[{"node":"Success","type":"main","index":0}]]},"Create Event":{"ai_tool":[[{"node":"TimePilot","type":"ai_tool","index":0}]]},"Delete Event":{"ai_tool":[[{"node":"TimePilot","type":"ai_tool","index":0}]]},"Search Event":{"ai_tool":[[{"node":"TimePilot","type":"ai_tool","index":0}]]},"Update Event":{"ai_tool":[[{"node":"TimePilot","type":"ai_tool","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"TimePilot","type":"ai_memory","index":0}]]},"WhatsApp Trigger":{"main":[[]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"TimePilot","type":"ai_languageModel","index":0}]]},"Enviar texto":{"main":[[]]},"Webhook":{"main":[[{"node":"TimePilot","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7c1fb30e-8b66-46ba-871b-b2e5e1a02271","triggerCount":0,"shared":[{"updatedAt":"2025-12-08T12:49:22.527Z","createdAt":"2025-12-08T12:49:22.527Z","role":"workflow:owner","workflowId":"lDtxr3ySNHTtJDES","projectId":"prlZ3bTXg0wKi0D1"}],"tags":[]}