traductor-universal-ia-telegram-(55-idiomas)-V1ebn9vcCq7m9AEV.json
{"updatedAt":"2025-10-09T08:33:29.977Z","createdAt":"2025-10-09T08:33:29.977Z","id":"V1ebn9vcCq7m9AEV","name":"Traductor Universal IA Telegram (55 Idiomas)","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["*"],"additionalFields":{}},"id":"cf270a5c-781a-4406-8d1d-351d2f8232e7","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","position":[592,224],"webhookId":"c537cfcc-6c4a-436a-8871-d32f8ce016cb","typeVersion":1,"credentials":{"telegramApi":{"id":"7UCg36pupNze5tT7","name":"Telegram account"}}},{"parameters":{"content":"## Traducción\n\n- Convierte de voz a texto.  \n\n- Traduce el idioma del idioma nativo al idioma de destino (según lo especificado en el nodo **Settings**).  \n","height":586.6978417266175,"width":556.5162909529794},"id":"bcdef948-0479-4c4c-a867-df8a03db90e1","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[1392,0],"typeVersion":1},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.text }}","additionalFields":{"parse_mode":"Markdown"}},"id":"97533def-3ff5-4e3a-8b0f-db15b97756b9","name":"Text reply","type":"n8n-nodes-base.telegram","position":[2384,224],"typeVersion":1,"webhookId":"3902dc00-1eb9-4232-935e-31d4b4f59f94","credentials":{"telegramApi":{"id":"7UCg36pupNze5tT7","name":"Telegram account"}}},{"parameters":{"resource":"file","fileId":"={{ $('Telegram Trigger').item.json.message.voice.file_id }}","additionalFields":{}},"id":"d1952763-78b4-42cf-acdc-841c2e169de2","name":"Telegram1","type":"n8n-nodes-base.telegram","position":[1200,224],"typeVersion":1.1,"webhookId":"34d24417-45a9-4102-8461-c3e476a582a5","credentials":{"telegramApi":{"id":"7UCg36pupNze5tT7","name":"Telegram account"}}},{"parameters":{"options":{}},"id":"ac190e45-17c9-4ca1-bcc6-59445e86ed32","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[1664,400],"typeVersion":1,"credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"fields":{"values":[{"name":"message.text","stringValue":"={{ $json?.message?.text || \"\" }}"}]},"options":{}},"id":"270f0d15-eccd-43d2-8e81-898c7aba8598","name":"Input Error Handling","type":"n8n-nodes-base.set","position":[1008,224],"typeVersion":3.2},{"parameters":{"content":"## Salida en Telegram\n\n- Proporciona la salida tanto en texto como en voz.  \n\n- Se admiten muchos idiomas, incluidos inglés, francés, alemán, español, chino y japonés.  \n\nLista completa aquí:  \nhttps://platform.openai.com/docs/guides/speech-to-text/supported-languages\n","height":583.7625899280566,"width":585.8688089385912},"id":"c906b49d-61d2-43b8-a91d-b9fe1acc7c61","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[2064,0],"typeVersion":1},{"parameters":{"content":"## Traductor universal multilingüe con IA y voz ⭐\n\n### Capacidades clave\nEste flujo permite un bot de Telegram que puede:  \n- Aceptar voz en uno de 55 idiomas.  \n- Traducir a otro idioma y devolver el resultado en voz.  \n\n### Caso de uso:\n- Aprender un nuevo idioma.  \n- Comunicarse con otras personas mientras viajas a otro país.  \n\n### Configuración\n- Abre el nodo **Settings** y especifica los idiomas con los que te gustaría trabajar.  \n","height":573.4892086330929,"width":489.00549958607303,"color":4},"id":"a8dcfc41-ab0a-463a-9c46-c4208c88d1f6","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"501ac5cc-73e8-4e9c-bf91-df312aa9ff88","name":"language_native","type":"string","value":"spanish"},{"id":"efb9a7b2-5baa-44cc-b94d-c8030f17e890","name":"language_translate","type":"string","value":"english"}]},"options":{}},"id":"eead440f-cea2-44cd-bfc9-aeec0ac2bc5b","name":"Settings","type":"n8n-nodes-base.set","position":[800,224],"typeVersion":3.3},{"parameters":{"promptType":"define","text":"=Detect the language of the text that follows. \n- If it is {{ $('Settings').item.json.language_native }} translate to {{ $('Settings').item.json.language_translate }}. \n- If it is in {{ $('Settings').item.json.language_translate }} translate to {{ $('Settings').item.json.language_native }} . \n- In the output just provide the translation and do not explain it. Just provide the translation without anything else.\n\nText:\n {{ $json.text }}\n"},"id":"4cef8849-b91f-4ddc-85c1-92453e4aaa49","name":"Auto-detect and translate","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[1648,224],"typeVersion":1.4},{"parameters":{"operation":"sendAudio","chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","binaryData":true,"additionalFields":{}},"id":"52931f76-b366-4aab-b3b7-d53ffd2cf231","name":"Audio reply","type":"n8n-nodes-base.telegram","position":[2384,400],"typeVersion":1.1,"webhookId":"f9d4ab4f-77f0-472f-b446-715dbb2bd8fb","credentials":{"telegramApi":{"id":"7UCg36pupNze5tT7","name":"Telegram account"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"95ae5d5a-6678-4766-9ded-7709e4368aa3","name":"OpenAI2","type":"@n8n/n8n-nodes-langchain.openAi","position":[1440,224],"typeVersion":1.3,"credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"resource":"audio","input":"={{ $json.text }}","options":{}},"id":"fa823715-3daf-4395-82b2-08fa559d29a1","name":"OpenAI","type":"@n8n/n8n-nodes-langchain.openAi","position":[2160,400],"typeVersion":1.3,"credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}}],"connections":{"OpenAI":{"main":[[{"node":"Audio reply","type":"main","index":0}]]},"OpenAI2":{"main":[[{"node":"Auto-detect and translate","type":"main","index":0}]]},"Settings":{"main":[[{"node":"Input Error Handling","type":"main","index":0}]]},"Telegram1":{"main":[[{"node":"OpenAI2","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Settings","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Auto-detect and translate","type":"ai_languageModel","index":0}]]},"Input Error Handling":{"main":[[{"node":"Telegram1","type":"main","index":0}]]},"Auto-detect and translate":{"main":[[{"node":"Text reply","type":"main","index":0},{"node":"OpenAI","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"07ca1beb-db26-4ef3-bd0b-2abcc0f69f5f","triggerCount":0,"shared":[{"updatedAt":"2025-10-09T08:33:29.981Z","createdAt":"2025-10-09T08:33:29.981Z","role":"workflow:owner","workflowId":"V1ebn9vcCq7m9AEV","projectId":"prlZ3bTXg0wKi0D1"}],"tags":[{"updatedAt":"2025-10-09T08:32:14.448Z","createdAt":"2025-10-09T08:32:14.448Z","id":"2ft3cuPlaPbpQkDb","name":"The AI Blueprint Plus"}]}