ugc-ads-(tutorial)-RP0Byc9a60hCXOql.json
{"updatedAt":"2025-10-24T11:46:00.000Z","createdAt":"2025-10-24T08:48:41.382Z","id":"RP0Byc9a60hCXOql","name":"UGC Ads (Tutorial)","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"1zOQCcXHMgtKZcur0nOGIISnFAsxFxvCl2EBWcy0Th8Q","mode":"list","cachedResultName":"UGC Ads (Template)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zOQCcXHMgtKZcur0nOGIISnFAsxFxvCl2EBWcy0Th8Q/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2134821085,"mode":"list","cachedResultName":"Ads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zOQCcXHMgtKZcur0nOGIISnFAsxFxvCl2EBWcy0Th8Q/edit#gid=2134821085"},"options":{}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[-672,288],"id":"50cf01f8-9065-4336-b051-49c3c074d7ce","name":"Google Sheets Trigger","credentials":{"googleSheetsTriggerOAuth2Api":{"id":"5VOqcdGq9MTbcosR","name":"Google Sheets Trigger account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-5-mini","mode":"list","cachedResultName":"gpt-5-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-384,512],"id":"4740b935-1024-406c-8fef-e8162d52a768","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1zOQCcXHMgtKZcur0nOGIISnFAsxFxvCl2EBWcy0Th8Q","mode":"list","cachedResultName":"UGC Ads (Template)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zOQCcXHMgtKZcur0nOGIISnFAsxFxvCl2EBWcy0Th8Q/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2134821085,"mode":"list","cachedResultName":"Ads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zOQCcXHMgtKZcur0nOGIISnFAsxFxvCl2EBWcy0Th8Q/edit#gid=2134821085"},"columns":{"mappingMode":"defineBelow","value":{"Product":"={{ $('Google Sheets Trigger').item.json.Product }}","Task ID":"={{ $json.data.taskId }}","Status":"Generating...","Generated Video Prompt":"={{ $('Ai Video Generation Prompt Agent').item.json.output }}","Photo Link":"={{ $('Google Sheets Trigger').item.json['Photo Link'] }}","Features":"={{ $('Google Sheets Trigger').item.json.Features }}","Ideal Customer":"={{ $('Google Sheets Trigger').item.json['Ideal Customer'] }}","Video Setting":"={{ $('Google Sheets Trigger').item.json['Video Setting'] }}","Finished Video Link":"={{ $('Google Sheets Trigger').item.json['Finished Video Link'] }}"},"matchingColumns":["Product"],"schema":[{"id":"Product","displayName":"Product","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Photo Link","displayName":"Photo Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Features","displayName":"Features","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Ideal Customer","displayName":"Ideal Customer","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Video Setting","displayName":"Video Setting","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Generated Video Prompt","displayName":"Generated Video Prompt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Task ID","displayName":"Task ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Finished Video Link","displayName":"Finished Video Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[128,288],"id":"e456adfd-8e97-40fa-8b06-e3bf90eb0b20","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"u3wPsvNe1n4GWzVs","name":"Google Sheets Bestfranquicias"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1zOQCcXHMgtKZcur0nOGIISnFAsxFxvCl2EBWcy0Th8Q","mode":"list","cachedResultName":"UGC Ads (Template)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zOQCcXHMgtKZcur0nOGIISnFAsxFxvCl2EBWcy0Th8Q/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2134821085,"mode":"list","cachedResultName":"Ads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zOQCcXHMgtKZcur0nOGIISnFAsxFxvCl2EBWcy0Th8Q/edit#gid=2134821085"},"columns":{"mappingMode":"defineBelow","value":{"Product":"={{ $('Google Sheets Trigger').item.json.Product }}","Finished Video Link":"={{ $json.video_url }}","Status":"Completed"},"matchingColumns":["Product"],"schema":[{"id":"Product","displayName":"Product","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Photo Link","displayName":"Photo Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Features","displayName":"Features","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Ideal Customer","displayName":"Ideal Customer","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Video Setting","displayName":"Video Setting","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Generated Video Prompt","displayName":"Generated Video Prompt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Task ID","displayName":"Task ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Finished Video Link","displayName":"Finished Video Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1248,288],"id":"5adac002-171c-402f-b6b7-9e92ede796e0","name":"Update row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"u3wPsvNe1n4GWzVs","name":"Google Sheets Bestfranquicias"}}},{"parameters":{"method":"POST","url":"https://api.kie.ai/api/v1/jobs/createTask","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"sora-2-pro-image-to-video\",\n  \"callBackUrl\": \"https://bestfranquicias-n8n.xq2ha6.easypanel.host/workflow/RP0Byc9a60hCXOql/api/callback\",\n  \"input\": {\n    \"prompt\": \"{{ $json.output.replace(/[\"“”]/g, '').replace(/\\r?\\n|\\r/g, ' ') }}\",\n\"image_urls\": [\"{{ $('Google Sheets Trigger').item.json['Photo Link'] }}\"],\n    \"aspect_ratio\": \"landscape\",\n    \"n_frames\": \"10\",\n    \"size\": \"high\",\n    \"remove_watermark\": true\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-96,272],"id":"c4ae817c-8e68-4644-9e70-3eff059ab2ae","name":"Generate Video","credentials":{"httpBearerAuth":{"id":"EnakeNbKe7Jyq2Yi","name":"Bearer Auth account"}}},{"parameters":{"url":"https://api.kie.ai/api/v1/jobs/recordInfo","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"taskId","value":"={{ $('Update row in sheet').item.json['Task ID'] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[576,208],"id":"cae32bec-b7cc-42bf-83b9-5ec5e730d6b2","name":"Get Video","credentials":{"httpBearerAuth":{"id":"EnakeNbKe7Jyq2Yi","name":"Bearer Auth account"}}},{"parameters":{"promptType":"define","text":"=Product:  {{ $json.Product }}\nFeatures: {{ $json.Features }}\nIdeal Customer:  {{ $json[\"Ideal Customer\"] }}\nVideo Settings: {{ $json[\"Video Setting\"] }}","options":{"systemMessage":"=# System Message: UGC Ad Video Prompt Engineer for Sora 2\n\nYou are an expert AI UGC video prompt engineer trained to design authentic, cinematic, and emotionally engaging prompts for Sora 2 video generation.  \nYour goal is to transform structured input fields — **Product**, **Features**, **Ideal Customer**, and **Video Setting** — into a realistic, lifestyle-driven video prompt that looks like a high-quality user-generated ad shot on a phone or DSLR.\n\nYour output must describe a **realistic, lifestyle-driven video** that matches the product’s intent and resonates with the target customer.  \nIt should feel **unscripted, organic, and emotionally authentic**, while maintaining **visually coherent and cinematic** structure.\n\n---\n\n## Prompt Structure to Follow\n\n**Prose scene description:** In plain language describe characters, costumes, scenery, weather or indoor lighting, background context.  \n**Cinematography:** Camera shot (framing & angle), lens style, movement.  \n**Mood / Tone:** Overall tone or emotion (e.g., testimonial, intimate routine, upbeat discovery).  \n**Actions:**  \n- Action 1: a clear, specific beat or gesture.  \n- Action 2: another distinct beat.  \n- Action 3: optional further gesture or natural line.  \n**Dialogue (optional):** If there is spoken text, add short natural lines here; keep them brief and aligned with clip length.\n\n---\n\n## Rules for Crafting the Prompt\n\n1. **Always describe:**\n   - Main subject(s): appearance, clothing, age range, gender, expression, and motion.\n   - Setting: location, background detail, lighting (natural or artificial), time of day, atmosphere.\n   - Camera and framing: shot style (handheld, selfie, over-the-shoulder, tripod), camera movement, focus depth, transitions or cuts.\n   - Tone or emotion of the scene.\n   - Product interaction: how the person naturally shows, uses or reacts to the product—capture gestures, angles, emotional cues.\n   - Realistic environmental or lighting effects (for example: soft window light, reflections, motion blur).\n\n2. **Make it feel human, not staged:**\n   - Include small imperfections: natural hand motions, spontaneous smiles, natural pauses, real background elements.\n   - Use language implying a real moment: “recorded early morning in her bathroom”, “speaking candidly to the camera”.\n\n3. **Camera realism and lighting accuracy**: describe how the shot should look visually (e.g., “soft golden-hour light through a window”, “diffused overhead bathroom light”).\n\n4. **Tone**: Write as though you are a creative director briefing a camera crew — conversational but visually rich, not overly technical.\n\n5. **Output only the final, cohesive video prompt.**  \n   - Do not include commentary, explanations or labels.  \n   - The final prompt should be a single paragraph or structured set of paragraphs reading like a **single fluid vision**.\n\n---\n\n## Example Input Format\n\n**Product:** Hydraboost Face Wash  \n**Features:** Gentle foam cleanser, removes dirt without drying, great for sensitive skin  \n**Ideal Customer:** Women in their 20s–30s who love simple and clean skincare routines  \n**Video Setting:** Bright bathroom with natural morning light\n\n---\n\n## Example Output\n\nA young woman in her late 20s stands in a softly lit bathroom, her hair tied up casually as morning sunlight streams through a nearby window. She’s filming herself on her phone, speaking with a natural, upbeat tone while holding the Hydraboost Face Wash. The camera is slightly handheld, creating an authentic, UGC-style feel. She applies a small amount to her damp face, laughing lightly as the foam lathers. The lighting glows gently on her skin, showing texture and radiance. Water runs softly in the background, and the overall tone feels calm, clean, and genuinely personal — like a real skincare enthusiast sharing her daily routine."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-448,288],"id":"a4e025fb-e413-437e-b22b-b94ba28d0d8d","name":"Ai Video Generation Prompt Agent"},{"parameters":{"amount":"=10"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[352,176],"id":"d4818282-86cd-4ca4-92d5-77849c820c68","name":"Wait 10 Seconds","webhookId":"75dd661b-bd93-499b-b2e2-ae673ba4c8a4"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e99afb2a-1239-4749-a6c7-97521ad5e0c3","leftValue":"={{ $json.data.state }}","rightValue":"success","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[800,288],"id":"6e7505ac-6a1a-41f0-9a2c-e40d7bb4f3e8","name":"Is Video Done?"},{"parameters":{"assignments":{"assignments":[{"id":"3a50a5d2-695f-4915-b6c2-67ef4f5250a8","name":"video_url","value":"={{ JSON.parse($json.data.resultJson).resultUrls[0] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1024,272],"id":"b8c0937e-8436-44c9-8a9c-8fc9aea48160","name":"Build Video Url"}],"connections":{"Google Sheets Trigger":{"main":[[{"node":"Ai Video Generation Prompt Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Ai Video Generation Prompt Agent","type":"ai_languageModel","index":0}]]},"Update row in sheet":{"main":[[{"node":"Wait 10 Seconds","type":"main","index":0}]]},"Generate Video":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]},"Get Video":{"main":[[{"node":"Is Video Done?","type":"main","index":0}]]},"Ai Video Generation Prompt Agent":{"main":[[{"node":"Generate Video","type":"main","index":0}]]},"Wait 10 Seconds":{"main":[[{"node":"Get Video","type":"main","index":0}]]},"Is Video Done?":{"main":[[{"node":"Build Video Url","type":"main","index":0}],[{"node":"Wait 10 Seconds","type":"main","index":0}]]},"Build Video Url":{"main":[[{"node":"Update row in sheet1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"0c3aed95-11c9-4a6d-953d-1264b359e308","triggerCount":0,"shared":[{"updatedAt":"2025-10-24T08:48:41.384Z","createdAt":"2025-10-24T08:48:41.384Z","role":"workflow:owner","workflowId":"RP0Byc9a60hCXOql","projectId":"prlZ3bTXg0wKi0D1"}],"tags":[]}