veo3-cheap-PfpjsdXs03INrfF2.json
{"updatedAt":"2025-10-24T21:19:25.000Z","createdAt":"2025-10-09T10:05:30.843Z","id":"PfpjsdXs03INrfF2","name":"Veo3 Cheap","active":false,"isArchived":false,"nodes":[{"parameters":{"formTitle":"Veo3 Ad Generator","formDescription":"Enter the relevant info for your brand and get a veo 3 script to generate high quality ads ","formFields":{"values":[{"fieldLabel":"Type Of Ad","fieldType":"dropdown","fieldOptions":{"values":[{"option":"News Reporter"}]},"requiredField":true},{"fieldLabel":"Environment ","placeholder":"Describe the location","requiredField":true},{"fieldLabel":"Script","fieldType":"textarea","requiredField":true},{"fieldLabel":"Spokesperson ","placeholder":"32, Male, Professional Looking, In Suit ","requiredField":true}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-592,496],"id":"1a4e9254-fab2-4cc6-851a-6d6dafb797b2","name":"On form submission","webhookId":"89fcbe6e-a6a4-4ffb-9fd9-3b01c32adea4"},{"parameters":{"jsCode":"// Input text\nconst text = $input.first().json.message.content;\n// Split into sections wherever there's a new line\nconst lines = text.split('\\n').map(line => line.trim());\nreturn lines.map(line => ({ json: { paragraph: line } }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[288,416],"id":"9efab9d4-3ae7-4fb3-b9c8-70913861330a","name":"Code"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"GPT-4.1"},"messages":{"values":[{"content":"=Give the description \"{{ $('On form submission').item.json['Spokesperson '] }}\" create a more in depth description of a character that will be used as a video prompt. Make the output at least 2 sentences long so there is has consistency when called a second time. Indicate aan age, race, hair color / style, clothing etc "}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-144,368],"id":"eb469b66-062b-4ed1-83ec-856055d34b1a","name":"Create Character","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"GPT-4.1"},"messages":{"values":[{"content":"=You are a helpful assistant that works to breakdown a script into parts that can be spoken in roughly 10 seconds. You will be given a script and need to break it into parts that can be read in under 10 seconds. Output each segement on a new line. Include as few new lines as possible \nScript: {{ $('On form submission').item.json.Script }}\n"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-144,672],"id":"fe082bc3-3f95-48a6-917e-86ef4d91a3df","name":"Create Scripts","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"GPT-4.1"},"messages":{"values":[{"content":"=Take this description and turn it into a longer more detailed sentence so when rendered multiple times by an ai text to video it will look the same. \"{{ $('On form submission').item.json['Environment '] }}\" Do not say anything other than the result "}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-144,528],"id":"d48a62da-e57a-45cc-893e-a7f73785067d","name":"Create Location","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1DNh4Fmqisw5aYNC9gmgcZmK_bpwLIVScs6Qd4is37nk","mode":"list","cachedResultName":"MinMax","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1DNh4Fmqisw5aYNC9gmgcZmK_bpwLIVScs6Qd4is37nk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1DNh4Fmqisw5aYNC9gmgcZmK_bpwLIVScs6Qd4is37nk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Status":"todo","Prompt ":"=A cinematic shot of Marcus {{ $('Create Character').item.json.message.content }}  On air Marcus announces {{ $json.paragraph }}. The location is {{ $('Create Location').item.json.message.content }} "},"matchingColumns":[],"schema":[{"id":"Prompt ","displayName":"Prompt ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"URL","displayName":"URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[512,416],"id":"f3e95c76-b586-475a-b07b-eeff58d47cb3","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"3jsPEgAVKs9WCnTd","name":"Google Sheets The2tor"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1152,1024],"id":"d11057bc-8d0d-430b-828b-59a71da28f59","name":"When clicking ‘Test workflow’"},{"parameters":{"documentId":{"__rl":true,"value":"1DNh4Fmqisw5aYNC9gmgcZmK_bpwLIVScs6Qd4is37nk","mode":"list","cachedResultName":"MinMax","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1DNh4Fmqisw5aYNC9gmgcZmK_bpwLIVScs6Qd4is37nk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1DNh4Fmqisw5aYNC9gmgcZmK_bpwLIVScs6Qd4is37nk/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Status","lookupValue":"todo"}]},"options":{"returnFirstMatch":false}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-944,1024],"id":"694c1013-72bc-4b91-84fe-c7a6aae476ec","name":"Get Video Idea1","credentials":{"googleSheetsOAuth2Api":{"id":"3jsPEgAVKs9WCnTd","name":"Google Sheets The2tor"}}},{"parameters":{"method":"POST","url":"https://kieai.erweima.ai/api/v1/veo/generate","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"prompt","value":"={{ $json['Prompt '] }}"},{"name":"model","value":"veo3_fast"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-400,1024],"id":"76c728ba-1ef1-40ff-ba35-05b36828b554","name":"Veo3","credentials":{"httpHeaderAuth":{"id":"czZ13v50RjRSM15B","name":"Header Auth account"}}},{"parameters":{"url":"https://kieai.erweima.ai/api/v1/veo/record-info","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"taskId","value":"={{ $json.data.taskId }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[144,1024],"id":"504d8ff5-de4a-44b5-b0a2-0c10bff7f903","name":"Veo","credentials":{"httpHeaderAuth":{"id":"czZ13v50RjRSM15B","name":"Header Auth account"}}},{"parameters":{"amount":8,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-96,1024],"id":"b00e0b01-7950-4db6-88f9-8fb603dc6d27","name":"Wait","webhookId":"9e0675ea-d4e8-4bd2-9452-70289243f6d7"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-624,912],"id":"12f74d4e-a0ab-4650-9e01-6734283ff7cb","name":"Loop Over Items"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1DNh4Fmqisw5aYNC9gmgcZmK_bpwLIVScs6Qd4is37nk","mode":"list","cachedResultName":"MinMax","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1DNh4Fmqisw5aYNC9gmgcZmK_bpwLIVScs6Qd4is37nk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1DNh4Fmqisw5aYNC9gmgcZmK_bpwLIVScs6Qd4is37nk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Status":"done","row_number":"={{ $('Get Video Idea1').item.json.row_number }}","URL":"={{ $json.data.response.resultUrls[0] }}"},"matchingColumns":["row_number"],"schema":[{"id":"Prompt ","displayName":"Prompt ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"URL","displayName":"URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[384,1024],"id":"f3a60cf9-024d-4241-987d-42f03b012650","name":"Google Sheets1","credentials":{"googleSheetsOAuth2Api":{"id":"3jsPEgAVKs9WCnTd","name":"Google Sheets The2tor"}}}],"connections":{"On form submission":{"main":[[{"node":"Create Character","type":"main","index":0}]]},"Code":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Create Character":{"main":[[{"node":"Create Location","type":"main","index":0}]]},"Create Scripts":{"main":[[{"node":"Code","type":"main","index":0}]]},"Create Location":{"main":[[{"node":"Create Scripts","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Get Video Idea1","type":"main","index":0}]]},"Get Video Idea1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Veo3":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Veo","type":"main","index":0}]]},"Veo":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Veo3","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Create Scripts":[{"json":{"index":0,"message":{"role":"assistant","content":"Every sunrise starts the same… But no day is ever ordinary.  \nOut here, it’s more than land. It’s legacy.  \nIt’s waking up early, working late, and betting on the weather.  \nIt’s hands in the soil and heart in the harvest.  \nBecause feeding the world doesn’t happen by chance. It happens by farmers.  \nRooted in tradition. Driven by purpose. Growing for tomorrow.  \nVeo Farms — Grown with care. Built to last.","refusal":null,"annotations":[]},"logprobs":null,"finish_reason":"stop"}}],"Create Location":[{"json":{"index":0,"message":{"role":"assistant","content":"A large, traditional farm with red barns, white fences, green fields, rows of crops, farm animals like cows and chickens, a gravel driveway, tall trees in the background, and a clear blue sky overhead.","refusal":null,"annotations":[]},"logprobs":null,"finish_reason":"stop"}}],"Create Character":[{"json":{"index":0,"message":{"role":"assistant","content":"A weathered 50-year-old Caucasian man stands in a golden field at dusk, gripping a wooden rake with strong, calloused hands. He has short, graying brown hair peeking out from beneath a wide-brimmed straw sun hat, deep-set hazel eyes, and wears a faded plaid shirt tucked into sturdy denim overalls with worn leather boots, his sun-tanned skin hinting at a lifetime spent working the land.","refusal":null,"annotations":[]},"logprobs":null,"finish_reason":"stop"}}]},"versionId":"5cf4ae75-2717-4ac4-a4d7-914eef4df3f9","triggerCount":0,"shared":[{"updatedAt":"2025-10-09T10:05:30.845Z","createdAt":"2025-10-09T10:05:30.845Z","role":"workflow:owner","workflowId":"PfpjsdXs03INrfF2","projectId":"prlZ3bTXg0wKi0D1"}],"tags":[]}