whatsapp-envia-correo-g0479e3ihIc1A9J7.json
{"updatedAt":"2025-10-20T08:32:35.000Z","createdAt":"2025-10-19T21:58:48.480Z","id":"g0479e3ihIc1A9J7","name":"Whatsapp envia correo","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"chatwoodpete","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"bc16255a-7772-4123-8379-f32e59e18d16","name":"Webhook","webhookId":"538e9bde-7eaf-4b97-b31a-3b9eb845d614"},{"parameters":{"assignments":{"assignments":[{"id":"3fa7959f-dc3a-4bed-b53d-6af20b9017c5","name":"body.conversation.messages[0].content","value":"={{ $json.body.conversation.messages[0].content }}","type":"string"},{"id":"a7caa49c-a3c7-4146-b8ea-647842e99958","name":"body.conversation.messages[0].account_id","value":"={{ $json.body.conversation.messages[0].account_id }}","type":"number"},{"id":"9911b32b-6ad8-4100-9ade-ae8a74c491ef","name":"body.conversation.messages[0].conversation_id","value":"={{ $json.body.conversation.messages[0].conversation_id }}","type":"number"},{"id":"bb0eb53c-aa80-42d6-83c0-8c395a942ded","name":"body.conversation.meta.sender.phone_number","value":"={{ $json.body.conversation.meta.sender.phone_number }}","type":"string"},{"id":"1b9b64a1-e9e9-46d6-9d79-126f282e77ab","name":"body.conversation.meta.sender.identifier","value":"={{ $json.body.conversation.meta.sender.identifier }}","type":"string"},{"id":"de4bee7c-cdcc-478e-afc0-c0fd39b689bd","name":"body.conversation.timestamp","value":"={{ $json.body.conversation.timestamp }}","type":"number"},{"id":"1bcf11ee-3c81-49f5-845f-be7aaf750762","name":"body.message_type","value":"={{ $json.body.message_type }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,0],"id":"45a0266e-fc31-4072-8d40-7f23254b6773","name":"Edit Fields"},{"parameters":{"promptType":"define","text":"=user_content: {{ $json.body.conversation.messages[0].content }} user_number: {{ $json.body.conversation.meta.sender.phone_number }} user_name: {{ $('Webhook').item.json.body.conversation.messages[0].sender.name }}","options":{"systemMessage":"Eres un agente redactor de correos profesional que inventas historias cortas con la gente que te escribe"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[504,0],"id":"bf64e4e8-6488-41e5-88ff-ff116932b277","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[448,224],"id":"418c7697-fe0c-4822-8b2a-903fb2635d28","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Webhook').item.json.body.conversation.meta.sender.identifier }}"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[576,224],"id":"1e4316c6-ff17-4a80-a7ae-13de0c49f1df","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"RJfYPONKqWUiJzDA","name":"Postgres account"}}},{"parameters":{"sendTo":"pete@leoneses.com","subject":"={{ $fromAI('Subject', ``, 'string') }}","message":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[704,224],"id":"5b385d17-8a71-440c-97e1-ff742d96c02a","name":"Send a message in Gmail","webhookId":"7334942a-562e-404a-bd22-44a7af814f3e","credentials":{"gmailOAuth2":{"id":"1dWL4JO1wT5xRo2y","name":"Gmail account Bestfranquicias"}}},{"parameters":{"resource":"messages-api","instanceName":"lebara","remoteJid":"={{ $('Webhook').item.json.body.conversation.messages[0].sender.phone_number }}","messageText":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[912,0],"id":"9e1bff64-def7-4f4c-b7be-2605ca514d1b","name":"Enviar texto","credentials":{"evolutionApi":{"id":"zWn9XMmZTosHxKZd","name":"Evolution account 2"}}}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Send a message in Gmail":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a0f65415-e9a2-48c5-9b9c-fc76e8bb3f3d","triggerCount":0,"shared":[{"updatedAt":"2025-10-19T21:58:48.482Z","createdAt":"2025-10-19T21:58:48.482Z","role":"workflow:owner","workflowId":"g0479e3ihIc1A9J7","projectId":"prlZ3bTXg0wKi0D1"}],"tags":[]}