whatsapp-oficial-fiqUlaHGw11PTUwP.json
{"updatedAt":"2026-01-15T09:51:21.000Z","createdAt":"2025-10-25T10:28:33.269Z","id":"fiqUlaHGw11PTUwP","name":"whatsapp oficial","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["messages"],"options":{}},"type":"n8n-nodes-base.whatsAppTrigger","typeVersion":1,"position":[-304,0],"id":"e5ad3b88-97e6-4129-8db9-1d824aeb06cb","name":"WhatsApp Trigger","webhookId":"3e9810da-297d-4910-acd5-ca574baf3e20","credentials":{"whatsAppTriggerApi":{"id":"SgwwUp1JPj8kbodC","name":"WhatsApp OAuth account"}}},{"parameters":{"operation":"send","phoneNumberId":"896307336888870","recipientPhoneNumber":"34627408789","textBody":"={{ $json.output }}","additionalFields":{"previewUrl":true}},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[288,0],"id":"1bd90a4c-ab80-4030-9821-558c08f55b25","name":"Send message","webhookId":"ae7d5261-9f18-498f-9c16-2f88362dc0e9","credentials":{"whatsAppApi":{"id":"ScdryByaPLumqNl8","name":"WhatsApp account"}}},{"parameters":{"promptType":"define","text":"={{ $json.messages[0].text.body }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-96,0],"id":"e25f53a8-f9ee-4e10-8d5f-637adf2564de","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-5-nano","mode":"list","cachedResultName":"gpt-5-nano"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-240,208],"id":"90430c4a-4c27-4501-b7b7-386d33a2657c","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"sendTo":"pete@leoneses.com","subject":"Mensaje desde whats","message":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[304,224],"id":"7c200f41-3b44-4523-8f20-3fef4dae1a57","name":"Send a message in Gmail","webhookId":"6fc2e578-9fe3-40c6-a993-c60f31deaef4","credentials":{"gmailOAuth2":{"id":"1dWL4JO1wT5xRo2y","name":"Gmail account Bestfranquicias"}},"disabled":true},{"parameters":{"model":"sonar-pro","messages":{"message":[{"content":"={{ $json.messages[0].text.body }}"}]},"options":{},"requestOptions":{}},"type":"n8n-nodes-base.perplexityTool","typeVersion":1,"position":[112,224],"id":"e0ee1bc0-567a-4139-be3a-660c50bec670","name":"Message a model in Perplexity","credentials":{"perplexityApi":{"id":"6bFl8E0tjGPT1CuQ","name":"Perplexity account"}},"disabled":true},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.contacts[0].wa_id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-96,208],"id":"95833af8-cabf-4c5f-86c2-16a0ea36c55e","name":"Simple Memory"}],"connections":{"WhatsApp Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Send message","type":"main","index":0}]]},"Send a message in Gmail":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Message a model in Perplexity":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a56425e3-60f0-421e-8ed8-6aaae42fc3b7","triggerCount":1,"shared":[{"updatedAt":"2025-10-25T10:28:33.271Z","createdAt":"2025-10-25T10:28:33.271Z","role":"workflow:owner","workflowId":"fiqUlaHGw11PTUwP","projectId":"prlZ3bTXg0wKi0D1"}],"tags":[]}