wordpress-a-redes-simple-yAjBhifGJYl3IvPl.json
{"updatedAt":"2025-10-23T20:41:04.000Z","createdAt":"2025-10-22T19:53:35.527Z","id":"yAjBhifGJYl3IvPl","name":"Wordpress a redes simple","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"getAll","limit":1,"options":{}},"id":"ee9cbf97-8e00-42a2-9405-3153952d2ff5","name":"Obtener Detalles del Post","type":"n8n-nodes-base.wordpress","typeVersion":1,"position":[-1216,-256],"credentials":{"wordpressApi":{"id":"BI2TTlfLD0rG5V16","name":"Wordpress account"}}},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1440,-256],"id":"52a63f46-d8dc-45a2-b78c-bbce7b3a9711","name":"Schedule Trigger"},{"parameters":{"jsCode":"const htmlContent = $input.first().json.content.rendered\n\nconst titles = [];\nconst paragraphs = [];\n\nconst titleMatches = htmlContent.match(/<h[1-6][^>]*>(.*?)<\\/h[1-6]>/g);\nif (titleMatches) {\n    for (let match of titleMatches) {\n        titles.push(match.replace(/<[^>]+>/g, ''));\n    }\n}\n\nconst paragraphMatches = htmlContent.match(/<p[^>]*>(.*?)<\\/p>/g);\nif (paragraphMatches) {\n    for (let match of paragraphMatches) {\n        paragraphs.push(match.replace(/<[^>]+>/g, ''));\n    }\n}\n\nconst content = \"Títulos:\\n\" + titles.join(\"\\n\") + \"\\n\\nPárrafos:\\n\" + paragraphs.join(\" \");\n\nconst maxCharacters = 10000;\nlet finalContent = content;\nif (finalContent.length > maxCharacters) {\n    finalContent = finalContent.slice(0, maxCharacters) + '...';\n}\n\nreturn [{ json: { content: finalContent, postId: $input.first().json.id, postTitle: $input.first().json.title.rendered } }];"},"id":"a5530c63-a075-45cd-9e8c-864d12b6e44f","name":"Conversión HTML","type":"n8n-nodes-base.code","typeVersion":2,"position":[-992,-256]},{"parameters":{"modelId":{"__rl":true,"value":"gpt-5-nano","mode":"list","cachedResultName":"GPT-5-NANO"},"messages":{"values":[{"content":"={{ $json.content }}"},{"content":"Eres un experto en marketing de contenidos para redes sociales de Best House (inmobiliaria y franquicias).\n\nGenera un JSON con posts para 4 plataformas basándote en la noticia proporcionada. Cada post debe seguir estas pautas:\n\n**Estructura común:**\n- Hook inicial impactante (1-3 líneas, la primera debe detener el scroll)\n- Cuerpo conciso (4-5 líneas cortas máximo)\n- Cierre con pregunta o llamado a la acción\n- 5-8 hashtags al final (sin símbolo #, separados por comas)\n\n**Estilo:** Directo, profesional pero cercano, sin emojis, negritas o comillas.\n\n**Formato de salida (JSON):**\n```json\n{\n  \"facebook\": \"texto del post\",\n  \"linkedin\": \"texto del post\",\n  \"twitter\": \"texto del post (máx 280 caracteres, puede ser hilo numerado)\",\n  \"instagram\": \"texto del post\"\n}\n```\n\nSOLO devuelve el JSON, sin explicaciones adicionales.","role":"assistant"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-768,-256],"id":"163e0252-4af8-477e-b3ca-2fb16513ef35","name":"Generar Posts Unificado","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"jsCode":"// Parsear el JSON generado por la IA\nconst aiResponse = $input.first().json.message.content;\nlet posts;\n\ntry {\n  // Intentar extraer JSON si está envuelto en markdown\n  const jsonMatch = aiResponse.match(/```json\\s*([\\s\\S]*?)```/) || aiResponse.match(/```\\s*([\\s\\S]*?)```/);\n  const jsonString = jsonMatch ? jsonMatch[1] : aiResponse;\n  posts = JSON.parse(jsonString.trim());\n} catch (e) {\n  // Si falla, intentar parsear directamente\n  posts = JSON.parse(aiResponse);\n}\n\n// Obtener datos del post original\nconst postId = $('Conversión HTML').first().json.postId;\nconst postTitle = $('Conversión HTML').first().json.postTitle;\n\nreturn [{\n  json: {\n    postId,\n    postTitle,\n    facebookPost: posts.facebook || '',\n    linkedinPost: posts.linkedin || '',\n    twitterPost: posts.twitter || '',\n    instagramPost: posts.instagram || ''\n  }\n}];"},"id":"52fdb208-4511-4e89-9e46-e0d7555bce05","name":"Parsear Posts","type":"n8n-nodes-base.code","typeVersion":2,"position":[-416,-256]},{"parameters":{"modelId":{"__rl":true,"value":"gpt-5-nano","mode":"list","cachedResultName":"GPT-5-NANO"},"messages":{"values":[{"content":"Facebook: {{ $json.facebookPost }}\n\nLinkedIn: {{ $json.linkedinPost }}\n\nTwitter: {{ $json.twitterPost }}\n\nInstagram: {{ $json.instagramPost }}"},{"content":"Resume BREVEMENTE estos posts en 3-5 líneas clave que capturen la esencia. Solo devuelve el resumen sin formato adicional."}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-192,-192],"id":"ba88195d-e63b-43ee-8431-ed80b8b14434","name":"Generar Resumen","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"resource":"image","model":"gpt-image-1","prompt":"Crea una imagen profesional, moderna y atractiva para redes sociales de una inmobiliaria. La imagen debe ser hiperrealista y relacionada con el siguiente contenido:\n\n{{ $json.message.content }}\n\nEstilo: Profesional, limpio, con buena iluminación. Sin texto superpuesto.\n\nCrea cuatro versiones de la misma imagen adaptados en tamaño para integrar en un post de facebook, otra adaptada a un post de linkedIn, otra adaptada a un post de twitter y otra adaptada a un post de instagram.","options":{"size":"1536x1024"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[160,-192],"id":"6f0664a3-05c4-4e11-9a93-9673ea3d6cb7","name":"Generar Imagen","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"name":"={{ $('Parsear Posts').item.json.postId }}_social_media.{{ $json.fileExtension }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive"},"folderId":{"__rl":true,"value":"root","mode":"list","cachedResultName":"/ (Root folder)"},"options":{}},"id":"16aed96b-2337-42b0-8e4e-6b22bddc2756","name":"Subir a Google Drive","type":"n8n-nodes-base.googleDrive","position":[384,-192],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account Bestfranquicias"}}},{"parameters":{},"id":"4610c7d2-523e-4ac2-a6e6-c077d91fdc0c","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":3,"position":[608,-256]},{"parameters":{"jsCode":"// Consolidar todos los datos\nconst postsData = $('Parsear Posts').first().json;\nconst imageUrl = $('Subir a Google Drive').first().json.webViewLink;\n\nreturn [{\n  json: {\n    postId: postsData.postId,\n    postTitle: postsData.postTitle,\n    facebookPost: postsData.facebookPost,\n    facebookImageUrl: imageUrl,\n    linkedinPost: postsData.linkedinPost,\n    linkedinImageUrl: imageUrl,\n    twitterPost: postsData.twitterPost,\n    twitterImageUrl: imageUrl,\n    instagramPost: postsData.instagramPost,\n    instagramImageUrl: imageUrl,\n    fecha: new Date().toISOString()\n  }\n}];"},"id":"f93c443f-076b-4d92-b36f-1431d54ee1d6","name":"Consolidar Datos","type":"n8n-nodes-base.code","typeVersion":2,"position":[832,-256]},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"11J-DkZVH1oACfjXsLfdKp0KjJpklmdovJY9jJSl2y2M","mode":"list","cachedResultName":"wordpress","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11J-DkZVH1oACfjXsLfdKp0KjJpklmdovJY9jJSl2y2M/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1"},"columns":{"mappingMode":"defineBelow","value":{"postTitle":"={{ $json.postTitle }}","postId":"={{ $json.postId }}","facebookPost":"={{ $json.facebookPost }}","facebookImageUrl":"={{ $json.facebookImageUrl }}","linkedinPost":"={{ $json.linkedinPost }}","linkedinImageUrl":"={{ $json.linkedinImageUrl }}","twitterPost":"={{ $json.twitterPost }}","twitterImageUrl":"={{ $json.twitterImageUrl }}","instagramPost":"={{ $json.instagramPost }}","instagramImageUrl":"={{ $json.instagramImageUrl }}","fecha":"={{ $json.fecha }}"},"matchingColumns":["postId"],"schema":[{"id":"postId","displayName":"postId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"postTitle","displayName":"postTitle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"facebookPost","displayName":"facebookPost","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"facebookImageUrl","displayName":"facebookImageUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"linkedinPost","displayName":"linkedinPost","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"linkedinImageUrl","displayName":"linkedinImageUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"twitterPost","displayName":"twitterPost","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"twitterImageUrl","displayName":"twitterImageUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"instagramPost","displayName":"instagramPost","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"instagramImageUrl","displayName":"instagramImageUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"fecha","displayName":"fecha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"c93f8a25-4317-4dcc-890f-40bbc7aa9e52","name":"Guardar en Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1056,-256],"credentials":{"googleSheetsOAuth2Api":{"id":"u3wPsvNe1n4GWzVs","name":"Google Sheets Bestfranquicias"}}},{"parameters":{"operation":"resize","width":1200,"height":630,"options":{}},"id":"692527d4-cd31-4695-a34e-09d3683fb1c9","name":"Redimensionar Facebook","type":"n8n-nodes-base.editImage","typeVersion":1,"position":[384,-2016]},{"parameters":{"operation":"resize","width":1200,"height":627,"options":{}},"id":"b4600435-6389-4d90-b80f-223ae967f519","name":"Redimensionar LinkedIn","type":"n8n-nodes-base.editImage","typeVersion":1,"position":[384,-1824]},{"parameters":{"operation":"resize","width":1200,"height":675,"options":{}},"id":"79406f7d-76bb-4f85-9524-1e0a33680115","name":"Redimensionar Twitter","type":"n8n-nodes-base.editImage","typeVersion":1,"position":[384,-1632]},{"parameters":{"operation":"resize","width":1080,"height":1080,"options":{}},"id":"564fbbd3-b6a1-4622-b7e5-c9fcb9d5b037","name":"Redimensionar Instagram","type":"n8n-nodes-base.editImage","typeVersion":1,"position":[384,-1440]},{"parameters":{"name":"={{ $('Parsear Posts1').item.json.postId }}_facebook.{{ $json.fileExtension }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive"},"folderId":{"__rl":true,"value":"root","mode":"list","cachedResultName":"/ (Root folder)"},"options":{}},"id":"398d74b3-5219-4e5a-b278-e9dcd11f654e","name":"Subir Facebook a Drive","type":"n8n-nodes-base.googleDrive","position":[896,-1232],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account Bestfranquicias"}}},{"parameters":{"name":"={{ $('Parsear Posts1').item.json.postId }}_linkedin.{{ $json.fileExtension }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive"},"folderId":{"__rl":true,"value":"root","mode":"list","cachedResultName":"/ (Root folder)"},"options":{}},"id":"112802e4-90cd-480f-b2d6-314766ad1596","name":"Subir LinkedIn a Drive","type":"n8n-nodes-base.googleDrive","position":[896,-1040],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account Bestfranquicias"}}},{"parameters":{"name":"={{ $('Parsear Posts1').item.json.postId }}_twitter.{{ $json.fileExtension }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive"},"folderId":{"__rl":true,"value":"root","mode":"list","cachedResultName":"/ (Root folder)"},"options":{}},"id":"ef9bdb6d-0f78-4abf-b553-be4b2a8132c3","name":"Subir Twitter a Drive","type":"n8n-nodes-base.googleDrive","position":[896,-848],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account Bestfranquicias"}}},{"parameters":{"name":"={{ $('Parsear Posts1').item.json.postId }}_instagram.{{ $json.fileExtension }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive"},"folderId":{"__rl":true,"value":"root","mode":"list","cachedResultName":"/ (Root folder)"},"options":{}},"id":"7007aa61-a3dd-4475-af62-30bdb7167946","name":"Subir Instagram a Drive","type":"n8n-nodes-base.googleDrive","position":[896,-656],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account Bestfranquicias"}}},{"parameters":{"operation":"getAll","limit":1,"options":{}},"id":"d3ca099e-0da8-4fee-bbeb-dc5318d636e0","name":"Obtener Detalles del Post1","type":"n8n-nodes-base.wordpress","typeVersion":1,"position":[-1872,-944],"credentials":{"wordpressApi":{"id":"BI2TTlfLD0rG5V16","name":"Wordpress account"}}},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2096,-944],"id":"4d38e25b-eb7f-418b-8005-aabbe9f29100","name":"Schedule Trigger1"},{"parameters":{"jsCode":"const htmlContent = $input.first().json.content.rendered\n\nconst titles = [];\nconst paragraphs = [];\n\nconst titleMatches = htmlContent.match(/<h[1-6][^>]*>(.*?)<\\/h[1-6]>/g);\nif (titleMatches) {\n    for (let match of titleMatches) {\n        titles.push(match.replace(/<[^>]+>/g, ''));\n    }\n}\n\nconst paragraphMatches = htmlContent.match(/<p[^>]*>(.*?)<\\/p>/g);\nif (paragraphMatches) {\n    for (let match of paragraphMatches) {\n        paragraphs.push(match.replace(/<[^>]+>/g, ''));\n    }\n}\n\nconst content = \"Títulos:\\n\" + titles.join(\"\\n\") + \"\\n\\nPárrafos:\\n\" + paragraphs.join(\" \");\n\nconst maxCharacters = 10000;\nlet finalContent = content;\nif (finalContent.length > maxCharacters) {\n    finalContent = finalContent.slice(0, maxCharacters) + '...';\n}\n\nreturn [{ json: { content: finalContent, postId: $input.first().json.id, postTitle: $input.first().json.title.rendered } }];"},"id":"9fc30160-3968-4757-9baf-de1a5fcaa23f","name":"Conversión HTML1","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1648,-944]},{"parameters":{"modelId":{"__rl":true,"value":"gpt-5-nano","mode":"list","cachedResultName":"GPT-5-NANO"},"messages":{"values":[{"content":"={{ $json.content }}"},{"content":"Eres un experto en marketing de contenidos para redes sociales de Best House (inmobiliaria y franquicias).\n\nGenera un JSON con posts para 4 plataformas basándote en la noticia proporcionada. Cada post debe seguir estas pautas:\n\n**Estructura común:**\n- Hook inicial impactante (1-3 líneas, la primera debe detener el scroll)\n- Cuerpo conciso (4-5 líneas cortas máximo)\n- Cierre con pregunta o llamado a la acción\n- 5-8 hashtags al final (sin símbolo #, separados por comas)\n\n**Estilo:** Directo, profesional pero cercano, sin emojis, negritas o comillas.\n\n**Formato de salida (JSON):**\n```json\n{\n  \"facebook\": \"texto del post\",\n  \"linkedin\": \"texto del post\",\n  \"twitter\": \"texto del post (máx 280 caracteres, puede ser hilo numerado)\",\n  \"instagram\": \"texto del post\"\n}\n```\n\nSOLO devuelve el JSON, sin explicaciones adicionales.","role":"assistant"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-1424,-944],"id":"5668c6ee-fbb3-4267-986f-dd16d3a664fc","name":"Generar Posts Unificado1","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"jsCode":"// Parsear el JSON generado por la IA\nconst aiResponse = $input.first().json.message.content;\nlet posts;\n\ntry {\n  // Intentar extraer JSON si está envuelto en markdown\n  const jsonMatch = aiResponse.match(/```json\\s*([\\s\\S]*?)```/) || aiResponse.match(/```\\s*([\\s\\S]*?)```/);\n  const jsonString = jsonMatch ? jsonMatch[1] : aiResponse;\n  posts = JSON.parse(jsonString.trim());\n} catch (e) {\n  // Si falla, intentar parsear directamente\n  posts = JSON.parse(aiResponse);\n}\n\n// Obtener datos del post original\nconst postId = $('Conversión HTML1').first().json.postId;\nconst postTitle = $('Conversión HTML1').first().json.postTitle;\n\nreturn [{\n  json: {\n    postId,\n    postTitle,\n    facebookPost: posts.facebook || '',\n    linkedinPost: posts.linkedin || '',\n    twitterPost: posts.twitter || '',\n    instagramPost: posts.instagram || ''\n  }\n}];"},"id":"731eaf17-7c51-4b48-8ff1-07b3f124f87d","name":"Parsear Posts1","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1072,-944]},{"parameters":{"modelId":{"__rl":true,"value":"gpt-5-nano","mode":"list","cachedResultName":"GPT-5-NANO"},"messages":{"values":[{"content":"Facebook: {{ $json.facebookPost }}\n\nLinkedIn: {{ $json.linkedinPost }}\n\nTwitter: {{ $json.twitterPost }}\n\nInstagram: {{ $json.instagramPost }}"},{"content":"Resume BREVEMENTE estos posts en 3-5 líneas clave que capturen la esencia. Solo devuelve el resumen sin formato adicional."}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-864,-944],"id":"4fa49b33-764f-40f5-b7b5-a5f0f4ae6d36","name":"Generar Resumen1","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"resource":"image","model":"gpt-image-1","prompt":"Crea una imagen profesional, moderna y atractiva para redes sociales de una inmobiliaria. La imagen debe ser hiperrealista y relacionada con el siguiente contenido:\n\n{{ $json.message.content }}\n\nEstilo: Profesional, limpio, con buena iluminación. Sin texto superpuesto.","options":{"size":"1536x1024"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-512,-1040],"id":"c7bccc70-c189-4d5f-b00c-18d72063a31b","name":"Generar Imagen1","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"numberInputs":5},"id":"95e38800-34f5-4152-97a4-ec3d4da5ee1d","name":"Merge1","type":"n8n-nodes-base.merge","typeVersion":3,"position":[1152,-992]},{"parameters":{"jsCode":"// Consolidar todos los datos\nconst postsData = $('Parsear Posts1').first().json;\nconst facebookImageUrl = $('Subir Facebook a Drive').first().json.webViewLink;\nconst linkedinImageUrl = $('Subir LinkedIn a Drive').first().json.webViewLink;\nconst twitterImageUrl = $('Subir Twitter a Drive').first().json.webViewLink;\nconst instagramImageUrl = $('Subir Instagram a Drive').first().json.webViewLink;\n\nreturn [{\n  json: {\n    postId: postsData.postId,\n    postTitle: postsData.postTitle,\n    facebookPost: postsData.facebookPost,\n    facebookImageUrl: facebookImageUrl,\n    linkedinPost: postsData.linkedinPost,\n    linkedinImageUrl: linkedinImageUrl,\n    twitterPost: postsData.twitterPost,\n    twitterImageUrl: twitterImageUrl,\n    instagramPost: postsData.instagramPost,\n    instagramImageUrl: instagramImageUrl,\n    fecha: new Date().toISOString()\n  }\n}];"},"id":"8a1c6900-b955-4c84-90f4-1179504b9516","name":"Consolidar Datos1","type":"n8n-nodes-base.code","typeVersion":2,"position":[1360,-944]},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"11J-DkZVH1oACfjXsLfdKp0KjJpklmdovJY9jJSl2y2M","mode":"list","cachedResultName":"wordpress","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11J-DkZVH1oACfjXsLfdKp0KjJpklmdovJY9jJSl2y2M/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1X0R9F6jQ5B4ExnUud9AkPxBR-Pbblh5U5j5ZT0Ga6Y8/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{},"matchingColumns":["Post ID"],"schema":[{"id":"postId","displayName":"postId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"postTitle","displayName":"postTitle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"facebookPost","displayName":"facebookPost","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"facebookImageUrl","displayName":"facebookImageUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"linkedinPost","displayName":"linkedinPost","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"linkedinImageUrl","displayName":"linkedinImageUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"twitterPost","displayName":"twitterPost","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"twitterImageUrl","displayName":"twitterImageUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"instagramPost","displayName":"instagramPost","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"instagramImageUrl","displayName":"instagramImageUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"fecha","displayName":"fecha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"0264a743-5194-44c4-add8-9e3b6f16f6bc","name":"Guardar en Google Sheets1","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1616,-1200],"credentials":{"googleSheetsOAuth2Api":{"id":"u3wPsvNe1n4GWzVs","name":"Google Sheets Bestfranquicias"}}},{"parameters":{},"id":"b231bec7-f681-4561-a6f3-69ba311bc857","name":"Trigger Manual","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1264,-1648]},{"parameters":{"options":{}},"id":"197f0b66-82c2-4dc2-9292-90e049c4a2e1","name":"Definir Prompt","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1072,-1648]},{"parameters":{"resource":"image","model":"gpt-image-1","prompt":"={{ $json.prompt }}","options":{"size":"1792x1024"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-864,-1840],"id":"22df2f47-53b9-407f-bc06-635904a28b9c","name":"Generar Imagen Facebook","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"resource":"image","model":"gpt-image-1","prompt":"={{ $json.prompt }}","options":{"size":"1792x1024"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-864,-1728],"id":"3e5197dd-0e5a-49ba-a86e-0982c707449b","name":"Generar Imagen LinkedIn","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"resource":"image","model":"gpt-image-1","prompt":"={{ $json.prompt }}","options":{"size":"1792x1024"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-864,-1600],"id":"4d0a0713-22a8-47a6-8ffb-c40f414620c2","name":"Generar Imagen Twitter","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"resource":"image","model":"gpt-image-1","prompt":"={{ $json.prompt }}","options":{"size":"1024x1024"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-864,-1488],"id":"4fe3e6c0-6eea-4c02-8337-c2e22f5063bd","name":"Generar Imagen Instagram","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"operation":"resize","width":1200,"height":630,"options":{}},"id":"de284ebd-ca30-4bc7-b383-d51036a50bea","name":"Redimensionar Facebook 1200x630","type":"n8n-nodes-base.editImage","typeVersion":1,"position":[-656,-1840]},{"parameters":{"operation":"resize","width":1200,"height":627,"options":{}},"id":"fac43c46-9aca-4d37-80f8-9dd3a5e8b6f8","name":"Redimensionar LinkedIn 1200x627","type":"n8n-nodes-base.editImage","typeVersion":1,"position":[-656,-1728]},{"parameters":{"operation":"resize","width":1200,"height":675,"options":{}},"id":"da929c3c-9dbf-4db6-b664-5d58dd28e080","name":"Redimensionar Twitter 1200x675","type":"n8n-nodes-base.editImage","typeVersion":1,"position":[-656,-1600]},{"parameters":{"operation":"resize","width":1080,"height":1080,"options":{}},"id":"899b52f4-2817-4229-8e97-a74f723422e4","name":"Redimensionar Instagram 1080x1080","type":"n8n-nodes-base.editImage","typeVersion":1,"position":[-656,-1488]},{"parameters":{"numberInputs":4},"id":"5f44e5fd-0364-43e4-a4c1-a0a45f989072","name":"Consolidar Resultados","type":"n8n-nodes-base.merge","typeVersion":3,"position":[-256,-1664]},{"parameters":{"jsCode":"const items = $input.all();\n\nconst result = {\n  prompt: $('Definir Prompt').first().json.prompt,\n  timestamp: new Date().toISOString(),\n  images: {\n    facebook: {\n      url: items.find(i => i.json.name?.includes('facebook'))?.json.webViewLink || '',\n      size: '1200x630px',\n      platform: 'Facebook'\n    },\n    linkedin: {\n      url: items.find(i => i.json.name?.includes('linkedin'))?.json.webViewLink || '',\n      size: '1200x627px',\n      platform: 'LinkedIn'\n    },\n    twitter: {\n      url: items.find(i => i.json.name?.includes('twitter'))?.json.webViewLink || '',\n      size: '1200x675px',\n      platform: 'Twitter'\n    },\n    instagram: {\n      url: items.find(i => i.json.name?.includes('instagram'))?.json.webViewLink || '',\n      size: '1080x1080px',\n      platform: 'Instagram'\n    }\n  }\n};\n\nreturn [{ json: result }];"},"id":"271560b8-e1e3-4f53-bc6c-bec58b38318c","name":"Formatear Salida","type":"n8n-nodes-base.code","typeVersion":2,"position":[-64,-1664]},{"parameters":{"name":"={{ 'facebook_' + new Date().getTime() }}.png","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive"},"folderId":{"__rl":true,"value":"root","mode":"list","cachedResultName":"/ (Root folder)"},"options":{}},"id":"125986ef-7bf5-4504-8976-3217c4de081e","name":"Subir Facebook a Drive1","type":"n8n-nodes-base.googleDrive","position":[-464,-1840],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account Bestfranquicias"}}},{"parameters":{"name":"={{ 'linkedin_' + new Date().getTime() }}.png","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive"},"folderId":{"__rl":true,"value":"root","mode":"list","cachedResultName":"/ (Root folder)"},"options":{}},"id":"eb5bf47f-1f2b-4a89-bf21-581dabd2779c","name":"Subir LinkedIn a Drive1","type":"n8n-nodes-base.googleDrive","position":[-464,-1728],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account Bestfranquicias"}}},{"parameters":{"name":"={{ 'twitter_' + new Date().getTime() }}.png","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive"},"folderId":{"__rl":true,"value":"root","mode":"list","cachedResultName":"/ (Root folder)"},"options":{}},"id":"e9d2c483-372a-4300-8cec-0e82c7b0e54c","name":"Subir Twitter a Drive1","type":"n8n-nodes-base.googleDrive","position":[-464,-1600],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account Bestfranquicias"}}},{"parameters":{"name":"={{ 'instagram_' + new Date().getTime() }}.png","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive"},"folderId":{"__rl":true,"value":"root","mode":"list","cachedResultName":"/ (Root folder)"},"options":{}},"id":"16c45048-d95a-4bd3-9c4b-68b460bab4b6","name":"Subir Instagram a Drive1","type":"n8n-nodes-base.googleDrive","position":[-464,-1488],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account Bestfranquicias"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"11J-DkZVH1oACfjXsLfdKp0KjJpklmdovJY9jJSl2y2M","mode":"list","cachedResultName":"wordpress","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11J-DkZVH1oACfjXsLfdKp0KjJpklmdovJY9jJSl2y2M/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1"},"columns":{"mappingMode":"defineBelow","value":{"postTitle":"={{ $json.postTitle }}","postId":"={{ $json.postId }}","facebookPost":"={{ $json.facebookPost }}","facebookImageUrl":"={{ $json.facebookImageUrl }}","linkedinPost":"={{ $json.linkedinPost }}","linkedinImageUrl":"={{ $json.linkedinImageUrl }}","twitterPost":"={{ $json.twitterPost }}","twitterImageUrl":"={{ $json.twitterImageUrl }}","instagramPost":"={{ $json.instagramPost }}","instagramImageUrl":"={{ $json.instagramImageUrl }}","fecha":"={{ $json.fecha }}"},"matchingColumns":["postId"],"schema":[{"id":"postId","displayName":"postId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"postTitle","displayName":"postTitle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"facebookPost","displayName":"facebookPost","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"facebookImageUrl","displayName":"facebookImageUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"linkedinPost","displayName":"linkedinPost","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"linkedinImageUrl","displayName":"linkedinImageUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"twitterPost","displayName":"twitterPost","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"twitterImageUrl","displayName":"twitterImageUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"instagramPost","displayName":"instagramPost","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"instagramImageUrl","displayName":"instagramImageUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"fecha","displayName":"fecha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"1fb46064-99bc-4652-bc18-ec41e8269642","name":"Guardar en Google Sheets2","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1600,-944],"credentials":{"googleSheetsOAuth2Api":{"id":"u3wPsvNe1n4GWzVs","name":"Google Sheets Bestfranquicias"}}},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"imageBinaryProperty","value":"data","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"6134b345-dc28-43a2-b89f-e34dffb5d2a2","name":"Workflow Configuration","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-336,-1040]},{"parameters":{"operation":"crop","dataPropertyName":"={{ $('Workflow Configuration').first().json.imageBinaryProperty }}","width":1200,"height":630,"positionX":336,"positionY":406,"options":{}},"id":"986d8958-0424-498d-a92c-8b15b7db9618","name":"Resize for Facebook","type":"n8n-nodes-base.editImage","typeVersion":1,"position":[624,-1232]},{"parameters":{"operation":"crop","dataPropertyName":"={{ $json.imageBinaryProperty }}","width":1200,"height":627,"positionX":336,"positionY":397,"options":{}},"id":"cc872c56-8ea0-4ae6-a127-e19a56a74c14","name":"Resize for LinkedIn","type":"n8n-nodes-base.editImage","typeVersion":1,"position":[624,-1040]},{"parameters":{"operation":"crop","dataPropertyName":"={{ $json.imageBinaryProperty }}","width":1200,"height":675,"positionX":336,"positionY":349,"options":{}},"id":"1289bb86-06d4-41a7-9faf-d9b0cb54e2cc","name":"Resize for Twitter","type":"n8n-nodes-base.editImage","typeVersion":1,"position":[624,-848]},{"parameters":{"operation":"crop","dataPropertyName":"={{ $json.imageBinaryProperty }}","width":1080,"height":1080,"positionX":456,"options":{}},"id":"b5d29535-26e6-4ffd-b641-5a174a9e0c3e","name":"Resize for Instagram","type":"n8n-nodes-base.editImage","typeVersion":1,"position":[624,-656]},{"parameters":{"operation":"resize","dataPropertyName":"={{ $('Workflow Configuration').first().json.imageBinaryProperty }}","width":1200,"height":675,"options":{}},"id":"06cff352-62d9-4747-b521-dc8a60df8b3b","name":"Resize image","type":"n8n-nodes-base.editImage","typeVersion":1,"position":[-80,-1200]},{"parameters":{"jsCode":"const Jimp = require('jimp');\n\nasync function resizeImage(buffer, width, height) {\n  const image = await Jimp.read(buffer);\n  await image.resize(width, height);\n  return await image.getBufferAsync(Jimp.MIME_JPEG);\n}\n\nconst input = items[0].binary.data;\nconst width = parseInt(items[0].json.width);\nconst height = parseInt(items[0].json.height);\n\nconst resizedBuffer = await resizeImage(Buffer.from(input.data, 'base64'), width, height);\n\nreturn [{\n  binary: {\n    data: {\n      data: resizedBuffer.toString('base64'),\n      mimeType: 'image/jpeg'\n    }\n  },\n  json: { message: 'Imagen redimensionada correctamente' }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2576,-752],"id":"b5690fc8-402b-4b92-bf68-6b789e1282c8","name":"Code in JavaScript"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Obtener Detalles del Post","type":"main","index":0}]]},"Obtener Detalles del Post":{"main":[[{"node":"Conversión HTML","type":"main","index":0}]]},"Conversión HTML":{"main":[[{"node":"Generar Posts Unificado","type":"main","index":0}]]},"Generar Posts Unificado":{"main":[[{"node":"Parsear Posts","type":"main","index":0}]]},"Parsear Posts":{"main":[[{"node":"Generar Resumen","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"Generar Resumen":{"main":[[{"node":"Generar Imagen","type":"main","index":0}]]},"Generar Imagen":{"main":[[{"node":"Subir a Google Drive","type":"main","index":0}]]},"Subir a Google Drive":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Consolidar Datos","type":"main","index":0}]]},"Consolidar Datos":{"main":[[{"node":"Guardar en Google Sheets","type":"main","index":0}]]},"Redimensionar Facebook":{"main":[[]]},"Redimensionar LinkedIn":{"main":[[]]},"Redimensionar Twitter":{"main":[[]]},"Redimensionar Instagram":{"main":[[]]},"Subir Facebook a Drive":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Subir LinkedIn a Drive":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Subir Twitter a Drive":{"main":[[{"node":"Merge1","type":"main","index":3}]]},"Subir Instagram a Drive":{"main":[[{"node":"Merge1","type":"main","index":4}]]},"Obtener Detalles del Post1":{"main":[[{"node":"Conversión HTML1","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Obtener Detalles del Post1","type":"main","index":0}]]},"Conversión HTML1":{"main":[[{"node":"Generar Posts Unificado1","type":"main","index":0}]]},"Generar Posts Unificado1":{"main":[[{"node":"Parsear Posts1","type":"main","index":0}]]},"Parsear Posts1":{"main":[[{"node":"Generar Resumen1","type":"main","index":0},{"node":"Merge1","type":"main","index":2}]]},"Generar Resumen1":{"main":[[{"node":"Generar Imagen1","type":"main","index":0}]]},"Generar Imagen1":{"main":[[{"node":"Workflow Configuration","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Consolidar Datos1","type":"main","index":0}]]},"Consolidar Datos1":{"main":[[{"node":"Guardar en Google Sheets2","type":"main","index":0}]]},"Trigger Manual":{"main":[[{"node":"Definir Prompt","type":"main","index":0}]]},"Definir Prompt":{"main":[[{"node":"Generar Imagen Facebook","type":"main","index":0},{"node":"Generar Imagen LinkedIn","type":"main","index":0},{"node":"Generar Imagen Twitter","type":"main","index":0},{"node":"Generar Imagen Instagram","type":"main","index":0}]]},"Generar Imagen Facebook":{"main":[[{"node":"Redimensionar Facebook 1200x630","type":"main","index":0}]]},"Generar Imagen LinkedIn":{"main":[[{"node":"Redimensionar LinkedIn 1200x627","type":"main","index":0}]]},"Generar Imagen Twitter":{"main":[[{"node":"Redimensionar Twitter 1200x675","type":"main","index":0}]]},"Generar Imagen Instagram":{"main":[[{"node":"Redimensionar Instagram 1080x1080","type":"main","index":0}]]},"Redimensionar Facebook 1200x630":{"main":[[{"node":"Subir Facebook a Drive1","type":"main","index":0}]]},"Redimensionar LinkedIn 1200x627":{"main":[[{"node":"Subir LinkedIn a Drive1","type":"main","index":0}]]},"Redimensionar Twitter 1200x675":{"main":[[{"node":"Subir Twitter a Drive1","type":"main","index":0}]]},"Redimensionar Instagram 1080x1080":{"main":[[{"node":"Subir Instagram a Drive1","type":"main","index":0}]]},"Consolidar Resultados":{"main":[[{"node":"Formatear Salida","type":"main","index":0}]]},"Subir Facebook a Drive1":{"main":[[{"node":"Consolidar Resultados","type":"main","index":0}]]},"Subir LinkedIn a Drive1":{"main":[[{"node":"Consolidar Resultados","type":"main","index":1}]]},"Subir Twitter a Drive1":{"main":[[{"node":"Consolidar Resultados","type":"main","index":2}]]},"Subir Instagram a Drive1":{"main":[[{"node":"Consolidar Resultados","type":"main","index":3}]]},"Workflow Configuration":{"main":[[{"node":"Resize for Facebook","type":"main","index":0},{"node":"Resize for LinkedIn","type":"main","index":0},{"node":"Resize for Twitter","type":"main","index":0},{"node":"Resize for Instagram","type":"main","index":0}]]},"Resize for Facebook":{"main":[[{"node":"Subir Facebook a Drive","type":"main","index":0}]]},"Resize for LinkedIn":{"main":[[{"node":"Subir LinkedIn a Drive","type":"main","index":0}]]},"Resize for Twitter":{"main":[[{"node":"Subir Twitter a Drive","type":"main","index":0}]]},"Resize for Instagram":{"main":[[{"node":"Subir Instagram a Drive","type":"main","index":0}]]},"Resize image":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"860f9fc6-5825-42d4-9daa-7277c769454f","triggerCount":0,"shared":[{"updatedAt":"2025-10-22T19:53:35.531Z","createdAt":"2025-10-22T19:53:35.531Z","role":"workflow:owner","workflowId":"yAjBhifGJYl3IvPl","projectId":"prlZ3bTXg0wKi0D1"}],"tags":[]}