wordpress-a-google-sheets---cola-de-publicación-tDOzNO7H5BckzoTn.json
{"updatedAt":"2025-10-18T08:41:41.000Z","createdAt":"2025-10-16T17:26:20.261Z","id":"tDOzNO7H5BckzoTn","name":"WordPress a Google Sheets - Cola de Publicación","active":false,"isArchived":true,"nodes":[{"parameters":{"operation":"getAll","limit":1,"options":{}},"id":"d068bc5b-ca15-40cf-a42c-8fc8e5d379f7","name":"Obtener Detalles del Post","type":"n8n-nodes-base.wordpress","typeVersion":1,"position":[-848,-288],"credentials":{"wordpressApi":{"id":"BI2TTlfLD0rG5V16","name":"Wordpress account"}}},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  $input.first().json.guid.rendered = 1;\n}\n\nreturn $input.all();"},"id":"d9eb9dbe-3af2-4620-8703-8589f825e206","name":"Formatear Contenido","type":"n8n-nodes-base.code","typeVersion":2,"position":[-656,80]},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  $input.first().json.guid.rendered = 1;\n}\n\nreturn $input.all();"},"id":"ae272df5-9803-495e-952d-1331bcb92421","name":"Preparar Filas para Sheets","type":"n8n-nodes-base.code","typeVersion":2,"position":[-432,80]},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"10i2QQUjua7xl4h_ZBw-9HGZjvS_OdYfErzHKdxywegs","mode":"list","cachedResultName":"Linkedin Hoja","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10i2QQUjua7xl4h_ZBw-9HGZjvS_OdYfErzHKdxywegs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10i2QQUjua7xl4h_ZBw-9HGZjvS_OdYfErzHKdxywegs/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[{"id":"URL","displayName":"URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LinkedIn Post","displayName":"LinkedIn Post","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Twitter (X) Post","displayName":"Twitter (X) Post","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Estado","displayName":"Estado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Publicado","displayName":"Publicado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Imagen","displayName":"Imagen","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"count","displayName":"count","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"requestId","displayName":"requestId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"timestamp","displayName":"timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"54c94b99-336d-409b-9e01-10ff87846d73","name":"Guardar en Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.4,"position":[-208,80],"credentials":{"googleSheetsOAuth2Api":{"id":"u3wPsvNe1n4GWzVs","name":"Google Sheets Bestfranquicias"}},"disabled":true},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"={{ $env.GOOGLE_SHEET_ID }}","mode":"id"},"sheetName":{"__rl":true,"value":"Histórico Posts","mode":"name"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"useAppend":true}},"id":"3a379fcd-0e39-4b39-a2c2-7f132229ab92","name":"Registrar en Histórico","type":"n8n-nodes-base.googleSheets","typeVersion":4.4,"position":[-192,336],"credentials":{"googleSheetsOAuth2Api":{"id":"3jsPEgAVKs9WCnTd","name":"Google Sheets The2tor"}}},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1104,-288],"id":"f7ee8609-c97a-4491-add8-d7ddda17ea46","name":"Schedule Trigger"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"={{ $json.content }}"},{"content":"=# Rol del Modelo  \nEres un creador de contenido experto en tecnología y automatización con inteligencia artificial. Trabajas para Víctor Pérez, fundador de vystral.com. Tu tarea es transformar una noticia o transcripción sobre tecnología e inteligencia artificial en un post para LinkedIn, utilizando un estilo directo, profesional y cercano, que refleje el liderazgo y visión innovadora de vystral.com.\n\n# Tarea del Modelo  \nDada una noticia o transcripción, genera un post para LinkedIn siguiendo estas pautas:\n- **Hook inicial:** Comienza con hasta 3 líneas impactantes que capten la atención del lector. La primera línea debe ser especialmente poderosa y decisiva para detener el scroll y generar interés inmediato.\n- **Cuerpo:** Desarrolla el contenido en párrafos o líneas cortas (máximo 4-5) que expliquen el tema con claridad, sin adornos innecesarios.\n- **Cierre:** Finaliza con una pregunta o llamado a la acción que incentive la interacción.\n\n\n# Estilo y Consideraciones  \n- Usa lenguaje claro, directo y sencillo, sin tecnicismos excesivos.  \n- Escribe en un tono profesional pero cercano, que inspire confianza y curiosidad.  \n- Cada párrafo debe ir separado por una línea en blanco.\n- No incluyas el llamado a ver un video ni referencias a comentarios.\n- Evita emojis, negritas, comillas o símbolos innecesarios.\n- No incluyas instrucciones, encabezados o explicaciones adicionales; solo entrega el texto final listo para publicar en LinkedIn.\n\n# Ejemplos de Estilo\n\n## Ejemplo 1\nEl 99% de la gente usa ChatGPT mal. Y lo peor es que ni siquiera lo saben.\n\nDespués de pasar cientos de horas estudiando y probando prompts, descubrí el patrón que hace la diferencia entre una respuesta mediocre y una respuesta perfecta.\n\nLa clave está en una fórmula simple que divide el prompt en 5 partes:\nContexto: Quién eres y tu situación  \nRequisitos: Qué necesitas exactamente  \nTono: Cómo quieres que te responda  \nFormato: En qué estructura lo necesitas  \nEjemplos: Muestras de lo que buscas\n\nTe lo demuestro:\n\"Dame una receta de pasta\" vs.  \n\"Soy un cocinero principiante que quiere aprender cocina italiana. Necesito una receta de carbonara tradicional explicada paso a paso, con lista de ingredientes y tiempos exactos.\"\n\nEl resultado es completamente diferente. La primera respuesta es genérica, la segunda es exactamente lo que necesitas.\n\n¿Quieres aprender a escribir prompts perfectos?\n\nMira el vídeo del primer comentario👇 \n\n## Ejemplo 2\nEl 90% de las empresas no están preparadas para la revolución de IA que viene en los próximos años. La tuya no tiene por qué ser una de ellas.\n\nComo fundador de una agencia de IA y trabajando en la transformación digital de empresas, estoy viendo de primera mano lo que viene: los super-agentes de IA.\n\n¿Qué significa esto?  \nImagina una IA que no solo ejecuta tareas, sino que lidera equipos, toma decisiones estratégicas y gestiona departamentos enteros, operando 24/7 sin descanso.\n\nLas empresas que no se adapten a esta nueva realidad quedarán obsoletas, mientras que las que lo hagan multiplicarán su eficiencia por 10.\n\n¿Quieres descubrir cómo prepararte para esta revolución?\n\nMira el vídeo del primer comentario👇 \n\n# Flujo de Pensamiento  \n1. Identifica la idea central y el dato o concepto más relevante de la noticia.  \n2. Crea un hook inicial de hasta 3 líneas, asegurándote de que la primera línea sea especialmente impactante para detener el scroll y captar la atención.\n3. Desarrolla el contenido en párrafos o líneas cortas, resaltando el valor práctico y la relevancia de la noticia para la audiencia profesional.  \n4. Termina con una pregunta o llamado a la acción que invite a interactuar.  \n5. Añade de 5 a 8 hashtags pertinentes al final, listados sin el símbolo \"#\", separados por comas.\n\n# Restricciones del Output  \n- El output debe ser únicamente el texto final del post, sin etiquetas, instrucciones ni explicaciones adicionales.  \n- Cada párrafo debe estar separado por una línea en blanco.  \n- No se debe incluir ningún llamado a ver un video o referencia a un comentario final.  \n- No se deben incluir emojis, comillas, negritas o símbolos adicionales.\n\nGenera el post siguiendo estas pautas.\n","role":"assistant"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-240,-496],"id":"5e0d81e4-cca5-4c1b-b23f-5530c617e22a","name":"Noticia a LinkedIn Post","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"jsCode":"// Obtener el HTML\nconst htmlContent =  $input.first().json.content.rendered\n\n// Extraer todos los títulos y párrafos usando expresiones regulares\nconst titles = [];\nconst paragraphs = [];\n\n// Extraer todos los títulos (h1, h2, h3, etc.)\nconst titleMatches = htmlContent.match(/<h[1-6][^>]*>(.*?)<\\/h[1-6]>/g);\nif (titleMatches) {\n    for (let match of titleMatches) {\n        titles.push(match.replace(/<[^>]+>/g, '')); // Eliminar etiquetas HTML\n    }\n}\n\n// Extraer todos los párrafos\nconst paragraphMatches = htmlContent.match(/<p[^>]*>(.*?)<\\/p>/g);\nif (paragraphMatches) {\n    for (let match of paragraphMatches) {\n        paragraphs.push(match.replace(/<[^>]+>/g, '')); // Eliminar etiquetas HTML\n    }\n}\n\n// Unir todos los títulos y párrafos en un solo texto\nconst content = \"Títulos:\\n\" + titles.join(\"\\n\") + \"\\n\\nPárrafos:\\n\" + paragraphs.join(\" \");\n\n// Limitar el número de caracteres para OpenAI (opcional)\nconst maxCharacters = 10000;\nlet finalContent = content;\nif (finalContent.length > maxCharacters) {\n    finalContent = finalContent.slice(0, maxCharacters) + '...';\n}\n\n// Retornar solo el contenido procesado y reducido\nreturn [{ json: { content: finalContent } }];\n"},"id":"6ba2940d-99a4-40b9-9c96-04359dad2904","name":"Conversión HTML","type":"n8n-nodes-base.code","typeVersion":2,"position":[-608,-288]},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"={{ $json.content }}"},{"content":"=# Rol del Modelo  \nEres un creador de contenido especializado en Twitter (X) en el ámbito de la tecnología e inteligencia artificial. Trabajas para Víctor Pérez, fundador de vystral.com. Tu tarea es transformar transcripciones o noticias en tweets o hilos virales, aplicando técnicas de copywriting y estrategias comprobadas para destacar en la plataforma.\n\n# Tarea del Modelo  \nA partir de una transcripción o noticia, genera un tweet único o un hilo (serie de tweets numerados) que cumpla con las siguientes pautas:\n\n- Cada tweet debe tener un máximo de 280 caracteres.\n- Si se trata de un hilo, numera cada tweet (por ejemplo, 1/3, 2/3, etc.).\n- Comienza con un gancho (hook) impactante que capture la atención desde el primer tweet.\n- Resume la idea central de forma clara, directa y accionable.\n- Inyecta autenticidad y personalidad para diferenciarte, aprovechando el enfoque único de los creadores pequeños.\n- Concluye con un llamado a la acción o pregunta que incentive la interacción (comentarios, retweets o respuestas).\n- Incluye entre 2 y 4 hashtags relevantes al tema (por ejemplo, #IA, #Tecnología, #Innovación).\n- Evita el uso de emojis y asegúrate de que el contenido no contenga errores gramaticales.\n\n# Proceso de Creación de Tweets Virales\n\n1. **Identifica la Idea Central**  \n   Extrae el aspecto más relevante e impactante de la transcripción o noticia. Piensa en qué puede sorprender o ser útil para la audiencia.\n\n2. **Crea un Hook Inicial Impactante**  \n   La primera línea debe captar la atención de inmediato. Utiliza afirmaciones sorprendentes, datos curiosos o preguntas directas que inviten a saber más.\n\n3. **Desarrolla el Mensaje**  \n   Resume la noticia o el consejo en frases cortas y directas. Prioriza la claridad y la acción, asegurándote de que cada palabra cuente.\n\n4. **Inyecta Autenticidad y Personalidad**  \n   Añade tu toque único. Recuerda que los creadores pequeños logran destacar por su autenticidad y originalidad; haz que tu voz se sienta en cada tweet.\n\n5. **Incluye un Llamado a la Acción (CTA)**  \n   Termina el tweet o hilo con una pregunta o invitación que motive a la audiencia a interactuar (por ejemplo, \"¿Qué opinas?\", \"¿Te animas a probarlo?\").\n\n6. **Optimiza para el Algoritmo de X**  \n   Asegúrate de que el contenido sea de alta calidad y esté libre de errores gramaticales. Recuerda que X premia los tweets con valor, claridad y engagement.\n\n7. **Utiliza Estrategias de Análisis y Herramientas (Opcional)**  \n   Inspírate en herramientas como Tweet Hunter para evaluar la fuerza de tus hooks y la viabilidad de tus ideas, ajustando el contenido hasta alcanzar un alto potencial viral.\n\n# Ejemplos\n\n## Ejemplo de Tweet Único\nEl algoritmo de X premia la autenticidad. Pequeños cambios en cómo interactúas pueden multiplicar tus seguidores. ¿Listo para probarlo? #Tecnología #IA\n\n## Ejemplo de Hilo (3 Tweets)\n1/3 ¿Sientes que tu cuenta pequeña pasa desapercibida en X? La clave está en un hábito que puede cambiarlo todo.  \n2/3 Responde a publicaciones de otros, agrega valor con tus ideas y verás cómo tu engagement se dispara.  \n3/3 ¿Te animas a conectar y crecer en la red? Comparte tu experiencia. #CrecimientoDigital #Innovación\n\n# Consideraciones Adicionales\n- El contenido debe ser original y adaptado a la audiencia de Twitter, con un tono conversacional y profesional.\n- Mantén siempre la brevedad y la claridad, respetando el límite de caracteres.\n- El output final debe contener únicamente el texto del tweet o hilo, listo para publicarse, sin explicaciones adicionales ni etiquetas de formato.\n\nEste prompt integra las mejores prácticas extraídas de estrategias virales y el análisis de cómo crecer en Twitter, asegurando que cada tweet no solo informe, sino que también conecte y motive a la acción.\n","role":"assistant"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-240,-208],"id":"4052259b-5a70-4b31-9335-30f0bf584bb3","name":"Noticia a Twitter Post","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"11J-DkZVH1oACfjXsLfdKp0KjJpklmdovJY9jJSl2y2M","mode":"list","cachedResultName":"wordpress","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11J-DkZVH1oACfjXsLfdKp0KjJpklmdovJY9jJSl2y2M/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ktq0cWo_7Otrz9lrfSZoA_w4Rteddqr7nBkLS8A4Mks/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Obtener Detalles del Post').item.json.id -3877}}","wordpress post":"={{ $('Obtener Detalles del Post').item.json.id }}","linkedIn post":"={{ $json.message.content }}","twitter post":"={{ $('Noticia a Twitter Post').item.json.message.content }}"},"matchingColumns":["row_number"],"schema":[{"id":"wordpress post","displayName":"wordpress post","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"linkedIn post","displayName":"linkedIn post","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"twitter post","displayName":"twitter post","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"imagen linkedIn","displayName":"imagen linkedIn","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"imagen twitter","displayName":"imagen twitter","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"6284c42c-6d30-46f9-bd5d-2daca86ba522","name":"Actualizar Fila LinkedIn1","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2048,-304],"credentials":{"googleSheetsOAuth2Api":{"id":"u3wPsvNe1n4GWzVs","name":"Google Sheets Bestfranquicias"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"11J-DkZVH1oACfjXsLfdKp0KjJpklmdovJY9jJSl2y2M","mode":"list","cachedResultName":"wordpress","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11J-DkZVH1oACfjXsLfdKp0KjJpklmdovJY9jJSl2y2M/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11J-DkZVH1oACfjXsLfdKp0KjJpklmdovJY9jJSl2y2M/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Obtener Detalles del Post').item.json.id -3877}}","wordpress post":"={{ $('Obtener Detalles del Post').item.json.id }}","twitter post":"={{ $json.message.content }}","imagen twitter":"={{ $json.webContentLink }}"},"matchingColumns":["row_number"],"schema":[{"id":"wordpress post","displayName":"wordpress post","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"linkedIn post","displayName":"linkedIn post","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"twitter post","displayName":"twitter post","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"imagen linkedIn","displayName":"imagen linkedIn","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"imagen twitter","displayName":"imagen twitter","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"index","displayName":"index","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"logprobs","displayName":"logprobs","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"finish_reason","displayName":"finish_reason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"95e0085c-d98c-4a1d-85f8-789c00d0dade","name":"Actualizar Fila Twitter (X)1","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1840,64],"credentials":{"googleSheetsOAuth2Api":{"id":"u3wPsvNe1n4GWzVs","name":"Google Sheets Bestfranquicias"}},"disabled":true},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"={{ $json.message.content }}"},{"content":"=# Rol\nEres un asistente experto en resumir contenido de LinkedIn. Tu tarea es transformar un post largo en un resumen breve, resaltando los puntos clave y manteniendo la esencia del mensaje original. Utiliza frases cortas y directas.\n\n## Instrucciones\n\n- Recibe el contenido original del post de LinkedIn.\n- Analiza y extrae los puntos clave.\n- Genera un resumen breve y conciso.\n- **Solo devuelve como output el texto resumido, sin información adicional.**\n\n## Ejemplo\n\n### Post original de LinkedIn:\n\nEl 99% de la gente usa ChatGPT mal. Y lo peor es que ni siquiera lo saben.\n\nDespués de pasar cientos de horas estudiando y probando prompts, descubrí el patrón que hace la diferencia entre una respuesta mediocre y una respuesta perfecta.\n\nLa clave está en una fórmula simple que divide el prompt en 5 partes:\n\n- Contexto: Quién eres y tu situación\n- Requisitos: Qué necesitas exactamente\n- Tono: Cómo quieres que te responda\n- Formato: En qué estructura lo necesitas\n- Ejemplos: Muestras de lo que buscas\n\nTe lo demuestro:\n\n\"Dame una receta de pasta\" vs.\n\"Soy un cocinero principiante que quiere aprender cocina italiana. Necesito una receta de carbonara tradicional explicada paso a paso, con lista de ingredientes y tiempos exactos.\"\n\nEl resultado es completamente diferente. La primera respuesta es genérica, la segunda es exactamente lo que necesitas.\n\nEsta fórmula funciona para TODO: escribir emails, crear contenido, analizar datos, o generar código.\n\n¿Quieres aprender a escribir prompts perfectos? He creado un video explicando cada paso en detalle.\nMira el video completo en el primer comentario.\n\n### Resumen esperado:\n\nEl 99% de la gente usa ChatGPT mal y ni siquiera lo saben.  \nUna simple fórmula mejora las respuestas.  \nDivide prompts en 5 partes: Contexto, requisitos, tono, formato y ejemplos.  \nLos ejemplos definen resultados precisos.  \nEmpieza hoy a escribir mejores prompts.\n","role":"assistant"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[128,-496],"id":"492376f2-7f49-4c47-acf5-c2514343d693","name":"LinkedIn a Resumen Canva1","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"resource":"image","prompt":"={{ $json.message.content }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[608,-576],"id":"b0054d2f-d6ec-4037-b766-c4e5098c4c45","name":"Generate an image","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"inputDataFieldName":"=data","name":"={{ $('Obtener Detalles del Post').item.json.id }}linkedIn.{{ $json.fileExtension }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"root","mode":"list","cachedResultName":"/ (Root folder)","cachedResultUrl":"https://drive.google.com/drive"},"options":{}},"id":"3792a8a5-94ee-4489-b05f-83da8316b51d","name":"Google Drive2","type":"n8n-nodes-base.googleDrive","position":[848,-576],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account Bestfranquicias"}}},{"parameters":{"resource":"image","model":"gpt-image-1","prompt":"={{ $json.message.content }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[400,-208],"id":"22d6d880-172e-4cf4-a87d-81b2d7ee933c","name":"Generate an image3","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"inputDataFieldName":"=data","name":"={{ $('Obtener Detalles del Post').item.json.id }}twitter.{{ $json.fileExtension }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"root","mode":"list","cachedResultName":"/ (Root folder)","cachedResultUrl":"https://drive.google.com/drive"},"options":{}},"id":"41e6b353-18bc-4066-8028-67aab6c0275c","name":"Google Drive3","type":"n8n-nodes-base.googleDrive","position":[624,-208],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account Bestfranquicias"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"11J-DkZVH1oACfjXsLfdKp0KjJpklmdovJY9jJSl2y2M","mode":"list","cachedResultName":"wordpress","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11J-DkZVH1oACfjXsLfdKp0KjJpklmdovJY9jJSl2y2M/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ktq0cWo_7Otrz9lrfSZoA_w4Rteddqr7nBkLS8A4Mks/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Obtener Detalles del Post').item.json.id -3877}}","wordpress post":"={{ $('Obtener Detalles del Post').item.json.id }}","linkedIn post":"={{ $json.message.content }}","imagen linkedIn":"={{ $json.webContentLink }}","twitter post":"={{ $('Noticia a Twitter Post').item.message.content }}"},"matchingColumns":["row_number"],"schema":[{"id":"wordpress post","displayName":"wordpress post","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"linkedIn post","displayName":"linkedIn post","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"twitter post","displayName":"twitter post","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"imagen linkedIn","displayName":"imagen linkedIn","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"imagen twitter","displayName":"imagen twitter","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"index","displayName":"index","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"logprobs","displayName":"logprobs","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"finish_reason","displayName":"finish_reason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"b444f90e-80c9-499c-82bd-4c74107777cc","name":"Actualizar Hoja","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1456,16],"credentials":{"googleSheetsOAuth2Api":{"id":"u3wPsvNe1n4GWzVs","name":"Google Sheets Bestfranquicias"}},"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"ef2027de-d2a3-4c69-a1a6-39d996574cce","name":"linkedInPost","value":"={{ $json.message.content }}","type":"string"},{"id":"8de26855-da8e-4399-b65f-11b430541d51","name":"imagenLinkedIn","value":"={{ $json.webContentLink }}","type":"string"},{"id":"4f7c2e6a-e190-4cce-99f9-f974f872146e","name":"twitterPost","value":"={{ $json.message.content }}","type":"string"},{"id":"6f50947e-713b-4fef-869c-923512b3612c","name":"imagenTwitter","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1600,-448],"id":"2256f40f-e3a2-4333-8787-319af73fa06c","name":"Edit Fields"},{"parameters":{"numberInputs":4},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1296,-336],"id":"1659da42-adfa-4ad0-9764-4952bd32d0c2","name":"Merge"},{"parameters":{"jsCode":"const linkedInPost = $('Noticia a LinkedIn Post1').first().json.message.content;\nconst twitterPost = $('Noticia a Twitter Post1').first().json.message.content;\nconst linkedInImageUrl = $('Google Drive').first().json.webViewLink || '';\nconst twitterImageUrl = $('Google Drive4').first().json.webViewLink || '';\nconst postId = $('Obtener Detalles del Post1').first().json.id;\nconst postTitle = $('Obtener Detalles del Post1').first().json.title.rendered;\n\nreturn [{\n  json: {\n    postId: postId,\n    postTitle: postTitle,\n    linkedInPost: linkedInPost,\n    linkedInImageUrl: linkedInImageUrl,\n    twitterPost: twitterPost,\n    twitterImageUrl: twitterImageUrl,\n    fecha: new Date().toISOString()\n  }\n}];"},"id":"a287ebbf-8966-4da9-b339-70607339e0ba","name":"Consolidar Datos","type":"n8n-nodes-base.code","typeVersion":2,"position":[1216,-1168]},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"11J-DkZVH1oACfjXsLfdKp0KjJpklmdovJY9jJSl2y2M","mode":"list","cachedResultName":"wordpress","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11J-DkZVH1oACfjXsLfdKp0KjJpklmdovJY9jJSl2y2M/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1"},"columns":{"mappingMode":"defineBelow","value":{"postId":"={{ $json.postId }}","postTitle":"={{ $json.postTitle }}","linkedInPost":"={{ $json.linkedInPost }}","linkedInImageUrl":"={{ $json.linkedInImageUrl }}","twitterPost":"={{ $json.twitterPost }}","twitterImageUrl":"={{ $json.twitterImageUrl }}","fecha":"={{ $json.fecha }}"},"matchingColumns":["postId"],"schema":[{"id":"postId","displayName":"Post ID","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"postTitle","displayName":"Título Post","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"linkedInPost","displayName":"LinkedIn Post","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"linkedInImageUrl","displayName":"LinkedIn Imagen URL","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"twitterPost","displayName":"Twitter Post","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"twitterImageUrl","displayName":"Twitter Imagen URL","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"fecha","displayName":"Fecha","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}]},"options":{}},"id":"0242b4c8-0d50-4a75-a29b-f10591ac268a","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1456,-1168],"credentials":{"googleSheetsOAuth2Api":{"id":"u3wPsvNe1n4GWzVs","name":"Google Sheets Bestfranquicias"}}},{"parameters":{"operation":"getAll","limit":1,"options":{}},"id":"bc49b37a-33bf-4354-bae0-0c4a52c08847","name":"Obtener Detalles del Post1","type":"n8n-nodes-base.wordpress","typeVersion":1,"position":[-720,-1056],"credentials":{"wordpressApi":{"id":"BI2TTlfLD0rG5V16","name":"Wordpress account"}}},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-976,-1056],"id":"8e2c31cd-8443-4003-aed2-d28908c247b1","name":"Schedule Trigger1"},{"parameters":{"jsCode":"const htmlContent = $input.first().json.content.rendered\n\nconst titles = [];\nconst paragraphs = [];\n\nconst titleMatches = htmlContent.match(/<h[1-6][^>]*>(.*?)<\\/h[1-6]>/g);\nif (titleMatches) {\n    for (let match of titleMatches) {\n        titles.push(match.replace(/<[^>]+>/g, ''));\n    }\n}\n\nconst paragraphMatches = htmlContent.match(/<p[^>]*>(.*?)<\\/p>/g);\nif (paragraphMatches) {\n    for (let match of paragraphMatches) {\n        paragraphs.push(match.replace(/<[^>]+>/g, ''));\n    }\n}\n\nconst content = \"Títulos:\\n\" + titles.join(\"\\n\") + \"\\n\\nPárrafos:\\n\" + paragraphs.join(\" \");\n\nconst maxCharacters = 10000;\nlet finalContent = content;\nif (finalContent.length > maxCharacters) {\n    finalContent = finalContent.slice(0, maxCharacters) + '...';\n}\n\nreturn [{ json: { content: finalContent, postId: $input.first().json.id } }];"},"id":"b225de18-a241-429a-9667-c03f2c5741ee","name":"Conversión HTML1","type":"n8n-nodes-base.code","typeVersion":2,"position":[-480,-1056]},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"={{ $json.content }}"},{"content":"=# Rol del Modelo...","role":"assistant"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-112,-1264],"id":"082274b7-8558-4dad-9265-5cef82ae4415","name":"Noticia a LinkedIn Post1","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"={{ $json.content }}"},{"content":"=# Rol del Modelo...","role":"assistant"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-112,-976],"id":"75119d3b-be4f-413a-9a4b-a907dc2d0642","name":"Noticia a Twitter Post1","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"={{ $json.message.content }}"},{"content":"=# Rol...","role":"assistant"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[256,-1264],"id":"384ab49f-498a-4040-bc7e-f52da8a41f79","name":"LinkedIn a Resumen Canva","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"resource":"image","prompt":"={{ $json.message.content }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[736,-1344],"id":"f10ba573-0546-4783-9009-051d74df89fb","name":"Generate an image1","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"inputDataFieldName":"=data","name":"={{ $('Obtener Detalles del Post1').item.json.id }}linkedIn.{{ $json.fileExtension }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive"},"folderId":{"__rl":true,"value":"root","mode":"list","cachedResultName":"/ (Root folder)"},"options":{}},"id":"cd1b12b7-2e26-468a-8106-bb3bda1d0782","name":"Google Drive","type":"n8n-nodes-base.googleDrive","position":[976,-1344],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account Bestfranquicias"}}},{"parameters":{"resource":"image","model":"gpt-image-1","prompt":"={{ $json.message.content }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[528,-976],"id":"4f57be5b-ff2c-4498-97a0-148849c84d11","name":"Generate an image4","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"inputDataFieldName":"=data","name":"={{ $('Obtener Detalles del Post1').item.json.id }}twitter.{{ $json.fileExtension }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive"},"folderId":{"__rl":true,"value":"root","mode":"list","cachedResultName":"/ (Root folder)"},"options":{}},"id":"ce88e3ac-d140-42db-9c75-901080ce69f9","name":"Google Drive4","type":"n8n-nodes-base.googleDrive","position":[752,-976],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account Bestfranquicias"}}}],"connections":{"Obtener Detalles del Post":{"main":[[{"node":"Conversión HTML","type":"main","index":0}]]},"Formatear Contenido":{"main":[[{"node":"Preparar Filas para Sheets","type":"main","index":0},{"node":"Registrar en Histórico","type":"main","index":0}]]},"Preparar Filas para Sheets":{"main":[[{"node":"Guardar en Google Sheets","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Obtener Detalles del Post","type":"main","index":0}]]},"Noticia a LinkedIn Post":{"main":[[{"node":"LinkedIn a Resumen Canva1","type":"main","index":0}]]},"Conversión HTML":{"main":[[{"node":"Noticia a Twitter Post","type":"main","index":0},{"node":"Noticia a LinkedIn Post","type":"main","index":0}]]},"Noticia a Twitter Post":{"main":[[{"node":"Generate an image3","type":"main","index":0},{"node":"Merge","type":"main","index":2}]]},"LinkedIn a Resumen Canva1":{"main":[[{"node":"Generate an image","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"Generate an image":{"main":[[{"node":"Google Drive2","type":"main","index":0}]]},"Google Drive2":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Generate an image3":{"main":[[{"node":"Google Drive3","type":"main","index":0}]]},"Google Drive3":{"main":[[{"node":"Merge","type":"main","index":3}]]},"Edit Fields":{"main":[[{"node":"Actualizar Fila LinkedIn1","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Consolidar Datos":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Obtener Detalles del Post1":{"main":[[{"node":"Conversión HTML1","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Obtener Detalles del Post1","type":"main","index":0}]]},"Conversión HTML1":{"main":[[{"node":"Noticia a Twitter Post1","type":"main","index":0},{"node":"Noticia a LinkedIn Post1","type":"main","index":0}]]},"Noticia a LinkedIn Post1":{"main":[[{"node":"LinkedIn a Resumen Canva","type":"main","index":0}]]},"Noticia a Twitter Post1":{"main":[[{"node":"Generate an image4","type":"main","index":0}]]},"LinkedIn a Resumen Canva":{"main":[[{"node":"Generate an image1","type":"main","index":0}]]},"Generate an image1":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Consolidar Datos","type":"main","index":0}]]},"Generate an image4":{"main":[[{"node":"Google Drive4","type":"main","index":0}]]},"Google Drive4":{"main":[[{"node":"Consolidar Datos","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"86ad8d27-bf49-49be-b793-dd847331fa1c","triggerCount":0,"shared":[{"updatedAt":"2025-10-16T17:26:20.263Z","createdAt":"2025-10-16T17:26:20.263Z","role":"workflow:owner","workflowId":"tDOzNO7H5BckzoTn","projectId":"prlZ3bTXg0wKi0D1"}],"tags":[]}