worpress-a-redes-JjnP46tPk4nrJiCw.json
{"updatedAt":"2025-10-21T10:27:36.000Z","createdAt":"2025-10-17T11:22:33.822Z","id":"JjnP46tPk4nrJiCw","name":"Worpress a redes","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"getAll","limit":1,"options":{}},"id":"502f6383-e5a3-4a52-9fbe-616786d45997","name":"Obtener Detalles del Post","type":"n8n-nodes-base.wordpress","typeVersion":1,"position":[-2768,256],"credentials":{"wordpressApi":{"id":"BI2TTlfLD0rG5V16","name":"Wordpress account"}}},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2992,256],"id":"8e6b0cbd-3a2b-4a71-9da0-8c674e32666d","name":"Schedule Trigger"},{"parameters":{"jsCode":"const htmlContent = $input.first().json.content.rendered\n\nconst titles = [];\nconst paragraphs = [];\n\nconst titleMatches = htmlContent.match(/<h[1-6][^>]*>(.*?)<\\/h[1-6]>/g);\nif (titleMatches) {\n    for (let match of titleMatches) {\n        titles.push(match.replace(/<[^>]+>/g, ''));\n    }\n}\n\nconst paragraphMatches = htmlContent.match(/<p[^>]*>(.*?)<\\/p>/g);\nif (paragraphMatches) {\n    for (let match of paragraphMatches) {\n        paragraphs.push(match.replace(/<[^>]+>/g, ''));\n    }\n}\n\nconst content = \"Títulos:\\n\" + titles.join(\"\\n\") + \"\\n\\nPárrafos:\\n\" + paragraphs.join(\" \");\n\nconst maxCharacters = 10000;\nlet finalContent = content;\nif (finalContent.length > maxCharacters) {\n    finalContent = finalContent.slice(0, maxCharacters) + '...';\n}\n\nreturn [{ json: { content: finalContent, postId: $input.first().json.id } }];"},"id":"8cf2d832-0f8f-4582-b0dd-e40f7f65e8a8","name":"Conversión HTML","type":"n8n-nodes-base.code","typeVersion":2,"position":[-2544,256]},{"parameters":{"modelId":{"__rl":true,"value":"gpt-5-nano","mode":"list","cachedResultName":"GPT-5-NANO"},"messages":{"values":[{"content":"={{ $json.content }}"},{"content":"=# Rol del Modelo  \nEres un creador de contenido experto en marketing y automatización con inteligencia artificial. Trabajas para Best House. Tu tarea es transformar una noticia o transcripción sobre inmobiliaria y franquicias inmobiliarias en un post para LinkedIn, utilizando un estilo directo, profesional y cercano, que refleje el liderazgo y visión innovadora de Best House.\n\n# Tarea del Modelo  \nDada una noticia o transcripción, genera un post para LinkedIn siguiendo estas pautas:\n- **Hook inicial:** Comienza con hasta 3 líneas impactantes que capten la atención del lector. La primera línea debe ser especialmente poderosa y decisiva para detener el scroll y generar interés inmediato.\n- **Cuerpo:** Desarrolla el contenido en párrafos o líneas cortas (máximo 4-5) que expliquen el tema con claridad, sin adornos innecesarios.\n- **Cierre:** Finaliza con una pregunta o llamado a la acción que incentive la interacción.\n\n\n# Estilo y Consideraciones  \n- Usa lenguaje claro, directo y sencillo, sin tecnicismos excesivos.  \n- Escribe en un tono profesional pero cercano, que inspire confianza y curiosidad.  \n- Cada párrafo debe ir separado por una línea en blanco.\n- No incluyas el llamado a ver un video ni referencias a comentarios.\n- Evita emojis, negritas, comillas o símbolos innecesarios.\n- No incluyas instrucciones, encabezados o explicaciones adicionales; solo entrega el texto final listo para publicar en LinkedIn.\n\n# Ejemplos de Estilo\n\n## Ejemplo 1\nEl 99% de la gente usa ChatGPT mal. Y lo peor es que ni siquiera lo saben.\n\nDespués de pasar cientos de horas estudiando y probando prompts, descubrí el patrón que hace la diferencia entre una respuesta mediocre y una respuesta perfecta.\n\nLa clave está en una fórmula simple que divide el prompt en 5 partes:\nContexto: Quién eres y tu situación  \nRequisitos: Qué necesitas exactamente  \nTono: Cómo quieres que te responda  \nFormato: En qué estructura lo necesitas  \nEjemplos: Muestras de lo que buscas\n\nTe lo demuestro:\n\"Dame una receta de pasta\" vs.  \n\"Soy un cocinero principiante que quiere aprender cocina italiana. Necesito una receta de carbonara tradicional explicada paso a paso, con lista de ingredientes y tiempos exactos.\"\n\nEl resultado es completamente diferente. La primera respuesta es genérica, la segunda es exactamente lo que necesitas.\n\n¿Quieres aprender a escribir prompts perfectos?\n\nMira el vídeo del primer comentario👇 \n\n## Ejemplo 2\nEl 90% de las empresas no están preparadas para la revolución de IA que viene en los próximos años. La tuya no tiene por qué ser una de ellas.\n\nComo fundador de una agencia de IA y trabajando en la transformación digital de empresas, estoy viendo de primera mano lo que viene: los super-agentes de IA.\n\n¿Qué significa esto?  \nImagina una IA que no solo ejecuta tareas, sino que lidera equipos, toma decisiones estratégicas y gestiona departamentos enteros, operando 24/7 sin descanso.\n\nLas empresas que no se adapten a esta nueva realidad quedarán obsoletas, mientras que las que lo hagan multiplicarán su eficiencia por 10.\n\n¿Quieres descubrir cómo prepararte para esta revolución?\n\n# Flujo de Pensamiento  \n1. Identifica la idea central y el dato o concepto más relevante de la noticia.  \n2. Crea un hook inicial de hasta 3 líneas, asegurándote de que la primera línea sea especialmente impactante para detener el scroll y captar la atención.\n3. Desarrolla el contenido en párrafos o líneas cortas, resaltando el valor práctico y la relevancia de la noticia para la audiencia profesional.  \n4. Termina con una pregunta o llamado a la acción que invite a interactuar.  \n5. Añade de 5 a 8 hashtags pertinentes al final, listados sin el símbolo \"#\", separados por comas.\n\n# Restricciones del Output  \n- El output debe ser únicamente el texto final del post, sin etiquetas, instrucciones ni explicaciones adicionales.  \n- Cada párrafo debe estar separado por una línea en blanco.  \n- No se debe incluir ningún llamado a ver un video o referencia a un comentario final.  \n- No se deben incluir emojis, comillas, negritas o símbolos adicionales.\n\nGenera el post siguiendo estas pautas.","role":"assistant"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-2336,128],"id":"d7c2e7e1-7188-4235-b068-3619599e5a93","name":"Noticia a LinkedIn Post","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-5-nano","mode":"list","cachedResultName":"GPT-5-NANO"},"messages":{"values":[{"content":"={{ $json.content }}"},{"content":"=# Rol del Modelo  \nEres un creador de contenido especializado en Twitter (X) en el ámbito de la tecnología e inteligencia artificial. Trabajas para Víctor Pérez, fundador de vystral.com. Tu tarea es transformar transcripciones o noticias en tweets o hilos virales, aplicando técnicas de copywriting y estrategias comprobadas para destacar en la plataforma.\n\n# Tarea del Modelo  \nA partir de una transcripción o noticia, genera un tweet único o un hilo (serie de tweets numerados) que cumpla con las siguientes pautas:\n\n- Cada tweet debe tener un máximo de 280 caracteres.\n- Si se trata de un hilo, numera cada tweet (por ejemplo, 1/3, 2/3, etc.).\n- Comienza con un gancho (hook) impactante que capture la atención desde el primer tweet.\n- Resume la idea central de forma clara, directa y accionable.\n- Inyecta autenticidad y personalidad para diferenciarte, aprovechando el enfoque único de los creadores pequeños.\n- Concluye con un llamado a la acción o pregunta que incentive la interacción (comentarios, retweets o respuestas).\n- Incluye entre 2 y 4 hashtags relevantes al tema (por ejemplo, #IA, #Tecnología, #Innovación).\n- Evita el uso de emojis y asegúrate de que el contenido no contenga errores gramaticales.\n\n# Proceso de Creación de Tweets Virales\n\n1. **Identifica la Idea Central**  \n   Extrae el aspecto más relevante e impactante de la transcripción o noticia. Piensa en qué puede sorprender o ser útil para la audiencia.\n\n2. **Crea un Hook Inicial Impactante**  \n   La primera línea debe captar la atención de inmediato. Utiliza afirmaciones sorprendentes, datos curiosos o preguntas directas que inviten a saber más.\n\n3. **Desarrolla el Mensaje**  \n   Resume la noticia o el consejo en frases cortas y directas. Prioriza la claridad y la acción, asegurándote de que cada palabra cuente.\n\n4. **Inyecta Autenticidad y Personalidad**  \n   Añade tu toque único. Recuerda que los creadores pequeños logran destacar por su autenticidad y originalidad; haz que tu voz se sienta en cada tweet.\n\n5. **Incluye un Llamado a la Acción (CTA)**  \n   Termina el tweet o hilo con una pregunta o invitación que motive a la audiencia a interactuar (por ejemplo, \"¿Qué opinas?\", \"¿Te animas a probarlo?\").\n\n6. **Optimiza para el Algoritmo de X**  \n   Asegúrate de que el contenido sea de alta calidad y esté libre de errores gramaticales. Recuerda que X premia los tweets con valor, claridad y engagement.\n\n7. **Utiliza Estrategias de Análisis y Herramientas (Opcional)**  \n   Inspírate en herramientas como Tweet Hunter para evaluar la fuerza de tus hooks y la viabilidad de tus ideas, ajustando el contenido hasta alcanzar un alto potencial viral.\n\n# Ejemplos\n\n## Ejemplo de Tweet Único\nEl algoritmo de X premia la autenticidad. Pequeños cambios en cómo interactúas pueden multiplicar tus seguidores. ¿Listo para probarlo? #Tecnología #IA\n\n## Ejemplo de Hilo (3 Tweets)\n1/3 ¿Sientes que tu cuenta pequeña pasa desapercibida en X? La clave está en un hábito que puede cambiarlo todo.  \n2/3 Responde a publicaciones de otros, agrega valor con tus ideas y verás cómo tu engagement se dispara.  \n3/3 ¿Te animas a conectar y crecer en la red? Comparte tu experiencia. #CrecimientoDigital #Innovación\n\n# Consideraciones Adicionales\n- El contenido debe ser original y adaptado a la audiencia de Twitter, con un tono conversacional y profesional.\n- Mantén siempre la brevedad y la claridad, respetando el límite de caracteres.\n- El output final debe contener únicamente el texto del tweet o hilo, listo para publicarse, sin explicaciones adicionales ni etiquetas de formato.\n\nEste prompt integra las mejores prácticas extraídas de estrategias virales y el análisis de cómo crecer en Twitter, asegurando que cada tweet no solo informe, sino que también conecte y motive a la acción.\n","role":"assistant"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-2336,352],"id":"dcedf8f5-6b5f-4536-b399-6544720ce44a","name":"Noticia a Twitter Post","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-5-nano","mode":"list","cachedResultName":"GPT-5-NANO"},"messages":{"values":[{"content":"={{ $json.message.content }}"},{"content":"=# Rol\nEres un asistente experto en resumir contenido de LinkedIn. Tu tarea es transformar un post largo en un resumen breve, resaltando los puntos clave y manteniendo la esencia del mensaje original. Utiliza frases cortas y directas.\n\n## Instrucciones\n\n- Recibe el contenido original del post de LinkedIn.\n- Analiza y extrae los puntos clave.\n- Genera un resumen breve y conciso.\n- **Solo devuelve como output el texto resumido, sin información adicional.**\n\n## Ejemplo\n\n### Post original de LinkedIn:\n\nEl 99% de la gente usa ChatGPT mal. Y lo peor es que ni siquiera lo saben.\n\nDespués de pasar cientos de horas estudiando y probando prompts, descubrí el patrón que hace la diferencia entre una respuesta mediocre y una respuesta perfecta.\n\nLa clave está en una fórmula simple que divide el prompt en 5 partes:\n\n- Contexto: Quién eres y tu situación\n- Requisitos: Qué necesitas exactamente\n- Tono: Cómo quieres que te responda\n- Formato: En qué estructura lo necesitas\n- Ejemplos: Muestras de lo que buscas\n\nTe lo demuestro:\n\n\"Dame una receta de pasta\" vs.\n\"Soy un cocinero principiante que quiere aprender cocina italiana. Necesito una receta de carbonara tradicional explicada paso a paso, con lista de ingredientes y tiempos exactos.\"\n\nEl resultado es completamente diferente. La primera respuesta es genérica, la segunda es exactamente lo que necesitas.\n\nEsta fórmula funciona para TODO: escribir emails, crear contenido, analizar datos, o generar código.\n\n¿Quieres aprender a escribir prompts perfectos? He creado un video explicando cada paso en detalle.\nMira el video completo en el primer comentario.\n\n### Resumen esperado:\n\nEl 99% de la gente usa ChatGPT mal y ni siquiera lo saben.  \nUna simple fórmula mejora las respuestas.  \nDivide prompts en 5 partes: Contexto, requisitos, tono, formato y ejemplos.  \nLos ejemplos definen resultados precisos.  \nEmpieza hoy a escribir mejores prompts.\n","role":"assistant"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-1968,128],"id":"3d9f6d07-4867-49e6-805d-c5626cb1b3f2","name":"LinkedIn a Resumen Canva1","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"resource":"image","model":"gpt-image-1","prompt":"={{ $json.message.content }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-1264,128],"id":"2aa923cc-cfd1-46d8-bfa3-cd969e874b65","name":"Generate an image","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"inputDataFieldName":"=data","name":"={{ $('Obtener Detalles del Post').item.json.id }}linkedIn.{{ $json.fileExtension }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive"},"folderId":{"__rl":true,"value":"root","mode":"list","cachedResultName":"/ (Root folder)"},"options":{}},"id":"35673d61-7e3b-4b9c-985c-82f9eb0cd47e","name":"Google Drive2","type":"n8n-nodes-base.googleDrive","position":[-1040,128],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account Bestfranquicias"}}},{"parameters":{"resource":"image","model":"gpt-image-1","prompt":"={{ $json.message.content }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-1264,352],"id":"7c126f19-f939-4c0d-b90a-a7381fead0f9","name":"Generate an image3","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"inputDataFieldName":"=data","name":"={{ $('Obtener Detalles del Post').item.json.id }}twitter.{{ $json.fileExtension }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive"},"folderId":{"__rl":true,"value":"root","mode":"list","cachedResultName":"/ (Root folder)"},"options":{}},"id":"75a4f825-1f28-4faf-954c-aa939a448b5c","name":"Google Drive3","type":"n8n-nodes-base.googleDrive","position":[-1040,352],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account Bestfranquicias"}}},{"parameters":{"numberInputs":8},"id":"6907fd57-3bed-4a24-bbfb-4039e7c62465","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":3,"position":[-816,160]},{"parameters":{"jsCode":"// Consolidar Datos — versión robusta\n\n// Utilidades seguras de acceso\nconst safe = (fn, def = '') => {\n  try { \n    const v = fn();\n    return (v === undefined || v === null) ? def : v;\n  } catch { \n    return def; \n  }\n};\n\n// IDs y título del post\nconst postId = safe(() => $('Conversión HTML').first().json.postId)\n  || safe(() => $('Obtener Detalles del Post').first().json.id);\n\nconst postTitle = safe(() => $('Obtener Detalles del Post').first().json.title.rendered);\n\n// Textos generados\nconst FacebookPost = safe(() => $('Noticia a Facebook Post').first().json.message.content);\nconst linkedInPost = safe(() => $('Noticia a LinkedIn Post').first().json.message.content);\nconst twitterPost  = safe(() => $('Noticia a Twitter Post').first().json.message.content);\nconst instagramPost  = safe(() => $('Noticia a Instagram Post').first().json.message.content);\n\n// Imágenes subidas a Drive (nombres ya distinguen linkedIn/twitter)\nconst FacebookImageUrl = safe(() => $('Google Drive').first().json.webViewLink);\nconst linkedInImageUrl = safe(() => $('Google Drive2').first().json.webViewLink);\nconst twitterImageUrl  = safe(() => $('Google Drive3').first().json.webViewLink);\nconst instagramImageUrl  = safe(() => $('Google Drive3').first().json.webViewLink);\n\n// Salida única consolidada\nreturn [{\n  json: {\n    postId,\n    postTitle,\n    FacebookPost,\n    FacebookImageUrl,\n    linkedInPost,\n    linkedInImageUrl,\n    twitterPost,\n    twitterImageUrl,\n    instagramPost,\n    instagramImageUrl,\n    fecha: new Date().toISOString()\n  }\n}];"},"id":"08bbe71d-bfef-473c-936c-2017c01a3348","name":"Consolidar Datos","type":"n8n-nodes-base.code","typeVersion":2,"position":[-592,256]},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1X0R9F6jQ5B4ExnUud9AkPxBR-Pbblh5U5j5ZT0Ga6Y8","mode":"list","cachedResultName":"postWordpress","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1X0R9F6jQ5B4ExnUud9AkPxBR-Pbblh5U5j5ZT0Ga6Y8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1"},"columns":{"mappingMode":"defineBelow","value":{"Título Post":"={{ $json.postTitle }}","LinkedIn Post":"={{ $json.linkedInPost }}","LinkedIn Imagen URL":"={{ $json.linkedInImageUrl }}","Twitter Post":"={{ $json.twitterPost }}","Twitter Imagen URL":"={{ $json.twitterImageUrl }}","Fecha":"={{ $json.fecha }}","Post ID":"={{ $json.postId }}","Facebook Post":"={{ $json.FacebookPost }}","Facebook Imagen URL":"={{ $json.FacebookImageUrl }}","Instagram Post":"={{ $json.instagramPost }}","Instagram Imagen URL":"={{ $json.instagramImageUrl }}"},"matchingColumns":["Post ID"],"schema":[{"id":"Post ID","displayName":"Post ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Título Post","displayName":"Título Post","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"LinkedIn Post","displayName":"LinkedIn Post","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"LinkedIn Imagen URL","displayName":"LinkedIn Imagen URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Twitter Post","displayName":"Twitter Post","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Twitter Imagen URL","displayName":"Twitter Imagen URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Facebook Post","displayName":"Facebook Post","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Facebook Imagen URL","displayName":"Facebook Imagen URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Instagram Post","displayName":"Instagram Post","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Instagram Imagen URL","displayName":"Instagram Imagen URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"bcf4e6c2-237a-4e15-b597-d16680468d06","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-368,256],"credentials":{"googleSheetsOAuth2Api":{"id":"u3wPsvNe1n4GWzVs","name":"Google Sheets Bestfranquicias"}}},{"parameters":{"resource":"image","model":"gpt-image-1","prompt":"={{ $json.message.content }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-1264,-96],"id":"395881aa-be10-4dd2-aaca-867552eee592","name":"Generate an image1","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"inputDataFieldName":"=data","name":"={{ $('Obtener Detalles del Post').item.json.id }}facebook.{{ $json.fileExtension }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive"},"folderId":{"__rl":true,"value":"root","mode":"list","cachedResultName":"/ (Root folder)"},"options":{}},"id":"a74afab6-1bd0-4fc5-9fc1-e60ce99587a9","name":"Google Drive","type":"n8n-nodes-base.googleDrive","position":[-1040,-96],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account Bestfranquicias"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-5-nano","mode":"list","cachedResultName":"GPT-5-NANO"},"messages":{"values":[{"content":"={{ $json.content }}"},{"content":"=# Rol del Modelo  \nEres un creador de contenido experto en marketing y automatización con inteligencia artificial. Trabajas para Best House. Tu tarea es transformar una noticia o transcripción sobre inmobiliaria y franquicias inmobiliarias en un post para Facebook, utilizando un estilo directo, profesional y cercano, que refleje el liderazgo y visión innovadora de Best House.\n\n# Tarea del Modelo  \nDada una noticia o transcripción, genera un post para Facebook siguiendo estas pautas:\n- **Hook inicial:** Comienza con hasta 3 líneas impactantes que capten la atención del lector. La primera línea debe ser especialmente poderosa y decisiva para detener el scroll y generar interés inmediato.\n- **Cuerpo:** Desarrolla el contenido en párrafos o líneas cortas (máximo 4-5) que expliquen el tema con claridad, sin adornos innecesarios.\n- **Cierre:** Finaliza con una pregunta o llamado a la acción que incentive la interacción.\n\n\n# Estilo y Consideraciones  \n- Usa lenguaje claro, directo y sencillo, sin tecnicismos excesivos.  \n- Escribe en un tono profesional pero cercano, que inspire confianza y curiosidad.  \n- Cada párrafo debe ir separado por una línea en blanco.\n- No incluyas el llamado a ver un video ni referencias a comentarios.\n- Evita emojis, negritas, comillas o símbolos innecesarios.\n- No incluyas instrucciones, encabezados o explicaciones adicionales; solo entrega el texto final listo para publicar en Facebook.\n\n# Ejemplos de Estilo\n\n## Ejemplo 1\nEl 99% de la gente usa ChatGPT mal. Y lo peor es que ni siquiera lo saben.\n\nDespués de pasar cientos de horas estudiando y probando prompts, descubrí el patrón que hace la diferencia entre una respuesta mediocre y una respuesta perfecta.\n\nLa clave está en una fórmula simple que divide el prompt en 5 partes:\nContexto: Quién eres y tu situación  \nRequisitos: Qué necesitas exactamente  \nTono: Cómo quieres que te responda  \nFormato: En qué estructura lo necesitas  \nEjemplos: Muestras de lo que buscas\n\nTe lo demuestro:\n\"Dame una receta de pasta\" vs.  \n\"Soy un cocinero principiante que quiere aprender cocina italiana. Necesito una receta de carbonara tradicional explicada paso a paso, con lista de ingredientes y tiempos exactos.\"\n\nEl resultado es completamente diferente. La primera respuesta es genérica, la segunda es exactamente lo que necesitas.\n\n## Ejemplo 2\nEl 90% de las empresas no están preparadas para la revolución de IA que viene en los próximos años. La tuya no tiene por qué ser una de ellas.\n\nComo fundador de una agencia de IA y trabajando en la transformación digital de empresas, estoy viendo de primera mano lo que viene: los super-agentes de IA.\n\n¿Qué significa esto?  \nImagina una IA que no solo ejecuta tareas, sino que lidera equipos, toma decisiones estratégicas y gestiona departamentos enteros, operando 24/7 sin descanso.\n\nLas empresas que no se adapten a esta nueva realidad quedarán obsoletas, mientras que las que lo hagan multiplicarán su eficiencia por 10.\n\n¿Quieres descubrir cómo prepararte para esta revolución?\n\n# Flujo de Pensamiento  \n1. Identifica la idea central y el dato o concepto más relevante de la noticia.  \n2. Crea un hook inicial de hasta 3 líneas, asegurándote de que la primera línea sea especialmente impactante para detener el scroll y captar la atención.\n3. Desarrolla el contenido en párrafos o líneas cortas, resaltando el valor práctico y la relevancia de la noticia para la audiencia profesional.  \n4. Termina con una pregunta o llamado a la acción que invite a interactuar.  \n5. Añade de 5 a 8 hashtags pertinentes al final, listados sin el símbolo \"#\", separados por comas.\n\n# Restricciones del Output  \n- El output debe ser únicamente el texto final del post, sin etiquetas, instrucciones ni explicaciones adicionales.  \n- Cada párrafo debe estar separado por una línea en blanco.  \n- No se debe incluir ningún llamado a ver un video o referencia a un comentario final.  \n- No se deben incluir emojis, comillas, negritas o símbolos adicionales.\n\nGenera el post siguiendo estas pautas.","role":"assistant"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-2336,-96],"id":"9aaf3a9a-e045-498f-91a5-22d2a2d29975","name":"Noticia a Facebook Post","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-5-nano","mode":"list","cachedResultName":"GPT-5-NANO"},"messages":{"values":[{"content":"={{ $json.message.content }}"},{"content":"=# Rol\nEres un asistente experto en resumir contenido de Facebook. Tu tarea es transformar un post largo en un resumen breve, resaltando los puntos clave y manteniendo la esencia del mensaje original. Utiliza frases cortas y directas.\n\n## Instrucciones\n\n- Recibe el contenido original del post de Facebook.\n- Analiza y extrae los puntos clave.\n- Genera un resumen breve y conciso.\n- **Solo devuelve como output el texto resumido, sin información adicional.**\n\n## Ejemplo\n\n### Post original de Facebook:\n\nEl 99% de la gente usa ChatGPT mal. Y lo peor es que ni siquiera lo saben.\n\nDespués de pasar cientos de horas estudiando y probando prompts, descubrí el patrón que hace la diferencia entre una respuesta mediocre y una respuesta perfecta.\n\nLa clave está en una fórmula simple que divide el prompt en 5 partes:\n\n- Contexto: Quién eres y tu situación\n- Requisitos: Qué necesitas exactamente\n- Tono: Cómo quieres que te responda\n- Formato: En qué estructura lo necesitas\n- Ejemplos: Muestras de lo que buscas\n\nTe lo demuestro:\n\n\"Dame una receta de pasta\" vs.\n\"Soy un cocinero principiante que quiere aprender cocina italiana. Necesito una receta de carbonara tradicional explicada paso a paso, con lista de ingredientes y tiempos exactos.\"\n\nEl resultado es completamente diferente. La primera respuesta es genérica, la segunda es exactamente lo que necesitas.\n\nEsta fórmula funciona para TODO: escribir emails, crear contenido, analizar datos, o generar código.\n\n### Resumen esperado:\n\nEl 99% de la gente usa ChatGPT mal y ni siquiera lo saben.  \nUna simple fórmula mejora las respuestas.  \nDivide prompts en 5 partes: Contexto, requisitos, tono, formato y ejemplos.  \nLos ejemplos definen resultados precisos.  \nEmpieza hoy a escribir mejores prompts.","role":"assistant"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-1968,-96],"id":"90ba5e88-438d-4500-8218-76029533c003","name":"Facebook a Resumen Canva","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"resource":"image","model":"gpt-image-1","prompt":"={{ $json.message.content }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-1264,592],"id":"5cb914e1-f6be-45ae-86dc-35c8b28f80a3","name":"Generate an image2","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"inputDataFieldName":"=data","name":"={{ $('Obtener Detalles del Post').item.json.id }}instagram.{{ $json.fileExtension }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive"},"folderId":{"__rl":true,"value":"root","mode":"list","cachedResultName":"/ (Root folder)"},"options":{}},"id":"74933a7c-2b56-40d2-a5f9-2f8977938cb1","name":"Google Drive1","type":"n8n-nodes-base.googleDrive","position":[-1040,592],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"i9ySFF086TyukTDr","name":"Google Drive account Bestfranquicias"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-5-nano","mode":"list","cachedResultName":"GPT-5-NANO"},"messages":{"values":[{"content":"={{ $json.content }}"},{"content":"=# Rol del Modelo  \nEres un creador de contenido experto en marketing y automatización con inteligencia artificial. Trabajas para Best House. Tu tarea es transformar una noticia o transcripción sobre inmobiliaria y franquicias inmobiliarias en un post para Instagram, utilizando un estilo directo, profesional y cercano, que refleje el liderazgo y visión innovadora de Best House.\n\n# Tarea del Modelo  \nDada una noticia o transcripción, genera un post para Instagram siguiendo estas pautas:\n- **Hook inicial:** Comienza con hasta 3 líneas impactantes que capten la atención del lector. La primera línea debe ser especialmente poderosa y decisiva para detener el scroll y generar interés inmediato.\n- **Cuerpo:** Desarrolla el contenido en párrafos o líneas cortas (máximo 4-5) que expliquen el tema con claridad, sin adornos innecesarios.\n- **Cierre:** Finaliza con una pregunta o llamado a la acción que incentive la interacción.\n\n\n# Estilo y Consideraciones  \n- Usa lenguaje claro, directo y sencillo, sin tecnicismos excesivos.  \n- Escribe en un tono profesional pero cercano, que inspire confianza y curiosidad.  \n- Cada párrafo debe ir separado por una línea en blanco.\n- No incluyas el llamado a ver un video ni referencias a comentarios.\n- Evita emojis, negritas, comillas o símbolos innecesarios.\n- No incluyas instrucciones, encabezados o explicaciones adicionales; solo entrega el texto final listo para publicar en Instagram.\n\n# Ejemplos de Estilo\n\n## Ejemplo 1\nEl 99% de la gente usa ChatGPT mal. Y lo peor es que ni siquiera lo saben.\n\nDespués de pasar cientos de horas estudiando y probando prompts, descubrí el patrón que hace la diferencia entre una respuesta mediocre y una respuesta perfecta.\n\nLa clave está en una fórmula simple que divide el prompt en 5 partes:\nContexto: Quién eres y tu situación  \nRequisitos: Qué necesitas exactamente  \nTono: Cómo quieres que te responda  \nFormato: En qué estructura lo necesitas  \nEjemplos: Muestras de lo que buscas\n\nTe lo demuestro:\n\"Dame una receta de pasta\" vs.  \n\"Soy un cocinero principiante que quiere aprender cocina italiana. Necesito una receta de carbonara tradicional explicada paso a paso, con lista de ingredientes y tiempos exactos.\"\n\nEl resultado es completamente diferente. La primera respuesta es genérica, la segunda es exactamente lo que necesitas.\n\n## Ejemplo 2\nEl 90% de las empresas no están preparadas para la revolución de IA que viene en los próximos años. La tuya no tiene por qué ser una de ellas.\n\nComo fundador de una agencia de IA y trabajando en la transformación digital de empresas, estoy viendo de primera mano lo que viene: los super-agentes de IA.\n\n¿Qué significa esto?  \nImagina una IA que no solo ejecuta tareas, sino que lidera equipos, toma decisiones estratégicas y gestiona departamentos enteros, operando 24/7 sin descanso.\n\nLas empresas que no se adapten a esta nueva realidad quedarán obsoletas, mientras que las que lo hagan multiplicarán su eficiencia por 10.\n\n¿Quieres descubrir cómo prepararte para esta revolución?\n\n# Flujo de Pensamiento  \n1. Identifica la idea central y el dato o concepto más relevante de la noticia.  \n2. Crea un hook inicial de hasta 3 líneas, asegurándote de que la primera línea sea especialmente impactante para detener el scroll y captar la atención.\n3. Desarrolla el contenido en párrafos o líneas cortas, resaltando el valor práctico y la relevancia de la noticia para la audiencia profesional.  \n4. Termina con una pregunta o llamado a la acción que invite a interactuar.  \n5. Añade de 5 a 8 hashtags pertinentes al final, listados sin el símbolo \"#\", separados por comas.\n\n# Restricciones del Output  \n- El output debe ser únicamente el texto final del post, sin etiquetas, instrucciones ni explicaciones adicionales.  \n- Cada párrafo debe estar separado por una línea en blanco.  \n- No se debe incluir ningún llamado a ver un video o referencia a un comentario final.  \n- No se deben incluir emojis, comillas, negritas o símbolos adicionales.\n\nGenera el post siguiendo estas pautas.","role":"assistant"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-2352,576],"id":"e8d23f8a-60d5-4f5b-8762-572ba8e5e65c","name":"Noticia a Instagram Post","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-5-nano","mode":"list","cachedResultName":"GPT-5-NANO"},"messages":{"values":[{"content":"={{ $json.message.content }}"},{"content":"=# Rol\nEres un asistente experto en resumir contenido de Instagram. Tu tarea es transformar un post largo en un resumen breve, resaltando los puntos clave y manteniendo la esencia del mensaje original. Utiliza frases cortas y directas.\n\n## Instrucciones\n\n- Recibe el contenido original del post de Instagram.\n- Analiza y extrae los puntos clave.\n- Genera un resumen breve y conciso.\n- **Solo devuelve como output el texto resumido, sin información adicional.**\n\n## Ejemplo\n\n### Post original de Instagram:\n\nEl 99% de la gente usa ChatGPT mal. Y lo peor es que ni siquiera lo saben.\n\nDespués de pasar cientos de horas estudiando y probando prompts, descubrí el patrón que hace la diferencia entre una respuesta mediocre y una respuesta perfecta.\n\nLa clave está en una fórmula simple que divide el prompt en 5 partes:\n\n- Contexto: Quién eres y tu situación\n- Requisitos: Qué necesitas exactamente\n- Tono: Cómo quieres que te responda\n- Formato: En qué estructura lo necesitas\n- Ejemplos: Muestras de lo que buscas\n\nTe lo demuestro:\n\n\"Dame una receta de pasta\" vs.\n\"Soy un cocinero principiante que quiere aprender cocina italiana. Necesito una receta de carbonara tradicional explicada paso a paso, con lista de ingredientes y tiempos exactos.\"\n\nEl resultado es completamente diferente. La primera respuesta es genérica, la segunda es exactamente lo que necesitas.\n\nEsta fórmula funciona para TODO: escribir emails, crear contenido, analizar datos, o generar código.\n\n### Resumen esperado:\n\nEl 99% de la gente usa ChatGPT mal y ni siquiera lo saben.  \nUna simple fórmula mejora las respuestas.  \nDivide prompts en 5 partes: Contexto, requisitos, tono, formato y ejemplos.  \nLos ejemplos definen resultados precisos.  \nEmpieza hoy a escribir mejores prompts.","role":"assistant"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-1920,592],"id":"fca7b426-0da7-445a-95c7-3bc7155322f2","name":"Instagram a Resumen Canva1","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-5-nano","mode":"list","cachedResultName":"GPT-5-NANO"},"messages":{"values":[{"content":"=Como experto en marketing e imagen digital a  partir del texto del  {{ $json.message.content }} crea un prompt para generar una imagen que tenga relación con ese contenido. Crea solo un prompt válido para modelos de imagen openAi. Prima la imagen sobre el texto y siempre que sea posible utiliza generaciones hiperrealistas"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-1616,-96],"id":"78b05065-667b-4844-87c0-38dbf75bf915","name":"Message a model","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-5-nano","mode":"list","cachedResultName":"GPT-5-NANO"},"messages":{"values":[{"content":"=Como experto en marketing e imagen digital a  partir del texto del  {{ $json.message.content }} crea un prompt para generar una imagen que tenga relación con ese contenido. Crea solo un prompt válido para modelos de imagen openAi. Prima la imagen sobre el texto y siempre que sea posible utiliza generaciones hiperrealistas"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-1600,592],"id":"d1781591-b963-42be-afb5-c50380c189cc","name":"Message a model1","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-5-nano","mode":"list","cachedResultName":"GPT-5-NANO"},"messages":{"values":[{"content":"=Como experto en marketing e imagen digital a  partir del texto del  {{ $json.message.content }} crea un prompt para generar una imagen que tenga relación con ese contenido. Crea solo un prompt válido para modelos de imagen openAi. Prima la imagen sobre el texto y siempre que sea posible utiliza generaciones hiperrealistas"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-1664,128],"id":"ccc47bd6-eb47-4347-8ae5-2a376eb3f8fe","name":"Message a model2","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-5-nano","mode":"list","cachedResultName":"GPT-5-NANO"},"messages":{"values":[{"content":"=Como experto en marketing e imagen digital a  partir del texto del  {{ $json.message.content }} crea un prompt para generar una imagen que tenga relación con ese contenido. Crea solo un prompt válido para modelos de imagen openAi. Prima la imagen sobre el texto y siempre que sea posible utiliza generaciones hiperrealistas"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-1920,352],"id":"36f95c77-3df3-4b03-bf9a-62b637e6fc2a","name":"Message a model3","credentials":{"openAiApi":{"id":"9vlHLfDBsAvR6wrm","name":"OpenAi account"}}}],"connections":{"Obtener Detalles del Post":{"main":[[{"node":"Conversión HTML","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Obtener Detalles del Post","type":"main","index":0}]]},"Conversión HTML":{"main":[[{"node":"Noticia a Twitter Post","type":"main","index":0},{"node":"Noticia a LinkedIn Post","type":"main","index":0},{"node":"Noticia a Facebook Post","type":"main","index":0},{"node":"Noticia a Instagram Post","type":"main","index":0}]]},"Noticia a LinkedIn Post":{"main":[[{"node":"LinkedIn a Resumen Canva1","type":"main","index":0}]]},"Noticia a Twitter Post":{"main":[[{"node":"Merge","type":"main","index":4},{"node":"Message a model3","type":"main","index":0}]]},"LinkedIn a Resumen Canva1":{"main":[[{"node":"Merge","type":"main","index":2},{"node":"Message a model2","type":"main","index":0}]]},"Generate an image":{"main":[[{"node":"Google Drive2","type":"main","index":0}]]},"Generate an image3":{"main":[[{"node":"Google Drive3","type":"main","index":0}]]},"Google Drive2":{"main":[[{"node":"Merge","type":"main","index":3}]]},"Google Drive3":{"main":[[{"node":"Merge","type":"main","index":5}]]},"Merge":{"main":[[{"node":"Consolidar Datos","type":"main","index":0}]]},"Consolidar Datos":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Generate an image1":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Noticia a Facebook Post":{"main":[[{"node":"Facebook a Resumen Canva","type":"main","index":0}]]},"Facebook a Resumen Canva":{"main":[[{"node":"Merge","type":"main","index":0},{"node":"Message a model","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Generate an image2":{"main":[[{"node":"Google Drive1","type":"main","index":0}]]},"Google Drive1":{"main":[[{"node":"Merge","type":"main","index":7}]]},"Noticia a Instagram Post":{"main":[[{"node":"Instagram a Resumen Canva1","type":"main","index":0}]]},"Instagram a Resumen Canva1":{"main":[[{"node":"Merge","type":"main","index":6},{"node":"Message a model1","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"Generate an image1","type":"main","index":0}]]},"Message a model1":{"main":[[{"node":"Generate an image2","type":"main","index":0}]]},"Message a model2":{"main":[[{"node":"Generate an image","type":"main","index":0}]]},"Message a model3":{"main":[[{"node":"Generate an image3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"205512b3-c1ae-4ebc-a6c1-75f51f55e37f","triggerCount":0,"shared":[{"updatedAt":"2025-10-17T11:22:33.826Z","createdAt":"2025-10-17T11:22:33.826Z","role":"workflow:owner","workflowId":"JjnP46tPk4nrJiCw","projectId":"prlZ3bTXg0wKi0D1"}],"tags":[]}